﻿<div class="col-xl-12 pl-0 pr-0">
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2>Annulus Pressure Status</h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <!-- Annulus Pressure Table -->
                <div class="table-responsive">
                    <form id="form-annulusbody" class="needs-validation" novalidate>
                        <table id="dt_annulus_status" class="table table-bordered table-hover table-striped text-center">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Last Pressure</th>
                                    <th>Last Update Date</th>
                                    <th>MAWOP</th>
                                    <th>Safety Limit (% MAWOP)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="body-annulus">
                                <tr class="no-data">
                                    <td colspan="5" class="text-center">No data available. Add Row to input new data.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneAnnulus">Add Row</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
                <!-- Save Button -->
                <div class="text-right mt-3">
                    <button type="button" class="btn btn-info btn-sm waves-effect waves-themed" id="btnSaveDataAnnulus">
                        <span class="fal fa-save mr-1"></span> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="rowAnnulus-template" type="text/x-handlebars-template">
    <tr class="rowAnnulus" data-idx="{{idx}}">
        <td>
            <input type="hidden" name="annulus[{{idx}}].wip_id">
            <input type="hidden" name="annulus[{{idx}}].id" data-field="annulus[{{idx}}].id">
            <input type="text" class="form-control" name="annulus[{{idx}}].name" placeholder="Name">
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].last_pressure" placeholder="Last Pressure">
        </td>
        <td>
            <input type="date" class="form-control" name="annulus[{{idx}}].last_update_date">
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].ma_wop" placeholder="MAWOP">
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].safety_limit" placeholder="Safety Limit (% MAWOP)">
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-danger btn-sm row-delete">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>

<script id="readAnnulus-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowAnnulus" data-idx="{{idx}}">
        <td>
            <input type="hidden" name="annulus[{{idx}}].wip_id">
            <input type="hidden" name="annulus[{{idx}}].id" data-field="annulus[{{idx}}].id" value="{{id}}">
            <input type="text" class="form-control" name="annulus[{{idx}}].name" placeholder="Name" value="{{name}}" required>
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].last_pressure" placeholder="Last Pressure" value="{{last_pressure}}" required>
        </td>
        <td>
            <input type="date" class="form-control" name="annulus[{{idx}}].last_update_date" value="{{last_update_date}}" required>
            <input type="text" class="form-control" name="annulus[{{idx}}].last_update_date" value="{{last_update_date}}" disabled>
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].ma_wop" placeholder="MAWOP" value="{{ma_wop}}" required>
        </td>
        <td>
            <input type="text" class="form-control" name="annulus[{{idx}}].safety_limit" placeholder="Safety Limit (% MAWOP)" value="{{safety_limit}}" required>
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-danger btn-sm row-delete">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</script>
