﻿<style>
    .invisible-border-input {
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #495057;
        padding: 4px;
        border-radius: 4px;
        outline: none;
    }

        .invisible-border-input:focus,
        .invisible-border-input:not(:placeholder-shown) {
            border: 0.5px solid #dcdcdc;
            box-shadow: none;
        }

    /*    .mb-2 {
        margin-bottom: 8px;
    }*/
</style>

<div class="row">
    <!-- Attachments Section -->
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-attachments" class="panel">
            <div class="panel-hdr">
                <h2>Approv</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                 
                    <!-- Preparations Table -->
                    <form id="approvalForm" class="border rounded p-3">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>WIP - Preparations</th>
                                    <th>WLI - Visa 1 (Eng)</th>
                                    <th>WLI - Visa 2 (Ops)</th>
                                    <th>WLI - Visa Hd. of Asset</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- WIP - Preparations -->
                                    <td>
                                        <input type="text" class="form-control mb-2" id="wip_preparations_name" name="wip_preparations_name" placeholder="Enter Name" required>
                                        <input type="text" class="form-control mb-2" id="wip_preparations_position" name="wip_preparations_position" placeholder="Enter Position" required>
                                        <div class="btn-group mt-2">
                                            <button type="button" class="btn btn-info btnSave mr-2" data-stage="wip_preparations">Save</button>
                                            <button type="button" class="btn btn-success btnSubmit" data-stage="wip_preparations">Submit</button>
                                        </div>
                                    </td>

                                    <!-- WLI - Visa 1 -->
                                    <td>
                                        <input type="text" class="form-control mb-2" id="wli_visa1_name" name="wli_visa1_name" placeholder="Enter Name" required>
                                        <input type="text" class="form-control mb-2" id="wli_visa1_position" name="wli_visa1_position" placeholder="Enter Position" required>
                                        <div class="btn-group mt-2">
                                            <button type="button" class="btn btn-info btnSave mr-2" id="wli_visa1_save" data-stage="wli_visa1">Save</button>
                                            <button type="button" class="btn btn-success btnSubmit" id="wli_visa1_submit" data-stage="wli_visa1">Submit</button>
                                        </div>
                                    </td>

                                    <!-- WLI - Visa 2 -->
                                    <td>
                                        <input type="text" class="form-control mb-2" id="wli_visa2_name" name="wli_visa2_name" placeholder="Enter Name" required>
                                        <input type="text" class="form-control mb-2" id="wli_visa2_position" name="wli_visa2_position" placeholder="Enter Position" required>
                                        <div class="btn-group mt-2">
                                            <button type="button" class="btn btn-info btnSave mr-2" data-stage="wli_visa2">Save</button>
                                            <button type="button" class="btn btn-success btnSubmit" data-stage="wli_visa2">Submit</button>
                                        </div>
                                    </td>

                                    <!-- WLI - Hd. of Asset -->
                                    <td>
                                        <input type="text" class="form-control mb-2" id="wli_hd_name" name="wli_hd_name" placeholder="Enter Name" required>
                                        <input type="text" class="form-control mb-2" id="wli_hd_position" name="wli_hd_position" placeholder="Enter Position" required>
                                        <div class="btn-group mt-2">
                                            <button type="button" class="btn btn-info btnSave mr-2" data-stage="wli_hd">Save</button>
                                            <button type="button" class="btn btn-success btnSubmit" data-stage="wli_hd">Submit</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>


                    <!-- Show Approval History -->
                    <div class="text-right mt-2">
                        <a href="javascript:void(0);" class="text-info" onclick="toggleApprovalHistory()">Show Approval History</a>
                    </div>

                    <!-- Approval Comments Section (Initially Hidden) -->
                    <div id="approval-comments" class="mt-4 border rounded p-3" style="display: none;">
                        <div class="mb-3">
                            <label class="font-weight-bold text-success">Approval Comments:</label>
                        </div>
                        <p><strong>WPT Comment :: WPT Engineer's Comments:</strong></p>
                        <div class="border rounded p-2 mb-3">
                            <div class="mb-2">
                                <span class="font-weight-bold text-primary">Muhamad Farras SAILENDRA</span>
                                <span class="text-muted float-right">02-Dec-2022 08:56</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Objective:</label>
                                <ol class="mb-2">
                                    <li>Check tubing clear, tag TOS, and liquid level</li>
                                    <li>PBMS SI/F</li>
                                    <li>Handover to NPU PRD to POP the well</li>
                                </ol>
                                <label class="font-weight-bold">PBMS Flowing guideline (w/o TBRG):</label>
                                <ul class="mb-2">
                                    <li>POP well at 12/64" at LP mode</li>
                                    <li>Ramp up step: 2/64" per 30 mins. Target: choke 18/64".</li>
                                    <li>Stabilize for 1 hour prior running PBMS</li>
                                    <li>Send data to SDP/SDA 1 res eng</li>
                                </ul>
                                <label class="font-weight-bold">Direct POP (handover to NPU/PRD/WEL):</label>
                                <ul>
                                    <li>Monitor WHSIP</li>
                                    <li>POP at 12/64" at LP mode</li>
                                    <li>Ramp up 2/64" per 15 mins until 2 MM or WHFP floating (whichever achieved first)</li>
                                    <li>If WHFP already floating, then smooth ramp up till full choke opening 137/64</li>
                                    <li>Please record Qg Nuflo and other Well head parameter after complete ramp up</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Remove Row Function
    function removeRow(button) {
        $(button).closest('tr').remove();
    }




    // Function to toggle the Approval Comments section
    function toggleApprovalHistory() {
        const approvalSection = document.getElementById('approval-comments');
        if (approvalSection.style.display === 'none' || approvalSection.style.display === '') {
            approvalSection.style.display = 'block';
        } else {
            approvalSection.style.display = 'none';
        }
    }

    // Add row function
  

    // Remove row function
    function removeRow(button) {
        const row = button.closest("tr");
        row.remove();
        updateRowNumbers();
    }

    // Update row numbers dynamically after row removal
    function updateRowNumbers() {
        const rows = document.querySelectorAll("#dt_Attachments tbody tr");
        rows.forEach((row, index) => {
            row.children[0].innerText = index + 1;
        });
    }
</script>
