﻿@{
    ViewBag.Title = "Well Intervention Program";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @ViewBag.Title;
    ViewData["PageName"] = "/core/wip";

}

<link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .note-modal .modal-header,
    .note-modal .modal-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .note-modal .modal-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

        .note-modal .modal-body .form-group {
            margin-bottom: 0.5rem !important;
        }

    .note-modal .modal-footer .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700"><a href="@Url.Content("/core/WIP")">@ViewBag.Title</a></li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<!--Start page content-->

<div class="modal fade default-example-modal-right-md modal-remote" id="newWIPModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title</h2>
                <button class="btn btn-warning mr-3" id="btn-gomoc">Management Of Change</button>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div id="WIP" class="tab-pane fade show active" role="tabpanel">
                        <div class="text-right">
                            <button id="btn-saveGeneralInfo" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px; margin-bottom: 10px;">Save</button>
                        </div>
                        <form id="form-wip" class="needs-validation" novalidate>
                            <input type="hidden" id="recordId" data-field="recordId" value="@ViewBag.recordId" />
                            <input type="hidden" id="id" name="id" data-field="id" />
                            <input type="hidden" id="wir_id" name="wir_id" data-field="wir_id" value="@ViewBag.recordId" />
                            <div class="form-group row mb-2">
                                <div class="col-md-4">
                                    <label for="wip_no" class="control-label">WIP No.</label>
                                    <input type="text" class="form-control" id="wip_no" name="wip_no" placeholder="WIP No." required>
                                </div>
                                <div class="col-md-4">
                                    <label for="wir_originator" class="control-label">WIR Originator</label>
                                    <input type="text" class="form-control" id="wir_originator" name="wir_originator" placeholder="WIR Originator" required>
                                </div>
                                <div class="col-md-4">
                                    <label for="issues_date" class="control-label">Date of Issues</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date-picker" id="date_of_issues" name="date_of_issues" data-field="date_of_issues" data-text="date_of_issues"   data-format="MM/dd/yyyy" placeholder="-">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fal fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-4">
                                    <label for="field" class="control-label">Field</label><span class="text-danger"> *</span>
                                    <input type="text" class="form-control" id="field" name="field" placeholder="Field Name" required readonly />
                                    @*<input type="hidden" class="form-control-sm" id="field_id" name="field_id" data-field="field_id" data-text="field_id" placeholder="" required>*@
                                </div>
                                <div class="col-md-4">
                                    <label for="well_name" class="control-label">Well Name</label>
                                    <div class="input-group" style="width: 350px;">
                                        <input type="text" class="form-control" id="well_name" name="well_name" placeholder="Well Name" required readonly/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="well_color" class="control-label">Well Color</label>
                                    <select class="form-control" id="well_color" name="well_color" required>
                                        <option value="Green" data-bg="lightgreen" style="background-color: lightgreen;">Green</option>
                                        <option value="Yellow" data-bg="yellow" style="background-color: yellow;">Yellow</option>
                                        <option value="Red" data-bg="red" style="background-color: red;">Red</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="main_job" class="control-label">Main Job</label>
                                    <input type="text" class="form-control" id="main_job" name="main_job" placeholder="Main Job" required>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="priority" class="control-label">Priority</label>
                                    <select class="form-control" id="priority" name="priority" required>
                                        <option value="Urgent">Urgent</option>
                                        <option value="High">High</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Low">Low</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="request_status" class="control-label">Request Status</label>
                                    <input type="text" class="form-control" id="request_status" name="request_status" placeholder="Request Status" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
   @Html.Partial("~/Areas/Core/Views/WIP/Annulus.cshtml")
</div>

<form id="formObjective" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-xl-12 pl-0 pr-0">
            <div id="panel-objective" class="panel">
                <div class="panel-hdr">
                    <h2>Objective</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-group">
                            <input type="hidden" id="id_objective" name="id"/>
                            <textarea id="objective" name="objective" class="form-control summernote"></textarea>
                        </div>

                        <!-- Save Button -->
                        <div class="text-right mt-3">
                            <button type="button" id="btnsave-objective" class="btn btn-info btn-sm waves-effect waves-themed">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form id="formIntroduction" class="needs-validation" novalidate>
    <div class="row">
        <div class="col-xl-12 pl-0 pr-0">
            <div id="panel-objective" class="panel">
                <div class="panel-hdr">
                    <h2>Introduction</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="form-group">
                            <input type="hidden" id="id_introduction" name="id" />
                            <textarea id="introduction" name="introduction" class="form-control summernote"></textarea>
                        </div>

                        <!-- Save Button -->
                        <div class="text-right mt-3">
                            <button type="button" id="btnsave-introduction" class="btn btn-info btn-sm waves-effect waves-themed">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="panel-content">
    @Html.Partial("~/Areas/Core/Views/Wir/Workload.cshtml")
</div>

<div class="panel-content">
    @Html.Partial("~/Areas/Core/Views/WIP/Program.cshtml")
</div>

<div class="row">
    <!-- Well Information Section -->
    <div class="col-md-6 pl-0 pr-1 d-flex align-items-stretch">
        <div id="well-information" class="panel w-100">
            <div class="panel-hdr">
                <h2>Well Information</h2>
            </div>
            <div class="panel-container show">
                <form id="formwellinfo" class="needs-validation" novalidate>
                    <input type="hidden" id="id_well_information" name="id" />
                    <input type="hidden" id="wip_id" name="wip_id" data-field="id" value="@ViewBag.recordId" />
                    <div class="panel-content">
                        <!-- Well Details Section -->
                        <div class="mb-3">
                            <!-- Well Information Fields -->
                            <div class="form-group row mb-2">
                                <label class="col-md-6 col-form-label" for="max_depth_of_operation">Maximum depth of operation</label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="max_depth_of_operation" name="max_depth_of_operation" placeholder="Enter the value" required>
                                    </div>
                                </div>
                                <label class="col-form-label">meter</label>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-6 col-form-label" for="max_deviation">Maximum deviation</label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="max_deviation" name="max_deviation" placeholder="Enter the value" required>
                                    </div>
                                </div>
                                <label class="col-form-label">deg</label>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-6 col-form-label" for="max_bht">Maximum BHT</label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="max_bht" name="max_bht" placeholder="Enter the value" required>
                                    </div>
                                </div>
                                <label class="col-form-label">deg F</label>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-6 col-form-label" for="well_status">Well status</label>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <select class="form-control" id="well_status" name="well_status" required>
                                            <option value="New Well">New Well</option>
                                            <option value="Processing">Processing</option>
                                            <option value="Producing">Producing</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Production Status Table -->
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr style="background-color: #f2f2f2;">
                                        <th style="width: 33%;">Production Status</th>
                                        <th style="width: 33%;">Gas (MMscf / Day)</th>
                                        <th style="width: 33%;">Oil (Bbls / Day)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Current Production</td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="current_production_gas" placeholder="Enter the value" name="current_production_gas">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="current_production_oil" name="current_production_oil" placeholder="Enter the value">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Expected Gain</td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="expected_gain_gas" name="expected_gain_gas" placeholder="Enter the value">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="expected_gain_oil" name="expected_gain_oil" placeholder="Enter the value">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Expected Production</td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="expected_production_gas" name="expected_production_gas" placeholder="Enter the value">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control text-center" id="expected_production_oil" name="expected_production_oil" placeholder="Enter the value">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="text-right mr-3 mb-3">
                    <button type="button" id="btn-savewellinfo" class="btn btn-info btn-sm waves-effect waves-themed">
                        <span class="fas fa-save mr-1"></span> Save
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cost & Duration Section -->
    <div class="col-md-6 pl-1 pr-0 d-flex align-items-stretch">
        <div id="cost-duration" class="panel w-100">
            <div class="panel-hdr">
                <h2>Cost & Duration Time Estimation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- Cost Section -->
                    <div class="mb-3">
                        <!-- WIP Estimated Cost -->
                        <div class="row mb-2 align-items-center">
                            <label class="col-md-4 font-weight-bold" for="wip_cost_sum">WIP Estimated Cost:</label>
                            <div class="col-md-5">
                                <input type="number" disabled id="wip_cost_sum" class="form-control text-center" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" disabled class="form-control text-center" value="USD" />
                            </div>
                        </div>

                        <!-- WIP Estimated Duration -->
                        <div class="row mb-2 align-items-center">
                            <label class="col-md-4 font-weight-bold" for="wip_duration">WIP Estimated Duration:</label>
                            <div class="col-md-5">
                                <input type="text" disabled id="wip_duration" class="form-control text-center" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" disabled class="form-control text-center" value="Hours" />
                            </div>
                        </div>

                        <!-- WIR Estimated Cost -->
                        <div class="row mb-2 align-items-center">
                            <label class="col-md-4 font-weight-bold" for="wir_cost">WIR Estimated Cost:</label>
                            <div class="col-md-5">
                                <input type="number" disabled id="wir_cost" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" disabled class="form-control text-center" value="USD" />
                            </div>
                        </div>

                        <!-- WIR Estimated Duration -->
                        <div class="row mb-2 align-items-center">
                            <label class="col-md-4 font-weight-bold" for="wir_duration">WIR Estimated Duration:</label>
                            <div class="col-md-5">
                                <input type="text" disabled id="wir_duration" class="form-control" />
                            </div>
                            <div class="col-md-3">
                                <input type="text" disabled class="form-control text-center" value="Hours" />
                            </div>
                        </div>
                    </div>




                    <!-- Divider -->
                    <hr />

                    <!-- Job Information Section -->
                    <div>
                        <h5 class="font-weight-bold">Job Information</h5>
                        <div class="form-group row mb-2">
                            <label class="col-md-9 col-form-label">Did the service company was involved in the engineering/job design?</label>
                            <div class="col-md-3">
                                <select class="form-control" name="service_involved" id="service_involved">
                                    <option value="Yes">Yes</option>
                                    <option value="No" selected>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-md-9 col-form-label">Was the engineering input valuable?</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="engineering_input" id="engineering_input" placeholder="">
                            </div>
                        </div>
                    </div>

                    <!-- Save Button -->
                    <div class="text-right mt-3">
                        <button type="button" class="btn btn-info btn-sm waves-effect waves-themed">
                            <span class="fal fa-save mr-1"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div class="panel-content">
            <div id="panel-attachments" class="panel">
                <div class="panel-hdr">
                    <h2>Attachments</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="text-right">
                            <button id="btn-saveGeneralWIR" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px;margin-bottom:30px;">
                            <i class="fas fa-save"></i> Save
                            </button>
                        </div>
                        <div class="mb-3">
                            <table id="dt_Attachments" class="table table-bordered table-hover table-striped w-100">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th style="width: 20%;">Attachment Type</th>
                                        <th style="width: 30%;">File Name</th>
                                        <th style="width: 30%;">Description</th>
                                        <th style="width: 15%;">Size</th>
                                        <th style="width: 10%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Rows will be dynamically added here -->
                                </tbody>
                            </table>
                            <div class="text-left mt-2">
                                <button type="button" class="btn btn-info btn-sm waves-effect waves-themed" id="addFileAttach">
                                    Add Row
                                </button>
                            </div>
                        </div>

                        <!-- WLI Supervisor Comments -->
                        <div class="mb-3">
                            <form id="formwli-comments" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-xl-12 pl-0 pr-0">
                                        <div id="panel-objective" class="panel">
                                            <div class="panel-hdr">
                                                <h2>WLI Comments</h2>
                                            </div>
                                            <div class="panel-container show">
                                                <div class="panel-content">
                                                    <div class="form-group">
                                                        <input type="hidden" id="id_wli_comments" name="id" />
                                                        <textarea id="wli_comments" name="wli_comments" class="form-control summernote"></textarea>
                                                    </div>

                                                    <!-- Save Button -->
                                                    <div class="text-right mt-3">
                                                        <button type="button" id="btnsave-wli_comments" class="btn btn-info btn-sm waves-effect waves-themed">
                                                            <span class="fal fa-save mr-1"></span> Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-content">
    @Html.Partial("~/Areas/Core/Views/WIP/Attachment.cshtml")
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Areas/Core/Scripts/wip.index.js?_@DateTime.Now"></script>

    <script>
        function removeRow(button) {
            $(button).closest('tr').remove();
        }
    </script>
}
