﻿<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-program-detail" class="panel">
            <div class="panel-hdr">
                <h2>Program Detail</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content" id="program-steps-container">
                    <!-- Initial Step -->
                    <div class="program-step mb-4" id="step-1">
                        <div class="mb-3">
                            <h5><strong>Step 1</strong></h5>
                        </div>
                        <form id="form-programDetail" class="needs-validation" novalidate>
                            <!-- Workload Dropdown -->
                            <div class="form-group row mb-3">
                                <label for="workload" class="col-auto col-form-label">Workload :</label>
                                <input type="hidden" id="wirids" name="wirids" value="@ViewBag.recordId"/>
                                <div class="col-md-8">
                                    <select class="form-control" id="workload_id_lookups" name="workload_id" data-field="workload_id_lookups" data-text="workload_id_lookups" required></select>
                                </div>
                                <div class="col-auto">
                                    <button type="button" id="remove-step" class="btn btn-danger btn-sm remove-step-btn">
                                        <span class="fal fa-trash"></span> Remove
                                    </button>
                                </div>
                            </div>

                            <!-- Table Section -->
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">String</th>
                                            <th style="width: 20%;">Optional</th>
                                            <th style="width: 20%;">Estimated Duration (Hour)</th>
                                            <th style="width: 25%;">Estimated Cost (USD)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" class="form-control" name="strings" id="strings"></td>
                                            <td><input type="text" class="form-control" name="optional" id="optional"></td>
                                            <td><input type="number" class="form-control" name="estimated_hour" id="estimated_hour"></td>
                                            <td><input type="number" class="form-control" name="estimated_cost" id="estimated_cost"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Summernote Section -->
                            <div class="mt-4">
                                <textarea id="program_detail" name="comment_program" class="form-control summernote"></textarea>
                            </div>
                        </form>
                        <!-- Action Buttons -->
                        <div class="row mt-4">
                            <div class="col-md-6 text-left">
                                <button type="button" class="btn btn-info btn-sm waves-effect waves-themed add-new-step-btn">
                                    <span class="fal fa-plus mr-1"></span> Add New Steps
                                </button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" id="btn-saveProgram" class="btn btn-info btn-sm waves-effect waves-themed save-step-btn">
                                    <span class="fal fa-save mr-1"></span> Save
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End Initial Step -->
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        let stepCount = 1;



        var id_wir = $('#wirids').val();
        let well_data = '';
        function getWellData() {
            // Pastikan ID well tidak kosong
            if (!recordId) {
                alert('Well ID is required');
                return;
            }

            // Kirim request GET untuk mengambil data well
            $.ajax({
                url: $.helper.resolveApi('~/core/wir/' + id_wir + '/detail'),
                type: 'GET',
                success: function (response) {
                    console.log('well_id', response.data.well_id);
                    well_data = response.data.well_id;
                    $("#workload_id_lookups").cmSelect2({
                        url: $.helper.resolveApi('~/core/WIRWorkload/lookupByWell?wellId=' + well_data),
                        result: {
                            id: 'id',
                            text: 'job_title'
                        },
                        filters: function (params) {
                            return [{
                                field: "job_title",
                                operator: "contains",
                                value: params.term || '',
                            }];
                        },
                        options: {
                            placeholder: "Select a Workload",
                            allowClear: true,
                            maximumSelectionLength: 2
                        }
                    });

                    let selectedUnit = {};
                    $("#workload_id_lookups").on('select2:select', function (e) {
                        selectedUnit = {
                            id: e.params.data.id,
                        };
                    });
                   
                },
                error: function (xhr, status, error) {
                    console.log(status)
                    alert('An error occurred while fetching data: ' + error);
                }
            });
        }
        getWellData();
        // Initialize Summernote
        function initializeSummernote(selector) {
            $(selector).summernote({
                placeholder: 'Enter details here...',
                tabsize: 2,
                height: 200,
            });
        }
        console.log('ke satu', well_data);

        // Add New Step
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('add-new-step-btn')) {
                stepCount++;
                const newStep = `
                       <div class="program-step mb-4" id="step-${stepCount}">
                    <div class="mb-3">
                        <h5><strong>Step ${stepCount}</strong></h5>
                    </div>
                    <form id="form-programDetail-${stepCount}" class="needs-validation" novalidate>
                        <!-- Workload Dropdown -->
                        <div class="form-group row mb-3">
                            <label for="workload-${stepCount}" class="col-auto col-form-label">Workload :</label>
                            <div class="col-md-8">
                                <select id="workload_id_lookup" name="workload_id" class="form-control workload-lookup" required>
                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-danger btn-sm remove-step-btn">
                                    <span class="fal fa-trash"></span> Remove
                                </button>
                            </div>
                        </div>

                        <!-- Table Section -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped text-center">
                                <thead>
                                    <tr>
                                        <th style="width: 15%;">String</th>
                                        <th style="width: 20%;">Optional</th>
                                        <th style="width: 20%;">Estimated Duration (Hour)</th>
                                        <th style="width: 25%;">Estimated Cost (USD)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="text" class="form-control" name="strings" id="strings-${stepCount}" required></td>
                                        <td><input type="text" class="form-control" name="optional" id="optional-${stepCount}" required></td>
                                        <td><input type="number" class="form-control" name="estimated_hour" id="estimated_hour-${stepCount}" required></td>
                                        <td><input type="number" class="form-control" name="estimated_cost" id="estimated_cost-${stepCount}" required></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- Summernote Section -->
                        <div class="mt-4">
                            <textarea id="program_detail_${stepCount}" name="comment_program" class="form-control summernote"></textarea>
                        </div>
                    </form>

                    <!-- Action Buttons -->
                    <div class="row mt-4">
                        <div class="col-md-6 text-left">
                            <button type="button" class="btn btn-info btn-sm waves-effect waves-themed add-new-step-btn">
                                <span class="fal fa-plus mr-1"></span> Add New Step
                            </button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" id="btn-saveProgram-${stepCount}" class="btn btn-info btn-sm waves-effect waves-themed save-step-btn">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </div>
                </div>`;
                document.getElementById('program-steps-container').insertAdjacentHTML('beforeend', newStep);
                initializeSummernote(`#program_detail_${stepCount}`);
                console.log('ke dua', well_data);
                $("#workload_id_lookup").cmSelect2({
                    url: $.helper.resolveApi('~/core/WIRWorkload/lookupByWell?wellId=' + well_data),
                    result: {
                        id: 'id',
                        text:'job_title'
                    },
                    filters: function (params) {
                        return [{
                            field: "job_title",
                            operator: "contains",
                            value: params.term || '',
                        }];
                    },
                    options: {
                        placeholder: "Select a Workload",
                        allowClear: true,
                        maximumSelectionLength: 2
                    }
                });

                let selectedUnit = {};
                $("#workload_id_lookup").on('select2:select', function (e) {
                    selectedUnit = {
                        id: e.params.data.id,
                    };
                });
            }
        });

        /* Remove Step
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('remove-step-btn')) {
                deleteStep(e.target);
            }
        });

        var deleteStep = function (target) {
            if (confirm('Are you sure you want to delete this step?')) {
                //target.closest('.program-step').remove();
                alert('aaaaaaaaaa');
            }
        };
        */
        // Initialize first Summernote
        initializeSummernote('#program_detail');



    });
</script>
