﻿.report-body .drill-header {
    /*position: absolute;*/
    /*top: -101px;
    left: 0;*/
    /*display: block;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 77px;
    height: 92px;
    background: url(/Content/img/dreamwell/report/drill-header.png) no-repeat;
}
