﻿<div class="table-mud">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-bordered" id="tblBitRecord">
                <thead>
                    <tr>
                        <th class="fs-13">Run No</th>
                        <th class="fs-13">BHA No</th>
                        <th class="fs-13">Size</th>
                        <th class="fs-13">Manufacture</th>
                        <th class="fs-13">Bit Type</th>
                        <th class="fs-13">IADC</th>
                        <th class="fs-13">Serial No</th>
                        <th class="fs-13">Nozzels</th>
                        <th class="fs-13">Depth In</th>
                        <th class="fs-13">Depth Out</th>
                        <th class="fs-13">Δ</th>
                        <th class="fs-13">OBT</th>
                        <th class="fs-13">ROP Min</th>
                        <th class="fs-13">ROP Max</th>
                        <th class="fs-13">WOB Min</th>
                        <th class="fs-13">WOB Max</th>
                        <th class="fs-13">RPM Min</th>
                        <th class="fs-13">RPM Max</th>
                        <th class="fs-13">SPP Min</th>
                        <th class="fs-13">SPP Max</th>
                        <th class="fs-13">GPM Min</th>
                        <th class="fs-13">GPM Max</th>
                        <th class="fs-13">Mud Type</th>
                        <th class="fs-13">MW Min</th>
                        <th class="fs-13">MW Max</th>
                        <th class="fs-13">PV Min</th>
                        <th class="fs-13">PV Max</th>
                        <th class="fs-13">YP Min</th>
                        <th class="fs-13">YP Max</th>
                        <th class="fs-13">Aerated D. Min</th>
                        <th class="fs-13">Aerated D. Max</th>
                        <th class="fs-13">Dull Grade</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
<script id="bitRecord-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <td class="fs-13">{{bit_run}}</td>
        <td class="fs-13">{{bha_no}}</td>
        <td class="fs-13">{{bit_size}}</td>
        <td class="fs-13">{{manufacturer}}</td>
        <td class="fs-13">{{bit_type}}</td>
        <td class="fs-13">{{iadc_code}}</td>
        <td class="fs-13">{{serial_number}}</td>
        <td class="fs-13">{{noozle_1}}</td>
        <td class="fs-13">{{depth_in}}</td>
        <td class="fs-13">{{depth_out}}</td>
        <td class="fs-13">{{depth_out}}</td>
        <td class="fs-13">{{TFA}}</td>
        <td class="fs-13">{{mudlogging_avg_rop_min}}</td>
        <td class="fs-13">{{mudlogging_avg_rop_max}}</td>
        <td class="fs-13">{{mudlogging_wob_min}}</td>
        <td class="fs-13">{{mudlogging_wob_max}}</td>
        <td class="fs-13">{{mudlogging_rpm_min}}</td>
        <td class="fs-13">{{mudlogging_rpm_max}}</td>
        <td class="fs-13">{{mudlogging_spp_min}}</td>
        <td class="fs-13">{{mudlogging_spp_max}}</td>
        <td class="fs-13">{{mudlogging_flowrate_min}}</td>
        <td class="fs-13">{{mudlogging_flowrate_max}}</td>
        <td class="fs-13">{{mud_type}}</td>
        <td class="fs-13">{{mw_in}}</td>
        <td class="fs-13">{{mw_out}}</td>
        <td class="fs-13">{{visc}}</td>
        <td class="fs-13">{{pv}}</td>
        <td class="fs-13">{{yp}}</td>
        <td class="fs-13"></td>
        <td class="fs-13">{{mudlogging_spmpress_min}}</td>
        <td class="fs-13">{{mudlogging_spmpress_max}}</td>
        <td class="fs-13"></td>
    </tr>
    {{/each}}
</script>
<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();

        function getSetupBhaBit(recordId) {
            $.ajax({
                url: urlAPI + "/core/WellBit/getWellBitId/" + recordId,
                method: "GET",
                success: function (response) {
                    var dataBit = []
                    for (var i = 0; i < response.data.length; i++) {
                        var dataSetup = response.data[i]
                            var dataSetBit = {
                                bit_size: dataSetup.bit_size,
                                manufacturer: dataSetup.manufacturer,
                                bit_type: dataSetup.bit_type,
                                iadc_code: dataSetup.iadc_code,
                                serial_number: dataSetup.serial_number,
                                nozzle_1: dataSetup.noozle_1,
                                depth_in: dataSetup.depth_in,
                                depth_out: dataSetup.depth_out,
                                segtiga: dataSetup.depth_out - dataSetup.depth_in,
                                TFA: dataSetup.tfa,
                                dull_grade: dataSetup.dull_grade
                            };
                            dataBit.push(dataSetBit);
                    }
                    //console.log("ini data huhuhuh",dataBit)
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    callback(null); // Memanggil callback dengan nilai null jika terjadi kesalahan
                }
            });
        }

        function GetBitRecord() {
            $.ajax({
                url: urlAPI + "/core/DrillingBhaBit/getDetailMud/" + wellId,
                method: "GET",
                success: function (response) {
                    console.log("Data Bit Record:", response.data.length);
                    var dataAll = [];
                    // Iterasi setiap bit data
                    for (var i = 0; i < response.data.length; i++) {
                        var bitData = response.data[i];
                        var bitRecord = {
                            bit_number: bitData.bit_number,
                            bit_run: bitData.bit_run,
                            bha_no: bitData.bha_no,
                            mudlogging_avg_rop_min: bitData.mudlogging_avg_rop_min,
                            mudlogging_avg_rop_max: bitData.mudlogging_avg_rop_max,
                            mudlogging_wob_min: bitData.mudlogging_wob_min,
                            mudlogging_wob_max: bitData.mudlogging_wob_max,
                            mudlogging_rpm_min: bitData.mudlogging_rpm_min,
                            mudlogging_rpm_max: bitData.mudlogging_rpm_max,
                            mudlogging_spp_min: bitData.mudlogging_spp_min,
                            mudlogging_spp_max: bitData.mudlogging_spp_max,
                            mudlogging_flowrate_min: bitData.mudlogging_flowrate_min,
                            mudlogging_flowrate_max: bitData.mudlogging_flowrate_max,
                            mudlogging_spmpress_min: bitData.mudlogging_spmpress_min,
                            mudlogging_spmpress_max: bitData.mudlogging_spmpress_max,
                        };
                        getSetupBhaBit(bitData.well_bit_id)
                        dataAll.push(bitRecord);
                    }
                    console.log("Data Bit Record :", dataAll);

                    var templateScript = $("#bitRecord-template").html();
                    var template = Handlebars.compile(templateScript);
                    $("#tblBitRecord > tbody").append(template({ data: dataAll }));
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        }

        GetBitRecord();
    });
</script>
