﻿<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />
<style>
    .tree-icon {
        display: none;
    }

    .text-danger {
        color: red !important;
    }

    td [field=afe_unit_price] > div,
    td [field=afe_actual_price] > div,
    td [field=new_purchase_total_price] > div,
    td [field=issued_stock_total_price] > div,
    td [field=actual_total_price] > div {
        text-align: right !important;
    }
</style>

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
}

<div class="row">
    <div class="col-md-12">
        <div id="panel-2" class="panel" style="margin-bottom: 5px !important;">
            <div class="panel-hdr"></div>
            <div class="panel-container">
                <div class="panel-content">
                    <form id="header-afe">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">OPERATOR</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="unit_name" data-text="unit_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">CONTRACT AREA</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="country_name" data-text="country_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">CONTRACT AREA NO.</label></td>
                                                <td>
                                                    <div style="display: flex;">
                                                        <input type="text" readonly class="form-control-plaintext pt-0 pb-0 mr-1" value="-" data-field="unit_name" data-text="unit_name" />
                                                        <input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="field_name" data-text="field_name" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">PROJECT TYPE</label></td>
                                                <td><label class="pt-2" id="well_status" data-name="well_status" data-objecttype="label">-</label></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">WELL NAME</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="well_name" data-text="well_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">WELL TYPE</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="well_type" data-text="well_type" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">FIELD STRUCTURE</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="field_name" data-text="field_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">BASIN</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="" data-text="" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">AFE NUMBER</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="afe_no" data-text="afe_no" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content pt-0">
                    <div class="row clearfix">
                        <div class="col-md-12 p-0">
                            <div id="panel-1" class="">
                                <div class="panel-hdr">
                                    <h2>AFE <span class="fw-300"></span></h2>
                                    <div class="panel-toolbar">
                                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                    </div>
                                </div>
                                <div class="panel-container clearfix">
                                    <div class="panel-content page-loading-content pt-0 pb-0">
                                        <table id="dt_afePlan" class="table table-striped table-bordered" style="width: 100%; max-height: 800px;">
                                            <thead>
                                                <tr>
                                                    <th><span class="fw-700">Materials & Services</span></th>
                                                    <th><span class="fw-700">Action</span></th>
                                                    <th><span class="fw-700">UOM</span></th>
                                                    <th><span class="fw-700">QTY</span></th>
                                                    <th><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <th><span class="fw-700">QTY</span></th>
                                                    <th><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <th><span class="fw-700">QTY</span></th>
                                                    <th><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <th><span class="fw-700">QTY</span></th>
                                                    <th><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                </tr>
                                            </thead>
                                            <tbody id="afePlanTableBody">
                                                <!-- Data rows will be inserted here -->
                                            </tbody>
                                        </table>
                                        <script id="manageBudget-template" type="text/x-handlebars-template">
                                            {{#each data}}
                                            <tr>
                                                <td>{{description}}</td>
                                                <td>{{action}}</td>
                                                <td>{{uom_code}}</td>
                                                <td>{{afe_unit}}</td>
                                                <td>{{afe_actual_price}}</td>
                                                <td>{{new_purchase_total_unit}}</td>
                                                <td>{{new_purchase_total_price}}</td>
                                                <td>{{issued_stock_total_unit}}</td>
                                                <td>{{issued_stock_total_price}}</td>
                                                <td>{{actual_total_unit}}</td>
                                                <td>{{actual_total_price}}</td>
                                            </tr>
                                            {{/each}}
                                        </script>
                                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha384-dzyupbI5ULkaeg4hBWhkXonQFoXGJvULMzDu6qStcgOkh+6BDdNN9NGGfhmY4ODA" crossorigin="anonymous"></script>
                                        <script>
                                            $(document).ready(function () {
                                                var wellId = $("input[name=well_id]").val();
                                                var $recordId = $('#recordId');

                                                // Fungsi untuk memuat detail dan mengisi form
                                                async function loadDetail() {
                                                    if ($recordId.val() !== '') {
                                                        try {
                                                            const response = await $.ajax({
                                                                url: urlAPI + '/core/afe/' + wellId + '/detail',
                                                                method: 'GET'
                                                            });
                                                            if (response.status.success) {
                                                                console.log("Data:", response.data);
                                                                $.each(response.data, function (key, value) {
                                                                    $('[data-field="' + key + '"]').val(value);
                                                                });
                                                            }
                                                            $('.loading-detail').hide();
                                                        } catch (error) {
                                                            console.error("Failed to load detail:", error);
                                                        }
                                                    }
                                                }

                                                // Fungsi untuk memuat data tabel
                                                async function loadDataTableAfe() {
                                                    try {
                                                        const data = await $.ajax({
                                                            url: urlAPI + "/core/AfePlan/" + wellId + "/GetBS20ManageDetail",
                                                            method: 'GET'
                                                        });
                                                        renderTableData(data);
                                                    } catch (error) {
                                                        console.error("Failed to load data:", error);
                                                    }
                                                }

                                                // Fungsi untuk merender data tabel menggunakan Handlebars
                                                function renderTableData(data) {
                                                    var template = Handlebars.compile($("#manageBudget-template").html());
                                                    var html = template({ data: data });
                                                    $("#afePlanTableBody").html(html);
                                                }

                                                // Inisialisasi pemuatan data
                                                loadDetail();
                                                loadDataTableAfe();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
