﻿
@{
    ViewBag.Title = "Final Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/utc/Report";
}

<link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .note-modal .modal-header,
    .note-modal .modal-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .note-modal .modal-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

        .note-modal .modal-body .form-group {
            margin-bottom: 0.5rem !important;
        }

    .note-modal .modal-footer .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
</style>
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/home")">Dashboard</a></li>
                            @*<li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/pep/singlewell?id=")@ViewBag.recordId">Dashboard</a></li>*@
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {
}

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <input type="hidden" id="recordId" value="@ViewBag.recordId" />
    <div class="col-xl-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-hdr">
                <h2>Details</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <form id="welldetails">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label pt-2 fw-500">Well Name</label>
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control-plaintext form-control-sm numeric-money" data-text="well_name" data-field="well_name" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="imagee"></div>
    <div class="col-xl-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-hdr">
                <h2>BAB III (Pembahasan Sumur)</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="summary-bab-iii"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>BAB IV (Evaluasi Sumur)</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="summary-bab-iv"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Checklist the box to appear on Final Well Report</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">

                    <div class="col-lg-11">
                        <div class="frame-wrap pl-0" id="">
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input checkAll" id="welltype1" name="welltype[]" value="0">
                                <label class="custom-control-label" for="welltype1" style="cursor: pointer;">All</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype2" name="welltype[]" value="1">
                                <label class="custom-control-label" for="welltype2" style="cursor: pointer;">Cover</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype3" name="welltype[]" value="2">
                                <label class="custom-control-label" for="welltype3" style="cursor: pointer;">Daftar Isi</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype4" name="welltype[]" value="3">
                                <label class="custom-control-label" for="welltype4" style="cursor: pointer;">General Well Data</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype5" name="welltype[]" value="4">
                                <label class="custom-control-label" for="welltype5" style="cursor: pointer;">Well Profile Plan</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype6" name="welltype[]" value="5">
                                <label class="custom-control-label" for="welltype6" style="cursor: pointer;">Well Profile Actual</label>
                            </div>
                            @*
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
            <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype7" name="welltype[]" value="6">
            <label class="custom-control-label" for="welltype7" style="cursor: pointer;">Final Well Schematic Plan</label>
        </div>

                            *@

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype8" name="welltype[]" value="6">
                                <label class="custom-control-label" for="welltype8" style="cursor: pointer;">Final Well Schematic Actual</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype9" name="welltype[]" value="8">
                                <label class="custom-control-label" for="welltype9" style="cursor: pointer;">Geological Summary</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype10" name="welltype[]" value="9">
                                <label class="custom-control-label" for="welltype10" style="cursor: pointer;">Drilling Cost Report (Closed Out)</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype11" name="welltype[]" value="10">
                                <label class="custom-control-label" for="welltype11" style="cursor: pointer;">Drilling Cost Report (Monitoring budget) </label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype12" name="welltype[]" value="11">
                                <label class="custom-control-label" for="welltype12" style="cursor: pointer;">Time and Cost Distribution</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype13" name="welltype[]" value="12">
                                <label class="custom-control-label" for="welltype13" style="cursor: pointer;">Time and NPT Breakdown</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype14" name="welltype[]" value="13">
                                <label class="custom-control-label" for="welltype14" style="cursor: pointer;">Laporan Penerimaan Solar</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype15" name="welltype[]" value="14">
                                <label class="custom-control-label" for="welltype15" style="cursor: pointer;">Material Recap Section (Bit Size)</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype16" name="welltype[]" value="15">
                                <label class="custom-control-label" for="welltype16" style="cursor: pointer;">Mud data Section Bit Size</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype17" name="welltype[]" value="16">
                                <label class="custom-control-label" for="welltype17" style="cursor: pointer;">Survey Program</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype18" name="welltype[]" value="17">
                                <label class="custom-control-label" for="welltype18" style="cursor: pointer;">Survey Actual</label>
                            </div>

                            <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                <input type="checkbox" class="custom-control-input wellcheckbox" id="welltype19" name="welltype[]" value="18">
                                <label class="custom-control-label" for="welltype19" style="cursor: pointer;">Bit Record</label>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Drag & Drop to Re-Order The Attachment and Type The Title of Attachment</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-11">
                                <h5>Lampiran A Daily Drilling Report / Attachment A Daily Drilling Report</h5>
                                <div class="panel-toolbar">
                                    <div class="form-group row mt-0 mb-0 pt-1" id="exportTypeA">
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-form-label fw-500" for="lampiranA">Browse File<span class="text-danger"> *</span></label>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <input type="file" id="lampiranA" class="form-control-file">
                                            <div class="p-2">
                                                <input type="text" id="isiLampiranA" name="isiLampiranA" data-field="isiLampiranA" placeholder="Isi Lampiran A" disabled />
                                                <input type="hidden" id="lampiran_a" class="form-control-file" name="lampiran_a">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <br />
                                <h5>Lampiran B Daily Cost Report / Attachment B Daily Cost Report</h5>
                                <div class="panel-toolbar">
                                    <div class="form-group row mt-0 mb-0 pt-1" id="exportTypeB">
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-form-label fw-500" for="lampiranB">Browse File<span class="text-danger"> *</span></label>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <input type="file" id="lampiranB" class="form-control-file">
                                            <div class="p-2">
                                                <input type="text" id="isiLampiranB" name="isiLampiranB" data-field="isiLampiranB" placeholder="Isi Lampiran B" disabled />
                                                <input type="hidden" id="lampiran_b" class="form-control-file" name="lampiran_b">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <br />
                                <h5>Lampiran C</h5>
                                <div class="panel-toolbar">
                                    <div class="form-group row mt-0 mb-0 pt-1" id="exportTypeC">
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-form-label fw-500" for="lampiranC">Browse File<span class="text-danger"> *</span></label>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <input type="file" id="lampiranC" class="form-control-file">
                                            <div class="p-2">
                                                <input type="text" id="isiLampiranC" name="isiLampiranC" data-field="isiLampiranC" placeholder="Isi Lampiran C" disabled />
                                                <input type="hidden" id="lampiran_c" class="form-control-file" name="lampiran_c">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-11">
                                <br />
                                <h5>Lampiran D</h5>
                                <div class="panel-toolbar">
                                    <div class="form-group row mt-0 mb-0 pt-1" id="exportTypeD">
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-form-label fw-500" for="lampiranD">Browse File<span class="text-danger"> *</span></label>
                                        <div class="col-lg-8 col-md-8 col-sm-8">
                                            <input type="file" id="lampiranD" class="form-control-file">
                                            <div class="p-2">
                                                <input type="text" id="isiLampiranD" name="isiLampiranD" data-field="isiLampiranD" placeholder="Isi Lampiran D" disabled />
                                                <input type="hidden" id="lampiran_d" class="form-control-file" name="lampiran_d">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-primary" id="btn-saveLampiran" type="button">Save Lampiran</button>
                </div>
            </div>

        </div>
    </div>

    <div class="col-xl-12">

        <form id="frm-well_final_report" class="needs-validation row">
            <input type="hidden" name="id" value="@ViewBag.recordId" />
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label" for="company_man">Company Man</label>
                    <input type="text" class="form-control form-control-sm" id="company_man" name="company_man" data-field="company_man" required="">
                    <div class="invalid-feedback">
                        Please enter a company name .
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="drilling_engineer">Drilling Engineer</label>
                    <input type="text" class="form-control form-control-sm" id="drilling_engineer" name="drilling_engineer" data-field="drilling_engineer" required="">
                    <div class="invalid-feedback">
                        Please enter a drilling engineer .
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="form-label" for="field_engineer">Ahli Teknik Lapangan</label>
                    <input type="text" class="form-control form-control-sm" id="field_engineer" name="field_engineer" data-field="field_engineer" required="">
                    <div class="invalid-feedback">
                        Please enter a teknik lapangan .
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="drilling_manager">Manager Management Pemboran</label>
                    <input type="text" class="form-control form-control-sm" id="drilling_manager" name="drilling_manager" data-field="drilling_manager" required="">
                    <div class="invalid-feedback">
                        Please enter a manager management pemboran .
                    </div>
                </div>

            </div>

        </form>
    </div>


    <div class="col-xl-12">
        <br />
        <button class="btn btn-sm btn-primary" id="btn-save" type="button">Save</button>

        <span class="btn btn-sm btn-warning btn-link btnDownload" data-url="@Url.Content(string.Format("/UTC/{0}/FinalReport/IndexPreview?wellId={1}", ViewBag.BusinessUnitRoute,ViewBag.wellId))">Stream</span>
        <span class="btn btn-sm btn-warning btn-link btnDownload" data-url="@Url.Content(string.Format("/UTC/{0}/FinalReport/Stream?wellId={1}", ViewBag.BusinessUnitRoute,ViewBag.wellId))">Download</span>
        <span class="btn btn-sm btn-warning btn-link btnDownload" data-url="@Url.Content(string.Format("/UTC/{0}/FinalReport/NewIndex?wellId={1}", ViewBag.BusinessUnitRoute,ViewBag.wellId))">Test Baru</span>

    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Areas/UTC/Scripts/finalReport.details.js?t=@DateTime.Now"></script>
}