﻿<div class="table-bulk">
    <div class="row">
        <div class="col-sm-8">
            <h5 class="text-center">Tabel 2.7 / Table 2.7</h5>
            <h5 class="text-center">Mud Data Section (Bit Size)</h5>
            <table class="table table-bordered" id="tblBulkDataSection">
                <thead>
                    <tr>
                        <th class="fs-13">No</th>
                        <th class="fs-13">Tanggal/Date</th>
                        <th class="fs-13">Terima/Received</th>
                        <th class="fs-13">Terima Kum/Total Received</th>
                        <th class="fs-13">Pakai/Consumed</th>
                        <th class="fs-13">Pakai Kum/Total Consumed</th>
                        <th class="fs-13">Sisa/Remains</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script id="bulkData-template" type="text/x-handlebars-template">
    {{#each data}} <!-- Loop through each data item -->
    <tr>
        <td class="fs-13"></td> 
        <td class="fs-13"></td> 
        <td class="fs-13">{{received}}</td>
        <td class="fs-13">{{previous}}</td>
        <td class="fs-13">{{consumed}}</td>
        <td class="fs-13"></td>
        <td class="fs-13">{{balance}}</td>
    </tr>
    {{/each}}
</script>

<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();

        function getDrilling() {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: urlAPI + "/core/drilling/" + wellId + "/detailbyId",
                success: function (data) {
                    getBulkData(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching drilling data:", error);
                }
            });
        }

        function getBulkData(drillingData) {
            var drill = drillingData.data;
            for (i = 0; i < drill.length; i++) {
                var drillingId = drill[i].id;
                getShow(drillingId);
            }
        }

        function getShow(drillingId) {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: urlAPI + "/core/DrillingBulk/" + drillingId + "/detailBulkId",
                success: function (r) {
                    if (r.data !== null) {
                        //console.log("sssssssssssssssssss",r.data)
                        // Compile template using Handlebars
                        var templateScript = $("#bulkData-template").html();
                        var template = Handlebars.compile(templateScript);
                        // Append rendered HTML to table body
                        $("#tblBulkDataSection > tbody").append(template({ data: r.data }));
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching bulk data:", error);
                }
            });
        }
        getDrilling();
    });
</script>
