﻿@{
    Layout = "~/Areas/UTC/Views/Shared/_LayoutPDF.cshtml";
    string[] arrSection = ViewBag.arrSection;
}
@section Header{
    <style>
        .hide {
            display: none !important;
        }

        @@media print {
            .new-page {
                page-break-before: always;
            }

            @@page land {
                size: landscape;
            }

            .land {
                /*transform: rotate(270deg) translate(-276mm, 0);*/
                transform-origin: 0 0;
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
            }

            div.portrait, div.landscape {
                margin: 0;
                padding: 0;
                border: none;
                background: none;
            }

            div.landscape {
                transform: rotate(270deg) translate(-276mm, 0);
                transform-origin: 0 0;
            }
        }




        .page-content-wrapper {
            background-color: white !important;
        }

        .keep-together {
            page-break-inside: avoid;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }

        /*html, body {
            height: 297mm;
            width: 210mm;
            margin-left: auto;
            margin-right: auto;
        }*/

        /*#footer {
            clear: both;
            position: relative;
            z-index: 10;
            height: 3em;
            margin-top: -3em;
        }*/
        .content-container {
            /*height: 100%;*/
            /*margin: 0;*/
        }
    </style>

    <style>
        .sub-content > .col {
            float: left;
        }

        .row-cm {
            clear: both;
        }

        .col-width-2 {
            width: 16.66%;
        }

        .col-width-3 {
            width: 25%;
        }

        .col-width-4 {
            width: 33.33%;
        }

        .col-width-6 {
            width: 50%;
        }

        .col-width-12 {
            width: 100%;
        }

        .landscape {
            width: 1275px;
            height: 1650px;
            -webkit-transform: translateY(1650px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1650px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1650px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1650px) rotate(270deg); /* IE 9 */
            transform: translateY(1650px) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand'); /* IE 6-7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand')"; /* IE 8 */
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    </style>

    <style>
        /*h1 {
            font-size:xx-large;

        }*/
    </style>

    <style>
        body {
            /*font-size:5em!important;*/
        }

        #depth-chart {
            min-width: 800px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }

        @@media print {
            body {
                width: 780px;
                overflow: hidden;
            }

            #depth-chart {
                max-width: 780px;
                border: 10px dotted red;
            }
        }


        .highcharts-figure, .highcharts-data-table table {
            min-width: 1000px;
            max-width: 1200px;
            min-height: 500px;
            max-height: 800px;
            margin: 1em auto;
        }

        #container {
            height: 800px;
            max-height: 600px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 800px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        #bhabit {
            /*-ms-transform: rotate(270deg);*/ /* IE 9 */
            /*-webkit-transform: rotate(270deg); /* Safari and Chrome */
            /*-o-transform: rotate(270deg);*/ /* Opera */
            /*-moz-transform: rotate(270deg);*/ /* Firefox */
            font-size: 8pt !important;
            transform: rotate(270deg);
            -webkit-transform: translateY(1400px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1400px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1400px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1400px) rotate(270deg); /* IE 9 */
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        #section-bitReport {
            transform: scale(0.82, 0.82);
            -webkit-transform: scale(0.82, 0.82);
            -moz-transform: scale(0.82, 0.82);
            -o-transform: scale(0.82, 0.82);
            -ms-transform: scale(0.82, 0.82);
        }

        #section-lampiran-4 {
            font-size: 8pt !important;
            transform: rotate(270deg);
            -webkit-transform: translateY(1480px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1480px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1480px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1480px) rotate(270deg); /* IE 9 */
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    </style>

    <style>
        .fs-9 {
            font-size: 9pt !important;
        }

        .fs-10 {
            font-size: 10pt !important;
        }

        .fs-11 {
            font-size: 11pt !important;
        }

        .fs-12 {
            font-size: 12pt !important;
        }

        .fs-13 {
            font-size: 13pt !important;
        }

        .fs-14 {
            font-size: 14pt !important;
        }

        .fs-15 {
            font-size: 15pt !important;
        }

        .fs-16 {
            font-size: 16pt !important;
        }

        .fs-17 {
            font-size: 17pt !important;
        }

        .fs-18 {
            font-size: 18pt !important;
        }

        .fs-19 {
            font-size: 19pt !important;
        }

        .fs-20 {
            font-size: 20pt !important;
        }

        .fs-21 {
            font-size: 21pt !important;
        }

        .fs-22 {
            font-size: 22pt !important;
        }

        .fs-23 {
            font-size: 23pt !important;
        }

        .fs-24 {
            font-size: 24pt !important;
        }

        .fs-25 {
            font-size: 25pt !important;
        }
    </style>
}


<div class="content-container">
    <input hidden name="well_id" value="@ViewBag.wellId" />
    @if (arrSection.Contains("1"))
    {
        <div class="row portrait">
            <div class="col-lg-12">
                <div class="text-center">
                    <p><img src="~/Content/img/pertamina logo.png" width="600" /></p>
                    <h1 class="fs-25">
                        LAPORAN AKHIR PENGEBORAN / FINAL WELL
                        REPORT
                    </h1>
                    <h1><span class="fs-25" name="lbl_well_name">N/A</span></h1>
                </div>

                <div style="padding-top:80%" class="text-center">
                    <h1 class="fs-25">PT. PERTAMINA EP</h1>
                    <h1 class="fs-20">@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-right">
                    <p><img src="~/Content/img/pertamina logo.png" width="200" /></p>
                </div>
                <br />
                <div class="text-center">
                    <h1 class="fs-25">LEMBAR PENGESAHAN / LEGALIZATION</h1>
                    <h1 class="fs-25">
                        LAPORAN AKHIR SUMUR / FINAL WELL
                        REPORT
                    </h1>
                    <h1 class="fs-25 well_name">-</h1>
                </div>
                <br />
                <div class="text-center" style="padding-top:20%">
                    <p class="fw-500 fs-15">Disusun Oleh: / Arranged By:</p>
                </div>
                <br />
                <div class="row-cm" style="padding-top:20%">
                    <div class="sub-content">
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_company_man">N/A</span>)</h3>
                            <h3 class="text-primary">Company Man</h3>
                        </div>
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_drilling_engineer">N/A</span>)</h3>
                            <h3 class="text-primary">Drilling Engineer</h3>
                        </div>
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_field_engineer">N/A</span>)</h3>
                            <h3 class="text-primary">Ahli Teknik Lapangan</h3>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center" style="padding-top:20%">
                    <p class="fw-500 fs-15">Disetujui Oleh: / Approved By:</p>
                </div>

                <br />
                <div class="text-center" style="padding-top:10%">
                    <h4 class="fw-700">
                        (<span name="lbl_drilling_manager">N/A</span>)
                    </h4>
                    <h4>Manajer Manajemen Pemboran</h4>
                </div>

            </div>
        </div>
    }
    <div style="display:block; clear:both; page-break-after:always;"></div>
    @if (arrSection.Contains("2"))
    {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center fs-23">DAFTAR ISI / TABLE OF CONTENT</h1>
                <br />
                <h3 class="fs-15 fw-700">Cover</h3>
                <h3 class="fs-15 fw-700">Daftar Isi / Table Of Content</h3>
                <h3 class="fs-15 fw-700">BAB I PENDAHULUAN / PREFACE </h3>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li><span class="fs-13 fw-600">I.1 General Well Data</span></li>
                            <li>
                                <span class="fs-13 fw-600">I.2 Well Profile</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">I.2.I Well Profile Plan</span></li>
                                    <li><span class="fs-13 fw-600">I.2.2 Well Profile Actual</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">I.3 Final Well Schematic</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">I.3 Final Well Schematic Actual</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">I.4 Geological Summary</span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="fs-15 fw-700">BAB II PENGEBORAN / DRILLING</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li>
                                <span class="fs-13 fw-600">II.1 Drilling Cost Report.</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.1.1 Closed Out</span></li>
                                    <li><span class="fs-13 fw-600">II.1.2 Monitoring Budget</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">II.2 Time and Cost Distribution</span></li>
                            <li><span class="fs-13 fw-600">II.3 Time and NPT Breakdown</span></li>
                            <li><span class="fs-13 fw-600">II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report</span></li>
                            <li>
                                <span class="fs-13 fw-600">II.5 Material Recap</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.5.1 Material Recap Section (Bit Size)</span></li>
                                    <li><span class="fs-13 fw-600">II.5.2 Material Recap Section (Bit Size)</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">II.6 Mud Data</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.6.1 Mud Data Section (Bit Size)</span></li>
                                    <li><span class="fs-13 fw-600">II.6.2 Mud Data Section (Bit Size)..</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">II.7 Survey Report</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.7.1 Survey Program</span></li>
                                    <li><span class="fs-13 fw-600">II.7.2 Survey Actual</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">II.8 Bit Record</span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="fs-15 fw-700">BAB III PEMBAHASAN / ELABORATION</h3>
                <h3 class="fs-15 fw-700">BAB IV EVALUASI / EVALUATION</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN A Daily Drilling Report</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN B Daily Cost Report</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN C (Judul Lampiran / Attachment Tittle)</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN D (Judul Lampiran / Attachment Tittle)</h3>
            </div>
        </div>

    }

    <div style="display:block; clear:both; page-break-after:always;"></div>
    @if (arrSection.Contains("3"))
    {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center fs-23" style="margin-bottom: 0px;">BAB I / CHAPTER I</h1>
                <h1 class="text-center fs-23">PENDAHULUAN / PREFACE</h1>
                <br />
            </div>
        </div>

        <h3 class="fs-15 fw-700">I.1 General Well Data</h3>
        <div class="row">
            <div class="col-lg-12">
                <form id="well_info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    No. AFE / AFE No.
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13"></span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Daerah / Region
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="field_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Nama Sumur / Well Name
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Klasifikasi Sumur / Well Classification
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_classification">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Jenis Sumur / Well Type
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_type">N/A</span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Koordinat Permukaan / Suface Coordinate
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="latitude">N/A</span>,<span class="fs-13" data-objecttype="label" data-field="longitude">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Elevasi / Ground Level (GL)
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="ground_elevation">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Tinggi Lantai Bor / Rig Floor
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13"></span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Kick Off Point
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13" data-objecttype="label" data-field="kick_of_point">N/A</span></td>
                            </tr>

                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Operator
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="record_created_by">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Menara Bor / Rig Name
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="rig_name">N/A</span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Waktu Tajak / Spud Date
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" data-field="spud_date">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Akhir Pengeboran / End of Drilling :
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13">?</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px; vertical-align: top;">
                                    Susunan Casing / Casing Schematic
                                </td>
                                <td class="fs-13" style="vertical-align: top;">:</td>
                                <td class="fs-13 pl-3" id="susunanCasing"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p><strong>Note:</strong></p>
                                            <ol>
                                                <li><strong>Interval :</strong> Start – (End) / (Top Of Cement) End – Last Depth of Operation Activities & Hole & Casing</li>
                                                <li><strong>Size :</strong> (Casing Diameter) if cased hole ; (Hole Diameter) if open hole</li>
                                                <li><strong>From :</strong> (0) if casing ; (Casing Top of Liner) if liner</li>
                                                <li><strong>To :</strong> (Casing Setting Depth)</li>
                                                <li><strong>Grade :</strong> (Casing Grade)</li>
                                                <li><strong>Weight :</strong> (Casing Weight)</li>
                                                <li><strong>Connection :</strong> (Casing Connection)</li>
                                            </ol>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("4"))
            {
                <h3 class="fs-15 fw-700">I.2 Well Profile</h3>
                <h3 class="fs-15 fw-700">I.2.1 Well Profile Plan</h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/WellPlan.cshtml")
            }
            @if (arrSection.Contains("5"))
            {
                <h3 class="fs-15 fw-700">I.2.2 Well Profile Actual</h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/WellActual.cshtml")

            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>

    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("6"))
            {
                <h3 class="fs-15 fw-700">I.3 Final Well Schematic</h3>
                <h3 class="fs-15 fw-700">I.3.1 Final Well Schematic Actual</h3>
                <div class="col-md-12 text-center">
                    <img src="/Content/img/report/drill-header-120.png" class="img-fluid" alt="Responsive image">
                    <div id="pipe-drill-sinema" style="position: relative; z-index: 1;">
                        <div class="row">

                        </div>
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
    <div style="display:block; clear:both; page-break-after:always;"></div>

    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("8"))
            {
                <h3 class="fs-15 fw-700">I.4 Geological Summary</h3>
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <h5 class="text-center">Table 1.2</h5>
                            <h5 class="text-center">Geological Summary</h5>

                            <tbody>
                                @*
                                    {{#each data}}
                                    <tr>
                                        <td class="fs-13">Casing Diameter : {{thousandSeparatorDecimal casing_name}}</td>
                                        <td class="fs-13">Casing Depth : {{thousandSeparatorDecimal casing_setting_depth}}</td>
                                    </tr>
                                    {{/each}}
                                *@
                                <tr>
                                    <td class="fs-13">
                                        Markers
                                    </td>
                                    <td class="fs-13">
                                        Prognosis
                                        (API/SI)
                                    </td>
                                    <td class="fs-13">
                                        Actual
                                        (API/SI)
                                    </td>
                                    <td class="fs-13">
                                        Δ
                                        (API/SI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fs-13">Formation</td>
                                    <td class="fs-13">ft/m</td>
                                    <td class="fs-13">ft/m</td>
                                    <td class="fs-13">ft/m</td>

                                </tr>
                            </tbody>
                        </table>
                        <p><strong>Note:</strong></p>
                        <ol>
                            <li><strong>Markers :</strong> Well – Plan Formation - Formation</li>
                            <li>
                                <strong>Prognosis :</strong> Well – Plan Formation – Depth (End Depth Formation
                                (Planning))
                            </li>
                            <li><strong>Actual :</strong> New Fitur </li>
                            <li><strong>Δ :</strong> Actual – Prognosis</li>
                        </ol>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("9"))
    {
        <div class="">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">BAB II / CHAPTER 2</h1>
            <h1 class="text-center fs-23">PENGEBORAN / DRILLING</h1>
        </div>
        <h3 class="fs-15 fw-700">
            II.1 Drilling Cost Report
        </h3>
        <h3 class="fs-15 fw-700">
            II.1.1 Closed Out
        </h3>
        <div class="row">
            <div class="col-md-12 p-0">
                <div id="bha-directionalSurveyContent" class="collapse show" data-parent="#bha-directionalSurvey">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <h4>Tabel 2.1 / Table 2.1</h4>
                            <h4>Budget Schedule 19</h4>
                        </div>
                        <table class="table table-bordered table-hover m-0" id="tableDailyCost">
                            <thead class="thead-themed">
                                <tr>
                                    <th class="align-middle p-2 text-center" rowspan="2" style="width: 70%;">Description</th>
                                    <th class="text-center p-2" colspan="2">Budget</th>
                                </tr>
                                <tr>
                                    <th class="text-center p-2">Plan</th>
                                    <th class="text-center p-2">Actual</th>
                                </tr>
                            </thead>
                            <tbody id="budgetScheduleBody">
                                <!-- Data rows will be inserted here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    }
    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("10"))
    {
        <h3 class="fs-15 fw-700">
            II.1.2 Monitoring Budget
        </h3>
        <form id="afe_info">
            <table>
                <tbody>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            No. AFE / AFE No.
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="afe_no">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Budget
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="afe_cost">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Spud Date
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" data-field="spud_date">N/A</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="col-md-12 p-0">
            <div id="monitoring-budget" class="collapse show" data-parent="#monitoring-budget-tbl">
                <div class="card-body">
                    <table class="table table-bordered table-hover m-0" id="tableMonitoringBudget">
                        <div class="text-center">
                            <h4>Tabel 2.4 / Table 2.4</h4>
                            <h4>Monitoring Budget</h4>
                        </div>
                        <thead class="thead-themed">
                            <tr>
                                <th class="align-middle p-2 text-center" rowspan="2" style="width: 5%;">Hari</th>
                                <th class="align-middle p-2 text-center" rowspan="2" style="width: 2    0%;">Tanggal</th>
                                <th class="text-center p-2" colspan="3">Actual</th>
                            </tr>
                            <tr>
                                <th class="text-center p-2">Daily Cost</th>
                                <th class="text-center p-2">Cumm Cost</th>
                                <th class="text-center p-2">% Real</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>

    @if (arrSection.Contains("11"))
    {
        <h3 class="fs-15 fw-700">
            II.2 Time and Cost Distribution
        </h3>
        <div class="row text-center">
            <figure class="highcharts-figure">
                <div id="waktu-pengeboran"></div>
            </figure>
        </div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("12"))
    {
        <h3 class="fs-15 fw-700">
            II.3 Time and NPT Breakdown
        </h3>
        <br />
        <div class="col-xl-12" style="margin-top: -20px;">
            <div id="panel-1" class="mb-0">
                <div>
                    <h2>Analysis Trayek</h2>
                </div>
                <div class="show">
                    <div class="page-loading-content pt-0 pb-0">
                        <div class="row mt-2" id="trayek-content">
                            <!-- Konten trayek akan ditampilkan di sini -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("13"))
    {
        <h3 class="fs-15 fw-700">
            II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report
        </h3>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("14"))
    {
        <h3 class="fs-15 fw-700">
            II.5 Material Recap
        </h3>
        <h3 class="fs-15 fw-700">
            II.5.1Material Recap Section (Bit Size)
        </h3>
        <div class="table-bitsize">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-bordered" id="tblRecapSection">
                        <thead>
                            <tr>
                                <th class="fs-13" style="text-align: center;">Material</th>
                                <th class="fs-13" colspan="2" style="text-align: center;">Unit</th>
                                <th class="fs-13" style="text-align: center;">Material Used</th>
                            </tr>
                            <tr>
                                <th class="fs-13" style="text-align: center;">Type (Mud Type)</th>
                                <th class="fs-13" style="text-align: center;">Quantity Planning</th>
                                <th class="fs-13" style="text-align: center;">Unit</th>
                                <th class="fs-13" style="text-align: center;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("15"))
    {
        <h3 class="fs-15 fw-700">
            II.6 Mud Data
        </h3>
        <h3 class="fs-15 fw-700">
            II.6.1Mud Data Section (Bit Size)
        </h3>

    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("16"))
    {
        <h3 class="fs-15 fw-700">
            II.7 Survey Report
        </h3>
        <form id="survey_program">
            <table>
                <tbody>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Company
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="unit_name">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Daerah / Region
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="field_name">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Nama Sumur / Well Name
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_name">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Wellbore
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_status">N/A</span></td>
                    </tr>
                    <tr>
                        <td class="fs-13" style="width: 250px;">
                            Survey Calculation Method
                        </td>
                        <td class="fs-13">:</td>
                        <td class="fs-13 pl-3"> <span class="fs-13">Minimum Curvature</span></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <h3 class="fs-15 fw-700">
            II.7.1 1Survey Program
        </h3>
        <table class="table table-bordered" id="tblSurveyProgram">
            <h5 class="text-center">
                Tabel 2.8 / Table 2.8
            </h5>
            <h5 class="text-center">Survey Program</h5>
            <div class="mt-2" id="lampiran-6-directionalSurvey">

            </div>
            <tbody>
            </tbody>
        </table>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("17"))
    {
        <h3 class="fs-15 fw-700">
            II.7.2 Survey Actual
        </h3>
        <table class="table table-bordered" id="tblSurveyActual">
            <h5 class="text-center">
                Tabel 2.9 / Table 2.9
            </h5>
            <h5 class="text-center">Survey Actual</h5>
            <thead>
                <tr>
                    <th class="fs-13">Measured Depth</th>
                    <th class="fs-13">Inclination</th>
                    <th class="fs-13">Azimuth</th>
                    <th class="fs-13">TVD</th>
                    <th class="fs-13">V Section</th>
                    <th class="fs-13">N/S</th>
                    <th class="fs-13">E/W</th>
                    <th class="fs-13">DLS</th>
                    <th class="fs-13">Survey Tools</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <br />
        <br />
        <h5 class="text-center">
            Gambar 2.6 / Picture 2.6
        </h5>
        <h5 class="text-center">2D Trajectory (Side View)</h5>

        <br />
        <h5 class="text-center">
            Gambar 2.7 / Picture 2.7

        </h5>
        <h5 class="text-center">2D Trajectory (Top View)</h5>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("18"))
    {
        <h3 class="fs-15 fw-700">
            II.8 Bit Record
        </h3>
        <div id="bhabit">
            <div class="table-mud">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="text-center">Tabel 2.7 / Table 2.7</h5>
                        <h5 class="text-center">Mud Data Section (Bit Size)</h5>
                        <div class="row">
                            <div class="col-sm-8">
                                <h5 class="text-center">Tabel 2.7 / Table 2.7</h5>
                                <h5 class="text-center">Mud Data Section (Bit Size)</h5>
                                <div id="section-bitReport">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:block; clear:both; page-break-after:always;"></div>

        <div class="row">
            <div class="col-sm-12">

                <div id="babInformation"></div>


            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>


        string classhide9 = "hide";


        classhide9 = "";

        <div class="row @classhide9">
            <div class="col-sm-12 mt-3">
                <div class="text-center">
                    <h1 class="fs-18">LAMPIRAN I</h1>
                    <span class="fs-18 fw-700">Lampiran yang anda upload bisa download disini</span>
                    <br />
                    <a href="#" class="btn btn-default btn-xs btn-default waves-effect waves-themed row-download-lampiran"
                       id="linkLampiranA" data-id="" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'>
                        Lampiran I
                    </a>
                </div>
            </div>
        </div>

        <div class="row @classhide9">
            <div class="col-sm-12 mt-3">
                <div class="text-center">
                    <h1 class="fs-18">LAMPIRAN II</h1>
                    <br />
                    <span class="fs-18 fw-700">Lampiran yang anda upload bisa download disini</span>
                    <br />
                    <a href="#" class="btn btn-default btn-xs btn-default waves-effect waves-themed row-download-lampiran"
                       id="linkLampiranB" data-id="" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'>
                        Lampiran II
                    </a>
                </div>
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1 class="fs-18">LAMPIRAN III</h1>
                    <span class="fs-18 fw-700">Lampiran yang anda upload bisa download disini</span>
                    <br />
                    <span class="fs-18 fw-700">RINGKASAN KEGIATAN PENGEBORAN </span> <span class="fs-18 well_name fw-700"></span>
                    <br />
                    <a href="#" class="btn btn-default btn-xs btn-default waves-effect waves-themed row-download-lampiran"
                       id="linkLampiranC" data-id="" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'>
                        Lampiran III
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 mt-4">
                <div class="card border" id="drillingActivity"></div>
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>

        <div id="section-lampiran-4123">
            <div class="">
                <h1 class="text-center fs-18 fw-700">LAMPIRAN IV</h1>
                <span class="fs-18 fw-700">Lampiran yang anda upload bisa download disini</span>
                <br />
                <a href="#" class="btn btn-default btn-xs btn-default waves-effect waves-themed row-download-lampiran"
                   id="linkLampiranD" data-id="" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'>
                    Lampiran IV
                </a>
            </div>
            <div class="text-center">
                <span class="fs-18 fw-700">TALLY CASING</span> <span class="fs-18 well_name fw-700"></span>
            </div>
            <div class="mt-4 ml-6">
                <div class="text-left mt-2">
                    <span class="fs-13 fw-700">Casing Run Tally (Program)</span>
                </div>
                <div class="text-left mt-4">
                    <span class="fs-13 fw-700">Casing Run Tally (Actual)</span>
                </div>
                <div class="mt-2" id="lampiran-4-holeCasingActual"></div>
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

</div>


@section Scripts{
    <script src="~/Content/plugins/highcharts/highcharts-v8.0.4.js"></script>

    <script id="susunanCasingTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered">
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fs-13">Casing Diameter : {{thousandSeparatorDecimal casing_name}}</td>
                    <td class="fs-13">Casing Depth : {{thousandSeparatorDecimal casing_setting_depth}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </script>

    <script id="bitReportTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr style="background-color: #EEF1EE !important;">
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">BHA&nbsp;#</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Bit&nbsp;Run</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Size<br />(in)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Manufacture</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important; width: 180px !important;">Bit&nbsp;Type</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Serial&nbsp;Number</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">IADC<br />Code</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Nozzles<br />(1/32")</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Depth&nbsp;In<br />(mKB)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Depth&nbsp;Out<br />(mKB)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">BHA&nbsp;ROP<br />(m/hr)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">WOB<br />(1000&nbsp;lbf)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Q&nbsp;Flow<br />Min&nbsp;(gpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Q&nbsp;Flow<br />Max&nbsp;(gpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">SPP&nbsp;Min<br />(psi)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">SPP&nbsp;Max<br />(psi)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Min&nbsp;RPM<br />(rpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Max&nbsp;RPM<br />(rpm)</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_number}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_run}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal bit_size}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{manufacturer}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_type}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{serial_number}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{iadc_code}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{noozle_1}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_depth_in}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_depth_out}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_rop_overall}}</td>
                    <td class="fw-700 text-center align-middle fs-10">0</td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="holeCasingPlanTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Hole Diameter (inch)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Hole Depth (m)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Diameter</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Depth (m)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Type</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal hole_name}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal hole_depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal casing_name}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal casing_setting_depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{CasingType casing_type}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="holeCasingActualTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Hole Diameter (inch)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Hole Depth (m)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Diameter</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Depth (m)</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Casing Type</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal hole_name}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal casing_name}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal casing_setting_depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{CasingType casing_type}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="drillingDeviationTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Measure<br />Depth</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Incliation</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Azimuth</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">TVD</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Vertical<br />Section</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">N/S</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">E/W</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">DLS</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal measured_depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal inclination}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal azimuth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal tvd}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal v_section}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal n_s}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal e_w}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal dls}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="activityTemplate" type="text/x-handlebars-template">
        {{#each data}}
        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <div class="pb-2 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Date
                                </td>
                                <td>:</td>
                                <td class="pl-2"> <span>{{drilling_date}}</span></td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Well Depth
                                </td>
                                <td>:</td>
                                <td class="pl-2"> <span>0 ft MD</span></td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Summary
                                </td>
                                <td>:</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0 ml-0 pl-0">
                <div class="d-flex flex-column align-items-center ml-0 pl-0">
                    <!-- comment -->
                    {{#each this.data}}
                    <div class="d-flex flex-row w-100 ml-0 pl-0" style="overflow: visible;">
                        <div class="mb-0 flex-1 text-dark" style="overflow: visible;">
                            <p style="text-align:justify;overflow-wrap:break-word">{{description}}</p>
                        </div>
                    </div>
                    <!-- comment end -->
                    {{/each}}
                </div>
            </div>
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        {{/each}}
    </script>
    @*
              <script id="tableMonitoringData" type="text/x-handlebars-template">
            {{#each data}}
            <tr>
                <td class="align-middle text-center" style="width: 5%;">{{report_no}}</td>
                <td class="align-middle text-center" style="width: 20%;">{{drilling_date}}</td>
                <td class="text-right">$ {{formatNumber daily_cost}}</td>
                <td class="text-right">$ ... </td>
                <td class="text-right">$ ... %</td>
            </tr>
            {{/each}}
        </script>
    *@
    <script id="babInformationTemplate" type="text/x-handlebars-template">
        <div class="text-center">
            <h1 class="fs-23" style="margin-bottom: 0px;"> BAB III / CHAPTER 3</h1>
            <h1 class="fs-23">PEMBAHASAN / ELABORATION</h1>
        </div>

        <span class="fs-15 fw-700">Pembahasan Sumur </span>
        <span class="fs-15 fw-700">{{well_name}}</span>


        <div class="row mt-3">
            <div class="col-md-12 fs-15">
                {{{bab_3}}}
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>

        <div class="text-center">
            <h1 class="fs-23" style="margin-bottom: 0px;">BAB IV / CHAPTER 4</h1>
            <h1 class="fs-23">EVALUASI / EVALUATION</h1>
        </div>
        <span class="fs-15 fw-700">Evaluasi Sumur </span>
        <span class="fs-15 fw-700">{{well_name}}</span>

        <div class="row mt-3">
            <div class="col-md-12 fs-15">
                {{{bab_4}}}
            </div>
        </div>
    </script>


    <script id="trayek-template" type="text/x-handlebars-template">
        {{#each data}}
        <div class="col-md-12 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
            <span class="fw-500" style="position: absolute; z-index: 400;">Trayek Depth : {{hole_val}} ft</span>
            <div class="trayek-analysis" id="trayek-{{id}}"></div>
        </div>
        {{/each}}
    </script>
    <script>

        $('#lbl_test').text("SEBELUM DOCUMENT JAVASCRIPT");
        //window.status = 'ready_to_print';
        //window.status = 'PAGE_LOADED';
        $(document).ready(function () {
            function thousandSeparatorFromValueWithComma(nStr) {
                var x = (nStr + "").split(".");
                var x1 = x[0];
                var x2 = x.length > 1 ? '.' + x[1] : '.00';
                var rgx = /(\d+)(\d{3})/;
                if (x1 == 0) {
                    x1 = 0;
                } else {
                    while (rgx.test(x1)) {
                        x1 = x1.replace(rgx, '$1' + ',' + '$2');
                    }
                }
                if ((x2 + "").length == 2)
                    return x1 + x2 + "0";
                else
                    return x1 + x2;
            }
            Handlebars.registerHelper('thousandSeparatorDecimal', function (n) {
                if (n == null || n == "" || n == 0)
                    return "0.00";
                else
                    return (thousandSeparatorFromValueWithComma(n));
            });

            Handlebars.registerHelper('CasingType', function (n) {
                if (n == 1)
                    return "Conductor";
                else if (n == 2)
                    return "Surface";
                else if (n == 3)
                    return "Drilling Liner";
                else if (n == 4)
                    return "Intermediate";
                else if (n == 5)
                    return "Production Liner";
                else if (n == 6)
                    return "Perforated Liner";
                else if (n == 7)
                    return "Production";
            });

            var template = undefined;

            $('#lbl_test').text("TEST FROM JAVASCRIPT");
            var wellId = $('input[name=well_id]').val();

            function getDataWell() {
                return $.ajax({
                    type: "GET",
                    dataType: 'json',
                    contentType: 'application/json',
                    url: urlAPI + '/core/Well/' + wellId + '/detail',
                    async: false
                }).responseText;
            }

            function getWellBit() {

                $.ajax({
                    type: "GET",
                    url: urlAPI + '/UTC/SingleWell/GetBitByWellId/' + wellId,
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        var templateScript = $("#bitReportTemplate").html();
                        var template = Handlebars.compile(templateScript);
                        $('#section-bitReport').html(template({ data: r.data }));
                    },
                    error: function () {
                    }
                });
            }
            getWellBit();



            /*
            function getDataPlanVsActualDepth() {
                var aryWell = [];
                aryWell.push("4c1c8437-9802-481b-8258-c3eeb1d5cde0");
                var data = new Object();
                data.well_id = new Object();
                data.well_id = aryWell;
                data.field_id = "1f73d67f-e056-4c75-8215-99c1682745bf";

                return $.ajax({
                    type: "POST",
                    //dataType: 'json',
                    contentType: 'application/json',
                    url: urlAPI + '/UTC/Benchmark/getPlanVsActualDepth/',
                    data: JSON.stringify(data),
                    async: false
                }).responseText;
            }
            */
            function getDataWellHoleAndCasing() {
                console.log("Initiating AJAX request to fetch well hole and casing data.");

                $.ajax({
                    type: "GET",
                    url: urlAPI + '/Core/WellHoleAndCasing/' + wellId + '/getAllByWellId',
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        console.log("AJAX request successful.");
                        console.log("Response data:", r.data);

                        var templateSusunanCasingScript = $("#susunanCasingTemplate").html();
                        var templateSusunanCasing = Handlebars.compile(templateSusunanCasingScript);
                        $('#susunanCasing').html(templateSusunanCasing({ data: r.data }));

                        var templateHoleCasingScript = $("#holeCasingPlanTemplate").html();
                        var templateHoleCasing = Handlebars.compile(templateHoleCasingScript);
                        $('#lampiran-4-holeCasingPlan').html(templateHoleCasing({ data: r.data }));
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed.");
                        console.error("Status:", status);
                        console.error("Error:", error);
                    }
                });
            }

            console.log("Calling getDataWellHoleAndCasing function.");
            getDataWellHoleAndCasing();


            function getHoleCasingActual() {
                $.ajax({
                    type: "GET",
                    url: urlAPI + '/UTC/SingleWell/GetHoleCasingActual/' + wellId,
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        var templateHoleCasingScript = $("#holeCasingActualTemplate").html();
                        var templateHoleCasing = Handlebars.compile(templateHoleCasingScript);
                        $('#lampiran-4-holeCasingActual').html(templateHoleCasing({ data: r.data }));
                    },
                    error: function () {
                    }
                });
            }
            getHoleCasingActual();

            function getDrillingDeviation() {
                $.ajax({
                    type: "GET",
                    url: urlAPI + '/core/WellDeviation/' + wellId + '/detailByWellId',
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        console.log("WellDeviation");
                        Analysis();
                        //getfileLampiran();
                        console.log(r);
                        var templateScript = $("#drillingDeviationTemplate").html();
                        var template = Handlebars.compile(templateScript);
                        $('#lampiran-6-directionalSurvey').html(template({ data: r.data }));
                    },
                    error: function () {
                    }
                });
            }
            getDrillingDeviation();


            function getDataActivityByWellId() {
                return $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: urlAPI + '/Core/DrillingOperationActivity/getByWellId?wellId=' + wellId,
                    async: false
                }).responseText;
            }


            function getBABInformation() {

                return $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: urlAPI + '/Core/WellFinalReport/' + wellId + '/detailByWellId',
                    async: false
                }).responseText;
            }

            function getMonitoringPemboran() {

                return $.ajax({
                    type: "GET",
                    contentType: 'application/json',
                    url: urlAPI + '/UTC/SingleWell/GetTataWaktuPengeboran/' + wellId,
                    async: false
                }).responseText;
            }

            var dataWell = JSON.parse(getDataWell());

            if (dataWell.status.success) {
                controlHelper.form.clear($('#well_info'));
                controlHelper.form.fill($('#well_info'), dataWell.data);
                $(".well_name").html(dataWell.data.well_name);
                $('span[name=lbl_well_name]').html(dataWell.data.well_name);

            }

            var activity = JSON.parse(getDataActivityByWellId());
            template = Handlebars.compile($("#activityTemplate").html());
            $('#drillingActivity').html(template(activity));

            var babInformation = JSON.parse(getBABInformation());
            template = Handlebars.compile($("#babInformationTemplate").html());

            if (babInformation.status.success) {
                babInformation.data.well_name = dataWell.data.well_name;
                $('span[name=lbl_drilling_engineer]').html(babInformation.data.drilling_engineer);
                $('span[name=lbl_company_man]').html(babInformation.data.company_man);
                $('span[name=lbl_field_engineer]').html(babInformation.data.field_engineer);
                $('span[name=lbl_drilling_manager]').html(babInformation.data.drilling_manager);

                $('#babInformation').html(template(babInformation.data));
                getfileLampiran(dataWell.data.id)

            }


            $(document).on('click', '.row-download-lampiranA', function () {
                var id = $(this).data('id');
                var url = $.helper.resolveApi('~/core/AfePlan/download?id=' + id + '&x-Token=' + $('meta[name=x-token]').attr("content"));

                window.open(url, '_blank');
            });




            function getDataIadcAnalysis() {
                var responseData = null;
                $.ajax({
                    type: "GET",
                    contentType: "application/json",
                    url: urlAPI + "/UTC/SingleWell/GetIadcAnalysis/" + wellId,
                    async: false, // Pemanggilan sinkron
                    success: function (response) {
                        responseData = response;
                    },
                    error: function (xhr, status, error) {
                        console.error("Failed to fetch IADC Analysis data:", error);
                    }
                });
                return responseData;
            }



            function getfileLampiran(id) {
                $.ajax({
                    type: "GET",
                    url: $.helper.resolveApi('~/core/filemaster/' + id + '/detail'),
                    async: false, // Pemanggilan sinkron
                    success: function (r) {
                        console.log('adasaa', r);
                        if (r.data && r.data.length >= 4) {
                            $('#linkLampiranA').data('id', r.data[0].id);
                            $('#linkLampiranB').data('id', r.data[1].id);
                            $('#linkLampiranC').data('id', r.data[2].id);
                            $('#linkLampiranD').data('id', r.data[3].id);
                        } else {
                            console.error("Insufficient data received for attachments.");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Failed to fetch Lampiran data:", error);
                    }
                });
            }

            $(document).on('click', '.row-download-lampiran', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                if (id) {
                    var url = $.helper.resolveApi('~/core/WellFinalReport/downloadLampiran?id=' + id + '&x-Token=' + $('meta[name=x-token]').attr("content"));
                    window.open(url, '_blank');
                } else {
                    console.error("No ID available for download.");
                }
            });


            function Analysis() {
                // Tampilkan panel trayek
                $(".trayek-panel").show();

                // Ambil data IADC Analysis dari API
                var data = getDataIadcAnalysis();
                // console.log("ini data ehhe", data);
                // Periksa apakah data tidak kosong
                if (data != null) {
                    // Ambil template Handlebars untuk trayek
                    var templateScript = $("#trayek-template").html();
                    var template = Handlebars.compile(templateScript);

                    // Render data ke dalam template
                    $("#trayek-content").html(template(data));

                    // Iterasi setiap data untuk membuat chart
                    $.each(data.data, function (key, value) {
                        trayekChart(value.id, value.iadcAnalysis, value.iadcAnalysisNpt);
                    });
                } else {
                    // Tampilkan pesan jika tidak ada data trayek
                    $("#trayek-content").html(`<div class="col-md-12 pt-3 pb-2 text-center"><p class="h6">No trayek record on well available</p></div>`);
                }
            }
            function trayekChart(id, analysis, analysisnpt) {
                var obj = {};
                var arXAnalysis = [];
                var aryColor = [];
                var total = 0;
                //console.log("ini analysusus", analysis)
                for (var i = 0; i < analysis.length; i++) {
                    // console.log(analysis[i].interval)
                    total = total + analysis[i].interval;
                }
                console.log(total);
                var datanptCount = 0;
                if (analysisnpt != null) {
                    for (var i = 0; i < analysisnpt.length; i++) {
                        var datanpt = analysisnpt[i];
                        datanptCount += datanpt.hours;
                    }
                }
                for (var i = 0; i < analysis.length; i++) {
                    obj["NPT"] = 'rgb(255, 0, 0)';

                    if (obj[analysis[i].iadc_code] == "" || obj[analysis[i].iadc_code] == null) {
                        if (analysis[i].iadc_code != null) {
                            obj[analysis[i].iadc_code] = "#" + Math.floor(Math.random() * 16777215).toString(16);;
                        }
                    }

                    if (analysis[i].iadc_code == null) {
                        aryColor.push(obj["NPT"]);
                    } else {
                        aryColor.push(obj[analysis[i].iadc_code]);
                    }

                    if (analysis[i].type == "NPT") {
                        var time = datanptCount;
                    } else {
                        var time = analysis[i].interval;

                    }
                    //console.log(total)
                    arXAnalysis.push(
                        {
                            well_hole_casing_id: id,
                            name: analysis[i].description,
                            y: analysis[i].total,
                            Time: time,
                            Type: analysis[i].type,
                            total: total,
                            percentageManual: (analysis[i].interval / total) * 100,
                            // percentageManual: analysis[i].total,
                            sliced: i == 0 ? true : false,
                            selected: i == 0 ? true : false
                        }
                    );

                }
                //console.log('total : ', arXAnalysis);
                $('#trayek-' + id).highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        margin: [0, 0, 0, 0],
                        spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 0
                    },
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '<strong>{point.Type}</strong><br><strong>{point.Time:.1f} Hrs</strong>'
                    },
                    plotOptions: {
                        pie: {
                            //size: '50%',

                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentageManual:.2f} % '
                            },
                            colors: aryColor
                        }
                    },
                    series: [
                        {
                            name: 'Brands',
                            stroke: '#94236a',
                            colorByPoint: true,
                            data: arXAnalysis,
                            point: {
                                events: {
                                    click: function (event) {
                                        if (this.Type == "NPT")
                                            //alert(this.well_hole_casing_id);
                                            $("#btnWellHoleCasing-" + this.well_hole_casing_id).click();
                                    }
                                }
                            }
                        },
                        //series: [{
                        //    data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
                        //}
                    ]
                });
            }


            var dataMonitoringPemboran = JSON.parse(getMonitoringPemboran());

            if (dataMonitoringPemboran.status.success) {
                console.log(dataMonitoringPemboran);
                var planningDepth = [];
                var planningCost = [];

                var actualDepth = [];
                var actualCost = [];

                $.each(dataMonitoringPemboran.data.report_drilling, function (key, value) {
                    var _actualDepth = [value.dfs, value.current_depth_md];
                    actualDepth.push(_actualDepth);

                    var _actualCost = [value.dfs, value.daily_cost];
                    actualCost.push(_actualCost);
                })

                $.each(dataMonitoringPemboran.data.tvd_plan, function (key, value) {
                    var _planningDepth = [value.days, value.depth];
                    planningDepth.push(_planningDepth);

                    var _planningCost = [value.days, value.cost];
                    planningCost.push(_planningCost);
                })

                $('#waktu-pengeboran').highcharts({
                    animation: false,
                    title: {
                        text: ''
                    },

                    subtitle: {
                        text: ''
                    },
                    credits: {
                        enabled: false
                    },
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value} ft',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: 'Depth',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        reversed: true
                    }, { // Secondary yAxis
                        title: {
                            text: 'Cost',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value} USD',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        //accessibility: {
                        //    rangeDescription: 'Range: 1 to 99999'
                        //},
                        //min: 0,
                        opposite: true,
                        //reversed: false
                    }],
                    xAxis: {
                        labels: {
                            format: '{value}',
                            step: 0
                        },
                        title: {
                            text: 'Days'
                        },
                        accessibility: {
                            rangeDescription: 'Range: 1 to 99999'
                        },
                        min: 1
                    },

                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    },
                    tooltip: {
                        formatter: function (d) {
                            return '<b>' + this.series.name + ': </b> ' + this.y + '<br/>';
                        }
                    },
                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointStart: 0,
                            animation: false
                        }
                    },
                    series:
                        [
                            {
                                name: 'Planning Depth',
                                marker: {
                                    symbol: 'square'
                                },
                                data: planningDepth
                            },
                            {
                                name: 'Actual Depth',
                                marker: {
                                    symbol: 'diamond'
                                },
                                data: actualDepth
                            },
                            {
                                name: 'Planning Cost',
                                marker: {
                                    symbol: 'square'
                                },
                                yAxis: 1,
                                data: planningCost
                            },
                            {
                                name: 'Actual Cost',
                                marker: {
                                    symbol: 'diamond'
                                },
                                yAxis: 1,
                                data: actualCost
                            }
                        ],
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                });

            }

            Highcharts.chart('container', {

                title: {
                    text: 'Solar Employment Growth by Sector, 2010-2016'
                },

                subtitle: {
                    text: 'Source: thesolarfoundation.com'
                },

                yAxis: {
                    title: {
                        text: 'Number of Employees'
                    }
                },

                xAxis: {
                    accessibility: {
                        rangeDescription: 'Range: 2010 to 2017'
                    }
                },

                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        animation: false,
                    }
                },

                series: [{
                    name: 'Installation',
                    data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
                }, {
                    name: 'Manufacturing',
                    data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
                }, {
                    name: 'Sales & Distribution',
                    data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
                }, {
                    name: 'Project Development',
                    data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
                }, {
                    name: 'Other',
                    data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
            window.status = 'PAGE_LOADED';
            //setTimeout(function () {
            //    window.status = 'PAGE_LOADED';

            //}, 2000) hasem;






        });



    </script>

}


