﻿@{
    Layout = "~/Areas/UTC/Views/Shared/_LayoutPDF.cshtml";
    string[] arrSection = ViewBag.arrSection;
}
@section Header{
    <style>
        .hide {
            display: none !important;
        }

        @@media print {
            .new-page {
                page-break-before: always;
            }

            @@page land {
                size: landscape;
            }

            .land {
                /*transform: rotate(270deg) translate(-276mm, 0);*/
                transform-origin: 0 0;
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
            }

            div.portrait, div.landscape {
                margin: 0;
                padding: 0;
                border: none;
                background: none;
            }

            div.landscape {
                transform: rotate(270deg) translate(-276mm, 0);
                transform-origin: 0 0;
            }
        }




        .page-content-wrapper {
            background-color: white !important;
        }

        .keep-together {
            page-break-inside: avoid;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }

        /*html, body {
            height: 297mm;
            width: 210mm;
            margin-left: auto;
            margin-right: auto;
        }*/

        /*#footer {
            clear: both;
            position: relative;
            z-index: 10;
            height: 3em;
            margin-top: -3em;
        }*/
        .content-container {
            /*height: 100%;*/
            /*margin: 0;*/
        }
    </style>

    <style>
        .sub-content > .col {
            float: left;
        }

        .row-cm {
            clear: both;
        }

        .col-width-2 {
            width: 16.66%;
        }

        .col-width-3 {
            width: 25%;
        }

        .col-width-4 {
            width: 33.33%;
        }

        .col-width-6 {
            width: 50%;
        }

        .col-width-12 {
            width: 100%;
        }

        .landscape {
            width: 1275px;
            height: 1650px;
            -webkit-transform: translateY(1650px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1650px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1650px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1650px) rotate(270deg); /* IE 9 */
            transform: translateY(1650px) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand'); /* IE 6-7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand')"; /* IE 8 */
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    </style>

    <style>
        /*h1 {
            font-size:xx-large;

        }*/
    </style>

    <style>
        body {
            /*font-size:5em!important;*/
        }

        #depth-chart {
            min-width: 800px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }

        @@media print {
            body {
                width: 780px;
                overflow: hidden;
            }

            #depth-chart {
                max-width: 780px;
                border: 10px dotted red;
            }
        }


        .highcharts-figure, .highcharts-data-table table {
            min-width: 1000px;
            max-width: 1200px;
            min-height: 500px;
            max-height: 800px;
            margin: 1em auto;
        }

        #container {
            height: 800px;
            max-height: 600px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 800px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        #bhabit {
            /*-ms-transform: rotate(270deg);*/ /* IE 9 */
            /*-webkit-transform: rotate(270deg); /* Safari and Chrome */
            /*-o-transform: rotate(270deg);*/ /* Opera */
            /*-moz-transform: rotate(270deg);*/ /* Firefox */
            font-size: 8pt !important;
            transform: rotate(270deg);
            -webkit-transform: translateY(1400px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1400px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1400px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1400px) rotate(270deg); /* IE 9 */
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        #section-bitReport {
            transform: scale(0.82, 0.82);
            -webkit-transform: scale(0.82, 0.82);
            -moz-transform: scale(0.82, 0.82);
            -o-transform: scale(0.82, 0.82);
            -ms-transform: scale(0.82, 0.82);
        }

        #section-lampiran-4 {
            font-size: 8pt !important;
            transform: rotate(270deg);
            -webkit-transform: translateY(1480px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1480px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1480px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1480px) rotate(270deg); /* IE 9 */
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    </style>

    <style>
        .fs-9 {
            font-size: 9pt !important;
        }

        .fs-10 {
            font-size: 10pt !important;
        }

        .fs-11 {
            font-size: 11pt !important;
        }

        .fs-12 {
            font-size: 12pt !important;
        }

        .fs-13 {
            font-size: 13pt !important;
        }

        .fs-14 {
            font-size: 14pt !important;
        }

        .fs-15 {
            font-size: 15pt !important;
        }

        .fs-16 {
            font-size: 16pt !important;
        }

        .fs-17 {
            font-size: 17pt !important;
        }

        .fs-18 {
            font-size: 18pt !important;
        }

        .fs-19 {
            font-size: 19pt !important;
        }

        .fs-20 {
            font-size: 20pt !important;
        }

        .fs-21 {
            font-size: 21pt !important;
        }

        .fs-22 {
            font-size: 22pt !important;
        }

        .fs-23 {
            font-size: 23pt !important;
        }

        .fs-24 {
            font-size: 24pt !important;
        }

        .fs-25 {
            font-size: 25pt !important;
        }
    </style>
}


<div class="content-container">
    <input hidden name="well_id" value="@ViewBag.wellId" />
    @if (arrSection.Contains("1"))
    {
        <div class="row portrait">
            <div class="col-lg-12">
                <div class="text-center">
                    <p><img src="~/Content/img/pertamina logo.png" width="600" /></p>
                    <h1 class="fs-25">
                        LAPORAN AKHIR PENGEBORAN / FINAL WELL
                        REPORT
                    </h1>
                    <h1><span class="fs-25" name="lbl_well_name">N/A</span></h1>
                </div>

                <div style="padding-top:80%" class="text-center">
                    <h1 class="fs-25">PT. PERTAMINA EP</h1>
                    <h1 class="fs-20">@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-right">
                    <p><img src="~/Content/img/pertamina logo.png" width="200" /></p>
                </div>
                <div class="text-center">
                    <h1 class="fs-25">LEMBAR PENGESAHAN / LEGALIZATION</h1>
                    <h1 class="fs-25">
                        LAPORAN AKHIR SUMUR / FINAL WELL
                        REPORT
                    </h1>
                    <h1 class="fs-25 well_name">-</h1>
                </div>
                <br />
                <div class="text-center" style="padding-top:20%">
                    <p class="fw-500 fs-15">Disusun Oleh: / Arranged By:</p>
                </div>
                <br />
                <div class="row-cm" style="padding-top:20%">
                    <div class="sub-content">
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_company_man">N/A</span>)</h3>
                            <h3 class="text-primary">Company Man</h3>
                        </div>
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_drilling_engineer">N/A</span>)</h3>
                            <h3 class="text-primary">Drilling Engineer</h3>
                        </div>
                        <div class="col col-width-4 text-center">
                            <h3 class="fw-700">(<span name="lbl_field_engineer">N/A</span>)</h3>
                            <h3 class="text-primary">Ahli Teknik Lapangan</h3>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center" style="padding-top:20%">
                    <p class="fw-500 fs-15">Disetujui Oleh: / Approved By:</p>
                </div>

                <br />
                <div class="text-center" style="padding-top:10%">
                    <h4 class="fw-700">
                        (<span name="lbl_drilling_manager">N/A</span>)
                    </h4>
                    <h4>Manajer Manajemen Pemboran</h4>
                </div>

            </div>
        </div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>
    @if (arrSection.Contains("2"))
    {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center fs-23">DAFTAR ISI / TABLE OF CONTENT</h1>
                <br />
                <h3 class="fs-15 fw-700">Cover</h3>
                <h3 class="fs-15 fw-700">Daftar Isi / Table Of Content</h3>
                <h3 class="fs-15 fw-700">BAB I PENDAHULUAN / PREFACE </h3>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li><span class="fs-13 fw-600">I.1 General Well Data</span></li>
                            <li>
                                <span class="fs-13 fw-600">I.2 Well Profile</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">I.2.I Well Profile Plan</span></li>
                                    <li><span class="fs-13 fw-600">I.2.2 Well Profile Actual</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">I.3 Final Well Schematic</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">I.3 Final Well Schematic Actual</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">I.4 Geological Summary</span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="fs-15 fw-700">BAB II PENGEBORAN / DRILLING</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-unstyled">
                            <li>
                                <span class="fs-13 fw-600">II.1 Drilling Cost Report.</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.1.1 Closed Out</span></li>
                                    <li><span class="fs-13 fw-600">II.1.2 Monitoring Budget</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">II.2 Time and Cost Distribution</span></li>
                            <li><span class="fs-13 fw-600">II.3 Time and NPT Breakdown</span></li>
                            <li><span class="fs-13 fw-600">II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report</span></li>
                            <li>
                                <span class="fs-13 fw-600">II.5 Material Recap</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.5.1 Material Recap Section (Bit Size)</span></li>
                                    <li><span class="fs-13 fw-600">II.5.2 Material Recap Section (Bit Size)</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">II.6 Mud Data</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.6.1 Mud Data Section (Bit Size)</span></li>
                                    <li><span class="fs-13 fw-600">II.6.2 Mud Data Section (Bit Size)..</span></li>
                                </ul>
                            </li>
                            <li>
                                <span class="fs-13 fw-600">II.7 Survey Report</span>
                                <ul class="list-unstyled">
                                    <li><span class="fs-13 fw-600">II.7.1 Survey Program</span></li>
                                    <li><span class="fs-13 fw-600">II.7.2 Survey Actual</span></li>
                                </ul>
                            </li>
                            <li><span class="fs-13 fw-600">II.8 Bit Record</span></li>
                        </ul>
                    </div>
                </div>
                <h3 class="fs-15 fw-700">BAB III PEMBAHASAN / ELABORATION</h3>
                <h3 class="fs-15 fw-700">BAB IV EVALUASI / EVALUATION</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN A Daily Drilling Report</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN B Daily Cost Report</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN C (Judul Lampiran / Attachment Tittle)</h3>
                <h3 class="fs-15 fw-700">LAMPIRAN D (Judul Lampiran / Attachment Tittle)</h3>
            </div>
        </div>

    }

    <div style="display:block; clear:both; page-break-after:always;"></div>

    @if (arrSection.Contains("3"))
    {
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center fs-23" style="margin-bottom: 0px;">BAB I / CHAPTER I</h1>
                <h1 class="text-center fs-23">PENDAHULUAN / PREFACE</h1>
                <br />
            </div>
        </div>

        <h3 class="fs-15 fw-700">I.1 General Well Data</h3>
        <div class="row">
            <div class="col-lg-12">
                <form id="well_info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    No. AFE / AFE No.
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13"></span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Daerah / Region
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="field_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Nama Sumur / Well Name
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Klasifikasi Sumur / Well Classification
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_classification">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Jenis Sumur / Well Type
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_type">N/A</span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Koordinat Permukaan / Suface Coordinate
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="latitude">N/A</span>,<span class="fs-13" data-objecttype="label" data-field="longitude">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Elevasi / Ground Level (GL)
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="ground_elevation">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Tinggi Lantai Bor / Rig Floor
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13"></span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Kick Off Point
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"><span class="fs-13" data-objecttype="label" data-field="kick_of_point">N/A</span></td>
                            </tr>

                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Operator
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="record_created_by">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Menara Bor / Rig Name
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="rig_name">N/A</span></td>

                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Waktu Tajak / Spud Date
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" data-field="spud_date">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Akhir Pengeboran / End of Drilling :
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13">?</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px; vertical-align: top;">
                                    Susunan Casing / Casing Schematic
                                </td>
                                <td class="fs-13" style="vertical-align: top;">:</td>
                                <td class="fs-13 pl-3" id="susunanCasing"></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p><strong>Note:</strong></p>
                                            <ol>
                                                <li><strong>Interval :</strong> Start – (End) / (Top Of Cement) End – Last Depth of Operation Activities & Hole & Casing</li>
                                                <li><strong>Size :</strong> (Casing Diameter) if cased hole ; (Hole Diameter) if open hole</li>
                                                <li><strong>From :</strong> (0) if casing ; (Casing Top of Liner) if liner</li>
                                                <li><strong>To :</strong> (Casing Setting Depth)</li>
                                                <li><strong>Grade :</strong> (Casing Grade)</li>
                                                <li><strong>Weight :</strong> (Casing Weight)</li>
                                                <li><strong>Connection :</strong> (Casing Connection)</li>
                                            </ol>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    }

    <div style="display:block; clear:both; page-break-after:always;"></div>


    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("4"))
            {
                <h3 class="fs-15 fw-700">I.2 Well Profile</h3>
                <h3 class="fs-15 fw-700">I.2.1 Well Profile Plan</h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/WellPlan.cshtml")
            }
            @if (arrSection.Contains("5"))
            {
                <h3 class="fs-15 fw-700">I.2.2 Well Profile Actual</h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/WellActual.cshtml")

            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("6"))
            {
                <h3 class="fs-15 fw-700">I.3 Final Well Schematic</h3>
                <h3 class="fs-15 fw-700">I.3.1 Final Well Schematic Actual</h3>
            }
        </div>
    </div>


    <div style="display:block; clear:both; page-break-after:always;"></div>

    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("8"))
            {
                <h3 class="fs-15 fw-700">I.4 Geological Summary</h3>
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <h5 class="text-center">Table 1.2</h5>
                            <h5 class="text-center">Geological Summary</h5>

                            <tbody>
                                @*
                                    {{#each data}}
                                    <tr>
                                        <td class="fs-13">Casing Diameter : {{thousandSeparatorDecimal casing_name}}</td>
                                        <td class="fs-13">Casing Depth : {{thousandSeparatorDecimal casing_setting_depth}}</td>
                                    </tr>
                                    {{/each}}
                                *@
                                <tr>
                                    <td class="fs-13">
                                        Markers
                                    </td>
                                    <td class="fs-13">
                                        Prognosis
                                        (API/SI)
                                    </td>
                                    <td class="fs-13">
                                        Actual
                                        (API/SI)
                                    </td>
                                    <td class="fs-13">
                                        Δ
                                        (API/SI)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fs-13">Formation</td>
                                    <td class="fs-13">ft/m</td>
                                    <td class="fs-13">ft/m</td>
                                    <td class="fs-13">ft/m</td>

                                </tr>
                            </tbody>
                        </table>
                        <p><strong>Note:</strong></p>
                        <ol>
                            <li><strong>Markers :</strong> Well – Plan Formation - Formation</li>
                            <li>
                                <strong>Prognosis :</strong> Well – Plan Formation – Depth (End Depth Formation
                                (Planning))
                            </li>
                            <li><strong>Actual :</strong> New Fitur </li>
                            <li><strong>Δ :</strong> Actual – Prognosis</li>
                        </ol>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">
                BAB II / CHAPTER 2
            </h1>
            <h1 class="text-center fs-23">PENGEBORAN / DRILLING</h1>
            <br />
            @if (arrSection.Contains("9"))
            {
                <h3 class="fs-15 fw-700">
                    II.1 Drilling Cost Report
                </h3>
                <h3 class="fs-15 fw-700">
                    II.1.1 Closed Out
                </h3>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div id="bha-directionalSurveyContent" class="collapse show" data-parent="#bha-directionalSurvey">
                            <div class="card-body">
                                <table class="table table-bordered table-hover m-0" id="tableDailyCost">
                                    <div class="text-center">
                                        <h4>Tabel 2.1 / Table 2.1</h4>
                                        <h4>Budget Schedule 19</h4>
                                    </div>
                                    <thead class="thead-themed">
                                        <tr>
                                            <th class="align-middle p-2 text-center" rowspan="2" style="width: 70%;">Description</th>
                                            <th class="text-center p-2" colspan="2">Budget</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center p-2">Plan</th>
                                            <th class="text-center p-2">Actual</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs-20">
                    @Html.Partial("~/Areas/UTC/Views/FinalReport/BS20.cshtml")
                </div>

            }
            @if (arrSection.Contains("10"))
            {
                <h3 class="fs-15 fw-700">
                    II.1.2 Monitoring Budget
                </h3>
                <form id="afe_info">
                    <table>
                        <tbody>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    No. AFE / AFE No.
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="afe_no">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Budget
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="afe_cost">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Spud Date
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" data-field="spud_date">N/A</span></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="col-md-12 p-0">
                    <div id="monitoring-budget" class="collapse show" data-parent="#monitoring-budget-tbl">
                        <div class="card-body">
                            <table class="table table-bordered table-hover m-0" id="tableMonitoringBudget">
                                <div class="text-center">
                                    <h4>Tabel 2.4 / Table 2.4</h4>
                                    <h4>Monitoring Budget</h4>
                                </div>
                                <thead class="thead-themed">
                                    <tr>
                                        <th class="align-middle p-2 text-center" rowspan="2" style="width: 5%;">Hari</th>
                                        <th class="align-middle p-2 text-center" rowspan="2" style="width: 2    0%;">Tanggal</th>
                                        <th class="text-center p-2" colspan="3">Actual</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center p-2">Daily Cost</th>
                                        <th class="text-center p-2">Cumm Cost</th>
                                        <th class="text-center p-2">% Real</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("11"))
            {
                <h3 class="fs-15 fw-700">
                    II.2 Time and Cost Distribution
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <div id="tvdchart"></div>
                    </div>
                </div>
            }

        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("12"))
            {
                <h3 class="fs-15 fw-700">
                    II.3 Time and NPT Breakdown
                </h3>
                <br />
                <div class="col-xl-12" style="margin-top: -20px;">
                    <div id="panel-1" class="mb-0">
                        <div>
                            <h2>Analysis Trayek</h2>
                        </div>
                        <div class="show">
                            <div class="page-loading-content pt-0 pb-0">
                                <div class="row mt-2" id="trayek-content">
                                    <!-- Konten trayek akan ditampilkan di sini -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("13"))
            {
                <h3 class="fs-15 fw-700">
                    II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report
                </h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/FuelReport.cshtml")
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("14"))
            {
                <h3 class="fs-15 fw-700">
                    II.5 Material Recap
                </h3>
                <h3 class="fs-15 fw-700">
                    II.5.1Material Recap Section (Bit Size)
                </h3>
                <div class="table-bitsize">
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table table-bordered" id="tblRecapSection">
                                <thead>
                                    <tr>
                                        <th class="fs-13" style="text-align: center;">Material</th>
                                        <th class="fs-13" colspan="2" style="text-align: center;">Unit</th>
                                        <th class="fs-13" style="text-align: center;">Material Used</th>
                                    </tr>
                                    <tr>
                                        <th class="fs-13" style="text-align: center;">Type (Mud Type)</th>
                                        <th class="fs-13" style="text-align: center;">Quantity Planning</th>
                                        <th class="fs-13" style="text-align: center;">Unit</th>
                                        <th class="fs-13" style="text-align: center;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("15"))
            {
                <h3 class="fs-15 fw-700">
                    II.6 Mud Data
                </h3>
                <h3 class="fs-15 fw-700">
                    II.6.1Mud Data Section (Bit Size)
                </h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/MudDataBitSize.cshtml")

            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("16"))
            {
                <h3 class="fs-15 fw-700">
                    II.7 Survey Report
                </h3>
                <form id="survey_program">
                    <table>
                        <tbody>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Company
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="unit_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Daerah / Region
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="field_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Nama Sumur / Well Name
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_name">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Wellbore
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_status">N/A</span></td>
                            </tr>
                            <tr>
                                <td class="fs-13" style="width: 250px;">
                                    Survey Calculation Method
                                </td>
                                <td class="fs-13">:</td>
                                <td class="fs-13 pl-3"> <span class="fs-13">Minimum Curvature</span></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <h3 class="fs-15 fw-700">
                    II.7.1 1Survey Program
                </h3>
                <table class="table table-bordered" id="tblSurveyProgram">
                    <h5 class="text-center">
                        Tabel 2.8 / Table 2.8
                    </h5>
                    <h5 class="text-center">Survey Program</h5>
                    <thead>
                        <tr>
                            <th class="fs-13">Measured Depth</th>
                            <th class="fs-13">Inclination</th>
                            <th class="fs-13">Azimuth</th>
                            <th class="fs-13">TVD</th>
                            <th class="fs-13">V Section</th>
                            <th class="fs-13">N/S</th>
                            <th class="fs-13">E/W</th>
                            <th class="fs-13">DLS</th>
                            <th class="fs-13">Survey Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            }
        </div>

    </div>


    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("17"))
            {
                <h3 class="fs-15 fw-700">
                    II.7.2 Survey Actual
                </h3>
                <table class="table table-bordered" id="tblSurveyActual">
                    <h5 class="text-center">
                        Tabel 2.9 / Table 2.9
                    </h5>
                    <h5 class="text-center">Survey Actual</h5>
                    <thead>
                        <tr>
                            <th class="fs-13">Measured Depth</th>
                            <th class="fs-13">Inclination</th>
                            <th class="fs-13">Azimuth</th>
                            <th class="fs-13">TVD</th>
                            <th class="fs-13">V Section</th>
                            <th class="fs-13">N/S</th>
                            <th class="fs-13">E/W</th>
                            <th class="fs-13">DLS</th>
                            <th class="fs-13">Survey Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br />
                <br />
                @Html.Partial("~/Areas/UTC/Views/FinalReport/SideView.cshtml")
                <h5 class="text-center">
                    Gambar 2.6 / Picture 2.6
                </h5>
                <br />
                @Html.Partial("~/Areas/UTC/Views/FinalReport/TopView.cshtml")
                <h5 class="text-center">
                    Gambar 2.7 / Picture 2.7

                </h5>
                <h5 class="text-center">2D Trajectory (Top View)</h5>
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            @if (arrSection.Contains("18"))
            {
                <h3 class="fs-15 fw-700">
                    II.8 Bit Record
                </h3>
                @Html.Partial("~/Areas/UTC/Views/FinalReport/BhaMudLogging.cshtml")
            }
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">
                BAB III / CHAPTER 3
            </h1>
            <h1 class="text-center fs-23">PEMBAHASAN / ELABORATION</h1>
            <br />
            <div class="bab3" id="bab3Information"></div>
        </div>
    </div>


    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">
                BAB IV / CHAPTER 4
            </h1>
            <h1 class="text-center fs-23">EVALUASI / EVALUATION</h1>
            <br />
            <div class="bab4" id="bab4Information"></div>
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">
                LAMPIRAN A / ATTACHMENT A
            </h1>
            <h1 class="text-center fs-23">DAILY DRILLING REPORT</h1>
        </div>
    </div>

    <div style="display:block; clear:both; page-break-after:always;"></div>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center fs-23" style="margin-bottom: 0px;">
                LAMPIRAN B / ATTACHMENT B
            </h1>
            <h1 class="text-center fs-23">DAILY COST REPORT</h1>

        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Content/plugins/highcharts/highcharts-v8.0.4.js"></script>
    <script src="~/Areas/UTC/Scripts/finalReport.index.js?t=@DateTime.Now"></script>

    <script id="surveyprogram-template" type="text/x-handlebars-template">
        {{#each data}}
        <tr>
            <td class="fs-13">{{measured_depth}}</td>
            <td class="fs-13">{{inclination}}</td>
            <td class="fs-13">{{azimuth}}</td>
            <td class="fs-13">{{tvd}}</td>
            <td class="fs-13">{{v_section}}</td>
            <td class="fs-13">{{n_s}}</td>
            <td class="fs-13">{{e_w}}</td>
            <td class="fs-13">{{dls}}</td>
            <td class="fs-13">{{survey_tool}}</td>
        </tr>
        {{/each}}
    </script>

    <script id="surveyactual-template" type="text/x-handlebars-template">
        {{#each data}}
        <tr>
            <td class="fs-13">{{measured_depth}}</td>
            <td class="fs-13">{{inclination}}</td>
            <td class="fs-13">{{azimuth}}</td>
            <td class="fs-13">{{tvd}}</td>
            <td class="fs-13">{{v_section}}</td>
            <td class="fs-13">{{n_s}}</td>
            <td class="fs-13">{{e_w}}</td>
            <td class="fs-13">{{dls}}</td>
            <td class="fs-13">{{survey_tool}}</td>
        </tr>
        {{/each}}
    </script>

    <script id="trayek-template" type="text/x-handlebars-template">
        {{#each data}}
        <div class="col-md-12 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
            <button type="button" id="btnWellHoleCasing-{{id}}" data-href="@Url.Content("/utc")/@ViewBag.BusinessUnitRoute/report/SingleWellNPTDetail?id={{id}}" data-toggle="modal-remote" data-target="#nptDetailModal" class="modalTrigger btn btn-info btn-md text-right waves-effect waves-themed border-0 fw-500 d-none">
                <span class="fal fa-plus"></span> Show Detail For NPT
            </button>
            <span class="fw-500" style="position: absolute; z-index: 400;">Trayek Depth : {{hole_val}} ft</span>
            <div class="trayek-analysis" id="trayek-{{id}}"></div>
        </div>
        {{/each}}
    </script>

    <script id="susunanCasingTemplate" type="text/x-handlebars-template">
        <br />
        <table class="table table-bordered">
            <h5 class="text-center">Table 1.1</h5>
            <tbody>
                @*
                    {{#each data}}
                    <tr>
                        <td class="fs-13">Casing Diameter : {{thousandSeparatorDecimal casing_name}}</td>
                        <td class="fs-13">Casing Depth : {{thousandSeparatorDecimal casing_setting_depth}}</td>
                    </tr>
                    {{/each}}
                *@
                <tr>
                    <td class="fs-13">
                        Interval
                        (API/SI)
                    </td>
                    <td class="fs-13">
                        Size
                        (API/SI)
                    </td>
                    <td class="fs-13">
                        From
                        (API/SI)
                    </td>
                    <td class="fs-13">
                        To
                        (API/SI)
                    </td>
                    <td class="fs-13">Grade</td>
                    <td class="fs-13">
                        Weight
                        (API/SI)
                    </td>
                    <td class="fs-13">Connection</td>
                </tr>
                <tr>
                    <td class="fs-13">(Start) - (End)</td>
                    <td class="fs-13"></td>
                    <td class="fs-13"></td>
                    <td class="fs-13"></td>
                    <td class="fs-13"></td>
                    <td class="fs-13"></td>
                    <td class="fs-13"></td>
                </tr>
            </tbody>
        </table>

    </script>

    <script id="bitReportTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr style="background-color: #EEF1EE !important;">
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">BHA&nbsp;#</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Bit&nbsp;Run</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Size<br />(in)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Manufacture</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important; width: 180px !important;">Bit&nbsp;Type</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Serial&nbsp;Number</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">IADC<br />Code</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Nozzles<br />(1/32")</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Depth&nbsp;In<br />(mKB)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Depth&nbsp;Out<br />(mKB)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">BHA&nbsp;ROP<br />(m/hr)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">WOB<br />(1000&nbsp;lbf)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Q&nbsp;Flow<br />Min&nbsp;(gpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Q&nbsp;Flow<br />Max&nbsp;(gpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">SPP&nbsp;Min<br />(psi)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">SPP&nbsp;Max<br />(psi)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Min&nbsp;RPM<br />(rpm)</td>
                    <td class="fw-700 text-center align-middle fs-10 pl-2 pr-2" style="background-color: #EEF1EE !important;">Max&nbsp;RPM<br />(rpm)</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_number}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_run}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal bit_size}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{manufacturer}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_type}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{serial_number}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{iadc_code}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{noozle_1}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_depth_in}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_depth_out}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{thousandSeparatorDecimal dg_rop_overall}}</td>
                    <td class="fw-700 text-center align-middle fs-10">0</td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>





    <script id="drillingDeviationTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Measure<br />Depth</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Incliation</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Azimuth</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">TVD</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Vertical<br />Section</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">N/S</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">E/W</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">DLS</td>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal measured_depth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal inclination}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal azimuth}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal tvd}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal v_section}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal n_s}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal e_w}}</td>
                    <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal dls}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="activityTemplate" type="text/x-handlebars-template">
        {{#each data}}
        <div class="card mb-g">
            <div class="card-body pb-0 px-4">
                <div class="pb-2 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Date
                                </td>
                                <td>:</td>
                                <td class="pl-2"> <span>{{drilling_date}}</span></td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Well Depth
                                </td>
                                <td>:</td>
                                <td class="pl-2"> <span>0 ft MD</span></td>
                            </tr>
                            <tr>
                                <td style="padding-right: 50px" class="fw-700">
                                    Summary
                                </td>
                                <td>:</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0 ml-0 pl-0">
                <div class="d-flex flex-column align-items-center ml-0 pl-0">
                    <!-- comment -->
                    {{#each this.data}}
                    <div class="d-flex flex-row w-100 ml-0 pl-0" style="overflow: visible;">
                        <div class="mb-0 flex-1 text-dark" style="overflow: visible;">
                            <p style="text-align:justify;overflow-wrap:break-word">{{description}}</p>
                        </div>
                    </div>
                    <!-- comment end -->
                    {{/each}}
                </div>
            </div>
        </div>
        <hr style="margin-top: 10px; margin-bottom: 10px;" />
        {{/each}}
    </script>


    <script id="bab3InformationTemplate" type="text/x-handlebars-template">
        <div class="row mt-3">
            <div class="col-md-12 fs-15">
                {{{bab_3}}}
            </div>
        </div>
    </script>
    <script id="bab4InformationTemplate" type="text/x-handlebars-template">
        <div class="row mt-3">
            <div class="col-md-12 fs-15">
                {{{bab_4}}}
            </div>
        </div>
    </script>

}


