﻿<div class="table-mud">
    <div class="row">
        <div class="col-sm-8">
            <h5 class="text-center">Tabel 2.7 / Table 2.7</h5>
            <h5 class="text-center">Mud Data Section (Bit Size)</h5>
            <table class="table table-bordered" id="tblMudDataSection">
                <thead>
                    <tr>
                        <th class="fs-13">Date</th>
                        <th class="fs-13">Time</th>
                        <th class="fs-13">MD</th>
                        <th class="fs-13">TVD</th>
                        <th class="fs-13">MW In</th>
                        <th class="fs-13">MW Out</th>
                        <th class="fs-13">T In</th>
                        <th class="fs-13">T Out</th>
                        <th class="fs-13">Press Grad</th>
                        <th class="fs-13">Visc</th>
                        <th class="fs-13">PV</th>
                        <th class="fs-13">YP</th>
                        <th class="fs-13">Gel s10 sec</th>
                        <th class="fs-13">Gel s10 Min</th>
                        <th class="fs-13">Fluid Loss</th>
                        <th class="fs-13">pH</th>
                        <th class="fs-13">Cake</th>
                        <th class="fs-13">Solids</th>
                        <th class="fs-13">Sands</th>
                        <th class="fs-13">Water</th>
                        <th class="fs-13">Oil</th>
                        <th class="fs-13">HGS</th>
                        <th class="fs-13">LGS</th>
                        <th class="fs-13">LTHP</th>
                        <th class="fs-13">HTHP</th>
                        <th class="fs-13">EStb</th>
                        <th class="fs-13">PF</th>
                        <th class="fs-13">MF</th>
                        <th class="fs-13">PM</th>
                        <th class="fs-13">ECD</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Baris data tabel -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script id="mudData-template" type="text/x-handlebars-template">
    {{#each data}}   

    {{/each}}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();

        function getDrilling() {
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: urlAPI + "/core/drilling/" + wellId + "/detailbyId",
                success: function (data) {
                    getMudData(data);
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching drilling data:", error);
                }
            });
        }

        function getMudData(drillingData) {
            var drill = drillingData.data;
            for (i = 0; i < drill.length; i++) {
                var drillingId = drill[i].id;
                //dataMudShow(drillingId);
                console.log('iji', drillingId)

                getShow(drillingId);
            }
        }

        function getShow(drillingId) {
            //console.log('iji', drillingId)
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: urlAPI + "/core/DrillingMud/" + drillingId + "/detailbyId",
                success: function (r) {
                    if (r.data !== null) {
                        //console.log("sasdwdadwdwad", r.data.mw_in)
                        var body = `
                             <tr>
                             <td class="fs-13"></td>
                             <td class="fs-13">${r.data.mud_time !== null ? r.data.mud_time : '-'}</td>
                             <td class="fs-13"></td>
                             <td class="fs-13"></td>
                            <td class="fs-13">${r.data.mw_in !== null ? r.data.mw_in : '-'}</td>
                            <td class="fs-13">${r.data.mw_out !== null ? r.data.mw_out : '-'}</td>
                            <td class="fs-13">${r.data.temp_in !== null ? r.data.temp_in : '-'}</td>
                            <td class="fs-13">${r.data.temp_out !== null ? r.data.temp_out : '-'}</td>
                            <td class="fs-13">${r.data.pres_grad !== null ? r.data.pres_grad : '-'}</td>
                            <td class="fs-13">${r.data.visc !== null ? r.data.visc : '-'}</td>
                            <td class="fs-13">${r.data.pv !== null ? r.data.pv : '-'}</td>
                            <td class="fs-13">${r.data.yp !== null ? r.data.yp : '-'}</td>
                            <td class="fs-13">${r.data.gels_10sec !== null ? r.data.gels_10sec : '-'}</td>
                            <td class="fs-13">${r.data.gels_10min !== null ? r.data.gels_10min : '-'}</td>
                            <td class="fs-13">${r.data.fluid_loss !== null ? r.data.fluid_loss : '-'}</td>
                            <td class="fs-13">${r.data.ph !== null ? r.data.ph : '-'}</td>
                            <td class="fs-13">${r.data.cake !== null ? r.data.cake : '-'}</td>
                            <td class="fs-13">${r.data.solids !== null ? r.data.solids : '-'}</td>
                            <td class="fs-13">${r.data.sand !== null ? r.data.sand : '-'}</td>
                            <td class="fs-13">${r.data.water !== null ? r.data.water : '-'}</td>
                            <td class="fs-13">${r.data.oil !== null ? r.data.oil : '-'}</td>
                            <td class="fs-13">${r.data.hgs !== null ? r.data.hgs : '-'}</td>
                            <td class="fs-13">${r.data.lgs !== null ? r.data.lgs : '-'}</td>
                            <td class="fs-13">${r.data.ltlp !== null ? r.data.ltlp : '-'}</td>
                            <td class="fs-13">${r.data.hthp !== null ? r.data.hthp : '-'}</td>
                            <td class="fs-13">${r.data.estb !== null ? r.data.estb : '-'}</td>
                            <td class="fs-13">${r.data.pf !== null ? r.data.pf : '-'}</td>
                            <td class="fs-13">${r.data.mf !== null ? r.data.mf : '-'}</td>
                            <td class="fs-13">${r.data.pm !== null ? r.data.pm : '-'}</td>
                            <td class="fs-13">${r.data.ecd !== null ? r.data.ecd : '-'}</td>
                             </tr>
                             `;
                        $("#tblMudDataSection > tbody").append(body);


                    }
                    
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching mud data:", error);
                }
            });
        }
       
        /*
        function dataMudShow(drillingId) {
            var templateScript = $("#mudData-template").html();
            var template = Handlebars.compile(templateScript);
            $.ajax({
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                url: urlAPI + "/core/DrillingMud/" + drillingId + "/detailbyId",
                success: function (r) {
                    console.log("sasaww",r.data)
                    if (r.status.success && r.data !== null) {
                        $("#tblMudDataSection > tbody").html(template({ data: r.data }));
                    } else {
                        $("#tblMudDataSection > tbody").html(`<tr class="no-data">
                    <td colspan="10" class="text-center">No data available. Add Row to input new data.</td>
                    </tr>`);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching mud data:", error);
                }
            });
        }
        */
        getDrilling();
    });

</script>