
@{
    ViewBag.Title = "FWR GENERATE";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/utc/report/genereatePDF";
    string[] arrSection = ViewBag.arrSection;

}
<style>
    #loading {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.3rem;
    }
</style>

<style>
    .note-modal .modal-header,
    .note-modal .modal-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .note-modal .modal-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

        .note-modal .modal-body .form-group {
            margin-bottom: 0.5rem !important;
        }

    .note-modal .modal-footer .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
</style>
<style>
    .hide {
        display: none !important;
    }

    @@media print {
        .new-page {
            page-break-before: always;
        }

        @@page land {
            size: landscape;
        }

        .land {
            /*transform: rotate(270deg) translate(-276mm, 0);*/
            transform-origin: 0 0;
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3)
        }

        div.portrait, div.landscape {
            margin: 0;
            padding: 0;
            border: none;
            background: none;
        }

        div.landscape {
            transform: rotate(270deg) translate(-276mm, 0);
            transform-origin: 0 0;
        }
    }




    .page-content-wrapper {
        background-color: white !important;
    }

    .keep-together {
        page-break-inside: avoid;
    }

    .break-before {
        page-break-before: always;
    }

    .break-after {
        page-break-after: always;
    }

    /*html, body {
           height: 297mm;
           width: 210mm;
           margin-left: auto;
           margin-right: auto;
       }*/

    /*#footer {
           clear: both;
           position: relative;
           z-index: 10;
           height: 3em;
           margin-top: -3em;
       }*/
    .content-container {
        /*height: 100%;*/
        /*margin: 0;*/
    }
</style>

<style>
    .sub-content > .col {
        float: left;
    }

    .row-cm {
        clear: both;
    }

    .col-width-2 {
        width: 16.66%;
    }

    .col-width-3 {
        width: 25%;
    }

    .col-width-4 {
        width: 33.33%;
    }

    .col-width-6 {
        width: 50%;
    }

    .col-width-12 {
        width: 100%;
    }

    .landscape {
        width: 1275px;
        height: 1650px;
        -webkit-transform: translateY(1650px) rotate(270deg); /* Chrome, Safari 3.1+ */
        -moz-transform: translateY(1650px) rotate(270deg); /* Firefox 3.5+ */
        -o-transform: translateY(1650px) rotate(270deg); /* Opera 10.5-12.0 */
        -ms-transform: translateY(1650px) rotate(270deg); /* IE 9 */
        transform: translateY(1650px) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */
        filter: progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand'); /* IE 6-7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand')"; /* IE 8 */
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
</style>

<style>
    /*h1 {
           font-size:xx-large;

       }*/
</style>

<style>
    body {
        /*font-size:5em!important;*/
    }

    #depth-chart {
        min-width: 800px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto
    }

    @@media print {
        body {
            width: 780px;
            overflow: hidden;
        }

        #depth-chart {
            max-width: 780px;
            border: 10px dotted red;
        }
    }


    .highcharts-figure, .highcharts-data-table table {
        min-width: 1000px;
        max-width: 1200px;
        min-height: 500px;
        max-height: 800px;
        margin: 1em auto;
    }

    #container {
        height: 800px;
        max-height: 600px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 800px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    #bhabit {
        /*-ms-transform: rotate(270deg);*/ /* IE 9 */
        /*-webkit-transform: rotate(270deg); /* Safari and Chrome */
        /*-o-transform: rotate(270deg);*/ /* Opera */
        /*-moz-transform: rotate(270deg);*/ /* Firefox */
        font-size: 8pt !important;
        transform: rotate(270deg);
        -webkit-transform: translateY(1400px) rotate(270deg); /* Chrome, Safari 3.1+ */
        -moz-transform: translateY(1400px) rotate(270deg); /* Firefox 3.5+ */
        -o-transform: translateY(1400px) rotate(270deg); /* Opera 10.5-12.0 */
        -ms-transform: translateY(1400px) rotate(270deg); /* IE 9 */
        -webkit-backface-visibility: hidden;
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    #section-bitReport {
        transform: scale(0.82, 0.82);
        -webkit-transform: scale(0.82, 0.82);
        -moz-transform: scale(0.82, 0.82);
        -o-transform: scale(0.82, 0.82);
        -ms-transform: scale(0.82, 0.82);
    }

    #section-lampiran-4 {
        font-size: 8pt !important;
        transform: rotate(270deg);
        -webkit-transform: translateY(1480px) rotate(270deg); /* Chrome, Safari 3.1+ */
        -moz-transform: translateY(1480px) rotate(270deg); /* Firefox 3.5+ */
        -o-transform: translateY(1480px) rotate(270deg); /* Opera 10.5-12.0 */
        -ms-transform: translateY(1480px) rotate(270deg); /* IE 9 */
        -webkit-backface-visibility: hidden;
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
</style>

<style>
    .fs-9 {
        font-size: 9pt !important;
    }

    .fs-10 {
        font-size: 10pt !important;
    }

    .fs-11 {
        font-size: 11pt !important;
    }

    .fs-12 {
        font-size: 12pt !important;
    }

    .fs-13 {
        font-size: 13pt !important;
    }

    .fs-14 {
        font-size: 14pt !important;
    }

    .fs-15 {
        font-size: 15pt !important;
    }

    .fs-16 {
        font-size: 16pt !important;
    }

    .fs-17 {
        font-size: 17pt !important;
    }

    .fs-18 {
        font-size: 18pt !important;
    }

    .fs-19 {
        font-size: 19pt !important;
    }

    .fs-20 {
        font-size: 20pt !important;
    }

    .fs-21 {
        font-size: 21pt !important;
    }

    .fs-22 {
        font-size: 22pt !important;
    }

    .fs-23 {
        font-size: 23pt !important;
    }

    .fs-24 {
        font-size: 24pt !important;
    }

    .fs-25 {
        font-size: 25pt !important;
    }
</style>
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/home")">Dashboard</a></li>
                            @*<li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/pep/singlewell?id=")@ViewBag.recordId">Dashboard</a></li>*@
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id="loading" style="display:none;">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="row" id="header">
    <div class="col-md-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-container show">
                <div class="form-group row mt-3 mb-1">
                    <div class="col-lg-12 text-center">
                        <button class="cmd btn btn-primary">
                            <i class="fas fa-file-pdf"></i> Generate PDF
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="body-content" id="content-fwr">
    <div class="content-container">
        <input hidden name="well_id" value="@ViewBag.wellId" />
        @if (arrSection.Contains("1"))
        {
            <div class="row portrait">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p><img src="~/Content/img/pertamina logo.png" width="600" /></p>
                        <h1 class="fs-25">
                            LAPORAN AKHIR PENGEBORAN / FINAL WELL
                            REPORT
                        </h1>
                        <h1><span class="fs-25" name="lbl_well_name">N/A</span></h1>
                    </div>

                    <div style="padding-top:80%" class="text-center">
                        <h1 class="fs-25">PT. PERTAMINA EP</h1>
                        <h1 class="fs-20">@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <p><img src="~/Content/img/pertamina logo.png" width="200" /></p>
                    </div>
                    <br />
                    <div class="text-center">
                        <h1 class="fs-25">LEMBAR PENGESAHAN / LEGALIZATION</h1>
                        <h1 class="fs-25">
                            LAPORAN AKHIR SUMUR / FINAL WELL
                            REPORT
                        </h1>
                        <h1 class="fs-25 well_name">-</h1>
                    </div>
                    <br />
                    <div class="text-center" style="padding-top:20%">
                        <p class="fw-500 fs-15">Disusun Oleh: / Arranged By:</p>
                    </div>
                    <br />
                    <div class="row-cm" style="padding-top:20%">
                        <div class="sub-content">
                            <div class="col col-width-4 text-center">
                                <h3 class="fw-700">(<span name="lbl_company_man">N/A</span>)</h3>
                                <h3 class="text-primary">Company Man</h3>
                            </div>
                            <div class="col col-width-4 text-center">
                                <h3 class="fw-700">(<span name="lbl_drilling_engineer">N/A</span>)</h3>
                                <h3 class="text-primary">Drilling Engineer</h3>
                            </div>
                            <div class="col col-width-4 text-center">
                                <h3 class="fw-700">(<span name="lbl_field_engineer">N/A</span>)</h3>
                                <h3 class="text-primary">Ahli Teknik Lapangan</h3>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="text-center" style="padding-top:20%">
                        <p class="fw-500 fs-15">Disetujui Oleh: / Approved By:</p>
                    </div>

                    <br />
                    <div class="text-center" style="padding-top:10%">
                        <h4 class="fw-700">
                            (<span name="lbl_drilling_manager">N/A</span>)
                        </h4>
                        <h4>Manajer Manajemen Pemboran</h4>
                    </div>

                </div>
            </div>
        }
        <div style="display:block; clear:both; page-break-after:always;"></div>
        @if (arrSection.Contains("2"))
        {
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center fs-23">DAFTAR ISI / TABLE OF CONTENT</h1>
                    <br />
                    <h3 class="fs-15 fw-700">Cover</h3>
                    <h3 class="fs-15 fw-700">Daftar Isi / Table Of Content</h3>
                    <h3 class="fs-15 fw-700">BAB I PENDAHULUAN / PREFACE </h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li><span class="fs-13 fw-600">I.1 General Well Data</span></li>
                                <li>
                                    <span class="fs-13 fw-600">I.2 Well Profile</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">I.2.I Well Profile Plan</span></li>
                                        <li><span class="fs-13 fw-600">I.2.2 Well Profile Actual</span></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fs-13 fw-600">I.3 Final Well Schematic</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">I.3 Final Well Schematic Actual</span></li>
                                    </ul>
                                </li>
                                <li><span class="fs-13 fw-600">I.4 Geological Summary</span></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="fs-15 fw-700">BAB II PENGEBORAN / DRILLING</h3>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li>
                                    <span class="fs-13 fw-600">II.1 Drilling Cost Report.</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">II.1.1 Closed Out</span></li>
                                        <li><span class="fs-13 fw-600">II.1.2 Monitoring Budget</span></li>
                                    </ul>
                                </li>
                                <li><span class="fs-13 fw-600">II.2 Time and Cost Distribution</span></li>
                                <li><span class="fs-13 fw-600">II.3 Time and NPT Breakdown</span></li>
                                <li><span class="fs-13 fw-600">II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report</span></li>
                                <li>
                                    <span class="fs-13 fw-600">II.5 Material Recap</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">II.5.1 Material Recap Section (Bit Size)</span></li>
                                        <li><span class="fs-13 fw-600">II.5.2 Material Recap Section (Bit Size)</span></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fs-13 fw-600">II.6 Mud Data</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">II.6.1 Mud Data Section (Bit Size)</span></li>
                                        <li><span class="fs-13 fw-600">II.6.2 Mud Data Section (Bit Size)..</span></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="fs-13 fw-600">II.7 Survey Report</span>
                                    <ul class="list-unstyled">
                                        <li><span class="fs-13 fw-600">II.7.1 Survey Program</span></li>
                                        <li><span class="fs-13 fw-600">II.7.2 Survey Actual</span></li>
                                    </ul>
                                </li>
                                <li><span class="fs-13 fw-600">II.8 Bit Record</span></li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="fs-15 fw-700">BAB III PEMBAHASAN / ELABORATION</h3>
                    <h3 class="fs-15 fw-700">BAB IV EVALUASI / EVALUATION</h3>
                    <h3 class="fs-15 fw-700">LAMPIRAN A Daily Drilling Report</h3>
                    <h3 class="fs-15 fw-700">LAMPIRAN B Daily Cost Report</h3>
                    <h3 class="fs-15 fw-700">LAMPIRAN C (Judul Lampiran / Attachment Tittle)</h3>
                    <h3 class="fs-15 fw-700">LAMPIRAN D (Judul Lampiran / Attachment Tittle)</h3>
                </div>
            </div>

        }
        <div style="display:block; clear:both; page-break-after:always;"></div>
        @if (arrSection.Contains("3"))
        {
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center fs-23" style="margin-bottom: 0px;">BAB I / CHAPTER I</h1>
                    <h1 class="text-center fs-23">PENDAHULUAN / PREFACE</h1>
                    <br />
                </div>
            </div>

            <h3 class="fs-15 fw-700">I.1 General Well Data</h3>
            <div class="row">
                <div class="col-lg-12">
                    <form id="well_info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        No. AFE / AFE No.
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"><span class="fs-13" name="bab1_afe_no"></span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Daerah / Region
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_field_name">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Nama Sumur / Well Name
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_well_name">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Klasifikasi Sumur / Well Classification
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_well_classification">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Jenis Sumur / Well Type
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_well_type">N/A</span></td>

                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Koordinat Permukaan / Suface Coordinate
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_latitude">N/A</span>,<span class="fs-13" data-objecttype="label" name="bab1_longitude">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Elevasi / Ground Level (GL)
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_ground_elevation">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Tinggi Lantai Bor / Rig Floor
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"><span class="fs-13"></span></td>

                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Kick Off Point
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"><span class="fs-13" data-objecttype="label" name="bab1_kick_of_point">N/A</span></td>
                                </tr>

                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Operator
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_record_created_by">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Menara Bor / Rig Name
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="bab1_rig_name">N/A</span></td>

                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Waktu Tajak / Spud Date
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" name="bab1_spud_date">N/A</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px;">
                                        Akhir Pengeboran / End of Drilling :
                                    </td>
                                    <td class="fs-13">:</td>
                                    <td class="fs-13 pl-3"> <span class="fs-13">?</span></td>
                                </tr>
                                <tr>
                                    <td class="fs-13" style="width: 250px; vertical-align: top;">
                                        Susunan Casing / Casing Schematic
                                    </td>
                                    <td class="fs-13" style="vertical-align: top;">:</td>
                                    <td class="fs-13 pl-3" id="susunanCasing"></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p><strong>Note:</strong></p>
                                                <ol>
                                                    <li><strong>Interval :</strong> Start – (End) / (Top Of Cement) End – Last Depth of Operation Activities & Hole & Casing</li>
                                                    <li><strong>Size :</strong> (Casing Diameter) if cased hole ; (Hole Diameter) if open hole</li>
                                                    <li><strong>From :</strong> (0) if casing ; (Casing Top of Liner) if liner</li>
                                                    <li><strong>To :</strong> (Casing Setting Depth)</li>
                                                    <li><strong>Grade :</strong> (Casing Grade)</li>
                                                    <li><strong>Weight :</strong> (Casing Weight)</li>
                                                    <li><strong>Connection :</strong> (Casing Connection)</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div class="row">
            <div class="col-sm-12">
                @if (arrSection.Contains("4"))
                {
                    <h3 class="fs-15 fw-700">I.2 Well Profile</h3>
                    <h3 class="fs-15 fw-700">I.2.1 Well Profile Plan</h3>
                    @Html.Partial("~/Areas/UTC/Views/FinalReport/WellPlan.cshtml")
                }
                @if (arrSection.Contains("5"))
                {
                    <h3 class="fs-15 fw-700">I.2.2 Well Profile Actual</h3>
                    @Html.Partial("~/Areas/UTC/Views/FinalReport/WellActual.cshtml")

                }
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>

        <div class="row">
            <div class="col-sm-12">
                @if (arrSection.Contains("6"))
                {
                    <h3 class="fs-15 fw-700">I.3 Final Well Schematic</h3>
                    <h3 class="fs-15 fw-700">I.3.1 Final Well Schematic Actual</h3>
                    <div class="col-md-12 text-center">
                        <img src="/Content/img/report/drill-header-120.png" class="img-fluid" alt="Responsive image">
                        <div id="pipe-drill-sinema" style="position: relative; z-index: 1;">
                            <div class="row">

                            </div>
                        </div>
                        <hr />
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                @if (arrSection.Contains("8"))
                {
                    <h3 class="fs-15 fw-700">I.4 Geological Summary</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table table-bordered">
                                <h5 class="text-center">Table 1.2</h5>
                                <h5 class="text-center">Geological Summary</h5>

                                <tbody>
                                    <tr>
                                        <td class="fs-13">
                                            Markers
                                        </td>
                                        <td class="fs-13">
                                            Prognosis
                                            (API/SI)
                                        </td>
                                        <td class="fs-13">
                                            Actual
                                            (API/SI)
                                        </td>
                                        <td class="fs-13">
                                            Δ
                                            (API/SI)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fs-13">Formation</td>
                                        <td class="fs-13">ft/m</td>
                                        <td class="fs-13">ft/m</td>
                                        <td class="fs-13">ft/m</td>

                                    </tr>
                                </tbody>
                            </table>
                            <p><strong>Note:</strong></p>
                            <ol>
                                <li><strong>Markers :</strong> Well – Plan Formation - Formation</li>
                                <li>
                                    <strong>Prognosis :</strong> Well – Plan Formation – Depth (End Depth Formation
                                    (Planning))
                                </li>
                                <li><strong>Actual :</strong> New Fitur </li>
                                <li><strong>Δ :</strong> Actual – Prognosis</li>
                            </ol>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("9"))
        {
            <div class="">
                <h1 class="text-center fs-23" style="margin-bottom: 0px;">BAB II / CHAPTER 2</h1>
                <h1 class="text-center fs-23">PENGEBORAN / DRILLING</h1>
            </div>
            <h3 class="fs-15 fw-700">
                II.1 Drilling Cost Report
            </h3>
            <h3 class="fs-15 fw-700">
                II.1.1 Closed Out
            </h3>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div id="bha-directionalSurveyContent" class="collapse show" data-parent="#bha-directionalSurvey">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <h4>Tabel 2.1 / Table 2.1</h4>
                                <h4>Budget Schedule 19</h4>
                            </div>
                            <table class="table table-bordered table-hover m-0" id="tableDailyCost">
                                <thead class="thead-themed">
                                    <tr>
                                        <th class="align-middle p-2 text-center" rowspan="2" style="width: 70%;">Description</th>
                                        <th class="text-center p-2" colspan="2">Budget</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center p-2">Plan</th>
                                        <th class="text-center p-2">Actual</th>
                                    </tr>
                                </thead>
                                <tbody id="budgetScheduleBody">
                                    <!-- Data rows will be inserted here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        }
        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("10"))
        {
            <h3 class="fs-15 fw-700">
                II.1.2 Monitoring Budget
            </h3>
            <form id="afe_info">
                <table>
                    <tbody>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                No. AFE / AFE No.
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="mon_afe_no">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Budget
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" name="mon_budget">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Spud Date
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span data-objecttype="label" class="date-picker fs-13" data-format="DD MMM YYYY" name="mon_spud_date">N/A</span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="col-md-12 p-0">
                <div id="monitoring-budget" class="collapse show" data-parent="#monitoring-budget-tbl">
                    <div class="card-body">
                        <table class="table table-bordered table-hover m-0" id="tableMonitoringBudget">
                            <div class="text-center">
                                <h4>Tabel 2.4 / Table 2.4</h4>
                                <h4>Monitoring Budget</h4>
                            </div>
                            <thead class="thead-themed">
                                <tr>
                                    <th class="align-middle p-2 text-center" rowspan="2" style="width: 5%;">Hari</th>
                                    <th class="align-middle p-2 text-center" rowspan="2" style="width: 20%;">Tanggal</th>
                                    <th class="text-center p-2" colspan="3">Actual</th>
                                </tr>
                                <tr>
                                    <th class="text-center p-2">Daily Cost</th>
                                    <th class="text-center p-2">Cumm Cost</th>
                                    <th class="text-center p-2">% Real</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        <div style="display:block; clear:both; page-break-after:always;"></div>
        <div style="display:block; clear:both; break-inside:avoid;page-break-inside:avoid"></div>

        @if (arrSection.Contains("11"))
        {
            <h3 class="fs-15 fw-700">
                II.2 Time and Cost Distribution
            </h3>
            <div class="row text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div id='tvdchart'></div>
                    </div>
                </div>
            </div>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("12"))
        {
            <h3 class="fs-15 fw-700">
                II.3 Time and NPT Breakdown
            </h3>
            <br />
            <div class="col-xl-12" style="margin-top: -20px;">
                <div id="panel-1" class="mb-0">
                    <div>
                        <h2>Analysis Trayek</h2>
                    </div>
                    <div class="show">
                        <div class="page-loading-content pt-0 pb-0">
                            <div class="row mt-2" id="trayek-content">
                                <!-- Konten trayek akan ditampilkan di sini -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("13"))
        {
            <h3 class="fs-15 fw-700">
                II.4 Laporan Penerimaan dan Pemakaian Solar / Fuel Report
            </h3>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>
        @if (arrSection.Contains("14"))
        {
            <h3 class="fs-15 fw-700">
                II.5 Material Recap
            </h3>
            <h3 class="fs-15 fw-700">
                II.5.1Material Recap Section (Bit Size)
            </h3>
            <div class="table-bitsize">
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-bordered" id="tblRecapSection">
                            <thead>
                                <tr>
                                    <th class="fs-13" style="text-align: center;">Material</th>
                                    <th class="fs-13" colspan="2" style="text-align: center;">Unit</th>
                                    <th class="fs-13" style="text-align: center;">Material Used</th>
                                </tr>
                                <tr>
                                    <th class="fs-13" style="text-align: center;">Type (Mud Type)</th>
                                    <th class="fs-13" style="text-align: center;">Quantity Planning</th>
                                    <th class="fs-13" style="text-align: center;">Unit</th>
                                    <th class="fs-13" style="text-align: center;">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("15"))
        {
            <h3 class="fs-15 fw-700">
                II.6 Mud Data
            </h3>
            <h3 class="fs-15 fw-700">
                II.6.1Mud Data Section (Bit Size)
            </h3>

        }

        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("16"))
        {
            <h3 class="fs-15 fw-700">
                II.7 Survey Report
            </h3>
            <form id="survey_program">
                <table>
                    <tbody>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Company
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="unit_name">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Daerah / Region
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="field_name">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Nama Sumur / Well Name
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_name">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Wellbore
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13" data-objecttype="label" data-field="well_status">N/A</span></td>
                        </tr>
                        <tr>
                            <td class="fs-13" style="width: 250px;">
                                Survey Calculation Method
                            </td>
                            <td class="fs-13">:</td>
                            <td class="fs-13 pl-3"> <span class="fs-13">Minimum Curvature</span></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <h3 class="fs-15 fw-700">
                II.7.1 1Survey Program
            </h3>
            <table class="table table-bordered" id="tblSurveyProgram">
                <h5 class="text-center">
                    Tabel 2.8 / Table 2.8
                </h5>
                <h5 class="text-center">Survey Program</h5>
                <div class="mt-2" id="lampiran-6-directionalSurvey">

                </div>
                <tbody>
                </tbody>
            </table>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>

        @if (arrSection.Contains("17"))
        {
            <h3 class="fs-15 fw-700">
                II.7.2 Survey Actual
            </h3>
            <table class="table table-bordered" id="tblSurveyActual">
                <h5 class="text-center">
                    Tabel 2.9 / Table 2.9
                </h5>
                <h5 class="text-center">Survey Actual</h5>
                <thead>
                    <tr>
                        <th class="fs-13">Measured Depth</th>
                        <th class="fs-13">Inclination</th>
                        <th class="fs-13">Azimuth</th>
                        <th class="fs-13">TVD</th>
                        <th class="fs-13">V Section</th>
                        <th class="fs-13">N/S</th>
                        <th class="fs-13">E/W</th>
                        <th class="fs-13">DLS</th>
                        <th class="fs-13">Survey Tools</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <br />
            <br />
            <h5 class="text-center">
                Gambar 2.6 / Picture 2.6
            </h5>
            <h5 class="text-center">2D Trajectory (Side View)</h5>

            <br />
            <h5 class="text-center">
                Gambar 2.7 / Picture 2.7

            </h5>
            <h5 class="text-center">2D Trajectory (Top View)</h5>
        }

        <div style="display:block; clear:both; page-break-after:always;"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/js/dist/html2pdf.bundle.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js" integrity="sha384-tpQ9Jct0yKJo0Tk30P5SpTR7A2N1o3qcjTSeB9GUe3AOkiCuVEKjS1hHjHfzCLVg" crossorigin="anonymous"></script>
<script src="~/Areas/UTC/Scripts/finalReportNew.js?t=@DateTime.Now"></script>
<script id="susunanCasingTemplate" type="text/x-handlebars-template">
    <table class="table table-bordered">
        <tbody>
            {{#each data}}
            <tr>
                <td class="fs-13">Casing Diameter : {{thousandSeparatorDecimal casing_name}}</td>
                <td class="fs-13">Casing Depth : {{thousandSeparatorDecimal casing_setting_depth}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script id="trayek-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-md-12 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
        <span class="fw-500" style="position: absolute; z-index: 400;">Trayek Depth : {{hole_val}} ft</span>
        <div class="trayek-analysis" id="trayek-{{id}}"></div>
    </div>
    {{/each}}
</script>
<script id="drillingDeviationTemplate" type="text/x-handlebars-template">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Measure<br />Depth</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Incliation</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Azimuth</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">TVD</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">Vertical<br />Section</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">N/S</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">E/W</td>
                <td class="fw-700 text-center align-middle fs-10 p-1" style="background-color: #EEF1EE !important;">DLS</td>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal measured_depth}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal inclination}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal azimuth}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal tvd}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal v_section}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal n_s}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal e_w}}</td>
                <td class="fw-700 text-center align-middle fs-10 p-1">{{thousandSeparatorDecimal dls}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
