﻿<div class="row">
    <div class="col-md-12 text-center">
        <input type="hidden" id="wellId" value="@ViewBag.wellId" />
        <div id='trajecttorySideView'></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();

        function pageFunction() {
            var loadDetail = function () {
                var $recordId = $("input[name=record_id]");

                if ($recordId.val() !== '') {
                    var loading = `<div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                                <span class="sr-only">Loading...</span>
                           </div><div class="mt-4"></div>`;
                    $("#trajecttorySideView").html(loading);

                    $.ajax({
                        url: urlAPI + '/UTC/SingleWell/Get2DTrajectory/' + wellId,
                        type: 'GET',
                        dataType: 'json',
                        success: function (r) {
                            if (r.status.success) {
                                var plan = [];
                                var actual = [];

                                if (r.data.well_deviation.length > 0) {
                                    $.each(r.data.well_deviation, function (index, value) {
                                        var _plan = [value.v_section, value.tvd];
                                        plan.push(_plan);
                                    });
                                }
                                if (r.data.drilling_deviation.length > 0) {
                                    $.each(r.data.drilling_deviation, function (index, value) {
                                        var _actual = [value.v_section, value.tvd];
                                        actual.push(_actual);
                                    });
                                }

                                var chartOptions = {
                                    chart: {
                                        renderTo: 'trajecttorySideView',
                                        type: 'spline',
                                        inverted: false
                                    },
                                    title: {
                                        text: '2D Trajectory (Side View)'
                                    },
                                    subtitle: {
                                        text: ''
                                    },
                                    xAxis: {
                                        floor: 0,
                                        tickInterval: 200,
                                        title: {
                                            text: ''
                                        }
                                    },
                                    yAxis: {
                                        floor: 0,
                                        tickInterval: 100,
                                        alignTicks: false,
                                        reversed: true,
                                        title: {
                                            text: ''
                                        }
                                    },
                                    legend: {
                                        enabled: true
                                    },
                                    tooltip: {
                                        headerFormat: '',
                                        pointFormat: '<b>V Section</b>: {point.x} mkt<br/> <b>TVD</b>: {point.y} ft'
                                    },
                                    plotOptions: {
                                        spline: {
                                            marker: {
                                                radius: 4,
                                                lineColor: 'rgb(0, 115, 183)',
                                                lineWidth: 1
                                            }
                                        }
                                    },
                                    series: [{
                                        name: 'Plan',
                                        marker: {
                                            symbol: 'square'
                                        },
                                        data: plan
                                    }, {
                                        name: 'Actual',
                                        marker: {
                                            symbol: 'diamond'
                                        },
                                        data: actual
                                    }],
                                    credits: {
                                        enabled: false
                                    }
                                };

                                if (typeof Highcharts !== 'undefined') {
                                    var chart = new Highcharts.Chart(chartOptions);
                                } else {
                                    console.error('Highcharts library is not loaded.');
                                }
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching data:", error);
                        }
                    });
                } else {
                    // Handle the case where $recordId is empty
                }
            };

            return {
                init: function () {
                    loadDetail();
                }
            };
        }

        var page = pageFunction();
        page.init();
    });

</script>
