﻿<div class="row">
    <div class="col-md-12 text-center">
        <input type="hidden" id="wellId" value="@ViewBag.wellId" />
        <div id='trajecttoryTopView'></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        'use strict';

        var wellId = $("input[name=well_id]").val();

        var pageFunction = (function () {
            var loadDetail = function () {
                var $recordId = $("input[name=record_id]");
                if ($recordId.val() !== '') {
                    var loading = `<div class="spinner-border" role="status" style="width: 4rem; height: 4rem;">
                            <span class="sr-only">Loading...</span>
                       </div><div class="mt-4"></div>`;
                    $("#trajecttoryTopView").html(loading);

                    $.ajax({
                        url: urlAPI + '/UTC/SingleWell/Get2DTrajectory/' + wellId,
                        type: 'GET',
                        dataType: 'json',
                        success: function (r) {
                            if (r.status.success) {
                                var plan = [];
                                var actual = [];

                                if (r.data.well_deviation.length > 0) {
                                    $.each(r.data.well_deviation, function (index, value) {
                                        var _plan = [value.e_w, value.n_s];
                                        plan.push(_plan);
                                    });
                                }
                                if (r.data.drilling_deviation.length > 0) {
                                    $.each(r.data.drilling_deviation, function (index, value) {
                                        var _actual = [value.e_w, value.n_s];
                                        actual.push(_actual);
                                    });
                                }

                                var chart = new Highcharts.Chart({
                                    chart: {
                                        renderTo: 'trajecttoryTopView',
                                        //type: 'spline',
                                        //inverted: false
                                    },
                                    title: {
                                        text: '2D Trajectory (Top View)'
                                    },
                                    subtitle: {
                                        text: ''
                                    },
                                    xAxis: {
                                        tickInterval: 200,
                                        /*reversed: true,*/
                                        title: {
                                            text: ''
                                        },
                                    },
                                    yAxis: {
                                        tickInterval: 200,
                                        //reversed: true,
                                        title: {
                                            text: ''
                                        },
                                    },
                                    legend: {
                                        enabled: true
                                    },
                                    tooltip: {
                                        headerFormat: '',
                                        pointFormat: '<b>E/W</b>: {point.x} mkt<br/> <b>N/S</b>: {point.y} ft'
                                    },
                                    plotOptions: {
                                        spline: {
                                            marker: {
                                                radius: 4,
                                                lineColor: 'rgb(0, 115, 183)',
                                                lineWidth: 1
                                            }
                                        }
                                    },
                                    series:
                                        [{
                                            name: 'Plan',
                                            marker: {
                                                symbol: 'square'
                                            },
                                            data: plan
                                        }, {
                                            name: 'Actual',
                                            marker: {
                                                symbol: 'diamond'
                                            },
                                            data: actual
                                        }],
                                    credits: {
                                        enabled: false
                                    },
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching data:", error);
                        }
                    });
                } else {
                    // Handle the case when $recordId is empty
                }
            };

            return {
                init: function () {
                    loadDetail();
                }
            };
        })();

        pageFunction.init();
    });
</script>
