﻿<div class="row">
    <div class="col-md-12 text-center">
        <img src="/Content/img/report/drill-header-120.png" class="img-fluid" alt="Responsive image">
        <div id="pipe-drill-actual" style="position: relative; z-index: 1;">
            <div class="row">

            </div>
        </div>
    </div>
</div>

<script id="actualHorizontal-template" type="text/x-handlebars-template">
    <div class="col-md-12 text-center">
        <div class="drill-body" style="display: flex; flex-direction: column; align-items: center; position: relative;">
            {{#each imageDataAct}}
            <div class="drill-holes" style="
                      height: 10px;
                      width: {{widht}}px;
                      background-color: #ffeb99;
                      border-left: 3px solid #8f8f8f;
                      border-right: 3px solid #8f8f8f;
                      display: flex;
                      transform: translate({{sudut}}px);
                      position: relative;">
            </div>
            {{/each}}
            <div class="drill-body" style="display: flex; flex-direction: row; right:41%; position: absolute;">
                {{#each actualDesct}}
                <!-- Section of Line Well -->
                {{#each arrayPipa}}
                <div class="line-well" style="position: relative; align-items: center; margin-right: 4px;">
                    {{#each arrayData}}
                    <div class="line" style="position: relative; top: 0; width: 3.5px; left: {{x}}px; height: 10px; background-color: #000;">
                        {{#if depth_line}}
                        <div class="row" style="color:transparent;">
                            <span class="fw-700" style="
                                                 position: relative;
                                                 top: {{hole_depth_divided}}px;
                                                 transform: translateY(-100%);
                                                 z-index: 1;
                                                 right: -70px;
                                                 height: 18px;
                                                 width: 50px;"
                                  title="{{y}}ft, Hole {{nama}}, Casing {{casing_name}}">
                                <div class="card" style="width: 130px; color:black;">{{y}} ft Hole {{nama}} Casing {{casing}}</div>
                            </span>
                            <img src="/Content/img/segitiga.png" class="" style="
                                                 position: relative;
                                                 top: {{hole_depth_divided}}px;
                                                 transform: translateY(-100%);
                                                 z-index: 1;
                                                 right: -10px;
                                                 height: 10px;"
                                 id="tooltip0"
                                 title="{{y}}ft, Hole {{hole_name}}, Casing {{casing_name}}" />
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
                <!-- End Section of Line Well -->
                {{/each}}
            </div>
        </div>
</script>
<script id="actualVertical-template" type="text/x-handlebars-template">
    <div class="col-md-12 text-center">
        <div class="drill-body" style="display: flex; flex-direction: column; align-items: center; position: relative;">
            {{#each widhtDynamic}}
            <div class="drill-holes" style="
                           height: {{hole_depth_divided}}px;
                           width: {{widthDynamicAct}}px;
                           background-color: #ffeb99;
                           border-left: 3px solid #8f8f8f;
                           border-right: 3px solid #8f8f8f;
                           display: flex;
                           position: relative;">
                <span class="fw-700" style="
                                 position: relative;
                                 top: {{hole_depth_divided}}px;
                                 transform: translateY(-100%);
                                 z-index: 1;
                                 right: -130px;
                                 height: 18px;
                                 width: 50px;"
                      id="tooltip0"
                      title="{{depth}}ft, Hole {{name}}, Casing {{casing_name}}">
                    <div class="card" style="width: 160px; color:black;">{{depth}} ft Hole {{name}} Casing {{casing_name}}</div>
                </span>
            </div>
            {{/each}}
            <div class="drill-body" style="display: flex; flex-direction: row; right:42%; position: absolute;">
                {{#each totalHoleArray}}
                <!-- Section of Line Well -->
                <div class="line-well" style="position: relative; align-items: center; margin-right: 1.5px;">
                    <div class="line" style="position: relative; top:0; height:{{totalHole}}px; width: 3.5px; right: -{{x}}px; background-color: #000;">
                        <img src="/Content/img/segitiga.png" class="" style="
                                position: relative;
                                top: {{totalHole}}px;
                                transform: translateY(-100%);
                                z-index: 1;
                                right: 0px;
                                height: 8px;" />
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();
        var actualWell = function () {
            var getTypeData = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/well/" + wellId + "/detail",
                    dataType: "json"
                })
                    .then((response) => {
                        return response.status.success ? response.data : [];
                    })
                    .fail(function (error) {
                        console.error(error);
                        return []; // Mengembalikan array kosong jika terjadi kesalahan
                    });
            };


            $.when(getTypeData()).done(function (dataType) {
                if (dataType && dataType.well_type) {
                    if (
                        dataType.well_type === "Horizontal" ||
                        dataType.well_type === "J-type"
                    ) {
                        horizontalActualWell();
                    } else if (
                        dataType.well_type === "Vertical" ||
                        dataType.well_type === "Directional"
                    ) {
                        verticalActualWell();
                    } else {
                        console.log("Invalid data type");
                    }
                } else {
                    console.error('Invalid data or missing "type" property');
                }
            });
        };

        var horizontalActualWell = function () {
            var dataActual = [];

            function getCoordinateActual() {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/drillingdeviation/" + wellId + "/listByWellId",
                    dataType: "json"
                })
                    .then((response) => {
                        return response.status.success ? response.data : [];
                    })
                    .fail(function (error) {
                        console.error(error);
                        return []; // Mengembalikan array kosong jika terjadi kesalahan
                    });
            }

            function getDescriptionActual() {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/drillingoperationactivity/getByDrillingWellIdas/" + wellId,
                    dataType: "json"
                })
                    .then((response) => {
                        return response.status.success ? response.data : [];
                    })
                    .fail(function (error) {
                        console.error(error);
                        return []; // Mengembalikan array kosong jika terjadi kesalahan
                    });
            }


            var actualImage = function (dataA, dataB) {
                var imagedata = [];
                var defaultWidthAct = 120;
                var minvalueAct = 10;

                for (const itemA of dataA) {
                    const sudutA = itemA.inclination;
                    const kedalamanA = itemA.measured_depth;
                    const imgdata = {
                        sudut: sudutA,
                        kedalaman: kedalamanA,
                        widht: defaultWidthAct,
                    };

                    const matchingDataB = dataB.find((itemB) => {
                        return (
                            itemA.measured_depth != null &&
                            itemB.hole_depth != null &&
                            itemA.measured_depth.toString().substring(0, 2) ===
                            itemB.hole_val.toString().substring(0, 2)
                        );
                    });

                    if (matchingDataB) {
                        var dynamic = (defaultWidthAct -= minvalueAct);
                        imgdata.dynamic = dynamic;
                    }
                    imagedata.push(imgdata);
                }

                return imagedata;
            };

            var actualDesc = function (dataA, dataB) {
                var descData = [];
                for (const itemA of dataA) {
                    const matchingDataB = dataB.find((itemB) => {
                        if (itemA && itemA.measured_depth != null) {
                            const kedalamanA = itemA.measured_depth
                                .toString()
                                .substring(0, 2);
                            if (itemB.hole_depth != null) {
                                const duaAngkaDepan = itemB.hole_val
                                    .toString()
                                    .substring(0, 2);
                                return kedalamanA === duaAngkaDepan;
                            } else {
                                return false;
                            }
                        } else {
                            return false;
                        }
                    });

                    if (matchingDataB) {
                        var dataAAdded = {
                            nama: matchingDataB.hole_name,
                            depth: matchingDataB.hole_depth,
                            indexHC: dataB.indexOf(matchingDataB),
                            arrayPipa: [],
                        };

                        var currentDataPlan = {
                            arrayData: [],
                        };

                        var dataTerakhirAct = false;

                        for (var k = 0; k < dataA.length; k++) {
                            currentDataPlan.arrayData.push({
                                y: dataA[k].measured_depth,
                                x: dataA[k].inclination,
                            });

                            if (
                                dataA[k].measured_depth
                                    .toString()
                                    .substring(0, 2) ===
                                matchingDataB.hole_depth.toString().substring(0, 2)
                            ) {
                                currentDataPlan.arrayData.push({
                                    y: dataA[k].measured_depth,
                                    x: dataA[k].inclination,
                                    nama: matchingDataB.hole_name,
                                    casing: matchingDataB.casing_name,
                                    depth_line: (dataTerakhirAct = true),
                                });
                                break;
                            }
                        }

                        dataAAdded.arrayPipa.push(currentDataPlan);
                        descData.unshift(dataAAdded);
                    }
                }

                return descData;
            };

            $.when(getCoordinateActual(), getDescriptionActual())
                .done(function (dataA, dataB) {
                    var imageDataAct = actualImage(dataA, dataB);
                    var actualDesct = actualDesc(dataA, dataB);
                    renderHoriActual({ imageDataAct, actualDesct });
                })
                .fail(function (errorActual) {
                    console.error(
                        "Error fetching data from Actual Well API:",
                        errorActual
                    );
                });
        };

        var verticalActualWell = function () {
            var processData = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/drillingoperationactivity/getByDrillingWellIdas/" + wellId,
                    dataType: "json"
                })
                    .then((response) => {
                        return response.status.success ? response.data : [];
                    })
                    .fail(function (error) {
                        console.error(error);
                        return []; // Mengembalikan array kosong jika terjadi kesalahan
                    });
            };


            var calculateTotalHole = function (dataV) {
                var totalLoop = 0;
                var dataActual = [];

                dataV.sort(function (a, b) {
                    return a.hole_depth - b.hole_depth;
                });

                for (const item of dataV) {
                    const hole_depth = item.hole_depth;
                    const hole_depth_divided = hole_depth / 10;
                    totalLoop += hole_depth_divided;
                    const totalHole = totalLoop;

                    const dataVerAdd = {
                        totalHole: totalHole,
                        hole_depth_divided: hole_depth_divided,
                    };

                    dataActual.push(dataVerAdd);
                }

                dataActual.sort(function (c, d) {
                    return d.totalHole - c.totalHole;
                });

                return dataActual;
            };

            var dynamicWidthAct = function (dataV) {
                var defaultWidthAct = 130;
                var minvalueAct = 10;

                var resultArray = dataV.map(function (item) {
                    const hole_depth = item.hole_depth;
                    const hole_depth_divided = hole_depth / 10;

                    var dynamic = (defaultWidthAct -= minvalueAct);

                    return {
                        name: item.hole_name,
                        depth: item.hole_depth,
                        hole_type: item.hole_type,
                        hole_depth_divided: hole_depth_divided,
                        widthDynamicAct: dynamic,
                    };
                });

                return resultArray;
            };

            $.when(processData())
                .done(function (dataV) {
                    var totalHoleArray = calculateTotalHole(dataV);
                    var widhtDynamic = dynamicWidthAct(dataV);
                    renderVartiActual({ totalHoleArray, widhtDynamic });
                })
                .fail(function (error) {
                    console.error(error);
                });
        };

        var renderHoriActual = function (dataActual) {
            var modifiedTemplateScript = $("#actualHorizontal-template").html();
            var modifiedTemplate = Handlebars.compile(modifiedTemplateScript);
            $("#pipe-drill-actual > .row").html(modifiedTemplate(dataActual));
            maskingMoney();
        };

        var renderVartiActual = function (dataArrays) {
            var modifiedTemplateScript = $("#actualVertical-template").html();
            var modifiedTemplate = Handlebars.compile(modifiedTemplateScript);
            $("#pipe-drill-actual > .row").html(modifiedTemplate(dataArrays));
            maskingMoney();
        };

        actualWell();
    });
</script>