﻿<div class="row">
    <div class="col-md-12 text-center">
        <img src="/Content/img/report/drill-header-120.png" class="img-fluid" alt="Responsive image">
        <div id="pipe-drill-plan" style="position: relative; z-index: 1;">
            <div class="row">

            </div>
        </div>
        <hr />
    </div>
</div>

<!-- End Section of Actual Well -->
<!-- Section of Plan Well -->
<script id="horizontal-template" type="text/x-handlebars-template">
    <div class="col-md-12 text-center">
        <div class="drill-body" style="display: flex; flex-direction: column; align-items: center; position: relative;">
            {{#each dataCoordinate}}
            <div class="drill-holes" style="
                              height: 10px;
                              width: {{widthDynamic}}px;
                              background-color: #ffeb99;
                              border-left: 3px solid #8f8f8f;
                              border-right: 3px solid #8f8f8f;
                              display: flex;
                              transform: translate({{sudut}}px);
                              position: relative;">
                {{#if dhDepth}}
                <span class="fw-700" style="
                                         position: relative;
                                         top: {{depth_divided}}px;
                                         transform: translateY(-100%);
                                         z-index: 1;
                                         left: -37px;
                                         height: 18px;
                                         width: 50px;"
                      id="tooltip0"
                      title="{{dhDepth}} ft, {{dhDesc}}">
                    <div class="card" style="width: 50px; border-color:red; left:-140px">DH {{indexDH}}</div>
                </span>
                {{/if}}
            </div>
            {{/each}}
            <div class="drill-body" style="display: flex; flex-direction: row; left:42%; position: absolute;">
                {{#each dataCoordinate}}
                <!-- Section of Line Well -->
                {{#each arrayPipa}}
                <div class="line-well" style="position: relative; align-items: center; margin-right: 4px;">
                    {{#each arrayData}}
                    <div class="line" style="position: relative; top: 0; width: 3.5px; left: {{x}}px; height: 10px; background-color: #000;">
                        {{#if depth_line}}
                        <div class="row" style="color:transparent;">
                            <span class="fw-700" style="
                                            position: relative;
                                            top: {{depth_divided}}px;
                                            transform: translateY(-100%);
                                            z-index: 1;
                                            left: -180px;
                                            height: 18px;
                                            width: 50px;"
                                  id="tooltip0"
                                  title="{{y}}ft, Hole {{x}}, Casing {{casing_name}}">
                                <div class="card" style="width: 160px; color:black;">{{y}} ft Hole {{x}} Casing {{casing_name}}</div>
                            </span>
                            <img src="/Content/img/segitiga2.png" class="" style="
                                           position: relative;
                                           transform: translateY(-100%);
                                           z-index: 1;
                                           left: 4.5px;
                                           height: 10px;"
                                 id="tooltip0"
                                 title="{{y}}ft, Hole {{x}}, Casing {{casing_name}}" />
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/each}}
                <!-- End Section of Line Well -->
                {{/each}}
            </div>
            <hr />
            <div class="container">
                <div class="data">
                    <table class="table table-hover table-bordered mb-g" id="tableLegendPlan">
                        <thead class="thead-themed">
                            <tr>
                                <th colspan="12" class="text-center">
                                    Keterangan Drill Hazzard
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each dataCoordinate}}
                                {{#if dhDepth}}
                                <td>DH {{indexDH}}</td>
                                {{/if}}
                                {{/each}}
                            </tr>
                            <tr>
                                {{#each dataCoordinate}}
                                {{#if dhDepth}}
                                <td>{{dhDepth}} ft {{dhDesc}}</td>
                                {{/if}}
                                {{/each}}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Horizontal Well -->
        </div>
    </div>
</script>
<script id="vertical-template" type="text/x-handlebars-template">
    <div class="col-md-12 text-center">
        <div class="drill-body" style="display: flex; flex-direction: column; align-items: center; position: relative;">
            <div class="col-md-12 text-center">
                <div class="drill-body" style="display: flex; flex-direction: column; align-items: center; position: relative;">
                    {{#each dataCoordinate}}
                    <div class="drill-holes" style="
                              height: {{hole_depth_divided}}px;
                              width: {{widthDynamic}}px;
                              background-color: #ffeb99;
                              border-left: 3px solid #8f8f8f;
                              border-right: 3px solid #8f8f8f;
                              display: flex;
                              position: relative;">
                        {{#if dhDepth}}
                        <span class="fw-700" style="
                                         position: relative;
                                         top: {{totalHole}}px;
                                         transform: translateY(-100%);
                                         z-index: 1;
                                         left: -37px;
                                         height: 18px;
                                         width: 50px;"
                              id="tooltip0"
                              title="{{dhDepth}} ft, {{dhDesc}}">
                            <div class="card" style="width: 50px; border-color:red; left:-140px">DH {{indexDH}}</div>
                        </span>
                        {{/if}}
                    </div>
                    {{/each}}
                    <div class="drill-body" style="display: flex; flex-direction: row; left:42%; position: absolute;">
                        {{#each dataCoordinate}}
                        <!-- Section of Line Well -->
                        <div class="line-well" style="position: relative; align-items: center; margin-right: 1px;">
                            <div class="line" style="position: relative; top:0; height:{{totalHole}}px; width: 3.5px; left: {{x}}px; background-color: #000;">
                                <div class="row" style="color:transparent;">
                                    <img src="/Content/img/segitiga2.png" class="" style="
                                                 top:{{totalHole}}px;
                                                 position: relative;
                                                 transform: translateY(-100%);
                                                 z-index: 1;
                                                 left: 4px;
                                                 height: 8px;"
                                         id="tooltip0"
                                         title="{{depth}} ft, Hole Name {{nama}}, Casing {{casing_name}}" />
                                    <img src="/Content/img/segitiga.png" class="" style="
                                                 position: relative;
                                                 top:{{totalHole}}px;
                                                 transform: translateY(-100%);
                                                 z-index: 1;
                                                 right: -104px;
                                                 height: 8px;"
                                         id="tooltip1"
                                         title="340ft, Hole 17.5in, Casing 13.375">
                                    <span class="fw-700" style="
                                                    position: relative;
                                                    top:{{totalHole}}px;
                                                    transform: translateY(-100%);
                                                    z-index: 1;
                                                    left: -180px;
                                                    height: 18px;
                                                    width: 50px;"
                                          id="tooltip0"
                                          title="{{depth}}ft, Hole Name {{nama}}, Casing {{casing_name}}">
                                        <div class="card" style="width: 160px; color:black;">{{depth}}ft, Hole Name {{nama}}, Casing {{casing_name}}</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End Section of Line Well -->
                        {{/each}}
                    </div>
                    <hr />
                    <div class="container">
                        <div class="data">
                            <table class="table table-hover table-bordered mb-g" id="tableLegendPlan">
                                <thead class="thead-themed">
                                    <tr>
                                        <th colspan="12" class="text-center">
                                            Keterangan Drill Hazzard
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {{#each dataCoordinate}}
                                        {{#if dhDepth}}
                                        <td>DH {{indexDH}}</td>
                                        {{/if}}
                                        {{/each}}
                                    </tr>
                                    <tr>
                                        {{#each dataCoordinate}}
                                        {{#if dhDepth}}
                                        <td>{{dhDepth}} ft {{dhDesc}}</td>
                                        {{/if}}
                                        {{/each}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Horizontal Well -->
                </div>
            </div>
        </div>
    </div>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var wellId = $("input[name=well_id]").val();
        var displayAll = function () {
            var getTypeData = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/well/" + wellId + "/detail",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
            };


            $.when(getTypeData()).done(function (dataType) {
                if (dataType && dataType.well_type) {
                    if (dataType.well_type === "Horizontal") {
                        horizontalPlanWell();
                    } else if (dataType.well_type === "Vertical" || dataType.well_type === "Directional") {
                        verticalPlanWell();
                    } else {
                        console.error("Invalid data type");
                    }
                } else {
                    console.error('Invalid data or missing "type" property');
                }
            });
        };

        var horizontalPlanWell = function () {
            var daftarTampli = [];
            var xStart = -10;
            var getCordinatePlan = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/WellDeviation/" + wellId + "/detailByWellId",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
            };

            var getDescription = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/wellholeandcasing/" + wellId + "/getAllByWellId",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
            };

            var getDrillHazzard = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/DrillingHazard/" + wellId + "/detailbywellid",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
            };



            $.when(getCordinatePlan(), getDescription(), getDrillHazzard())
                .done(function (dataA, dataB, dataC) {
                    var xStart = 0;
                    var daftarTampli = [];
                    var currentBaseWidth = 120;

                    for (const itemA of dataA) {
                        const sudutA = itemA.inclination;
                        const kedalamanA = itemA.measured_depth;
                        let baseWidth = currentBaseWidth;
                        const longLine = dataA.indexOf(itemA) * 10;
                        const totalLoop = dataB.length;

                        const dataAAdded = {
                            sudut: sudutA,
                            kedalaman: kedalamanA,
                            longline: longLine,
                            widthDynamic: baseWidth,
                            totalLoops: totalLoop,
                            arrayPipa: [],
                        };

                        const matchingDataB = dataB.find(
                            (itemB) =>
                                kedalamanA.toString().substring(0, 3) ===
                                itemB.hole_depth.toString().substring(0, 3)
                        );

                        if (matchingDataB) {
                            dataAAdded.nama = matchingDataB.hole_name;
                            dataAAdded.depth = matchingDataB.hole_depth;
                            dataAAdded.indexHC = dataB.indexOf(matchingDataB);
                            dataAAdded.startX = xStart + 10;
                            currentBaseWidth -= 13.5;

                            xStart += 10;

                            var currentDataPlan = {
                                arrayData: [],
                            };

                            var dataTerakhir = false;

                            for (var k = 0; k < dataA.length; k++) {
                                currentDataPlan.arrayData.push({
                                    y: dataA[k].measured_depth,
                                    x: dataA[k].inclination,
                                });

                                if (
                                    dataA[k].measured_depth
                                        .toString()
                                        .substring(0, 3) ===
                                    matchingDataB.hole_depth
                                        .toString()
                                        .substring(0, 3)
                                ) {
                                    currentDataPlan.arrayData.push({
                                        y: dataA[k].measured_depth,
                                        x: dataA[k].inclination,
                                        depth_line: (dataTerakhir = true),
                                    });
                                    break;
                                }
                            }

                            dataAAdded.arrayPipa.push(currentDataPlan);
                        }

                        const matchingDataH = dataC.find(
                            (itemC) =>
                                kedalamanA.toString().substring(0, 3) ===
                                itemC.depth.toString().substring(0, 3)
                        );

                        if (matchingDataH) {
                            dataAAdded.dhDepth = matchingDataH.depth;
                            dataAAdded.dhDesc = matchingDataH.description;
                            dataAAdded.indexDH = dataC.indexOf(matchingDataH);
                        }
                        daftarTampli.push(dataAAdded);
                    }
                    renderHorizontalPlanData(daftarTampli);
                })
                .fail(function (error) {
                    console.error(error);
                });
        };

        var verticalPlanWell = function () {
            var totalHoleDepthDivided = 0;
            var verticalData = [];

            var getVeriticalData = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/wellholeandcasing/" + wellId + "/getAllByWellId",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
                    
            };

            var getVerticalDrillHazzard = function () {
                return $.ajax({
                    type: "GET",
                    url: urlAPI + "/core/DrillingHazard/" + wellId + "/detailbywellid",
                    dataType: "json"
                })
                    .then((response) => response.status.success ? response.data : []);
            };



            $.when(getVeriticalData(), getVerticalDrillHazzard())
                .done(function (dataV, dataVDH) {
                    console.log("asdawdwdadwad",dataV, dataVDH)

                    var defaultWidthPlan = 130;
                    var minvaluePlan = 10;
                    for (const item of dataV) {
                        const hole_name = item.hole_name;
                        const hole_depth = item.hole_depth;
                        const hole_type = item.hole_type;
                        const hole_depth_divided = item.hole_depth / 10;

                        defaultWidthPlan -= minvaluePlan;
                        const dynamicWidth = defaultWidthPlan;

                        const maxHoleDepth = Math.max(
                            ...dataV.map((item) => item.hole_depth / 10)
                        );
                        const lineHole = item.hole_depth / 10;
                        totalHoleDepthDivided += lineHole;
                        const totalHole = totalHoleDepthDivided;

                        const dataVerAdd = {
                            nama: hole_name,
                            depth: hole_depth,
                            hole_type: hole_type,
                            hole_depth_divided: hole_depth_divided,
                            widthDynamic: dynamicWidth,
                            maxHoleDepth: maxHoleDepth,
                            lineHole: lineHole,
                            totalHole: totalHole,
                        };

                        const matchingDataHV = dataVDH.find(
                            (itemC) =>
                                hole_depth.toString().substring(0, 3) ===
                                itemC.depth.toString().substring(0, 3)
                        );

                        if (matchingDataHV) {
                            dataVerAdd.dhDepth = matchingDataHV.depth;
                            dataVerAdd.dhDesc = matchingDataHV.description;
                            dataVerAdd.indexDH = dataVDH.indexOf(matchingDataHV);
                        }

                        verticalData.push(dataVerAdd);
                    }
                    renderVerticalPlanData(verticalData);
                })
                .fail(function (error) {
                    console.error(error);
                });
        };

        var renderHorizontalPlanData = function (verticalData) {
            var modifiedTemplateScript = $("#horizontal-template").html();
            var modifiedTemplate = Handlebars.compile(modifiedTemplateScript);
            $("#pipe-drill-plan > .row").html(
                modifiedTemplate({ dataCoordinate: verticalData })
            );
        };

        var renderVerticalPlanData = function (verticalData) {
            var modifiedTemplateScript = $("#vertical-template").html();
            var modifiedTemplate = Handlebars.compile(modifiedTemplateScript);
            $("#pipe-drill-plan > .row").html(
                modifiedTemplate({ dataCoordinate: verticalData })
            );
        };

        displayAll();
    });
</script>
