﻿@{
    ViewBag.Title = "Application Role";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/applicationrole";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!--Bootstrap Modal without Animation-->
<!--===================================================-->

<div class="modal" id="applicationRoleModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-applicationRole">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h5 class="modal-title">Role Setup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form id="form-applicationRole">
                    <input hidden id="recordId" name="id" data-field="id" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Role Name</label>
                                    <input type="text" name="role_name" data-field="role_name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer pt-0">
                <button id="btn-save" class="btn btn-primary">Save changes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Role List</h2>
                <div class="panel-toolbar">
                    <button class="btn btn-info" id="btn-addNew" style="margin-right: 5px;">Add New</button>
                    <button class="btn btn-warning btn-labeled" id="btn-syncEntity"><i class="btn-label ion-load-c"></i> Synchronize</button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag mb-2">
                        Create new security roles. Manage and delete existing security roles for your organization
                    </div>
                    <div class="panel-tag mb-2" id="page-role-content-no_record" style="display:none">
                        <strong>Information</strong> No records found.
                    </div>
                    <div id="page-role-content" class="row col-lg-6 col-md-10 col-sm-12">

                    </div>
                    <div class="row mb-md-3">
                        <div id="page-loading-content" style="min-height:300px">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-loading-content"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<script id="role-template" type="text/x-handlebars-template">
    {{#each items}}
    <div class="card pl-3 pt-3 mb-1 w-100">
        <span class="fw-500" style="letter-spacing: 0.5px;">{{role_name}}</span>
        <div class="demo mt-2 role-id" data-id="{{id}}">
            <a class="btn btn-light waves-effect waves-themed row-edit">Edit</a>
            <a class="btn btn-warning waves-effect waves-themed row-delete">Delete</a>
            <a href="@Url.Content("~/core/applicationrole/roleaccess?id="){{id}}" class="btn btn-success waves-effect waves-themed">Role Access</a>
            <a href="@Url.Content("~/core/applicationrole/member?id="){{id}}" class="btn btn-info waves-effect waves-themed">Role Member</a>  
            <a href="@Url.Content("~/core/applicationrole/menu?roleId="){{id}}&roleName={{role_name}}" class="btn btn-primary waves-effect waves-themed">Setup Menu</a>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script src="~/Areas/Core/Scripts/applicationRole.index.js?@DateTime.Now"></script>
}