﻿@{
    ViewBag.Title = "Role Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/applicationrole";

    string CategoryId = "47d03a74-4920-0671-756c-4ca62b170964";
}


<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb page-breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
                <li class="breadcrumb-item">@ViewBag.Title</li>
                <li class="breadcrumb-item active">@ViewBag.roleName</li>
                
                <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
            </ol>
        </div>
    </div>
}

@section PageHeading {

}



<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <input hidden name="role_id" id="role_id" value="@ViewBag.roleId" />
                <div class="panel-toolbar ml-2">
                    <select id="application_module" name="application_module"></select>
                </div>
                <div class="panel-toolbar">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn dropdown-toggle waves-effect waves-themed selected-menu-category" data-toggle="dropdown" data-selected="@CategoryId" aria-expanded="false">SIDEBAR </button>
                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: top, left; top: 35px; left: 0px;">
                            <a class="dropdown-item" data-value="@CategoryId" href="javascript:void(0)">SIDEBAR</a>
                        </div>
                        @*data-href="@Url.Content("/core/applicationmenu/managedetail?id=")&categoryId=@CategoryId"*@
                        <button id="btnAdd" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#applicationMenuManageModal" disabled>
                            <span class="fal fa-plus mr-1"></span>
                            Add New
                        </button>

                    </div>
                </div>
            </div>
            <div class="panel-container show">

                <div class="panel-content page-loading-content">
                    <!-- Your content here-->
                    <p class="text-semibold text-uppercase text-main application-menu-category-name"></p>

                    <div id="applicationMenu-tree">Please Add a New Menu</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <script src="~/Content/plugins/jstree/jstree.min.js"></script>
    <script src="~/Areas/Core/Scripts/applicationRole.menu.js?_@DateTime.Now"></script>
}