﻿@{
    ViewBag.Title = "Role Access";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Home/Index";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/applicationrole")">Application Role</a></li>
                            <li class="breadcrumb-item active fw-700">Role Access</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2 class="panel-title text-main text-bold" id="role_name">:: &nbsp;</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="page-loading-content" class="panel-body" style="min-height:300px" data-toggle="panel-overlay" data-target="#dt_team">
                        <div class="table-responsive">
                            <input hidden id="recordId" value="@ViewBag.recordId" />

                            <div class="col-sm-12">
                                <div class="table-responsive" style="overflow-x: hidden;">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr style="background-color: transparent">
                                                <th class="pt-4 pb-0"><pie class="ten" /></th>
                                                @*<button class="btn btn-default add-tooltip" data-toggle="tooltip" data-container="body" data-placement="left" data-original-title="Tooltip on left">Tooltip on left</button>*@
                                                <th class="pt-4 pb-4"><a href="javacript:void(0)" class="add-tooltip set-role-all" data-toggle="tooltip" data-access="ACCESS_NOACCESS" data-container="body" data-placement="top" data-original-title="Click, To set entities use this role" style="margin-top:3px">No Access</a></th>
                                                <th class="pt-4 pb-4"><pie class="twentyfive" /></th>
                                                <th class="pt-4 pb-0"><a href="javacript:void(0)" class="add-tooltip set-role-all" data-toggle="tooltip" data-access="ACCESS_OWNRECORD" data-container="body" data-placement="top" data-original-title="Click, To set entities use this role" style="margin-top:3px">Own Record / User</a></th>
                                                <th class="pt-4 pb-0"><pie class="fifty" /></th>
                                                <th class="pt-4 pb-0"><a href="javacript:void(0)" class="add-tooltip set-role-all" data-access="ACCESS_BUSINESSUNIT" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Click, To set entities use this role" style="margin-top:3px">Business Unit</a></th>
                                                <th class="pt-4 pb-0"><pie class="seventyfive" /></th>
                                                <th class="pt-4 pb-0"><a href="javacript:void(0)" class="add-tooltip set-role-all" data-access="ACCESS_PARENTCHILD" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Click, To set entities use this role" style="margin-top:3px">Parent:Child Business Unit</a></th>
                                                <th class="pt-4 pb-0"><pie class="onehundred" /></th>
                                                <th class="pt-4 pb-0"><a href="javacript:void(0)" class="add-tooltip set-role-all" data-access="ACCESS_ORGANIZATION" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Click, To set entities use this role" style="margin-top:3px">Full Access</a></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <table id="dt_basic" class="table " cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="min-tablet">No.</th>
                                            <th class="min-tablet">Entity</th>
                                            <th width="50px" class="min-desktop text-center">Create</th>
                                            <th width="50px" class="min-desktop text-center">Read</th>
                                            <th width="50px" class="min-desktop text-center">Update</th>
                                            <th width="50px" class="min-desktop text-center">Delete</th>
                                            @*<th width="50px" class="min-desktop text-center">Approve</th>*@
                                            <th class="min-desktop text-center">Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===================================================-->
<!--End page content-->



@section scripts{
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/applicationRole.roleAccess.js?_@DateTime.Now"></script>
}