﻿

@{
    ViewBag.Title = "RKAP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/rkap";

}

<!--DataTables [ OPTIONAL ]-->
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">

<style>
    .swal2-container {
        z-index: 3000;
    }
</style>
<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }

    .panel.combo-p.panel-htop {
        z-index: 9999 !important;
    }

    .textbox.easyui-fluid.combo {
        border: 1px solid #E5E5E5;
    }

        .textbox.easyui-fluid.combo,
        .textbox.easyui-fluid.combo span,
        .textbox.easyui-fluid.combo input {
            padding-left: 10px;
            background-color: white;
        }

            .textbox.easyui-fluid.combo input {
                padding-left: 0px;
            }

                .textbox.easyui-fluid.combo:hover,
                .textbox.easyui-fluid.combo span:hover,
                .textbox.easyui-fluid.combo input:hover {
                    cursor: pointer;
                }
</style>
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--===================================================-->
<div class="modal fade default-example-modal-right-md modal-remote" id="rkapRealization" tabindex="-1" role="dialog" aria-hidden="true" style="z-index:99999!important">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rkap Realization</h4>
            </div>

            <div class="modal-body">
                <form id="form-realization" class="needs-validation" novalidate>
                    <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <hr />
                        <div class="form-group row mt-4 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_status">Type<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <select class="form-control form-control-input well-status select2-default" id="well_status" name="well_status" data-field="well_status" data-text required="">
                                    <option value="0">Original Well</option>
                                    <option value="1">Side Track</option>
                                    <option value="2">Work Over</option>
                                    <option value="3">Well Services</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Name<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" name="well_name" data-field="well_name" class="form-control form-control-sm" readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_name">APH<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" id="unit_name" name="unit_name" data-field="unit_name" class="form-control" required readonly>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="field_name">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input id="field_name" name="field_name" data-field="field_name" class="form-control" required readonly>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-well-submit" class="btn btn-info">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Start page content-->
<div class="modal" id="rkapModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-rkap">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">Rkap Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form id="form-rkap" class="needs-validation" novalidate>
                    <input type="hidden" id="recordId" name="id" data-field="id" />
                    <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_classification">Well Classification<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select class="form-control" id="well_classification" name="well_classification" data-field="well_classification" required>
                                    <option value="Appraisal">Exploration</option>
                                    <option value="Development">Development</option>
                                    <option value="Exploration">Workover (KUPL)</option>
                                    <option value="Horizontal">Well Servces</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Well Name<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input type="text" class="form-control" id="well_name" name="well_name" data-field="well_name" placeholder="Well Name" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="business_unit_id">APH<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" class="form-control" required style="width:100%;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="field_id">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input id="field_id" name="field_id" data-field="field_id" data-text="field_name" class="form-control" required style="width:100%;z-index:99">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="spud_date">SPUD Date</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control date-picker" placeholder="SPUD date" id="spud_date" name="spud_date" data-field="spud_date" data-format="MM/dd/yyyy" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="planned_days">Planned Days</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="planned_days" name="planned_days" data-field="planned_days" data-text="planned_days" placeholder="Planned Days" required />
                                    @*<div class="input-group-append border-0 uom-background">
                                            <input type="text" class="form-control-plaintext uom-definition" id="planned_days_uom" value="days" style="border: 1px solid #ccc;">
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="rig_id">Rig<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select class="form-control" id="rig_id" name="rig_id" data-field="rig_id" data-text="rig_name" required></select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="hp">Horse Power<span class="text-danger"> *</span></label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="horse_power" name="horse_power" data-field="horse_power" data-text="horse_power" placeholder="Horse Power" required />
                            </div>

                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="water_depth">Water Depth</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="water_depth" name="water_depth" data-field="water_depth" data-text="water_depth" placeholder="Water Depth" required />
                            </div>

                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="budget">Budget</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="budget" name="budget" data-field="budget" placeholder="Budget" required />
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-save" class="btn btn-primary">Save</button>
                <button id="btn-realization" class="btn btn-sm btn-success">
                    Realization
                </button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Page content-->
<!--===================================================-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-info btn-sm">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                    <a id="btn-viewchart" class="btn btn-info btn-sm ml-2" href="@Url.Content("/core/rkap/calendar")">
                        <span class="fal fa-calendar-exclamation mr-1"></span>
                        View Calendar
                    </a>
                    <a id="btn-viewchart" class="btn btn-info btn-sm ml-2" href="@Url.Content("/core/rkap/chart")">
                        <span class="fal fa-chart-bar mr-1"></span>
                        View Chart
                    </a>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content table-responsive">
                    <table id="dt_listRkap" class="table table-striped table-bordered w-100" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Well Name</th>
                                <th>Well Clasification</th>
                                <th>APH</th>
                                <th>Field</th>
                                <th>Spud Dateddawdad</th>
                                <th>Status</th>
                                @*<th>Well ID</th>*@
                                <th style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<style>
    .pagination {
        background: white !important;
    }
</style>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Areas/Core/Scripts/rkap.index.js?_@DateTime.Now"></script>
}


