@{
    ViewBag.Title = "Schedule RKAP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/rkap";
}

@*<link href="~/Content/js/fullcalendar/fullcalendar.css" rel="stylesheet" />*@
<style>
    #calendar {
        margin: 40px auto;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div id='calendar' style="width:100%;"></div>


@section scripts{
    @*@<script src="~/Content/js/fullcalendar/fullcalendar.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js" integrity="sha384-VD+WdjckER3eMbvl66TSy/eolZSnKBQfbO/UgdW5jpzjrxs8UfkR1cPaLrkTAX88" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var calendar;
            var currentYear = new Date().getFullYear();

            var initCalendar = function (year) {
                $.ajax({
                    type: "GET",
                    url: $.helper.resolveApi('~/core/rkap/calendar?year=' + year),
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({}),
                    dataType: 'json',
                    success: function (r) {
                        console.log("Complete API response:", r);
                        var calendarEl = document.getElementById('calendar');

                        if (calendar) {
                            calendar.destroy();
                        }

                        console.log("Events before rendering:", r.events);
                        console.log("Resources before rendering:", r.resource);

                        r.events.forEach(event => {
                            console.log("Event detail:", event);
                        });

                        r.resource.forEach(resource => {
                            console.log("Resource detail:", resource);
                        });

                        calendar = new FullCalendar.Calendar(calendarEl, {
                            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                            aspectRatio: 1.5,
                            locale: "gb",
                            headerToolbar: {
                                left: "prev,next",
                                center: "title",
                                right: "resourceTimelineYears"
                            },
                            initialView: "resourceTimelineYears",
                            nowIndicator: true,
                            views: {
                                resourceTimelineYears: {
                                    type: 'resourceTimeline',
                                    duration: { years: 1 },
                                    buttonText: '1 Year',
                                    slotDuration: { weeks: 1 }
                                }
                            },
                            slotLabelFormat: [
                                { month: "long" },
                                { week: "short" }
                            ],
                            resourceAreaHeaderContent: "Rooms",
                            refetchResourcesOnNavigate: true,
                            resourceAreaWidth: '40%',
                            resourceOrder: 'area,well',
                            resourceAreaColumns: [
                                {
                                    group: true,
                                    field: 'area',
                                    headerContent: 'AREA'
                                },
                                {
                                    group: true,
                                    field: 'well',
                                    headerContent: 'WELL'
                                },
                                {
                                    //group: true,
                                    field: 'jadwal',
                                    headerContent: 'JADWAL'
                                },
                                {
                                    group: true,
                                    field: 'rig',
                                    headerContent: 'RIG'
                                },
                                {
                                    group: true,
                                    field: 'hpWd',
                                    headerContent: 'HP/WD'
                                },
                            ],
                            resources: r.resource,
                            events: r.events
                        });

                        calendar.render();
                        calendar.gotoDate(year + '-01-01');
                    },
                    error: function () {
                        console.log('err');
                    }
                });
            }

            // Handle previous year button click
            $(document).on('click', '.fc-prev-button', function () {
                currentYear--;
                initCalendar(currentYear);
                console.log("Year changed to:", currentYear);
            });

            // Handle next year button click
            $(document).on('click', '.fc-next-button', function () {
                currentYear++;
                initCalendar(currentYear);
                console.log("Year changed to:", currentYear);
            });

            initCalendar(currentYear);
        });
    </script>
}