﻿@{
    ViewBag.Title = "Chart RKAP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/rkap";
}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Year<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    <select class="form-control" id="filteryear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 d-none" id="formFilter">
                            <div class="form-group row mt-3 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilter" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart showing stacked columns for comparing quantities. Stacked charts
        are often used to visualize data that accumulates to a sum. This chart
        is showing data labels for each individual section of the stack.
    </p>
</figure>
-->

<h1 class="mb-4">Development</h1>
<div class="row mb-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Chart 1 -->
        <div id="container1"></div>
        <br />
        <div class="row" style="margin-top: -10px;">
            <div class="col-md-12">
                <div id="panel-1" class="panel mb-1">
                    <div class="panel-container show">
                        <div class="panel-content page-loading-content">
                            <div class="tableData">
                                <!-- Table will be rendered here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Chart 2 -->
        <div id="container2"></div>
        <br />
        <div class="row" style="margin-top: -10px;">
            <div class="col-md-12">
                <div id="panel-1" class="panel mb-1">
                    <div class="panel-container show">
                        <div class="panel-content page-loading-content">
                            <div class="tableData1">
                                <!-- Table will be rendered here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="mb-4">Exploration</h1>
<div class="row mb-4">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Chart 3 -->
        <div id="container3"></div>
        <br />
        <div class="row" style="margin-top: -10px;">
            <div class="col-md-12">
                <div id="panel-1" class="panel mb-1">
                    <div class="panel-container show">
                        <div class="panel-content page-loading-content">
                            <div class="tableData2">
                                <!-- Table will be rendered here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!-- Chart 4 -->
        <div id="container4"></div>
        <br />
        <div class="row" style="margin-top: -10px;">
            <div class="col-md-12">
                <div id="panel-1" class="panel mb-1">
                    <div class="panel-container show">
                        <div class="panel-content page-loading-content">
                            <div class="tableData3">
                                <!-- Table will be rendered here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{

    <script src="~/Content/plugins/highcharts/highcharts-v8.0.4.js"></script>
    <style>
        .bordered-table {
            width: 100%;
            border-collapse: collapse;
        }

            .bordered-table th,
            .bordered-table td {
                border: 1px solid #000;
                padding: 8px;
                text-align: left;
            }

            .bordered-table th {
                background-color: #f2f2f2;
            }

            .bordered-table .text-center {
                text-align: center;
            }

    </style>
    <script id="tableData-template" type="text/x-handlebars-template">
        <table class="bordered-table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Original RKAP</th>
                    <th>CO</th>
                    <th>Revised RKAP</th>
                    <th>Realization</th>
                    <th>Ongoing</th>
                    <th>Outlook Spud</th>
                    <th>Outlook Complete</th>
                </tr>
            </thead>
            <tbody class="table">
                {{#if dataArray.length}}
                {{#each dataArray}}
                <tr>
                    <td>{{name}}</td>
                    {{#each data}}
                    <td class="tableArray">{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td class="text-center" colspan="8">Data is not available this year</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </script>

    <script id="tableData1-template" type="text/x-handlebars-template">
        <table class="bordered-table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Original RKAP</th>
                    <th>CO</th>
                    <th>Revised RKAP</th>
                    <th>Realization</th>
                    <th>Ongoing</th>
                    <th>Outlook Spud</th>
                    <th>Outlook Complete</th>
                </tr>
            </thead>
            <tbody class="table">
                {{#if dataArray1.length}}
                {{#each dataArray1}}
                <tr>
                    <td>{{name}}</td>
                    {{#each data}}
                    <td class="tableArray">{{this}}$</td>
                    {{/each}}
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td class="text-center" colspan="8">Data is not available this year</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </script>

    <script id="tableData2-template" type="text/x-handlebars-template">
        <table class="bordered-table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Original RKAP</th>
                    <th>CO</th>
                    <th>Revised RKAP</th>
                    <th>Realization</th>
                    <th>Ongoing</th>
                    <th>Outlook Spud</th>
                    <th>Outlook Complete</th>
                </tr>
            </thead>
            <tbody class="table">
                {{#if dataArray2.length}}
                {{#each dataArray2}}
                <tr>
                    <td>{{name}}</td>
                    {{#each data}}
                    <td class="tableArray">{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td class="text-center" colspan="8">Data is not available this year</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </script>

    <script id="tableData3-template" type="text/x-handlebars-template">
        <table class="bordered-table table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Original RKAP</th>
                    <th>CO</th>
                    <th>Revised RKAP</th>
                    <th>Realization</th>
                    <th>Ongoing</th>
                    <th>Outlook Complete</th>
                </tr>
            </thead>
            <tbody class="table">
                {{#if dataArray3.length}}
                {{#each dataArray3}}
                <tr>
                    <td>{{name}}</td>
                    {{#each data}}
                    <td class="tableArray">{{this}}$</td>
                    {{/each}}
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td class="text-center" colspan="8">Data is not available this year</td>
                </tr>
                {{/if}}
            </tbody>
        </table>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dataYear = [];
            var currentYear = new Date().getFullYear();
            var year = 2010;
            while (currentYear >= year) {
                dataYear.push(currentYear);
                currentYear--;
            }

            $("#filteryear").select2({
                placeholder: "Select a Year",
                allowClear: true,
                data: dataYear
            }).on('select2:select', function (e) {
                console.log(e.params.data);
                initCharts(e.params.data.id);
            });

            var year = 2023
            var initCharts = function (year) {
                initChart(year, 'container1');
                tableData(year);
                initChart1(year, 'container2');
                tableData1(year);
                initChart2(year, 'container3');
                tableData2(year);
                initChart3(year, 'container4');
                tableData3(year);
            }

            var tableData = function (year) {
                $.get($.helper.resolveApi("~/core/rkap/getChartDataDevelopment?year=" + year), function (response) {
                    console.log("asdadsad", response)
                    var source = $("#tableData-template").html();
                    var template = Handlebars.compile(source);
                    var context = { dataArray: response }; // Adjust this based on your actual response structure
                    var html = template(context);
                    $(".tableData").html(html);
                });
            }


            var tableData1 = function (year) {
                $.get($.helper.resolveApi("~/core/rkap/getChartBudgetDevelopment?year=" + year), function (response) {
                    console.log("budget", response)
                    var source = $("#tableData1-template").html();
                    var template = Handlebars.compile(source);
                    var context = { dataArray1: response }; // Adjust this based on your actual response structure
                    var html = template(context);
                    $(".tableData1").html(html);
                });
            }


            var tableData2 = function (year) {
                $.get($.helper.resolveApi("~/core/rkap/getChartDataExploration?year=" + year), function (response) {
                    //console.log("asdadsad", response)
                    var source = $("#tableData2-template").html();
                    var template = Handlebars.compile(source);
                    var context = { dataArray2: response }; // Adjust this based on your actual response structure
                    var html = template(context);
                    $(".tableData2").html(html);
                });
            }


            var tableData3 = function (year) {
                $.get($.helper.resolveApi("~/core/rkap/getChartBudgetExploration?year=" + year), function (response) {
                    //console.log("asdadsad", response)
                    var source = $("#tableData3-template").html();
                    var template = Handlebars.compile(source);
                    var context = { dataArray3: response }; // Adjust this based on your actual response structure
                    var html = template(context);
                    $(".tableData3").html(html);
                });
            }

            var initChart = function (year, containerId) {
                $.get($.helper.resolveApi("~/core/rkap/getChartDataDevelopment?year=" + year), function (r) {
                    //console.log('ini chart satu',r);

                    Highcharts.chart(containerId, {
                        chart: {
                            type: 'column',
                            height: 600,
                        },
                        title: {
                            text: 'Program',
                            align: 'center'
                        },
                        xAxis: {
                            categories: ['Original RKAP', 'CO', 'Revised RKAP', 'Realization', 'Ongoing', 'Outlook Spud', 'Outlook Complete']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Well Number'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray',
                                    textOutline: 'none'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: r
                    });
                });
            }

            var initChart1 = function (year, containerId) {
                $.get($.helper.resolveApi("~/core/rkap/getChartBudgetDevelopment?year=" + year), function (r) {
                    console.log(r);

                    Highcharts.chart(containerId, {
                        chart: {
                            type: 'column',
                            height: 600,
                        },
                        title: {
                            text: 'Budget',
                            align: 'center'
                        },
                        xAxis: {
                            categories: ['Original RKAP', 'CO', 'Revised RKAP', 'Realization', 'Ongoing', 'Outlook Spud', 'Outlook Complete']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Budget $ (M)'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray',
                                    textOutline: 'none'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y} $<br/>Total: {point.stackTotal} $'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: r
                    });
                });
            }

            var initChart2 = function (year, containerId) {
                $.get($.helper.resolveApi("~/core/rkap/getChartDataExploration?year=" + year), function (r) {
                    console.log(r);

                    Highcharts.chart(containerId, {
                        chart: {
                            type: 'column',
                            height: 600,
                        },
                        title: {
                            text: 'Program',
                            align: 'center'
                        },
                        xAxis: {
                            categories: ['Original RKAP', 'CO', 'Revised RKAP', 'Realization', 'Ongoing', 'Outlook Spud', 'Outlook Complete']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Well Number'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray',
                                    textOutline: 'none'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: r
                    });
                });
            }

            var initChart3 = function (year, containerId) {
                $.get($.helper.resolveApi("~/core/rkap/getChartBudgetExploration?year=" + year), function (r) {
                    console.log(r);

                    Highcharts.chart(containerId, {
                        chart: {
                            type: 'column',
                            height: 600,
                        },
                        title: {
                            text: 'Budget',
                            align: 'center'
                        },
                        xAxis: {
                            categories: ['Original RKAP', 'CO', 'Revised RKAP', 'Realization', 'Ongoing', 'Outlook Complete']
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: 'Budget $ (M)'
                            },
                            stackLabels: {
                                enabled: true,
                                style: {
                                    fontWeight: 'bold',
                                    color: ( // theme
                                        Highcharts.defaultOptions.title.style &&
                                        Highcharts.defaultOptions.title.style.color
                                    ) || 'gray',
                                    textOutline: 'none'
                                }
                            }
                        },

                        tooltip: {
                            headerFormat: '<b>{point.x}</b><br/>',
                            pointFormat: '{series.name}: {point.y} $ <br/>Total: {point.stackTotal}'
                        },
                        plotOptions: {
                            column: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true
                                }
                            }
                        },
                        series: r
                    });
                });
            }

            // Inisialisasi grafik untuk tahun saat ini saat halaman dimuat
            initCharts(new Date().getFullYear());
        });
    </script>
}

