﻿
@{
    ViewBag.Title = "RKAP";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/rkap";

}

<!--DataTables [ OPTIONAL ]-->
<link rel="stylesheet" media="screen, print" href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">

<style>
    .form-control {
        border-radius: 0px;
    }

    .select2-selection {
        font-weight: 400 !important;
        border-radius: 0px !important;
        padding-left: 5px;
    }

    .select2-selection__rendered {
        /*padding: 0;
        margin: -5px;*/
    }

    .select2-selection__rendered {
        padding-left: 7px !important;
    }

    .badge.badge-icon {
        top: -43px !important;
        /*left: -70px !important;*/
        min-width: 8px !important;
        min-height: 8px !important;
        width: 8px;
        height: 8px;
        background-color: red;
        position: relative !important;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #3788d8;
        border-radius: 10px;
    }

    .uom-background {
        background-color: #F1F3F1;
    }

    .uom-definition {
        width: 70px;
        text-align: center;
    }
</style>
<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }

    .panel.combo-p.panel-htop {
        z-index: 9999 !important;
    }

    .textbox.easyui-fluid.combo {
        border: 1px solid #E5E5E5;
    }

        .textbox.easyui-fluid.combo,
        .textbox.easyui-fluid.combo span,
        .textbox.easyui-fluid.combo input {
            padding-left: 10px;
            background-color: white;
        }

            .textbox.easyui-fluid.combo input {
                padding-left: 0px;
            }

                .textbox.easyui-fluid.combo:hover,
                .textbox.easyui-fluid.combo span:hover,
                .textbox.easyui-fluid.combo input:hover {
                    cursor: pointer;
                }
</style>
<link rel="stylesheet" media="screen, print" href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="rkapHistory" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">RKAP History</h4>
            </div>
            <div class="modal-body">
                <table id="historyTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Well Name</th>
                            <th>Spud Date</th>
                            <th>Status</th>
                            <!-- Add more table headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="rkapRealisasi" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-rkapRealisasi">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">RKAP Realisasi</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body" style="max-height: 400px; overflow-y: auto;">
                <form id="form-rkapRealisasi" class="needs-validation" novalidate>
                    <input type="hidden" id="recordId" name="id" data-field="id" />
                    <div class="panel-body" id="formrealisasi" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="header_id">RKAP<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="header_id" id="header_id" name="header_id" data-field="header_id" placeholder="-" readonly hidden>
                                    <span class="form-control" data-text="header_name" id="header_name" name="header_name" data-field="header_name" placeholder="-" readonly></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Well Names<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select class="form-control" id="well_id" name="well_id" data-field="well_id" data-text="well_id" required></select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="planned_days">Well Classification<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="well_classification" id="well_classification_real" name="well_classification" data-field="well_classification" placeholder="-" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="field_id">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="business_unit_id_real" id="business_unit_id_real" name="business_unit_id" data-field="business_unit_id" placeholder="-" readonly hidden>
                                    <input type="text" class="form-control" data-text="field_id_real" id="field_id_real" name="field_id" data-field="field_id" placeholder="-" readonly hidden>
                                    <span class="form-control" data-text="field_name" id="field_name" name="field_name" data-field="field_name" placeholder="-" readonly></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="spud_date">SPUD Date</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="spud_date" name="spud_date" data-field="spud_date" data-text="spud_date" data-format="dd/mm/yyyy" placeholder="-" readonly>
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="planned_days">Planned Days<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="planned_days" name="planned_days" data-field="planned_days" placeholder="-" required inputmode="numeric" />
                                    <div class="input-group-append border-0 uom-background">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">Days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="rig_id">Rig<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="rig_id_real" id="rig_id_real" name="rig_id" data-field="rig_id" placeholder="-" readonly hidden>
                                    <span class="form-control" data-text="rig_name" id="rig_name" name="rig_name" data-field="rig_name" placeholder="-" readonly></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="hp_no">Horse Power<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="hp_no" id="hp_no" name="hp_no" data-field="hp_no" placeholder="-" readonly>
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">HP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="water_depth">Water Depth<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="water_depth" id="water_depth" name="water_depth" data-field="water_depth" placeholder="-" readonly>
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">Ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="budget">Budget</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" data-text="budget" id="budget" name="budget" data-field="budget" placeholder="-" readonly>
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-saveReal" class="btn btn-primary">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--Start page content-->
<div class="modal" id="rkapModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-rkap">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">RKAP Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form id="form-rkap" class="needs-validation" novalidate>
                    <input type="hidden" id="recordId" name="id" data-field="id" />
                    <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_classification">Well Classification<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select class="form-control" id="well_classification" name="well_classification" data-field="well_classification" required>
                                    <option value="Development">Development</option>
                                    <option value="Exploration">Exploration</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Well Name<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input type="text" class="form-control" id="well_name" name="well_name" data-field="well_name" placeholder="Well Name" required>
                            </div>
                        </div>
                        @*<div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Region<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input class="form-control" id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" required style="width:100%;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                            </div>
                        </div>*@
                        <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Region<span class="text-danger"> *</span></label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input class="form-control" id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" required style="margin: 0px 500px 0px 0px; padding-left: 10px; width: 300px;">
                                    <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                                </div>
                        </div>
                        @*<div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Zona<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input class="form-control" id="field_id" name="field_id" data-field="field_id" data-text="field_name" required style="width:100%;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                            </div>
                        </div>*@
                        <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Zona<span class="text-danger"> *</span></label>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input class="form-control" id="field_id" name="field_id" data-field="field_id" data-text="field_name" required style="margin: 0px 500px 0px 0px; padding-left: 10px; width: 300px;">
                                    <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                                </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="spud_date">SPUD Date</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control date-picker" placeholder="SPUD date" id="spud_date" name="spud_date" data-field="spud_date" data-format="dd/mm/yyyy" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text fs-xl">
                                            <i class="fal fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-3" for="planned_days">Planned Days</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    @*<input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="planned_days" name="planned_days" data-field="planned_days" data-objectname="Planned Days" placeholder="Planned Days" required />*@
                                    <input type="text" class="form-control numeric" id="planned_days" name="planned_days" data-field="planned_days" data-objectname="Planned Days" placeholder="Planned Days" required />
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">Days</span>
                                    </div>
                                </div>
                                <small class="form-text text-muted">Example: 0.00</small>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="rig_id">Rig<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <select class="form-control" id="rig_id" name="rig_id" data-field="rig_id" data-text="rig_name" required></select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="hp">Horse Power<span class="text-danger"> *</span></label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="hp_no" name="hp_no" data-field="hp_no" placeholder="Horse Power" required />
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">HP</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="water_depth">Water Depth</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="water_depth" name="water_depth" data-field="water_depth" placeholder="Water Depth" required />
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">ft</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="budget">Budget</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="budget" name="budget" data-field="budget" placeholder="Budget" required />
                                    <div class="input-group-append border-0">
                                        <span class="input-group-text no-radius" style="min-width: 60px;">USD</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-save" class="btn btn-primary">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Page content-->
<!--===================================================-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-info btn-sm">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>

                    @*<button id="btn-real" class="btn btn-success btn-sm ml-2 row-realisasi">
                            <span class="fal fa-plane-alt mr-1"></span>
                            Realisasi
                        </button>*@

                    <button data-href="@Url.Content("/Core/rkap/Calendar")" class="btn btn-info btn-sm ml-2" onclick="window.location.href = this.getAttribute('data-href');">
                        <span class="fal fa-calendar-alt mr-1"></span>
                        View Calendar
                    </button>
                    <button data-href="@Url.Content("/Core/rkap/Chart")" class="btn btn-info btn-sm ml-2" onclick="window.location.href = this.getAttribute('data-href');">
                        <span class="fal fa-chart-bar mr-1"></span>
                        View Chart
                    </button>

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listRkap" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Well Name</th>
                                <th>Well Clasification</th>
                                <th>Spud Date</th>
                                <th>Realisasi</th>
                                <th>History</th>
                                <th style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<style>
    .pagination {
        background: white !important;
    }
</style>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="~/Areas/Core/Scripts/rkap.index.js"></script>
}