﻿@{
    ViewBag.Title = "Well Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Home/Index";

}
<style>
    .form-control {
        border-radius: 0px;
    }

    .select2-selection {
        /*padding: 4px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;*/
        /*height: 25px !important;*/
        font-weight: 400 !important;
        border-radius: 0px !important;
        padding-left: 5px;
    }

    .select2-selection__rendered {
        /*padding: 0;
        margin: -5px;*/
    }

    .select2-selection__rendered {
        padding-left: 7px !important;
    }

    .badge.badge-icon {
        top: -43px !important;
        /*left: -70px !important;*/
        min-width: 8px !important;
        min-height: 8px !important;
        width: 8px;
        height: 8px;
        background-color: red;
        position: relative !important;
    }

    .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
        background-color: #3788d8;
        border-radius: 10px;
    }

    .uom-background {
        background-color: #F1F3F1;
    }

    .uom-definition {
        width: 70px;
        text-align: center;
    }
</style>
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0">
                            <li class="breadcrumb-item fw-700"><a class="" href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/wellwi")">@ViewBag.Title</a></li>
                            <li class="breadcrumb-item fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section PageHeading {
    <!--===================================================-->
    <!--Start page content-->

    @*<div class="modal fade default-example-modal-right-sm modal-remote" id="objectUomMapModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-right modal-xl">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <div class="modal" id="holeCasingModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
            </div>
        </div>
    </div>

    <div class="modal" id="multicasingModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
            </div>
        </div>
    </div>*@

    <div class="row">
        <div class="col-lg-12 p-0">
            <div id="panel-1" class="panel page-loading-content">
                <div class="panel-hdr">
                    <h2>
                        @ViewBag.Title
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#GWI"><i class="fal fa-home mr-1"></i>General Well Intervention Info</a> <span class="badge badge-icon error-tab error-gwi" style="display: none;">&nbsp;</span></li>
                        </ul>
                        <div class="border px-3 pt-0 pb-0 rounded">
                            <div class="tab-content pt-4">
                                <div id="GWI" class="tab-pane fade show active" role="tabpanel">
                                    <div class="text-right">
                                        <button id="btn-saveGeneralInfo" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px;">Save</button>
                                    </div>
                                    <form id="form-gwi" class="needs-validation" novalidate>
                                        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
                                        <div class="form-group row mb-3">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label" for="environment">Environment</label>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                <div class="frame-wrap">
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" id="well-onshore" name="environment" value="onshore">
                                                        <label class="custom-control-label" for="well-onshore">Onshore</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" class="custom-control-input" id="well-offshore" name="environment" value="offshore">
                                                        <label class="custom-control-label" for="well-offshore">Offshore</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="well_name">Well Name<span class="text-danger"> *</span></label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" id="well_name" name="well_name" data-field="well_name" placeholder="Well Name" required>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="country_id">Country<span class="text-danger"> *</span></label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select class="form-control" id="country_id" name="country_id" data-field="country_id" data-text="country_name" required></select>
                                                <div class="invalid-feedback">Country cannot be empty</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="business_unit_id">Zona<span class="text-danger"> *</span></label>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                @*<input id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" class="form-control" required style="width:100%;z-index:99">
                                                <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>*@
                                                <span>: </span><label class="pt-2" data-field="unit_name" data-name="unit_name" data-objecttype="label">-</label> 
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="field_id">Field<span class="text-danger"> *</span></label>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                @*<input type="hidden" readonly="" class="form-control" id="field_id" data-field="field_id" name="field_id" required>*@
                                                @*<a href="javascript:void(0);" data-field="field_name" class="form-control row text-left text-bold btn-link fw-700 pt-2" id="field-lookup" style="border:none; color: #4679cc!important; margin-left: -10px;">: Choose a Field</a>*@
                                                <span>: </span><label class="pt-2" data-field="field_name" data-name="field_name" data-objecttype="label">-</label>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="well_status">Project Type<span class="text-danger"> *</span></label>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                <span>: </span><label class="pt-2" id="well_status" data-name="well_status" data-objecttype="label">-</label>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="well_type">Well Type<span class="text-danger"> *</span></label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select class="form-control" id="well_type" name="well_type" data-field="well_type" required>
                                                    <option value="Directional">Directional</option>
                                                    <option value="Horizontal">Horizontal</option>
                                                    <option value="J-type">J-type</option>
                                                    <option value="S-type">S-type</option>
                                                    <option value="Vertical">Vertical</option>
                                                </select>
                                                <div class="invalid-feedback">Well type cannot be empty</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="well_classification">Well Classification<span class="text-danger"> *</span></label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select class="form-control" id="well_classification" name="well_classification" data-field="well_classification" required>
                                                    <option value="Appraisal">Appraisal</option>
                                                    <option value="Development">Development</option>
                                                    <option value="Exploration">Exploration</option>
                                                    <option value="Horizontal">Horizontal</option>
                                                    <option value="Re-Entry">Re-Entry</option>
                                                    <option value="Infill">Infill</option>
                                                    <option value="Step_Out">Step Out</option>
                                                    <option value="Inter_Fill">Inter Fill</option>
                                                    <option value="Side_Track">Side Track</option>
                                                    <option value="Work_Over">Work Over</option>
                                                </select>
                                                <div class="invalid-feedback">Well classification cannot be empty</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="detail_well_classification">Detail Well Classification<span class="text-danger"> *</span></label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select class="form-control" id="detail_well_classification" name="detail_well_classification" data-field="detail_well_classification" required>
                                                    <option value="Wildcat_well">Wildcat Well</option>
                                                    <option value="Discovery_well">Discovery Well</option>
                                                    <option value="Dry_hole">Dry Hole</option>
                                                    <option value="Step-out_well">Step-out Well</option>
                                                    <option value="Production_well">Production Well</option>
                                                    <option value="Marginal_well">Marginal Well</option>
                                                    <option value="Injection_well">Injection Well</option>
                                                    <option value="Disposal_well">Disposal Well</option>
                                                    <option value="Service_well">Service Well</option>
                                                    <option value="Stratigraphic_well">Stratigraphic Well</option>
                                                    <option value="Abandoned_well">Abandoned Well</option>
                                                    <option value="Stripper_well">Stripper Well</option>
                                                    <option value="Re-entry_well">Re-entry Well</option>
                                                    <option value="Infill_well">Infill Well</option>
                                                    <option value="Inter_fill">Inter Fill</option>
                                                    <option value="Side_Track">Side Track</option>
                                                </select>
                                                <div class="invalid-feedback">Detail Well classification cannot be empty</div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="spud_date">SPUD Date</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control date-picker" placeholder="SPUD date" id="spud_date" name="spud_date" data-format="MM/dd/yyyy" data-field="spud_date" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text fs-xl">
                                                            <i class="fal fa-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="afe_cost">AFE Cost</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="afe_cost" name="afe_cost" data-field="afe_cost" placeholder="AFE Cost" required />
                                                    <div class="input-group-append border-0">
                                                        <span class="input-group-text no-radius" style="min-width: 60px;">USD</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="daily_cost">Daily Cost</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="daily_cost" name="daily_cost" data-field="daily_cost" placeholder="Daily Cost" required />
                                                    <div class="input-group-append border-0">
                                                        <span class="input-group-text no-radius" style="min-width: 60px;">USD</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="latitude">Geo Location</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="latitude" name="latitude" data-field="latitude" data-text="latitude" placeholder="Latitude" required />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="longitude" name="longitude" data-field="longitude" data-text="longitude" placeholder="Longitude" required />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="drilling_contractor">Drilling Contractor</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select type="text" class="form-control form-control-sm" name="drilling_contractor_id" id="drilling_contractor_id" data-field="drilling_contractor_id" data-text="contractor_name" placeholder="" required></select>
                                                <div class="invalid-feedback">Drilling contractor cannot be empty</div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-2" id="form-group-water-depth" style="display: none;">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="water_depth">Water Depth</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="water_depth" name="water_depth" data-field="water_depth" placeholder="Water Depth" />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="water_depth_uom" data-objectname="Water Depth" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2" id="form-group-rt_to_seabed" style="display: none;">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-labell pt-2" for="rt_to_seabed">RT to Seabed</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="rt_to_seabed" name="rt_to_seabed" data-field="rt_to_seabed" placeholder="RT to Seabed" />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="rt_to_seabed_uom" data-objectname="RT to Seabed" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="rig_heading">Rig Heading</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control" id="rig_heading" name="rig_heading" data-field="rig_heading" placeholder="Rig Heading" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="rig_heading_uom" data-objectname="Rig Heading" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="planned_td">Planned TD</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="planned_td" value="-" readonly style="background-color: white;" />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="planned_td_uom" data-objectname="Planned TD" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="planned_days">Planned Days</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="planned_days" value="-" readonly style="background-color: white;" />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="planned_days_uom" data-objectname="Planned Days" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="rkb_elevation">RKB Elevation</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="rkb_elevation" name="rkb_elevation" data-field="rkb_elevation" placeholder="RKB Elevation" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="rkb_elevation_uom" data-objectname="RKB Elevation" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="well_head_elevation">Well Head Elevation</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="well_head_elevation" name="well_head_elevation" data-field="well_head_elevation" placeholder="Well Head Elevation" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="well_head_elevation_uom" data-objectname="Well Head Elevation" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="datum_elevation">Datum Elevation</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="datum_elevation" name="datum_elevation" data-field="datum_elevation" placeholder="Datum Elevation" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="datum_elevation_uom" data-objectname="Datum Elevation" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="air_gap">Air Gap</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="air_gap" name="air_gap" data-field="air_gap" placeholder="Air Gap" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="air_gap_uom" data-objectname="Air Gap" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="ground_elevation">Ground Elevation</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="ground_elevation" name="ground_elevation" data-field="ground_elevation" placeholder="Ground Elevation" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="ground_elevation_uom" data-objectname="Ground Elevation" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="kick_of_point">Kick of Point</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control" id="kick_of_point" name="kick_of_point" data-field="kick_of_point" placeholder="Kick Of Point" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="kick_of_point_uom" data-objectname="Kick of Point" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="kop_depth">Kick of Point Depth</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="kop_depth" name="kop_depth" data-field="kop_depth" placeholder="Kick Of Point Depth" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="kop_depth_uom" data-objectname="Kick of point depth" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="target_direction">Target Direction</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="target_direction" name="target_direction" data-field="target_direction" placeholder="Target Direction" required />
                                                    <div class="input-group-append border-0 uom-background">
                                                        <input type="text" class="form-control-plaintext uom-definition" id="target_direction_uom" data-objectname="Target Direction" placeholder="Uom" readonly="" style="border: 1px solid #ccc;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="fluid_production">Fluid Production</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" id="fluid_production" name="fluid_production" data-field="fluid_production" placeholder="Fluid Production" required>
                                            </div>
                                        </div>
                                        @*<div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="fluid_production">Fluid Production</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="fluid_production" name="fluid_production" data-field="fluid_production" placeholder="Fluid Production" required />
                                                </div>
                                            </div>
                                        </div>*@
                                        <div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="offset_well">Offset Well</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" class="form-control" id="offset_well" name="offset_well" data-field="offset_well" placeholder="Offset Well" required>
                                            </div>
                                        </div>
                                        @*<div class="form-group row mb-2">
                                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="fluid_production">Offset Well</label>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="input-group">
                                                    <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="offset_well" name="offset_well" data-field="offset_well" placeholder="Offset Well" required />
                                                </div>
                                            </div>
                                        </div>*@
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--===================================================-->
    <!--End page content-->

}

@section Scripts{
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Areas/Core/Scripts/wellwi.detail.js?_@DateTime.Now"></script>
}