﻿<style>
    .swal2-container {
        z-index: 3000;
    }
</style>
<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }

    .panel.combo-p.panel-htop {
        z-index: 9999 !important;
    }

    .textbox.easyui-fluid.combo {
        border: 1px solid #E5E5E5;
    }

        .textbox.easyui-fluid.combo,
        .textbox.easyui-fluid.combo span,
        .textbox.easyui-fluid.combo input {
            padding-left: 10px;
            background-color: white;
        }

            .textbox.easyui-fluid.combo input {
                padding-left: 0px;
            }

                .textbox.easyui-fluid.combo:hover,
                .textbox.easyui-fluid.combo span:hover,
                .textbox.easyui-fluid.combo input:hover {
                    cursor: pointer;
                }
</style>
<!--Modal header-->

<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<div class="modal-header pb-0">
    <h4 class="modal-title">Create New Well Intervention</h4>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <form id="formNewWell" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="bussiness_unit_id" name="bussiness_unit_id" data-field="bussiness_unit_id" value="@ViewBag.PrimaryBusinessUnitId" />
        <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
            <hr />
            <div class="form-group row mt-4 mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_status">Project Type<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control form-control-input well-status select2-default" id="well_status" name="well_status" data-field="well_status" data-text required="">
                        <option value="0">Original Well (Drilling)</option>
                        <option value="1">Side Track (Drilling) </option>
                        <option value="2">Work Over</option>
                        <option value="3">Well Services</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2 mb-0 blockParentWell">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="parent_well">Parent<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select disabled type="text" class="form-control form-control-sm select2-default" name="parent_well" id="parent_well" data-field="parent_well" data-text="parent_well" placeholder=""></select>
                </div>
            </div>
            <div class="form-group row mt-2 mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="well_name" data-field="well_name" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mt-4 mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_type">Well Type<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control form-control-input well-status select2-default" id="well_type" name="well_type" data-field="well_type" data-text required="">
                        <option value="Directional">Directional</option>
                        <option value="Horizontal">Horizontal</option>
                        <option value="J-type">J-type</option>
                        <option value="S-type">S-type</option>
                        <option value="Vertical">Vertical</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mt-2 mb-0 row-parent">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Region<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" class="form-control" required style="width:100%;z-index:99">
                    <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mt-2 mb-0 row-parent">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Zona<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input id="field_id" name="field_id" data-field="field_id" data-text="field_name" class="form-control" required style="width:100%;z-index:99">
                    <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
<script src="~/Areas/Core/Scripts/wellwi.new.js?_@DateTime.Now"></script>