﻿@{
    ViewBag.Title = "Project Area";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @ViewBag.Title;
    ViewData["PageName"] = "/core/ProjectArea";

}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            @* <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>*@
                            <li class="breadcrumb-item active fw-700"><a href="@Url.Content("/UTC/APH/ProjectArea")">@ViewBag.Title</a></li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<div class="modal fade" id="WellModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-Well">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Well</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>

            <!--Modal body-->
            <div class="modal-body p-0">
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-1" class="panel">
            @*<div class="panel-hdr">
                    <h2>@ViewBag.Title List</h2>
                    <div class="panel-toolbar">
                        <a href="@Url.Content("~/well/detail")" class="btn btn-sm btn-info waves-effect waves-themed"><span class="fal fa-plus mr-1"></span> Add New</a>
                    </div>
                </div>*@
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <div id="" @*class="dataTables_wrapper dt-bootstrap4"*@>
                        <table id="dt_well" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th style="width: 1px;">No</th>
                                    <th>Field Name</th>
                                    <th>Well Name</th>
                                    <th>Well Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/UTC/Scripts/projectArea.js?_@DateTime.Now"></script>
    @*<script src="~/Areas/Core/Scripts/well.index.js?_@DateTime.Now"></script>*@

}