﻿<div class="modal-header pb-0">
    <h4 class="modal-title">
        Lithology
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>

</div>
<div class="modal-body mt-0 pt-0">
    <div class="loading-detail d-flex align-items-center" style="visibility:collapse">
        <strong>Loading...</strong>
        <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
    </div>
 
    <form id="form-Stone" class="needs-validation " novalidate>

        <input hidden id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="form-group">
            <label class="form-label" for="name">Name<span class="text-danger"> *</span></label>
            <input type="text" name="name" data-field="name" id="name" class="form-control">
        </div>
        @*<div class="form-group mb-0">
                <label class="form-label">File (Browser)</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="files">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>*@
        <div class="form-group">
            <label class="form-label" for="example-fileinput">Default file input</label>
            <input type="file" id="files" class="form-control-file">
            <input type="hidden" id="image" class="form-control-file" name="image">
        </div>
    </form>
</div>
<div class="modal-footer pt-0">
    <button type="button" class="btn btn-sm btn-info" id="btn-save">
        Save changes
    </button>
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>



<script src="~/Areas/Core/Scripts/stone.detail.js?@DateTime.Now"></script>