﻿@{
    ViewBag.Title = "Lithology";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Lithology";
    ViewData["PageName"] = "/Stone";

}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section PageHeading {

}


<!-- Modal center -->
<div class="modal fade modal-remote" id="StoneModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/Core/stone/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#StoneModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <div id="" @*class="dataTables_wrapper dt-bootstrap4"*@>
                        <table id="dt_stone" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th style="width: 1px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/stone.index.js?_@DateTime.Now"></script>

}