﻿<style>
    .invisible-border-input {
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #495057;
        padding: 4px;
        border-radius: 4px;
        outline: none;
    }

        .invisible-border-input:focus,
        .invisible-border-input:not(:placeholder-shown) {
            border: 0.5px solid #dcdcdc;
            box-shadow: none;
        }
</style>

<div class="row">
    <!-- Attachments Section -->
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-attachments" class="panel" style="display: none;">
            <input type="hidden" id="well_id_attach" name="well_id_attach" data-field="well_id_attach" value="@ViewBag.recordId" />
            <div class="panel-hdr">
                <h2>Attachments</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="mb-3">
                        <table id="dt_Attachments" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">No</th>
                                    <th style="width: 20%;">Attachment Type</th>
                                    <th style="width: 30%;">File Name</th>
                                    <th style="width: 30%;">Description</th>
                                    <th style="width: 15%;">Size</th>
                                    <th style="width: 10%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows will be dynamically added here -->
                            </tbody>
                        </table>
                        <div class="text-left mt-2">
                            <button type="button" class="btn btn-info btn-sm waves-effect waves-themed" id="addFileAttach">
                                Add Row
                            </button>
                        </div>
                    </div>

                    <!-- WLI Supervisor Comments -->
                    <div class="mb-3">
                        <label for="wli_comments"><strong>WLI Comments</strong></label>
                        <textarea id="wli_comments" class="form-control summernote" required></textarea>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-right">
                                <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-saveAttachWIR">
                                    <span class="fal fa-save mr-1"></span> Save
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Preparations Table -->
                    <form id="approvalWir" class="border rounded p-3" style="margin-top:15px;">
                        <table id="approvalWir" class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Preparations</th>
                                    <th>WLI - Visa 1 (Eng)</th>
                                    <th>WLI - Visa 2 (Ops)</th>
                                    <th>WLI Costing</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control invisible-border-input" id="wli_supervisor_position" name="wli_supervisor_position" placeholder="WLI Supervisor" value="">
                                        <p class="mb-2" style="height: 70px;"></p>
                                        <input type="text" class="form-control invisible-border-input" id="wli_supervisor_name" name="wli_supervisor_name" placeholder="Entry Name" value="">
                                        <button type="button" class="btn btn-info btn-sm btn-Save">Save Only</button>
                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control invisible-border-input" id="wli_hos_position" name="wli_hos_position" placeholder="WLI Head of Service Eng." value="">
                                        <p class="mb-2" style="height: 70px;"></p>
                                        <input type="text" class="form-control invisible-border-input" id="wli_hos_name" name="wli_hos_name" placeholder="Entry Name" value="">
                                        <button type="button" class="btn btn-info btn-sm btn-Save">Save Only</button>
                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control invisible-border-input" id="wli_hoso_position" name="wli_hoso_position" placeholder="WLI Head of Service Ops." value="">
                                        <p class="mb-2" style="height: 70px;"></p>
                                        <input type="text" class="form-control invisible-border-input" id="wli_hoso_name" name="wli_hoso_name" placeholder="Entry Name" value="">
                                        <button type="button" class="btn btn-info btn-sm btn-Save">Save Only</button>
                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control invisible-border-input" id="wli_engineer_position" name="wli_engineer_position" placeholder="WLI Engineer" value="">
                                        <p class="mb-2" style="height: 70px;"></p>
                                        <input type="text" class="form-control invisible-border-input" id="wli_engineer_name" name="wli_engineer_name" placeholder="Entry Name" value="">
                                        <button type="button" class="btn btn-info btn-sm btn-Save">Save Only</button>
                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>



                    <!-- Show Approval History -->
                    <div class="text-right mt-2">
                        <a href="javascript:void(0);" class="text-info" onclick="toggleApprovalHistory()">Show Approval History</a>
                    </div>

                    <!-- Approval Comments Section (Initially Hidden) -->
                    <div id="approval-comments" class="mt-4 border rounded p-3" style="display: none;">
                        <div class="mb-3">
                            <label class="font-weight-bold text-success">Approval Comments:</label>
                        </div>
                        <p><strong>WPT Comment :: WPT Engineer's Comments:</strong></p>
                        <div class="border rounded p-2 mb-3">
                            <div class="mb-2">
                                <span class="font-weight-bold text-primary">Muhamad Farras SAILENDRA</span>
                                <span class="text-muted float-right">02-Dec-2022 08:56</span>
                            </div>
                            <div>
                                <label class="font-weight-bold">Objective:</label>
                                <ol class="mb-2">
                                    <li>Check tubing clear, tag TOS, and liquid level</li>
                                    <li>PBMS SI/F</li>
                                    <li>Handover to NPU PRD to POP the well</li>
                                </ol>
                                <label class="font-weight-bold">PBMS Flowing guideline (w/o TBRG):</label>
                                <ul class="mb-2">
                                    <li>POP well at 12/64" at LP mode</li>
                                    <li>Ramp up step: 2/64" per 30 mins. Target: choke 18/64".</li>
                                    <li>Stabilize for 1 hour prior running PBMS</li>
                                    <li>Send data to SDP/SDA 1 res eng</li>
                                </ul>
                                <label class="font-weight-bold">Direct POP (handover to NPU/PRD/WEL):</label>
                                <ul>
                                    <li>Monitor WHSIP</li>
                                    <li>POP at 12/64" at LP mode</li>
                                    <li>Ramp up 2/64" per 15 mins until 2 MM or WHFP floating (whichever achieved first)</li>
                                    <li>If WHFP already floating, then smooth ramp up till full choke opening 137/64</li>
                                    <li>Please record Qg Nuflo and other Well head parameter after complete ramp up</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        let rowCount = 1;

        function updateRowCount() {
            const rows = $('#dt_Attachments tbody tr');
            rows.each(function (index, row) {
                $(row).find('td').eq(0).text(index + 1); // Update nomor baris
            });
        }

        // Add Row Function
        $('#addFileAttach').on('click', function () {
            const newRow = `
                <tr>
                    <td>${rowCount}</td>
                    <td>
                        <input type="text" class="form-control" name="attach_type" placeholder="Enter attachment type">
                    </td>
                    <td>
                        <input type="file" id="files" class="form-control file-input">
                        <input type="hidden" id="file_name" class="form-control-file" name="file_name">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="description" placeholder="Enter description">
                    </td>
                    <td>
                        <input type="text" class="form-control file-size" readonly>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger btn-sm removeRow">
                            <i class="fal fa-trash"></i>
                        </button>
                    </td>
                </tr>`;
            $('#dt_Attachments tbody').append(newRow);
            rowCount++;
            updateRowCount();
        });

        //$(document).on('change', '.file-input', function () {
        //    const file = this.files[0];
        //    const sizeCell = $(this).closest('tr').find('.file-size');

        //    if (file) {
        //        const fileName = file.name;
        //        const fileSize = (file.size / 1024).toFixed(2) + ' KB';

        //        $(this).closest('td').append(`<p class="mt-2 text-secondary">${fileName}</p>`);
        //        sizeCell.val(fileSize);
        //    } else {
        //        sizeCell.val('');
        //    }
        //});
    });

    function toggleApprovalHistory() {
        const approvalSection = document.getElementById('approval-comments');
        if (approvalSection.style.display === 'none' || approvalSection.style.display === '') {
            approvalSection.style.display = 'block';
        } else {
            approvalSection.style.display = 'none';
        }
    }


    window.removeRow = function (button) {
        $(button).closest('tr').remove();
        updateRowCount();
    };

    function updateRowNumbers() {
        $('#dt_Attachments tbody tr').each(function (index, row) {
            $(row).find('td').eq(0).text(index + 1);
        });
        updateRowCount(); // Hitung ulang rowCount
    }


</script>
