﻿@{
    ViewBag.Title = "Well Intervention Request";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @ViewBag.Title;
    ViewData["PageName"] = "/core/wir";

}

<link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .form-control {
        border-radius: 0px;
    }

    .date-picker {
        border-radius: 0px !important;
    }

    .note-modal .modal-header,
    .note-modal .modal-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .note-modal .modal-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

        .note-modal .modal-body .form-group {
            margin-bottom: 0.5rem !important;
        }

    .note-modal .modal-footer .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
</style>
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700"><a href="@Url.Content("/core/wir")">@ViewBag.Title</a></li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<!--Start page content-->

<div class="modal fade default-example-modal-right-md modal-remote" id="newWIRModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-1" class="panel">
            <div class="panel-hdr" for="well_id">
                <h2>
                    Well Intervention Request (WIR)
                </h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <div id="WIR" class="tab-pane fade show active" role="tabpanel">

                        <form id="form-wir" class="needs-validation" style="display: none;" novalidate>
                            @*<input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />*@
                            <div class="form-group row mb-2">
                                <div class="col-md-4">
                                    <label for="wir_no" class="control-label">WIR No.</label>
                                    <input type="text" class="form-control" id="wir_no" name="wir_no" placeholder="WIR No.">
                                </div>
                                <div class="col-md-4">
                                    <label for="originator" class="control-label">Originator</label>
                                    <input type="text" class="form-control" id="originator" name="originator" placeholder="Originator">
                                </div>
                                <div class="col-md-4">
                                    <label for="issues_date" class="control-label">Date of Issues</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date-picker" id="issues_date" name="issues_date" placeholder="Date of Issues" data-format="MM/dd/yyyy" data-field="issues_date" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text fs-xl"><i class="fal fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-4">
                                    <label for="field_id" class="control-label">Field</label><span class="text-danger"> *</span>
                                    <select type="text" class="form-control form-control-sm" name="field_id" id="field_id" data-field="field_id" data-text="field_name" placeholder="" required></select>
                                    @*<input type="hidden" class="form-control-sm" id="field_id" name="field_id" data-field="field_id" data-text="field_id" placeholder="" required>*@
                                </div>
                                <div class="col-md-4">
                                    <label for="well_name" class="control-label">Well Name</label>
                                    <input type="text" class="form-control" id="well_name" name="well_name" placeholder="Enter Well Name" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="well_color" class="control-label">Well Color</label>
                                    <select class="form-control" id="well_color" name="well_color" required>
                                        <option value="Green" data-bg="lightgreen" style="background-color: lightgreen;">Green</option>
                                        <option value="Yellow" data-bg="yellow" style="background-color: yellow;">Yellow</option>
                                        <option value="Red" data-bg="red" style="background-color: red;">Red</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="priority" class="control-label">Priority</label><span class="text-danger"> *</span>
                                    <select class="form-control" id="priority" name="priority" required>
                                        <option value="Long_term">Long Term Plan</option>
                                        <option value="Routine">Routine</option>
                                        <option value="Urgent">Urgent</option>
                                        <option value="ASAP">ASAP</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="main_job" class="control-label">Main Job</label><span class="text-danger"> *</span>
                                    <input type="text" class="form-control" id="main_job" name="main_job" placeholder="Main Job" required>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="budget_ass" class="control-label">Budget Assignment</label>
                                    <select class="form-control" id="budget_ass" name="budget_ass" required>
                                        <option value="ABO - WLI (OPEX)">ABO - WLI (OPEX)</option>
                                        <option value="ABI NBD_WLI (CAPEX)">ABI NBD_WLI (CAPEX)</option>
                                        <option value="ABI NW_DRL (DRILLEX)">ABI NW_DRL (DRILLEX)</option>
                                        <option value="ABI BD">ABI BD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="request_status" class="control-label">Request Status</label>
                                    <input type="text" class="form-control" id="request_status" name="request_status" placeholder="Request Status">
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="type_operation" class="control-label">Type of operations</label>
                                    <textarea class="form-control summernote" id="type_operation" name="type_operation" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="present_status" class="control-label">Present Status</label>
                                    <textarea class="form-control summernote" id="present_status" name="present_status" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="main_lines" class="control-label">Intervention Main Lines</label>
                                    <textarea class="form-control summernote" id="main_lines" name="main_lines" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="reservoir_information" class="control-label">Reservoir Information</label>
                                    <textarea class="form-control summernote" id="reservoir_information" name="reservoir_information" required></textarea>
                                </div>
                            </div>

                        </form>
                        @*<div class="text-right">
                                <button id="btn-saveGeneralWIR" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px; margin-bottom: 10px;">Save</button>
                            </div>*@
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-right">
                                    <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-saveGeneralWIR">
                                        <span class="fal fa-save mr-1"></span> Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Areas/Core/Scripts/detailwir.index.js?_@DateTime.Now"></script>

}