﻿@{
    ViewBag.Title = "Well Intervention Request";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = @ViewBag.Title;
    ViewData["PageName"] = "/core/wir";

}

<link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
<style>
    .form-control {
        border-radius: 0px;
    }

    .date-picker {
        border-radius: 0px !important;
    }

    .note-modal .modal-header,
    .note-modal .modal-footer {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .note-modal .modal-body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

        .note-modal .modal-body .form-group {
            margin-bottom: 0.5rem !important;
        }

    .note-modal .modal-footer .btn-primary {
        background-color: #2196F3;
        border-color: #2196F3;
    }
</style>
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700"><a href="@Url.Content("/core/wir")">@ViewBag.Title</a></li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<!--Start page content-->

<div class="modal fade default-example-modal-right-md modal-remote" id="newWIRModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-1" class="panel">
            <div class="panel-hdr" for="well_id">
                <h2>
                    Well Intervention Request (WIR)
                </h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="WIR" class="tab-pane fade show active" role="tabpanel">
                        <form id="form-wir" class="needs-validation" style="display: none;" novalidate>
                            @*<input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />*@
                            <div class="form-group row mb-2">
                                <div class="col-md-4">
                                    <label for="wir_no" class="control-label">WIR No.</label>
                                    <input type="text" class="form-control" id="wir_no" name="wir_no" placeholder="WIR No.">
                                </div>
                                <div class="col-md-4">
                                    <label for="originator" class="control-label">Originator</label>
                                    <input type="text" class="form-control" id="originator" name="originator" placeholder="Originator">
                                </div>
                                <div class="col-md-4">
                                    <label for="issues_date" class="control-label">Date of Issues</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date-picker" id="issues_date" name="issues_date" placeholder="Date of Issues" data-format="MM/dd/yyyy" data-field="issues_date" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text fs-xl"><i class="fal fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                @*<div class="col-md-4">
                                    <label for="field_id" class="control-label">Field</label><span class="text-danger"> *</span>
                                    <select type="text" class="form-control form-control-sm" name="field_id" id="field_id" data-field="field_id" data-text="field_id" placeholder="" required></select>
                                    <div id="field_name_display" class="mt-2 text-muted"></div>
                                </div>*@
                                <div class="col-md-4">
                                    <label for="field_name" class="control-label">Field</label>
                                    <input type="hidden" class="form-control" id="field_id" name="field_id" placeholder="" readonly>
                                    <input type="text" class="form-control" id="field_name" name="field_name" placeholder="" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="well_name" class="control-label">Well Name</label>
                                    <input type="hidden" class="form-control" id="well_id_wir" name="well_id_wir" placeholder="Enter Well Name" readonly>
                                    <input type="text" class="form-control" id="well_name" name="well_name" placeholder="Enter Well Name" readonly>
                                </div>
                                <div class="col-md-4">
                                    <label for="well_color" class="control-label">Well Color</label>
                                    <select class="form-control" id="well_color" name="well_color" required>
                                        <option value="Green" data-bg="lightgreen" style="background-color: lightgreen;">Green</option>
                                        <option value="Yellow" data-bg="yellow" style="background-color: yellow;">Yellow</option>
                                        <option value="Red" data-bg="red" style="background-color: red;">Red</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="priority" class="control-label">Priority</label><span class="text-danger"> *</span>
                                    <select class="form-control" id="priority" name="priority" required>
                                        <option value="Long_term">Long Term Plan</option>
                                        <option value="Routine">Routine</option>
                                        <option value="Urgent">Urgent</option>
                                        <option value="ASAP">ASAP</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="main_job_id" class="control-label">Main Job</label><span class="text-danger"> *</span>
                                    <input type="hidden" class="form-control" id="main_job" name="main_job" placeholder="Main Job" required>
                                    <select class="form-control" id="main_job_id" name="main_job_id" data-field="main_job_id" data-text="main_job" required></select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="budget_ass" class="control-label">Budget Assignment</label>
                                    <select class="form-control" id="budget_ass" name="budget_ass" required>
                                        <option value="ABO - WLI (OPEX)">ABO - WLI (OPEX)</option>
                                        <option value="ABI NBD_WLI (CAPEX)">ABI NBD_WLI (CAPEX)</option>
                                        <option value="ABI NW_DRL (DRILLEX)">ABI NW_DRL (DRILLEX)</option>
                                        <option value="ABI BD">ABI BD</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="request_status" class="control-label">Request Status</label>
                                    <input type="text" class="form-control" id="request_status" name="request_status" placeholder="Request Status">
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="type_operation" class="control-label">Type of operations</label>
                                    <textarea class="form-control summernote" id="type_operation" name="type_operation" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="present_status" class="control-label">Present Status</label>
                                    <textarea class="form-control summernote" id="present_status" name="present_status" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="main_lines" class="control-label">Intervention Main Lines</label>
                                    <textarea class="form-control summernote" id="main_lines" name="main_lines" required></textarea>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <div class="col-md-12">
                                    <label for="reservoir_information" class="control-label">Reservoir Information</label>
                                    <textarea class="form-control summernote" id="reservoir_information" name="reservoir_information" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-right">
                                        <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-saveGeneralWIR">
                                            <span class="fal fa-save mr-1"></span> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-content">
    @Html.Partial("~/Areas/Core/Views/Wir/Workload.cshtml")
</div>
<div class="panel-content">
    <form id="formRatio" class="needs-validation" style="display: none;" novalidate>
        <input type="hidden" id="well_id_ratio" name="well_id_ratio" data-field="well_id_ratio" value="@ViewBag.recordId" />
        <div class="row">
            <div class="col-xl-12 pl-0 pr-0">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>Success Ratio</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div id="">
                                <table id="dt_ratio" class="table table-bordered table-hover table-striped w-100">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;">No</th>
                                            <th class="text-center">Category</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Success Ratio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td class="text-center">Well Profile</td>
                                            <td>
                                                <select class="form-control fw-700 success-ratio-profile text-center" id="well_profile" name="well_profile" required>
                                                    <option value="" selected disabled></option>
                                                    <option value="DLS 1">DLS <= 1.0 / 10 m; dev < 30 deg</option>
                                                    <option value="DLS 2">DLS > 1.0, <= 2 / 10 m; 30 <= dev <= 60</option>
                                                    <option value="DLS 3">DLS > 2 / 10 m; dev > 60 deg</option>
                                                </select>
                                            </td>
                                            <td class="well-profile text-center" style="font-weight: 700; font-size: 12px;">
                                                <input type="hidden" id="status_ratio_text" name="status_ratio_text">
                                                <input type="hidden" id="status_ratio_color" name="status_ratio_color">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td class="text-center">Well History</td>
                                            <td>
                                                <select class="form-control fw-700 success-ratio-history text-center" id="well_history" name="well_history">
                                                    <option value="" selected disabled></option>
                                                    <option value="No">No Particular History</option>
                                                    <option value="Medium">Medium Intervention Difficulty</option>
                                                    <option value="Difficult">Difficult Intervention</option>
                                                </select>
                                            </td>
                                            <td class="well-history text-center" style="font-weight: 700; font-size: 12px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-right">
                                        <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-ratio">
                                            <span class="fal fa-save mr-1"></span> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="panel-content">
    <form id="formFilled" class="needs-validation" style="display: none;" novalidate>
        <input type="hidden" id="well_id_filled" name="well_id_filled" data-field="well_id_filled" value="@ViewBag.recordId" />
        <div class="row">
            <div class="col-xl-12 pl-0 pr-0">
                <div id="panel-1" class="panel">
                    <div class="panel-hdr">
                        <h2>Filled up by Originator Engineer</h2>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div id="">
                                <input hidden name="id" value="0" />
                                <table id="dt_filled" class="table table-bordered table-hover table-striped w-100">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width: 1px;">No</th>
                                            <th class="text-center">Category</th>
                                            <th class="text-center">Success Ratio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center"> 1 </td>
                                            <td class="text-center">Reservoir stakes/potensial estimate</td>
                                            <td class="text-center">
                                                <select class="form-control fw-700 success-ratio-select" id="status_ori" name="status_ori" required>
                                                    <option value="" selected disabled></option>
                                                    <option value="High">High</option>
                                                    <option value="Medium">Medium</option>
                                                    <option value="Low">Low</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-right">
                                        <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-filled">
                                            <span class="fal fa-save mr-1"></span> Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="potensial" class="panel" style="display: none;">
            <input type="hidden" id="well_id_potential" name="well_id_potential" data-field="well_id_potential" value="@ViewBag.recordId" />
            <div class="panel-hdr">
                <h2>Potential</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="form-potential" class="needs-validation" novalidate>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="current_pot">Current</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="current_pot" name="current_pot" required>
                                </div>
                            </div>
                            <label class="col-form-label">mmscf/d or bbl/d</label>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="expected">Expected</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="expected" name="expected" required>
                                </div>
                            </div>
                            <label class="col-form-label">mmscf/d or bbl/d</label>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="gain_gas">Gain (Gas)</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="gain_gas" name="gain_gas" required>
                                </div>
                            </div>
                            <label class="col-form-label">mmscf/d</label>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="gain_oil">Gain (Oil)</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="gain_oil" name="gain_oil" required>
                                </div>
                            </div>
                            <label class="col-form-label">bbl/d</label>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" style="font-weight:700" for="gas_stakes">Gas Stakes</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="gas_stakes" name="gas_stakes" required>
                                </div>
                            </div>
                            <label class="col-form-label">
                                <span style="font-weight: bold;">Bcf</span>
                                <span style="font-weight: normal;">equals</span>
                                <span style="font-weight: bold; color: blue;">kUSD</span>
                            </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="kUSD_gas" name="kUSD_gas" data-field="kUSD_gas" placeholder="0" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" style="font-weight:700" for="oil_stakes">Oil Stakes</label>
                            <div class="col-lg-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="oil_stakes" name="oil_stakes" required>
                                </div>
                            </div>
                            <label class="col-form-label">
                                <span style="font-weight: bold;">kbbl</span>
                                <span style="font-weight: normal;">equals</span>
                                <span style="font-weight: bold; color: blue;">kUSD</span>
                            </label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="kUSD_oil" name="kUSD_oil" data-field="kUSD_oil" placeholder="0" required>
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="prepared_by">Prepared by</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="prepared_by" name="prepared_by" value="">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="department">Department</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="department" name="department" value="">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-form-label" for="geologist">Geologist</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" class="form-control" id="geologist" name="geologist" placeholder="Enter geologist name">
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-info btn-sm waves-effect waves-themed" id="btn-save-potential">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12 pl-0 pr-0">
        <div id="panel-estimation" class="panel" style="display: none;">
            <input type="hidden" id="well_id_cost" name="well_id_cost" data-field="well_id_cost" value="@ViewBag.recordId" />
            <div class="panel-hdr">
                <h2>Cost & Duration Time Estimation</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="form-estimation" class="needs-validation" novalidate>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="usd">USD</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input type="text" class="form-control" id="usd" name="usd" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="duration">Duration</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="duration" name="duration" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">hour(s)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="remarks">Remarks</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <input class="form-control" id="remarks" name="remarks" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="estimated_stakes">Estimated Stakes</label>
                            <div class="colcol-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <span class="input-group-text bg-success text-white">
                                        <label>kUSD</label>
                                    </span>
                                    <input type="text" class="form-control" id="estimated_stakes" name="estimated_stakes" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="key_1">Keyword 1</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <textarea class="form-control" id="key_1" name="key_1" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label pt-2" for="key_2">Keyword 2</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <textarea class="form-control" id="key_2" name="key_2" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="text-right mt-3">
                            <button type="submit" class="btn btn-info btn-sm waves-effect waves-themed" id="btn-save-cost">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-content">
    @Html.Partial("~/Areas/Core/Views/wir/Attachments.cshtml")
</div>



<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/Areas/Core/Scripts/wir.index.js?_@DateTime.Now"></script>

}