﻿<form id="formWorkload" class="needs-validation" style="display: none;" novalidate>
    <input type="hidden" id="well_id" name="well_id" data-field="well_id" value="@ViewBag.recordId" />
    <div class="row">
        <div class="col-xl-12 pl-0 pr-0">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>Type of Operations (Workload) - [Filled up by WLI Engineer]</h2> <span id="selected-well-id" class="text-primary"></span>
                </div>
                <div class="form-group mb-3" style="padding-left:20px;padding-top:20px;">
                    <label for="expenditure" class="mr-2">Expenditure:</label>
                    <select id="expenditure" class="form-control d-inline-block" style="width: auto;">
                        <option value="ABO - WLI (OPEX)">ABO - WLI (OPEX)</option>
                        <option value="ABI NBD - WLI (CAPEX)">ABI NBD - WLI (CAPEX)</option>
                        <option value="ABI NW - DRL (DRILLEX)">ABI NW - DRL (DRILLEX)</option>
                        <option value="ABI BD">ABI BD</option>
                    </select>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="row mb-3">
                            <div class="col-md-10 d-flex align-items-center">
                                <div class="mr-2" style="flex: 1;">
                                    <select id="unit" class="form-control unit">
                                        <option value="All">All</option>
                                        <option value="Slick Line">Slick Line</option>
                                        <option value="Electric Line">Electric Line</option>
                                        <option value="Wireline">Wireline</option>
                                    </select>
                                </div>
                                <div class="dropdown-container">
                                    <select id="well_integrity" class="form-control well-integrity">
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="ml-2">
                                    <button type="button" class="btn btn-info btn-sm btnClassInput" id="cloneWIRWorkload">
                                        Add Row
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table id="tableWIRWorkload" class="table table-bordered table-hover text-center">
                                <thead style="background-color: #f2f2f2;">
                                    <tr>
                                        <th style="width: 5%;">No</th>
                                        <th>Unit</th>
                                        <th>Job Title</th>
                                        <th>Workload</th>
                                        <th>Well Integrity</th>
                                        <th style="width: 5%;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr class="no-data">
                                        <td colspan="10" class="text-center">No data available. Add Row to input new data.</td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right mt-2">
                                <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-workload">
                                    <span class="fal fa-save mr-1"></span> Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(document).ready(function () {
        let rowCount = 1;

        $('#cloneWIRWorkload').on('click', function () {
            const selectedUnit = $('#unit').val();
            const selectedIntegrity = $('#well_integrity').val();

            // Validasi: Pastikan nilai tidak kosong
            if (!selectedUnit || !selectedIntegrity) {
                alert('Please select both a Unit and Well Integrity before adding a row.');
                return;
            }

            // Tambahkan baris ke tabel
            const newRow = `
            <tr>
                <td>${rowCount++}</td>
                <td>${selectedUnit}</td>
                <td><input type="text" class="form-control job_title" placeholder="Enter Job Title"></td>
                <td><input type="text" class="form-control workload" placeholder="Enter Workload"></td>
                <td>${selectedIntegrity}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" onclick="removeRow(this)">
                        <i class="fal fa-trash"></i>
                    </button>
                </td>
            </tr>
        `;

            // Tambahkan baris ke dalam tbody tabel
            $('#tableWIRWorkload tbody').append(newRow);
        });
    });

    // Remove row function
    function removeRow(button) {
        const row = button.closest("tr");
        row.remove();
        updateRowNumbers();
    }

    // Update row numbers dynamically after row removal
    function updateRowNumbers() {
        const rows = document.querySelectorAll("#tableWIRWorkload tbody tr");
        rows.forEach((row, index) => {
            row.children[0].innerText = index + 1;
        });
    }

    //function removeRow(button) {
    //    $(button).closest('tr').remove();
    //}

</script>