﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home";
    ViewData["PageName"] = "/Core/Home";

}

@section PageBreadCrumb{
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
    </ol>
}


@section PageHeading {
    <div class="subheader">
        <h1 class="subheader-title">
            Dashboard
            <small>
                Using the card component, you can extend the default collapsqe behavior to create an accSunday, May 19, 2019
            </small>
        </h1>
        <h2>HHHHHHHH</h2>
    </div>
}


<div class="row">
    <div class="col-sm-4 col-xl-2">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    21.5k
                    <small class="m-0 l-h-n">New DDR</small>
                </h3>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-xl-2">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    21.5k
                    <small class="m-0 l-h-n">DDR Approved</small>
                </h3>
            </div>

        </div>
    </div>
    <div class="col-sm-4 col-xl-2">
        <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
            <div class="">
                <h3 class="display-4 d-block l-h-n m-0 fw-500">
                    21.5k
                    <small class="m-0 l-h-n">Total Wells</small>
                </h3>
            </div>

        </div>
    </div>

    <div class="col-md-12" data-aspect-ratio="true" id="trajectory3d" style="width:100%;height: 750px"></div>
</div>


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/3dplugin/main_well.js"></script>
    <script>
        var depth = [];
        var loadWellDeviation = function (wellId) {
            $.get($.helper.resolveApi('~/core/WellDeviation/4d9c7b72-40af-425f-9ab2-266cd009f6ac/detailByWellId'), function (r) {
                console.log("--");
                console.log(r);
                if (r.status.success && r.data.length > 0) {
                    $.each(r.data, function (key, value) {
                        var point = [value.tvd, value.e_w, value.n_s, 200];
                        depth.push(point);
                    });
                    //console.log(depth);
                    chart3d("", depth);
                }
            }).fail(function (r) {
                //console.log(r);
            }).done(function () {

            });
        }

        function chart3d(useDiam, plan) {
            var chart = new main("trajectory3d");
            var ary = [];
            ary.push(plan);
            var diam = 0;
            chart.addColor(["#0073B7", "#DA0425", "#BBD86F", "#9400D3", "#008B8B", "#00FF00", "#0000FF", "#FF8C00", "#000000", "#FF69B4", "#00F5FF"]);
            if (useDiam !== 'undefined' && useDiam === true) {
                diam = 700;
            }

            //var ary = [];
            //ary[0] = [[0.00, 0.00, 0.00, diam], [500.00, 0.00, 0.00, diam], [1000.00, 200, 200, diam], [1500.00, 200, 200, diam]];
            var actual = [[0.00, 0.00, 500.00, 100], [500.00, 500.00, 0.00, 50], [1000.00, 500, 200, 50], [1500.00, 500, 200, 50]];
            ary.push(actual);

            //console.log(ary[0]);
            chart.drawGraphic(ary);
            chart.setView("left");
        }
        $(document).ready(function (e) {
            loadWellDeviation();
            //chart3d();
        });
    </script>
}


