﻿
@{
    ViewBag.Title = "WIRP Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afe";

}
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />
<style>
    .tree-icon {
        display: none;
    }

    .text-danger {
        color: red !important;
    }
    /*.tree-icon {
        display: none;
    }

    .editable-empty {
        color: white !important;
    }

    .editable-click {
        cursor: pointer;
    }

    .text-danger {
        color: red !important;
    }

    .planBudgetShow:hover {
        cursor: pointer;
    }*/

    /*.datagrid-btable, .datagrid-header-inner, .datagrid-htable {
            width: 100%;
        }*/

    td [field=afe_unit_price] > div,
    td [field=afe_actual_price] > div,
    td [field=new_purchase_total_price] > div,
    td [field=issued_stock_total_price] > div,
    td [field=actual_total_price] > div {
        text-align: right !important;
    }
</style>

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Well Intervesion</a></li>
                            <li class="breadcrumb-item active fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="modalHistory" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#formhistory">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-container show">
                <div class="panel-content p-2">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#wir" role="tab">Well Intervesion Request</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#wip" role="tab">Well Intervesion Program</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#moc" role="tab">Management Of Change</a></li>
                    </ul>
                    <div class="border px-3 pt-0 pb-0 rounded">
                        <div class="tab-content pt-4">
                            <div id="wir" class="tab-pane fade show active" role="tabpanel">
                                <p>Hello Well Intervesion Request</p>
                                <hr />
                                @Html.Partial("~/Areas/Core/Views/Wir/Index.cshtml")
                            </div>
                            <div id="wip" class="tab-pane fade" role="tabpanel">
                                @Html.Partial("~/Areas/Core/Views/WIP/Index.cshtml")
                            </div>
                            <div id="moc" class="tab-pane fade" role="tabpanel">
                                <h3><i class="fas fa-home"></i> WSP Changes Request</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">WSP No</td>
                                                    <td>isi wsp no</td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">WSP Approval Date</td>
                                                    <td>isi wsp approval date</td>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Field</td>
                                                    <td>isi Field</td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Well Name</td>
                                                    <td>isi Well Name</td>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">String</td>
                                                    <td>isi String</td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Main Job</td>
                                                    <td>isi Main Job</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs nav-fill" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#rf" role="tab">Request Form</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#wc" role="tab">WSP Changes</a></li>
                                </ul>
                                <div class="border px-3 pt-0 pb-0 rounded">
                                    <div class="tab-content pt-4">
                                        <div id="rf" class="tab-pane fade show active" role="tabpanel">
                                            <h4>MOC Subject</h4>
                                            <hr />
                                            <h5>1. Last Approved Program / Procedure</h5>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Enter last approved program or procedure"></textarea>
                                            </div>
                                            <h5>2. Reason For Change</h5>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Enter reason for change"></textarea>
                                            </div>
                                            <h5>3. Options / Recomendations for Changes</h5>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Enter option recomendation for change"></textarea>
                                            </div>
                                            <h5>4. Risk Evaluation</h5>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Enter risk evaluation"></textarea>
                                            </div>
                                            <h5>5. New Program / Procedures (Plan)</h5>
                                            <div class="form-group">
                                                <textarea class="form-control" rows="4" placeholder="Enter new program / procedures"></textarea>
                                            </div>
                                            <h5>6. Approval Status</h5>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Departement</td>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved By</td>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved Date</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                                <td>isi</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2" class="text-center" style="background-color: #f8f9fa; font-weight: bold;">MOC Request Status</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Created By</td>
                                                                <td>isi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Submited By</td>
                                                                <td>isi</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Current Status</td>
                                                                <td>isi</td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">Last Comment</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="history-attachment mb-4">
                                                <button data-href="@Url.Content("/Core/home/MocHistory")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed" data-toggle="modal-remote" data-target="#modalHistory">
                                                    <span class="fal fa-eye mr-1"></span> View All Approval History
                                                </button>
                                            </div>
                                        </div>
                                        <div id="wc" class="tab-pane fade" role="tabpanel">
                                            <div class="attachment-table">
                                                <h4><i class="fas fa-file"></i> Attachment Files</h4>
                                                <hr />
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td style="background-color: #f8f9fa; font-weight: bold;">No</td>
                                                            <td style="background-color: #f8f9fa; font-weight: bold;">Attachment Type</td>
                                                            <td style="background-color: #f8f9fa; font-weight: bold;">Filename</td>
                                                            <td style="background-color: #f8f9fa; font-weight: bold;">Filename</td>
                                                            <td style="background-color: #f8f9fa; font-weight: bold;">Size</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                            <td>Isi</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="objective-class mb-5">
                                                <h5>
                                                    1. Objective
                                                </h5>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" placeholder="Enter Objective"></textarea>
                                                </div>
                                                <h5>
                                                    2. Introduction
                                                </h5>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" placeholder="Enter Introduction"></textarea>
                                                </div>
                                                <h5>
                                                    3. Work load (Penambahan step)
                                                </h5>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" placeholder="Enter Work Load"></textarea>
                                                </div>
                                                <h5>
                                                    4. Description Step
                                                </h5>
                                                <div class="form-group">
                                                    <textarea class="form-control" rows="4" placeholder="Enter Description Step"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/Core/Scripts/detail.wi.js?_@DateTime.Now"></script>

