﻿<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }
</style>
<div class="modal-header pb-0">
    <h5 class="modal-title">MOC Request Approval Request</h5>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr />
    <form id="formhistory" class="needs-validation" novalidate>
       <p>Halo ges</p>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>
