﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Home";
    ViewData["PageName"] = "/Core/Home";

}

@{
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
}

@section PageBreadCrumb{
    @*<ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
            <li class="breadcrumb-item active">@ViewBag.Title</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
        </ol>*@
}

<style type="text/css">

    #trajectory3d_label {
        text-align: center;
        padding: 10px 0
    }

        #trajectory3d_label a {
            background: #0073B7;
            color: #FFF;
            margin: 0 5px;
            padding: 5px 7px;
        }

            #trajectory3d_label a:last-child {
                background: #DA0425
            }
</style>

@section PageHeading {
    @*<div class="subheader">
            <h1 class="subheader-title">
                Dashboard
                <small>
                    Using the card component, you can extend the default collapsqe behavior to create an accSunday, May 19, 2019
                </small>
            </h1>
        </div>*@
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>AP</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div class="row">
                        <div class="col-sm-5 col-md-4">
                            <div class="p-3 bg-info-300 rounded overflow-hidden position-relative text-white mb-g">
                                <div class="">
                                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                        <label id="total_new_DDR">0</label>
                                        <small class="m-0 l-h-n">Total DDR</small>
                                    </h3>
                                </div>
                                <i class="fal fa-file-check position-absolute pos-right pos-bottom opacity-50 mb-n1 mr-n1" style="font-size: 6rem">

                                </i>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <div class="p-3 bg-danger-300 rounded overflow-hidden position-relative text-white mb-g">
                                <div class="">
                                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                        <label id="total_well">0</label>
                                        <small class="m-0 l-h-n">Total Wells</small>
                                    </h3>
                                </div>
                                <i class="fa fa-edit position-absolute pos-right pos-bottom opacity-50 mb-n1 mr-n1" style="font-size: 6rem">

                                </i>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-4">
                            <div class="p-3 bg-success-300 rounded overflow-hidden position-relative text-white mb-g">
                                <div class="">
                                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                        <label id="total_contract_active">0</label>
                                        <small class="m-0 l-h-n">Total Contracts</small>
                                    </h3>
                                </div>
                                <i class="fa fa-handshake position-absolute pos-right pos-bottom opacity-50 mb-n1 mr-n1" style="font-size: 6rem">

                                </i>
                            </div>
                        </div>
                        @*<div class="col-sm-4 col-md-3">
                            <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                <div class="">
                                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                        <label id="total_daily_cost">0</label>
                                        <small class="m-0 l-h-n">Daily Cost</small>
                                    </h3>
                                </div>
                            </div>
                        </div>*@
                                    @*<div class="col-sm-4 col-md-3">
                            <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                <div class="">
                                    <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                        21.5k
                                        <small class="m-0 l-h-n">Expired Contract</small>
                                    </h3>
                                </div>
                            </div>
                        </div>*@
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a href="#" class="ddr-btn" data-context="approval" data-toggle="modal" data-target="#ddraprovemodal">
                                <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                    <div class="">
                                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                            <label id="total_DDR_Approval">0</label>
                                            <small class="m-0 l-h-n">DDR Approval</small>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a href="#" class="ddr-btn" data-context="approved" data-toggle="modal" data-target="#ddraprovemodal">
                                <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                    <div class="">
                                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                            <label id="total_DDR_Approved">0</label>
                                            <small class="m-0 l-h-n">DDR Approved</small>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a href="#" class="contract-btn" data-context="nearly-expired" data-toggle="modal" data-target="#contractDetailModal">
                                <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                    <div class="">
                                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                            <label id="total_nearly_expired_contracts">0</label>
                                            <small class="m-0 l-h-n">Nearly Expired Contracts to</small>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a href="#" class="contract-btn" data-content="expired" data-toggle="modal" data-target="#contractDetailModal">
                                <div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                                    <div>
                                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                                            <label id="total_expired_contracts">0</label>
                                            <small class="m-0 l-h-n">Expired Contracts</small>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div>

    <div class="col-md-12" data-aspect-ratio="true" id="trajectory3d" style="width:100%;height:800px"></div>
</div>

<div class="modal" id="contractDetailModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">Contract Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body pt-0">
                <hr class="mt-0 mb-0" />
                <table id="dt_listDetailContract" class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="width: 1px;">No.</th>
                            <th>Contract Number</th>
                            <th>Title</th>
                            <th style="text-align: left !important">Contract Value</th>
                            <th>Vendor</th>
                            <th>Contract Owner</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ddraprovemodal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">DDR Manager</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body pt-0">
                <hr class="mt-0 mb-0" />
                <table id="dt_listddrapprove" class="table table-striped table-bordered" cellspacing="0">
                    <thead>

                        <tr>
                            <th style="width: 1px;">No.</th>
                            <th>Well</th>
                            <th style="text-align: left !important">Report</th>
                            <th>Drilling Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



@if (userSession != null)
{
    if (userSession.SysAdmin)
    {
        <input type="hidden" id="userisadmin" value="YES" />
    }
    else
    {
        <input type="hidden" id="userisadmin" value="NO" />

    }
    <input type="hidden" id="organizationid" value="@userSession.OrganizationId" />

}


@section scripts{

    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/home.index.js?_@DateTime.Now"></script>
}


