﻿<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }
</style>
<div class="modal-header pb-0">
    <h5 class="modal-title">MOC Request Approval Request</h5>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr />
    <form id="formhistory" class="needs-validation" novalidate>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Day, Date</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Time</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Description</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Action By</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                </tr>
                <tr>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                </tr>
                <tr>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                    <td>isi</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>