﻿<!--Modal header-->
<div class="modal-header">
    <h5 class="modal-title">Menu Category Setup</h5>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formMenuCategory" class="needs-validation" novalidate style="margin-top: -10px !important;">
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />

        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="category_name">Menu Category<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="category_name" data-field="category_name" class="form-control form-control-sm" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/applicationmenu.detail.js?_@DateTime.Now"></script>