﻿
@{
    ViewBag.Title = "Application Menu Category";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/iadc";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">Application Menu</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {

}

<div class="modal" id="applicationMenuModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/core/applicationmenu/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#applicationMenuModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <!-- Your content here-->
                    <table id="dtBasic" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1%;">No.</th>
                                <th>Menu Category</th>
                                <th style="width: 10%;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/applicationmenu.index.js?_@DateTime.Now"></script>
}