﻿<!--Modal header-->
<div class="modal-header">
    <h5 class="modal-title">Menu Setup</h5>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formApplicationMenu">
        <input type="hidden" id="recordId" name="id" value="@ViewBag.recordId" />
        <input type="hidden" name="application_module_id" data-field="application_module_id" value="@ViewBag.applicationModuleId" />
        <input type="hidden" id="application_menu_category_id" name="application_menu_category_id" data-field="application_menu_category_id" value="@ViewBag.categoryId" />
        <input type="hidden" id="parent_menu_id" name="parent_menu_id" data-field="parent_menu_id" value="@ViewBag.parentMenuId" />

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Menu Name</label>
                        <input type="text" name="menu_name" data-field="menu_name" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Action Url</label>
                        <input type="text" name="action_url" data-field="action_url" class="form-control form-control-sm" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Icon</label>
                        <input type="text" id="icon_class" name="icon_class" data-field="icon_class" class="form-control form-control-sm" value="fa fa-bars" required>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/applicationmenu.managedetail.js?_@DateTime.Now"></script>