﻿<div class="modal-header pb-0">
    <h4 class="modal-title">
        Drilling Contractor
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>

</div>
<div class="modal-body pt-0">
    <hr/>
    <form id="frm-drilling_contractor" class="needs-validation" novalidate>
        <input hidden data-field="id" id="recordId" name="id" value="@ViewBag.recordId" />
        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="contractor_name">Contractor Name</label>
            <input type="text" data-field="contractor_name" id="contractor_name" name="contractor_name" required class="form-control">
        </div>
        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="contractor_email">Email</label>
            <input type="email" data-field="contractor_email" id="contractor_email" name="contractor_email" class="form-control" placeholder="Email" required>
            <div class="invalid-feedback">
                Please enter a valid email
            </div>
        </div>
        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="phone_1">Phone</label>
            <input type="text"  data-field="phone_1" id="phone_1" name="phone_1" class="form-control" data-inputmask="'mask': '(999) 999-999-999'" im-insert="true" required>
            @*<div class="invalid-feedback">
                Please enter a valid email
            </div>*@
        </div>
        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="contractor_address">Address</label>
            <textarea class="form-control" data-field="contractor_address" id="contractor_address" name="contractor_address" required rows="5"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer pt-0">
    <button type="button" class="btn btn-sm btn-info" id="btn-save">
        Save changes
    </button>
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>


<script src="~/Content/plugins/Inputmask-5.x/js/bindings/inputmask.binding.js"></script>
<script src="~/Areas/Core/Scripts/drillingContractor.detail.js"></script>