﻿
@{
    ViewBag.Title = "Drilling Contractor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/drillingcontractor";

}

@section Header{
}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!-- Modal center -->
<div class="modal fade modal-remote" id="modal_drilling_contractor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @ViewBag.Title List
                </h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/core/drillingcontractor/Detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#modal_drilling_contractor">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                    <button id="btn_lookup_bu" class="btn btn-sm btn-primary d-none">Lookup Business Unit</button>
                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <!-- datatable start -->
                    <table id="dt_basic" class="table dataTable table-bordered table-hover table-striped no-footer w-100 dtr-inline collapsed">
                        <thead>
                            <tr>
                                <th width="10px">#</th>
                                <th>Contractor Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/drillingContractor.index.js?@DateTime.Now"></script>


}