﻿<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>

</div>
<div class="modal-body mb-6">

    <form id="frm-cell_mapper" class="needs-validation row justify-content-start" novalidate="">
        <input hidden="" data-field="id" id="excel_column_map_id" name="id">
        <div class="col-4">
            <div class="col-sm-12">

                <div class="form-group input-group-sm">
                    <label class="form-label text-white" for="country_name">Choose Table Definition</label>
                    <select class="form-control form-control-sm" name="excel_table_map_id" id="excel_table_map_id" data-field="excel_table_map_id" data-text="display_name" placeholder="" required></select>
                    <div class="invalid-feedback text-white">
                        Please choose related table definition
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label text-white" for="country_name">Column Defintion</label>
                    <select class="form-control form-control-sm" name="entity_column" id="entity_column" data-field="entity_column" data-text="entity_column" placeholder="" required></select>
                    <div class="invalid-feedback text-white">
                        Please choose column definition
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group input-group-sm">
                    <label class="form-label text-white" for="country_name">Column Address</label>
                    <input type="text" id="name" name="cell_address_column" data-field="cell_address_column" required class="form-control">
                    <div class="invalid-feedback text-white">
                        Column cell address
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12">                
                <div class="form-group input-group-sm">
                    <label class="form-label text-white" for="checkbox-group-2">Default Value</label>
                    <select class="form-control form-control-sm" name="data_type" id="data_type" data-field="id" data-text="data_type_name" placeholder="" required width="200px"></select>
                </div>

            </div>

            <div class="col-sm-12 row">
                <div class="col-sm-6">

                    <div class="form-group input-group-sm">
                        <label class="form-label text-white" for="checkbox-group-2">Default Value</label>
                        <div class="input-group">
                            <input type="text" name="cell_address_value" class="form-control" placeholder="ex: A1">
                            <div class="input-group-prepend">
                                <button class="btn btn-sm btn-info waves-effect waves-themed waves-effect waves-themed" type="button" id="btn_inspect">Inspect</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group input-group-sm">
                        <label class="form-label text-white" for="checkbox-group-2">Default Value</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkmeout1">
                                        <label class="custom-control-label" for="checkmeout1"></label>
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox" id="checkbox-group-2">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="col-sm-12">
                <div class="form-group input-group-sm">
                    <label class="form-label text-white" for="fk_application_entity_id">Table Relation</label>
                    <select class="form-control form-control-sm" name="fk_application_entity_id" id="fk_application_entity_id" data-field="fk_application_entity_id" data-text="display_name" placeholder=""></select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="form-label text-white" for="country_name">Column Relation (Foreign Key)</label>
                    <select class="form-control form-control-sm" name="fk_application_entity_column" id="fk_application_entity_column" data-field="fk_application_entity_column" data-text="display_name" placeholder=""></select>
                </div>
            </div>
            <div class="col-sm-12 mt-2">
                <button id="btn_save_column" type="button" class="btn btn-sm btn-info waves-effect waves-themed">
                    <span class="fal fa-save mr-1"></span>
                    Save
                </button>
            </div>
        </div>


    </form>

</div>

<script>
    var $excelColumnMapId = $('#excel_column_map_id');

    var $entityColumn = $('#entity_column'),
        $fkApplicationEntity = $('#fk_application_entity_id'),
        $fkEntityColumn = $('#fk_application_entity_column'),
        $dataTypeLookup = $('#data_type');

    function getColumnProperties(el,appEntityId) {
        var data = [];
        $.ajax({
            url: $.helper.resolveApi("~/core/ExcelTableMap/lookup/PropertiesName/" + appEntityId),
            async: false,
            dataType: 'json',
            success: function (json) {
                data = $.map(json.data, function (obj) {
                    obj.id = obj;
                    obj.text = obj;
                    return obj;
                });
                
            }
        });
        el.select2({
            data: data,
            dropdownParent: $('#frm-cell_mapper'),
            allowClear: true,
            placeholder: "Select a column",
        }).prop("disabled", false);
    }

    function getDataType() {
        var data = [];
        $.ajax({
            url: $.helper.resolveApi("~/core/ExcelTableMap/columnMap/DataType"),
            async: false,
            dataType: 'json',
            success: function (json) {
                data = $.map(json.data, function (obj) {
                    obj.id = obj;
                    obj.text = obj;
                    return obj;
                });

            }
        });
        $dataTypeLookup.select2({
            data: data,
            dropdownParent: $('#frm-cell_mapper'),
            allowClear: true,
            placeholder: "Select a data type",
            
        }).prop("disabled", false);
    }
    

    $('#btn_inspect').click(function () {
        var $modal = $('#modal_column_mapper');

        $("#spreadsheet").on("mousemove", function (event) {
            $(".cursor-tooltip").css({
                "left": event.pageX + 10,
                "top": event.pageY + 10,

                "visibility": "visible"
            });
        });
        $modal.trigger("onInspectCell");
        $modal.modal('hide');

    });


    $("#excel_table_map_id").cmSelect2({
        url: $.helper.resolveApi('~/core/ExcelTableMap/lookup/' + $('input[id=recordId]').val()),
        result: {
            id: 'id',
            text: 'display_name',
            application_entity_id: 'application_entity_id'
        },
        filters: function (params) {
            return [{
                field: "display_name",
                operator: "contains",
                value: params.term || '',
            }];
        },
        options: {
            dropdownParent: $('#frm-cell_mapper'),
            placeholder: "Select a table related",
            allowClear: true,
        }
    });

    $fkApplicationEntity.cmSelect2({
        url: $.helper.resolveApi('~/core/ApplicationEntity/lookup'),
        result: {
            id: 'id',
            text: 'display_name'
        },
        filters: function (params) {
            return [{
                field: "display_name",
                operator: "contains",
                value: params.term || '',
            }];
        },
        options: {
            dropdownParent: $('#frm-cell_mapper'),
            placeholder: "Select a entity",
            allowClear: true,
        }
    });

    $entityColumn.select2({ dropdownParent: $('#frm-cell_mapper'), placeholder: "Select a column", }).prop("disabled", true);
    $fkEntityColumn.select2({ dropdownParent: $('#frm-cell_mapper'), placeholder: "Select a column", }).prop("disabled", true);

    $('#excel_table_map_id').on('select2:select', function (e) {
        var data = e.params.data;
        $entityColumn.empty().prop("disabled", true);
        getColumnProperties($entityColumn, data.application_entity_id);

    });

    $fkApplicationEntity.on('select2:select', function (e) {
        var data = e.params.data;
        $fkEntityColumn.empty().prop("disabled", true);
        getColumnProperties($fkEntityColumn,data.id);
    });


    $('#btn_save_column').click(function () {
        var btn = $(this);
        $form = $('#frm-cell_mapper');
        var isvalidate = $form[0].checkValidity();
        if (isvalidate) {
            btn.button('loading');

            var data = $form.serializeToJSON();
            console.log(data);
            $.post($.helper.resolveApi('~/core/ExcelTableMap/columnMap/save'), data, function (r) {
                if (r.status.success) {
                    $excelColumnMapId.val(r.data.recordId);
                    toastr["info"](r.status.message);
                } else {
                    toastr["error"](r.status.message);
                }
                btn.button('reset');
            }, 'json').fail(function (r) {
                btn.button('reset');
            });

        }
        $form.addClass('was-validated');
    });

    getDataType();


</script>