﻿
@{
    ViewBag.Title = "Excel Template Upload Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Core/ExcelTemplate";

}

<style>
    .cursor-tooltip {
        display: inline-block;
        position: fixed;
        padding: .5em 1em;
        background-color: #ea6767;
        color: white;
        z-index: 99;
    }
</style>

@section  Header{

    <link href="~/Content/plugins/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/KendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/KendoUI/styles/kendo.default.mobile.min.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/dropzone/dropzone.css">


    <style>
        .vakata-context {
            z-index: 10052 !important;
        }
    </style>
}

@section PageBreadCrumb{
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
        <li class="breadcrumb-item">System & Configuration</li>
        <li class="breadcrumb-item"><a href="@Url.Content("/Core/ExcelTemplate")">Upload Template</a></li>
        <li class="breadcrumb-item active">Editor</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-window"></i> @ViewBag.Title
            <small>
                Create your template & map to our table
            </small>
        </h1>
        <div class="subheader-block d-lg-flex align-items-center">
            <div class="d-inline-flex flex-column justify-content-center mr-3">
                <button id="btn_save" class="btn btn-sm btn-info waves-effect waves-themed">
                    <span class="fal fa-save mr-1"></span>
                    Save Template
                </button>
            </div>
            <div class="d-inline-flex flex-column justify-content-center mr-3">
                <button data-href="@Url.Content("/Core/ExcelTemplate/TableRelated")" class="modalTrigger btn btn-sm btn-secondary waves-effect waves-themed"
                        data-toggle="modal-remote" data-target="#modal_table_related">
                    <span class="fal fa-link mr-1"></span>
                    Table Related
                </button>
            </div>

        </div>
    </div>
}
<div class="alert bg-info-400 text-white fade show" role="alert">
    <div class="d-flex align-items-center">
        <div class="alert-icon">
            <i class="fal fa-info-circle"></i>
        </div>
        <div class="flex-1">
            <span class="h5">Please upload your template, for exporting the new template with data validation</span>
            <br>
            This editor template, parameterized and data validation.
        </div>

    </div>
</div>
<div class="row">

    <div class="col-sm-12">
        <form id="frm_template">
            <input hidden data-field="id" id="recordId" name="id" value="@ViewBag.recordId" />
            <div class="form-group">
                <label class="form-label" for="template_name">Template</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Template Name</span>
                    </div>
                    <input type="text" class="form-control" id="template_name" data-field="template_name" name="template_name" aria-describedby="basic-addon3" placeholder="ex:Template Upload"
                           required>
                    <div class="invalid-feedback">
                        Please enter a template name
                    </div>
                </div>
            </div>
        </form>

        <div id="spreadsheet" style="width: 100%;"></div>
    </div>
    <div class="col-sm-12">
        <form id="form-UploadFile">
            <div id="demo-dropzone" action="#" class="dropzone" style="display: none;">
                <div class="dz-default dz-message">
                    <div class="dz-icon">
                        <i class="demo-pli-upload-to-cloud icon-5x" aria-hidden="true"></i>
                    </div>
                    <div>
                        <span class="dz-text">Drop files to upload</span>
                        <p class="text-sm text-muted">or click to pick manually</p>
                    </div>
                </div>
                <div class="fallback">
                    <input name="file" type="file" multiple="">
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-12">
        <ul class="list-group list-group-flush">
            <li class="list-group-item py-6 px-4">
                <h3 class="fw-400" role="heading">Attachment Excel Template</h3>
                <div class="scrolling-wrapper">
                    <div class="card shadow-0 d-inline-flex mr-2" style="width: 200px;">
                        <div class="card-img-top position-relative">
                            <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                <i class="fas fa-download display-3 m-0 opacity-50"></i>
                            </div>
                        </div>
                        <div class="card-body py-3 px-2">
                            <a href="#" class="stretched-link fs-lg fw-500">Template EP.xlsx</a>
                            <p class="fs-xs mt-1"></p>
                            <span class="text-success fs-xs">Last upload</span> <span class="text-muted fs-xs opacity-50">- Jul 18, 2023 </span>
                        </div>
                    </div>


                </div>
            </li>

        </ul>
    </div>
</div>

<!-- Cursor Tooltip on selector-->
<div class="cursor-tooltip" style="visibility:hidden">Set Value</div>

<!-- Modal Table Related -->
<div class="modal fade" id="modal_table_related" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right modal-md">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- Modal Column Mapper  -->
<div class="modal fade" id="modal_column_mapper" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-bottom modal-transparent">
        <div class="modal-content">

        </div>
    </div>
</div>

<!-- Modal New Data Validation -->
<div class="modal fade" id="modal_data_validation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Data Validation
                    <small class="m-0 text-muted">
                        Set Data Validation
                    </small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm-dataValidation" class="needs-validation" novalidate="">
                    <input hidden="" data-field="id" id="excelDataValidationId" name="id">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="chkUseSource">
                        <label class="custom-control-label" for="chkUseSource">Use Source</label>
                    </div>
                    <div class="form-group input-group-sm">
                        <label class="form-label" for="source">Source Value</label>
                        <input type="text" data-field="source" id="source" name="source" class="form-control" disabled="">
                    </div>

                    <div class="form-group input-group-sm">
                        <label class="form-label" for="dv_application_entity_id">Choose Table Definition</label>
                        <select class="form-control form-control-sm" name="application_entity_id" id="dv_application_entity_id" data-field="application_entity_id" data-text="display_name" placeholder="" required=""></select>
                        <div class="invalid-feedback">
                            Please choose table for data validation
                        </div>
                    </div>
                    <div class="form-group input-group-sm">
                        <label class="form-label" for="dv_application_entity_column">Choose Column</label>
                        <select class="form-control form-control-sm" name="application_entity_column" id="dv_application_entity_column" data-field="application_entity_column" data-text="application_entity_column" placeholder="" required=""></select>
                        <div class="invalid-feedback">
                            Please choose column
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn_saveDataValidation" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add or Update Table Related -->
<div class="modal fade" id="modal_frm_table_related" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Choose Table 
                    <small class="m-0 text-muted">
                        Set Table Related
                    </small>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <form id="frm-table_related" class="needs-validation" novalidate="">
                    <input hidden="" data-field="id" id="excelTableMapId" name="id">
                    <input hidden="" data-field="excel_template_id" name="excel_template_id" value="@ViewBag.recordId">
                    <input hidden="" data-field="parent_table_map_id" id="excelTableMapParentId" name="parent_table_map_id">                    <p>
                        <h4>Parent : <strong><label id="lbl_parent">root</label></strong></h4>
                    </p>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="chkListofObject" name="list_of_object">
                        <label class="custom-control-label" for="chkListofObject">List of Object</label>
                    </div>

                    <div class="form-group input-group-sm">
                        <label class="form-label" for="tm_application_entity_id">Choose Table Definition</label>
                        <select class="form-control form-control-sm" name="application_entity_id" id="tm_application_entity_id" data-field="application_entity_id" data-text="display_name" placeholder="" required=""></select>
                        <div class="invalid-feedback">
                            Please choose table
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btn_saveTableRelated" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script id="list_data_validation_template" type="text/x-handlebars-template">
    {{#each items}}
    <div class="d-flex w-100 px-3 py-2 text-dark hover-white cursor-pointer show-child-on-hover data-item">
        <div class="px-2 flex-1">
            <div class="text-truncate text-truncate-md">
                <span class="text-dark">{{entity_name}}</span>
                <small class="d-block text-muted text-truncate text-truncate-md">
                    source / column
                </small>
            </div>
        </div>
        <div class="position-absolute pos-right mt-2 mr-3 show-on-hover-parent">
            <button class="btn btn-danger btn-xs btn-icon rounded-circle shadow-0 waves-effect waves-themed delete-row-data_validation" data-toggle="tooltip" data-template="<div class=&quot;tooltip&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-danger-500&quot;></div></div>" data-original-title="Delete">
                <i class="fal fa-trash-alt"></i>
            </button>
            <button class="btn btn-info btn-xs btn-icon rounded-circle shadow-0 waves-effect waves-themed edit-row-data_validation" data-toggle="tooltip" data-template="<div class=&quot;tooltip&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-danger-500&quot;></div></div>" data-original-title="Edit">
                <i class="fal fa-pencil-alt"></i>
            </button>
        </div>
    </div>
    {{/each}}
</script>


@section Scripts{

    <script src="~/Content/plugins/KendoUI/js/jszip.min.js"></script>
    <script src="~/Content/plugins/KendoUI/js/kendo.all.min.js"></script>
    <script src="~/Content/js/formplugins/dropzone/dropzone.js"></script>

    <script src="~/Areas/Core/Scripts/excelTemplate.editor.js?@DateTime.Now"></script>
}
