﻿
@{
    ViewBag.Title = "Excel Template Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Core/ExcelTemplate";

}

@section PageBreadCrumb{
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
        <li class="breadcrumb-item">System & Configuration</li>
        <li class="breadcrumb-item active">Upload Template</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class="subheader-icon fal fa-window"></i> @ViewBag.Title
            <small>
                Customize your Excel template and mapping to application entity
            </small>
        </h1>
        <div class="subheader-block d-lg-flex align-items-center">
            <div class="d-inline-flex flex-column justify-content-center mr-3">
                <a href="@Url.Content("/Core/ExcelTemplate/Editor")" class="btn btn-sm btn-info waves-effect waves-themed">
                    <span class="fal fa-file-alt mr-1"></span>
                    New Template
                </a>
            </div>
        </div>
    </div>
}

<div class="row">

    <div id="js_default_list" class="col-sm-12 row">

        <div class="input-group mb-g input-group-md">
            <input type="text" class="form-control form-control-lg shadow-inset-2" id="js_default_list_filter" placeholder="Filter list">
            <div class="input-group-append">
                <div class="input-group-text">
                    <i class="fal fa-search fs-xl"></i>
                </div>
            </div>
        </div>

        <ul class="list-group"></ul>

        <div class="col-sm-6" id="preview_map_item">
            @*<h1>TEST</h1>*@
        </div>
    </div>
</div>




<script id="list_template" type="text/x-handlebars-template">

    {{#each items}}
    <li class="card shadow-1 shadow-hover-5 mb-g">
        <div class="card-body p-3">
            <h4 data-filter-tags="{{template_name}}"><strong>{{template_name}}</strong></h4>
            <strong>
                Description
            </strong>
            <p class="text-muted">
                <i>-</i>
            </p>
            <div class="d-block mt-2 ">
                <div class="btn-group btn-group-sm">
                    <a href="@Url.Content("/Core/ExcelTemplate/Editor?id="){{id}}" class="btn btn-info waves-effect waves-themed">
                        <span class="fal fa-pencil-alt mr-1"></span>
                        Edit
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect waves-themed">
                        <span class="fal fa-eye-slash mr-1"></span>
                        Excel-Preview
                    </button>
                    <button type="button" class="btn btn-secondary waves-effect waves-themed">
                        <span class="fal fa-eye-slash mr-1"></span>
                        Mapping-Preview
                    </button>
                </div>
            </div>
        </div>

    </li>

    {{/each}}

</script>

@section Scripts{
    @*<script src="~/Content/plugins/KendoUI/js/kendo.core.min.js"></script>*@
    <script src="~/Content/plugins/KendoUI/js/jszip.min.js"></script>
    <script src="~/Content/plugins/KendoUI/js/kendo.all.min.js"></script>

    <script src="~/Areas/Core/Scripts/excelTemplate.index.js?@DateTime.Now"></script>
}
