﻿<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
<style>
    .vakata-context {
        z-index: 10052 !important;
    }
</style>
<div class="modal-header">
    <h5 class="modal-title h4">Table Related</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
    <br />

</div>
<div class="modal-body pt-0 ">
    <button id="btn_addTableRelated" class="btn btn-sm btn-info ">New</button>
    <div class="row mt-2">
        <div class="col-sm-12">

            <div id="treeMap"></div>
        </div>

    </div>
</div>
<div class="modal-footer ">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" style="margin-right:40px">Save changes</button>
</div>

<!-- BEGIN msgr-list -->
<div class="msgr-list d-flex flex-column bg-faded border-faded border-top-0 border-right-0 border-bottom-0 position-absolute pos-top pos-bottom">
    <div>
        <div class="height-4 width-3 h3 m-0 d-flex justify-content-center flex-column color-primary-500 pl-3 mt-2">
            <i class="fal fa-chevron-double-left"></i>
        </div>
    </div>
    <div class="flex-1 h-100 custom-scroll ">
        <div class="col-sm-12">
            <h3>Data Validation</h3>
            <button id="btn_addDataValidation" class="btn btn-sm btn-info">New</button>
        </div>
        <div class="row card mt-3" id="listDataValidation"></div>


    </div>
    <div>
        <a class="fs-xl d-flex align-items-center p-3">
            <i class="fal fa-cogs"></i>
        </a>
    </div>
</div>


<!-- END msgr-list -->
<script src="~/Content/plugins/jstree/jstree.min.js"></script>
<script>

    $(document).ready(function () {

        var pageModalTableRelated = function () {
            var $recordId = $('#excelTableMapId');
            var $modal = $('#modal_frm_table_related');
            var $appEntity = $('#tm_application_entity_id');


            $appEntity.cmSelect2({
                url: $.helper.resolveApi('~/core/ApplicationEntity/lookup'),
                result: {
                    id: 'id',
                    text: 'display_name'
                },
                filters: function (params) {
                    return [{
                        field: "display_name",
                        operator: "contains",
                        value: params.term || '',
                    }];
                },
                options: {
                    dropdownParent: $('#frm-table_related'),
                    placeholder: "Select a entity",
                    allowClear: true,
                }
            });

            $('#btn_saveTableRelated').click(function () {
                var btn = $(this);
                $form = $('#frm-table_related');
                var isvalidate = $form[0].checkValidity();
                if (isvalidate) {
                    //btn.button('loading');
                    var data = $form.serializeToJSON();
                    data.list_of_object = $('#chkListofObject').prop('checked');

                    $.post($.helper.resolveApi('~/core/ExcelTableMap/save'), data, function (r) {
                        if (r.status.success) {
                            $recordId.val(r.data.recordId);
                            toastr["info"](r.status.message);
                        } else {
                            toastr["error"](r.status.message);
                        }
                        btn.button('reset');
                    }, 'json').fail(function (r) {
                        btn.button('reset');
                    });

                }
                $form.addClass('was-validated');
            });

            return {
                showModal: function (parent=null) {
                    $modal.modal('show');
                    $.helper.form.clear($('#frm-table_related'), ['excel_template_id']);
                    if (parent != null) {
                        $('#excelTableMapParentId').val(parent.id);
                        $('#lbl_parent').text(parent.name);
                    }
                },
            }
        }();


        var pageModalDataValidation = function () {
            var $recordId = $('#excelDataValidationId');
            var $modal = $('#modal_data_validation');
            var $appEntity = $('#dv_application_entity_id'),
                $appEntityColumn = $('#dv_application_entity_column')


            function LoadDataValidation() {
                $.ajax({
                    type: "GET",
                    dataType: 'json',
                    contentType: 'application/json',
                    url: $.helper.resolveApi("~/core/ExcelTemplate/datavalidation/List?templateId=" + $('input[id=recordId]').val()),
                    success: function (r) {
                        if (r.status.success) {
                            var template = Handlebars.compile($("#list_data_validation_template").html());
                            $('#listDataValidation').html(template({ items: r.data }));
                            $('#listDataValidation').on('click', 'button.delete-row-data_validation', function () {
                                alert('delete');
                            });
                            $('#listDataValidation').on('click', 'button.edit-row-data_validation', function () {
                                alert('edit');
                            });
                        }
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });
            }

            function getColumnProperties(el, appEntityId) {
                var data = [];
                $.ajax({
                    url: $.helper.resolveApi("~/core/ExcelTableMap/lookup/PropertiesName/" + appEntityId),
                    async: false,
                    dataType: 'json',
                    success: function (json) {
                        data = $.map(json.data, function (obj) {
                            obj.id = obj;
                            obj.text = obj;
                            return obj;
                        });

                    }
                });
                el.select2({
                    data: data,
                    dropdownParent: $('#frm-dataValidation'),
                    allowClear: true,
                    placeholder: "Select a column",
                }).prop("disabled", false);
            }

            $('#chkUseSource').on('change', function () {
                var isChecked = $(this).prop('checked');
                if (isChecked) {
                    $appEntity.prop('disabled', true).prop('required', false).val(null).trigger('change');
                    $appEntityColumn.prop('disabled', true).prop('required', false).val(null).trigger('change');
                    $('input[name=source]').prop('disabled', false).prop('required', true).val(null);
                }
                else {
                    $appEntity.prop('disabled', false).prop('required', true);
                    $appEntityColumn.prop('disabled', true).prop('required', true);
                    $('input[name=source]').prop('disabled', true).prop('required', false).val(null);
                }
            });

            $('#btn_saveDataValidation').click(function () {
                var btn = $(this);
                $form = $('#frm-dataValidation');
                var isvalidate = $form[0].checkValidity();
                if (isvalidate) {
                    btn.button('loading');
                    var data = $form.serializeToJSON();
                    data.excel_template_id = $('input[id=recordId]').val();
                    if ($('#chkUseSource').prop('checked') == false) {
                        data.source = null;
                    }

                    $.post($.helper.resolveApi('~/core/ExcelTemplate/datavalidation/save'), data, function (r) {
                        if (r.status.success) {
                            $recordId.val(r.data.recordId);
                            toastr["info"](r.status.message);
                        } else {
                            toastr["error"](r.status.message);
                        }
                        btn.button('reset');
                    }, 'json').fail(function (r) {
                        btn.button('reset');
                    });

                }
                $form.addClass('was-validated');
            });



            $appEntity.cmSelect2({
                url: $.helper.resolveApi('~/core/ApplicationEntity/lookup'),
                result: {
                    id: 'id',
                    text: 'display_name'
                },
                filters: function (params) {
                    return [{
                        field: "display_name",
                        operator: "contains",
                        value: params.term || '',
                    }];
                },
                options: {
                    dropdownParent: $('#frm-dataValidation'),
                    placeholder: "Select a entity",
                    allowClear: true,
                }
            });
            $appEntityColumn.select2({ dropdownParent: $('#frm-cell_mapper'), placeholder: "Select a column", }).prop("disabled", true);
            $appEntity.on('select2:select', function (e) {
                var data = e.params.data;
                $appEntityColumn.empty().prop("disabled", true);
                getColumnProperties($appEntityColumn, data.id);
            });


            return {
                showModal: function () {
                    $modal.modal('show');
                    $.helper.form.clear($('#frm-dataValidation'));
                },
                reloadList: function () {
                    LoadDataValidation();
                }
            }
        }();

        //BEGIN::Event Button
        $('#btn_addDataValidation').click(function () {
            pageModalDataValidation.showModal();
        });

        //END::Event Button

        function init() {
            pageModalDataValidation.reloadList();
        } 


        

        var $tree = $('#treeMap');
        var $treeObj = $tree.jstree({
            contextmenu: {
                select_node: false,
                items: customMenu
            },
            core: {
                themes: {
                    "responsive": false
                },
                check_callback: true,
                multiple: false,
                data: {
                    type: "POST",
                    url: function (node) {
                        var url = $.helper.resolveApi("~/core/ExcelTemplate/tree?templateId=" + $('input[id=recordId]').val() + "&parentId=");
                        if (node.id != "#") {
                            if (node.original.nodeType === "FOLDER_COLUMNS") {
                                url = $.helper.resolveApi("~/core/ExcelTemplate/tree/column?tableMapId=" + node.parent);
                            } else if (node.original.nodeType === "FOLDER_TABLES") {
                                url = $.helper.resolveApi("~/core/ExcelTemplate/tree?templateId=" + $('input[id=recordId]').val() + "&parentId=" + node.parent);
                            }
                        }
                        return url;
                    },
                    data: function (node) {
                        //$('.vakata-context').css('z-index', 999);
                        return node;
                    }
                }
            },
            "types": {
                "default": {
                    "icon": "fal fa-folder icon-state-warning icon-lg"
                },
                "root": {
                    "class": "css-custom"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                }
            },
            state: { "key": "id" },
            plugins: ["dnd", "state", "types", "contextmenu"]
        });

        $tree.on("dblclick.jstree", function (e) {
            var instance = $.jstree.reference(this),
                node = instance.get_node(e.target);
            console.log(node);

        });

        function customMenu(node) {
            // The default set of all items
            var items = {
                NewTable: {
                    label: "Add Table",
                    icon: "fal fa-table",
                    action: function (n) {
                        var data = node.original;
                        var parentId = '';
                        switch (data.nodeType) {
                            case "TABLE":
                                parentId = data.id
                                break;
                            //case "FOLDER_TABLES":
                            //    parentId = node.parent;
                            //    break;
                        };
                        console.log({
                            id: parentId,
                            name: node.text
                        });
                        pageModalTableRelated.showModal({
                            id: parentId,
                            name: node.text
                        });
                    }
                },

                Refresh: {
                    label: "Refresh",
                    icon: "fal fa-redo-alt",
                    action: function (obj) {
                        console.log(obj);
                        var _this = this;
                        console.log(node.id);

                        $tree.jstree(true).refresh_node(node.id)

                        //this.save_opened();
                        //if (!obj) { obj = -1; }
                        //obj = this._get_node(obj);
                        //console.log(obj);
                    }
                }

            };

            if (node.original.nodeType == "COLUMN") {
                delete items.NewTable;
                delete items.Refresh;
            }
            if (node.original.nodeType == "FOLDER_COLUMNS" || node.original.nodeType == "FOLDER_TABLES") {
                delete items.NewTable;
            }
            return items;
        }

        $('#btn_addTableRelated').click(function () {
            pageModalTableRelated.showModal();
        });

        init();
    });


</script>