﻿<div class="modal-header">
    <h5 class="modal-title h4">Table Related</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="form-group">
                <label class="form-label" for="single-default">
                    Choose Table
                </label>
                <select type="text" class="form-control form-control-sm" name="display_name" id="application_entity_id" data-field="id" data-text="display_name" placeholder="" required></select>
            </div>
            <button id="btn_set_related" class="btn btn-sm btn-primary mt-0">Set</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" id="table_list">

        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>


<script id="table_list_template" type="text/x-handlebars-template">

    {{#each items}}
    <div class="card mb-g item-list" data-record="{{id}}" data-entity="{{application_entity_id}}">
        <div class="card-body p-3">
            <h5 class="text-danger">
                {{display_name}}
                <small class="mt-0 mb-3 text-muted">
                    Description
                </small>

            </h5>
            {{#if list_of_object}}
            <div class="custom-control d-flex custom-switch fw-n position-absolute pos-top pos-right mt-3 mr-3">
                <input id="eventlog-switch-1" checked type="checkbox" class="custom-control-input change-table-object">
                <label class="custom-control-label fw-500" for="eventlog-switch-1">List&lt;Object&gt;</label>
            </div>
            {{else}}
            <div class="custom-control d-flex custom-switch fw-n position-absolute pos-top pos-right mt-3 mr-3">
                <input id="chk_{{id}}" type="checkbox" class="custom-control-input change-table-object" data-tableMapId="{{id}}">
                <label class="custom-control-label fw-500" for="chk_{{id}}">List&lt;Object&gt;</label>
            </div>
            {{/if}}

            <div class="row fs-b fw-700">
                <div class="col text-left">
                    <h5 class="text-dark">Column :</h5>
                </div>
            </div>

            <div class="fs-xs mb-3">
                <ul class="mb-1">
                    <li>
                        Turncated syndicate rated
                    </li>
                </ul>
            </div>
            <div class="text-left fw-400 ">

                <button class="btn btn-xs btn-danger">Remove</button>
            </div>
        </div>

    </div>
    {{/each}}

</script>


<script>

    Handlebars.registerHelper('json', function (context) {
        return JSON.stringify(context);
    });

    var LoadTableMaps = function () {
        $.ajax({
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            url: $.helper.resolveApi("~/core/ExcelTableMap/List"),
            success: function (r) {
                if (r.status.success) {
                    var template = Handlebars.compile($("#table_list_template").html());
                    $('#table_list').html(template({ items: r.data }));

                }
            },
            error: function (err) {
                console.error(err);
            }
        });

    }
    LoadTableMaps();

    $(document).on('change', '.change-table-object', function () {

        var isListOfObject = $(this).prop('checked'),
            tableMapId = $(this).closest('.item-list').data('record'),
            entityId = $(this).closest('.item-list').data('entity');


        $.post($.helper.resolveApi('~/core/ExcelTableMap/save'), {
            excel_template_id: $('input[id=recordId]').val(),
            id: tableMapId,
            application_entity_id: entityId,
            list_of_object: isListOfObject
        }, function (r) {
            if (r.status.success) {
                toastr.success(r.status.message)
            } else {
                toastr.error(r.status.message)
            }
        }, 'json').fail(function (r) {
            toastr.error(r.statusText);
        });

    });


    $("#application_entity_id").cmSelect2({
        url: $.helper.resolveApi('~/core/ApplicationEntity/lookup'),
        result: {
            id: 'id',
            text: 'display_name'
        },
        filters: function (params) {
            return [{
                field: "display_name",
                operator: "contains",
                value: params.term || '',
            }];
        },
        options: {
            dropdownParent: $('#modal_table_related'),
            placeholder: "Select a entity",
            allowClear: true,
        }
    });


    $('#btn_set_related').click(function () {
        var btn = $(this);

        var selected = $('#application_entity_id').select2('data')[0] || null;
        if (selected == null) {
            alert('Please choose table / entity');
            return;
        }
        bootbox.confirm(
            {
                title: "Set Table Related",
                message: "Do you want to related the <b>" + selected.text + "</b> now? This cannot be undone.",
                buttons:
                {
                    cancel:
                    {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm:
                    {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    if (result) {
                        btn.button('loading');
                        $.post($.helper.resolveApi('~/core/ExcelTableMap/save'), {
                            excel_template_id: $('input[id=recordId]').val(),
                            list_of_object: false,
                            application_entity_id: selected.id,
                        }, function (r) {
                            if (r.status.success) {
                                toastr.success(r.status.message)
                                btn.button('reset');
                                LoadTableMaps();
                            } else {
                                toastr.error(r.status.message)
                            }
                            btn.button('reset');
                        }, 'json').fail(function (r) {
                            btn.button('reset');
                            toastr.error(r.statusText);
                        });
                    }
                }
            });

    });



</script>