﻿
@{
    ViewBag.Title = "AFE Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afe";

}

<style>
    .editable-empty {
        color: white !important;
    }

    .editable-click {
        cursor: pointer;
    }

    .text-danger {
        color: red !important;
    }

    .planBudgetShow:hover {
        cursor: pointer;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/afe")">AFE</a></li>
                            <li class="breadcrumb-item active fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<div class="modal" id="afeDetailModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="modal" id="afeManageBudgetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afeManageBudget">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>

<div class="modal" id="planBudgetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header pb-0">
                @*<button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>*@
                <h4 class="modal-title">Budget Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form id="formBudgetPlan" class="needs-validation" novalidate>
                    <input type="hidden" id="afe_plan_id" name="id" data-field="id" value="" />
                    <input type="hidden" id="material_id" name="material_id" data-field="material_id" value="" />
                    <div class="panel-body" style="padding-bottom: 0px;">
                        <div class="alert alert-danger alert-dismissible fade show mb-2 border-bottom-left-radius-0 border-bottom-right-radius-0 border-top-right-radius-0 border-top-left-radius-0" id="form-message" role="alert" style="display: none;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                            </button>
                            <span class="message">
                                <strong>Well Done!</strong> You successfully read this important alert message.
                            </span>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2">Material</label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" readonly="" class="form-control-plaintext text-success fw-500" id="budgetMaterialName" value="-">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="currency_id">Currency<span class="text-danger"> *</span></label>
                            <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                                <select type="text" class="form-control form-control-sm" name="currency_id" id="currency_id" data-field="currency_id" data-text="currency_code" placeholder="" required></select>
                                <div class="invalid-feedback fw-700">Currency cannot be empty</div>
                            </div>
                        </div>
                        <div class="form-group row mb-2" id="exchangeRateGroup">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="current_rate_value">Rate Value<span class="text-danger"> *</span></label>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input_currency_code_label">1 USD</span>
                                    </div>
                                    <input type="text" name="current_rate_value" data-field="current_rate_value" data-text="current_rate_value" id="current_rate_value" value="" class="form-control text-right fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required style="background-color: white;">
                                    <div class="input-group-append">
                                        <span class="input-group-text">IDR</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="unit">Quantity<span class="text-danger"> *</span></label>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <input type="text" name="unit" data-field="unit" data-text="unit" id="unit" class="form-control form-control-sm fw-700 numeric" data-inputmask="'alias': 'currency'" im-insert="true" required>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="unit_price">Unit Price (<span class="currency_code_label">-</span>)<span class="text-danger"> *</span></label>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <input type="text" name="unit_price" data-field="unit_price" data-text="unit_price" id="unit_price" class="form-control form-control-sm fw-700 text-right numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="p-3">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <h4>Please wait...</h4>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-saveBudgetPlan" class="btn btn-info">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel" style="margin-bottom: 5px !important;">
            <div class="panel-container show">
                <div class="panel-content page-loading-content pt-2 pb-0">
                    <form id="formAfeDetail">
                        <div class="subheader mb-1">
                            <span class="subheader-title">
                                <p class="fw-300"></p>
                            </span>
                            <div class="subheader-block d-lg-flex align-items-center">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">Field</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-info-500" data-objecttype="label" data-field="field_name">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#886ab5" sparkheight="32px" sparkbarwidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                            <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">Well</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-primary-700" data-objecttype="label" data-field="well_name">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#fe6bb0" sparkheight="32px" sparkbarwidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                            <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">AFE Number</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-success-700" data-objecttype="label" data-field="afe_no">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#886ab5" sparkheight="32px" sparkbarwidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab_home" role="tab" aria-selected="true"><i class="fal fa-home mr-1"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_afecontracts" role="tab" aria-selected="false"><i class="fal fa-home mr-1"></i> Contracts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab_bbs20" role="tab" aria-selected="false"><i class="fal fa-clock mr-1"></i> AFE</a>
                        </li>
                    </ul>
                    <div class="tab-content border border-top-0 p-3">
                        <div class="tab-pane fade active show" id="tab_home" role="tabpanel">
                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone.
                        </div>
                        <div class="tab-pane fade" id="tab_afecontracts" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-12 p-0">
                                    <div id="panel-1" class="" style="margin-bottom: 5px !important; border-top-left-radius: 0px !important;  border-top-right-radius: 0px !important;">
                                        <div class="panel-hdr" style="border-bottom-color: transparent;">
                                            <h2></h2>
                                            <div class="panel-toolbar">
                                                <button data-href="@Url.Content("/Core/afedetail/detail?afeId=")@ViewBag.recordId" class="modalTrigger btn btn-sm btn-info no-radius waves-effect waves-themed"
                                                        data-toggle="modal-remote" data-target="#afeDetailModal">
                                                    Search Contract
                                                </button>
                                            </div>
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content page-loading-content pt-2">
                                                <div class="panel-tag mb-2">Click on contract number to show contract detail.</div>

                                                <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
                                                <table id="listContract" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th class="fw-700 text-center" style="width: 1px;">No.</th>
                                                            <th class="fw-700">Contract Number</th>
                                                            <th class="fw-700">Vendor</th>
                                                            <th class="fw-700" style="text-align: left !important;">Total</th>
                                                            <th class="fw-700">Start Date</th>
                                                            <th class="fw-700">End Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center" colspan="6">No contract related.</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="rowContractDetail" style="display: none;">
                                <div class="col-xl-12 p-0">
                                    <div id="panel-1" class="" style="margin-bottom: 5px !important; border-top-left-radius: 0px !important;  border-top-right-radius: 0px !important;">
                                        <div class="panel-hdr">
                                            <h2>Contract Detail</h2>
                                            <div class="panel-toolbar">
                                                <button class="modalTrigger btn btn-xs btn-danger no-radius waves-effect waves-themed fw-700" id="btnCloseContractDetail" style="background-color: red;">Close</button>
                                            </div>
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content page-loading-content">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p><span class="fw-700">Contract Number: </span><span class="text-success fw-700" id="detailContractNumber">-</span></p>
                                                    </div>
                                                </div>
                                                <table id="tableContractDetail" class="table table-striped table-bordered" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 1px;">No.</th>
                                                            <th>AFE Line</th>
                                                            <th>Material</th>
                                                            <th style="text-align: left !important;">Rate</th>
                                                            <th style="text-align: center !important; width: 1px;">Unit</th>
                                                            <th style="text-align: left !important; width: auto;">Unit Price</th>
                                                            <th style="text-align: left !important; width: auto;">Total Price</th>
                                                            <th style="text-align: left !important; width: auto;">Actual Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_bbs20" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-12 p-0">
                                    <div id="panel-1" class="">
                                        <div class="panel-container show">
                                            <div class="panel-content page-loading-content">
                                                @*<div class="panel-tag mb-2">Click original budget or revise budget 1 or revise budget 2 column to input budget.</div>*@
                                                <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
                                                <table class="table table-bordered table-hover m-0 w-100" id="dt_afePlan">
                                                    <thead class="thead-themed">
                                                        <tr>
                                                            <th class="fw-700 text-center align-middle" rowspan="2" style="width: 1px;">No</th>
                                                            <th class="fw-700 align-middle" rowspan="2">Description</th>
                                                            <th class="fw-700 text-center" colspan="3">AFE</th>
                                                            <th class="fw-700 text-center align-middle text-warning" colspan="3">Issued From Stock</th>
                                                            <th class="fw-700 text-center" colspan="3">Contract</th>
                                                            <th class="fw-700 text-center align-middle text-danger" colspan="3">Actual</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="fw-700 text-center">Unit</th>
                                                            <th class="fw-700 text-center">Price</th>
                                                            <th class="fw-700 text-center">Total</th>

                                                            <th class="fw-700 text-center text-warning">Unit</th>
                                                            <th class="fw-700 text-center text-warning"">Price</th>
                                                            <th class="fw-700 text-center text-warning"">Total</th>

                                                            <th class="fw-700 text-center">Unit</th>
                                                            <th class="fw-700 text-center">Price</th>
                                                            <th class="fw-700 text-center">Total</th>

                                                            <th class="fw-700 text-center">Unit</th>
                                                            <th class="fw-700 text-center">Price</th>
                                                            <th class="fw-700 text-center">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div id="panel-12" class="panel mb-0">
            <div class="panel-container show">
                <div class="panel-content pb-1">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-tabs-clean" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab-home" role="tab" aria-selected="true">Home</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-afecontracts" role="tab" aria-selected="false">Contracts</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab-bbs20" role="tab" aria-selected="false">AFE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="tab-home" role="tabpanel" aria-labelledby="tab-home">
                <div class="row">
                    <div class="col-xl-12">
                        <div id="panel-1" class="panel" style="margin-bottom: 5px !important; border-top-left-radius: 0px !important;  border-top-right-radius: 0px !important;">
                            <div class="panel-hdr">
                                <h2>Details</h2>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content page-loading-content pt-2">
                                    <p>This is space for contents.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-afecontracts" role="tabpanel" aria-labelledby="tab-afecontracts">

            </div>
            <div class="tab-pane fade" id="tab-bbs20" role="tabpanel" aria-labelledby="tab-bbs20">
            </div>
        </div>*@
    </div>
</div>


<script id="manageBudget-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>{{budget_description}}</td>
        <td class="text-right programBudget">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal original_budget}}
            </button>
            @*<a class="editable-program-budget" id="programBudget-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.recordId" data-id="{{id}}" data-title="Enter Amount">{{thousandSeparatorWithoutComma original_budget}}</a>*@
        </td>
        <td class="text-right revBudget1">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_1}}
            </button>
        </td>
        <td class="text-right revBudget2">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_2}}
            </button>
        </td>
        <td class="text-right contractBudget"><span class="text-success fw-700">{{printActualBudget actual_budget}}</span></a></td>
        <td class="text-right actualExpense"><span class="text-danger fw-700">{{printActualExpense actual_budget actual_expense}}</span></td>
    </tr>
    {{/each}}
</script>
<script id="afeContract-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td><span class="fw-700 text-info showDetail" data-id="{{id}}" style="cursor: pointer;">{{contract_no}}</span></td>
        <td>{{vendor_name}}</td>
        <td class="text-right">USD {{thousandSeparatorWithoutComma total}}</td>
        <td>{{dateFormat start_date}}</td>
        <td>{{dateFormat end_date}}</td>
    </tr>
    {{/each}}
</script>
<script id="afeContractDetail-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>{{afe_line_description}}</td>
        <td>{{description}}</td>
        <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma current_rate_value}}</td>
        <td class="text-center">{{thousandSeparatorWithoutComma unit}}</td>
        <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma unit_price}}</td>
        <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma total_price}}</td>
        <td class="text-right fw-700">USD {{actual_price}}</td>
    </tr>
    {{/each}}
</script>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/afeDetail.index.js?_@DateTime.Now"></script>
    <script src="~/Areas/Core/Scripts/contractdetail.index.js?_@DateTime.Now"></script>
}