﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Vendor Contract Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formVendorContract" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 control-label" for="vendor_id">Vendor Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9">
                    <select type="text" class="form-control form-control-sm" name="vendor_id" id="vendor_id" data-field="vendor_id" data-text="name" placeholder="" required></select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 control-label" for="contact_person">Company<span class="text-danger"> *</span></label>
                <div class="col-lg-9">
                    <select type="text" class="form-control form-control-sm" name="business_unit_id" id="business_unit_id" data-field="business_unit_id" data-text="unit_name" placeholder="" required></select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 control-label" for="contact_person">Contact Person<span class="text-danger"> *</span></label>
                <div class="col-lg-9">
                    <input type="text" name="contact_person" data-field="contact_person" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 control-label" for="telp_1">Telp 1<span class="text-danger"> *</span></label>
                <div class="col-lg-9">
                    <input type="text" name="telp_1" data-field="telp_1" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label" for="telp_2">Telp 2</label>
                <div class="col-lg-9">
                    <input type="text" name="telp_2" data-field="telp_2" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-primary">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/vendorContract.detail.js?_@DateTime.Now"></script>