﻿
@{
    ViewBag.Title = "Vendor Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/vendorcontract";

}

@section PageBreadCrumb{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb page-breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
                <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
            </ol>
        </div>
    </div>
}

@section PageHeading {

}

    <div class="modal" id="vendorContractModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-Currency">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/Core/VendorContract/Detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#vendorContractModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listVendorContract" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Vendor</th>
                                <th>Company</th>
                                <th>Contact Person</th>
                                <th>Phone</th>
                                <th class="text-center" style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/vendorContract.index.js?_@DateTime.Now"></script>
}