﻿﻿
@{
    ViewBag.Title = "Single Well";
    ViewData["Title"] = "Reports | Single Well";
    ViewData["PageName"] = "/Reports/SingleWell";
    //ViewData["PageName"] = string.Format("{3}//UTC/{0}/singlewell?field={1}&name={2}",ViewBag.BusinessUnitRoute,ViewBag.fieldId,ViewBag.fieldName,
    //    Dreamwell.Infrastructure.Options.DreamwellSettings.WebServerUrl);

}

@section Header{
    @*<link href="~/Content/css/dreamwell/report.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/dreamwell/report-new.css" rel="stylesheet" />*@
    <link href="~/Content/css/statistics/chartjs/chartjs.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/ion-rangeslider/ion-rangeslider.css">
    <link href="~/Content/css/report.css?_@DateTime.Now" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/css/statistics/c3/c3.css">

    <link href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/statistics/c3/c3.css" rel="stylesheet" />
}

<style>
    .lithology-actual-section {
        top: 1px;
    }

    .report-element:hover {
        cursor: pointer;
    }

    .trayek-analysis > div > svg > text {
        display: none;
    }

    .panel.panel-trayek {
        border-radius: 0px;
    }

    .report-body .drill-bit {
        max-height: none;
    }

    .non-clickable {
        pointer-events: none;
        cursor: default; /* Opsional: mengubah cursor untuk menunjukkan bahwa elemen tidak dapat diklik */
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/APH/dashboard")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">Single Well</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="nptDetailModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" id="recordId" value="@ViewBag.recordId" />
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Single Well</h2>
            </div>
            <div class="panel-container show">
                <div class="text-center" id="well-schematic-loading">
                    <div class="spinner-border mt-3" role="status" style="width: 3rem; height: 3rem;">
                    </div>
                    <p class="pt-2 fs-lg">Loading...</p>
                </div>
                <div class="panel-content page-loading-content p-0" id="well-schematic-section" style="display: none; height:auto;">
                    <!-- Your content here-->
                    <div class="report-header" style="background-color: white;"></div>
                    <div class="report-body">
                        <div class="dirt-wrapper" style="min-height: 740px; height: 1000px;">
                            <div class="dirt-type" style="height:10%;background-color:#cbcbcb;">
                                <span class="dirt-name"><!-- tanah permukaan --></span>
                            </div>
                            <div class="dirt-type" style="height:10%;background-color:#c1c1c1;">
                                <span class="dirt-name"><!-- lempung --></span>
                            </div>
                            <div class="dirt-type" style="height:10%;background-color:#bababa;">
                                <span class="dirt-name"><!-- lempung kaku --></span>
                            </div>
                            <div class="dirt-type" style="height: 20%;background-color: #b6b6b6;">
                                <span class="dirt-name"><!-- lempung pasir --></span>
                            </div>
                            <div class="dirt-type" style="height:20%;background-color:#bbbbbb;">
                                <span class="dirt-name"><!-- pasir --></span>
                            </div>
                            <div class="dirt-type" style="height:30%;background-color:#b6b6b6;">
                                <span class="dirt-name">
                                </span>
                            </div>
                        </div>
                        <div class="cost-wrapper">
                            <span class="fw-500" style="position: absolute;top: -30px;left: -15px;">Plan</span>
                            <div class="detail-header">
                                <i class="fa fa-money"></i>
                                <br>
                                Budget
                            </div>
                            <span class="fw-500" style="position: absolute;top: -30px;left: 92px;">Actual</span>
                            <div class="detail-body">
                                <div class="detail-wrapper">
                                    <div style="background-size: 100% 700px; height: 1px;"></div>
                                </div>
                            </div>
                            <div class="detail-info"><span class="left line-track active" style="background-color: rgb(255, 227, 131); top: 0px; margin-top: -12px;">$0</span><span class="right" style="top: 0px; margin-top: -12px;">$1,588,380</span></div>
                            <div class="row" style="margin-top: 720px;">
                                <div class="col-md-12 text-center">
                                    <span class="text-white fw-500 text-white-shadow" id="afe_cost">$ 0</span>
                                </div>
                            </div>
                        </div>
                        <div class="time-wrapper">
                            <div class="detail-header">
                                <span class="ni ni-calendar fa-2x"></span>
                                <p class="fw-700">Drilling</p>
                                @*<div class="timeline-button prev-day"></div>
                                    <div class="timeline-button next-day"></div>*@
                            </div>
                            <div class="detail-body">
                                <div class="detail-wrapper timeline-track">
                                    <div style="background-size: 100% 700px; background-repeat: no-repeat;"></div>
                                    <span class="timeline-thumb ui-draggable">
                                        <span class="timeline-date" id="timeline_drilling_date">28 Nov 2017</span>
                                    </span>
                                </div>
                            </div>
                            <div class="detail-info"></div>
                            <div class="row" style="margin-top: 720px;">
                                <div class="col-md-12 text-center">
                                    <span class="text-white fw-500 text-white-shadow">Plan Days</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span class="text-white fw-500 text-white-shadow" id="planned_days">0 days</span>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 720px;">
                                <div class="col-md-12 text-center">
                                    <span class="text-white fw-500 text-white-shadow">Actual Days</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span class="text-white fw-500 text-white-shadow" id="actual_days">0 days</span>
                                </div>
                            </div>
                        </div>
                        <div class="actual" style="width: 60px;">
                            <div class="prog-body" id="show" style="width: 60px; height: 700px;">
                            </div>
                        </div>

                        <div class="lithology-plan-header">
                            <p class="fw-700">Plan</p>
                        </div>

                        <div class="lithology-actual-header">
                            <p class="fw-700">Actual</p>
                        </div>

                        <div class="lithology-plan-section">
                            <div class="text-center" id="section-plan-lithology" style="height: 600px;">
                            </div>
                        </div>

                        <div class="lithology-actual-section">
                            <div class="text-center" id="section-actual-lithology" style="height: auto;">
                            </div>
                        </div>
                        <div class="report-body">


                        </div>
                        <div class="drill-wrapper">
                            <div class="drill-info">
                                @*<span class="left" style="top: 0px; background-color: rgb(175, 210, 133); color: rgb(37, 37, 37);"><span class="text">2" @@ 955 ft </span><i class="arrow"></i></span>*@
                            </div>
                            <div class="depth-info">
                                <div class="row" style="margin-top: 720px;">
                                    <div class="col-md-12 text-center">
                                        <span class="text-white fw-500 text-white-shadow" id="planned_td">0 ft</span>
                                    </div>
                                </div>
                            </div>
                            <div class="drill-header">
                                <div class="datum-popup">
                                    <form id="form-well-detail">
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-6 control-label pt-1">Well Head Elevation</label>
                                            <label class="col-sm-1 control-label pt-1 pr-0">:</label>
                                            <div class="col-sm-5 pl-0">
                                                <input type="text" class="form-control-plaintext pt-1 pb-0" data-field="well_head_elevation">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-6 control-label pt-1">Datum Elevation</label>
                                            <label class="col-sm-1 control-label pt-1 pr-0">:</label>
                                            <div class="col-sm-5 pl-0">
                                                <input type="text" class="form-control-plaintext pt-1 pb-0" data-field="datum_elevation">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-6 control-label pt-1">Air Gap</label>
                                            <label class="col-sm-1 control-label pt-1 pr-0">:</label>
                                            <div class="col-sm-5 pl-0">
                                                <input type="text" class="form-control-plaintext pt-1 pb-0" data-field="air_gap">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0">
                                            <label class="col-sm-6 control-label pt-1">Ground Elevation</label>
                                            <label class="col-sm-1 control-label pt-1 pr-0">:</label>
                                            <div class="col-sm-5 pl-0">
                                                <input type="text" class="form-control-plaintext pt-1 pb-0" data-field="ground_elevation">
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                            <div class="drill-body">
                                <div class="drill-bit-wrapper">
                                    <div class="drill-bit" style="height: 1px;"></div>
                                </div>
                            </div>
                            <div class="modal" id="bhaModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!--Modal header-->
                                        <div class="modal-header">
                                            <h4 class="modal-title">BHA Component</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                            </button>
                                        </div>
                                        <div class="card-body p-0">
                                            <div id="panel-1" class="panel">
                                                <div class="panel-container show">
                                                    <div class="panel-content page-loading-content">
                                                        <div class="col-lg-12 mt-3">
                                                            <div class="form-group row mt-2">
                                                                <label class="col-lg-4 col-md-4 col-sm-3 col-form-label fw-700">Trayek No :</label>
                                                                <div class="col-lg-4 col-md-6 col-sm-8">
                                                                    <select class="form-control" id="holeandcasinglookup" data-field="well_hole_and_casing_id" data-text="hole_name" placeholder=""></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mt-2">
                                                                <label class="col-lg-4 col-md-4 col-sm-3 col-form-label fw-700">BHA No :</label>
                                                                <div class="col-lg-4 col-md-6 col-sm-8">
                                                                    <select class="form-control" id="well_bha_id" data-field="well_bha_id" data-text="bha_no" placeholder=""></select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-2">
                                                                <label class="col-lg-4 col-md-4 col-sm-3 col-form-label fw-700">BIT No :</label>
                                                                <div class="col-lg-4 col-md-6 col-sm-8">
                                                                    <select class="form-control" id="well_bit_id" data-field="well_bit_id" data-text="bit_number" placeholder=""></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Modal : TODO -->
                                                        <!-- Modal end -->

                                                        <div class="col-lg-12 mt-4 mb-3" id="BhaComponentContent" style="display: none;">
                                                            <div id="tableBhaComponent">
                                                                <div class="well-header text-center">
                                                                    <img src="~/Content/img/report/drill-header-120.png" />
                                                                </div>
                                                                <div class="well-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*
                                                            <div class="col-lg-12 mt-4 mb-3" id="BhaComponentContent" style="display: none;">
                                                                <table class="table table-bordered table-hover m-0" id="tableBhaComponent">
                                                                    <thead class="thead-themed" style="border-top: none; border-bottom: none;">
                                                                        <tr>
                                                                            <th class="text-center fw-700 p-2" style="width: 13%;">
                                                                                <img src="~/Content/img/report/drill-header-120.png"/>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="no-data" style="display: none;">
                                                                            <td colspan="7" class="text-center">There is no data available.</td>
                                                                        </tr>

                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr class="no-data" style="display: none;">
                                                                            <td colspan="7" class="text-center">There is no data available.</td>
                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        *@

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12" id="depthDay">
        <div id="panel-1" class="panel">
            <div class="panel-hdr" style="overflow-x: auto;">
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#operationsActivies">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-cogs icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Operations Activies</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/OperationsActivies.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#timeDepthCurveModal">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-chart-bar icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Time Depth Curve & Plot Trajectory</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/TimeDepthCurveAndPlotTrajectory.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#operations">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-cog icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Operations</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/Operations.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#report">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-clipboard-list icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Report</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/Report.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element non-clickable" data-toggle="modal" data-target="#endWellAnalysis">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-edit icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">End Well Analysis</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/EndWellAnalysis.cshtml")
                </div>

                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element non-clickable" data-toggle="modal" data-target="#sectionWiseAnalysis">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-paste icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Section Wise Analysis</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/SectionWiseAnalysis.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12" id="depthDay" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2></h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChart" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="WOB" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2></h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartWOB" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="DHRPM" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @* <h2>RPM</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartDHRPM" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="RPM" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @* <h2>RPM</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartRPM" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="ROP" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>ROP</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartROP" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="Torsi" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>Torsi(klbsft)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartTorsi" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="SPP" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>Average of SPP (psi)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartSPP" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="SPM" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @* <h2>RPM</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartSPM" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="SPMPRESS" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @* <h2>RPM</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartSPMPRESS" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="flowrate" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>Average Flow per Day (GPM)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartFlow" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="PTNPT" style="margin-top: -20px;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                @*<h2>PT & NPT (Hours)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="stackedBarPTNPT" style="width:100%; height:300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 trayek-panel" style="display: none; margin-top: -20px;">
        <div id="panel-1" class="panel mb-0">
            <div class="panel-hdr">
                <h2>Analysis Trayek</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content pt-0 pb-0">
                    <div class="row" id="trayek-filter-content">
                        <div class="col-lg-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Quick Filter</label>
                                <div class="col-lg-11">
                                    <div class="frame-wrap" id="list-trayek">
                                    </div>
                                    @*
                                        <div class="frame-wrap" id="chart-filter">  </div>
                                    *@
                                </div>
                            </div>
                            <div class="form-group row mt-1 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilterTrayek" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" id="trayek-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="bhaComponentWell-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="pt-0 pb-0 text-center">
        <img style="width:80px; border-left: 2px solid black; border-right: 2px solid black;" src="/UploadBHAPath/{{bha_component_id}}.png" />
    </div>

    @*
             <tr class="no-border-top-bottom">
            <td class="pt-0 pb-0 text-center no-border-top-bottom">
            </td>
        </tr>
    *@

    {{/each}}
</script>

<script id="trayek-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-md-12 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
        <button type="button" id="btnWellHoleCasing-{{id}}" data-href="@Url.Content("/utc")/@ViewBag.BusinessUnitRoute/report/SingleWellNPTDetail?id={{id}}" data-toggle="modal-remote" data-target="#nptDetailModal" class="modalTrigger btn btn-info btn-md text-right waves-effect waves-themed border-0 fw-500 d-none">
            <span class="fal fa-plus"></span> Show Detail For NPT
        </button>
        <span class="fw-500" style="position: absolute; z-index: 400;">Trayek: {{hole_name}}"</span>
        </br>
        <div class="trayek-analysis" id="trayek-{{id}}"></div>
    </div>
    {{/each}}
</script>

<script id="lithologyXXXX-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-md-6 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
        <button type="button" id="btnWellHoleCasing-{{id}}" data-href="@Url.Content("/utc/APH/report/SingleWellNPTDetail?id="){{id}}" data-toggle="modal-remote" data-target="#nptDetailModal" class="modalTrigger btn btn-info btn-md text-right waves-effect waves-themed border-0 fw-500 d-none">
            <span class="fal fa-plus"></span> Show Detail For NPT
        </button>
        <span class="fw-500" style="position: absolute; z-index: 400;">Trayek: {{hole_name}}"</span>
        <div class="trayek-analysis" id="trayek-{{id}}"></div>
    </div>
    {{/each}}
</script>

<script id="planHoleCasing-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="drill-hole" data-height="{{hole_depth}}" style="height: {{HoleCasingSize hole_depth}}px;background-color: #ffeb99;">
        <img src="~/Content/img/segitiga2.png" class="img">
        <img src="~/Content/img/segitiga.png" class="img2">
    </div>
    {{/each}}
</script>

@section scripts{
    <script src="~/Areas/UTC/Scripts/underscore-min.js"></script>
    <script src="~/Content/css/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/plugins/number/jquery.number.js"></script>
    <script src="~/Content/js/formplugins/ion-rangeslider/ion-rangeslider.js"></script>
    <script src="~/Content/js/statistics/chartjs/chartjs.bundle.js"></script>

    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @*<script src="~/Areas/UTC/Scripts/wellData.detail.js?t=@DateTime.Now"></script>*@
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/3dplugin/main_well.js"></script>


    <script src="~/Areas/UTC/Scripts/singleWell.detail.js?_@DateTime.Now"></script>

    <script>
    function openOperationsActivities(id) {
        // Menggunakan window.open untuk membuka tab atau jendela baru dengan URL yang sudah dirapihkan
        var url = "@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/singlewell/Detail")?id=" + id;
        window.open(url, '_blank');
    }
    </script>

}
