﻿
@{
    ViewBag.Title = "Well Data";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;

    ViewData["PageName"] = string.Format("{3}//UTC/{0}/singlewell?field={1}&name={2}", ViewBag.BusinessUnitRoute, ViewBag.fieldId, ViewBag.fieldName,
        Dreamwell.Infrastructure.Options.DreamwellSettings.WebServerUrl);


}
<link href="~/Content/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
<link href="~/Content/plugins/nestable-list/nestable-list.min.css" rel="stylesheet" />
<style>
    .dd-list .dd-list > .dd-item {
        padding-left: 30px;
    }

    .dd3-handle:before {
        top: 15px;
    }
</style>

@section PageBreadCrumb{
    @*<h1>@ViewData["PageName"]</h1>*@
    <input hidden id="field_id" value="@ViewBag.fieldId" />
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/UTC/PHE/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700">@ViewBag.Title</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.fieldName</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!--===================================================-->
<!--Start page content-->
<div id="panel-1" class="panel">
    <div class="panel-hdr pt-3 pb-2">
        <h4>Well List</h4>
    </div>
    <div class="panel-body p-3">
        <div class="row">
            <div class="col-md-12">
                <div id="demo-nestable-theme-4" class="dd">
                    <ol class="dd-list" id="list-item">
                        <li class="dd-item dd3-item" data-id="{{id}}" data-index="{{order_index}}" style="height: 60px;">
                            <div class="dd-handle dd3-handle" style="height: 60px;"></div>
                            <div class="dd3-content" style="height: 60px; padding-top: 20px;">
                                <span>There is no Well Available</span>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script id="status-template" type="text/x-handlebars-template">
    {{#each data}}
    <li class="dd-item" data-id="Item 2">
        <div class="dd-handle dd3-handle" style="height: 60px;"></div>
        <div class="dd3-content" style="height: 60px; padding-top: 12px;">
            <div class="pull-right" style="margin-top: 2px;position: absolute;right: 10px;">
                <a data-id="{{id}}" href="@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/singlewell/Detail")?id={{id}}" class="btn btn-info btn-sm text-semibold btn-edit">Details</a>
            </div>
            <span>{{text}}</span> <br />
            <span class="text-info">{{wellType type}}</span>
        </div>
        <ol class="dd-list">
            {{#each children}}
            <li class="dd-item  dd3-item" data-id="Item 3">
                <div class="dd-handle dd3-handle" style="height: 60px; margin-left: 30px;"></div>
                <div class="dd3-content" style="height: 60px; padding-top: 12px;">
                    <div class="pull-right" style="margin-top: 2px;position: absolute;right: 10px;">
                        <a data-id="{{id}}" href="@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/singlewell/Detail")?id={{id}}" class="btn btn-info btn-sm text-semibold btn-edit">Details</a>
                    </div>
                    <span>{{text}}</span> <br />
                    <span class="text-info">{{wellType type}}</span>
                </div>
            </li>
            {{/each}}
        </ol>
    </li>
    {{/each}}
</script>

@section scripts{
    <script src="~/Content/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Content/plugins/nestable-list/jquery.nestable.js"></script>
    <script>
        $(document).ready(function () {
            'use strict';

            var pageFunction = function () {
                var $fieldId = $('input[id=field_id]').val();

                Handlebars.registerHelper('wellType', function (type) {
                    var html = "";

                    if (type == 0) {
                        html = "Original Well";
                    } else if (type == 1) {
                        html = "Side Track";
                    } else if (type == 2) {
                        html = "Work Over";
                    } else if (type == 3) {
                        html = "Well Services";
                    }
                    return new Handlebars.SafeString(html);
                });


                var loadList = function () {
                    var templateScript = $("#status-template").html();
                    var template = Handlebars.compile(templateScript);

                    $.post($.helper.resolveApi("~core/well/tree?field_id=" + $fieldId), function (r) {
                        console.log(r);
                        $('#list-item').html(template({ data: r }));
                        //if (r.status.success) {

                        //}
                    }).fail(function (r) {
                        $.helper.noty.error(r.status, r.statusText);
                    });
                }

                return {
                    init: function () {
                        loadList();
                    }
                };
            }();

            $(document).ready(function () {
                pageFunction.init();
            });


        });
    </script>
}