﻿<div class="modal-header pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <input type="hidden" id="wellId" value="@ViewBag.wellId" />
    <div id='averageROP'></div>
</div>


<script src="~/Content/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>
<script src="~/Areas/utc/Scripts/singleWell.averageRop.js?_@DateTime.Now"></script>
@*<script src="~/Content/plugins/highcharts/modules/exporting.js"></script>*@