﻿
@{
    ViewBag.Title = "Benchmark";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = $"report/benchmark";

    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">UTC</a></li>
                            <li class="breadcrumb-item active fw-700">Report</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }

    .form-check.form-check-inline > input,
    .form-check.form-check-inline > label {
        cursor: pointer;
    }

    .text-danger {
        color: red !important;
    }

    .dp-none {
        display: none !important;
    }
</style>
<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-lg-12" id="formFilter">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="well_type">Data <span class="text-danger"> *</span></label>
                                <div class="col-lg-11">
                                    <div class="frame-wrap pl-0" id="">
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype6" value="7">
                                            <label class="form-check-label" for="benchmarktype6">Total Well</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype9" value="9">
                                            <label class="form-check-label" for="benchmarktype9">Plan Vs Actual</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype1" value="1">
                                            <label class="form-check-label" for="benchmarktype1">Depth</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype2" value="2">
                                            <label class="form-check-label" for="benchmarktype2">Drilled Days</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype3" value="3">
                                            <label class="form-check-label" for="benchmarktype3">Cummulative Cost</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype4" value="4">
                                            <label class="form-check-label" for="benchmarktype4">PT & NPT</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype5" value="5">
                                            <label class="form-check-label" for="benchmarktype5">ROP</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="chartCostPerFeet" value="6">
                                            <label class="form-check-label" for="chartCostPerFeet">Cost Per Feet</label>
                                        </div>
                                        <div class="form-check form-check-inline pt-1 mr-2">
                                            <input class="form-check-input" type="radio" name="benchmarktype[]" id="benchmarktype8" value="8">
                                            <label class="form-check-label" for="benchmarktype8">Rig</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0 mt-1">
                                <label class="col-lg-1 control-label pt-2 mb-0 fw-500" for="well_type">Wilayah Kerja<span class="text-danger"> *</span></label>
                                <div class="col-lg-11 pt-0 pb-0">
                                    @if (userSession.SysAdmin)
                                    {
                                        if (((string)ViewBag.BusinessUnitRoute) == "APH")
                                        {
                                            <input hidden name="aph_id" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose Anak Perusahaan Hulu</a>
                                        }
                                        else
                                        {
                                            <input hidden name="aph_id" value="@ViewBag.BusinessUnitRouteId" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">@ViewBag.BusinessUnitRoute</a>
                                        }
                                    }
                                    else
                                    {
                                        <input hidden name="aph_id" value="@userSession.PrimaryBusinessUnitId" />
                                        <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold fw-700 disabled" style="border:none; color: #4679cc!important; margin-left: -14px;">@userSession.PrimaryBusinessUnit</a>
                                    }



                                </div>
                            </div>
                            <div class="form-group row mb-0 d-none" id="filtering-field">
                                <label class="col-lg-1 control-label pt-2 mb-0 fw-500" for="well_type">Field<span class="text-danger"> *</span></label>
                                <div class="col-lg-4 pt-0 pb-0">
                                    <input type="hidden" readonly="" class="form-control" id="field_id" data-field="field_id" name="field_id" required>
                                    <a href="javascript:void(0);" data-field="field_name" class="form-control row text-left text-bold btn-link fw-700" id="field-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose a Field</a>
                                </div>
                            </div>
                            <div class="form-group row mb-0 pt-0 pb-1" id="groupWell" style="display: none;">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="well_type">Well <span class="text-danger"> *</span></label>
                                <div class="col-lg-11">
                                    <div class="row" id="listWell">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-0 pt-0 pb-1" id="groupWellType">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="well_status">Well Type<span class="text-danger"> *</span></label>
                                <div class="col-lg-11">
                                    <div class="frame-wrap pl-0" id="">
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="welltype1" name="welltype[]" value="0">
                                            <label class="custom-control-label" for="welltype1" style="cursor: pointer;">Original Well</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="welltype2" name="welltype[]" value="1">
                                            <label class="custom-control-label" for="welltype2" style="cursor: pointer;">Side Track</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="welltype3" name="welltype[]" value="2">
                                            <label class="custom-control-label" for="welltype3" style="cursor: pointer;">Work Over</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="welltype4" name="welltype[]" value="3">
                                            <label class="custom-control-label" for="welltype4" style="cursor: pointer;">Well Services</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row pt-1 mb-0 dp-none" id="wellYear">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="well_type">Years <span class="text-danger"> *</span></label>
                                <div class="col-lg-7">
                                    <select class="form-control-sm filter-year pl-0" multiple="multiple" id="filteryear">
                                        @{
                                            for (int i = 0; i < 20; i++)
                                            {
                                                var year = @DateTime.Now.AddYears(-10).Year + i;
                                                string printyear = "year" + year;
                                                <option value="@year">@year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mt-0 mb-0 pt-1" id="wellChartType">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="casing_name">Chart Type<span class="text-danger"> *</span></label>
                                <div class="col-lg-2">
                                    <select class="form-control chart-type pl-0">
                                        <option value="1">Bar Chart</option>
                                        <option value="2">Line Chart</option>
                                        <option value="3">Pie Chart</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-0 mb-0 pt-1" id="RopType" style="display: none;">
                                <label class="col-lg-1 control-label pt-2 fw-500">View Type<span class="text-danger"> *</span></label>
                                <div class="col-lg-2">
                                    <select class="form-control rop-type pl-0">
                                        <option value="1">Data</option>
                                        <option value="2">Grafik</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mt-3 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilter" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>

                            <div class="form-group row mb-0 mt-1 ropgroup" id="groupWellBit" style="padding-top: 30px !important; display: none;">
                                <label class="col-lg-1 control-label pt-2 fw-500" for="well_type">Well Bit Size<span class="text-danger"> *</span></label>
                                <div class="col-lg-11" style="display: none" id="chkBitsize">
                                    <div class="row" id="listWellBit">
                                    </div>
                                </div>
                                <div class="col-lg-2" style="display: none" id="cbBitsize">
                                    <select class="form-control ListBitSize pl-0" id="bitsize_select"></select>
                                </div>
                            </div>


                            <div class="form-group row mb-0 mt-1 ropgroup" style="padding-top: 20px !important; display: none;">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnView" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 panel-report" id="depth-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Depth Benchmark</h2>
                <div class="mt-0 mb-0">
                    @*<label class="col-lg-4 control-label pt-2" for="convert_to">Convert UOM Depth to<span class="text-danger"> *</span></label>*@
                    <div>
                        <div class="uomselect">
                            <select type="text" class="form-control" id="uom_select" name="uom_code[]" data-field="uom_code" data-text="uom_code" placeholder="" required></select>
                            <div class="invalid-feedback">Select UOM to Convert Depth</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="depth-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-report" id="drilling-benchmark" style=" margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Drilling Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="drilling-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-report" id="totalwell-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Total Well</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row no-data">
                        <div class="col-md-12 text-center">
                            <p class="fw-500 fs-md pb-0 mb-0">No data well available</p>
                        </div>
                    </div>
                    <div class="row row-data" style="display: none;">
                        <div class="col-md-12">
                            <div id="totalwell-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-report" id="planVsActual-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Plan Vs Actual</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row no-data">
                        <div class="col-md-12 text-center">
                            <p class="fw-500 fs-md pb-0 mb-0">No data well available</p>
                        </div>
                    </div>
                    <div class="row row-data" style="display: none;">
                        <div class="col-md-12">
                            <div id="planVsActual-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 panel-report" id="rig-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Rig</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row no-data">
                        <div class="col-md-12 text-center">
                            <p class="fw-500 fs-md pb-0 mb-0">No data well available</p>
                        </div>
                    </div>
                    <div class="row row-data" style="display: none;">
                        <div class="col-md-12">
                            <div id="rig-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 panel-report" id="drilledDays-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr d-none">
                <h2>Drilled Days Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="drilledDays-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 panel-report" id="costPerDepth-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr d-none">
                <h2>Cummulative Cost Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="cummulativeCost-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 panel-report" id="iadc-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr d-none">
                <h2>PT and NPT Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="iadc-chart"></div>
                            @*<div id="ptAndNptHours-bar" style="width: 100%; max-height: 300px; position: relative;" class="c3">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 panel-report" id="rop-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>ROP Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="rop-bar" style="width: 100%; max-height: 300px; position: relative;" class="c3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 panel-report" id="costperfeet-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr d-none">
                <h2>Cost Per Feet Benchmark</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="costperfeet-chart"></div>
                            @*<div id="costperfeet-bar" style="width: 100%; max-height: 300px; position: relative;" class="c3">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12 ropgroup" id="dtrop" style="margin-top: -20px; display: none;">
        <div class="panel page-loading-content">
            <div class="panel-hdr">
                <h2></h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dt_listrop" class="table table-bordered table-hover table-striped w-100">
                                <thead>
                                    <tr>
                                        <th style="width: 1px;">No.</th>
                                        <th>Well Name</th>
                                        <th>Bit Size</th>
                                        <th>WOB Min</th>
                                        <th>WOB Max</th>
                                        <th>RPM Min</th>
                                        <th>RPM Max</th>
                                        <th>Flow Rate Min</th>
                                        <th>Flow Rate Max</th>
                                        <th>Footage</th>
                                        <th>HKLD</th>
                                        <th>MWI</th>
                                        <th>MWO</th>
                                        <th>Depth In</th>
                                        <th>Depth Out</th>
                                        <th>Duration</th>
                                        <th>ROP</th>
                                    </tr>
                                </thead>
                                <tbody class=""></tbody>
                            </table>
                            <div class="text-right">
                                <button type="button" class="btn btn-md btn-warning waves-effect waves-themed w-25" id="bit_record">
                                    <span class="fal fa-download mr-1"></span>
                                    Download BIT Record
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" id="ropbit-benchmark" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2> Best ROP Graphic by Well</h2>
            </div>
            <div class="panel-container">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ropbit-chart" style="min-height: 450px !important;padding-top: 20px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" id="dtbitrop" style="margin-top: -20px; display: none;">
        <div class="panel page-loading-content">
            <div class="panel-hdr">
                <h2></h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dt_listbitrop" class="table table-bordered table-hover table-striped w-100">
                                <thead>
                                    <tr>
                                        <th style="width: 1px;">No.</th>
                                        <th>Well Name</th>
                                        <th>Bit Size</th>
                                        <th>WOB Min</th>
                                        <th>WOB Max</th>
                                        <th>RPM Min</th>
                                        <th>RPM Max</th>
                                        <th>Flow Rate Min</th>
                                        <th>Flow Rate Max</th>
                                        <th>Footage</th>
                                        <th>HKLD</th>
                                        <th>MWI</th>
                                        <th>MWO</th>
                                        <th>Depth In</th>
                                        <th>Depth Out</th>
                                        <th>Duration</th>
                                        <th>ROP</th>
                                    </tr>
                                </thead>
                                <tbody class=""></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script id="well-template" type="text/x-handlebars-template">
    <div class="col-md-3" id="field-{{data.0.field_id}}">
        <div class="card border no-radius mb-1">
            <div class="card-header py-1 pl-2">
                <span class="fw-500">{{data.0.field_name}}</span>
                <div class="position-absolute pos-right" style="top:5px">
                    <span class="badge border border-light select-all" data-fieldid="{{data.0.field_id}}" style="cursor: pointer;">Select All</span>
                    <span class="badge border border-light remove-field" data-fieldid="{{data.0.field_id}}" style="cursor: pointer;">Remove</span>
                </div>
            </div>
            <div class="card-body pl-2 pr-2 pt-2 pb-0">
                {{#each data}}
                <div class="custom-control custom-checkbox custom-control-inline pb-2">
                    <input type="checkbox" class="custom-control-input" id="well-{{id}}" name="wellId[]" value="{{id}}">
                    <label class="custom-control-label" for="well-{{id}}">{{well_name}}</label>
                </div>

                @*<div class="custom-control custom-checkbox custom-control-inline pt-2">
                        <input type="checkbox" class="custom-control-input" id="well-`+value.id+`" name="wellId[]" value="`+ value.id + `">
                        <label class="custom-control-label" for="well-`+ value.id + `">` + value.well_name +`</label>
                    </div>*@

                @*<div class="custom-control custom-checkbox custom-control-inline pb-2">
                        <input type="checkbox" class="custom-control-input" id="well-1" name="wellId[]" value="31e3a684-6d2e-404a-9980-acfa29b9e4ed">
                        <label class="custom-control-label" for="well-1">Well A</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline pb-2">
                        <input type="checkbox" class="custom-control-input" id="well-1" name="wellId[]" value="31e3a684-6d2e-404a-9980-acfa29b9e4ed">
                        <label class="custom-control-label" for="well-1">Well A</label>
                    </div>
                    <div class="custom-control custom-checkbox custom-control-inline pb-2">
                        <input type="checkbox" class="custom-control-input" id="well-1" name="wellId[]" value="31e3a684-6d2e-404a-9980-acfa29b9e4ed">
                        <label class="custom-control-label" for="well-1">Well A</label>
                    </div>*@
                {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="wellbit-template" type="text/x-handlebars-template">
    @*<div class="col-md-3" id="field-{{data.0.field_id}}">
            <div class="card border no-radius mb-1">
                <div class="card-header py-1 pl-2">
                    <span class="fw-500">{{data.0.field_name}}</span>
                    <span class="badge border border-light position-absolute pos-right remove-field" data-fieldid="{{data.0.field_id}}" style="cursor: pointer;">Remove</span>
                </div>
                <div class="card-body pl-2 pr-2 pt-2 pb-0">
                    {{#each data}}
                    <div class="custom-control custom-checkbox custom-control-inline pb-2">
                        <input type="checkbox" class="custom-control-input" id="bit-{{id}}" name="bitId[]" value="{{id}}">
                        <label class="custom-control-label" for="well-{{id}}">{{bit_size}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>*@
    @*{{#each welldata}}
        <div class="col-md-3" id="field-{{id}}">
            <div class="card border no-radius mb-1">
                <div class="card-header py-1 pl-2">
                    <span class="fw-500">Bit Size - well_name</span>
                </div>
                <div class="card-body pl-2 pr-2 pt-2 pb-0">
                    {{#each data}}
                    <div class="custom-control custom-checkbox custom-control-inline pb-2">
                        <input type="checkbox" class="custom-control-input" id="wellbit-{{id}}" name="wellbitId[]" value="{{id}}">
                        <label class="custom-control-label" for="wellbit-{{id}}">10</label>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}*@

    <div class="col-md-3" id="field-{{welldata.id}}">
        <div class="card border no-radius mb-1">
            <div class="card-header py-1 pl-2">
                <span class="fw-500">Bit Size - {{welldata.well_name}}</span>
            </div>
            <div class="card-body pl-2 pr-2 pt-2 pb-0">
                {{#each arrbit}}
                <div class="custom-control custom-checkbox custom-control-inline pb-2">
                    <input type="checkbox" class="custom-control-input" id="wellbit-{{id}}" name="wellbitId[]" value="{{bit_sizeStr}}">
                    <label class="custom-control-label" for="wellbit-{{id}}">{{bit_size}}</label>
                </div>
                {{/each}}
                <div class="hide">
                {{#each data}}
                    <input type="hidden" class="custom-control-input selectedbitsize-{{bit_sizeStr}}" value="{{id}}">
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</script>


@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @* <script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>*@
    <!-- c3 charts : MIT license -->
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <script src="~/Content/js/statistics/c3/c3.js"></script>
    <script src="~/Areas/UTC/Scripts/benchmark.index.js?_@DateTime.Now"></script>

    @*<script>
            var chart = c3.generate({
                data: {
                    columns: [
                        ['data1', -30, 200, 200, 400, -150, 250],
                        ['data2', 130, 100, -100, 200, -150, 50],
                        ['data3', -230, 200, 200, -300, 250, 250]
                    ],
                    type: 'bar',
                    groups: [
                        ['data1', 'data2']
                    ]
                },
                grid: {
                    y: {
                        lines: [{ value: 0 }]
                    }
                }
            });
            chart.groups([['data1', 'data2', 'data3']])

        </script>*@
}
