﻿
<div class="modal fade default-example-modal-right-md modal-remote" id="newModalOpenWell" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <style>
                .swal2-container {
                    z-index: 3000;
                }
            </style>
            <style>
                .text-danger {
                    color: red !important;
                }

                .swal2-container {
                    z-index: 3000;
                }

                .panel.combo-p.panel-htop {
                    z-index: 9999 !important;
                }

                .textbox.easyui-fluid.combo {
                    border: 1px solid #E5E5E5;
                }

                    .textbox.easyui-fluid.combo,
                    .textbox.easyui-fluid.combo span,
                    .textbox.easyui-fluid.combo input {
                        padding-left: 10px;
                        background-color: white;
                    }

                        .textbox.easyui-fluid.combo input {
                            padding-left: 0px;
                        }

                            .textbox.easyui-fluid.combo:hover,
                            .textbox.easyui-fluid.combo span:hover,
                            .textbox.easyui-fluid.combo input:hover {
                                cursor: pointer;
                            }
            </style>

            <link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
            <div class="modal-header pb-0">
                <h4 class="modal-title">Create Import Well</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body pt-0">

                <input type="hidden" id="xmlRecordOpenWell" name="id" data-field="id" value="" />
                <form id="formNewOpenWell" class="needs-validation" novalidate>
                    <input type="hidden" id="typeSubmitOpenWell" name="typeSubmitOpenWell" data-field="typeSubmitOpenWell"  />
                    <input type="hidden" id="recordIDOpenwell" name="id" data-field="id" value="@ViewBag.recordId" />
                    <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <hr />
                        <div class="form-group row mt-4 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_status_openwell">Type<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <select class="form-control form-control-input well-status select2-default" id="well_status_openwell" name="well_status_openwell" data-field="well_status_openwell" data-text required="">
                                    <option value="0">Original Well</option>
                                    <option value="1">Side Track</option>
                                    <option value="2">Work Over</option>
                                    <option value="3">Well Services</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="parent_openwell">Parent<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <select disabled type="text" class="form-control form-control-sm select2-default" name="parent_openwell" id="parent_openwell" data-field="parent_openwell" data-text="parent_well" placeholder=""></select>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name_openwell">Name<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" id="well_name_openwell" name="well_name_openwell" data-field="well_name_openwell" class="form-control form-control-sm" readonly required>
                            </div>
                        </div>

                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="afe_number_openwell">AFE Number<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" id="afe_number_openwell" name="afe_number_openwell" data-field="afe_number_openwell" class="form-control form-control-sm" required>
                            </div>
                        </div>


                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="duration_afe_openwell">Duration<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="duration_afe_openwell" data-field="duration_afe_openwell" id="duration_afe_openwell" required>
                            </div>
                        </div>


                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id_openwell">APH<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input id="business_unit_id_openwell" name="business_unit_id_openwell" data-field="business_unit_id_openwell" data-text="unit_name_openwell" class="form-control" required style="width:339px;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id_openwell">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input id="field_id_openwell" name="field_id_openwell" data-field="field_id_openwell" data-text="field_name_openwell" class="form-control" required style="width:100%;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-save-openWell" class="btn btn-info">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>






<div class="tabOne">
    <div class="panel-hdr">
        <h2>WITSML Well File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="importTypeOpenWell">

                <div class="custom-file">
                    <input type="file" id="inputOpenWell">

                </div>

                <div class="submitOpenWell" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitOpenWell" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTableOpenWell" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>


<div class="tabOnePointOne">
    <div class="panel-hdr">
        <h2>WITSML Wellbore File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="importTypeOpenWellbore">

                <div class="custom-file">
                    <input type="file" id="inputOpenWellbore">

                </div>

                <div class="submitOpenWellbore" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitOpenWellbore" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTableOpenWellBore" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>



<div class="tabSecond">
    <div class="panel-hdr">
        <h2>WITSML Fluids File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="importTypeOpenWell">

                <div class="custom-file">
                    <input type="file" id="inputOpenWellFluids">

                </div>

                <div class="submitOpenWellFluids" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitOpenWellFluids" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTableOpenWellFluids" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>

<div class="tabThird">
    <div class="panel-hdr">
        <h2>WITSML Survey File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="importTypeOpenWell">

                <div class="custom-file">
                    <input type="file" id="inputOpenWellSurvey">

                </div>

                <div class="submitOpenWellSurvey" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitOpenWellSurvey" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTableOpenWellSurvey" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>


<div class="tabFour">
    <div class="panel-hdr">
        <h2>XML DDR File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="importDDRFile">

                <div class="custom-file">
                    <input type="file" id="inputopenwellDDR">

                </div>

                <div class="submitOpenWellDDR" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitOpenWellDdr" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTableOpenWellDDR" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>

