﻿
<div class="modal fade default-example-modal-right-md modal-remote" id="newWellModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <style>
                .swal2-container {
                    z-index: 3000;
                }
            </style>
            <style>
                .text-danger {
                    color: red !important;
                }

                .swal2-container {
                    z-index: 3000;
                }

                .panel.combo-p.panel-htop {
                    z-index: 9999 !important;
                }

                .textbox.easyui-fluid.combo {
                    border: 1px solid #E5E5E5;
                }

                    .textbox.easyui-fluid.combo,
                    .textbox.easyui-fluid.combo span,
                    .textbox.easyui-fluid.combo input {
                        padding-left: 10px;
                        background-color: white;
                    }

                        .textbox.easyui-fluid.combo input {
                            padding-left: 0px;
                        }

                            .textbox.easyui-fluid.combo:hover,
                            .textbox.easyui-fluid.combo span:hover,
                            .textbox.easyui-fluid.combo input:hover {
                                cursor: pointer;
                            }
            </style>

            <link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
            <div class="modal-header pb-0">
                <h4 class="modal-title">Create Import Well</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body pt-0">

                <input type="hidden" id="xmlRecord" name="id" data-field="id" value="" />
                <form id="formNewWell" class="needs-validation" novalidate>
                    <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
                    <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">
                        <hr />
                        <div class="form-group row mt-4 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_status">Type<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <select class="form-control form-control-input well-status select2-default" id="well_status" name="well_status" data-field="well_status" data-text required="">
                                    <option value="0">Original Well</option>
                                    <option value="1">Side Track</option>
                                    <option value="2">Work Over</option>
                                    <option value="3">Well Services</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="parent_well">Parent<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <select disabled type="text" class="form-control form-control-sm select2-default" name="parent_well" id="parent_well" data-field="parent_well" data-text="parent_well" placeholder=""></select>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="well_name">Name<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" id="well_name" name="well_name" data-field="well_name" class="form-control form-control-sm" readonly required>
                            </div>
                        </div>

                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="afe_number">AFE Number<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" id="afe_number" name="afe_number" data-field="afe_number" class="form-control form-control-sm" readonly required>
                            </div>
                        </div>


                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="duration_afe">Duration<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="duration_afe" data-field="duration_afe" class="form-control form-control-sm" id="duration_afe" required>
                            </div>
                        </div>


                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">APH<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" class="form-control" required style="width:339px;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                            </div>
                        </div>
                        <div class="form-group row mt-2 mb-0 row-parent">
                            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="business_unit_id">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <input id="field_id" name="field_id" data-field="field_id" data-text="field_name" class="form-control" required style="width:100%;z-index:99">
                                <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-save" class="btn btn-info">Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="tab">
    <div class="panel-hdr">
        <h2>WITSML File</h2>
        <div class="panel-toolbar">

            <div class="form-group row mt-0 mb-0 pt-1" id="exportType">
                <label class="col-lg-1 control-label pt-2 fw-500" for="casing_name">Browse File<span class="text-danger"> *</span></label>
                <div class="custom-file">
                    <input type="file" id="inputWell">

                </div>

                <div class="submitwell" style="margin-top: 15px; margin-bottom:15px;">
                    <button type="button" id="submitwell" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                        Submit
                    </button>

                </div>
            </div>

        </div>
    </div>


    <div id="dvTable" class="table-responsive" style="margin-top: 15px; margin-bottom: 15px;
        height: 300px !important;
        overflow: scroll;">

    </div>
</div>