﻿
@{
    ViewBag.Title = "Multi Well";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/report/multiwell";
}
<link href="~/Content/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />

<style>
    .form-control-plaintext {
        padding-top: 5px;
    }

    .form-control, .form-control-xs, .input-group-text {
        border-radius: 0px;
    }

    /*.select2-container .select2-selection--single {
        height: 25px !important;
    }*/

    /*.form-control.form-control-xs, .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin: -0.400rem 0 0 0;
    }*/


    .input-group-append {
        height: 25px !important;
        width: 43%;
    }

    .input-group-text {
        width: 100%;
        padding-left: 5px;
        font-weight: 400 !important;
    }

    .form-control.form-control-xs, #formDrilling .select2-selection {
        padding: 4px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        height: 25px !important;
        font-weight: 400 !important;
        border-radius: 0px !important;
    }

    #formDrilling .select2-selection__rendered {
        padding: 0;
        margin: -5px;
    }

    #formDrilling .select2-selection__rendered {
        padding-left: 7px !important;
    }

    .control-label {
        padding-top: 6px;
    }

    .date-picker {
        border-radius: 0px !important;
    }

    #tableOperationActivities > tbody > tr > td,
    #tableTransport > tbody > tr > td {
        padding: 0.3rem;
    }

    #tableOperationActivities .select2-selection {
        padding: 5px !important;
        height: 35px !important;
        font-weight: 400 !important;
        border-radius: 0px !important;
    }


    #tableOperationActivities .select2-selection__rendered {
        padding: 0;
        margin: -5px;
    }

    #tableOperationActivities .select2-selection__rendered {
        padding-left: 10px !important;
    }

    <!-- -->
    .form-time {
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 95px !important;
    }

    .no-radius {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .select2-selection.select2-selection--single {
        border-radius: 0px !important;
    }

    .text-danger {
        color: red !important;
    }

    .panel-content.page-loading-content {
        width: 100%;
        overflow-x: auto; /* Ensures table does not break the layout on small screens */
    }

</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/home")">Report</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {
}

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr" for="field_id">
                <h2>Wells Overview</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="field_id" id="field_id" data-field="field_id" data-text="field_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table class="table m-0">
                        <thead id="table-header">
                            <tr><th>Well Name</th></tr>
                            <tr><th>Day</th></tr>
                            <tr><th>Status</th></tr>
                            <tr><th>Phase</th></tr>
                            <tr><th id="depthChart">Depth</th></tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-hdr">
                                <h2>PT & NPT (Hours)</h2>
                            </div>
                            <div class="panel-container show">
                                <div id="ptNptMulti" style="width: 100%; height: 400px;"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-hdr">
                                <h2>Stuck Pipe</h2>
                            </div>
                            <div class="panel-container show">
                                <div id="chartStuck" style="width: 100%; height: 400px;"></div>
                            </div>
                        </div>
                    </div>
                    @*<div id="depthChart" style="width: 50%; height: 400px;"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<div class="row">
    <div class="col-xl-12">
    </div>
</div>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/statistics/chartjs/chartjs.bundle.js"></script>
    <script src="~/Content/plugins/highcharts/highcharts-v8.0.4.js"></script>
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Areas/UTC/Scripts/auditData.detail.js"></script>
}