﻿<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

</style>

<div class="modal-header pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="hidden" id="wellId" value="@ViewBag.wellId" />
            <div id='operationHours'></div>
        </div>
    </div>
</div>

<script src="~/Content/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>
<script src="~/Areas/utc/Scripts/singleWell.operationHours.js?_@DateTime.Now"></script>


