﻿
@{
    ViewBag.Title = "Service Performance APH";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/report/serviceperformanceAPH";
}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">UTC</a></li>
                            <li class="breadcrumb-item active fw-700">Report</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }
</style>
<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Wilayah Kerja<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    @*<input type="hidden" readonly="" class="form-control" id="field_id" data-field="field_id" name="field_id" required>*@
                                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose Anak Perusahaan Hulu</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Year<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    <select class="form-control" multiple="multiple" id="filteryear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 d-none" id="formFilter">
                            <div class="form-group row mt-3 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilter" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 panel-report" id="tableInfoNPT" style="margin-top: -20px; display: none;">
        <div id="panel-0" class="panel" style="padding-top: 20px !important; padding-bottom: 20px !important;">
            <div class="col-md-12">
                <table style="text-align: left; font-weight: bold">
                    <tr>
                        <td>
                            Total NPT
                        </td>
                        <td style="padding-left: 10px; padding-right: 10px;">:</td>
                        <td id="totalnpt">0</td>
                        <td style="padding-left: 5px;">Hari</td>
                    </tr>
                    <tr>
                        <td>
                            Total Hari Operasi
                        </td>
                        <td style="padding-left: 10px; padding-right: 10px;">:</td>
                        <td id="totalday">
                            0
                        </td>
                        <td style="padding-left: 5px;">Hari</td>
                    </tr>
                    <tr>
                        <td>
                            NPT Terhadap Hari Operasi
                        </td>
                        <td style="padding-left: 10px; padding-right: 10px;">:</td>
                        <td id="hourbyday">
                            0 %
                        </td>
                        <td style="padding-left: 5px;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12 panel-report" id="framenpt" style="display: none;">
        <div class="row">
            <div class="col-md-6" id="nptchart" style="margin-top: -20px;">
                <div id="panelnptChart" class="panel" style="min-height: 400px !important; padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                    <div id="npt-chart" style="min-height: 400px !important;"></div>
                </div>
            </div>
            <div class="col-md-6" id="nptdetail" style="margin-top: -20px;">
                <div id="panelnptDetail" class="panel" style="padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                    <div style="min-height: 400px !important;">
                        <table id="dt_nptdetail" class="table table-bordered table-hover table-striped w-100" style="width: 80%;">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">No.</th>
                                    <th style="width: 300px;">Activity</th>
                                    <th style="width: 150px;">Hours</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 panel-report" id="framenptyear" style="display: none">
        <div class="row" id="nptyear-content">
            <div class="col-xl-12" style="margin-top: -20px;">
                <div id="panelnptyear" class="panel" style="min-height: 400px !important; padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                    <span class="fw-500" style="position: absolute; z-index: 400;"></span>
                    <div id="nptyear" style="min-height: 400px !important;padding-top: 20px;">
                        Chart
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 panel-report" id="frametablenptyear" style="display: none;">
        <div class="row">
            <div class="col-md-12" id="nptdetailyear" style="margin-top: -20px;">
                <div id="panelnptDetailyear" class="panel" style="padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                    <div style="min-height: 400px !important;">
                        <table id="dt_nptdetailyear" class="table table-bordered table-hover table-striped w-100" style="width: 80%;">
                            <thead>
                                <tr>
                                    <th style="width: 30px;">Year</th>
                                    <th style="width: 300px;">Total Operation Days</th>
                                    <th style="width: 300px;">Total NPT Days</th>
                                    <th style="width: 150px;">Percentage</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @* <script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>*@
    <!-- c3 charts : MIT license -->
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <script src="~/Content/js/statistics/c3/c3.js"></script>
    <script src="~/Areas/UTC/Scripts/servicePerformanceAPH.index.js?_@DateTime.Now"></script>
}
