﻿
@{
    ViewBag.Title = "Service Performance";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "report/serviceperformance";
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;

}


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">UTC</a></li>
                            <li class="breadcrumb-item active fw-700">Report</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }
</style>
<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Wilayah Kerja<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    @if (userSession.SysAdmin)
                                    {
                                        if (((string)ViewBag.BusinessUnitRoute) == "APH")
                                        {
                                            <input hidden name="aph_id" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose Anak Perusahaan Hulu</a>

                                        }
                                        else
                                        {
                                            <input hidden name="aph_id" value="@ViewBag.BusinessUnitRouteId" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">@ViewBag.BusinessUnitRoute</a>
                                        }
                                    }
                                    else
                                    {
                                        <input hidden name="aph_id" value="@userSession.PrimaryBusinessUnitId" />
                                        <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700 disabled" style="border:none; color: #4679cc!important; margin-left: -14px;">@userSession.PrimaryBusinessUnit</a>
                                    }

                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 d-none" id="formFilter">*@
                        <div class="col-lg-12 d-none" id="formFilter">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Field<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    <input type="hidden" readonly="" class="form-control" id="field_id" data-field="field_id" name="field_id" required>
                                    <a href="javascript:void(0);" data-field="field_name" class="form-control row text-left text-bold btn-link fw-700 pt-2" id="field-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose a Field</a>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Data <span class="text-danger"> *</span></label>
                                <div class="col-lg-11">
                                    <div class="frame-wrap pl-0" id="">
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="serviceNPT" name="serviceperformance[]" value="0">
                                            <label class="custom-control-label" for="serviceNPT">NPT</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="serviceMudft" name="serviceperformance[]" value="1">
                                            <label class="custom-control-label" for="serviceMudft">Mud Cost/ft atau Mud Cost/m</label>
                                        </div>
                                        <div class="custom-control custom-checkbox custom-control-inline pt-2">
                                            <input type="checkbox" class="custom-control-input" id="serviceMudbbl" name="serviceperformance[]" value="2">
                                            <label class="custom-control-label" for="serviceMudbbl">Mud Cost/bbl atau Mud Cost/m3</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-2 mb-0" id="groupWell" style="display: none;">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Well <span class="text-danger"> *</span></label>
                                <div class="col-lg-11">
                                    <div class="row" id="listWell">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-3 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilter" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="view-list" class="w-100"></div>
    <div id="content-clone" style="display:none;">
        <div class="col-xl-12 panel-report tableJobPersonel" id="" style="margin-top: -10px; ">
            <div id="panel-0" class="panel" style="padding-top: 20px !important; padding-bottom: 20px !important;">
                <div class="col-md-12">
                    <table style="text-align: left">
                        <tr>
                            <td>
                                Well
                            </td>
                            <td style="padding-left: 10px; padding-right: 10px;">:</td>
                            <td>
                                <div class="wellname">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rig Contractor
                            </td>
                            <td style="padding-left: 10px; padding-right: 10px;">:</td>
                            <td>
                                <div class="contractorname">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl-12 panel-report" style="">
            <div class="panel" style="padding-top: 20px !important; padding-bottom: 20px !important;">
                <div class="col-md-12" style="margin-top: -10px;">
                    <div id="" @*class="dataTables_wrapper dt-bootstrap4"*@>
                        <strong>Job Personel :</strong>
                        <table class="table table-bordered table-hover table-striped w-100 dt_jobPersonel" style="width: 80%;">
                            <thead>
                                <tr>
                                    <th style="min-width: 400px !important;">Job Title</th>
                                    <th style="min-width: 400px !important;">Company</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 panel-report framenpt" id="" style="display:none">
            <div class="row">
                <div class="col-md-6 nptchart" style="margin-top: -10px;">
                    <div id="panelnptChart" class="panel" style="min-height: 400px !important; padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                        <div class="npt-chart" style="min-height: 400px !important;"></div>
                    </div>
                </div>
                <div class="col-md-6 nptdetail" style="margin-top: -10px;">
                    <div class="panel panelnptDetail" style="padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
                        <div style="min-height: 400px !important;">
                            <table class="table table-bordered table-hover table-striped w-100 dt_nptdetail" style="width: 80%;">
                                <thead>
                                    <tr>
                                        <th style="width: 30px;">No.</th>
                                        <th style="width: 300px;">Activity</th>
                                        <th style="width: 100px;">Status</th>
                                        <th style="width: 150px;">CODE</th>
                                        <th style="width: 150px;">Hours</th>
                                        <th style="width: 150px;">Days</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 panel-report " id="framemudcostbyft" style="">
        <div class="row" id="mudcostbyft-content">

        </div>
    </div>

    <div class="col-md-12 panel-report " id="framemudcostbybbl" style="">
        <div class="row mudcostbybbl-content" id="mudcostbybbl-content">

        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script id="well-template" type="text/x-handlebars-template">
    <div class="col-md-3" id="field-{{data.0.field_id}}">
        <div class="card border no-radius mb-1">
            <div class="card-header py-1 pl-2">
                <span class="fw-500">{{data.0.field_name}}</span>
                <div class="position-absolute pos-right" style="top:5px">
                    <span class="badge border border-light select-all" data-fieldid="{{data.0.field_id}}" style="cursor: pointer;">Select All</span>
                    <span class="badge border border-light remove-field" data-fieldid="{{data.0.field_id}}" style="cursor: pointer;">Remove</span>
                </div>
            </div>
            <div class="card-body pl-2 pr-2 pt-2 pb-0">
                {{#each data}}
                <div class="custom-control custom-checkbox custom-control-inline pb-2">
                    <input type="checkbox" class="custom-control-input" id="well-{{id}}" name="wellId[]" value="{{id}}">
                    <label class="custom-control-label" for="well-{{id}}">{{well_name}}</label>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="mudcostbyft-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-xl-6" style="margin-top: -20px;">
        <div id="panelmudcostbyft-{{hole_name}}" class="panel" style="min-height: 400px !important; padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
            <span class="fw-500" style="position: absolute; z-index: 400;">Trayek: {{hole_name}}"</span>
            <div id="mudcostbyft-{{hole_name}}" style="min-height: 400px !important;padding-top: 20px;">
                Mud Feet 36 Chart
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="mudcostbybbl-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-xl-6" style="margin-top: -20px;">
        <div id="panelmudcostbybbl-{{hole_name}}" class="panel" style="min-height: 400px !important; padding-top: 20px !important;padding-left: 10px !important; padding-right: 10px !important;">
            <span class="fw-500" style="position: absolute; z-index: 400;">Trayek: {{hole_name}}"</span>
            <div id="mudcostbybbl-{{hole_name}}" style="min-height: 400px !important;padding-top: 20px;">
                Mud Feet 36 Chart
            </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @* <script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>*@
    <!-- c3 charts : MIT license -->
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <script src="~/Content/js/statistics/c3/c3.js"></script>
    <script src="~/Areas/UTC/Scripts/servicePerformance.index.js?_@DateTime.Now"></script>

    @*<script>
            var chart = c3.generate({
                data: {
                    columns: [
                        ['data1', -30, 200, 200, 400, -150, 250],
                        ['data2', 130, 100, -100, 200, -150, 50],
                        ['data3', -230, 200, 200, -300, 250, 250]
                    ],
                    type: 'bar',
                    groups: [
                        ['data1', 'data2']
                    ]
                },
                grid: {
                    y: {
                        lines: [{ value: 0 }]
                    }
                }
            });
            chart.groups([['data1', 'data2', 'data3']])

        </script>*@
}
