﻿<div class="modal-header pb-0">
    <h4 class="modal-title">NPT Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body pt-0">
    <hr class="mt-1 mb-0" />
    <input type="hidden" id="recordId" value="@ViewBag.recordId" />

    <div class="col-md-12 pt-2 trayek-record">
        <input type="checkbox" id="pie-chart-checkbox" value="pie" checked>
        <label for="pie-chart-checkbox">Pie Chart</label>
        <input type="checkbox" id="bar-chart-checkbox" value="bar">
        <label for="bar-chart-checkbox">Bar Chart</label>


        @*<span class="fw-500" style="position: absolute; z-index: 400;">Trayek: </span>*@
        <div class="trayek-analysis" id="trayek-analysis"></div>
    </div>
</div>


<script src="~/Areas/utc/Scripts/singleWell.nptDetail.js?_@DateTime.Now"></script>
<script src="~/Content/plugins/highcharts/highcharts.js"></script>




