﻿
@{
    ViewBag.Title = "Single Well";
    ViewData["Title"] = "Reports | Single Well";
    ViewData["PageName"] = "/Reports/SingleWell";

}

@section Header{
    <link href="~/Content/css/dreamwell/report.css" rel="stylesheet" />
    @*<link href="~/Content/css/dreamwell/report-new.css" rel="stylesheet" />*@
    <link href="~/Content/css/statistics/chartjs/chartjs.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/ion-rangeslider/ion-rangeslider.css">
    <link href="~/Content/css/report.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen, print" href="~/Content/css/statistics/c3/c3.css">

    <link href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/statistics/c3/c3.css" rel="stylesheet" />
}

<style>
    .report-element:hover {
        cursor: pointer;
    }

    .trayek-analysis > div > svg > text {
        display: none;
    }

    .panel.panel-trayek {
        border-radius: 0px;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/utc/pep/dashboard")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">Report</li>
                            <li class="breadcrumb-item active fw-700">Single Well</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="nptDetailModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Single Well</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content p-0" id="singleWellMain" style="display: none;">
                    <!-- Your content here-->
                    <div class="report-header" style="background-color: white;">
                    </div>
                    <div class="report-body">
                        <div class="dirt-wrapper" style="min-height: 80vh; height: 700px;">
                            <div class="dirt-type" style="height:10%;background-color:#cbcbcb;">
                                <span class="dirt-name"><!-- tanah permukaan --></span>
                            </div>
                            <div class="dirt-type" style="height:10%;background-color:#c1c1c1;">
                                <span class="dirt-name"><!-- lempung --></span>
                            </div>
                            <div class="dirt-type" style="height:10%;background-color:#bababa;">
                                <span class="dirt-name"><!-- lempung kaku --></span>
                            </div>
                            <div class="dirt-type" style="        height: 20%;
        background-color: #b6b6b6;
   ">
                                <span class="dirt-name"><!-- lempung pasir --></span>
                            </div>
                            <div class="dirt-type" style="height:20%;background-color:#bbbbbb;">
                                <span class="dirt-name"><!-- pasir --></span>
                            </div>
                            <div class="dirt-type" style="height:30%;background-color:#b6b6b6;">
                                <span class="dirt-name">
                                </span>
                            </div>
                        </div>
                        <div class="cost-wrapper">
                            <span style="position: absolute;top: -30px;left: -15px;">Plan</span>
                            <div class="detail-header">
                                <i class="fa fa-money"></i>
                                <br>
                                Budget
                            </div>
                            <span style="position: absolute;top: -30px;left: 92px;">Actual</span>
                            <div class="detail-body">
                                <div class="detail-wrapper">
                                    <div style="background-size: 100% 700px; height: 1px;"></div>
                                </div>
                            </div>
                            <div class="detail-info"><span class="left line-track active" style="background-color: rgb(255, 227, 131); top: 0px; margin-top: -12px;">$104,509</span><span class="right" style="top: 0px; margin-top: -12px;">$1,588,380</span></div>
                            <div style="position: absolute; bottom: -30px; right: 20%; font-size: 12px; white-space: nowrap;" id="afe_cost">$0</div>
                        </div>

                        <div class="time-wrapper">
                            <div class="detail-header">
                                <i class="fa fa-calendar"></i>
                                <br>
                                Time
                                @*<div class="timeline-button prev-day"></div>
                                    <div class="timeline-button next-day"></div>*@
                            </div>
                            <div class="detail-body">
                                <div class="detail-wrapper timeline-track">
                                    <div style="background-size: 100% 700px;"></div>
                                    <span class="timeline-thumb ui-draggable">
                                        <span class="timeline-date" id="timeline_drilling_date">28 Nov 2017</span>
                                    </span>
                                </div>
                            </div>
                            <div class="detail-info"></div>
                            <div style="position: absolute; bottom: -30px; right: 20%; font-size: 12px; white-space: nowrap;" id="planned_days">0 days</div>
                        </div>
                        <div class="actual" style="width: 60px;">
                            <div class="prog-body" id="show" style="width: 60px; height: 700px;">
                            </div>
                        </div>

                        <div class="h5" style="left: 27%;">

                            <div class="prog-body">
                                <h5>Actual</h5>
                            </div>
                        </div>
                        <div class="prog">

                            <div class="prog-body">
                                <h5 style="margin-left: 26px;width: 50px;text-align: center;">Plan</h5>
                            </div>
                        </div>
                        <div class="drill-wrapper">
                            <div class="drill-info">
                                @*<span class="left" style="top: 0px; background-color: rgb(175, 210, 133); color: rgb(37, 37, 37);"><span class="text">2" @@ 955 ft </span><i class="arrow"></i></span>*@
                            </div>
                            <div class="depth-info"><div style="position: absolute; bottom: -30px; right: 26%; font-size: 12px; white-space: nowrap;" id="planned_td">0 ft</div></div>
                            <div class="drill-header">

                                <div class="datum-popup">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td width="20%">Well Head Elevation</td>
                                                <td width="20%">100 m</td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Datum Elevation</td>
                                                <td width="20%">100 m</td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Air Gap</td>
                                                <td width="20%">100 m</td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Ground Elevation</td>
                                                <td width="20%">100 m</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="drill-body">
                                <div class="drill-bit-wrapper">
                                    <div class="drill-bit" style="height: 1px;"></div>
                                </div>
                                <div class="drill-hole" style="width:70px;height:15%;background-color:#c6ff83">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga2.png" class="img">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga.png" class="img2">
                                </div>
                                <div class="drill-hole" style="width:60px;height:15%;background-color:#afd285">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga2.png" class="img">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga.png" class="img2">
                                </div>
                                <div class="drill-hole" style="width:50px;height:20%;background-color:#a6c482">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga2.png" class="img">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga.png" class="img2">
                                </div>
                                <div class="drill-hole" style="width:45px;height:20%;background-color:#95b96b">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga2.png" class="img">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga.png" class="img2">
                                </div>
                                <div class="drill-hole" style="width:40px;height:30%;background-color:#85ad54">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga2.png" class="img5">
                                    <img src="https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/assets/img/segitiga.png" class="img6">
                                </div>
                            </div>



                        </div>
                        <div class="prog-formation" style="min-height:80vh;">
                            <div class="prog-body" id="show2" style="height: 72vh;">
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/claystone.png);">

                                    <div id="f0" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">3772.97 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/siltstone.png);">
                                    <div id="f1" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">3937.01 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/claystone.png);">
                                    <div id="f2" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">4002.62 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/limestone.png);">
                                    <div id="f3" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">4068.24 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/limestone.png);">
                                    <div id="f4" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">4511.15 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/sandstone.png);">
                                    <div id="f5" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">4593.18 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/claystone.png);">
                                    <div id="f6" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">4675.20 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/siltstone.png);">
                                    <div id="f7" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">5003.28 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/limestone.png);">
                                    <div id="f8" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">6889.76 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/claystone.png);">
                                    <div id="f9" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">8366.14 ft</div>
                                </div>
                                <div class="prog-hole" style="width:50px;height:6.5454545454545vh; background-image: url(https://pertaminadreamwell.com/pertamina_demo/dreamwell/utc/pep/images/batuan/limestone.png);">
                                    <div id="f10" style="margin-left: -103%; margin-bottom: 20%; visibility:hidden;">8661.42 ft</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-content" id="footer-main-report">
                    <div class="panel-tag">Please choose well to show detail report</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" id="depthDay">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#operationsActivies">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-cogs icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Operations Activies</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/OperationsActivies.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#timeDepthCurveModal">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-chart-bar icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Time Depth Curve & Plot Trajectory</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/TimeDepthCurveAndPlotTrajectory.cshtml")
                </div>
                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#operations">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-cog icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Operations</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/Operations.cshtml")
                </div>

                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#endWellAnalysis">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-edit icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">End Well Analysis</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/EndWellAnalysis.cshtml")
                </div>

                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#sectionWiseAnalysis">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-paste icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Section Wise Analysis</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/SectionWiseAnalysis.cshtml")
                </div>

                <div class="col-4 col-sm-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center mb-g mt-3">
                    <div class="bg-white p-0 m-0 d-flex flex-column w-100 h-100">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-center w-100 pt-3 pb-3 pr-2 pl-2 report-element" data-toggle="modal" data-target="#report">
                                <span class="icon-stack fa-10x">
                                    <i class="base-7 icon-stack-3x color-primary-600"></i>
                                    <i class="fa fa-clipboard-list icon-stack-1x text-white"></i>
                                </span>
                            </div>
                        </div>
                        <div class="rounded-bottom p-1 w-100 d-flex justify-content-center align-items-center text-center">
                            <span class="d-block text-truncate text-muted">Report</span>
                        </div>
                    </div>
                    @Html.Partial("~/Areas/UTC/Views/Modal/Report.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12" id="depthDay" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2></h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChart" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="RPM" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @* <h2>RPM</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartRPM" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="ROP" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2>ROP</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartROP" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="Torsi" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2>Torsi(klbsft)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartTorsi" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="SPP" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2>Average of SPP (psi)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartSPP" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="flowrate" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2>Average Flow per Day (GPM)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    @*<div id="distributedSeries" class="ct-chart" style="width:100%; height:300px;"></div>*@
                    <div id="barChartFlow" style="width:100%; height:300px;"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12" id="PTNPT" style="margin-top: -20px;">
        <div id="panel-1" class="panel" style="display: none;">
            <div class="panel-hdr">
                @*<h2>PT & NPT (Hours)</h2>*@
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="stackedBarPTNPT" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 trayek-panel" style="display: none; margin-top: -20px;">
        <div id="panel-1" class="panel mb-0">
            <div class="panel-hdr">
                <h2>Analysis Trayek</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content pt-0 pb-0">
                    <div class="row" id="trayek-filter-content">
                        <div class="col-lg-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Quick Filter</label>
                                <div class="col-lg-11">
                                    <div class="frame-wrap" id="list-trayek">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mt-1 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilterTrayek" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2" id="trayek-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="trayek-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="col-md-6 pt-2 trayek-record" style="border-right: 1px solid #e0e0e0; border-top: 1px solid #e0e0e0;" id="trayek{{id}}">
        <button type="button" id="btnWellHoleCasing-{{id}}" data-href="@Url.Content("/utc/pep/report/SingleWellNPTDetail?id="){{id}}" data-toggle="modal-remote" data-target="#nptDetailModal" class="modalTrigger btn btn-info btn-md text-right waves-effect waves-themed border-0 fw-500 d-none">
            <span class="fal fa-plus"></span> Show Detail For NPT
        </button>
        <span class="fw-500" style="position: absolute; z-index: 400;">Trayek: {{hole_val}}"</span>
        <div class="trayek-analysis" id="trayek-{{id}}"></div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script src="~/Areas/UTC/Scripts/underscore-min.js"></script>
    <script src="~/Content/css/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/plugins/number/jquery.number.js"></script>
    <script src="~/Content/js/formplugins/ion-rangeslider/ion-rangeslider.js"></script>
    <script src="~/Content/js/statistics/chartjs/chartjs.bundle.js"></script>

    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/js/statistics/d3/d3.js"></script>
    <!-- c3 charts : MIT license -->
    <script src="~/Content/js/statistics/c3/c3.js"></script>
    <script src="~/Areas/UTC/Scripts/singleWell.index.js?_@DateTime.Now"></script>

    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @*<script src="~/Areas/UTC/Scripts/wellData.detail.js?t=@DateTime.Now"></script>*@
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/3dplugin/main_well.js"></script>
    @*<script src="~/Content/js/vendors.bundle.js"></script>
        <script src="~/Content/js/app.bundle.js"></script>*@
    @*<script src="~/Content/js/statistics/c3/c3.js"></script>
        <script src="~/Content/js/statistics/d3/d3.js"></script>*@



}
