﻿<div class="modal-header pb-0">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <input type="hidden" id="wellId" value="@ViewBag.wellId" />
            <div id='waktu-pengeboran'></div>
        </div>
    </div>
</div>

<script src="~/Content/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
<script src="~/Content/plugins/highcharts/modules/exporting.src.js"></script>
<script src="~/Areas/utc/Scripts/singleWell.waktupengeboran.js?_@DateTime.Now"></script>
