﻿
@{
    ViewBag.Title = "Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/drilling/Approval";

}

<style>
    .badge-danger {
        background-color: red !important;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="driling_approval" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 1px;">No.</th>
                                <th class="text-left">Well</th>
                                <th class="text-left" style="width: 1px;">Report</th>
                                <th>Drilling Date</th>
                                <th class="text-center" style="width: 1px;">Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/drilling.approval.js?_@DateTime.Now"></script>
}