﻿<!--Modal header-->
<style>
    .swal2-container.swal2-center.swal2-fade.swal2-shown {
        z-index: 9999;
    }
</style>
<div class="modal-header pb-2">
    @{
        if (ViewBag.wellBhaId == null || ViewBag.wellBhaId == "")
        {
            <h4 class="modal-title">Add New BHA</h4>
        }
        else
        {
            <h4 class="modal-title">BHA Details</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-1" />
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <input type="hidden" id="drilling_id" name="drilling_id" data-text="id" data-field="id" value="@ViewBag.drillingId" />
            <form id="form-wellBHA" class="needs-validation" novalidate>
                <input type="hidden" id="wellBhaId" name="id" value="@ViewBag.wellBhaId" />
                <input type="hidden" id="well_id" name="well_id" value="@ViewBag.wellId" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">BHA No</label>
                                    <div class="col-md-6">
                                        <label class="badge badge-warning ml-0 mt-1" data-objecttype="label" id="bha_no" data-field="bha_no" style="font-size: 13px;">-</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-wellBhaComponent" class="needs-validation" novalidate>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <h7 class="fw-700">BHA Components</h7>
                        <table class="table m-0 mt-2 table-bordered" id="tableWellBhaComponent">
                            <thead>
                                <tr>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">BHA Comp (Top Down)</th>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Component Detail</th>
                                    <th class="text-center fw-700 align-middle">Joints</th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 6%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">ID</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_od_uom" data-objectname="id" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 6%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">OD</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_id_uom" data-objectname="od" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Weight</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_weight_uom" data-objectname="CASING WEIGHT" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Length</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_length_uom" data-objectname="Length" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 8%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Cumm. Length</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="cumm_length_uom" data-objectname="Length" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center fw-700 align-middle">Con. Type</th>
                                    <th class="text-center fw-700 align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Con. Size</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="con_size" data-objectname="Connection Size" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Serial Number</th>
                                    <th class="text-center fw-700 align-middle" id="bha-component-action-col" style="width: 1px;">Act</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-data">
                                    <td colspan="12" class="text-center">No data available. Add Row to input new data.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="mt-1 pt-1 pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        @{
                                            if (ViewBag.wellBhaId == null || ViewBag.wellBhaId == "")
                                            {
                                                <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed" id="cloneBhaComponent">Add Row</button>
                                            }
                                        }
                                    </td>
                                    <td colspan="6" class="text-right pr-0 pb-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" data-href="@Url.Content("/core/drilling/setupbhabit?well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.drillingId)" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                                                data-toggle="modal-remote" data-target="#setBhaBitModal">
                                            <span class="fal fa-chevron-double-left mr-1"></span> Back
                                        </button>
                                        <button type="button" class="btn btn-warning btn-sm waves-effect waves-themed mr-2" id="btn-saveBHA" style="display: none;">
                                            <span class="fal fa-save mr-1"></span> Save BHA
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script id="rowBhaComponent-template" type="text/x-handlebars-template">
    <tr class="rowBhaComponent">
        <td class="select p-1">
            <input type="hidden" class="form-control" name="well_bha_comp_detail_id[]" value="">
            @*<input type="hidden" class="form-control" name="drilling_bha_comp_id[]" value="">*@
            <select type="text" class="form-control lookup-bha-component" name="bha_component_id[]" placeholder="" required></select>
            <div class="invalid-feedback">BHA component cannot be empty</div>
        </td>
        <td class="p-1">
            <textarea class="form-control" rows="1" name="component_detail[]" style="overflow-y: auto;" required></textarea>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="joint[]" data-text="joint" data-field="joint" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_od[]" data-text="n_od" data-field="n_od" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_id[]" data-text="n_id" data-field="n_id" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight[]" data-text="weight" data-field="weight" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control calculate-length numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="length[]" data-text="length" data-field="length" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control -plaintext pt-2 text-center numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="cumm_length[]" data-text="cumm_length" data-field="cumm_length" disabled="">
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="con_type[]" data-text="con_type" data-field="con_type" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="con_size[]" data-text="con_size" data-field="con_size" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="serial_number[]" data-text="serial_number" data-field="serial_number" required>
        </td>
        <td class="p-1 action text-center" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readBhaComponent-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowBhaComponent">
        <td class="select p-1 pl-2">

            <input type="hidden" class="form-control" name="well_bha_comp_detail_id[]" value="{{id}}">
            <input type="hidden" class="form-control" name="drilling_bha_comp_id[]" value="{{drilling_bha_comp_id}}">
            <input type="hidden" class="form-control" name="bha_component_id[]" value="{{bha_component_id}}">
            @*<select type="text" class="form-control lookup-bha-component" name="job_personel_id[]" data-field="{{component_name}}" data-text="{{component_name}}" placeholder="" required>
                    <option value="{{bha_component_id}}" selected="selected">{{component_name}}</option>
                </select>
                <div class="invalid-feedback">BHA component cannot be empty</div>*@

            <input type="text" class="form-control-plaintext" readonly value="{{component_name}}">
        </td>
        <td class="p-1">
            <textarea class="form-control" rows="1" name="component_detail[]" style="overflow-y: auto;" required>{{component_detail}}</textarea>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="joint[]" data-text="joint" data-field="joint" value="{{joint}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_od[]" data-text="n_od" data-field="n_od" value="{{n_od}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_id[]" data-text="n_id" data-field="n_id" value="{{n_id}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight[]" data-text="weight" data-field="weight" value="{{weight}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="length[]" data-text="length" data-field="length" value="{{length}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control -plaintext pt-2 text-center numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="cumm_length[]" data-text="cumm_length" data-field="cumm_length" disabled="" value="{{cumm_length}}">
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="con_type[]" data-text="con_type" data-field="con_type" value="{{con_type}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="con_size[]" data-text="con_size" data-field="con_size" value="{{con_size}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="serial_number[]" data-text="serial_number" data-field="serial_number" value="{{serial_number}}" required>
        </td>
        <td class="p-1 action text-center d-none" style="vertical-align: middle;">
        </td>
    </tr>
    {{/each}}
</script>

<script src="~/Areas/Core/Scripts/drilling.bha.js?_@DateTime.Now"></script>
