﻿<div id="panel-1" class="panel">
    <div class="panel-hdr">
        <h2>BHA and BIT Data</h2>
        <div class="panel-toolbar">
            <button type="button" data-href="@Url.Content("/Core/Drilling/SetupBhaBit?well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.recordId)" class="modalTrigger btn btn-sm btn-warning waves-effect waves-themed fw-500 btnClassInput"
                    data-toggle="modal-remote" data-target="#setBhaBitModal">
                <span class="fal fa-cog"></span> Setup
            </button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content page-loading-content pt-0">
            <style>
                #form-drillingBhaBit .select2-selection.select2-selection--single {
                    height: calc(1.5em + 0.75rem + 2px);
                }

                #form-drillingBhaBit .select2-selection__rendered {
                    line-height: calc(23px + 2px);
                    padding: 3px 12px;
                }

                #form-drillingBhaBit .form-group > label {
                    margin-top: 7px;
                }
            </style>
            <div class="row">
                <div class="col-lg-12">
                    <form id="form-drillingBhaBit" class="needs-validation" novalidate>
                    </form>
                </div>

                <div class="col-md-12 pt-2">
                    <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneBhaBitMudlogging">Add Row</button>
                </div>
                <div class="col-md-12 pt-2 text-right">
                    <button type="button" class="btn btn-sm btn-info waves-effect waves-themed mr-0 btnClassInput" id="btnSaveBhaBit">
                        <span class="fal fa-save mr-1"></span> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="rowBhaBit-template" type="text/x-handlebars-template">
    <div class="row mt-2 row-data" data-idx="{{idx}}">
        <input type="hidden" name="bhaAndBit[{{idx}}].id" value="" />
        <input class="form-control" type="hidden" name="bhaAndBit[{{idx}}].drilling_id" value="@ViewBag.recordId">
        <input class="form-control" type="hidden" name="bhaAndBit[{{idx}}].well_id" value="@ViewBag.wellId">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">BHA <span class="text-danger"> *</span></label>
                        <div class="col-md-6 pl-0">
                            <select class="form-control form-control-sm wellBhaLookup" name="bhaAndBit[{{idx}}].well_bha_id" id="" data-field="well_bha_id" data-text="bha_no" placeholder="" required></select>
                            <div class="invalid-feedback text-danger fw-500">BHA cannot be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">BHA Weight (air)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].weight_air" data-text="weight_air" data-field="weight_air" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="Weight{{idx}}" data-objectname="BHA Weight (air)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">BHA Weight (mud)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].weight_mud" data-text="weight_mud" data-field="weight_mud" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_mud_uom{{idx}}" data-objectname="BHA Weight (mud)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">WT. Below jar (air)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].wt_below_jars_air" data-text="wt_below_jars_air" data-field="wt_below_jars_air" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="wt_below_jars_air_uom{{idx}}" data-objectname="WT. Below jar (air)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">WT. Below jar (mud)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].wt_below_jars_mud" data-text="wt_below_jars_mud" data-field="wt_below_jars_mud" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="wt_below_jars_mud_uom{{idx}}" data-objectname="WT. Below jar (mud)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">String Weight</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].string_weight" data-text="string_weight" data-field="string_weight" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="string_weight_uom{{idx}}" data-objectname="String Weight" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Pick Up</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].weight_pick_up" data-text="weight_pick_up" data-field="weight_pick_up" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_pick_up_uom{{idx}}" data-objectname="Weight Pick Up" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Slack Down</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].weight_slack_down" data-text="weight_slack_down" data-field="weight_slack_down" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_slack_down_uom{{idx}}" data-objectname="Weight Slack Down" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Rotate</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].weight_rotate" data-text="weight_rotate" data-field="weight_rotate" value="" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_rotate_uom{{idx}}" data-objectname="Weight Rotate" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">BIT <span class="text-danger"> *</span></label>
                        <div class="col-md-6 pl-0">
                            <select class="form-control form-control-sm wellBitLookup" name="bhaAndBit[{{idx}}].well_bit_id" id="" data-field="well_bit_id" data-text="bit_number" placeholder="" required></select>
                            <div class="invalid-feedback text-danger fw-500">BIT cannot be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Bit Run</label>
                        <div class="col-md-6 pl-0">
                            @*<input type="text" class="form-control form-control-sm numeric bit-run fw-500 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{idx}}].bit_run" data-text="bit_run" data-field="bit_run" value="0" />*@
                            <input type="text" class="form-control form-control-sm numeric bit-run fw-500" im-insert="true" id="bit_run" name="bhaAndBit[{{idx}}].bit_run" data-text="bit_run" data-field="bit_run" value="0" />
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">HKLD</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{idx}}].mudlogging_hkld" data-text="mudlogging_hkld" data-field="mudlogging_hkld" value="0" required />
                                @*<div class="input-group-append">
                                        <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="progress_uom{{idx}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">MW In</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{idx}}].mudlogging_mwi" data-text="mudlogging_mwi" data-field="mudlogging_mwi" value="0" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="mudlogging_mwi{{idx}}" data-objectname="mw in" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">MW Out</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{idx}}].mudlogging_mwo" data-text="mudlogging_mwo" data-field="mudlogging_mwo" value="0" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="mudlogging_mwo{{idx}}" data-objectname="mw out" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-md-6 text-center">
                    <div class="col-md-12" style="background-color: #f3f3f3;">
                        <label class="control-label fw-500" for="">Dull Grading</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left mt-2">
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_in_rows">In Rows</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_in_rows" data-field="dg_in_rows" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_out_rows">Out Rows</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_out_rows" data-field="dg_out_rows" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_dull_char">Dull Char</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_dull_char" data-field="dg_dull_char" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_loc_cone">Loc/Cone</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_loc_cone" data-field="dg_loc_cone" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-left mt-2">
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_seals">Seals</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_seals" data-field="dg_seals" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_gauge">Gauge</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_gauge" data-field="dg_gauge" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_other_char">Other char</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_other_char" data-field="dg_other_char" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_reason_pulled">Reason Pulled</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{idx}}].dg_reason_pulled" data-field="dg_reason_pulled" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Depth In</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money depth-in" data-inputmask="'alias': 'currency'" im-insert="true" id="depth_in-{{idx}}" data-index="{{idx}}" name="bhaAndBit[{{idx}}].depth_in" data-text="depth_in" data-field="depth_in" value="0" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="depth_in{{idx}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Depth Out</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money depth-out" data-inputmask="'alias': 'currency'" im-insert="true" id="depth_out-{{idx}}" data-index="{{idx}}" name="bhaAndBit[{{idx}}].depth_out" data-text="depth_out" data-field="depth_out" value="0" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="depth_out{{idx}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_hours_on_bottom">Duration</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money duration" data-inputmask="'alias': 'currency'" im-insert="true" id="duration-{{idx}}" data-index="{{idx}}" name="bhaAndBit[{{idx}}].duration" data-text="duration" data-field="duration" value="0" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" value="Hrs" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_footage">Footage</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money footage" name="bhaAndBit[{{idx}}].dg_footage" id="footage-{{idx}}" data-index="{{idx}}" data-field="dg_footage" data-inputmask="'alias': 'currency'" im-insert="true" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="dg_footage{{idx}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_rop_overall">ROP Overall</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money rop-overall" name="bhaAndBit[{{idx}}].dg_rop_overall" id="rop_overall-{{idx}}" data-index="{{idx}}" data-field="dg_rop_overall" data-inputmask="'alias': 'currency'" im-insert="true" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="dg_rop_overall_uom{{idx}}" data-objectname="ROP Overall" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="fw-700 mb-1">Mudlogging Data</div>
            <table class="table m-0 table-bordered" id="tableMudloggingData">
                <thead>
                    <tr>
                        <th class="text-center fw-700">Parameter</th>
                        <th class="text-center fw-700">Min</th>
                        <th class="text-center fw-700">Max</th>
                        <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                        <th class="text-center fw-700">Parameter</th>
                        <th class="text-center fw-700">Min</th>
                        <th class="text-center fw-700">Max</th>
                        <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                        <th class="text-center fw-700">Parameter</th>
                        <th class="text-center fw-700">Min</th>
                        <th class="text-center fw-700">Max</th>
                        <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                        <th class="text-center fw-700">Parameter</th>
                        <th class="text-center fw-700">Min</th>
                        <th class="text-center fw-700">Max</th>
                        <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rowMudloggingData">
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="WOB">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_wob_min" data-field="mudlogging_wob_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_wob_max" data-field="mudlogging_wob_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="Weight_rotate{{idx}}" data-objectname="WEIGHT ROTATE" value="-" readonly="">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="DHRPM">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_dhrpm_min" data-field="mudlogging_dhrpm_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_dhrpm_max" data-field="mudlogging_dhrpm_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Flowrate">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_flowrate_min" data-field="mudlogging_flowrate_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_flowrate_max" data-field="mudlogging_flowrate_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="flowrate{{idx}}" data-objectname="Flowrate" readonly="" value="-">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spm_min" data-field="mudlogging_spm_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spm_max" data-field="mudlogging_spm_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="spm">
                        </td>
                    </tr>
                    <tr class="rowMudloggingData">
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_rpm_min" data-field="mudlogging_rpm_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_rpm_max" data-field="mudlogging_rpm_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Torque">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_torque_min" data-field="mudlogging_torque_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_torque_max" data-field="mudlogging_torque_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="Torque{{idx}}" data-objectname="Torque" readonly="" value="-">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPP">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spp_min" data-field="mudlogging_spp_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spp_max" data-field="mudlogging_spp_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="spp{{idx}}" data-objectname="spp" readonly="" value="-">
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM PRESS">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spmpress_min" data-field="mudlogging_spmpress_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_spmpress_max" data-field="mudlogging_spmpress_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="spp_press{{idx}}" data-objectname="spp" value="-" readonly="">
                        </td>
                    </tr>

                    <tr class="rowMudloggingData">
                        <td colspan="12"></td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="AVG ROP">
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_avg_rop_min" data-field="mudlogging_avg_rop_min" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1">
                            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{idx}}].mudlogging_avg_rop_max" data-field="mudlogging_avg_rop_max" style="padding-left: 5px; padding-right: 2px;" required>
                        </td>
                        <td class="p-1 text-center">
                            <input type="text" class="form-control-plaintext pt-2 text-center uom-definition" id="avg_rop{{idx}}" data-objectname="average rop" readonly="" value="-">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <div class="panel-content d-flex py-2 rounded-bottom border-faded border-left-0 border-right-0 border-bottom-0 text-muted pr-0">
                <div class="col-md-12 text-right">
                    <div class="form-check-inline mr-0">
                        <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0 btnClassInput" style="background-color: red; border-color: maroon;">
                            <i class="fal fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12"><div class="col-md-12 pt-2" style="border-bottom: 1px dashed #f3f3f3;"></div></div>
    </div>
</script>

<script id="readBhaBit-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="row mt-2 row-data" data-idx="{{@@index}}">
        <input type="hidden" name="id" value="{{id}}" />
        <input class="form-control" type="hidden" name="bhaAndBit[{{@@index}}].drilling_id" value="@ViewBag.recordId">
        <input class="form-control" type="hidden" name="bhaAndBit[{{@@index}}].well_id" value="@ViewBag.wellId">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">BHA <span class="text-danger"> *</span></label>
                        <div class="col-md-6 pl-0">
                            <select class="form-control form-control-sm wellBhaLookup" name="bhaAndBit[{{@@index}}].well_bha_id" data-field="{{well_bha_id}}" data-text="{{bha_no}}" placeholder="" required>
                                <option value="{{well_bha_id}}" selected="selected">{{bha_no}}</option>
                            </select>
                            <div class="invalid-feedback text-danger fw-500">BHA cannot be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">BHA Weight (air)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].weight_air" data-text="weight_air" data-field="weight_air" value="{{weight_air}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="Weight{{@@index}}" data-objectname="BHA Weight (air)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">BHA Weight (mud)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].weight_mud" data-text="weight_mud" data-field="weight_mud" value="{{weight_mud}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_mud_uom{{@@index}}" data-objectname="BHA Weight (mud)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">WT. Below jar (air)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].wt_below_jars_air" data-text="wt_below_jars_air" data-field="wt_below_jars_air" value="{{wt_below_jars_air}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="wt_below_jars_air_uom{{@@index}}" data-objectname="WT. Below jar (air)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">WT. Below jar (mud)</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].wt_below_jars_mud" data-text="wt_below_jars_mud" data-field="wt_below_jars_mud" value="{{wt_below_jars_mud}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="wt_below_jars_mud_uom{{@@index}}" data-objectname="WT. Below jar (mud)" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">String Weight</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].string_weight" data-text="string_weight" data-field="string_weight" value="{{string_weight}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="string_weight_uom{{@@index}}" data-objectname="String Weight" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Pick Up</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].weight_pick_up" data-text="weight_pick_up" data-field="weight_pick_up" value="{{weight_pick_up}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_pick_up_uom{{@@index}}" data-objectname="Weight Pick Up" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Slack Down</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].weight_slack_down" data-text="weight_slack_down" data-field="weight_slack_down" value="{{weight_slack_down}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_slack_down_uom{{@@index}}" data-objectname="Weight Slack Down" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="weather_general">Weight Rotate</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].weight_rotate" data-text="weight_rotate" data-field="weight_rotate" value="{{weight_rotate}}" required="" inputmode="numeric">
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="weight_rotate_uom{{@@index}}" data-objectname="Weight Rotate" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">BIT <span class="text-danger"> *</span></label>
                        <div class="col-md-6 pl-0">
                            <select class="form-control form-control-sm wellBitLookup" name="bhaAndBit[{{@@index}}].well_bit_id" data-field="{{well_bit_id}}" data-text="{{bit_number}}" placeholder="" required>
                                <option value="{{well_bit_id}}" selected="selected">{{bit_number}}</option>
                            </select>
                            <div class="invalid-feedback text-danger fw-500">BIT cannot be empty</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Bit Run</label>
                        <div class="col-md-6 pl-0">
                            @*<input type="text" class="form-control form-control-sm numeric bit-run fw-500 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{@@index}}].bit_run" data-text="bit_run" data-field="bit_run" value="{{bit_run}}" />*@
                            <input type="text" class="form-control form-control-sm numeric bit-run fw-500" im-insert="true" id="bit_run" name="bhaAndBit[{{@@index}}].bit_run" data-text="bit_run" data-field="bit_run" value="{{bit_run}}" />
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">HKLD</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{@@index}}].mudlogging_hkld" data-text="mudlogging_hkld" data-field="mudlogging_hkld" value="{{mudlogging_hkld}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="Depth-hkld{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">MW In</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{@@index}}].mudlogging_mwi" data-text="mudlogging_mwi" data-field="mudlogging_mwi" value="{{mudlogging_mwi}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="Depth-in{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">MW Out</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="progress" name="bhaAndBit[{{@@index}}].mudlogging_mwo" data-text="mudlogging_mwo" data-field="mudlogging_mwo" value="{{mudlogging_mwo}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="Depth-out{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col-md-6 text-center">
                    <div class="col-md-12" style="background-color: #f3f3f3;">
                        <label class="control-label fw-500" for="">Dull Grading</label>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left mt-2">
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_in_rows">In Rows</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_in_rows" data-field="dg_in_rows" class="form-control form-control-sm" value="{{dg_in_rows}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_out_rows">Out Rows</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_out_rows" data-field="dg_out_rows" class="form-control form-control-sm" value="{{dg_out_rows}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_dull_char">Dull Char</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_dull_char" data-field="dg_dull_char" class="form-control form-control-sm" value="{{dg_dull_char}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_loc_cone">Loc/Cone</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_loc_cone" data-field="dg_loc_cone" class="form-control form-control-sm" value="{{dg_loc_cone}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 text-left mt-2">
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_seals">Seals</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_seals" data-field="dg_seals" class="form-control form-control-sm" value="{{dg_seals}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_gauge">Gauge</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_gauge" data-field="dg_gauge" class="form-control form-control-sm" value="{{dg_gauge}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_other_char">Other char</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_other_char" data-field="dg_other_char" class="form-control form-control-sm" value="{{dg_other_char}}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_reason_pulled">Reason Pulled</label>
                                <div class="col-md-6 pl-0">
                                    <input type="text" name="bhaAndBit[{{@@index}}].dg_reason_pulled" data-field="dg_reason_pulled" class="form-control form-control-sm" value="{{dg_reason_pulled}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Depth In</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money depth-in" data-inputmask="'alias': 'currency'" im-insert="true" id="depth_in-{{@@index}}" data-index="{{@@index}}" name="bhaAndBit[{{@@index}}].depth_in" data-text="depth_in" data-field="depth_in" value="{{depth_in}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="Depth-in-progress_uom{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="">Depth Out</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money depth-out" data-inputmask="'alias': 'currency'" im-insert="true" id="depth_out-{{@@index}}" data-index="{{@@index}}" name="bhaAndBit[{{@@index}}].depth_out" data-text="depth_out" data-field="depth_out" value="{{depth_out}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control-plaintext form-control-sm fw-500 pl-2 uom-definition" id="Depth-out-progress_uom{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_hours_on_bottom">Duration</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money duration-bit" data-inputmask="'alias': 'currency'" im-insert="true" id="duration-{{@@index}}" name="bhaAndBit[{{@@index}}].duration" data-index="{{@@index}}" data-text="duration" data-field="duration" value="{{duration}}" required />
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" value="Hrs" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_footage">Footage</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money footage" name="bhaAndBit[{{@@index}}].dg_footage" id="footage-{{@@index}}" data-index="{{@@index}}" data-field="dg_footage" value="{{dg_footage}}" data-inputmask="'alias': 'currency'" im-insert="true" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="dg_footage_uom{{@@index}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-md-6 control-label fw-500 pt-0 pr-1" for="dg_rop_overall">ROP Overall</label>
                        <div class="col-md-6 pl-0">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm numeric-money rop-overall" name="bhaAndBit[{{@@index}}].dg_rop_overall" id="rop_overall-{{@@index}}" data-index="{{@@index}}" data-field="dg_rop_overall" value="{{dg_rop_overall}}" data-inputmask="'alias': 'currency'" im-insert="true" readonly>
                                <div class="input-group-append">
                                    <input type="text" class="form-control form-control-sm fw-500 pl-2 uom-definition" id="dg_rop_overall_uom{{@@index}}" data-objectname="ROP Overall" value="-" readonly="" style="background-color: #f3f3f3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 pt-2">
                    <div class="fw-700 mb-1">Mudlogging Data</div>
                    <table class="table m-0 table-bordered" id="tableMudloggingData">
                        <thead>
                            <tr>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowMudloggingData">
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="WOB">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_wob_min" value="{{mudlogging_wob_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_wob_max" value="{{mudlogging_wob_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Klbs">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="DHRPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_dhrpm_min" value="{{mudlogging_dhrpm_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_dhrpm_max" value="{{mudlogging_dhrpm_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Flowrate">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_flowrate_min" value="{{mudlogging_flowrate_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_flowrate_max" value="{{mudlogging_flowrate_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="gpm">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spm_min" value="{{mudlogging_spm_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spm_max" value="{{mudlogging_spm_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Stks">
                                </td>
                            </tr>
                            <tr class="rowMudloggingData">
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_rpm_min" value="{{mudlogging_rpm_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_rpm_max" value="{{mudlogging_rpm_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Torque">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_torque_min" value="{{mudlogging_torque_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_torque_max" value="{{mudlogging_torque_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="K lb.ft">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPP">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spp_min" value="{{mudlogging_spp_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spp_max" value="{{mudlogging_spp_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="psi">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM PRESS">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spmpress_min" value="{{mudlogging_spmpress_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_spmpress_max" value="{{mudlogging_spmpress_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Psi">
                                </td>
                            </tr>

                            <tr class="rowMudloggingData">
                                <td colspan="12"></td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="AVG ROP">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_avg_rop_min" value="{{mudlogging_avg_rop_min}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="bhaAndBit[{{@@index}}].mudlogging_avg_rop_max" value="{{mudlogging_avg_rop_max}}" style="padding-left: 5px; padding-right: 2px;" required>
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="ft/Hrs">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-12 text-right mt-2">
            <div class="form-check-inline mr-0">
                <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0 btnClassInput" style="background-color: red; border-color: maroon;">
                    <i class="fal fa-trash-alt"></i>
                </button>
            </div>
        </div>

        <div class="col-md-12"><div class="col-md-12 pt-2" style="border-bottom: 1px dashed #f3f3f3;"></div></div>
    </div>
    {{/each}}
</script>
