﻿<!--Modal header-->
<style>
    .swal2-container.swal2-center.swal2-fade.swal2-shown {
        z-index: 9999;
    }
</style>
<div class="modal-header pb-1">
    <h4 class="modal-title">New BIT</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0 pb-3">
    <hr class="mt-2 mb-2" />
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <input type="hidden" id="drillingId" value="@ViewBag.drillingId" />
            <form id="form-wellBit" class="needs-validation" novalidate>
                <input type="hidden" id="wellBitId" name="id" value="@ViewBag.wellBitId" />
                <input type="hidden" id="well_id" name="well_id" value="@ViewBag.wellId" />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group row mb-0">
                            <label class="col-md-5 control-label fw-500" for="weather_general">BIT No</label>
                            <div class="col-md-6">
                                <label class="badge badge-warning ml-0 mt-1" data-objecttype="label" id="bit_number" data-field="bit_number" style="font-size: 13px;">-</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-md-6">
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500" for="bit_size">Bit Size</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="number" name="bit_size" data-field="bit_size" class="form-control form-control-sm" step="0.01" value="0.00" required>
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="bit_size_uom" data-objectname="Bit Size" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500" for="manufacturer">Manufacture</label>
                            <div class="col-sm-5">
                                <input type="text" name="manufacturer" data-field="manufacturer" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500" for="bit_type">Bit Type</label>
                            <div class="col-sm-6">
                                <input type="text" name="bit_type" data-field="bit_type" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500" for="serial_number">Serial Number	</label>
                            <div class="col-sm-7">
                                <input type="text" name="serial_number" data-field="serial_number" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500" for="current_hole_size">IADC</label>
                            <div class="col-sm-9">
                                <input type="text" name="iadc_code" data-field="iadc_code" class="form-control form-control-sm">
                                @*<input type="hidden" data-field="iadc_code" readonly="" class="form-control-plaintext" name="iadc_code">
                                    <a href="javascript:void(0);" id="iadc_code" data-field="iadc_code" class="text-left text-bold btn-link fw-500 pt-2 iadc-lookup" style="color: #4679cc!important;">Choose IADC</a>*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="noozle_1">Nozzle</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="noozle_1" id="noozle_1" data-field="noozle_1" data-text="noozle_1" placeholder="Size">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="noozle_1_uom" data-objectname="Nozzle Size" value="-" readonly="" style="background-color: #f3f3f3">
                                        <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_1" id="count_1" data-field="count_1" data-text="count_1" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-2 ">
                                <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_1" id="count_1" data-field="count_1" data-text="count_1" placeholder="Count">
                            </div>*@
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="noozle_2">Nozzle</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="noozle_2" id="noozle_2" data-field="noozle_2" data-text="noozle_2" placeholder="Size">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="noozle_2_uom" data-objectname="Nozzle Size" value="-" readonly="" style="background-color: #f3f3f3">
                                        <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_2" id="count_2" data-field="count_2" data-text="count_2" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="noozle_3">Nozzle</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="noozle_3" id="noozle_3" data-field="noozle_3" data-text="noozle_3" placeholder="Size">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="noozle_3_uom" data-objectname="Nozzle Size" value="-" readonly="" style="background-color: #f3f3f3">
                                        <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_3" id="count_3" data-field="count_3" data-text="count_3" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="noozle_4">Nozzle</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="noozle_4" id="noozle_4" data-field="noozle_4" data-text="noozle_4" placeholder="Size">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="noozle_4_uom" data-objectname="Nozzle Size" value="-" readonly="" style="background-color: #f3f3f3">
                                        <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_4" id="count_4" data-field="count_4" data-text="count_4" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="noozle_5">Nozzle</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="noozle_5" id="noozle_5" data-field="noozle_5" data-text="noozle_5" placeholder="Size">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="noozle_5_uom" data-objectname="Nozzle Size" value="-" readonly="" style="background-color: #f3f3f3">
                                        <input class="form-control form-control-sm numeric pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="count_5" id="count_5" data-field="count_5" data-text="count_5" placeholder="Count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-sm-3 control-label fw-500 pl-0" for="TFA">TFA</label>
                            <div class="col-sm-9 ">
                                <div class="input-group">
                                    <input class="form-control form-control-sm numeric-money pl-2 pr-0" data-inputmask="'alias': 'currency'" im-insert="true" name="TFA" id="TFA" data-field="tfa" data-text="TFA" placeholder="TFA">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="tfa" data-objectname="Total Flow Area" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row mb-1">
                                        <div class="col-sm-12 text-center">
                                            <label class="control-label fw-500">Dull Grading</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_in_rows">In Rows</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_in_rows" data-field="dg_in_rows" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_out_rows">Out Rows</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_out_rows" data-field="dg_out_rows" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_dull_char">Dull Char</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_dull_char" data-field="dg_dull_char" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_loc_cone">Loc/Cone</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_loc_cone" data-field="dg_loc_cone" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_seals">Seals</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_seals" data-field="dg_seals" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_gauge">Gauge</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_gauge" data-field="dg_gauge" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_other_char">Other char</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_other_char" data-field="dg_other_char" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-6 control-label fw-500 pl-0" for="dg_reason_pulled">Reason Pulled</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="dg_reason_pulled" data-field="dg_reason_pulled" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row mb-1">
                                <label class="col-sm-5 control-label fw-500 pl-0" for="dg_depth_in">Depth In</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="dg_depth_in" name="dg_depth_in" data-text="dg_depth_in" data-field="dg_depth_in" value="" required="" inputmode="numeric">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="dg_depth_in_uom" data-objectname="Measured Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-sm-5 control-label fw-500 pl-0" for="dg_depth_out">Depth Out</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="dg_depth_out" name="dg_depth_out" data-text="dg_depth_out" data-field="dg_depth_out" value="" required="" inputmode="numeric">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="dg_depth_out_uom" data-objectname="Measured Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-sm-5 control-label fw-500 pl-0" for="dg_hours_on_bottom">Hours on Bottom</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="dg_hours_on_bottom" id="dg_hours_on_bottom" data-field="dg_hours_on_bottom" data-inputmask="'alias': 'currency'" im-insert="true" class="form-control form-control-sm numeric-money">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="dg_hours_on_bottom_uom" data-objectname="Time" value="-" readonly="" style="background-color: #f3f3f3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-sm-5 control-label fw-500 pl-0" for="dg_footage">Footage</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="dg_footage" id="dg_footage" data-field="dg_footage" data-inputmask="'alias': 'currency'" im-insert="true" readonly class="form-control form-control-sm numeric-money">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="dg_footage_uom" data-objectname="Footage" value="ft" readonly="" style="background-color: #f3f3f3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-sm-5 control-label fw-500 pl-0" for="dg_rop_overall">ROP Overall</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" name="dg_rop_overall" id="dg_rop_overall" data-field="dg_rop_overall" data-inputmask="'alias': 'currency'" im-insert="true" readonly class="form-control form-control-sm numeric-money">
                                        <div class="input-group-append">
                                            <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="dg_rop_overall_uom" data-objectname="ROP Overall" value="ft/Hrs" readonly="" style="background-color: #f3f3f3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <hr class="mt-2 mb-2" />
                        <button type="button" data-href="@Url.Content("/core/drilling/setupbhabit?well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.drillingId)" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#setBhaBitModal">
                            <span class="fal fa-chevron-double-left mr-1"></span> Back
                        </button>
                        <button type="button" class="btn btn-warning btn-sm waves-effect waves-themed" id="btn-saveBit">
                            <span class="fal fa-save mr-1"></span> Save BIT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Areas/Core/Scripts/drilling.bit.js?_@DateTime.Now"></script>