﻿<!-- Modal header -->
<div class="modal-header">
    <h4 class="modal-title">Add Casing</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!-- Modal body -->
<div class="modal-body pt-0">
    <hr class="mt-0" />
    <form id="form-multiCasing">
        <input type="hidden" id="drillingId" name="id" value="@ViewBag.recordId" />
        <input type="hidden" id="id_well" name="well_id"  data-text="well_id" data-field="well_id" />
        <input type="hidden" id="well_hole_and_casing_id" name="well_hole_and_casing_id" data-text="well_hole_and_casing_id" data-field="well_hole_and_casing_id" />
        <input type="hidden" id="multicasing" name="multicasing" data-text="multicasing" data-field="multicasing" />

        <div class="form-group row mb-2">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casinglookup-1">Casing Diameter<span class="text-danger"> *</span></label>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="input-group">
                    <div class="input-group">
                        <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing_name" data-text="casing_name" data-field="casing_name" name="casing_name" placeholder="Casing Diameter" inputmode="numeric" required>
                        <div class="input-group-append">
                            <input type="text" class="form-control form-control-input numeric-money" id="casing-diameter{{id}}" data-objectname="Casing Diameter" value="in" readonly="" style="background-color: #f3f3f3; width: 50px; text-align: center;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_setting_depth">Casing Setting Depth<span class="text-danger"> *</span></label>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="input-group">
                    <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing_setting_depth" name="casing_val" placeholder="Casing Setting Depth" inputmode="numeric" required>
                    <div class="input-group-append">
                        <input type="text" class="form-control form-control-input numeric-money short-border" id="casing-setting-depth{{id}}" data-objectname="Depth" value="m" readonly="" style="background-color: #f3f3f3; width: 50px; text-align: center;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-right">
            <button type="button" id="btn_save-multicasing" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px;">Add</button>
        </div>
    </form>
</div>

<script src="~/Areas/Core/Scripts/drilling.casingNew.js?_@DateTime.Now"></script>
