﻿<form id="form-chemicalUsed" class="needs-validation" novalidate>
    <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
    <div class="row">
        <div class="col-lg-12">
            <table class="table m-0 table-bordered" id="tableChemicalUsed">
                <thead>
                    <tr>
                        <th class="text-center fw-700 p-2">Type</th>
                        <th class="text-center fw-700 p-2">Amount</th>
                        @*<th class="text-center fw-700 p-2">Hole and Casing</th>*@
                        <th class="text-center fw-700 p-2">Unit of Measurement</th>
                        <th class="text-center fw-700 p-2" style="width: 1px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-data">
                        <td colspan="5" class="text-center">No data available. Add Row to input new data.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                            <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingChemicalUsed">Add Row</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-right">
                <button type="button" class="btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-chemicals">
                    <span class="fal fa-save"></span> Save
                </button>
            </div>
        </div>
    </div>
</form>

<script id="rowDrillingChemicalUsed-template" type="text/x-handlebars-template">
    <tr class="rowRecord" data-idx="{{idx}}">
        <td class="p-2">
            <input class="form-control" type="hidden" name="chemicals[{{idx}}].chemicalId">
            <input class="form-control" type="hidden" name="chemicals[{{idx}}].drilling_id" value="@ViewBag.recordId">
            <input type="text" class="form-control" name="chemicals[{{idx}}].chemical_type" data-text="chemical_type" data-field="chemical_type" required>
        </td>
        <td class="p-2">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="chemicals[{{idx}}].amount" data-text="amount" data-field="amount" required>
        </td>
        @*<td class="holeCasingSelect p-2">
            <select type="text" class="form-control holeandcasinglookupByDrilling" name="chemicals[{{idx}}].well_hole_casing_id" data-field="well_hole_casing_id" data-text="hole_name" placeholder="" required></select>
            <div class="invalid-feedback">Hole and Casing cannot be empty</div>
        </td>*@
        <td class="chemicalSelect p-2">
            <select type="text" class="form-control" name="chemicals[{{idx}}].uom_id" data-field="uom_code" data-text="uom_code" placeholder="" required></select>
            <div class="invalid-feedback">Unit cannot be empty</div>
        </td>
        <td class="action p-2" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readDrillingChemicalUsed-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowRecord" data-idx="{{@@index}}">
        <td class="p-2">
            <input class="form-control" type="hidden" name="chemicals[{{@@index}}].chemicalId" value="{{id}}">
            <input type="text" class="form-control" name="chemicals[{{@@index}}].chemical_type" data-text="{{chemical_type}}" data-field="{{chemical_type}}" value="{{chemical_type}}" required>
        </td>
        <td class="p-2">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="chemicals[{{@@index}}].amount" data-text="{{amount}}" data-field="{{amount}}" value="{{amount}}" required>
        </td>
        @*<td class="holeCasingSelect p-2">
            <select type="text" class="form-control holeandcasinglookupByDrilling" name="chemicals[{{@@index}}].well_hole_casing_id" data-field="{{well_hole_casing_id}}" data-text="{{hole_name}}" placeholder="" required>
                <option value="{{well_hole_casing_id}}" selected="selected">{{hole_name}}</option>
            </select>
            <div class="invalid-feedback">Hole and Casing cannot be empty</div>
        </td>*@
        <td class="chemicalselect p-2">
            <select type="text" class="form-control lookup-chemical_uom" name="chemicals[{{@@index}}].uom_id" data-field="{{uom_code}}" data-text="{{uom_code}}" placeholder="" required>
                <option value="{{uom_id}}" selected="selected">{{uom_code}}</option>
            </select>
            <div class="invalid-feedback">unit cannot be empty</div>
        </td>
        <td class="action p-2" style="vertical-align: middle;" data-id="{{id}}">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</script>
