﻿<!--===================================================-->

<style>
    .editable-buttons {
        text-align: center;
        margin-top: 2px;
    }
    .editable-submit {
        margin-right: 3px;
    }
</style>
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <!--Modal header-->
        <div class="modal-header pb-0">
            <h5 class="modal-title">Manage Usage</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <!--Modal body-->
        <div class="modal-body pt-3 pb-0">
            <hr class="mt-0 " />
            <input type="hidden" id="drillingId" value="@ViewBag.recordId" />
            <input type="hidden" id="afeId" value="@ViewBag.afeId" />
            <table id="tblManageUsage" class="easyui-treegrid" style="width: auto !important;">
                <thead>
                    <tr>
                        <th rowspan="2" data-options="field:'description', width:600"><span class="fw-700">Description</span></th>
                        <th colspan="2"><span class="fw-700" align="center">Remaining</span></th>
                        <th colspan="2"><span class="fw-700" align="center">Usage</span></th>
                    </tr>
                    <tr>
                        <th data-options="field:'usage_total_unit', formatter:tUTotalUnit, width:80" align="center"><span class="fw-700">Total Unit</span></th>
                        <th data-options="field:'usage_total_price', formatter:tUTotalPriceNormalized,width:120" align="center"><span class="fw-700">Total Price</span></th>
                        <th data-options="field:'daily_total_unit', formatter:tDCTotalUnit, width:80" align="center"><span class="fw-700">Total Unit</span></th>
                        <th data-options="field:'daily_total_price',formatter:tDCTotalPriceNormalized,width:120" align="center"><span class="fw-700">Total Price</span></th>
                    </tr>
                </thead>
            </table>

            <script>
                var IsMaterial = function (row) {
                    if (row.icon_type == "material") {
                        return true;
                    }
                    return false;
                }

                var tDescription = function (value, row) {
                    var output = `<span class="font-italic tree-title ` + row.icon_type + `" title='` + value + `'>` + value + `</span>`;
                    return output;
                }

                //var tSTotalUnit = function (value, row) {
                //    if (IsMaterial(row)) {
                //        if (row.stock_total_unit != undefined) {
                //            return "<span class='fw-700 pr-0 text-center'>" + thousandSeparatorWithoutComma(value) + "</span>";
                //        } else {
                //            return "<span class='fw-700 pr-0 text-center'>0</span>";
                //        }
                //    }
                //}

                var tUTotalUnit = function (value, row) {
                    if (IsMaterial(row)) {
                        if (row.usage_total_unit != undefined) {
                            return "<span class='fw-700 text-success pr-0 text-right'>" + thousandSeparatorWithoutComma(value) + "</span>";
                        } else {
                            return "<span class='fw-700 text-success pr-0 text-right'>0</span>";
                        }
                    }
                }
                var tUTotalPriceNormalized = function (value, row) {
                    if (IsMaterial(row)) {
                        if (row.usage_total_price != undefined) {
                    console.log(row);
                            return "<span class='fw-700 text-success pr-0 text-center'>" + thousandSeparatorWithoutComma(value) + "</span>";
                        } else {
                            return "<span class='fw-700 text-success pr-0 text-center'>0</span>";
                        }
                    }
                }

                var tDCTotalUnit = function (value, row) {
                    if (IsMaterial(row)) {
                        //console.log(row);
                        var totalUnit = 0;
                        if (row.daily_total_unit != undefined) {
                            totalUnit = value;
                        }
                        var output =
                            `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Drilling/ManageUsage?id=") + '@ViewBag.recordId' + '&afeId=' + '@ViewBag.afeId' + '&material_id=' + row.id +  `" class="modalTrigger manage-usage btn btn-link fw-700 text-danger p-0 m-0 text-right"
                                data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#dailyCostModal">
                                ` + totalUnit + `</button>`;
                        return output;
                    }
                }
                var tDCTotalPriceNormalized = function (value, row) {
                    if (IsMaterial(row)) {
                        if (row.daily_total_price != undefined) {
                            return "<span class='fw-700 text-danger pr-0 text-right'>" + value + "</span>";
                        } else {
                            return "<span class='fw-700 text-danger pr-0 text-right'>0</span>";
                        }
                    }
                }
            </script>
        </div>
        <!--Modal footer-->
        <div class="modal-footer pt-3 mt-0">
            <button data-dismiss="modal" class="btn btn-default no-radius" type="button">Close</button>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
<script src="~/Areas/Core/Scripts/drilling.dailyCost.js?_@DateTime.Now"></script>
