﻿<!--Modal header-->
<style>
    .badge-danger {
        background-color: red !important;
    }
</style>
<div class="modal-header pb-0">
    <h5 class="modal-title fw-500">History Details</h5>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-md-2 mb-2">Well Name</dt>
                <dd class="col-md-9 mb-2">: <span id="well_name">-</span></dd>
                <dt class="col-md-2 mb-0">Drilling Date</dt>
                <dd class="col-md-9 mb-0">: <span id="drilling_date">-</span></dd>
            </dl>
        </div>
        <div class="col-xl-12">
            <table id="dt_basic" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 1px;">No.</th>
                        <th>Comments</th>
                        <th>Action Date</th>
                        <th class="text-center" style="width: 1px;">Status</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>


<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="~/Areas/Core/Scripts/drilling.historydetails.js?_@DateTime.Now"></script>
