﻿<style>
    .activitiesBha .select2-selection__rendered,
    .activitiesBit .select2-selection__rendered {
        padding-left: 5px !important;
        padding-right: 0px !important;
    }
</style>
<div id="panel-1" class="panel">
    <div class="panel-hdr">
        <h2 class="fw-700">Operation Activities</h2>
        <div class="panel-toolbar">
            <button id="btn-NewHoleCasing" type="button" class="btn btn-sm btn-warning waves-effect waves-themed mr-2 btnClassInput">
                <span class="fal fa-plus mr-1"></span> New Hole and Casing
            </button>

            <button id="btn-SaveOperationActivities" type="button" class="btn btn-sm btn-info waves-effect waves-themed btnClassInput">
                <span class="fal fa-save mr-1"></span> Save
            </button>
        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <form id="formOperationActivities" class="needs-validation" novalidate>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="addCasing-modal" role="dialog" tabindex="-1" aria-hidden="true" data-target="form-afe" data-toggle="panel-overlay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<script id="rowHoleAndCasing-template" type="text/x-handlebars-template">
    <div class="mb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="row mb-1">
                    <label class="col-sm-4 control-label fw-700" for="business_unit_id">Hole & Casing <span class="text-danger"> *</span></label>
                    <div class="col-sm-7 pl-1">
                        <input type="hidden" name="drilling_hole_and_casing_id[]" readonly="readonly" value="{{data.id}}">
                        <select class="form-control form-control-sm holeandcasinglookup" name="well_hole_and_casing_id[]" id="holeandcasinglookup-{{data.id}}" placeholder="" required></select>
                        <div class="invalid-feedback">Hole and Casing cannot be empty</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row mb-1">
                    <label class="col-sm-5 control-label fw-700" for="business_unit_id">Hole Diameter</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" id="hole-diameter-{{data.id}}" readonly="readonly" value="" style="border: 1px solid #E5E5E5;">
                            <div class="input-group-append">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="hole-diameter{{data.id}}" data-objectname="Casing Diameter" value="-" readonly="" style="background-color: #f3f3f3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label fw-700" for="business_unit_id">Target Depth</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" name="hole_val[]" id="hole-target-{{data.id}}" readonly="readonly" value="" style="border: 1px solid #E5E5E5;">
                            <div class="input-group-append">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="hole-target{{data.id}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="business_unit_id">Casing Diameter</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" id="casing-diameter-{{data.id}}" readonly="readonly" value="" style="border: 1px solid #E5E5E5;">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-diameter{{data.id}}" data-objectname="Casing Diameter" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="business_unit_id">Casing Setting Depth</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm numeric-money" name="casing_val[]" id="casing-setting-depth-{{data.id}}" data-inputmask="'alias': 'currency'" im-insert="true" value="" inputmode="numeric">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-setting-depth" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="business_unit_id">Top of Cement</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 top-cement numeric-money" name="cement_val[]" value="" data-inputmask="'alias': 'currency'" im-insert="true" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row mb-1">
                            <label class="col-sm-4 control-label fw-700" for="business_unit_id">LOT / FIT</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select class="form-control hole-casing-tipe" id="hole-casing-tipe-{{data.id}}" name="lot_fit[]">
                                        <option value="1">LOT</option>
                                        <option value="2">FIT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-sm-4 control-label fw-700" for="business_unit_id">Value LOT / FIT</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 numeric numeric-money" name="lot_fit_val[]" data-inputmask="'alias': 'currency'" im-insert="true" inputmode="numeric">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12">
                <table class="table m-0 table-bordered" id="tableOperationActivities-{{data.id}}">
                    <thead>
                        <tr>
                            <th class="text-left fw-700" style="">Details</th>
                            <th class="text-left fw-700" style="width: 1px;">Start</th>
                            <th class="text-left fw-700" style="width: 1px;">End</th>
                            <th class="text-left fw-700" style="width: 1px;">Hrs</th>
                            <th class="text-left pt-2 pb-2" style="width: 75px !important">
                                <div class="input-group">
                                    <div class="input-group-append border-0 p-0 uom-background ">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Depth</span>
                                        <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="hole_depth_uom" data-objectname="Depth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                    </div>
                                </div>
                            </th>
                            <th class="text-left fw-700">IADC</th>
                            <th class="text-left fw-700" style="width: 1px;">Category</th>
                            <th class="text-left fw-700" style="width: 1px;">PT/NPT</th>
                            <th class="text-left fw-700" style="width: 20%;">Details</th>
                            <th class="text-left fw-700" style="width: 1px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot class="rowActivity">
                        <tr>
                            <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneOperationActivies-{{data.id}}" data-id="{{data.id}}">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</script>

<script id="readHoleAndCasing-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="mb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="row mb-1">
                    <label class="col-sm-4 control-label fw-700" for="business_unit_id">Hole & Casing<span class="text-danger"> *</span> (<span class="uom-definition" data-objectname="Casing Diameter" id="well_hole_and_casing_id{{id}}">-</span>) </label>
                    <div class="col-sm-7 pl-1">
                        <input type="hidden" name="drilling_hole_and_casing_id[]" readonly="readonly" value="{{id}}">
                        <select class="form-control form-control-sm holeandcasinglookup" name="well_hole_and_casing_id[]" id="holeandcasinglookup-{{id}}" data-text="{{hole_name}}" placeholder="" required>
                            <option value="{{well_hole_and_casing_id}}" selected="selected">{{hole_name}}</option>
                        </select>
                        <div class="invalid-feedback">Hole and Casing cannot be empty</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-1">

                    <button type="button" id="btn-NewCasing" data-href="@Url.Content("/Core/drilling/CasingAddNew?id="){{id}}&wellId={{well_id}}" class="modalTrigger btn btn-sm btn-warning waves-effect waves-themed fw-500 btnClassInput"
                            data-toggle="modal-remote" data-target="#addCasing-modal">
                        <span class="fal fa-plus"></span> Add Casing
                    </button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="row mb-1">
                    <label class="col-sm-5 control-label fw-700" for="">Hole Diameter</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" id="hole-diameter-{{id}}" readonly="readonly" value="{{hole_name}}" style="border: 1px solid #E5E5E5;">
                            <div class="input-group-append">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="hole-diameter{{id}}" data-objectname="Casing Diameter" value="-" readonly="" style="background-color: #f3f3f3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-5 control-label fw-700" for="">Target Depth</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" name="hole_val[]" id="hole-target-{{id}}" readonly="readonly" value="{{hole_depth}}" style="border: 1px solid #E5E5E5;">
                            <div class="input-group-append">
                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="hole-target{{id}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="">Casing Diameter</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control-plaintext form-control-sm no-radius pl-2 pt-2" id="casing-diameter-{{id}}" readonly="readonly" value="{{casing_name}}" style="border: 1px solid #E5E5E5;">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-diameter{{id}}" data-objectname="Casing Diameter" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="">Casing Setting</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm numeric-money pl-2" name="casing_val[]" id="casing-setting-depth-{{id}}" data-inputmask="'alias': 'currency'" im-insert="true" value="{{casing_val}}" inputmode="numeric">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-setting-depth{{id}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-1">
                            <button type="button" id="btn-NewCasing" data-href="@Url.Content("/Core/drilling/listMulticasingDrill?id="){{id}}&wellId={{well_id}}" class="modalTrigger btn btn-sm btn-success waves-effect waves-themed fw-500 btnClassInput"
                                    data-toggle="modal-remote" data-target="#addCasing-modal">
                                <span class="fal fa-eye"></span> View Multicasing
                            </button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="row mb-1">
                            <label class="col-sm-6 control-label fw-700" for="">Top of Cement</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm fw-400 pl-2 top-cement numeric-money" data-inputmask="'alias': 'currency'" name="cement_val[]" value="{{cement_val}}">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-setting-depth" data-objectname="Top Of Cement" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-1">
                            <label class="col-sm-4 control-label fw-700" for="">LOT / FIT</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    {{printHoleCasingType lot_fit id}}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label class="col-sm-4 control-label fw-700" for="">Value LOT / FIT</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm fw-400 pl-2 numeric numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" inputmode="numeric" name="lot_fit_val[]" value="{{lot_fit_val}}">
                                    <div class="input-group-append">
                                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="lot_fit_val{{id}}" data-objectname="mw in" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12">
                <table class="table m-0 table-bordered" id="tableOperationActivities-{{id}}">
                    <thead>
                        <tr>
                            <th class="text-left fw-700" style="width: 10.5% !important;">Details</th>
                            <th class="text-left fw-700" style="width: 8% !important">Start</th>
                            <th class="text-left fw-700" style="width: 8% !important">End</th>
                            <th class="text-left fw-700" style="width: 5%;">Hrs</th>
                            <th class="pt-2 pb-2 text-left" style="width: 9% !important">
                                <div class="input-group">
                                    <div class="input-group-append border-0 p-0 uom-background ">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Depth</span>
                                        <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="hole_depth_uom" data-objectname="Depth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                    </div>
                                </div>
                            </th>
                            <th class="text-left fw-700">IADC</th>
                            <th class="text-left fw-700" style="width: 1px;">Category</th>
                            <th class="text-left fw-700" style="width: 1px;">PT/NPT</th>
                            <th class="text-left fw-700" style="width: 20%;">Details</th>
                            <th class="text-left fw-700" style="width: 1px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each drillingOperationActivities}}
                        <tr class="rowOperation" id="cloneRow">
                            <td class="activitiesDate p-1" style="width: 90px">
                                <input class="form-control" type="hidden" name="activityId[]" value="{{id}}" required>
                                <input type="text" class="form-control date-picker p-1" data-format="MM/dd/yyyy" name="actvitiyDate[]" placeholder="Pick Date" value="{{datePickerFormat operation_end_date}}" style="width: 100%;" required>
                            </td>
                            <td class="activitiesStart p-1">
                                <input class="form-control form-time" type="time" name="startTime[]" value="{{timeFormat operation_start_date}}" required>
                            </td>
                            <td class="activitiesEnd p-1">
                                <input class="form-control form-time" type="time" name="endTime[]" value="{{timeFormat operation_end_date}}" required>
                            </td>
                            <td class="ActivitiesHours p-1">
                                <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="{{hours}}">
                            </td>
                            <td class="activitiesDepth p-1">
                                <input type="text" class="form-control  numeric-money" data-inputmask="'alias': 'currency'" name="depth[]" style="padding-left: 5px; padding-right: 2px;" value="{{depth}}" required>
                            </td>
                            <td id="aa" class="activitiesIadc pt-0 mt-0 p-1">
                                <input type="hidden" readonly="" class="form-control-plaintext" name="iadc[]" value="{{iadc_id}}" required>
                                <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700 pt-2 iadc-lookup" style="border:none; color: #4679cc!important; margin-left: -10px;">{{setIadcName iadc_code iadc_description type}}</a>
                            </td>
                            <td class="activitiesCategory p-1">
                                <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="{{category}}">
                            </td>
                            <td class="activitiesPTorNPT p-1">
                                <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="{{setType type}}">
                            </td>
                            <td class="activitiesDetail p-1">
                                <textarea class="form-control" rows="2" name="detail[]" style="overflow-y: auto; resize: none;" required>{{description}}</textarea>
                            </td>
                            <td class="action p-1" style="vertical-align: middle;">
                                <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                                    <i class="fal fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot class="rowActivity">
                        <tr>
                            <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneOperationActivies-{{id}}" data-id="{{id}}">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="rowOperationActivities-template" type="text/x-handlebars-template">
    <tr class="rowOperation" id="cloneRow">
        <td class="activitiesDate p-1" style="width: 90px">
            <input class="form-control" type="hidden" name="activityId" required>
            <input type="text" class="form-control date-picker p-1" data-format="MM/dd/yyyy" name="actvitiyDate" placeholder="Pick Date" style="width: 100%" required>
        </td>
        <td class="activitiesStart p-1">
            <input class="form-control form-time" type="time" name="startTime" style="width: 100%" required>
        </td>
        <td class="activitiesEnd p-1">
            <input class="form-control form-time" type="time" name="endTime" style="width: 100%" required>
        </td>
        <td class="ActivitiesHours p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="0">
        </td>
        <td class="activitiesDepth p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="depth" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td id="aa" class="activitiesIadc p-1">
            <input type="hidden" readonly="" class="form-control-plaintext" name="iadc" required>
            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700 pt-2 iadc-lookup" style="border:none; color: #4679cc!important; margin-left: -10px;">Choose IADC</a>
        </td>
        <td class="activitiesCategory p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="-">
        </td>
        <td class="activitiesPTorNPT p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="-">
        </td>
        <td class="activitiesDetail p-1">
            <textarea class="form-control" rows="2" name="detail" style="overflow-y: auto; resize: none;" required></textarea>
        </td>
        <td class="action p-1" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readOperationActivities-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation" id="cloneRow">
        <td class="activitiesDate p-1" style="width: 90px">
            <input class="form-control" type="hidden" name="activityId[]" value="{{id}}" required>
            <input type="text" class="form-control date-picker" data-format="MM/dd/yyyy" name="actvitiyDate[]" placeholder="Pick Date" value="{{datePickerFormat operation_end_date}}" style="width: 100%;" required>
        </td>
        <td class="activitiesStart p-1">
            <input class="form-control form-time" type="time" name="startTime[]" style="width: 100%" value="{{timeFormat operation_start_date}}" required>
        </td>
        <td class="activitiesEnd p-1">
            <input class="form-control form-time" type="time" name="endTime[]" value="{{timeFormat operation_end_date}}" style="width: 100%" required>
        </td>
        <td class="ActivitiesHours p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="{{hours}}">
        </td>
        <td class="activitiesDepth p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="depth[]" style="padding-left: 5px; padding-right: 2px;" value="{{depth}}" required>
        </td>
        <td id="aa" class="activitiesIadc p-1">
            <input type="hidden" readonly="" class="form-control-plaintext" name="iadc[]" value="{{iadc_id}}" required>
            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700 pt-2 iadc-lookup" style="border:none; color: #4679cc!important; margin-left: -10px;">{{setIadcName iadc_code iadc_description type}}</a>
        </td>
        <td class="activitiesCategory p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="{{category}}">
        </td>
        <td class="activitiesPTorNPT p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="{{setType type}}">
        </td>
        <td class="activitiesDetail p-1">
            <textarea class="form-control" rows="2" name="detail[]" style="overflow-y: auto; resize: none;" required>{{description}}</textarea>
        </td>
        <td class="action p-1" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>

    </tr>
    {{/each}}
</script>