<!-- Modal header -->
<div class="modal-header">
    <h4 class="modal-title">List Multicasing</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!-- Modal body -->
<div class="modal-body pt-0">
    <hr class="mt-0" />
    <input type="hidden" id="drillingId" name="id" value="@ViewBag.recordId" />
    <div id="form-ListMulticasing">
        <div class="panel-body" style="overflow-x: hidden; overflow-y: hidden; border: none;">

        </div>
    </div>
</div>

<script src="~/Areas/Core/Scripts/drilling.listMulticasing.js?_@DateTime.Now"></script>
<script id="listMulticasing-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casinglookup-1">Casing Diameter<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <div class="input-group">
                    <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing_name" data-text="casing_name" data-field="casing_name" value="{{casing_name}}" name="casing_name" placeholder="Casing Diameter" inputmode="numeric" disabled>
                    <div class="input-group-append">
                        <input type="text" class="form-control form-control-input fw-400 pl-2 uom-definition" id="casing-diameter{{id}}" data-objectname="Casing Diameter" value="in" readonly="" style="background-color: #f3f3f3; width: 50px; text-align: center;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_setting_depth">Casing Setting Depth<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing-setting-depth-{{id}}" name="casing_val[]" value="{{casing_val}}" placeholder="Casing Setting Depth" inputmode="numeric" disabled>
                @*<div class="input-group-append">
                        <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="casing-setting-depth{{id}}" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                    </div>*@
                <div class="input-group-append">
                    <input type="text" class="form-control form-control-input fw-400 pl-2 uom-definition" id="casing-setting-depth{{id}}" data-objectname="Depth" value="m" readonly="" style="background-color: #f3f3f3; width: 50px; text-align: center;">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mb-0">
        <button type="button" class="btn btn-danger btn-mc-delete" id="btn-mc-delete" data-id="{{id}}">
            <span class="fal fa-trash"></span>
        </button>
    </div>
    <hr class="mt-0" />
    {{/each}}
</script>

