﻿<!--===================================================-->

<style>
    .editable-buttons {
        text-align: center;
        margin-top: 2px;
    }
    .editable-submit {
        margin-right: 3px;
    }
</style>
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <!--Modal header-->
        <div class="modal-header pb-0">
            <h5 class="modal-title">Manage Usage</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <!--Modal body-->
        <div class="modal-body pt-3 pb-0">
            <hr class="mt-0 " />
            <input type="hidden" id="drillingId" value="@ViewBag.recordId" />
            <input type="hidden" id="afeId" value="@ViewBag.afeId" />
            <input type="hidden" id="materialId" value="@ViewBag.materialId" />
            <table id="dt_ManageMaterial" class="table table-bordered table-hover m-0">
                <thead class="thead-themed">
                    <tr>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">No</th>
                        <th class="text-left fw-700 text-dark align-middle">Description</th>
                        <th class="text-left fw-700 text-dark align-middle">AFE Line</th>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">Unit</th>
                        @*<th class="text-center align-middle">Unit Price</th>*@
                        <th class="text-center fw-700 text-dark align-middle">Total Price</th>
                        @*<th class="text-center fw-700 text-dark align-middle">Actual Price</th>*@
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">Remaining Unit</th>
                        <th class="text-center fw-700 text-dark" id="col-using">Using</th>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="9">There is no material on exist contract.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Modal footer-->
        <div class="modal-footer mt-0">
            <button type="button" data-href="@Url.Content("/core/drilling/DailyCost?id=" + ViewBag.recordId + "&afeId=" + ViewBag.afeId)" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                    data-toggle="modal-remote" data-target="#dailyCostModal">
                <span class="fal fa-chevron-double-left mr-1"></span> Back
            </button>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@*<script id="contractdetail-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <td class="text-center" style="width: 1px;">{{number @@index}}</td>
        <td class=" align-middle">
            <span class="fw-700">{{material_name}}</span>
            <br />
            <span class="text-success">Contract No: {{contract_no}}</span>
        </td>
        <td class="align-middle">{{afe_line_description}}</td>
        <td class="text-center align-middle">{{unit}}</td>
        <td class="text-right align-middle">{{currency_code}} {{thousandSeparatorWithoutComma unit_price}}</td>
        <td class="text-right align-middle">{{currency_code}} {{thousandSeparatorDecimal total_price}}</td>
        <td class="text-right align-middle">USD {{thousandSeparatorDecimal current_rate_value}}</td>
        <td class="text-right align-middle fw-700 text-success">USD {{thousandSeparatorDecimal actual_price}}</td>
        <td class="text-center align-middle fw-700 text-warning">{{thousandSeparatorDecimal remaining_unit}}</td>
        <td class="text-center align-middle fw-700 text-success">
            {{printUsingMaterial id afe_contract_id unit_usage}}
        </td>
    </tr>
    {{/each}}

</script>
*@
<script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
<script src="~/Areas/Core/Scripts/drilling.manageUsage.js?_@DateTime.Now"></script>
