﻿<form id="formDrillingPersonel" class="needs-validation" novalidate>
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="fw-700">Personnel On Board</h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content page-loading-content">
                <!-- Modal : TODO -->
                <!-- Modal end -->
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table m-0 table-bordered" id="tableDrillingPersonel">
                            <thead>
                                <tr>
                                    <th class="text-center fw-700">Job Title</th>
                                    <th class="text-center fw-700">Personnel</th>
                                    <th class="text-center fw-700">Company</th>
                                    <th class="text-center fw-700">Pax</th>
                                    <th class="text-center fw-700" style="width: 1px;">Act</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-data">
                                    <td colspan="5" class="text-center">No data available. Add Row to input new data.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingPersonel">Add Row</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-info waves-effect waves-themed mr-2 btnClassInput" id="btn-save-personel">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script id="rowDrillingPersonel-template" type="text/x-handlebars-template">
    <tr class="rowPersonel" data-idx="{{idx}}">
        <td class="jobPersonel">
            <input class="form-control" type="hidden" name="personel[{{idx}}].drillingPersonelId">
            <input type="hidden" name="personel[{{idx}}].drilling_id" value="@ViewBag.recordId">
            <select type="text" class="form-control" name="personel[{{idx}}].job_personel_id" data-field="job_title" data-text="job_title" placeholder="" required></select>
            <div class="invalid-feedback">Personnel Job cannot be empty</div>
        </td>
        <td class="">
            <input type="text" class="form-control" name="personel[{{idx}}].personel" data-text="personel" data-field="personel" required>
        </td>
        <td>
            <input type="text" class="form-control" name="personel[{{idx}}].company" data-text="company" data-field="company" required>
        </td>
        <td>
            <input type="text" class="form-control" name="personel[{{idx}}].pax" data-text="pax" data-field="pax" required>
        </td>
        <td class="action" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readDrillingPersonel-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowPersonel" data-idx="{{@@index}}">

        <td class="jobPersonel">
            <input class="form-control" type="hidden" name="personel[{{@@index}}].drillingPersonelId" value="{{id}}" required>
            <input type="hidden" name="personel[{{@@index}}].drilling_id" value="{{drilling_id}}" />
            <select type="text" class="form-control lookup-personel" name="personel[{{@@index}}].job_personel_id" data-field="{{job_title}}" data-text="{{job_title}}" placeholder="" required>
                <option value="{{job_personel_id}}" selected="selected">{{job_title}}</option>
            </select>
            <div class="invalid-feedback">Personnel Job cannot be empty</div>
        </td>
        <td class="">
            <input type="text" class="form-control" name="personel[{{@@index}}].personel" data-text="{{personel}}" data-field="{{personel}}" value="{{personel}}" required>
        </td>
        <td>
            <input type="text" class="form-control" name="personel[{{@@index}}].company" data-text="{{company}}" data-field="{{company}}" value="{{company}}" required>
        </td>
        <td>
            <input type="text" class="form-control" name="personel[{{@@index}}].pax" data-text="{{pax}}" data-field="{{pax}}" value="{{pax}}" required>
        </td>
        <td class="action" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</script>