﻿<form id="form-pit" class="needs-validation" novalidate>
    <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
    <div class="row">
        <div class="col-lg-12">
            <table class="table m-0 table-bordered" id="tableDrillingPit">
                <thead>
                    <tr>
                        <th class="text-center fw-700">PIT</th>
                        <th class="text-center fw-700">Pit Volume (<input type="text" class="uom-definition text-center fw-300" id="pit_volume" data-objectname="plan volume" value="-" readonly="" style="border: 0px solid #ccc; background-color: white;">)</th>
                        <th class="text-center fw-700">Pit Density (<input type="text" class="uom-definition text-center fw-300" id="pit_dennsity" data-objectname="mw in" value="-" readonly="" style="border: 0px solid #ccc; background-color: white;">)</th>
                        <th class="text-center fw-700" style="width: 1px;">Act</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-data">
                        <td colspan="5" class="text-center">No data available. Add Row to input new data.</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                            <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingPit">Add Row</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-right">
                <button type="button" class="btn btn-sm btn-info waves-effect waves-themed mr-2 btnClassInput" id="btn-save-pit">
                    <span class="fal fa-save mr-1"></span> Save
                </button>
            </div>
        </div>
    </div>
</form>

<script id="rowDrillingPit-template" type="text/x-handlebars-template">
    <tr class="rowRecord" data-idx="{{idx}}">
        <td class="pitSelect">
            <input class="form-control" type="hidden" name="pits[{{idx}}].PitId">
            <input type="hidden" name="pits[{{idx}}].drilling_id" value="@ViewBag.recordId">
            <select type="text" class="form-control" name="pits[{{idx}}].pit_id" data-field="pit_name" data-text="pit_name" placeholder="" required></select>
            <div class="invalid-feedback">Pit cannot be empty</div>
        </td>
        <td class="">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="pits[{{idx}}].volume" data-text="volume" data-field="volume" required>
            @*<input type="hidden" class="form-control" name="volume_uom_id[]" value="6008baf5-18f0-9ad3-31d8-bcee0febcaf6" required>*@
        </td>
        <td>
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="pits[{{idx}}].density" data-text="density" data-field="density" required>
            @*<input type="hidden" class="form-control" name="density_uom_id[]" value="6008baf5-18f0-9ad3-31d8-bcee0febcaf6" required>*@
        </td>
        <td class="action" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readDrillingPit-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowRecord" data-idx="{{@@index}}">
        <td class="pitSelect">
            <input class="form-control" type="hidden" name="PitId[]">
            <select type="text" class="form-control lookup-pit" name="pits[{{@@index}}].pit_id" data-field="{{pit_name}}" data-text="{{pit_name}}" placeholder="" required>
                <option value="{{pit_id}}" selected="selected">{{pit_name}}</option>
            </select>
            <div class="invalid-feedback">Pit cannot be empty</div>
        </td>
        <td class="">
            <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="pits[{{@@index}}].volume" data-text="{{volume}}" data-field="{{volume}}" value="{{volume}}" required>
            @*<input type="hidden" class="form-control" name="volume_uom_id[]" value="6008baf5-18f0-9ad3-31d8-bcee0febcaf6" required>*@
        </td>
        <td>
            <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="pits[{{@@index}}].density" data-text="{{density}}" data-field="{{density}}" value="{{density}}" required>
            @*<input type="hidden" class="form-control" name="density_uom_id[]" value="6008baf5-18f0-9ad3-31d8-bcee0febcaf6" required>*@
        </td>
        <td class="action" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</script>
