﻿<!--Modal header-->
<style>
    .swal2-container.swal2-center.swal2-fade.swal2-shown {
        z-index: 9999;
    }
</style>
<div class="modal-header pb-2">
    @{
        if (ViewBag.wellBhaId == null || ViewBag.wellBhaId == "")
        {
            <h4 class="modal-title">Add New Lithology</h4>
        }
        else
        {
            <h4 class="modal-title">Lithology</h4>
        }
    }
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-1" />
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <input type="hidden" id="drilling_id" name="drilling_id" data-text="id" data-field="id" value="@ViewBag.drillingId" />
            <input type="hidden" id="drill_formation_actual_id" name="drill_formation_actual_id" data-text="id" data-field="id" value="@ViewBag.drill_formation_actual_id" />
            <form id="form-wellBHA" class="needs-validation" novalidate>

                <input type="hidden" id="well_id" name="well_id" value="@ViewBag.wellId" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Depth </label>
                                    <div class="col-md-6">
                                        <label class="badge badge-warning ml-0 mt-1" data-objecttype="label" id="bha_no" data-field="bha_no" style="font-size: 13px;">@ViewBag.depth</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-wellBhaComponent" class="needs-validation" novalidate>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <h7 class="fw-700">Formations</h7>
                        <table class="table m-0 mt-2 table-bordered" id="tableActualFormationDetail">
                            <thead>
                                <tr>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Stone</th>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Persentase (%)</th>

                                    <th class="text-center fw-700 align-middle" id="bha-component-action-col" style="width: 1px;">Act</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-data">
                                    <td colspan="12" class="text-center">No data available. Add Row to input new data.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="mt-1 pt-1 pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">

                                        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed" id="cloneBhaComponent">Add Row</button>


                                    </td>
                                    <td colspan="6" class="text-right pr-0 pb-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">

                                        <button type="button" class="btn btn-warning btn-sm waves-effect waves-themed mr-2" id="btn-saveBHA">
                                            <span class="fal fa-save mr-1"></span> Save Lithology
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script id="rowActualInformationDetailComponent-template" type="text/x-handlebars-template">
    <tr class="rowActualFormationDetail">
        <td class="select p-1">
            <input type="hidden" class="form-control" name="drill_formation_actual_id[]" value="@ViewBag.drill_formation_actual_id">
            <input type="hidden" class="form-control" name="well_id[]" value="@ViewBag.wellId">
            <input type="hidden" class="form-control" name="drilling_id[]" value="@ViewBag.drillingId">
            <select type="text" class="form-control lookup-bha-component stone_id" name="stone_id[]" placeholder="" required></select>
            <div class="invalid-feedback">Lithology component cannot be empty</div>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money percentage" data-inputmask="'alias': 'currency'" im-insert="true" name="percentage[]" data-text="percentage" data-field="percentage" required>
        </td>
        <td class="p-1 action text-center" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>

<script src="~/Areas/Core/Scripts/drilling.setuplithology.js"></script>
