﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Setup</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0" />
    <input type="hidden" id="wellId" value="@ViewBag.wellId" />
    <input type="hidden" id="drillingId" value="@ViewBag.drillingId" />
    <div class="panel">
        <div class="panel-hdr">
            <h2 class="fw-700">BHA</h2>
            <div class="panel-toolbar">
                <button type="button" data-href="@Url.Content("/core/drilling/bha?well_bha_id=&well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.drillingId)" class="modalTrigger btn btn-xs btn-info waves-effect waves-themed"
                        data-toggle="modal-remote" data-target="#setBhaBitModal">
                    Add New BHA
                </button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table m-0 table-bordered" id="tableWellBha">
                            <thead>
                                <tr>

                                    @*<th class="pb-0" style="width: 1px;">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">No</span>
                                    </th>*@
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">BHA&nbsp;No</span>
                                    </th>
                                    @*<th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">String Weight</span>
                                    </th>
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Weight Rotate</span>
                                    </th>
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Depth In</span>
                                    </th>
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Depth Out</span>
                                    </th>*@
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Total Components</span>
                                    </th>
                                    <th class="text-center fw-700" style="width: 1px;">Action</th>
                                    <th class="text-center fw-700" style="width: 1px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-hdr">
            <h2 class="fw-700">BIT</h2>
            <div class="panel-toolbar">
                <button type="button" data-href="@Url.Content("/core/drilling/bit?well_bit_id=&well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.recordId)" class="modalTrigger btn btn-xs btn-info waves-effect waves-themed"
                        data-toggle="modal-remote" data-target="#setBhaBitModal">
                    Add New BIT
                </button>
            </div>
        </div>
        <div class="panel-container show">
            <div class="panel-content">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table m-0 table-bordered" id="tableWellBit">
                            <thead>
                                <tr>
                                    @*<th class="pb-0" style="width: 1px;">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">No</span>
                                    </th>*@
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Bit No</span>
                                    </th>
                                    @*<th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Run</span>
                                    </th>*@
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Size</span>
                                    </th>
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Type</span>
                                    </th>
                                    <th class="pb-0">
                                        <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Serial Number</span>
                                    </th>
                                    <th class="text-center fw-700" style="width: 1px;">Act</th>
                                    <th class="text-center fw-700" style="width: 1px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-container show d-none">
        <div class="panel-content page-loading-content">
            <input type="hidden" id="drilling_id" name="drilling_id" data-text="id" data-field="id" value="@ViewBag.drillingId" required />
            <input type="hidden" id="drilling_id" name="drilling_id" data-text="id" data-field="id" value="@ViewBag.drillingId" required />
            <form id="form-wellBHA" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">BHA Weight (air)</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight_air" data-text="weight_air" data-field="weight_air" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="weight_air_uom" data-objectname="Weight Air" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">String Weight</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="string_weight" data-text="string_weight" data-field="string_weight" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="string_weight_uom" data-objectname="String Weight" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Depth In</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="depth_in" data-text="depth_in" data-field="depth_in" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="depth_in_uom" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">BHA Weight (mud)</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight_mud" data-text="weight_mud" data-field="weight_mud" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="weight_mud_uom" data-objectname="Weight Mud" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Weight Pick Up</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight_pick_up" data-text="weight_pick_up" data-field="weight_pick_up" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="weight_pick_up_uom" data-objectname="Weight Pick Up" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Depth Out</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="depth_out" data-text="depth_out" data-field="depth_out" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="depth_out_uom" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">WT. Below jar (air)</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="wt_below_jars_air" data-text="wt_below_jars_air" data-field="wt_below_jars_air" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="wt_below_jars_air_uom" data-objectname="WT Below Jar Air" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Weight Slack Down</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight_slack_down" data-text="weight_slack_down" data-field="weight_slack_down" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="weight_slack_down_uom" data-objectname="Weight Slack Down" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">WT. Below jar (mud)</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="wt_below_jars_mud" data-text="wt_below_jars_mud" data-field="wt_below_jars_mud" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="wt_below_jars_mud_uom" data-objectname="WT Below Jar Mud" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group row mb-1">
                                    <label class="col-md-5 control-label fw-500" for="weather_general">Weight Rotate</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight_rotate" data-text="weight_rotate" data-field="weight_rotate" value="" required="" inputmode="numeric">
                                            <div class="input-group-append">
                                                <input type="text" class="form-control form-control-sm fw-400 pl-2 uom-definition" id="weight_rotate_uom" data-objectname="Weight Rotate" value="-" readonly="" style="background-color: #f3f3f3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="form-drillingBhaComponent" class="needs-validation" novalidate>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <h7 class="fw-700">BHA Components</h7>
                        <table class="table m-0 mt-2 table-bordered" id="tableDrillingBhaComponent">
                            <thead>
                                <tr>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">BHA Comp (Top Down)</th>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Component Detail</th>
                                    <th class="text-center fw-700 align-middle">Joints</th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 6%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">ID</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_od_uom" data-objectname="BHA OD" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 6%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">OD</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_id_uom" data-objectname="BHA ID" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Weight</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_weight_uom" data-objectname="BHA Weight" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Length</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="bha_length_uom" data-objectname="BHA Length" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pt-2 pb-0 text-center align-middle" style="width: 8%">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Cumm. Length</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="cumm_length_uom" data-objectname="BHA Length" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center fw-700 align-middle">Con. Type</th>
                                    <th class="text-center fw-700 align-middle">
                                        <div class="input-group">
                                            <div class="border-0 w-100">
                                                <div class="no-radius border-0 fw-700 pt-0 pb-0 text-center">Con. Size</div>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-center fw-500 pt-0" id="con_size" data-objectname="Connection Size" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-center fw-700 align-middle" style="width: 15%;">Serial Number</th>
                                    <th class="text-center fw-700 align-middle" style="width: 1px;">Act</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-data">
                                    <td colspan="12" class="text-center">No data available. Add Row to input new data.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="mt-1 pt-1 pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed" id="cloneBhaComponent">Add Row</button>
                                    </td>
                                    <td colspan="6" class="text-right pr-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-themed mr-2" id="btn-updateBHA">
                                            <span class="fal fa-save mr-1"></span> Update BHA
                                        </button>
                                        <button type="button" class="btn btn-warning btn-sm waves-effect waves-themed mr-2" id="btn-saveBHA">
                                            <span class="fal fa-save mr-1"></span> Save BHA
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-lg-12 text-right">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script id="bhaRecords-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowBhaComponent">
        <td class="text-center">
            <span>{{printNumber @@index}}</span>
        </td>
        <td class="text-left">
            <span>1</span>
        </td>
        <td class="text-left">
            <span>1</span>
        </td>
        <td class="action text-center" style="vertical-align: middle;">
            <button type="button" class="btn btn-warning btn-xs fw-700">Remove</button>
        </td>
    </tr>
    {{/each}}
</script>
<script id="rowBhaComponent-template" type="text/x-handlebars-template">
    <tr class="rowBhaComponent">
        <td class="select p-1">
            <input type="hidden" class="form-control" name="drilling_bha_comp_detail_id[]" value="">
            <input type="hidden" class="form-control" name="drilling_bha_comp_id[]" value="">
            <select type="text" class="form-control lookup-bha-component" name="bha_component_id[]" placeholder="" required></select>
            <div class="invalid-feedback">BHA component cannot be empty</div>
        </td>
        <td class="p-1">
            <textarea class="form-control" rows="1" name="component_detail[]" style="overflow-y: auto;" required></textarea>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="joint[]" data-text="joint" data-field="joint" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_od[]" data-text="n_od" data-field="n_od" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_id[]" data-text="n_id" data-field="n_id" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight[]" data-text="weight" data-field="weight" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="length[]" data-text="length" data-field="length" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="0">
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="con_type[]" data-text="con_type" data-field="con_type" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="con_size[]" data-text="con_size" data-field="con_size" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="serial_number[]" data-text="serial_number" data-field="serial_number" required>
        </td>
        <td class="p-1 action text-center" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readBhaComponent-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowBhaComponent">
        <td class="select p-1 pl-2">

            <input type="hidden" class="form-control" name="drilling_bha_comp_detail_id[]" value="{{id}}">
            <input type="hidden" class="form-control" name="drilling_bha_comp_id[]" value="{{drilling_bha_comp_id}}">
            <input type="hidden" class="form-control" name="bha_component_id[]" value="{{bha_component_id}}">
            @*<select type="text" class="form-control lookup-bha-component" name="job_personel_id[]" data-field="{{component_name}}" data-text="{{component_name}}" placeholder="" required>
                    <option value="{{bha_component_id}}" selected="selected">{{component_name}}</option>
                </select>
                <div class="invalid-feedback">BHA component cannot be empty</div>*@

            <input type="text" class="form-control-plaintext" readonly value="{{component_name}}">
        </td>
        <td class="p-1">
            <textarea class="form-control" rows="1" name="component_detail[]" style="overflow-y: auto;" required>{{component_detail}}</textarea>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="joint[]" data-text="joint" data-field="joint" value="{{joint}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_od[]" data-text="n_od" data-field="n_od" value="{{n_od}}" required>
            @*<input type="hidden" class="form-control" name="n_od_uom_id[]" value="e9bfb513-3e6f-e42f-11c9-f66f4a582adf" required>*@
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="n_id[]" data-text="n_id" data-field="n_id" value="{{n_id}}" required>
            @*<input type="hidden" class="form-control" name="n_id_uom_id[]" value="e9bfb513-3e6f-e42f-11c9-f66f4a582adf" required>*@
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="weight[]" data-text="weight" data-field="weight" value="{{weight}}" required>
            @*<input type="hidden" class="form-control" name="weight_uom_id[]" value="9235a4b7-2c91-3f8e-b665-c0cfa19b8f10" required>*@
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="length[]" data-text="length" data-field="length" value="{{length}}" required>
            @*<input type="hidden" class="form-control" name="length_uom_id[]" value="4a2337cb-1f6e-437b-a0c5-020f60c69879" required>*@
        </td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext pt-2 text-center" disabled="" value="0">
            @*<input type="hidden" class="form-control" name="cumm_length_uom_id[]" value="4a2337cb-1f6e-437b-a0c5-020f60c69879" required>*@
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="con_type[]" data-text="con_type" data-field="con_type" value="{{con_type}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="con_size[]" data-text="con_size" data-field="con_size" value="{{con_size}}" required>
        </td>
        <td class="p-1">
            <input type="text" class="form-control" name="serial_number[]" data-text="serial_number" data-field="serial_number" value="{{serial_number}}" required>
        </td>
        <td class="p-1 action text-center" style="vertical-align: middle;">
        </td>
    </tr>
    {{/each}}
</script>


<script src="~/Areas/Core/Scripts/drilling.setupBhaBit.js?_@DateTime.Now"></script>