﻿
<form id="formDrillingTransport" class="needs-validation" novalidate>
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="fw-700">Transport / Shipping Data</h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content page-loading-content">
                <!-- Modal : TODO -->
                <!-- Modal end -->
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table m-0 table-bordered" id="tableTransport">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center fw-700 align-middle">Name</th>
                                    <th rowspan="2" class="text-center fw-700 align-middle" style="">Type</th>
                                    <th colspan="2" class="text-center fw-700" style="">Departed</th>
                                    <th colspan="2" class="text-center fw-700" style="">ETA</th>
                                    <th rowspan="2" class="text-center fw-700 align-middle" style="">Days</th>
                                    <th rowspan="2" class="text-center fw-700 align-middle" style="width: 20% !important;">Comments</th>
                                    <th rowspan="2" class="text-center fw-700 align-middle" style="width: 1px;">Act</th>
                                </tr>
                                <tr>
                                    <th class="text-center fw-700">Date</th>
                                    <th class="text-center fw-700">Time</th>
                                    <th class="text-center fw-700">Date</th>
                                    <th class="text-center fw-700">Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*<tr class="rowTransport">
                                        <td>
                                            <input class="form-control" type="hidden" name="transportId[]">
                                            <input type="text" class="form-control" name="name[]" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="type[]" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control date-picker" data-format="MM/dd/yyyy" data-number="0" name="departedDate[]" placeholder="Pick Date" style="width: 100%;">
                                        </td>
                                        <td>
                                            <input class="form-control form-time" type="time" name="departedTime[]">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control date-picker" data-format="MM/dd/yyyy" data-number="0" name="etaDate[]" placeholder="Pick Date" style="width: 100%;">
                                        </td>
                                        <td>
                                            <input class="form-control form-time" type="time" name="etaTime[]">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" name="days[]" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td>
                                            <textarea class="form-control" id="type3" rows="2" name="comment[]" style="overflow-y: auto; resize: none;"></textarea>
                                        </td>
                                        <td></td>
                                    </tr>*@
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingTransport">Add Row</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-info waves-effect waves-themed mr-2 btnClassInput" id="btn-save-transport">
                                <span class="fal fa-save mr-1"></span> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script id="rowTransport-template" type="text/x-handlebars-template">
    <tr class="rowOperation">
        <td>
            <input class="form-control" type="hidden" name="transportId[]">
            <input type="text" class="form-control" name="name[]" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td>
            <input type="text" class="form-control" name="type[]" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker-shipping" data-format="MM/dd/yyyy" data-number="0" name="departedDate[]" placeholder="Pick Date" style="width: 100%;">
        </td>
        <td>
            <input class="form-control form-time form-time-shipping" type="time" name="departedTime[]">
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker-shipping" data-format="MM/dd/yyyy" data-number="0" name="etaDate[]" placeholder="Pick Date" style="width: 100%;">
        </td>
        <td>
            <input class="form-control form-time form-time-shipping" type="time" name="etaTime[]">
        </td>
        <td>
            <label style="margin-left: 15px; margin-top: 20px;" class="day"></label>
        </td>
        <td>
            <textarea class="form-control" id="" rows="2" name="comment[]" style="overflow-y: auto; resize: none;"></textarea>
        </td>
        <td class="action text-center" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</script>
<script id="readTransport-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td>
            <input class="form-control" type="hidden" name="transportId[]" value="{{id}}">
            <input type="text" class="form-control" name="name[]" value="{{name}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td>
            <input type="text" class="form-control" name="type[]" value="{{type}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker date-picker-shipping" data-format="MM/dd/yyyy" data-number="0" name="departedDate[]" value="{{datePickerFormat departed_date}}" placeholder="Pick Date" style="width: 100%;">
        </td>
        <td>
            <input class="form-control form-time form-time-shipping" type="time" name="departedTime[]" value="{{timeFormat departed_date}}">
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker date-picker-shipping" data-format="MM/dd/yyyy" data-number="0" name="etaDate[]" value="{{datePickerFormat eta_date}}" placeholder="Pick Date" style="width: 100%;">
        </td>
        <td>
            <input class="form-control form-time form-time-shipping" type="time" name="etaTime[]" value="{{timeFormat eta_date}}">
        </td>
        <td>
            <label style="margin-left: 15px; margin-top: 20px;" class="day"> {{ diffDays departed_date eta_date}} </label>
        </td>
        <td>
            <textarea class="form-control" id="" rows="2" name="comment[]" style="overflow-y: auto; resize: none;">{{comment}}</textarea>
        </td>
        <td class="action text-center" style="vertical-align: middle;">
            <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0" style="background-color: red; border-color: maroon;">
                <i class="fal fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    {{/each}}
</script>