﻿<form id="form-totalVolume" class="needs-validation" novalidate>
</form>

<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingTotalVolume">Add Row</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-volume" style="width: 150px;">
                <span class="fal fa-save"></span> Save
            </button>
        </div>
    </div>
</div>


<script id="readVolume-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="volumeIndex" id="volumeIndex-{{@@index}}" data-idx="{{@@index}}">
        <div class="row mb-2 lastVolume">
            <div class="col-md-12 text-right mb-1">
                <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-xs waves-effect waves-themed rounded-0 fw-500 btnClassInput" data-index="{{@@index}}" style="background-color: red; border-color: maroon;">
                    Remove
                </button>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Hole and Casing</label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control holeandcasinglookupByDrilling" name="drillingVolume[{{@@index}}].well_hole_casing_id" data-field="{{well_hole_casing_id}}" data-text="{{hole_name}}" placeholder="" required>
                            <option value="{{well_hole_casing_id}}" selected="selected">{{hole_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Total (<span class="uom-definition" data-objectname="Plan Volume" id="total{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].total_volume_start" value="{{total_volume_start}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Mud Cost ($)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].mud_cost" value="{{mud_cost}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Lost Surface (<span class="uom-definition" data-objectname="Plan Volume" id="lostsurrface{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].lost_surface" value="{{lost_surface}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Lost Downhole (<span class="uom-definition" data-objectname="Plan Volume" id="lostdownhole{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].lost_downhole" value="{{lost_downhole}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Dumped (<span class="uom-definition" data-objectname="Plan Volume" id="dumped{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].dumped" value="{{dumped}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Build (<span class="uom-definition" data-objectname="Plan Volume" id="build{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].build" value="{{build}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Ending (<span class="uom-definition" data-objectname="Plan Volume" id="ending{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].ending" value="{{ending}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Linear Size (<span class="uom-definition" data-objectname="Linear Size" id="Linear{{@@index}}">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" name="drillingVolume[{{@@index}}].linear" value="{{linear}}" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3 mb-3" style="border-bottom: 1px solid #E5E5E5;"></div>
    </div>
    {{/each}}
</script>

<script id="rowVolume-template" type="text/x-handlebars-template">
    <div class="volumeIndex" data-idx="{{idx}}">
        <div class="row mb-2 lastVolume">
            <div class="col-md-12 text-right mb-1">
                <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-xs waves-effect waves-themed rounded-0 fw-500 btnClassInput" data-index="{{@@index}}" style="background-color: red; border-color: maroon;">
                    Remove
                </button>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Hole and Casing</label>
                    <div class="col-sm-10">
                        <select type="text" class="form-control holeandcasinglookupByDrilling" name="drillingVolume[{{idx}}].well_hole_casing_id" id="volume_well_hole_casing_id-{{idx}}" data-field="well_hole_casing_id" data-text="hole_name" placeholder="" required></select>
                        <div class="invalid-feedback">Hole and Casing cannot be empty</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Total (<span class="uom-definition" id="bha_id_uom" data-objectname="Plan Volume">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].total_volume_start" data-text="total_volume_start" data-field="total_volume_start" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Mud Cost ($)</label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].mud_cost" data-text="mud_cost" data-field="mud_cost" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Lost Surface (<span class="uom-definition" id="lost_surface" data-objectname="Plan Volume">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].lost_surface" data-text="lost_surface" data-field="lost_surface" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Lost Downhole (<span class="uom-definition" id="lost_downhole" data-objectname="Plan Volume">-</span>)</label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].lost_downhole" data-text="lost_downhole" data-field="lost_downhole" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Dumped (<span class="uom-definition" id="dumped" data-objectname="Plan Volume">-</span>)
                    </label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].dumped" data-text="dumped" data-field="dumped" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Build (<span class="uom-definition" id="build" data-objectname="Plan Volume">-</span>)
                    </label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].build" data-text="build" data-field="build" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Ending (<span class="uom-definition" id="ending" data-objectname="Plan Volume">-</span>)
                    </label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].ending" data-text="ending" data-field="ending" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 control-label fw-700" for="">Linear Size (<span class="uom-definition" id="hole" data-objectname="Hole diameter">-</span>)
                    </label>
                    <div class="col-sm-10">
                        <input type="text" data-inputmask="'alias': 'currency'" class="form-control numeric-money" name="drillingVolume[{{idx}}].linear" data-text="linear" data-field="linear" placeholder="0" required>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3 mb-3" style="border-bottom: 1px solid #E5E5E5;"></div>
    </div>
</script>