﻿<form id="formDrillingWeather" class="needs-validation" novalidate>
    <input type="hidden" name="id" value="@ViewBag.recordId" />
    <div id="panel-1" class="panel">
        <div class="panel-hdr">
            <h2 class="fw-700">Weather Data</h2>
        </div>
        <div class="panel-container show">
            <div class="panel-content page-loading-content">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_general">General</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="weather_general" name="weather_general" data-text="weather_general" data-field="weather_general" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_barometer">Barometer</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_barometer" name="weather_barometer" data-text="weather_barometer" data-field="weather_barometer" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_barometer_uom" data-objectname="Barometer" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_pitch">Pitch, half amp</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_pitch" name="weather_pitch" data-text="weather_pitch" data-field="weather_pitch" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_pitch_uom" data-objectname="Rig Heading" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_wind_speed">Wind Speed</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_wind_speed" name="weather_wind_speed" data-text="weather_wind_speed" data-field="weather_wind_speed" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_wind_speed_uom" data-objectname="Wind Speed" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_wave">Wave</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_wave" name="weather_wave" data-text="weather_wave" data-field="weather_wave" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_wave_uom" data-objectname="Planned TD" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_roll">Roll, half amp</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_roll" name="weather_roll" data-text="weather_roll" data-field="weather_roll" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_roll_uom" data-objectname="Rig Heading" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_wind_direction">Wind Direction</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_wind_direction" name="weather_wind_direction" data-text="weather_wind_direction" data-field="weather_wind_direction" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_wind_direction_uom" data-objectname="Rig Heading" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_wave_period">Wave Period</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="" name="weather_wave_period" data-text="weather_wave_period" data-field="weather_wave_period" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition"  value="s" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_heave">Heave</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_heave" name="weather_heave" data-text="weather_heave" data-field="weather_heave" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_heave_uom" data-objectname="Planned TD" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_temperature">Temperature</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_temperature" name="weather_temperature" data-text="weather_temperature" data-field="weather_temperature" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_temperature_uom" data-objectname="temperature in" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_wave_direction">Wave Direction</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="" name="weather_wave_direction" data-text="weather_wave_direction" data-field="weather_wave_direction" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_wave_direction_uom" data-objectname="Rig Heading" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_visibility">Visibility</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_visibility" name="weather_visibility" data-text="weather_visibility" data-field="weather_visibility" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="Visibility_uom" data-objectname="Visibility" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_height">Height</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="" name="weather_height" data-text="weather_height" data-field="weather_height" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" id="weather_height_uom" data-objectname="Planned TD" value="-" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group row mb-1">
                            <label class="col-md-4 fw-700 control-label" for="weather_cloud">Cloud</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="weather_cloud" name="weather_cloud" data-text="weather_cloud" data-field="weather_cloud" required />
                                    <div class="input-group-append">
                                        <input type="text" class="form-control fw-400 pl-2 uom-definition" value="%" readonly="" style="background-color: #f3f3f3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label fw-700" for="weather_comments">Comments</label>
                            <textarea class="form-control" id="weather_comments" rows="6" name="weather_comments" data-field="weather_comments" style="overflow-y: auto; resize: none;" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right mt-2">
                        <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed btnClassInput" id="btn-save-weather">
                            <span class="fal fa-save mr-1"></span> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>