﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">IADC Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formIadc" class="needs-validation" novalidate style="margin-top: -30px !important;">
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="parent_id" data-field="parent_id" data-text="parent_code" name="parent_id" />

        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="iadc_code">Sub Code?</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isSub">
                        <label class="custom-control-label" for="isSub">Yes</label>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-1 mb-2" id="parent-group" style="display: none;">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="parent_id" style="padding-top: 7px;">Parent<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-iadc-parent-lookup" style="border:none; color: #4679cc!important;">Click to choose IADC Parent</a>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="iadc_code">IADC Code<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="iadc_code" data-field="iadc_code" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="description">Description<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="description" data-field="description" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="remark">Remark</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="remark" data-field="remark" class="form-control form-control-sm">
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="type">PT / NPT<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="type" data-field="type" data-text="type" name="type" required>
                        <option value="1">PT</option>
                        <option value="2">NPT</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="category">Category<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="category" data-field="category" data-text="category" name="category" required>
                        <option value="Drilling">Drilling</option>
                        <option value="Completion">Completion</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="phase">Phase</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="number" name="phase" data-field="phase" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="task">Task</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="task" data-field="task" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="activity">Activity</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="activity" data-field="activity" class="form-control form-control-sm">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/iadc.detail.js?_@DateTime.Now"></script>