﻿@{
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
    var groupnya = @userSession.Roles[0].id;
}

<div class="dropdown-header bg-trans-gradient d-flex flex-row rounded-top" style="width:25.5rem; padding:0.5rem 1.5rem;margin:20px 0px 0px -8px;">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="~/Content/img/callsupport.png" class="rounded-circle profile-image">
        </span>
        <div class="info-card-text">

            <div class="fs-lg text-truncate text-truncate-lg"> Contact Support</div>
            <span class="text-truncate text-truncate-md opacity-80"> User Guidence</span>
        </div>
    </div>
</div>

<div class="dropdown-divider m-10"></div>

@{
    switch (groupnya)
    {
        case "f7b920ae-7f51-412d-bf71-6883adcf2c2f":
            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Company Man.pdf" class="dropdown-item" style="margin-top:30px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Company Man</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/26.10.2023 - TKPA - Pertamina DreamWell Drilling Database - Role Drilling Engineer.pdf" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Drilling Engineer</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Manager Zona.pdf" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager Zona</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>

            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/2023.11.02 - TKPA - Pertamina DreamWell Drilling Database - Role Manager DWI.pdf" class="dropdown-item" style="margin-bottom:20px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager DWI</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>
            break;

        case "b38819cb-bdba-4f0c-955a-abe14a0acfd5": //Company Man
            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Company Man.pdf" class="dropdown-item" style="margin-top:30px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Company Man</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Drilling Engineer</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager Zona</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>

            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item" style="margin-bottom:20px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager DWI</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>
            break;

        case "c1b709be-ec28-46dc-9be0-90481b50411a": //Drilling Engineer
            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Company Man.pdf" class="dropdown-item" style="margin-top:30px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Company Man</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/26.10.2023 - TKPA - Pertamina DreamWell Drilling Database - Role Drilling Engineer.pdf" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Drilling Engineer</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager Zona</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>

            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item" style="margin-bottom:20px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager DWI</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>
            break;

        case "26e70e2d-739d-43c9-bd60-42dc40e6dc15": //Manager Zona
            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Company Man.pdf" class="dropdown-item" style="margin-top:30px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Company Man</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/26.10.2023 - TKPA - Pertamina DreamWell Drilling Database - Role Drilling Engineer.pdf" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Drilling Engineer</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>


            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="~/helpguidance/2023.10.23 - TKPA - Pertamina DreamWell Drilling Database - Role Manager Zona.pdf" class="dropdown-item">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager Zona</span>
                <i class="float-right text-muted fw-n">download</i>
            </a>

            <div class="dropdown-divider m-10" style="margin:10px 0px;"></div>

            <a href="#" class="dropdown-item" style="margin-bottom:20px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">TKPA - Manager DWI</span>
                <i class="float-right text-muted fw-n"><del>download</del></i>
            </a>
            break;

    }

}



