﻿<div class="dropdown-header bg-trans-gradient d-flex flex-row py-4 rounded-top">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="~/Content/img/profile-photos/5.png" class="rounded-circle profile-image" alt="@ViewBag.AppFullname">
        </span>
        <div class="info-card-text">

            <div class="fs-lg text-truncate text-truncate-lg">@ViewBag.AppFullname</div>
            <span class="text-truncate text-truncate-md opacity-80">@ViewBag.AppEmail</span>
        </div>
    </div>
</div>
<div class="dropdown-divider m-0"></div>
<a href="#" class="dropdown-item" data-action="app-reset">
    <span data-i18n="drpdwn.reset_layout">Reset Layout</span>
</a>
<a href="#" class="dropdown-item" data-toggle="modal" data-target=".js-modal-settings">
    <span data-i18n="drpdwn.settings">Settings</span>
</a>
<div class="dropdown-divider m-0"></div>

<a href="#" class="dropdown-item" data-action="app-fullscreen">
    <span data-i18n="drpdwn.fullscreen">Fullscreen</span>
    <i class="float-right text-muted fw-n">F11</i>
</a>
<a href="#" class="dropdown-item" data-action="app-print">
    <span data-i18n="drpdwn.print">Print</span>
    <i class="float-right text-muted fw-n">Ctrl + P</i>
</a>

<div class="dropdown-divider m-0"></div>
<a class="dropdown-item pt-3 pb-3" asp-area="Identity" href="@Url.Content("ApplicationUser/UpdatePassword?id=")@ViewBag.AppUserId">
    <span data-i18n="drpdwn.page-logout">Change Password</span>
</a>

<a class="dropdown-item fw-500 pt-3 pb-3" asp-area="Identity" href="@Url.Content("/Identity/Account/Logout")">
    <span data-i18n="drpdwn.page-logout">Logout</span>
</a>

