﻿<meta charset="utf-8">
<title>
    Pertamina Dreamwell Application
</title>
<meta name="description" content="SmartAdmin WebApp - v4.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<!-- base css -->
<link rel="stylesheet" media="screen, print" href="~/Content/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/app.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/theme-demo.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/fa-brands.css">
<link rel="stylesheet" media="screen, print" href="~/Content/css/fa-solid.css">

<link rel="stylesheet" href="~/Content/css/datagrid/datatables/datatables.bundle.css" />
<link rel="stylesheet" media="screen, print" href="~/Content/css/datagrid/datatables/datatables.bundle.css">

<link href="~/Content/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
<link href="~/Content/plugins/toastr/toastr.css" rel="stylesheet" />

<!--Sweet Alert [ OPTIONAL ]-->
<link rel="stylesheet" media="screen, print" href="~/Content/css/notifications/sweetalert2/sweetalert2.bundle.css">

<!--JSTree [ OPTIONAL ]-->
<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet">


<!-- Place favicon.ico in the root directory -->
@Html.Partial("_FavIcon")
@*<title>@ViewBag.Title</title>*@

<link href="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet" />




