﻿@{
    if (Dreamwell.Infrastructure.Session.SessionManager.UserSession == null)
    {
        return;
    }

    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
    //if (userSession == null)
    //{
    //    Response.Redirect("~/Identity/Account/Login");
    //}
}
<!DOCTYPE html>

<html lang="en" class="root-text-sm">
<head>
    <meta name="x-token" content="@userSession.Token">

    @Html.Partial("_Head")


    <style>
        .dataTables_empty {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            font-size: 0.9rem;
            color: darkgray;
        }

        .no-radius {
            border-radius: 0px !important;
        }

        .dtrg-group.dtrg-start.dtrg-level-0 > td,
        .dtrg-group.dtrg-start.dtrg-level-1 > td {
            padding: 8px !important;
            padding-left: 1em !important;
            font-size: 12px !important;
        }
    </style>

    @RenderSection("Header", required: false)

</head>
<body class="mod-bg-1 desktop chrome webkit pace-done blur">

    <div class="modal in" id="loadingModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="p-3">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status" style="width: 5rem; height: 5rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h4>Please wait...</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_ScriptsLoadingSaving")
    <div class="page-wrapper">
        <div class="page-inner">
            @Html.Partial("_LeftPanel")
            <div class="page-content-wrapper">
                @Html.Partial("_PageHeader")
                <main id="js-page-content" role="main" class="page-content">
                    @*@Html.Partial("_PageBreadCrumb")*@
                    @RenderSection("PageBreadCrumb", required: false)
                    @RenderSection("PageHeading", required: false)
                    @RenderBody()
                </main>
                @Html.Partial("_PageContentOverlay")
                @Html.Partial("_PageFooter")
                @Html.Partial("_ShortCutModal")
            </div>
        </div>
    </div>
    @Html.Partial("_ShortCutMenu")

    @Html.Partial("_PageSettings")
    @Html.Partial("_ScriptBasePlugins")



    <script>
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jqxhr.setRequestHeader('Server-Type', 'Dreamwell.ASP.NET Web API');
            jqxhr.setRequestHeader('Authorization', 'Bearer @userSession.Token');
        });

        $.helper.setBasePath("@Url.Content("~")");
        $.helper.setApiBasePath("@Dreamwell.Infrastructure.Options.DreamwellSettings.ApiServerUrl");

    </script>

    @RenderSection("Scripts", required: false)


</body>
</html>
