﻿@using Dreamwell.Web.Models
<aside class="page-sidebar">
@Html.Partial("_Logo")
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        @Html.Partial("_NavFilter")
        @*@Html.Partial("_NavInfoCard")*@
        @Html.Partial("_PageNavigation", NavigationModel.Seed)
        @Html.Partial("_NavFilterMsg")
    </nav>
    <!-- END PRIMARY NAVIGATION -->
    <!-- NAV FOOTER -->
    @* @Html.Partial("_NavFooter")*@
        <!-- END NAV FOOTER -->
</aside>
