﻿<div class="page-logo">
    <a href="#" class="page-logo-link press-scale-down d-flex align-items-center" data-toggle="modal" data-target="#modal-shortcut">
        <img src="~/Content/img/logo.png" alt="PERTAMINA" aria-roledescription="logo">
        <span class="page-logo-text mr-1">P E R T A M I N A</span>
        <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
    </a>
</div>