﻿<div class="info-card">
    <img src="~/Content/img/demo/avatars/avatar-admin.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
    <div class="info-card-text">
        <a href="#" class="d-flex align-items-center text-white">
            <span class="text-truncate text-truncate-sm d-inline-block">
                Indra Jaya
            </span>
        </a>
        <span class="d-inline-block text-truncate text-truncate-sm">CEO Code Marvel</span>
    </div>
    <img src="~/Content/img/card-backgrounds/cover-5-lg.png" class="cover" alt="cover">
    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
        <i class="fal fa-angle-down"></i>
    </a>-*-
</div>