﻿<div class="dropdown-header bg-trans-gradient d-flex flex-row rounded-top" style="width:25.5rem; padding:0.5rem 1.5rem;margin:20px 0px 0px -8px;">
    <div class="d-flex flex-row align-items-center mt-1 mb-1 color-white">
        <span class="mr-2">
            <img src="~/Content/img/callsupport.png" class="rounded-circle profile-image">
        </span>
        <div class="info-card-text">
            <div class="fs-lg text-truncate text-truncate-lg">Notifikasi DDR Approval</div>
        </div>
    </div>
</div>

<div class="dropdown-divider m-0"></div>

<a href="@Url.Content("/core/Drilling/Approval")" class="dropdown-item" style="margin-top:30px;">
    <span data-i18n="drpdwn.reset_layout">
        <i>
            Anda Memiliki <label id="total_DDR_Approval"></label> DDR Approval baru
            <br>
            <label id="total_DDR_Approve">-</label> Wait to Aprrove dan <label id="total_DDR_Rejected">-</label>  Was Rejected
            <br>
            Buka Menu DDR Manager untuk melakukan Approval
        </i>
    </span>
</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var $label = {
            total_DDR_Approval: $('#total_DDR_Approval'),
            total_DDR_Approve: $('#total_DDR_Approve'),
            total_DDR_Rejected: $('#total_DDR_Rejected')
        };

        function countNotify() {
            getTotalApproval();
            getTotalReject();
        }

        function getTotalApproval() {
            $.get($.helper.resolveApi("~/core/Drilling/getTotalApproval"), function (response) {
                if (response.status.success) {
                    var totalData0 = response.data;
                    //console.log('kokos', totalData0)
                    $label.total_DDR_Approve.text(totalData0);
                    updateTotalNotify();
                } else {
                    // Handle failure jika diperlukan
                }
            }, 'json').fail(function (response) {
                // Handle failure jika diperlukan
            });
        }

        function getTotalReject() {
            $.get($.helper.resolveApi("~/core/Drilling/getTotalRejected"), function (response) {
                if (response.status.success) {
                    var totalData = response.data;
                    $label.total_DDR_Rejected.text(totalData);
                    updateTotalNotify();
                } else {
                    // Handle failure jika diperlukan
                }
            }, 'json').fail(function (response) {
                // Handle failure jika diperlukan
            });
        }

        function updateTotalNotify() {
            var totalNotify = parseInt($label.total_DDR_Approve.text()) + parseInt($label.total_DDR_Rejected.text());
            //console.log("kokokoksokoaksoakoskaoksoak")
            $label.total_DDR_Approval.text(totalNotify);
        }

        $(document).ready(function () {
            countNotify();
        });
    });
</script>

