﻿<style>
    .header-icon {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
    }

        .header-icon i {
            margin-right: 5px;
        }

    .badge {
        background-color: #b57d6a; /* Warna latar badge */
        color: #fff; /* Warna teks badge */
        padding: 3px 8px;
        border-radius: 12px;
        font-size: 12px;
        margin-left: 5px;
        display: inline-block;
    }

</style>

<header class="page-header" role="banner">
    <!-- we need this logo when user switches to nav-function-top -->
    @Html.Partial("_Logo")

    <!-- DOC: nav menu layout change shortcut -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </a>
        <ul>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- DOC: mobile button appears during mobile width -->
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>
    </div>

    @*<div class="search">
            <form class="app-forms hidden-xs-down" role="search" action="search-results.html" autocomplete="off">
                <input type="text" id="search-field" placeholder="Search for anything" class="form-control" tabindex="1">
                <a href="#" onclick="return false;" class="btn-danger btn-search-close js-waves-off d-none" data-action="toggle" data-class="mobile-search-on">
                    <i class="fal fa-times"></i>
                </a>
            </form>
        </div>*@

    <div class="ml-auto d-flex">

        @{
            var isHomeMenu = HttpContext.Current.Request.Url.AbsolutePath.Equals("/Core/Home");
            var homies = HttpContext.Current.Request.Url.AbsolutePath.Equals("/");
        }

        @if (isHomeMenu || homies)
        {
            <div style="cursor: pointer;">
                <a href="#" data-toggle="dropdown" class="header-icon d-flex align-items-center justify-content-center ml-2">
                    <i class="fal fa-info-circle"></i>
                    <span class="badge badge-icon" id="info-approve" style="max-width:none!important;margin-top:-5px!important">
                        <label id="total_DDR_Approval">0</label>
                    </span>
                    <div class="dropdown-menu dropdown-menu-animated dropdown-lg" style="width:25.5rem;">
                        @Html.Partial("_NotifyApproval")
                    </div>
                </a>
            </div>
        }


        <div style="cursor: pointer;">
            @*@<a href="#" data-toggle="dropdown" title="@ViewBag.Help" class="header-icon d-flex align-items-center justify-content-center ml-2">
                    <i class="fal fa-question-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                    @Html.Partial("_DropdownHelp")
                </div>*@
            <a href="#" data-toggle="dropdown" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <i class="fal fa-question-circle"></i>
                <span class="badge badge-icon" style="max-width:none!important;margin-top:-5px!important">Help</span>
                <div class="dropdown-menu dropdown-menu-animated dropdown-lg" style="width:25.5rem;">
                    @Html.Partial("_DropdownHelps")
                </div>
            </a>
        </div>

        <div style="cursor: pointer;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div>
            <a href="@Url.Content("/UTC/APH/Dashboard")" class="header-icon" style="cursor: pointer; padding:5px">
                <i class="fal fa-cube"></i> Dashboard
                <span class="badge" style="max-width:none!important;margin-top:-5px!important">@ViewBag.BusinessUnitRoute</span>
            </a>
        </div>
        <!-- app user menu -->
        <div style="cursor: pointer;">
            @*<a href="@Url.Content("/Identity/Account/Logout")"><i class="fas fa-door-open"></i> Logout</a>
                <a href="@Url.Content("/Identity/Account/ChangePassword")" class="d-none"><i class="fas fa-door-open"></i> Change Password</a>*@
            <a href="#" data-toggle="dropdown" title="@ViewBag.AppEmail" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <img src="~/Content/img/profile-photos/5.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">@ViewBag.AppFullname</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                @Html.Partial("_DropdownMenu")
            </div>
        </div>
    </div>
</header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var $label = {
            total_DDR_Approval: $('#total_DDR_Approval'),
            total_DDR_Approve: $('#total_DDR_Approve'),
            total_DDR_Rejected: $('#total_DDR_Rejected')
        };

        function countNotify() {
            getTotalApproval();
            getTotalReject();
        }

        function getTotalApproval() {
            $.get($.helper.resolveApi("~/core/Drilling/getTotalApproval"), function (response) {
                if (response.status.success) {
                    var totalData0 = response.data;
                    //console.log('kokos', totalData0)
                    $label.total_DDR_Approve.text(totalData0);
                    updateTotalNotify();
                } else {
                    // Handle failure jika diperlukan
                }
            }, 'json').fail(function (response) {
                // Handle failure jika diperlukan
            });
        }

        function getTotalReject() {
            $.get($.helper.resolveApi("~/core/Drilling/getTotalRejected"), function (response) {
                if (response.status.success) {
                    var totalData = response.data;
                    $label.total_DDR_Rejected.text(totalData);
                    updateTotalNotify();
                } else {
                    // Handle failure jika diperlukan
                }
            }, 'json').fail(function (response) {
                // Handle failure jika diperlukan
            });
        }

        function updateTotalNotify() {
            var totalNotify = parseInt($label.total_DDR_Approve.text()) + parseInt($label.total_DDR_Rejected.text());
            //console.log("kokokoksokoaksoakoskaoksoak")
            $label.total_DDR_Approval.text(totalNotify);
        }

        $(document).ready(function () {
            countNotify();
        });
    });
</script>
