﻿<footer class="page-footer" role="contentinfo">
    <div class="d-flex align-items-center flex-1 text-muted">
        <span class="hidden-md-down fw-700">
            2019 © Dreamwell by&nbsp;<a href="https://www.pertamina.com" class="text-primary fw-500" title="pertamina" target="_blank">pertamina</a>
        </span>
    </div>
    <div>
        <ul class="list-table m-0">
            <li><a href="#" class="text-secondary fw-700">About</a></li>
            <li class="pl-3"><a href="#" class="text-secondary fw-700">License</a></li>
            <li class="pl-3"><a href="#" class="text-secondary fw-700">Documentation</a></li>
            <li class="pl-3 fs-xl"><a href="#" class="text-secondary"><i class="fal fa-question-circle" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>
