﻿<!-- base vendor bundle:
DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
+ pace.js (recommended)
+ jquery.js (core)
+ jquery-ui-cust.js (core)
+ popper.js (core)
+ bootstrap.js (core)
+ slimscroll.js (extension)
+ app.navigation.js (core)
+ ba-throttle-debounce.js (core)
+ waves.js (extension)
+ smartpanels.js (extension)
+ src/../jquery-snippets.js (core) -->
<!--EasyUI [ OPTIONAL ]-->

<script src="~/Content/js/vendors.bundle.js"></script>
<script src="~/Content/js/app.bundle.js"></script>

<!--EasyUI [ OPTIONAL ]-->
@*<script src="~/Content/plugins/easyUI/jquery.easyui.min.js"></script>*@
<!-- Used for demo purpose only, please remove this for your own project  -->
@*<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>*@

<!--DataTables [ OPTIONAL ]-->
<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>

<script src="~/Content/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
<script src="~/Content/plugins/jqserialize/jquery.serializeToJSON.min.js"></script>
<script src="~/Content/plugins/handlebars/handlebars-4.1.1.js"></script>
<script src="~/Content/js/formplugins/select2/select2.bundle.js"></script>
<script src="~/Content/plugins/twbs/jquery.twbsPagination.js"></script>
<script src="~/Content/plugins/momentjs/moment.min.js"></script>
<script src="~/Content/plugins/jquery-loading/jquery.loading.js"></script>

<script src="~/Content/plugins/toastr/toastr.js"></script>
<script src="~/Content/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>


<!--JSTree [ OPTIONAL ]-->
<script src="~/Content/plugins/jstree/jstree.min.js"></script>

<script src="~/Content/scripts/codemarvel.helper.plugins.js?@DateTime.Now"></script>
<script src="~/Content/scripts/marvel.core.js?@DateTime.Now"></script>
<script src="~/Content/plugins/Inputmask-5.x/js/jquery.inputmask.js"></script>
<script src="~/Content/plugins/autonumeric/autoNumeric.js"></script>

<script>
    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 100,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
    });

</script>
