﻿
@{
    ViewBag.Title = "Kendo Test";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Kendo Test";
    //ViewData["PageName"] = "/Core/DrillingContractor";

}



@section  Header{
    <link href="~/Content/plugins/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/KendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/KendoUI/styles/kendo.default.mobile.min.css" rel="stylesheet" />
}


    <form id="frm_test">
        <input name="username" value="" />
        <input name="table[0].column_1" value="" />
        <input name="table[0].column_2" value="" />
        <input name="table[1].column_1" value="" />
        <input name="table[1].column_2" value="" />
    </form>

    <div id="example">
        <button id="btn_serialize">Serialize</button>

        <button id="btn_json">Save To Json</button>
        <button id="btn_get_cell">Get Cell</button>

        <div id="spreadsheet" style="width: 100%;"></div>

    </div>


@section Scripts{
    @*<script src="~/Content/plugins/KendoUI/js/kendo.core.min.js"></script>*@
    <script src="~/Content/plugins/KendoUI/js/jszip.min.js"></script>
    <script src="~/Content/plugins/KendoUI/js/kendo.all.min.js"></script>
    <script>
        (function ($) {
            'use strict';
            var pageFunction = function () {

                $('#btn_serialize').click(function () {
                    var data = $('#frm_test').serializeToJSON({ associativeArrays: false });
                    console.log(data);
                });

                function onSelect(arg) {
                    console.log(arg.range);
                    console.log("New range selected. New value: " + arg.range.value());
                }


                $("#spreadsheet").kendoSpreadsheet({
                    //select: onSelect,
                    sheetsbar: false,
                    excel: {
                        // Required to enable saving files in older browsers
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    },
                    pdf: {
                        proxyURL: "https://demos.telerik.com/kendo-ui/service/export"
                    },
                    sheets: [{
                        columns: [{
                            width: 300
                        }],
                        rows: [{
                            cells: [{
                                value: "This cell has a comment.",
                                bold: true,
                                comment: "Comment set on the cell with the Spreadsheet initialization."
                            }]
                        }, {
                            cells: [{
                                value: "This cell will get a comment on button click.",
                                bold: true
                            }]
                        }]
                    }]
                });

                var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet"),
                    cellContextMenu = spreadsheet.cellContextMenu();

                cellContextMenu.append([{ text: "Set Parameter", cssClass: "set_parameter" }]);


                cellContextMenu.bind("select", function (e) {
                    var command = $(e.item).text();
                    if (command == "Set Parameter") {
                        var sheet = spreadsheet.activeSheet(),
                            selection = sheet.selection();
                        console.log(selection);
                        selection.background("green");
                    }
                });

                $('#btn_json').click(function () {

                    console.log(spreadsheet.toJSON());
                });

                $('#btn_get_cell').click(function () {
                    var range = spreadsheet.activeSheet();
                    console.log(range.sheetIndex);

                });

                return {
                    init: function () {

                    }
                }
            }();

            $(document).ready(function () {
                pageFunction.init();
            });
        }(jQuery));
    </script>
}
