﻿<div class="modal-header">
    <h5 class="modal-title h4">Object Unit of Measurement Mapper</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    <form id="form-objectUom" class="needs-validation " novalidate>

        <input hidden id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="form-group">
            <label class="form-label" for="name">Object / Field Name<span class="text-danger"> *</span></label>
            <input type="text" name="object_name" data-field="object_name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label class="form-label" for="name">Category<span class="text-danger"> *</span></label>
            <select type="text" class="form-control form-control-sm" name="uom_category_id" id="uom_category_id" 
                    data-field="uom_category_id" data-text="uom_category_name" placeholder="" required></select>
        </div>
        <div class="form-group">
            <label class="form-label" for="name">Unit of Measurement<span class="text-danger"> *</span></label>
            <select type="text" class="form-control form-control-sm" name="uom_id" id="uom_id"
                    data-field="uom_id" data-text="uom_description" placeholder="" required></select>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" id="btn-save">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>

<script src="~/Areas/Core/Scripts/objectUomMap.detail.js?@DateTime.Now"></script>