﻿
@{
    ViewBag.Title = "Currency";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/currency";

}

<!--DataTables [ OPTIONAL ]-->
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<div class="modal" id="currencyModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-Currency">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">Currency Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form id="form-Currency" class="needs-validation" novalidate>
                    <input type="hidden" id="recordId" name="id" data-field="id" />
                    <div class="panel-body" style="padding-bottom: 0px;">
                        <div class="form-group row mb-3">
                            <label class="col-lg-3 control-label" for="currency_code">Currency Code<span class="text-danger"> *</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="currency_code" data-field="currency_code" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label class="col-lg-3 control-label" for="currency_symbol">Symbol<span class="text-danger"> *</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="currency_symbol" data-field="currency_symbol" class="form-control" required>
                            </div>
                        </div>
                        @*<div class="form-group row mb-3">
                            <label class="col-lg-3 control-label" for="rate_value">Rate Value<span class="text-danger"> *</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="rate_value" data-field="rate_value" class="form-control" required>
                            </div>
                        </div>*@
                        <div class="form-group row mb-3">
                            <label class="col-lg-3 control-label" for="currency_description">Description<span class="text-danger"> *</span></label>
                            <div class="col-lg-9">
                                <input type="text" name="currency_description" data-field="currency_description" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label"></label>
                            <div class="col-lg-9">
                                <input id="demo-remember-me-2" class="magic-checkbox" type="checkbox" name="base_rate">
                                <label for="demo-remember-me-2">Base Rate</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0 mt-0">
                <button id="btn-save" class="btn btn-primary">Save</button>
                @*<button id="btn-saveChanges" class="btn btn-primary">Save changes</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->

<div class="modal" id="currencyUpdateModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-updateCurrency">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle" aria-hidden="true"></i></button>
                <h4 class="modal-title">Update Currency Setup</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form id="form-updateCurrency">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-bold" style="margin-bottom: 0;">Corporate Base Currency</p>
                                <span class="text-bold text-success" style="font-size: 20pt;" id="base_rate_name">Indonesian Rupiah (IDR)</span>
                            </div>
                            <div class="col-md-12 mb-1" style="margin-top: 5px;">
                                <span class="text-bold">Current Currency</span>
                                <div id="listCurrency" style="margin-top: 5px;">
                                </div>
                            </div>
                            @*<div class="col-sm-12" style="">
                                <div class="form-group">
                                    <label class="form-label" for="simpleinput">Period</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control date-picker border-top-left-radius-0 border-bottom-left-radius-0" id="start_date" name="start_date" data-field="start_date" data-format="YYYY/MM/dd" data-plugin="datepicker" autocomplete="off">
                                        <div class="input-group-append input-group-prepend">
                                            <span class="input-group-text">to</span>
                                        </div>
                                        <input type="text" class="form-control date-picker border-top-right-radius-0 border-bottom-right-radius-0" id="end_date" name="end_date" data-field="end_date" data-format="YYYY/MM/DD" data-plugin="datepicker" autocomplete="off">
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer pt-0">
                <button id="btn-saveUpdateCurrency" class="btn btn-primary">Save changes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Page content-->
<!--===================================================-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-info btn-sm">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                    <button id="btn-updateCurrency" class="btn btn-primary btn-sm" style="margin-left: 5px;">Update Currency</button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listCurrency" class="table table-striped table-bordered w-100" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Currency Code</th>
                                <th>Description</th>
                                <th style="width: 1px;">Symbol</th>
                                <th class="text-left">Current Rate</th>
                                <th>Period Start</th>
                                <th>Period End</th>
                                <th>Base Rate</th>
                                <th style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<style>
    .pagination {
        background: white !important;
    }
</style>

<script id="currency-template" type="text/x-handlebars-template">
    {{#each data}}
    {{#unless base_rate}}
    <input type="hidden" class="currency_id" name="id[]" value="{{id}}" />
    <div class="input-group mb-1">
        <div class="input-group-append input-group-prepend">
            <span class="input-group-text fw-700" style="min-width: 100px;">1 USD</span>
        </div>
        <input type="text" class="form-control text-right" value="{{rate_value}}" id="rate-value-{{id}}" name="rate_value[]">
        <div class="input-group-append input-group-prepend text-center">
            <span class="input-group-text fw-700" style="min-width: 75px">{{currency_code}}</span>
        </div>
    </div>
    {{/unless}}
    {{/each}}
</script>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/currency.index.js?_@DateTime.Now"></script>
}
