﻿@{
    ViewBag.Title = "Service Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Core/RKAPWI";
}

<style>
    .filter-container {
        margin: 15px auto;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: white;
        border: 1px solid #dee2e6;
        border-radius: 5px;
    }

    .filter-item {
        margin-right: 20px;
    }
</style>

<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block">
                                <span class="js-get-date">Sunday, May 19, 2019</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="filter-container">
    <div class="filter-item">
        <label for="well_id">Well Name :</label>
        <select class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
    </div>
    <div class="filter-item">
        <label for="duration">Duration :</label>
        <div class="d-flex">
            <div class="mr-2">
                <input type="date" id="issues_date" class="form-control form-control-sm" style="width: auto;">
            </div>
            <div class="mr-2">
                <input type="date" id="duration-end" class="form-control form-control-sm" style="width: auto;">
            </div>
        </div>
    </div>
    <div class="filter-item">
        <label for="display">Display :</label>
        <select id="display" class="form-control form-control-sm">
            <option value="10">Display top 10</option>
            <option value="25">Display top 25</option>
            <option value="50">Display top 50</option>
            <option value="100">Display top 100</option>
            <option value="all">Display all</option>
        </select>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-sm btn-info waves-effect waves-themed btnClassDisplay mr-2" id="btn-displayWI">
            <span class="fal fa-file mr-1"></span> Display
        </button>
        <button class="btn btn-sm btn-info waves-effect waves-themed btnClassExport" id="btn-exportRKAPWI">
            <span class="fal fa-file-excel mr-1"></span> Export
        </button>
    </div>
</div>

@*<div id="dp"></div>*@

<div id="calendar" style="height: 800px; width: 100%;"></div>


@section scripts {
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script>

        var $well_id = "";
        $("#well_id").cmSelect2({
            url: $.helper.resolveApi('~/core/wellwi/lookup'),
            result: {
                id: 'id',
                text: 'well_name'
            },
            filters: function (params) {
                return [{
                    field: "well_name",
                    operator: "contains",
                    value: params.term || '',
                }];
            },
            options: {
                //dropdownParent: $form,
                placeholder: "Select a Well",
                allowClear: true,
            }
        });

        $("#well_id").on('select2:select', function (e) {
            var id = e.target.value;
            console.log(e);
            console.log(id);
            $well_id = id;
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Menangani perubahan pada tanggal mulai (start date) dan tanggal akhir (end date)
            $('#issues_date, #duration-end').on('change', function () {
                var startDate = $('#issues_date').val();
                var endDate = $('#duration-end').val();

                // Validasi: pastikan tanggal mulai tidak lebih besar dari tanggal akhir
                if (startDate && endDate) {
                    if (new Date(startDate) > new Date(endDate)) {
                        alert("Start date cannot be later than end date.");
                        $('#duration-end').val(''); // Reset tanggal akhir jika tidak valid
                    }
                }
            });

            // Menangani klik tombol Display
            $('.btn').on('click', function (e) {
                e.preventDefault(); // Mencegah refresh halaman

                // Ambil nilai dari filter Well Name, Duration, dan Display
                var wellId = $('#well_id').val();
                var durationStart = $('#issues_date').val();
                var durationEnd = $('#duration-end').val();
                var displayValue = $('#display').val();

                // Logika untuk mengolah data atau mengirimkan request sesuai dengan filter
                console.log("Selected Well ID: ", wellId);
                console.log("Duration Start: ", durationStart);
                console.log("Duration End: ", durationEnd);
                console.log("Display: ", displayValue);

                // Kirim data ini ke server menggunakan AJAX (contoh)
                $.ajax({
                    url: '/your-api-endpoint', // Ganti dengan URL endpoint yang sesuai
                    method: 'GET',
                    data: {
                        well_id: wellId,
                        issues_date: durationStart,
                        duration_end: durationEnd,
                        display: displayValue
                    },
                    success: function (response) {
                        console.log('Data fetched successfully', response);
                        // Proses response di sini, misalnya untuk memperbarui tampilan
                    },
                    error: function (error) {
                        console.log('Error fetching data', error);
                    }
                });
            });
        });
    </script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>*@
   
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.9/index.global.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var calendar;

            const loadData = async () => {
                try {
                    const apiUrl = $.helper.resolveApi("~/core/rkap/getWirData");

                    const response = await $.ajax({
                        type: "GET",
                        url: apiUrl,
                        contentType: "application/json",
                        dataType: "json",
                    });

                    console.log("API Response:", response);

                    if (response && response.status && response.status.success) {
                        const { data } = response;

                        const resources = data.map(res => ({
                            id: res.well_id,
                            well: res.well_name,
                            text: res.wir_no,
                            status: res.status,
                            main_job: res.main_job,
                            remarks: res.remarks,
                            gas: res.gas,
                            oil: res.oil,
                            job_day: res.job_day || 0
                        }));

                        const events = data.map(event => ({
                            id: event.id,
                            resourceId: event.well_id,
                            //title: event.wir_no,
                            start: new Date(event.issues_date),
                            end: new Date(event.issues_date),
                            //start: event.job_day,
                            //end: event.job_day,
                            //extendedProps: {
                            //    status: event.status,
                            //    job_day: event.job_day || 0
                            //}
                        }));

                        console.log("Mapped Resources:", resources);
                        console.log("Mapped Events:", events);

                        renderCalendar(resources, events);
                    } else {
                        console.error("Error loading data from API:", response.status ? response.status.message : "Unknown error");
                    }
                } catch (error) {
                    console.error("Error in loadData:", error);
                }
            };

            const renderCalendar = (resources, events) => {
                const calendarEl = document.getElementById('calendar');

                if (calendar) {
                    calendar.destroy();
                }

                calendar = new FullCalendar.Calendar(calendarEl, {
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    aspectRatio: 1.5,
                    locale: "gb",
                    initialView: "resourceTimelineMonth",
                    nowIndicator: true,
                    displayEventTime: false,
                    views: {
                        resourceTimelineMonth: {
                            type: 'resourceTimeline',
                            duration: { months: 1 }, 
                            buttonText: '1 Month',
                            slotDuration: { days: 1 } 
                        }
                    },
                    slotLabelFormat: [
                        { day: "numeric"} // Display day and short month
                    ],
                    resourceAreaHeaderContent: "Rooms",
                    resourceAreaWidth: '70%',
                    resourceOrder: 'area,well',
                    resourceAreaColumns: [
                        {
                            group: true,
                            field: 'well',
                            headerContent: 'Well Name'
                        },
                        {
                            field: 'text',
                            headerContent: 'WSR No'
                        },
                        {
                            field: 'status',
                            headerContent: 'Status'
                        },
                        {
                            field: 'main_job',
                            headerContent: 'Main Job'
                        },
                        {
                            field: 'remarks',
                            headerContent: 'Remarks'
                        },
                        {
                            field: 'gas',
                            headerContent: 'Gas (MMScF)'
                        },
                        {
                            field: 'oil',
                            headerContent: 'Oil (bpd)'
                        },
                        {
                            field: 'job_day',
                            headerContent: 'Job Day'
                        },

                    ],
                    resources: resources,
                    events: events
                });

                calendar.render();
            };

            // Initial load
            loadData();
        });
    </script>





}
