﻿
@{
    ViewBag.Title = "Approval Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afe";

}

<style>
    .editable-empty {
        color: white !important;
    }

    .editable-click {
        cursor: pointer;
    }

    .text-danger {
        color: red !important;
    }

    .planBudgetShow:hover {
        cursor: pointer;
    }
</style>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/afe/Approval")">Approval</a></li>
                            <li class="breadcrumb-item active fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel" style="margin-bottom: 5px !important;">
            <div class="panel-container show">
                <div class="panel-content page-loading-content pt-2 pb-0">
                    <div class="text-right">
                        <button id="approve_afe" class="btn btn-sm btn-info no-radius waves-effect waves-themed">
                            <i class="fal fa-save">&nbsp;</i> Approved
                        </button>
                    </div>
                    <form id="formAfeDetail">
                        <div class="subheader mb-1">
                            <span class="subheader-title">
                                <p class="fw-300"></p>
                            </span>
                            <div class="subheader-block d-lg-flex align-items-center">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">Field</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-info-500" data-objecttype="label" data-field="field_name">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#886ab5" sparkheight="32px" sparkbarwidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                            <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">Well</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-primary-700" data-objecttype="label" data-field="well_name">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#fe6bb0" sparkheight="32px" sparkbarwidth="5px" values="1,4,3,6,5,3,9,6,5,9,7"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                            <div class="subheader-block d-lg-flex align-items-center border-faded border-right-0 border-top-0 border-bottom-0 ml-3 pl-3">
                                <div class="d-inline-flex flex-column justify-content-center mr-3">
                                    <span class="fw-300 fs-xs d-block opacity-50">
                                        <span class="fs-md">AFE Number</span>
                                    </span>
                                    <label class="fw-500 fs-xxl d-block color-success-700" data-objecttype="label" data-field="afe_no">-</label>
                                </div>
                                @*<span class="sparklines hidden-lg-down" sparktype="bar" sparkbarcolor="#886ab5" sparkheight="32px" sparkbarwidth="5px" values="3,4,3,6,7,3,3,6,2,6,4"><canvas width="85" height="32" style="display: inline-block; width: 85px; height: 32px; vertical-align: top;"></canvas></span>*@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="manageBudget-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>{{budget_description}}</td>
        <td class="text-right programBudget">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal original_budget}}
            </button>
            @*<a class="editable-program-budget" id="programBudget-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.recordId" data-id="{{id}}" data-title="Enter Amount">{{thousandSeparatorWithoutComma original_budget}}</a>*@
        </td>
        <td class="text-right revBudget1">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_1}}
            </button>
        </td>
        <td class="text-right revBudget2">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_2}}
            </button>
        </td>
        <td class="text-right contractBudget"><span class="text-success fw-700">{{printActualBudget actual_budget}}</span></a></td>
        <td class="text-right actualExpense"><span class="text-danger fw-700">{{printActualExpense actual_budget actual_expense}}</span></td>
    </tr>
    {{/each}}
</script>

<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    @*<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>*@
    <script src="~/Areas/Core/Scripts/afe.manageDetail.js?_@DateTime.Now"></script>

}
