﻿


<!--Modal header-->
<style>
    .text-danger {
        color: red !important;
    }

    .swal2-container {
        z-index: 3000;
    }

    .panel.combo-p.panel-htop {
        z-index: 9999 !important;
    }

    .textbox.easyui-fluid.combo {
        padding-left: 10px;
    }
</style>
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<div class="modal-header pb-0">
    <h5 class="modal-title">Form Create New AFE</h5>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr />
    <form id="formAfe" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;overflow-x: hidden;border: 1px solid white;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_no">AFE Number<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="afe_no" data-field="afe_no" class="form-control form-control-sm" required>
                </div>
            </div>
            
            @*<div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="business_unit_id">MATERIAL TEST<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input id="material_lookup" class="easyui-combotree" data-options="label:'Select Node:',labelPosition:'top'" style="width:100%;z-index:99" >
                    <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                </div>
            </div>*@

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="business_unit_id">APH<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input required id="business_unit_id" name="business_unit_id" data-field="business_unit_id" data-text="unit_name" class="form-control form-control-sm" style="width:100%;z-index:99" >
                    <div class="invalid-feedback fw-700 text-danger">APH cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="field_id">Field<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    @*<select type="text" class="form-control form-control-sm" name="field_id" id="field_id" data-field="field_id" data-text="field_name" placeholder="" required></select>*@
                    <input disabled required id="field_id" name="field_id" data-field="field_id" data-text="field_name" class="form-control form-control-sm" style="width:100%;z-index:99" >
                    <div class="invalid-feedback fw-700 text-danger">Field cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="well_id">Well<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select disabled type="text" class="form-control form-control-sm select2-default" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required="required"></select>
                    <div class="invalid-feedback fw-700 text-danger">Well cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="duration">Duration<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="duration" data-field="duration" class="form-control form-control-sm" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>


<script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
@*<script src="~/Content/plugins/easyUI/plugins/jquery.combotree.js"></script>*@
<script src="~/Areas/Core/Scripts/afe.detail.js?_@DateTime.Now"></script>
