﻿<link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
<style>
    .text-danger {
        color: red !important;
    }
</style>

<!--Modal header-->
<div class="modal-header pb-0">
    <h7 class="modal-title text-left fw-700">Manage Program Budget</h7>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mb-2" />
    <div class="panel-tag mb-2">Click original budget or revise budget 1 or revise budget 2 column to input budget.</div>
    <form id="afeManageBudget" class="needs-validation" novalidate>
        <input type="hidden" id="afeId" name="afeId" data-field="afeId" value="@ViewBag.afeId" />
        <input type="hidden" id="afeLineId" name="afeLineId" data-field="afeLineId" value="@ViewBag.afeLineId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <table class="table table-bordered table-hover m-0" id="listAfeManageBudget">
                <thead class="thead-themed">
                    <tr>
                        <th class="text-center" style="width: 1px;">No</th>
                        <th>Description</th>
                        <th>Original Budget</th>
                        <th>Revise Budget 1</th>
                        <th>Revise Budget 2</th>
                        <th>Contract Value</th>
                        @*<th>Actual Expense</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="7">There is no related item between AFE Line and Contract on this AFE.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script id="afeManageBudget-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>
            <div>{{budget_description}}</div>
            <span class="help-block">
                Contract Number: {{contract_no}}
            </span>
        </td>
        @*<td class="text-right originalBudget fw-700" style="padding-top: 1.25rem !important">
            <a class="editable-original-budget" id="originalBudget-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.afeId" data-id="{{id}}" data-contractdetailid="{{contract_detail_id}}" data-title="Enter Amount">

            </a>
        </td>
        <td class="text-right revBudget1 fw-700" style="padding-top: 1.25rem !important">
            <a class="editable-rev-budget-1" id="revBudget1-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.afeId" data-id="{{id}}" data-contractdetailid="{{contract_detail_id}}" data-title="Enter Amount">
                {{printRevBudget1 rev_budget_1}}
            </a>
        </td>
        <td class="text-right revBudget2" style="padding-top: 1.25rem !important">
            <a class="editable-rev-budget-2 fw-700" id="revBudget2-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.afeId" data-id="{{id}}" data-contractdetailid="{{contract_detail_id}}" data-title="Enter Amount">
                {{printRevBudget2 original_budget rev_budget_1 rev_budget_2}}
            </a>
        </td>*@



        <td class="text-right originalBudget fw-700" style="padding-top: 1.25rem !important">
            {{printOriginalBudget id afe_line_id contract_detail_id original_budget}}
        </td>
        <td class="text-right revBudget1 fw-700" style="padding-top: 1.25rem !important">
            {{printRevBudget1 id afe_line_id contract_detail_id original_budget rev_budget_1}}
        </td>
        <td class="text-right revBudget2 fw-700" style="padding-top: 1.25rem !important">
            {{printRevBudget2 id afe_line_id contract_detail_id rev_budget_1 rev_budget_2}}
        </td>
        <td class="text-right actualBudget" style="padding-top: 1.25rem !important">
            <a class="editable-contract-budget text-success fw-700" data-afelineid="{{afe_line_id}}" data-contractdetailid="{{contract_detail_id}}" data-afeid="@ViewBag.recordId" data-id="{{id}}" data-title="Enter Amount">
                {{printActualBudgetDetail actual_budget}}
            </a>
        </td>
        @*<td class="text-right actualExpense" style="padding-top: 1.25rem !important"><a>{{actual_expense}}</a></td>*@
    </tr>
    {{/each}}
</script>
<script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
<script src="~/Areas/Core/Scripts/afe.manageBudget.js?_@DateTime.Now"></script>