﻿
<div class="modal-header pb-0">
    @*<button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>*@
    <h4 class="modal-title">Budget Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body" style="overflow-x: hidden;">
    <form id="formBudgetPlan" class="needs-validation" novalidate>
        <input type="hidden" id="afe_plan_id" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="afe_id" name="afe_id" data-field="afe_id" value="@ViewBag.afeId" />
        @*<input type="hidden" id="material_id" name="material_id" data-field="material_id" value="" />*@
        <div class="panel-body" style="padding-bottom: 0px; overflow-x: hidden; border: none;">
            <div class="alert alert-danger alert-dismissible fade show mb-2 border-bottom-left-radius-0 border-bottom-right-radius-0 border-top-right-radius-0 border-top-left-radius-0" id="form-message" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
                <span class="message">
                    <strong>Well Done!</strong> You successfully read this important alert message.
                </span>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_line_id" style="padding-top: 7px;">AFE Line<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" disabled id="btn-afe-lookup" style="border:none; color: #4679cc!important;">Click to choose a AFE Line</a>
                </div>
            </div>

            <div class="form-group row mb-2 d-none" id="section-material-type">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="material_id">Material Type<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="item_type" style="width: 100%;">
                        <option value="1">DRY HOLE BASED</option>
                        <option value="2">COMPLETION BASED</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2 d-none" id="section-material">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="material_id">Material & Services<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control form-control-sm" name="material_id" id="material_id" data-field="material_id" data-text="material_name" placeholder="" required></select>
                    <div class="invalid-feedback fw-700">Material cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="currency_id">Currency<span class="text-danger"> *</span></label>
                <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="currency_id" id="currency_id" data-field="currency_id" data-text="currency_code" placeholder="" required></select>
                    <div class="invalid-feedback fw-700">Currency cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2" id="exchangeRateGroup">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="current_rate_value">Rate Value<span class="text-danger"> *</span></label>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">1 USD</span>
                        </div>
                        @*<input type="text" name="current_rate_value" data-field="current_rate_value" data-text="current_rate_value" id="current_rate_value" value="" class="form-control text-right fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required style="background-color: white;">*@
                        <input type="text" name="current_rate_value" data-field="current_rate_value" data-text="current_rate_value" id="current_rate_value" value="" class="form-control text-right fw-700 numeric" im-insert="true" required style="background-color: white;">
                        <div class="input-group-append">
                            <span class="input-group-text input_currency_code_label">IDR</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="unit">Quantity<span class="text-danger"> *</span></label>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @*<input type="text" name="unit" data-field="unit" data-text="unit" id="unit" class="form-control form-control-sm fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required>*@
                    <input type="text" name="unit" data-field="unit" data-text="unit" id="unit" class="form-control form-control-sm fw-700 numeric" im-insert="true" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="unit_price">Unit Price (<span class="currency_code_label">-</span>)<span class="text-danger"> *</span></label>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    @*<input type="text" name="unit_price" data-field="unit_price" data-text="unit_price" id="unit_price" class="form-control form-control-sm fw-700 text-right numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required>*@
                    <input type="text" name="unit_price" data-field="unit_price" data-text="unit_price" id="unit_price" class="form-control form-control-sm fw-700 text-right numeric" im-insert="true" required>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="p-3">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <h4>Please wait...</h4>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-saveBudgetPlan" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/afe.managePlan.js?_@DateTime.Now"></script>