﻿
@{
    ViewBag.Title = "Manage AFE";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afe";

}
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />
<style>
    .tree-icon {
        display: none;
    }

    .text-danger {
        color: red !important;
    }
    /*.tree-icon {
        display: none;
    }

    .editable-empty {
        color: white !important;
    }

    .editable-click {
        cursor: pointer;
    }

    .text-danger {
        color: red !important;
    }

    .planBudgetShow:hover {
        cursor: pointer;
    }*/

    /*.datagrid-btable, .datagrid-header-inner, .datagrid-htable {
            width: 100%;
        }*/

    td [field=afe_unit_price] > div,
    td [field=afe_actual_price] > div,
    td [field=new_purchase_total_price] > div,
    td [field=issued_stock_total_price] > div,
    td [field=actual_total_price] > div {
        text-align: right !important;
    }
</style>

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />


}




@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/afe")">AFE</a></li>
                            <li class="breadcrumb-item active fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {

}



<input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
<div class="modal" id="afeDetailModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="modal" id="afeManageBudgetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afeManageBudget">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="modal" id="afeManageMaterial" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-xl">
        <div class="modal-content no-radius">
        </div>
    </div>
</div>

<div class="modal" id="planBudgetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#formBudgetPlan">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-2" class="panel" style="margin-bottom: 5px !important;">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    @*<button id="submit_afe" class="btn btn-sm btn-warning waves-effect waves-themed">
                            <span class="fal fa-save mr-1"></span>
                            Submit
                        </button>*@
                    <button id="btn-afe_close" type="button" class="btn btn-warning waves-effect waves-themed fw-700 d-none">AFE Close</button>
                </div>
            </div>
            <div class="panel-container">
                <div class="panel-content">
                    <form id="header-afe">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">OPERATOR</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="unit_name" data-text="unit_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">CONTRACT AREA</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="country_name" data-text="country_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">CONTRACT AREA NO.</label></td>
                                                <td>
                                                    <div style="display: flex;">
                                                        <input type="text" readonly class="form-control-plaintext pt-0 pb-0 mr-1" value="-" data-field="unit_name" data-text="unit_name" />
                                                        <input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="field_name" data-text="field_name" />
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">PROJECT TYPE</label></td>
                                                <td><label class="pt-2" id="well_status" data-name="well_status" data-objecttype="label">-</label></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">WELL NAME</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="well_name" data-text="well_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">WELL TYPE</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="well_type" data-text="well_type" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">FIELD STRUCTURE</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="field_name" data-text="field_name" /></td>
                                            </tr>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">BASIN</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="" data-text="" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="table-responsive">
                                    <table class="table table-clean table-sm">
                                        <tbody>
                                            <tr>
                                                <td><label class="pt-0 pb-0 font-weight-bold">AFE NUMBER</label></td>
                                                <td><input type="text" readonly class="form-control-plaintext pt-0 pb-0" value="-" data-field="afe_no" data-text="afe_no" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-container show">
                <div class="panel-content pt-0">
                    <div class="row clearfix">
                        <div class="col-xl-12 p-0">
                            <div id="panel-1" class="">
                                <div class="panel-hdr">
                                    <h2>
                                        AFE <span class="fw-300"></span>
                                    </h2>
                                    <div class="panel-toolbar">
                                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                    </div>
                                </div>
                                <div class="panel-container clearfix">
                                    <div class="panel-content page-loading-content pt-0 pb-0">
                                        <div class="text-right pt-2 pb-2">
                                            <button id="addMaterial" data-href="@Url.Content("/Core/Afe/ManagePlan?id=&afeid=")@ViewBag.recordId" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed d-none"
                                                    data-toggle="modal-remote" data-target="#planBudgetModal">
                                                <span class="fal fa-plus mr-1"></span>
                                                Add Material
                                            </button>
                                        </div>
                                        <!-- panel fullscreen -->

                                        <table id="dt_afePlan" class="easyui-treegrid" style="width: auto !important; max-height: 800px;" showFooter="true">
                                            <thead data-options="frozen:true">
                                                <tr>
                                                    <th data-options="field:'description',width:400,formatter:tDescription" sortable="true"><span class="fw-700">Materials & Services</span></th>
                                                    <th data-options="field:'id',formatter:tAction" align="center" width="0"><span class="fw-700">Action</span></th>
                                                    <th data-options="field:'uom_code'" sortable="true" align="center" width="0"><span class="fw-700">UOM</span></th>
                                                </tr>

                                            </thead>

                                            <thead>
                                                <tr>
                                                    <th colspan="6"><span class="fw-700">Budget</span></th>
                                                    <th colspan="2" rowspan="2"><span class="fw-700">Actual</span></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2"><span class="fw-700">Planning</span></th>
                                                    <th colspan="2"><span class="fw-700">New Purchase</span></th>
                                                    <th colspan="2"><span class="fw-700">Issued From Stock</span></th>
                                                </tr>
                                                <tr>
                                                    <!--PLANNING-->
                                                    <th data-options="field:'afe_unit',formatter:tAfeUnit" width="50" align="center" sortable="true"><span class="fw-700">QTY</span></th>
                                                    @*<th data-options="field:'afe_unit_price',formatter:tAfeUnitPrice" width="90" class="field-money" align="center" sortable="true"><span class="fw-700">Unit Price</span></th>*@
                                                    <th data-options="field:'afe_actual_price',formatter:tAfeTotalPriceNormalized" width="100" align="center" sortable="true"><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <!--ISSUED FROM STOCK-->
                                                    @*<th width="100" align="right" sortable="true">QTY</th>
                                                    <th align="right" sortable="true">T.P</th>*@
                                                    <!--NEW PURCHASE-->
                                                    <th data-options="field:'new_purchase_total_unit',formatter:tNPTotalUnit" width="50" align="center" sortable="true"><span class="fw-700">QTY</span></th>
                                                    <th data-options="field:'new_purchase_total_price',formatter:tNPTotalPriceNormalized" width="90" align="center" sortable="true"><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <!--Issued From Stock-->
                                                    <th data-options="field:'issued_stock_total_unit',formatter:tISTotalUnit" width="50" align="center" sortable="true"><span class="fw-700">QTY</span></th>
                                                    <th data-options="field:'issued_stock_total_price',formatter:tISTotalPriceNormalized" width="90" align="center" sortable="true"><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                    <!--Actual-->
                                                    <th data-options="field:'actual_total_unit',formatter:tActualTotalUnit" width="50" align="center" sortable="true"><span class="fw-700">QTY</span></th>
                                                    <th data-options="field:'actual_total_price',formatter:tActualTotalPriceNormalized" width="90" align="center" sortable="true"><span class="fw-700">Total Price</span><br /><i style="font-size: 10px; color: red;" class="fw-700">USD Equivalent</i></th>
                                                </tr>

                                            </thead>
                                            <!-- Footer Section -->
                                            <tfoot>
                                                <tr>
                                                    <td colspan="6" class="fw-700 text-right">Total Tangible Cost</td>
                                                    <td colspan="2" id="totalTangibleCost" class="fw-700"></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <script>
                                            var IsMaterial = function (row) {
                                                if (row.icon_type == "material") {
                                                    return true;
                                                }
                                                return false;
                                            }

                                            var tDescription = function (value, row) {
                                                var output = `<span class="font-italic tree-title ` + row.icon_type + `" title='` + value + `'>` + value + `</span>`;
                                                return output;
                                            }

                                            var tAction = function (value, row) {
                                                if (IsMaterial(row)) {
                                                    var output = `<button  id="` + row.id + `" class="btn btn-danger modalTrigger btn-xs btn-icon waves-effect waves-themed deleteMaterial" style="right: 0;"><i class="fal fa-trash"></i></button>`;
                                                    return output;
                                                }
                                            }

                                            var tAfeUnit = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalAfeUnit = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.afe_unit) {
                                                            totalAfeUnit += parseFloat(child.afe_unit);
                                                        }
                                                    });

                                                    if (totalAfeUnit > 0) {
                                                        return '<span class="fw-700">' + totalAfeUnit + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    var output = `<button onShowModal='true' data-href="` + $.helper.resolve("/core/AFE/ManagePlan?id=") + row.id + `&afeId=` + $('#recordId').val() + `" class="modalTrigger btn btn-link fw-700 p-0 m-0" style="color: black"
                                                                                                                                                                                                                          data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#planBudgetModal">
                                                                                                                                                                                                                ` + value + `</button>`;
                                                    return output;
                                                }
                                                return value || ''; // Mengembalikan string kosong jika value adalah null atau undefined
                                            }

                                            //var tAfeUnit = function (value, row) {

                                            //    if (IsMaterial(row)) {
                                            //        var output = `<button onShowModal='true' data-href="` + $.helper.resolve("/core/AFE/ManagePlan?id=") + row.id + `&afeId=` + $('#recordId').val() + `" class="modalTrigger btn btn-link fw-700 p-0 m-0" style="color: black"
                                            //                                                                                                                                                                                            data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#planBudgetModal">
                                            //                                                                                                                                                                                     ` + value + `</button>`;
                                            //        return output;
                                            //    }
                                            //}

                                            var tAfeUnitPrice = function (value, row) {
                                                if (IsMaterial(row)) {
                                                    return `<span class="fw-700"` + row.icon_type + `" >` + row.afe_currency_code + " " + thousandSeparatorWithoutComma(value) + `</span>`;
                                                }
                                            }

                                            var tAfeTotalPriceNormalized = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalAfeUnitPrice = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.afe_actual_price) {
                                                            totalAfeUnitPrice += parseFloat(child.afe_actual_price);
                                                        }
                                                    });

                                                    if (totalAfeUnitPrice > 0) {
                                                        return '<span class="fw-700">' + thousandSeparatorWithoutComma(totalAfeUnitPrice.toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    if (value && parseFloat(value) > 0) {
                                                        return '<span class="fw-700">' + thousandSeparatorWithoutComma(parseFloat(value).toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika nilai adalah 0 atau tidak ada
                                                    }
                                                }
                                                return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            }


                                            //var tAfeTotalPriceNormalized = function (value, row) {
                                            //    if (IsMaterial(row)) {
                                            //        function getFlooredFixed(v, d) {
                                            //            return (Math.floor(v * Math.pow(10, d)) / Math.pow(10, d)).toFixed(d);
                                            //        }

                                            //        return `<span class="fw-700 ` + row.icon_type + `">` + thousandSeparatorWithoutComma(getFlooredFixed(value, 2)) + `</span>`;
                                            //    }
                                            //}

                                            var tNPTotalUnit = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalNPUnit = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.new_purchase_total_unit) {
                                                            totalNPUnit += parseFloat(child.new_purchase_total_unit);
                                                        }
                                                    });

                                                    if (totalNPUnit > 0) {
                                                        return '<span class="fw-700 text-success">' + totalNPUnit + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    var totalUnit = 0;
                                                    if (row.new_purchase_total_unit != undefined)
                                                        totalUnit = parseFloat(value);

                                                    if (totalUnit > 0) {
                                                        var output =
                                                                    `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Contract/ManageMaterial?id=") + row.material_id + `&afeId=` + $('#recordId').val() + `&isNewPurchase=true" class="modalTrigger btn btn-link fw-700 text-success  p-0 m-0 text-right"
                                                                                                                                                                                                                                      data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#afeManageMaterial">
                                                                                                                                                                                                                                     ` + totalUnit + `</button>`;
                                                        return output;
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                }
                                                return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            }

                                            //var tNPTotalUnit = function (value, row) {
                                            //    if (IsMaterial(row)) {
                                            //        var totalUnit = 0;
                                            //        if (row.new_purchase_total_unit != undefined)
                                            //            totalUnit = value;
                                            //        var output =
                                            //            `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Contract/ManageMaterial?id=") + row.material_id + `&afeId=` + $('#recordId').val() + `&isNewPurchase=true" class="modalTrigger btn btn-link fw-700 text-success  p-0 m-0 text-right"
                                            //                                                                                                                                                                              data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#afeManageMaterial">
                                            //                                                                                                                                                                             ` + totalUnit + `</button>`;
                                            //        return output;
                                            //    }
                                            //}

                                            var tNPTotalPriceNormalized = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalNewPurchasePrice = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.new_purchase_total_price) {
                                                            totalNewPurchasePrice += parseFloat(child.new_purchase_total_price);
                                                        }
                                                    });

                                                    if (totalNewPurchasePrice > 0) {
                                                        return '<span class="fw-700 text-success">' + thousandSeparatorWithoutComma(totalNewPurchasePrice.toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    if (value && parseFloat(value) > 0) {
                                                        return '<span class="fw-700 text-success">' + thousandSeparatorWithoutComma(parseFloat(value).toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika nilai adalah 0 atau tidak ada
                                                    }
                                                }
                                                return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            }

                                            //var tNPTotalPriceNormalized = function (value, row) {
                                            //    if (IsMaterial(row)) {
                                            //        var output = "";
                                            //        if (row.new_purchase_total_price != undefined) {
                                            //            console.log(row);
                                            //            output = "<span class='fw-700 text-success text-right'>" + thousandSeparatorWithoutComma(value.toFixed(2)) + "</span>";
                                            //        } else {
                                            //            output = "<span class='fw-700 text-success text-right'>0</span>";
                                            //        }
                                            //        return output;
                                            //    }
                                            //}

                                            //var tISTotalUnit = function (value, row) {
                                            //    if (row.children && row.children.length > 0) {
                                            //        var totalISUnit = 0;
                                            //        row.children.forEach(function (child) {
                                            //            if (child.issued_stock_total_unit) {
                                            //                totalISUnit += parseFloat(child.issued_stock_total_unit);
                                            //            }
                                            //        });

                                            //        if (totalISUnit > 0) {
                                            //            return '<span class="fw-700 text-warning">' + totalISUnit + '</span>';
                                            //        } else {
                                            //            return ''; // Mengembalikan string kosong jika total adalah 0
                                            //        }
                                            //    } else if (IsMaterial(row)) {
                                            //        var totalUnit = 0;
                                            //        if (row.issued_stock_total_unit != undefined)
                                            //            totalUnit = parseFloat(value);

                                            //        if (totalUnit > 0) {
                                            //            var output =
                                            //                `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Contract/ManageMaterial?id=") + row.material_id + `&afeId=` + $('#recordId').val() + `&isNewPurchase=false" class="modalTrigger btn btn-link fw-700 text-warning p-0 m-0 text-right"
                                            //                                                                                                                                                                                          data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#afeManageMaterial">
                                            //                                                                                                                                                                                         ` + totalUnit + `</button>`;
                                            //            return output;
                                            //        } else {
                                            //            return ''; // Mengembalikan string kosong jika total adalah 0
                                            //        }
                                            //    }
                                            //    return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            //}

                                            var tISTotalUnit = function (value, row) {
                                                if (IsMaterial(row)) {
                                                    var totalUnit = 0;
                                                    if (row.issued_stock_total_unit != undefined)
                                                        totalUnit = value;
                                                    var output =
                                                        `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Contract/ManageMaterial?id=") + row.material_id + `&afeId=` + $('#recordId').val() + `&isNewPurchase=false" class="modalTrigger btn btn-link fw-700 text-warning  p-0 m-0 text-right"
                                                                                                                                                                                                                          data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#afeManageMaterial">
                                                                                                                                                                                                                         ` + totalUnit + `</button>`;
                                                    return output;
                                                }
                                            }

                                            //var tISTotalPriceNormalized = function (value, row) {
                                            //    if (row.children && row.children.length > 0) {
                                            //        var totalISPrice = 0;
                                            //        row.children.forEach(function (child) {
                                            //            if (child.issued_stock_total_price) {
                                            //                totalISPrice += parseFloat(child.issued_stock_total_price);
                                            //            }
                                            //        });

                                            //        if (totalISPrice > 0) {
                                            //            return '<span class="fw-700 text-warning pr-0 text-right">' + thousandSeparatorWithoutComma(totalISPrice.toFixed(2)) + '</span>';
                                            //        } else {
                                            //            return ''; // Mengembalikan string kosong jika total adalah 0
                                            //        }
                                            //    } else if (IsMaterial(row)) {
                                            //        if (row.issued_stock_total_price != undefined && parseFloat(row.issued_stock_total_price) > 0) {
                                            //            return '<span class="fw-700 text-warning pr-0 text-right">' + thousandSeparatorWithoutComma(parseFloat(row.issued_stock_total_price).toFixed(2)) + '</span>';
                                            //        } else {
                                            //            return ''; // Mengembalikan string kosong jika nilai adalah 0 atau undefined
                                            //        }
                                            //    }
                                            //    return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            //}

                                            var tISTotalPriceNormalized = function (value, row) {
                                                if (IsMaterial(row)) {
                                                    var output = "";
                                                    if (row.issued_stock_total_price != undefined) {
                                                        output = "<span class='fw-700 text-warning pr-0 text-right'>" + thousandSeparatorWithoutComma(value.toFixed(2)) + "</span>";
                                                    } else {
                                                        output = "<span class='fw-700 text-warning pr-0 text-right'>0</span>";
                                                    }
                                                    return output;
                                                }
                                            }

                                            var tActualTotalUnit = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalActualUnit = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.actual_total_unit) {
                                                            totalActualUnit += parseFloat(child.actual_total_unit);
                                                        }
                                                    });

                                                    if (totalActualUnit > 0) {
                                                        return '<span class="fw-700 text-danger pr-0 text-right">' + thousandSeparatorWithoutComma(totalActualUnit) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    if (row.actual_total_unit != undefined && parseFloat(row.actual_total_unit) > 0) {
                                                        return '<span class="fw-700 text-danger pr-0 text-right">' + thousandSeparatorWithoutComma(parseFloat(row.actual_total_unit)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika nilai adalah 0 atau undefined
                                                    }
                                                }
                                                return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            }

                                            //var tActualTotalUnit = function (value, row) {
                                            //    //if (IsMaterial(row)) {
                                            //    //    var totalUnit = 0;
                                            //    //    if (row.actual_total_unit != undefined)
                                            //    //        totalUnit = value;
                                            //    //    var output =
                                            //    //        `<button onShowModal='true' data-href="` + $.helper.resolve("/core/Contract/ManageMaterial?id=") + row.material_id + `&afeId=` + $('#recordId').val() + `&isNewPurchase=false" class="modalTrigger btn btn-link fw-700 text-warning  p-0 m-0 text-right"
                                            //    //          data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#afeManageMaterial">
                                            //    //         ` + totalUnit + `</button>`;
                                            //    //    return output;
                                            //    //}

                                            //    if (IsMaterial(row)) {
                                            //        var output = "";
                                            //        if (row.actual_total_unit != undefined) {
                                            //            output = "<span class='fw-700 text-danger pr-0 text-right'>" + thousandSeparatorWithoutComma(value) + "</span>";
                                            //        } else {
                                            //            output = "<span class='fw-700 text-danger pr-0 text-right'>0</span>";
                                            //        }
                                            //        return output;
                                            //    }
                                            //}

                                            var tActualTotalPriceNormalized = function (value, row) {
                                                if (row.children && row.children.length > 0) {
                                                    var totalActualPrice = 0;
                                                    row.children.forEach(function (child) {
                                                        if (child.actual_total_price) {
                                                            totalActualPrice += parseFloat(child.actual_total_price);
                                                        }
                                                    });

                                                    if (totalActualPrice > 0) {
                                                        return '<span class="fw-700 text-danger pr-0 text-right">' + thousandSeparatorWithoutComma(totalActualPrice.toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika total adalah 0
                                                    }
                                                } else if (IsMaterial(row)) {
                                                    if (value && parseFloat(value) > 0) {
                                                        return '<span class="fw-700 text-danger pr-0 text-right">' + thousandSeparatorWithoutComma(parseFloat(value).toFixed(2)) + '</span>';
                                                    } else {
                                                        return ''; // Mengembalikan string kosong jika nilai adalah 0 atau tidak ada
                                                    }
                                                }
                                                return ''; // Mengembalikan string kosong untuk kasus lainnya
                                            }

                                            //var tActualTotalPriceNormalized = function (value, row) {
                                            //    if (IsMaterial(row)) {
                                            //        var output = "";
                                            //        if (row.actual_total_price != undefined) {
                                            //            output = "<span class='fw-700 text-danger pr-0 text-right'>" + thousandSeparatorWithoutComma(value.toFixed(2)) + "</span>";
                                            //        } else {
                                            //            output = "<span class='fw-700 text-danger pr-0 text-right'>0</span>";
                                            //        }
                                            //        return output;
                                            //    }
                                            //}

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="manageBudget-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>{{budget_description}}</td>
        <td class="text-right programBudget">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal original_budget}}
            </button>
            @*<a class="editable-program-budget" id="programBudget-{{id}}" data-afelineid="{{afe_line_id}}" data-afeid="@ViewBag.recordId" data-id="{{id}}" data-title="Enter Amount">{{thousandSeparatorWithoutComma original_budget}}</a>*@
        </td>
        <td class="text-right revBudget1">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_1}}
            </button>
        </td>
        <td class="text-right revBudget2">
            <button data-href="@Url.Content("/Core/afe/ManageBudget?id="){{id}}&afeid=@ViewBag.recordId&afelineid={{afe_line_id}}" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700" style="color: black;" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{printNominal rev_budget_2}}
            </button>
        </td>
        <td class="text-right contractBudget"><span class="text-success fw-700">{{printActualBudget actual_budget}}</span></a></td>
        <td class="text-right actualExpense"><span class="text-danger fw-700">{{printActualExpense actual_budget actual_expense}}</span></td>
    </tr>
    {{/each}}
</script>

@*<script id="afeContractDetail-template" type="text/x-handlebars-template">
        {{#each data}}
        <tr>
            <th class="text-center" scope="row">{{counter @@index}}</th>
            <td>{{afe_line_description}}</td>
            <td>{{description}}</td>
            <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma current_rate_value}}</td>
            <td class="text-center">{{thousandSeparatorWithoutComma unit}}</td>
            <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma unit_price}}</td>
            <td class="text-right">{{currency_code}} {{thousandSeparatorWithoutComma total_price}}</td>
            <td class="text-right fw-700">USD {{actual_price}}</td>
        </tr>
        {{/each}}
    </script>*@

<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--EasyUI [ OPTIONAL ]-->
    @*<script src="~/Content/plugins/easyUI/jquery.easyui.min.js"></script>*@
    <script src="~/Content/plugins/easyUI/easyloader.js"></script>
    <script src="~/Areas/Core/Scripts/afe.manageDetail.js?_@DateTime.Now"></script>

}