﻿<!--Modal header-->
<style>
    .border-info {
        border-width: 1.6px !important;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #2196F3 !important;
        border-color: #2196F3 !important;
    }

    .swal2-container {
        z-index: 3000;
    }
</style>


<div class="modal-header pb-0">
    <h7 class="modal-title fw-700">List of Contracts</h7>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr />
    <input type="hidden" id="recordId" name="id" data-field="id" value="" />
    <input type="hidden" id="afe_id" name="afe_id" data-field="afe_id" value="@ViewBag.afeId" />
    <div id="formContractDetail" class="needs-validation" novalidate>
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group mb-2">
                <label class="form-label" for="button-addon2">Contract Number</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="searchByNumber" placeholder="Find a contract" aria-label="Find a contract" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-default waves-effect waves-themed" type="button" id="btnSearchContract">&nbsp;&nbsp;&nbsp;Search&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
            <div class="row js-list-filter" id="list-contract">
                <div class="col-xl-12">
                    <div class="panel-tag">
                        Please search a contract by using search form with fill the contract number
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    @*<button id="btn-save" class="btn btn-info">Save</button>*@
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script id="contract-template" type="text/x-handlebars-template">
    <div class="col-md-12">
        <span class="help-block">Search Result:</span>
    </div>
    {{#each data}}
    <div class="col-xl-12">
        <div id="content{{id}}" class="card border shadow-0 shadow-sm-hover mb-1" data-filter-tags="oliver kopyov">
            <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top pb-2 pt-1 pr-1">
                <div class="d-flex flex-row align-items-center" style="">
                    <div class="info-card-text flex-1">
                        <a href="javascript:void(0);" class="fw-500 text-info pull-right" data-toggle="collapse" aria-expanded="false">
                            {{contract_no}}
                        </a>
                        <span class="text-truncate text-truncate-xl">{{vendor_name}}</span>
                        <div class="mt-0 fw-300">
                            <span>Total: {{thousandSeparatorWithoutComma total}}</span>
                        </div>
                        <div class="mt-0 fw-300">
                            <span>{{dateFormat start_date}} - {{dateFormat end_date}}</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-info waves-effect waves-themed mr-1 addContract" data-contractid="{{id}}">Add to AFE</button>
                    @*<button type="button" class="js-expand-btn btn btn-sm btn-default waves-effect waves-themed" data-toggle="collapse" data-target="#content{{id}} > .card-body + .card-body" aria-expanded="false">
                        <span class="collapsed-hidden contract_details" data-id="{{id}}">Details</span>
                        <span class="collapsed-reveal">Hide</span>
                    </button>*@
                </div>
            </div>
            <div class="card-body p-0 collapse">
                <div class="p-3">
                    <a href="tel:+13174562564" class="mt-1 d-block fs-sm fw-400 text-dark">
                        <i class="fas fa-mobile-alt text-muted mr-2"></i> +1 317-456-2564
                    </a>
                    <a href="mailto:oliver.kopyov@smartadminwebapp.com" class="mt-1 d-block fs-sm fw-400 text-dark">
                        <i class="fas fa-mouse-pointer text-muted mr-2"></i> oliver.kopyov@smartadminwebapp.com
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</script>

<script src="~/Areas/Core/Scripts/afe.showContract.js?_@DateTime.Now"></script>