﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">AFE Line Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formAfeLine" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="parentId" name="parent_id" data-field="parent_id" value="@ViewBag.parentId" />
        <input type="hidden" name="line" data-field="line"/>
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="name">Parent<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input name="parent_name" data-field="parent_name" class="form-control-plaintext" value="@ViewBag.parentName">
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="name">Line Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="description" data-field="line_name" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="fl_active">Active</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="is_active" id="is_active">
                        <label class="custom-control-label" for="is_active"></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-primary">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/afeLine.detail.js?_@DateTime.Now"></script>