﻿
@{
    ViewBag.Title = "AFE Line";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afeline";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="afeLineModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afeLine">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-md-12">

        <div id="panel-1" class="panel">
            @*<div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/Core/AfeLine/Detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#afeLineModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>*@
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag mb-0">
                        <b>AFE Line Setup</b>
                        <p>Drag & Drop to re-order line number</p>
                    </div>

                    <div class="col-lg-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-user-content"></ul>
                        </nav>
                    </div>
                    <div id="page-user-content">
                        <div id="afeLine-tree"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <script src="~/Areas/Core/Scripts/afeLine.index.js?_@DateTime.Now"></script>
}