﻿<div id="afeline-tree" style="margin-top: -40px;"></div>
<script>
    (function ($) {
        'use strict';
        var $jstreeLookup = $('#afeline-tree');
        var pageFunction = function () {
        
            var loadByAjax = function () {
                $jstreeLookup.jstree({
                    'core': {
                        'data': {
                            'url': function (node) {
                                return $.helper.resolveApi("~/core/afeline/tree");
                            },
                            'type': 'POST',
                            'data': function (node) {
                                return { 'id': node.id };
                            }
                        }
                    },
                }).on("dblclick.jstree", function (e) {
                    var instance = $.jstree.reference(this),
                        node = instance.get_node(e.target);
                    $(this).trigger("onSelected", { instance: instance, node: node });

                });
            }

            return {
                init: function () {
                    //load();
                    loadByAjax();
                }
            }
        }();

        $(document).ready(function () {
            pageFunction.init();
        });
    }(jQuery));
</script>
