﻿
@{
    ViewBag.Title = "IADC History";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/iadchistory";

}

@section PageBreadCrumb{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb page-breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
                <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
            </ol>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="iadcModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-iadc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel mt-0">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
              
                  
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listIadc_history" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>IADC Code</th>
                                <th>Description</th>
                                <th>Remark</th>
                                <th>PT/NPT</th>
                                <!--  <th>Category</th> -->
                                <th>Phase</th>
                                <th>Task</th>
                                <th>Activity</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/iadc.history.js?_@DateTime.Now"></script>
}