﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">BHA Component Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formBhaComponent" class="needs-validation" novalidate enctype="multipart/form-data">
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="component_name">Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="component_name" name="component_name" data-field="component_name" data-text="component_name" class="form-control form-control-sm" required>
                    <div class="invalid-feedback">Please provide a component name.</div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label" for="files">Choose file (if you want to change image)</label>
                <input type="file" id="files" class="form-control-file" accept="image/*">
                <input type="hidden" id="image_id" class="form-control-file" name="image_id">
            </div>
        </div>
    </form>

</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/bhaComponent.detail.js?_@DateTime.Now"></script>