﻿@{
    ViewData["PageName"] = "login";
}

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
}
<style>
    .text-link {
        color: blue;
    }
</style>
@section PageHeading {
    <div class="col col-md-6 col-lg-7 hidden-sm-down">
        <h2 class="fs-xxl fw-500 text-white">
            The Dreamwell UTC Application
            <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                Report & Dashboard System
            </small>
        </h2>
    </div>
}

<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
        Secure login
    </h1>
    <div class="card p-4 rounded-plus bg-faded">
        <form id="js-login" action="@Url.Content("~/Account/LoginUTC")" method="post">
            @Html.AntiForgeryToken()
            @*<div asp-validation-summary="All" class="alert alert-primary text-dark">
            @TempData["MyMsg"]
        </div>*@
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Username</label>
                <input type="text" asp-for="" class="form-control" placeholder="Type your username here" name="username" required="required" />
                <span class="invalid-feedback" asp-validation-for="">Sorry, you missed this one.</span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">Password</label>
                <input type="password" asp-for="Input.Password" class="form-control" name="password" placeholder="Type your password here" required="required" />
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
            </div>
            <div class="form-group text-left">
                <button id="btn-login" class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
            </div>
           
        </form>
    </div>
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
    <script>
        $("#js-logsin-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
