﻿@{
    /**/

    ViewData["PageName"] = "login";
}
@section Header {
    <link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
    <link href="~/Content/css/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" />
    <link href="~/Content/css/report.css" rel="stylesheet" />
    <link href="~/Content/css/page-login-custom.css" rel="stylesheet" />
    @*<link href="https://fonts.googleapis.com/css?family=Ethnocentric" rel="stylesheet" type="type/css">*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto" integrity="sha384-/OfdWpv58PudSV+H4MeJCZU8u3mvxoRxo9me7LnXQPFk4qn8Rx15+1iptptkwf0B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous">
}

<div class="login-page">
    <div class="login-form pattern-bg">
        <div class="navbrand">
            <img src="~/Content/img/newologo_transparent.png" alt="Alternate Text" />
        </div>
        <div class="login-desc mb-6">
            <img class="brand" src="~/Content/img/logo_baru.png" alt="Dreamwell logo" loading="lazy" />
            <div class="title">Log in</div>
            <p>Welcome to Dreamwell, please put your login credentials below to start using the app</p>
        </div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "js-login" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="form-label" asp-for="Input.Email">Username</label>
                <input type="text" asp-for="" class="form-control" placeholder="Type your username here" name="username" required="required" autocomplete="off" />
                <span class="invalid-feedback" asp-validation-for="">Sorry, you missed this one.</span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="Input.Password">Password</label>
                <div class="input-group">
                    <input type="password" asp-for="Input.Password" class="form-control" name="password" placeholder="Type your password here" required="required" autocomplete="new-password" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary toggle-password" type="button">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>
                <span class="invalid-feedback" asp-validation-for="Input.Password">Sorry, you missed this one.</span>
            </div>
            <div class="form-group">
                <label for="captchaImage">Captcha</label>
                <div>
                    <img id="captchaImage" src="@Url.Action("GenerateCaptcha", "Captcha")" alt="Captcha Image" />
                    <button type="button" id="refreshCaptcha" class="btn btn-link">Refresh</button>
                </div>
                <input type="text" id="CaptchaCode" name="CaptchaCode" class="form-control mt-3" placeholder="Enter Captcha Code" required />
            </div>


            <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS" crossorigin="anonymous"></script>
            <script>
                $(document).ready(function () {
                    $('.toggle-password').on('click', function () {
                        const passwordField = $(this).closest('.form-group').find('input[type="password"]');
                        const passwordFieldType = passwordField.attr('type');

                        if (passwordFieldType === 'password') {
                            passwordField.attr('type', 'text');
                            $(this).html('<i class="fas fa-eye-slash"></i>');
                        } else {
                            passwordField.attr('type', 'password');
                            $(this).html('<i class="fas fa-eye"></i>');
                        }
                    });
                });
            </script>
            <script>
                    $(document).ready(function () {
                        $('#refreshCaptcha').on('click', function () {
                            $('#captchaImage').attr('src', '@Url.Action("GenerateCaptcha", "Captcha")?' + new Date().getTime());
                        });
                    });
            </script>


            <div class="form-group text-left">
                <button id="btn-login" class="btn btn-primary btn-lg btn-block" type="submit">Sign In</button>
            </div>
            <br />
        }
    </div>
    <div class="banner-content pattern-chart">
        <div class="banner-picture">
            <img src="~/Content/img/banner.png" alt="banner" />
        </div>

        <div class="banner-desc">
            <div class="title">
                Dream Well
            </div>
            <p>
                Dreamwell is Pertamina integrated tool use for Database, Reporting,
                Evaluation, Analysis and Monitoring Well
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
    <script>
        var start_date = new Date("2017-11-28");
        var planned_td = 8661;
        var end_date = new Date("2018-02-19");
        var depth_min = 0;
        var depth_max = 12000; //planning

        var cost_min = 0;
        var cost_max = 8674222.00;

        var over_time = false; // true or false

        // init variable
        var diameter = 0;
        var phase_depth = 0;
        var depth = 0;
        var target_depth = 0;
        var cost = 0;
        var budget = 0;
        var depth_info = '';
        var cost_info = '';
        var bha = "";
        var type = "";
        var rig = "";
        var phase = '';
        var status = "No Issue";

        // WEATHER INFO
        var weather = 'sun';
        // sun, cloud-sun, cloud-drizzle-sun, cloud-drizzle, rainy, lightning
        var wind_speed = '';
        var barometer = '';
        var wind_direction = '';
        var wave = '';
        var comment = '';
        var temperature = '';
        var wave_period = '';
        var visibility = '';
        var wave_direction = '';
        var cloud = '';
        var height = '';
        var coba = '';

        var date_data = 0;
    </script>
    <script src="~/Content/js/repot.js"></script>
    <script src="~/Content/js/drillingData.js"></script>
    <script>

        var total_drilling_num = dataAllObj.length;
        var total_size_timeline = ($('.timeline-track').outerHeight()) / total_drilling_num;


        for (var i = 0; i < total_drilling_num; i++) {

            var date = new Date(dataAllObj[i].drilling_date);
            var dd = date.getDate().toString().length == 1 ? '0' + date.getDate() : date.getDate();
            var mm = (date.getMonth() + 1).toString().length == 1 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
            var yyyy = date.getFullYear();

            var current_report = yyyy + '-' + mm + '-' + dd;

            if (typeof report[current_report] !== 'undefined') {
                diameter = report[current_report].diameter;
                phase_depth = report[current_report].phase_depth;
                depth = report[current_report].depth;
                target_depth = report[current_report].target_depth;
                cost = report[current_report].cost;
                budget = report[current_report].budget;
                depth_info = report[current_report].depth_info;
                cost_info = report[current_report].cost_info;
                coba = report[current_report].coba;
                bha = report[current_report].bha;
                type = report[current_report].type;
                rig = report[current_report].rig;
                phase = report[current_report].phase;
                status = report[current_report].status;
                weather = report[current_report].weather;
                wind_speed = report[current_report].wind_speed;
                barometer = report[current_report].barometer;
                wind_direction = report[current_report].wind_direction;
                wave = report[current_report].wave;
                comment = report[current_report].comment;
                temperature = report[current_report].temperature;
                wave_period = report[current_report].wave_period;
                visibility = report[current_report].visibility;
                wave_direction = report[current_report].wave_direction;
                cloud = report[current_report].cloud;
                height = report[current_report].height;
            }


            var time_report = $('<span class="timeline-item" data-pos="' + (date_data) + '"></span>');
            //                console.log("COBA : ",coba);

            time_report.data({
                'date': current_report,
                'diameter': diameter,
                'phase_depth': phase_depth,
                'depth': depth,
                'target_depth': target_depth,
                'cost': cost,
                'budget': budget,
                'depth_pos': (depth / depth_max * 100),
                'target_pos': (target_depth / depth_max * 100),
                'cost_pos': (cost_max == 0 ? 0 : (cost / cost_max * 100)),
                'budget_pos': (cost_max == 0 ? 0 : (budget / cost_max * 100)),
                'depth_info': depth_info,
                'cost_info': cost_info,

                'bha': bha,
                'type': type,
                'rig': rig,
                'phase': phase,
                'status': status,

                'weather': weather,
                'wind_speed': wind_speed,
                'barometer': barometer,
                'wind_direction': wind_direction,
                'wave': wave,
                'comment': comment,
                'temperature': temperature,
                'wave_period': wave_period,
                'visibility': visibility,
                'wave_direction': wave_direction,
                'cloud': cloud,
                'height': height
            }).css({
                top: date_data * total_size_timeline
            });
            // console.log(time_report.data('cost'), "DONSI");
            time_report.appendTo('.timeline-track');

            date_data++;
        };

        date_data--;


        $('.dirt-wrapper').css('height', (((date_data) * total_size_timeline)) + 'px');
        $('.report-body .detail-body .detail-wrapper > div').css('background-size', '100% ' + ((date_data * total_size_timeline)) + 'px');
        var planned_td_format = (planned_td * 3.2808);


        if ($('.timeline-track .timeline-item').length) {
            var phase = $('<span class="left"><span class="text"></span><i class="arrow"></i></span>');
            var target = $('<span class="right line-track"></span>');
            var depth = $('<span><span class="text"></span><i class="arrow"></i></span>');
            var budget = $('<span class="left line-track hide-info"></span>');
            var cost = $('<span class="right"></span>');

            phase.appendTo('.drill-info');
            budget.appendTo('.cost-wrapper .detail-info');
            cost.appendTo('.cost-wrapper .detail-info');

            generateTimeline(0);
        }


        function generateTimeline(pos) {
            var report = $('.timeline-track .timeline-item[data-pos="' + pos + '"]');
            var text_phase = 'Ø ' + $.number(report.data('diameter')) + ' <i class="fa fa-arrow-right"></i> ' + $.number(report.data('phase_depth'));
            var text_phase_bitsize = $.number(report.data('diameter'));
            var text_depth = $.number(report.data('depth')) + ' ft ';
            var text_target = $.number(report.data('target_depth')) + ' ft ';
            // if (report.data('depth') < report.data('target_depth')) {
            // 	text_depth = text_depth+' <i class="fa fa-warning" style="color: #FF4900;"></i>';
            // }


            // Depth of Well
            if (report.data('depth_pos') <= 100) {
                $('.drill-wrapper .drill-bit').css('height', (pos * total_size_timeline + 1) + 'px');
                $('.drill-info > span.left').css({
                    'top': (pos * total_size_timeline) + 'px',
                    'background-color': '#afd285',
                    'color': '#252525'
                }).children('.text').html(text_phase_bitsize + '" @@ ' + text_depth);
                $('.drill-info > span.right').css('top', '100%').html(text_target);
                // $('.depth-info > span').css('top', ((pos+4) * 6) + 'px').children('.text').html(text_depth);
            } else {
                $('.drill-wrapper .drill-bit').css('height', '100%');
                $('.drill-info > span.left').css({
                    'top': '100%',
                    'background-color': '#afd285',
                    'color': '#252525'
                }).children('.text').html(text_depth);
                $('.drill-info > span.right').css('top', '100%').html(text_target);
                // $('.depth-info > span').css('top','100%').children('.text').html(text_depth);
            }


            // Budget Plan
            if (report.data('cost_pos') <= 100) {
                // $('.cost-wrapper .detail-body .detail-wrapper > div').css('height',report.data('cost_pos') + '%');
                $('.cost-wrapper .detail-body .detail-wrapper > div').css('height', (pos * total_size_timeline + 1) + 'px');
                $('.cost-wrapper .detail-info > span.right').css({ 'top': (pos * total_size_timeline) + 'px', 'margin-top': '-12px' }).html('$' + $.number(report.data('cost')));
            } else {
                $('.cost-wrapper .detail-body .detail-wrapper > div').css('height', '100%');
                $('.cost-wrapper .detail-info > span.right').css({ 'top': '100%', 'margin-top': '12px' }).html('$' + $.number(cost_max) + ' + $' + $.number(report.data('cost') - cost_max));
            }
            if (report.data('budget')) {
                $('.cost-wrapper .detail-info > span.left').removeClass('hide-info').css({ 'top': (pos * total_size_timeline) + 'px', 'margin-top': '-12px' }).html('$' + $.number(report.data('budget')));
            } else if (report.data('cost_info')) {
                $('.cost-wrapper .detail-info > span.left').removeClass('hide-info').css({ 'top': '100%', 'margin-top': '12px' }).html(report.data('cost_info'));
            } else {
                $('.cost-wrapper .detail-info > span.left').addClass('hide-info');
            }
            // Budget Plan

            //console.log(getFormatDate(report.data('date')));

            console.log(dataAllObj[pos].drilling_date);
            $("#timeline_drilling_date").html(dataAllObj[pos].drilling_date);
            //-- Buat Tanggal Scroll Bar
            //if (typeof report.data('date') !== 'undefined') {
            //    $('.report-body .timeline-date').removeClass('warning').html(getFormatDate(report.data('date')));
            //} else if (typeof report.data('text') !== 'undefined') {
            //    $('.report-body .timeline-date').addClass('warning').html(report.data('text'));
            //}

            //-- Label Diatas Gambar2
            $('.general-info.bha').children('strong').html(report.data('bha'));
            $('.general-info.type').children('strong').html(report.data('type'));
            $('.general-info.rig').children('strong').html(report.data('rig'));
            $('.general-info.phase').children('strong').html(report.data('phase'));
            $('.general-info.status').children('strong').html(report.data('status'));

        }

        $('.report-body .timeline-thumb').draggable({
            axis: "y",
            containment: ".report-body .timeline-track",
            start: function (event, ui) {
                //
            },
            drag: function (event, ui) {
                var top = ui.position.top;
                var pos = Math.round(top / total_size_timeline);

                console.log("Top: " + top);
                console.log("Total Size Timeline: " + total_size_timeline);
                console.log("Array Day Position: " + pos);
                console.log("Date data: " + date_data);


                if (pos > date_data) {
                    if (pos - date_data > 1) {
                        pos = date_data + 1;
                    } else {
                        pos = date_data;
                    }
                }

                generateTimeline(pos);

                $('.time-wrapper .detail-body .detail-wrapper > div').css('height', ui.position.top + 'px');
            },
            stop: function (event, ui) {
                var top = ui.position.top;
                var pos = Math.round(top / total_size_timeline);

                if (pos > date_data) {
                    if (pos - date_data > 1) {
                        pos = date_data;
                        // pos = date_data + 4;
                    } else {
                        pos = date_data;
                    }
                }

                $('.time-wrapper .detail-body .detail-wrapper > div').css('height', (pos * total_size_timeline + 1) + 'px');
                ui.helper.css('top', (pos * total_size_timeline + 1) + 'px');
            }
        });

        function getFormatDate(newTimestamp) {
            var d = new Date(newTimestamp);
            var numericMonth = d.getMonth();
            var monthArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var formatMonth = d.getDate() + ' ' + monthArray[numericMonth] + ' ' + d.getFullYear();
            return formatMonth;
        }
    </script>



    <script>
        $("#js-logsin-btn").click(function (event) {
            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login");

            if (form[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
    </script>
}
