﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">UOM Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">

    <form id="form-UOM" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />

        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="uom_code">Unit of Measurement</label>
            <input type="text" class="form-control" name="uom_code" id="uom_code" data-field="uom_code" placeholder="Unit of Measurement" required>
        </div>
        <div class="form-group input-group-sm mb-2">
            <label class="form-label" for="description">Description</label>
            <input type="text" class="form-control" name="description" data-field="description" placeholder="Description" required>
        </div>

    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/uom.detail.js?_@DateTime.Now"></script>