﻿@{
    Layout = "~/Areas/UTC/Views/Shared/_LayoutPDF.cshtml";
}
@section Header{
    <style>

        @@media print {
            .new-page {
                page-break-before: always;
            }

            @@page land {
                size: landscape;
            }

            .land {
                /*transform: rotate(270deg) translate(-276mm, 0);*/
                transform-origin: 0 0;
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
            }

            div.portrait, div.landscape {
                margin: 0;
                padding: 0;
                border: none;
                background: none;
            }

            div.landscape {
                transform: rotate(270deg) translate(-276mm, 0);
                transform-origin: 0 0;
            }
        }


        .page-content-wrapper {
            background-color: white !important;
        }

        .keep-together {
            page-break-inside: avoid;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }
    </style>

    <style>
        .sub-content > .col {
            float: left;
        }

        .row-cm {
            clear: both;
        }

        .col-width-2 {
            width: 16.66%;
        }

        .col-width-3 {
            width: 25%;
        }

        .col-width-4 {
            width: 33.33%;
        }

        .col-width-6 {
            width: 50%;
        }

        .col-width-12 {
            width: 100%;
        }


        .landscape {
            width: 1275px;
            height: 1650px;
            -webkit-transform: translateY(1650px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1650px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1650px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1650px) rotate(270deg); /* IE 9 */
            transform: translateY(1650px) rotate(270deg); /* IE 10+, Firefox 16.0+, Opera 12.1+ */
            filter: progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand'); /* IE 6-7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=6.123031769111886e-17, M12=1, M21=-1, M22=6.123031769111886e-17, SizingMethod='auto expand')"; /* IE 8 */
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }
    </style>

    <style>
        /*h1 {
            font-size:xx-large;

        }*/
    </style>

    <style>
        body {
            /*font-size:5em!important;*/
        }


        @@media print {
            body {
                width: 780px;
                overflow: hidden;
            }
        }

        #container {
            height: 800px;
            max-height: 600px;
        }



        #bhabit {
            /*-ms-transform: rotate(270deg);*/ /* IE 9 */
            /*-webkit-transform: rotate(270deg); /* Safari and Chrome */
            /*-o-transform: rotate(270deg);*/ /* Opera */
            /*-moz-transform: rotate(270deg);*/ /* Firefox */
            font-size: 8pt !important;
            transform: rotate(270deg);
            -webkit-transform: translateY(1400px) rotate(270deg); /* Chrome, Safari 3.1+ */
            -moz-transform: translateY(1400px) rotate(270deg); /* Firefox 3.5+ */
            -o-transform: translateY(1400px) rotate(270deg); /* Opera 10.5-12.0 */
            -ms-transform: translateY(1400px) rotate(270deg); /* IE 9 */
            -webkit-backface-visibility: hidden;
            -webkit-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
        }

        #section-bitReport {
            /*transform: scale(0.82, 0.82);
            -webkit-transform: scale(0.8, 0.82);
            -moz-transform: scale(0.82, 0.82);
            -o-transform: scale(0.82, 0.82);
            -ms-transform: scale(0.82, 0.82);*/
            -moz-transform: scale(0.80) translate(-190px, -30px);
            -webkit-transform: scale(0.80) translate(-190px, -30px);
            -o-transform: scale(0.80) translate(-190px, -30px);
            -ms-transform: scale(0.80) translate(-190px, -30px);
            transform: scale(0.80) translate(-190px, -30px);
        }

        #section-CreatedReport {
            -moz-transform: scale(0.8) translate(1200px, -100px);
            -webkit-transform: scale(0.8) translate(1200px, -100px);
            -o-transform: scale(0.8) translate(1200px, -100px);
            -ms-transform: scale(0.8) translate(1200px, -100px);
            transform: scale(0.8) translate(1200px, -100px);
        }
    </style>

    <style>
        .fs-9 {
            font-size: 9pt !important;
        }

        .fs-10 {
            font-size: 4pt !important;
        }

        .fs-11 {
            font-size: 11pt !important;
        }

        .fs-12 {
            font-size: 12pt !important;
        }

        .fs-13 {
            font-size: 13pt !important;
        }

        .fs-14 {
            font-size: 14pt !important;
        }

        .fs-15 {
            font-size: 15pt !important;
        }

        .fs-16 {
            font-size: 16pt !important;
        }

        .fs-17 {
            font-size: 17pt !important;
        }

        .fs-18 {
            font-size: 18pt !important;
        }

        .fs-19 {
            font-size: 19pt !important;
        }

        .fs-20 {
            font-size: 20pt !important;
        }

        .fs-21 {
            font-size: 21pt !important;
        }

        .fs-22 {
            font-size: 22pt !important;
        }

        .fs-23 {
            font-size: 23pt !important;
        }

        .fs-24 {
            font-size: 24pt !important;
        }

        .fs-25 {
            font-size: 25pt !important;
        }
    </style>
}

<div class="content-container">
    <input hidden name="well_id" value="@ViewBag.wellId" />
    <div id="bhabit">
        <div class="row pt-0">
            <div class="col-lg-12" id="section-bitReport">

            </div>
            

        </div>
        <div class="row pt-0">
            <div class="col-lg-12" id="section-CreatedReport">

            </div>
        </div>

    </div>
</div>

@section Scripts{

    <script id="bitReportTemplate" type="text/x-handlebars-template">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="24" class="text-center align-middle">
                        <h2 class="fw-700 fs-20">BIT RECORD</h2>
                    </th>
                </tr>
                <tr>
                    <th colspan="24">
                        <div class="form-group row mb-0">
                            <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" for="well_id">&nbsp;Well</label>
                            <div class="col-sm-7">
                                <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span><span name="well_name"></span></label>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" for="well_id">&nbsp;Location</label>
                            <div class="col-sm-7">
                                <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0"><span>: </span><span name="field_name"></span></label>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" for="well_id">&nbsp;Rig</label>
                            <div class="col-sm-7">
                                <label class="input-group-text no-radius border-0 fw-700 pr-1 pl-0"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </span><span name="rig_name"></span></label>

                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">RUN No.</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">BHA No</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10">MANUFACTURE</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">SIZE (inch)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">TYPE</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10">IADC</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10">SERIAL No</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">NOZZLES</th>
                    <th colspan="2" class="fw-700 text-center align-middle fs-10">DALAM</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">SELANG (m)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">BIT&nbsp;HRS (jam)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 width-1">ROP (min/M)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">WOB<br />(klbs)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">RPM</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">RPM&nbsp;MTR</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">SPP<br />(Psi)</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">GPM</th>
                    <th colspan="3" class="fw-700 text-center align-middle fs-10">MUD</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10">DULL GRADE I/O/D/L/B/G/O/R</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10">REMARKS</th>
                    <th rowspan="2" class="fw-700 text-center align-middle fs-10 pl-6 pr-6">DATE</th>
                </tr>
                <tr>
                    <th class="fw-700 text-center align-middle fs-10">in</th>
                    <th class="fw-700 text-center align-middle fs-10">out</th>

                    <th class="fw-700 text-center align-middle fs-10">MW</th>
                    <th class="fw-700 text-center align-middle fs-10">VIS</th>
                    <th class="fw-700 text-center align-middle fs-10">PV/YP</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_run}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bha_no}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{manufacturer}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_size}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{bit_type}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{iadc}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{serial_number}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{noozle_1}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{depth_in}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{depth_out}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{dg_footage}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{dg_hours_on_bottom}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{dg_rop_overall}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{wob}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{rpm}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{rpM_MTR}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{spp}}</td>
                    <td class="fw-700 text-center align-middle fs-10">{{gpm}}</td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10">{{dulL_GRADE}}</td>
                    <td class="fw-700 text-center align-middle fs-10"></td>
                    <td class="fw-700 text-center align-middle fs-10 width-2">{{dateFormat drilling_date format="DD MMM YYYY"}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </script>

    <script id="CreatedTemplate" type="text/x-handlebars-template">
        <div style="padding-top:1%; ">
            <p class="fw-500 fs-10"><span name="field_name"></span><span>, </span> <span name="date"></span></p>
            <p class="fw-500 fs-10"><span name="role"></span></p>
        </div>

        <br />
        <div style="padding-top:10%; ">
            <h4 class="fw-700 fs-10">
                (<span name="cpman1"><span>/</span></span><span name="cpman2"></span>)
            </h4>
        </div>
    </script>

    <script>
        $(document).ready(function () {
            $('#lbl_test').text("TEST FROM JAVASCRIPT");
            var wellId = $('input[name=well_id]').val();

            //var $form_header = $("#form-header");

            function getWellBit() {
                var templateScript = $("#bitReportTemplate").html();
                var template = Handlebars.compile(templateScript);
                $.ajax({
                    type: "GET",
                    url: urlAPI + '/UTC/Benchmark/GetBitByWellId/' + wellId,
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        var templateResult = { data: r.data }
                        Handlebars.registerHelper('dateFormat', function (context, block) {
                            if (window.moment) {
                                var f = block.hash.format || "DD MMM YYYY";
                                return moment(context).format(f);
                            } else {
                                return context;   //  moment plugin not available. return data as is.
                            };
                        });
                        var result = template(templateResult);
                        $('#section-bitReport').html(result);

                        $('span[name=well_name]').html(r.data[0].well_name);
                        $('span[name=field_name]').html(r.data[0].field_name);
                        $('span[name=rig_name]').html(r.data[0].rig_name);
                    },
                    error: function () {
                    }
                });
            }
            getWellBit();

            function getUserCreated() {
                var date = moment(new Date()).format("DD MMMM YYYY");
                var templateScript = $("#CreatedTemplate").html();
                var template = Handlebars.compile(templateScript);
                $.ajax({
                    type: "GET",
                    url: urlAPI + '/UTC/Benchmark/GetUserCreated/' + wellId,
                    contentType: 'application/json',
                    //dataType: 'json',
                    success: function (r) {
                        var templateResult = { data: r.data }
                        var result = template(templateResult);
                        $('#section-CreatedReport').html(result);

                        $('span[name=date]').html(date);
                        $('span[name=role]').html(r.data[0].role_name);
                        $('span[name=cpman1]').html(r.data[0].record_created_by);
                        $('span[name=cpman2]').html(r.data[1].record_created_by);
                    },
                    error: function () {
                    }
                });
            }
            getUserCreated();

            window.status = 'PAGE_LOADED';
        })
    </script>

}
