﻿
@{
    ViewBag.Title = "Business Unit";
}

<!--JSTree [ OPTIONAL ]-->
<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet">

<div id="page-head">

    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">Business Unit</h1>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->
    <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="#"><i class="demo-pli-home"></i></a></li>
        <li><a href="#">Master</a></li>
        <li class="active">Business Unit</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

</div>



<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="row pad-btm">
        <div class="col-sm-6 toolbar-left">
            <button id="btn-addNew" class="btn btn-purple">Add New</button>
        </div>
    </div>

    <!--Overlay-->
    <!--===================================================-->
    <div class="panel">

        <!--Panel heading-->
        <div class="panel-heading">

            <div class="col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-user-content"></ul>
                </nav>
            </div>

        </div>

        <!--Panel body-->
        @*<div id="page-user-content" class="panel-body" style="min-height:300px">*@
        <div id="page-user-content" class="panel-body" style="min-height:300px">
            <div id="businessUnit-tree"></div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Overlay-->


</div>
<!--===================================================-->
<!--End page content-->


<style>
    .pagination {
        background: white !important;
    }
</style>

@section scripts{
    <!--JSTree [ OPTIONAL ]-->
    <script src="~/Content/plugins/jstree/jstree.min.js"></script>
    <script src="~/Areas/Core/Scripts/businessUnit.index.js?@DateTime.Now"></script>
}