﻿
@{
    ViewBag.Title = "Region";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/businessUnit";

}

<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<div class="modal" id="businessUnitModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-businessUnit">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header pb-0">
                <h4 class="modal-title">@ViewBag.Title Setup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <hr class="mt-0 mb-3" />
                <form id="form-businessUnit">
                    <input hidden id="recordId" name="id" data-field="id" />
                    <input hidden id="parentId" name="parent_unit" data-field="parent_unit" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 mb-2">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="unit_name" data-field="unit_name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class="form-group">
                                    <label class="control-label">Unit Code</label>
                                    <input type="text" name="unit_code" data-field="unit_code" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Parent of</label>
                                    <input type="text" disabled data-field="parent_unit_name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer pt-0">
                <button id="btn-save" class="btn btn-info">Save changes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="businessUnitModalUpdate" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-businessUnitUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header pb-0">
                <h4 class="modal-title">@ViewBag.Title Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <hr class="mt-0 mb-3" />
                <form id="form-businessUnitUpdate">
                    <input hidden id="recordId" name="id" data-field="id" />
                    <input hidden id="parentId" name="parent_unit" data-field="parent_unit" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 mb-2">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="unit_name" data-field="unit_name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class="form-group">
                                    <label class="control-label">Unit Code</label>
                                    <input type="text" name="unit_code" data-field="unit_code" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Parent of</label>
                                    <input type="text" disabled data-field="parent_unit_name" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer pt-0">
                <button id="btn-update" class="btn btn-info">Update changes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="LeaderModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Start page content-->
<div class="row">
    <div class="col-md-6">

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-sm btn-info">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="panel-tag mb-0">
                        1. Drag and drop item below to make a APH as a sub.
                    </div>

                    <div class="col-lg-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-user-content"></ul>
                        </nav>
                    </div>
                    <div id="page-user-content">
                        <div id="businessUnit-tree"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <script src="~/Content/plugins/jstree/jstree.min.js"></script>
    <script src="~/Areas/Core/Scripts/businessUnit.index.js?_@DateTime.Now"></script>
}
