﻿<div class="mb-2">
    <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Choose Anak Perusahaan Hulu</a>
</div>
<hr />
<div id="businessUnit-tree" class="mt-0 pt-0"></div>
<script>
    (function ($) {
        'use strict';
        var $jstreeLookup = $('#businessUnit-tree');
        var pageFunction = function () {
            var load = function () {
                $jstreeLookup.jstree({
                    core: {
                        themes: {
                            "responsive": false
                        },
                        check_callback: true,
                        data: function (obj, callback) {
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                url: $.helper.resolveApi("~/core/BusinessUnit/tree"),
                                success: function (data) {
                                    callback.call(this, data);
                                }
                            });
                        }

                    },
                    "types": {
                        "default": {
                            "icon": "fa fa-folder icon-state-warning icon-lg"
                        },
                        "root": {
                            "class": "css-custom"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-warning icon-lg"
                        }
                    },
                    state: { "key": "id" },
                    plugins: ["dnd", "state", "types", "contextmenu"]
                });

                $jstreeLookup.on("dblclick.jstree", function (e) {
                    var instance = $.jstree.reference(this),
                        node = instance.get_node(e.target);
                    $(this).trigger("onSelected", { instance: instance, node: node });

                });
            }

            var loadByAjax = function () {
                $jstreeLookup.jstree({
                    'core': {
                        'data': {
                            'url': function (node) {
                                return $.helper.resolveApi("~/core/BusinessUnit/tree");
                            },
                            'type': 'POST',
                            'data': function (node) {
                                return { 'id': node.id };
                            }
                        }
                    },
                }).on("dblclick.jstree", function (e) {
                    var instance = $.jstree.reference(this),
                        node = instance.get_node(e.target);
                    $(this).trigger("onSelected", { instance: instance, node: node });

                });
            }

            return {
                init: function () {
                    //load();
                    loadByAjax();
                }
            }
        }();

        $(document).ready(function () {
            pageFunction.init();
        });
    }(jQuery));
</script>
