﻿<style>
    .swal2-container {
        z-index: 3000;
    }
</style>
<!--Modal header-->
<div class="modal-header pb-0">
    <h4 class="modal-title">Set Team Leader</h4>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-0" />
    <form id="form-UpdateLeader" class="needs-validation" novalidate>
        <input type="hidden" id="srecordId" name="recordId" value="@ViewBag.recordId" />
        <input type="hidden" id="defaultTeam" name="defaultTeam" value="@ViewBag.defaultTeam" />
        <div class="panel-body" style="padding-bottom: 0px; overflow-x: hidden; border: none;">
            <div class="form-group row mt-2 mb-0">
                <label class="col-lg-2 col-md-2 col-sm-2 col-xl-2 control-label" for="team_leader">Team Leader<span class="text-danger"> *</span></label>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <select type="text" class="form-control form-control-sm" name="team_leader" id="team_leader" data-field="team_leader" data-text="team_leader_name" placeholder="" required></select>
                    <small class="invalid-feedback form-text text-muted" id="msgerror" style="color: red !important">Field Team Leader is required</small>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btnsave" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/businessUnit.UpdateLeader.js?_@DateTime.Now"></script>