﻿@{
    ViewBag.Title = "Management Of Change";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/afe";

}
<link href="~/Content/plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />
<style>
    .tree-icon {
        display: none;
    }

    .text-danger {
        color: red !important;
    }

    td [field=afe_unit_price] > div,
    td [field=afe_actual_price] > div,
    td [field=new_purchase_total_price] > div,
    td [field=issued_stock_total_price] > div,
    td [field=actual_total_price] > div {
        text-align: right !important;
    }
</style>

@section Header {
    <link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">Management Of Change</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="modalHistory" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#formhistory">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-container show">
                <div class="panel-hdr">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="panel-content p-2">
                    <div class="border px-3 pt-0 pb-0 rounded">
                        <div>
                            <div>
                                <h3 class="mt-2"><i class="fas fa-home"></i> WSP Changes Request</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-bordered">
                                            <thead>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">
                                                        <input type="hidden" id="recordId" data-field="recordId" value="@ViewBag.recordId" />
                                                        WSP No
                                                    </td>
                                                    <td>
                                                        <input type="text" id="wsp_no" class="form-control" readonly />
                                                    </td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">WSP Approval Date</td>
                                                    <td>
                                                        <input type="text" id="wsp_approval_date" class="form-control" readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Field</td>
                                                    <td>
                                                        <input type="text" id="field" class="form-control" readonly />
                                                    </td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Well Name</td>
                                                    <td>
                                                        <input type="text" id="well_name" class="form-control" readonly />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">String</td>
                                                    <td>
                                                        <input type="text" id="string" class="form-control" readonly />
                                                    </td>
                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Main Job</td>
                                                    <td>
                                                        <input type="text" id="main_job" class="form-control" readonly />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs nav-fill" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#rf" role="tab">Request Form</a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#wc" role="tab">WSP Changes</a></li>
                                </ul>
                                <div class="border px-3 pt-0 pb-0 rounded">
                                    <div class="tab-content pt-4">
                                        <div id="rf" class="tab-pane fade show active" role="tabpanel">
                                            <h4>MOC Subject</h4>
                                            <hr />
                                            <form id="form-moc" class="needs-validation" novalidate>
                                                <h5>1. Last Approved Program / Procedure</h5>
                                                <div class="form-group">
                                                    <input type="hidden" id="id_moc" name="id" />
                                                    <textarea id="no_1" name="last_approved_program" class="form-control summernote" rows="4" placeholder="Enter Last Approved Program / Procedure"></textarea>
                                                </div>
                                                <h5>2. Reason For Change</h5>
                                                <div class="form-group">
                                                    <textarea id="no_2" name="reason_for_change" class="form-control summernote" rows="4" placeholder="Enter Reason For Change"></textarea>
                                                </div>
                                                <h5>3. Options / Recommendations for Changes</h5>
                                                <div class="form-group">
                                                    <textarea id="no_3" name="recomendation_for_change" class="form-control summernote" rows="4" placeholder="Enter Options / Recommendations for Changes"></textarea>
                                                </div>
                                                <h5>4. Risk Evaluation</h5>
                                                <div class="form-group">
                                                    <textarea id="no_4" name="risk_evaluation" class="form-control summernote" rows="4" placeholder="Enter Risk Evaluation"></textarea>
                                                </div>
                                                <h5>5. New Program / Procedures (Plan)</h5>
                                                <div class="form-group">
                                                    <textarea id="no_5" name="new_program" class="form-control summernote" rows="4" placeholder="Enter New Program / Procedures (Plan)"></textarea>
                                                </div>
                                            </form>
                                            <div class="save-button mt-2 mb-2">
                                                <button id="btn-savemoc" class="btn btn-info">
                                                    <i class="fas fa-save mr-2"></i>Save
                                                </button>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Departement</td>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved By</td>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved Date</td>
                                                                <td style="background-color: #f8f9fa; font-weight: bold;"></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control" name="departement" id="departement_a" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="approver_name" id="approver_name_a" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="date" class="form-control" name="approver_date" id="approver_date_a" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-info" id="btn-satu">Submit</button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control" name="departement" id="departement_b" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="approver_name" id="approver_name_b" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="date" class="form-control" name="approver_date" id="approver_date_b" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-info" id="btn-dua">Submit</button>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="text" class="form-control" name="departement" id="departement_c" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="approver_name" id="approver_name_c" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <input type="date" class="form-control" name="approver_date" id="approver_date_c" placeholder="Enter value" />
                                                                </td>
                                                                <td>
                                                                    <button class="btn btn-info" id="btn-tiga">Submit</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2" class="text-center" style="background-color: #f8f9fa; font-weight: bold;">MOC Request Status</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Created By</td>
                                                                <td>
                                                                    <input type="text" id="created_by" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Submited By</td>
                                                                <td>
                                                                    <input type="text" id="submited_by" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Current Status</td>
                                                                <td>
                                                                    <input type="text" id="current_status" class="form-control" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Comment</td>
                                                                <td>
                                                                    <textarea id="comment_approve" name="comment_approve" class="form-control" placeholder="Input Comment Here" required></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <button class="btn btn-info" id="btn-saveCommentApprove">
                                                                        <i class="fas fa-save"></i>
                                                                        Save Comment
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="wc" class="tab-pane fade" role="tabpanel">
                                            <div class="attachment-table">
                                                <h4><i class="fas fa-file"></i> Attachment Files</h4>
                                                <hr />
                                                <div class="text-right">
                                                    <button id="btn-saveGeneralWIR" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px;margin-bottom:30px;">
                                                        <i class="fas fa-save"></i> Save
                                                    </button>
                                                </div>
                                                <div class="mb-3">
                                                    <table id="dt_Attachments" class="table table-bordered table-hover table-striped w-100">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 5%;">No</th>
                                                                <th style="width: 20%;">Attachment Type</th>
                                                                <th style="width: 30%;">File Name</th>
                                                                <th style="width: 30%;">Description</th>
                                                                <th style="width: 15%;">Size</th>
                                                                <th style="width: 10%;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- Rows will be dynamically added here -->
                                                        </tbody>
                                                    </table>
                                                    <div class="text-left mt-2">
                                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-themed" id="addFileAttach">
                                                            Add Row
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="objective-class mb-5">
                                                <form id="formObjective">
                                                    <h5>1. Objective</h5>
                                                    <div class="form-group">
                                                        <input type="hidden" id="id_objective_wsp" name="id" />
                                                        <textarea class="form-control" rows="4" name="objective_wsp" id="objective_wsp" placeholder="Enter Objective"></textarea>
                                                    </div>
                                                </form>
                                                <button id="btn-updatewsp-objective" class="btn btn-info mt-2 float-right">
                                                    <i class="fas fa-save mr-2"></i>Save
                                                </button>
                                                <form id="formIntroduction">
                                                    <h5>2. Introduction</h5>
                                                    <div class="form-group">
                                                        <input type="hidden" id="id_introduction_wsp" name="id" />
                                                        <textarea class="form-control" rows="4" name="introduction_wsp" id="introduction_wsp" placeholder="Enter Introduction"></textarea>
                                                    </div>
                                                </form>
                                                <button id="btn-updatewsp-introduction" class="btn btn-info mt-2 float-right">
                                                    <i class="fas fa-save mr-2"></i>Save
                                                </button>
                                            </div>
                                            <form id="formProgramDetail">
                                                <h5>3. Program Detail</h5>
                                                <div class="form-group">
                                                    <input type="hidden" id="id_program_detail" name="id" />
                                                    <textarea class="form-control" rows="4" name="program_detail" id="program_detail" placeholder="Enter Introduction"></textarea>
                                                </div>
                                            </form>
                                            <div class="mt-3">
                                                <div id="panel-program-detail" class="panel">
                                                    <div class="panel-hdr">
                                                        <table class="table table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <td style="background-color: #f8f9fa; font-weight: bold;">Decription</td>
                                                                    <td style="background-color: #f8f9fa; font-weight: bold;" class="text-center">Value</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Total Estimasi Cost</td>
                                                                    <td>
                                                                        <input type="text" id="value_cost" name="value_cost" class="form-control text-center" disabled />
                                                                    </td>

                                                                </tr>
                                                                <tr>
                                                                    <td>Total Estimasi Duration</td>
                                                                    <td>
                                                                        <input type="text" id="value_duration" name="value_duration" class="form-control text-center" disabled />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-content">
                                                @Html.Partial("~/Areas/Core/Views/WIP/Program.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK" crossorigin="anonymous"></script>
<script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
<script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/Areas/Core/Scripts/detail.wi.js?_@DateTime.Now"></script>



