﻿<h3><i class="fas fa-home"></i> WSP Changes Request</h3>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="background-color: #f8f9fa; font-weight: bold;">WSP No</td>
                    <td>isi wsp no</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">WSP Approval Date</td>
                    <td>isi wsp approval date</td>
                </tr>
                <tr>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Field</td>
                    <td>isi Field</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Well Name</td>
                    <td>isi Well Name</td>
                </tr>
                <tr>
                    <td style="background-color: #f8f9fa; font-weight: bold;">String</td>
                    <td>isi String</td>
                    <td style="background-color: #f8f9fa; font-weight: bold;">Main Job</td>
                    <td>isi Main Job</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ul class="nav nav-tabs nav-fill" role="tablist">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#rf" role="tab">Request Form</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#wc" role="tab">WSP Changes</a></li>
</ul>
<div class="border px-3 pt-0 pb-0 rounded">
    <div class="tab-content pt-4">
        <div id="rf" class="tab-pane fade show active" role="tabpanel">
            <h4>MOC Subject</h4>
            <hr />
            <h5>1. Last Approved Program / Procedure</h5>
            <div class="form-group">
                <div id="no_1"></div>
            </div>
            <h5>2. Reason For Change</h5>
            <div class="form-group">
                <div id="no_2"></div>
            </div>
            <h5>3. Options / Recomendations for Changes</h5>
            <div class="form-group">
                <div id="no_3"></div>
            </div>
            <h5>4. Risk Evaluation</h5>
            <div class="form-group">
                <div id="no_4"></div>
            </div>
            <h5>5. New Program / Procedures (Plan)</h5>
            <div class="form-group">
                <div id="no_5"></div>
            </div>
            <h5>6. Approval Status</h5>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td style="background-color: #f8f9fa; font-weight: bold;">Departement</td>
                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved By</td>
                                <td style="background-color: #f8f9fa; font-weight: bold;">Approved Date</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>isi</td>
                                <td>isi</td>
                                <td>isi</td>
                            </tr>
                            <tr>
                                <td>isi</td>
                                <td>isi</td>
                                <td>isi</td>
                            </tr>
                            <tr>
                                <td>isi</td>
                                <td>isi</td>
                                <td>isi</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td colspan="2" class="text-center" style="background-color: #f8f9fa; font-weight: bold;">MOC Request Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Created By</td>
                                <td>isi</td>
                            </tr>
                            <tr>
                                <td>Submited By</td>
                                <td>isi</td>
                            </tr>
                            <tr>
                                <td>Current Status</td>
                                <td>isi</td>
                            </tr>
                            <tr>
                                <td colspan="2">Last Comment</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="history-attachment mb-4">
                <button data-href="@Url.Content("/Core/home/MocHistory")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed" data-toggle="modal-remote" data-target="#modalHistory">
                    <span class="fal fa-eye mr-1"></span> View All Approval History
                </button>
            </div>
        </div>
        <div id="wc" class="tab-pane fade" role="tabpanel">
            <div class="attachment-table">
                <h4><i class="fas fa-file"></i> Attachment Files</h4>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="background-color: #f8f9fa; font-weight: bold;">No</td>
                            <td style="background-color: #f8f9fa; font-weight: bold;">Attachment Type</td>
                            <td style="background-color: #f8f9fa; font-weight: bold;">Filename</td>
                            <td style="background-color: #f8f9fa; font-weight: bold;">Filename</td>
                            <td style="background-color: #f8f9fa; font-weight: bold;">Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                        </tr>
                        <tr>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                        </tr>
                        <tr>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                            <td>Isi</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="objective-class mb-5">
                <h5>
                    1. Objective
                </h5>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Enter Objective"></textarea>
                </div>
                <h5>
                    2. Introduction
                </h5>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Enter Introduction"></textarea>
                </div>
                <h5>
                    3. Work load (Penambahan step)
                </h5>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Enter Work Load"></textarea>
                </div>
                <h5>
                    4. Description Step
                </h5>
                <div class="form-group">
                    <textarea class="form-control" rows="4" placeholder="Enter Description Step"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>