﻿<!--Modal header-->
<style>
    .text-danger {
        color: red !important;
    }
    .swal2-container {
        z-index: 3000;
    }
</style>
<div class="modal-header pb-0">
    <h5 class="modal-title">Form Create New Job Personnel</h5>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr/>
    <form id="formJobPersonel" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="job_title">Job Title<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="job_title" data-field="job_title" class="form-control form-control-sm" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/jobPersonel.detail.js?_@DateTime.Now"></script>