﻿<div class="modal fade" id="endWellAnalysis" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                @*<h4 class="modal-title">
                    Overall Time Distribution
                </h4>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="" style="height:300px; width:1101px;"></div>
            </div>
        </div>
    </div>
</div>




