﻿<div class="modal" id="OperationHoursModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <input type="hidden" value="" class="singleReportWellId" />
        <div class="modal-content ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="AvaerageROPModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay"style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <input type="hidden" value="" class="singleReportWellId" />
        <div class="modal-content ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="StuckPipeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <input type="hidden" value="" class="singleReportWellId" />
        <div class="modal-content ">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="operations" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-2">
                <h4 class="modal-title">
                    Operations

                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body pt-3">
                <dl class="row">
                    <dt class="col-sm-5">Operation Hours</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/OperationHours?id=")@ViewBag.recordId" id="btnOperationHours" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#OperationHoursModal">
                            <span class="d-block text-truncate text-truncate-sm">
                                Details
                            </span>
                        </button>
                    </dd>
                    <dt class="col-sm-5">Average ROP</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/AverageROP?id=")@ViewBag.recordId" id="btnAverageRopModal" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#AvaerageROPModal">
                            <span class="d-block text-truncate text-truncate-sm">
                                Details
                            </span>
                        </button>
                    </dd>
                    <dt class="col-sm-5 pt-1">Stuck Pipe</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/StuckPipe?id=")@ViewBag.recordId" id="btnStuckPipe" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#StuckPipeModal">
                            Details
                        </button>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>


