﻿<div class="modal fade" id="operationsActivies" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Operations Activies
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Date-picker Field -->
                <div class="form-group row">
                    <label for="datepicker-3" class="col-form-label col-lg-4">Select Date</label>
                    <div class="col-12 col-lg-8">
                        <div class="input-group">
                            <input type="text" class="form-control" id="datepicker-3" placeholder="YYYY-MM-DD">
                            <div class="input-group-append">
                                <span class="input-group-text fs-xl">
                                    <i class="fal fa-calendar-alt"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="frame-wrap w-100" id="slimtest2">
                    <div class="accordion" id="js_demo_accordion-4">
                        <div class="panel-tag content-alert">Please choose data to show drilling data.</div>


                        <div class="content" style="display: none;">
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-4a" aria-expanded="true">
                                        General Well Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4a" class="collapse show" data-parent="#js_demo_accordion-4">
                                    <div id="panel-6" class="panel">

                                        <div class="panel-container show">
                                            <div class="panel-content">
                                                <table class="table m-0" id="tableWellDDR">
                                                    <thead>
                                                        <tr>
                                                            <th class="bg-primary-400 text-left">Report Number</th>
                                                            <th colspan="4">
                                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="report_no" disabled>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4b" aria-expanded="false">
                                        Operations Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4b" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/OperationsData.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4c" aria-expanded="false">
                                        HSSE
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4c" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/HsseView.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4e" aria-expanded="false">
                                        BIT & BHA Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4e" class="collapse p-3" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/BhaAndBit.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4d" aria-expanded="false">
                                        Hole & Casing Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4d" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/HoleandCasing.cshtml")
                                </div>
                            </div>

                            <!-- BHA and BIT --->
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4o" aria-expanded="false">
                                        Actual Lithology
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4o" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/ActualLithology.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4g" aria-expanded="false">
                                        Deviation Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4g" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/Deviation_data.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4h" aria-expanded="false">
                                        Mud Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4h" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/Mud_data.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4i" aria-expanded="false">
                                        Bulk Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4i" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/Bulk_data.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4j" aria-expanded="false">
                                        Transport/Shipping Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4j" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/Transport_Shipping_data.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4k" aria-expanded="false">
                                        Weather Data
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4k" class="collapse" data-parent="#js_demo_accordion-4">
                                    @Html.Partial("~/Areas/UTC/Views/WellData/Weather_data.cshtml")
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4l" aria-expanded="false">
                                        Personal On Board
                                        <span class="ml-auto">
                                            <span class="collapsed-reveal">
                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                            </span>
                                            <span class="collapsed-hidden">
                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div id="js_demo_accordion-4l" class="collapse" data-parent="#js_demo_accordion-4">
                                    <div class="panel-container show">
                                        <div class="panel-content page-loading-content">
                                            <!-- Modal : TODO -->
                                            <!-- Modal end -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <table class="table m-0 table-bordered" id="tableDrillingPersonel">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center fw-700">Job Title</th>
                                                                <th class="text-center fw-700">Personel</th>
                                                                <th class="text-center fw-700">Company</th>
                                                                <th class="text-center fw-700">Pax</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="no-data">
                                                                <td colspan="5" class="text-center">No data available</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Including necessary JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha384-duAtk5RV7s42V6Zuw+tRBFcqD8RjRKw6RFnxmxIj1lUGAQJyum/vtcUQX8lqKQjp" crossorigin="anonymous"></script>

<script id="readOperationsActivies-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td>{{report_no}}</td>
        <td>{{well_name}}</td>
        <td>{{spud_date}}</td>
        <td>{{target_direction}}</td>
        <td>{{afe_no}}</td>
        <!-- You can add more columns as needed to match the data structure -->
    </tr>
    {{else}}
    <tr>
        <td colspan="5" class="text-center">No data available for the selected date.</td>
    </tr>
    {{/each}}
</script>

<script id="readDrillingPersonel-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowPersonel">
        <td class="jobPersonel">{{job_title}}</td>
        <td class="">{{personel}}</td>
        <td>{{company}}</td>
        <td>{{pax}}</td>
    </tr>
    {{/each}}
</script>

<script id="wellData-template" type="text/x-handlebars-template">

    <tr>
        <td class="bg-primary-100 text-left align-middle p-1 pl-2" style="width: 12%;">Well Name</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="wellname" value="{{well_name}}" disabled>
        </td>
        <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">Target Direction</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="target_direction" value="{{target_direction}}" disabled>
        </td>
        <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">AFE Number</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="afe_no" value="{{afe_no}}" disabled>
        </td>
        <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">Spud Date</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="spud_date" value="{{spud_date}}" disabled>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Country</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="country_name" value="{{country_name}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Type</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_type" value="{{rig_type}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">AFE Cost</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="afe_cost" value="{{afe_cost}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="afe_cost_uom" data-objectname="afe_cost_uom TD" value="USD" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Date</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="created_on" value="{{created_on}}" disabled>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Field</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="field_name" value="{{field_name}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Name</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_name" value="{{rig_name}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Daily Cost</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="daily_cost" value="{{daily_cost}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Hole SIze</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_hole_size" value="{{current_hole_size}} {{current_hole_size_uom}}" disabled>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Well Type</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="well_type" value="{{well_type}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Rating</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_rating" value="{{rig_rating}} {{rig_rating_uom}}" disabled>

            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rig_rating_uom" data-objectname="Rig Rating" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Cummulative Cost</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="cummulative_cost" value="{{cummulative_cost}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Previous Depth MD</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="previous_depth_md" value="{{previous_depth_md}} {{previous_depth_md_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="previous_depth_md_uom" data-objectname="Previous Depth MD" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Latitude</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="latitude" value="{{latitude}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Water Depth</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="water_depth" value="{{water_depth}} {{water_depth_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="water_depth_uom" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Planned TD</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="planned_td" value="{{planned_td}} {{planned_td_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="planned_td_uom" data-objectname="Planned TD" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Previous Depth TVD</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="previous_depth_tvd" value="{{previous_depth_tvd}} {{previous_depth_tvd_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="previous_depth_tvd_uom" data-objectname="Previous Depth TVD" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Longitude</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="longitude" value="{{longitude}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">RKB Elevation</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rkb_elevation" value="{{rkb_elevation}} {{rkb_elevation_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rkb_elevation_uom" data-objectname="RKB Elavation" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Planned Days</td>
        <td class="p-1">

            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="planned_days" value="{{planned_days}} {{planned_days_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="planned_days_uom" data-objectname="Planned days" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Depth md</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_depth_md" value="{{current_depth_md}} {{current_depth_md_uom}}" disabled>

            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="current_depth_md_uom" data-objectname="Current Depth MD" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Event</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="event" value="{{event}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">RT to Seabed</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rt_to_seabed" value="{{rt_to_seabed}} {{rt_to_seabed_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rt_to_seabed_uom" data-objectname="RT to Seabed" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">DOL</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="dol" value="{{dol}} {{dol_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="dol_uom" data-objectname="DOL" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Depth</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_depth_tvd" value="{{current_depth_tvd}} {{current_depth_tvd_uom}}" disabled>
        </td>
    </tr>
    <tr>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Drilling Contractor</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="contractor_name" value="{{contractor_name}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Heading</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_heading" value="{{rig_heading}}" disabled>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">DFS</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="dfs" value="{{dfs}} {{dfs_uom}}" disabled>
            <div class="input-group-append">
                <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="dfs_uom" data-objectname="DFS" value="-" readonly="" style="background-color: #f3f3f3">
            </div>
        </td>
        <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Progress</td>
        <td class="p-1">
            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="progres" value="{{progres}} {{progress_uom}}" disabled>
        </td>
    </tr>

</script>

<script id="planVsCost-tempalte" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="no-data">
        <td>{{no}}</td>
        <td>{{activity}}</td>
        <td>{{depth}}</td>
        <td>{{hour}}</td>
        <td>{{days}} Days</td>
        <td>{{cost}}</td>
        <td>{{cumm_cost}}</td>
    </tr>
    {{/each}}
</script>
