﻿<div class="modal" id="FinalReportModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>.

<div class="modal fade" id="report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-lg-center">
                <h4 class="modal-title">
                    Download Report
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="btnFinalReport" class="btn btn-md btn-success waves-effect waves-themed w-100">
                            <span class="fal fa-download mr-1"></span>
                            Final Report
                        </button>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Content("/UTC/APH/singlewell/Export?id=" + ViewBag.recordId)" class="btn btn-md btn-warning waves-effect waves-themed w-100">
                            <span class="fal fa-download mr-1"></span>
                            SKK Migas Report
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a  href="@Url.Content("/UTC/APH/singlewell/ExportPertamina?id=" + ViewBag.recordId)" class="btn btn-md btn-info btn-report-ddr-pertamina waves-effect waves-themed w-100">
                            <span class="fal fa-download mr-1"></span>
                            DDR PERTAMINA
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>