﻿<div class="modal" id="2DTrajectoryTopViewModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="modal" id="TVDModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>
<div class="modal" id="2DTrajectorySideViewModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" style="z-index: 9999;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>.
<div class="modal fade" id="timeDepthCurveModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pb-2">
                <h4 class="modal-title">
                    Time Depth Curve & Plot Trajectory
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body pt-3">
                <dl class="row">
                    <dt class="col-sm-5">Tata Waktu Pengeboran Single Well</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/WaktuPengeboran?id=")@ViewBag.recordId" id="btnWaktuPengeboran" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#TVDModal">
                            <span class="d-block text-truncate text-truncate-sm">
                                Details
                            </span>
                        </button>
                    </dd>
                    <dt class="col-sm-5">2D Trajectory (Side View)</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/TrajectorySideView?id=")@ViewBag.recordId" id="btnTrjSideView" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#2DTrajectorySideViewModal">
                            <span class="d-block text-truncate text-truncate-sm">
                                Details
                            </span>
                        </button>
                    </dd>
                    <dt class="col-sm-5 pt-1">2D Trajectory (Top View)</dt>
                    <dd class="col-sm-6">
                        <button data-href="@Url.Content("/UTC/APH/report/TrajectoryTopView?id=")@ViewBag.recordId" id="btnTrjTopView" class="modalTrigger btn btn-info btn-xs px-1 py-1 pl-4 pr-4 fw-500 waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#2DTrajectoryTopViewModal">
                            Details
                        </button>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>




