﻿<div class="modal fade" id="timeDepthCurent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h4 class="modal-title">
                    Basic Modals
                    <small class="m-0 text-muted">
                        Below is a static modal example
                    </small>
                </h4>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-4" style="width:30%">
                    <button type="button" class="btn btn-default hide-modal" data-toggle="modal" data-target="#chart-waktuPengeboran">Centered Large</button>
                    <button type="button" id="launch" data-toggle="modal" class="btn btn-default" data-target="#modalfull">Centered Large</button>
                </div>              
                @Html.Partial("~/Areas/UTC/Views/Modal/ChartWaktuPengeboran.cshtml")
            </div>
        </div>
    </div>
</div>

