﻿<style>
    .is-invalid .select2-selection,
    .needs-validation ~ span > .select2-dropdown {
        border-color: #b57d6a !important;
    }
</style>
<!--Modal header-->
<div class="modal-header pb-0">
    <h4 class="modal-title">Material & Services Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formMaterial" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="afe_line_id" name="afe_line_id" data-field="afe_line_id"/>
        
        <div class="panel-body" style="padding-bottom: 0px; overflow-x: hidden; border: none;">

            @*<div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_line_parent_id">AFE Parent<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="afe_line_parent_id" id="afe_line_parent_id" data-field="afe_line_parent_id" data-text="afe_line_parent_name" placeholder="" required></select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_line_id">AFE Line<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="afe_line_id" id="afe_line_id" data-field="afe_line_id" data-text="afe_line_description" placeholder="" required></select>
                </div>
            </div>*@


            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_line_id" style="padding-top: 7px;">AFE Line<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-afe-lookup" style="border:none; color: #4679cc!important;">Click to choose a AFE Line</a>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="description">Description<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="description" data-field="description" class="form-control form-control-sm" required>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="type">Type<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="material_type" data-field="material_type" data-text="material_type" name="material_type" required>
                        <option value="1">Material</option>
                        <option value="2">Service</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="item_type">Category<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="item_type" data-field="item_type" data-text="item_type" name="item_type" required>
                        <option value="1">Dry Hole Based</option>
                        <option value="2">Completion Based</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="uom_id">Unit of Measurement<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="uom_id" id="uom_id" data-field="uom_id" data-text="uom_code" placeholder="" required></select>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/material.detail.js?_@DateTime.Now"></script>