﻿
@{
    ViewBag.Title = "Material & Services";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/material/list";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {
    <link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />
    <style>
        .tree-icon {
            display: none;
        }
    </style>
}

<div class="modal" id="materialModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-material">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/Core/material/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#materialModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="treeGrid" class="easyui-treegrid" style="width:700px;height:auto">
                        <thead>
                            <tr>
                                <th data-options="field:'description',formatter:tDescription" sortable="true"><span class="fw-700 text-capitalize">Material & Service</span></th>
                                <th data-options="field:'uom_code'" sortable="true" align="center"><span class="fw-700">Default UoM</span></th>
                                <th data-options="field:'id',formatter:tAction" sortable="false"align="center"><span class="fw-700">Action</span></th>
                            </tr>

                        </thead>
                    </table>
                    <script>

                        var tDescription = function (value, row) {
                            var output = `<span class="font-italic tree-title ` + row.icon_type + `">` + value + `</span>`;
                            return output;
                        }

                        var tAction = function (value, row) {
                            var output = '';
                            console.log(String(row.icon_type));
                            if (String(row.icon_type).includes('material')) {
                                output =
                                    `<div class ="btn-group" data-id= "` + row.id + `" >
                                                            <button onShowModal='true' data-href="` + $.helper.resolve("/core/material/detail?id=") + row.id + `" class="modalTrigger btn btn-info btn-xs btn-info waves-effect waves-themed"
                                                                data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' data-target="#materialModal">
                                                                <span class="fal fa-pencil"></span>
                                                            </button>
                                                            <button class="btn btn-warning btn-xs btn-warning waves-effect waves-themed row-deleted"
                                                                data-toggle="modal-remote" data-loading-text='<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>'>
                                                                <span class="fal fa-trash"></span>
                                                            </button>
                                                        </div>`;
                            }
                            return output;
                        }

                        $(document).on('click', '.row-deleted', function () {
                            var recordId = $(this).closest('.btn-group').data('id');
                            var b = bootbox.confirm({
                                message: "<p class='text-semibold text-main'>Are your sure ?</p><p>You won't be able to revert this!</p>",
                                buttons: {
                                    confirm: {
                                        label: "Delete"
                                    }
                                },
                                callback: function (result) {
                                    if (result) {
                                        var btnConfim = $(document).find('.bootbox.modal.bootbox-confirm.in button[data-bb-handler=confirm]:first');
                                        btnConfim.button('loading');
                                        $.ajax({
                                            type: "POST",
                                            dataType: 'json',
                                            contentType: 'application/json',
                                            url: $.helper.resolveApi("~/core/material/delete"),
                                            data: JSON.stringify([recordId]),
                                            success: function (r) {
                                                if (r.status.success) {
                                                    toastr.error("Data has been deleted");
                                                    $('#treeGrid').treegrid('reload');
                                                } else {
                                                    toastr.error(r.status.message);
                                                }
                                                btnConfim.button('reset');
                                                b.modal('hide');
                                            },
                                            error: function (r) {
                                                toastr.error(r.statusText);
                                                btnConfim.button('reset');
                                                b.modal('hide');
                                            }
                                        });
                                        return false;
                                    }
                                },
                                animateIn: 'bounceIn',
                                animateOut: 'bounceOut'
                            });
                        });

                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--EasyUI [ OPTIONAL ]-->
    @*<script src="~/Content/plugins/easyUI/jquery.easyui.min.js"></script>*@
    <script src="~/Content/plugins/easyUI/easyloader.js"></script>
    <script>

        (function ($) {
            'use strict';
            
            var pageFunction = function () {
                var $tree = $('#treeGrid');

                easyloader.load('treegrid', function () {        // load the specified module
                    $tree.cmTreeGrid({
                        pagination: true,
                        url: $.helper.resolveApi("~/core/Material/Preview/BS20?parentId="),

                        base: {
                            idField: 'id',
                            treeField: 'description',
                            onResizeColumn:function(field, width){
                                var state = $.data(this, 'datagrid');
                                var opts = state.options;

                                var col = $(this).datagrid('getColumnOption', field);
                                if (field == "description") {
                                    col.width = '80%';
                                } else if (field == "uom_code") {
                                    col.width = '10%';
                                } else if (field == "id") {
                                    col.width = '10%';
                                }
                                $(this).datagrid('resize');
                            }
                        }
                    });

                });

                $(document).on('hidden.bs.modal', "#materialModal", function () {
                    $tree.treegrid('reload');
                });


                return {
                    init: function () {

                    }
                }
            }()

            $(document).ready(function () {
                pageFunction.init();
            });
        }(jQuery));
    </script>


}