﻿<!DOCTYPE html>
<partial name="_CopyrightHeader" />
<html lang="en">
<head>
    @Html.Partial("_Head")
    @RenderSection("Header", required: false)
</head>
<body>
    @Html.Partial("_CookieConsentPartial")
    <!-- BEGIN Page Wrapper -->
    <div class="page-wrapper">
        <div class="page-inner">
            <div class="page-content-wrapper bg-transparent m-0">
                @*@Html.Partial("_PageHeader")*@
                <div class="container-flex">
                    @RenderBody()
                    @Html.Partial("_PageFooter")
                </div>
            </div>
        </div>
    </div>
    <!-- END Page Wrapper -->
    @Html.Partial("_ScriptBasePlugins")
    @RenderSection("Scripts", required: false)
</body>
</html>