﻿<div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
    <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
        <img src="~/Content/img/newlogo_remove_transparent.png" alt="Pertamina" aria-roledescription="logo">
       
    </a>
</div>