﻿<div class="footer d-block text-center text-white">
    2019 © Dreamwell by&nbsp;<a href="https://www.pertamina.com" class="text-white opacity-40 fw-500" title="pertamina" target="_blank">Pertamina.com</a>
</div>