﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">IADC WI Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formIadcwi" class="needs-validation" novalidate style="margin-top: -30px !important;">
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="parent_id" data-field="parent_id" data-text="parent_code" name="parent_id" />

        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="unit_code">Unit Code<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select name="unit_code" id="unit_code" class="form-control form-control-sm" required>
                        <option value="" disabled selected>Select Unit Code</option>
                        <option value="1">1 - Rig</option>
                        <option value="2">2 - Lift Boat</option>
                        <option value="3">3 - Barge</option>
                        <option value="4">4 - HWU / Snubbing</option>
                        <option value="5">5 - Coil Tubing</option>
                        <option value="6">6 - Capillary String</option>
                        <option value="7">7 - Electric Line</option>
                        <option value="8">8 - Braided Line</option>
                        <option value="9">9 - Slick Line</option>
                        <option value="10">10 - Well Testing</option>
                        <option value="11">11 - Other Unit</option>
                    </select>
                    <div id="unit_code_description" class="mt-2">
                        <input type="text" class="form-control form-control-sm" name="unit_description" placeholder="Description will auto-fill based on selection" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="operation_code">Operation Code<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-3 col-xs-9">
                    <select name="operation_code" id="operation_code" class="form-control form-control-sm" required>
                        <option value="" disabled selected>Select Operation Code</option>
                        <option value="A">A - MOVING</option>
                        <option value="B">B - OPERATING</option>
                        <option value="C">C - WAITING</option>
                        <option value="D">D - NPT (Non Prod Time)</option>
                        <option value="E">E - ILT (Invisible Lost Time)</option>
                        <option value="F">F - IDLE</option>
                    </select>
                    <div id="operation_code_description" class="mt-2">
                        <input type="text" class="form-control form-control-sm" name="operation_description" placeholder="Description will auto-fill based on selection" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="activity_code">Activity Code<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="activity_code" data-field="activity_code" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="description">Activity Description<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="description" data-field="description" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="remark">Remarks</label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="remark" data-field="remark" class="form-control form-control-sm">
                </div>
            </div>
        </div>

        <script>
            document.getElementById('unit_code').addEventListener('change', function () {
                var descriptionField = document.querySelector('#unit_code_description input');
                switch (this.value) {
                    case '1':
                        descriptionField.value = 'Rig';
                        break;
                    case '2':
                        descriptionField.value = 'Lift Boat';
                        break;
                    case '3':
                        descriptionField.value = 'Barge';
                        break;
                    case '4':
                        descriptionField.value = 'HWU / Snubbing';
                        break;
                    case '5':
                        descriptionField.value = 'Coil Tubing';
                        break;
                    case '6':
                        descriptionField.value = 'Capillary String';
                        break;
                    case '7':
                        descriptionField.value = 'Electric Line';
                        break;
                    case '8':
                        descriptionField.value = 'Braided Line';
                        break;
                    case '9':
                        descriptionField.value = 'Slick Line';
                        break;
                    case '10':
                        descriptionField.value = 'Well Testing';
                        break;
                    case '11':
                        descriptionField.value = 'Other Unit';
                        break;
                    default:
                        descriptionField.value = '';
                }
            });

            document.getElementById('operation_code').addEventListener('change', function () {
                var descriptionField = document.querySelector('#operation_code_description input');
                switch (this.value) {
                    case 'A':
                        descriptionField.value = 'MOVING';
                        break;
                    case 'B':
                        descriptionField.value = 'OPERATING';
                        break;
                    case 'C':
                        descriptionField.value = 'WAITING';
                        break;
                    case 'D':
                        descriptionField.value = 'NPT (Non Prod Time)';
                        break;
                    case 'E':
                        descriptionField.value = 'ILT (Invisible Lost Time)';
                        break;
                    case 'F':
                        descriptionField.value = 'IDLE';
                        break;
                    default:
                        descriptionField.value = '';
                }
            });
        </script>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/iadcwi.detail.js?_@DateTime.Now"></script>