﻿
@{
    ViewBag.Title = "IADC WI";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/iadcwi";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="iadcModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-iadc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel mt-0">
            <div class="panel-hdr d-flex align-items-center">
                <h2 class="mb-0">@ViewBag.Title List</h2>
                <div class="panel-toolbar ml-auto">
                    <button data-href="@Url.Content("/core/iadcwi/Detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#iadcModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <a href="~/helpguidance/WELL INTERVENTION CODE.pdf" target="_blank" class="dropdown-item" style="margin-top:30px;">
                <span class="mr-2">
                    <img src="~/Content/img/pdff.png" class="rounded-circle profile-image">
                </span>
                <span data-i18n="drpdwn.reset_layout">Referensi Pengisian Iadc Well Intervesion</span>
                <i class="float-right text-muted fw-n">Lihat</i>
            </a>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listIadc" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>IADC Code</th>
                                <th>Description</th>
                                <th>Remark</th>
                                <th class="text-center" style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/iadcwi.index.js?_@DateTime.Now"></script>
}
