﻿<div class="modal-header pb-0">
    <h4 class="modal-title">
        Country Setup
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>

</div>
<div class="modal-body pt-0">
    <hr />
    <form id="frm-country" class="needs-validation" novalidate>
        <input hidden data-field="id" id="recordId" name="id" value="@ViewBag.recordId" />
        <div class="form-group row mb-2 pt-2">
            <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="country_name">Country Name<span class="text-danger"> *</span></label>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <input type="text" id="country_name" name="country_name" data-field="country_name" required class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer pt-0">
    <button type="button" class="btn btn-sm btn-info" id="btn-save">
        Save changes
    </button>
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
</div>


<script src="~/Areas/Core/Scripts/country.detail.js?_@DateTime.Now"></script>