﻿@{
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
}
<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }
</style>
<!--===================================================-->
<!--Start page content-->

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Wilayah Kerja<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    @if (userSession.SysAdmin)
                                    {
                                        if (((string)ViewBag.BusinessUnitRoute) == "APH")
                                        {
                                            <input hidden name="aph_id_dp" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup_dp" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose Anak Perusahaan Hulu</a>

                                        }
                                        else
                                        {
                                            <input hidden name="aph_id_dp" value="@ViewBag.BusinessUnitRouteId" />
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold fw-700" id="btn-business-unit-lookup_dp" style="border:none; color: #4679cc!important; margin-left: -14px;">@ViewBag.BusinessUnitRoute</a>
                                        }
                                    }
                                    else
                                    {
                                        <input hidden name="aph_id_dp" value="@userSession.PrimaryBusinessUnitId" />
                                        <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold fw-700 disabled" style="border:none; color: #4679cc!important; margin-left: -14px;">@userSession.PrimaryBusinessUnit</a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row mb-0">
                                <label class="col-lg-1 control-label pt-2" for="well_type">Year<span class="text-danger"> *</span></label>
                                <div class="col-lg-4">
                                    <select class="form-control" multiple="multiple" id="filteryear"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 d-none" id="formFilter">
                            <div class="form-group row mt-3 mb-1">
                                <div class="offset-lg-1 col-lg-4">
                                    <button type="button" id="btnFilter" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed" style="width: 100px;">
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" id="framedp" style="display: none;">
        <div id="panel-2" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12" style="min-height: 400px !important;">
                            <table id="dt_dp" class="table table-bordered table-hover table-striped w-100" style="width: 100%;">
                                <thead class="thead-themed">
                                    <tr>
                                        <th style="width: 30px;vertical-align: middle !important;text-align: center !important;" rowspan="2">No.</th>
                                        <th style="width: 300px;vertical-align: middle !important;text-align: center !important;" rowspan="2">Area</th>
                                        <th style="width: 150px;vertical-align: middle !important;text-align: center !important;" rowspan="2">PT / Hour</th>
                                        <th style="width: 150px;vertical-align: middle !important;text-align: center !important;" rowspan="2">NPT / Hour</th>
                                        <th style="width: 150px;text-align: center;" colspan="2">Well Cost</th>
                                        <th style="width: 150px;text-align: center;" colspan="2">Drilling Performance</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 150px;text-align: center !important;">Target</th>
                                        <th style="width: 150px;text-align: center !important;">Achievement</th>
                                        <th style="width: 150px;text-align: center !important;">Target</th>
                                        <th style="width: 150px;text-align: center !important;">Achievement</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" id="framematerial" style="display: none;">
        <div id="panel-2" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12" style="min-height: 400px !important;" id="listmaterial">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="material-template" type="text/x-handlebars-template">
    <table id="dt_material" class="table table-bordered table-hover table-striped w-100" style="width: 100%;">
        <thead class="thead-themed">
            <tr>
                <th style="width: 300px;vertical-align: middle !important;text-align: center !important;" rowspan="2">Material</th>
                <th style="width: 300px;text-align: center;" colspan="2">Area</th>
            </tr>
            <tr>
                {{#each fields}}
                <th style="width: 300px;text-align: center !important;">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each pivotData}}
            <tr style="width: 300px;text-align: center !important;">
                <td>
                    {{material_name}}
                </td>
                {{#each fields}}
                <td>
                    {{total_unit}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<!--===================================================-->
<!--End page content-->
