﻿
@{
    ViewBag.Title = "Leason Learned";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/report/LeasonLearned";
}


<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">UTC</a></li>
                            <li class="breadcrumb-item active fw-700">Analysis Data</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }
</style>
<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Filter</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="col-md-12">
                        <div class="form-group row mb-0">
                            <label class="col-lg-1 control-label pt-2 pl-0 fw-500" for="well_type">Wilayah Kerja<span class="text-danger"> *</span></label>
                            <div class="col-lg-4">
                                <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose Anak Perusahaan Hulu</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-none" id="field-section">
                        <div class="form-group row mb-0">
                            <label class="col-lg-1 control-label pt-2 pl-0 fw-500" for="well_type">Field<span class="text-danger"> *</span></label>
                            <div class="col-lg-4">
                                <a href="javascript:void(0);" data-field="field_name" class="form-control row text-left text-bold btn-link fw-700 pt-2" id="field-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose a Field</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 d-none" id="well-section">
                        <div class="form-group row mt-2 mb-0">
                            <label class="col-lg-1 control-label pt-2 pl-0 fw-500" for="well_type">Well <span class="text-danger"> *</span></label>
                            <div class="col-lg-11">
                                <div class="row" id="listWell">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row mb-0">
                            <label class="col-lg-1 control-label pt-2 pl-0 fw-500    " for="well_type">Keyword<span class="text-danger"> *</span></label>
                            <div class="col-lg-10">
                                <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700 pt-2 iadc-lookup" style="border:none; color: #4679cc!important; margin-left: -14px;">Click to choose a Keyword </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group row mt-1">
                            <div class="offset-lg-1 col-lg-4">
                                <button type="button" id="btnPreview" class="btn btn-warning btn-sm ml-auto ml-sm-0 waves-effect waves-themed fw-500" style="width: 100px;">
                                    Preview
                                </button>
                                <button type="button" id="btnAnalyze" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed fw-500" style="width: 100px;">
                                    Analyze
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12 panel-report" id="preview-section" style="margin-top: 0px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Preview</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table m-0 table-bordered" id="tablePreview">
                                <thead>
                                    <tr>
                                        <th class="text-left fw-700" style="width: 1px;">No</th>
                                        <th class="text-left fw-700">Well</th>
                                        <th class="text-left fw-700">NPT (Hours)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 panel-report" id="analyze-section" style="display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Analyze</h2>
                <div class="panel-toolbar">
                    <button id="btnDetails" type="button" class="btn btn-sm btn-warning waves-effect waves-themed mr-2 btnClassInput">
                       Details
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='analyze-preview'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 panel-report" id="analyzeDetail-section" style="display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Details</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id='analyzedetail-preview'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


<script id="preview-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation" id="cloneRow">
        <td class="text-center pt-1 pb-1 align-middle">
            <span>{{number @@index}}</span>
        </td>
        <td class="text-left pt-1 pb-1 align-middle">
            <input class="form-control-plaintext" type="text" value="{{well_name}}" />
        </td>
        <td class="text-left pt-1 pb-1 align-middle">
            <input class="form-control-plaintext" type="text" value="{{interval}}" />
        </td>
    </tr>
    {{/each}}
</script>


<script id="well-template" type="text/x-handlebars-template">
    <div class="col-md-3" id="field-{{data.0.field_id}}">
        <div class="card border no-radius mb-1">
            <div class="card-header py-1 pl-2">
                <span class="fw-500">{{data.0.field_name}}</span>
            </div>
            <div class="card-body pl-2 pr-2 pt-2 pb-0">
                {{#each data}}
                <div class="custom-control custom-checkbox custom-control-inline pb-2">
                    <input type="checkbox" class="custom-control-input" id="well-{{id}}" name="wellId[]" value="{{id}}">
                    <label class="custom-control-label" for="well-{{id}}">{{well_name}}</label>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</script>


@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>

    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Areas/UTC/Scripts/analysisData.leasonLearned.index.js?_@DateTime.Now"></script>
}
