﻿
@{
    ViewBag.Title = "Leason Learned";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "analysisdata/leasonlearned";
}


<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">UTC</a></li>
                            <li class="breadcrumb-item active fw-700">Analysis Data</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<style>
    .depth-pie > div > svg > text {
        display: none;
    }

    #uom_select + span {
        width: 210px !important;
    }
</style>
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div id="panel-4" class="panel">
                <div class="panel-container show">
                    <div class="panel-content">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_justified-1" role="tab">Leason Learned</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_justified-2" role="tab">Drilling Performance</a></li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane fade show active" id="tab_justified-1" role="tabpanel">
                                @Html.Partial("~/Areas/UTC/Views/AnalysisData/LeasonLearnedAPH.cshtml")
                            </div>
                            <div class="tab-pane fade" id="tab_justified-2" role="tabpanel">
                                @Html.Partial("~/Areas/UTC/Views/AnalysisData/DrillingPerformance.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->



@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>

    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Areas/UTC/Scripts/analysisData.leasonLearned.index.js?_@DateTime.Now"></script>
}
