﻿
@{
    ViewBag.Title = "Rop";
    //Layout = "~/Areas/UTC/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "analysisdata/rop";
}
<style>
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 360px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>ROP Prediction</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">Range Depth </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="dept_one" placeholder="Depth" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">m</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <label class="control-label pt-2 fw-500" for="well_type"> s/d </label>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="dept_two" placeholder="Depth" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">m</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">WOB </label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="wob" placeholder="WOB" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">klbs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">HKLD </label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="hkld" placeholder="HKLD" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">klbs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">RPM </label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="rpm" placeholder="RPM" required />
                                </div>
                            </div>
                        </div>

                        <div class="offset-lg-2 col-lg-4">
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">RPMM </label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="rpmm" placeholder="RPMM" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">TORQ </label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="torq" placeholder="TORQ" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">Lb/ft</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">MFI </label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="mfi" placeholder="GPM" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">GPM</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3">
                                    <label class="control-label pt-2 fw-500" for="well_type">SPP </label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control numeric" data-inputmask="'alias': 'currency'" im-insert="true" id="spp" placeholder="PSI" required />
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">PSI</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-12 text-center">
                            <button type="button" id="btnCalculate" class="btn btn-info btn-sm ml-auto ml-sm-0 waves-effect waves-themed fw-500" style="width: 100px;">
                                Calculate
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Result</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- dependency for c3 charts : this dependency is a BSD license with clause 3 -->
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>

    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Areas/UTC/Scripts/tf.min.js"></script>
    <script>
        $(async function () {
            $(".numeric").inputmask({
                digits: 2,
                greedy: true,
                definitions: {
                    '*': {
                        validator: "[0-9]"
                    }
                },
                rightAlign: false
            });

            function round(value, exp) {
                if (typeof exp === 'undefined' || +exp === 0)
                    return Math.round(value);

                value = +value;
                exp = +exp;

                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
                    return NaN;

                // Shift
                value = value.toString().split('e');
                value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

                // Shift back
                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
            }

            var model = await tf.loadLayersModel('../../../Areas/UTC/Scripts/model.json');

            $("#btnCalculate").click(async function () {
                var depth1 = parseFloat($("#dept_one").val().replace(",", "")) || 0;
                var depth2 = parseFloat($("#dept_two").val().replace(",", "")) || 0;
                var wob = parseFloat($("wob").val()) || 0;
                var hkld = parseFloat($("#hkld").val()) || 0;
                var rpm = parseFloat($("#rpm").val()) || 0;
                var rpmm = parseFloat($("#rpmm").val()) || 0;
                var torq = parseFloat($("#torq").val()) || 0;
                var mfi = parseFloat($("#mfi").val()) || 0;
                var spp = parseFloat($("#spp").val()) || 0;
                data = [];
                for (var i = depth1; i <= depth2; i++) {
                    data.push([i, wob, hkld, rpm, rpmm, torq, mfi, spp]);
                }
                var result = await model.predict(tf.tensor2d(data)).array();
                result = result.map((arr) => [depth1++, round(arr[0], 2) ]);

                var chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container'
                    },
                    title: {
                        text: 'ROP Prediction'
                    },
                    subtitle: {
                        text: ''
                    },
                    yAxis: {
                        title: {
                            text: 'ROP (m/hr)'
                        },
                        reversed: true
                    },
                    xAxis: {
                        title: {
                            text: 'Depth(m)'
                        },
                        labels: {
                            enabled: true,
                            formatter: function () { return result[this.value] },
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'ROP',
                        data: result
                    }],
                    tooltip: {
                        pointFormat: '{series.name}: {point.y} (m/hr) <br/>Depth: {point.x} (m) ',
                    },
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                });
            });
        });
    </script>
}