﻿<link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
<style>
    .text-danger {
        color: red !important;
    }
    .text-danger {
        color: red !important;
    }
    .expense:hover {
        text-decoration: none;
    }
</style>

<!--Modal header-->
<div class="modal-header pb-2">
    <h4 class="modal-title text-left">Detail Daily Cost</h4>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <div class="alert alert-info alert-dismissible fade show mb-2 border-top-left-radius-0 border-bottom-left-radius-0 border-top-right-radius-0 border-bottom-right-radius-0" role="alert">
        <strong>Info!</strong> Click on daily cost value to update.
    </div>
    <form id="afeManageBudget" class="needs-validation" novalidate>
        <input type="hidden" id="drillingId" name="drillingId" data-field="drillingId" value="@ViewBag.drillingId" />
        <input type="hidden" id="afeId" name="afeId" data-field="afeId" value="@ViewBag.afeId" />
        <input type="hidden" id="afeLineId" name="afeLineId" data-field="afeLineId" value="@ViewBag.afeLineId" />
        <input type="hidden" id="costDate" name="costDate" data-field="costDate" value="@ViewBag.costDate" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <table class="table table-bordered table-hover m-0" id="listDailyCost">
                <thead class="thead-themed">
                    <tr>
                        <th class="text-center fw-700" style="width: 1px;">No</th>
                        <th class="fw-700">Description</th>
                        <th class="fw-700" style="width: 12%;">Contract Value</th>
                        <th class="fw-700" style="width: 12%;">Daily Cost</th>
                        <th class="fw-700" style="width: 12%;">Remaining Budget</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="7">There is no related item between AFE Line and Contract on this AFE.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script id="manageDailyCost-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>
            <div>{{budget_description}}</div>
            <span class="help-block">
                Contract Number: {{contract_no}}
            </span>
        </td>
        <td class="text-right fw-700" style="padding-top: 1.25rem !important"><a>USD {{thousandSeparatorWithoutComma actual_budget}}</a></td>
        <td class="text-right dailyCost text-danger expense fw-700" style="padding-top: 1.25rem !important">
            <span>USD </span>
            <a class="editable-daily-cost" id="daily-cost-{{id}}" data-id="{{id}}" data-contractdetailid="{{contract_detail_id}}" data-title="Enter Amount" style="cursor: pointer;">{{cost}}</a>
        </td>
        <td class="text-right text-success" style="padding-top: 1.25rem !important"><a class="fw-700">{{remainingBudget actual_budget total_cost}}</a></td>
    </tr>
    {{/each}}
</script>
<script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
<script src="~/Areas/Core/Scripts/usage.dailyCost.js?_@DateTime.Now"></script>