﻿

@{
    ViewBag.Title = "Field Area Information";
    //Layout = "~/Views/Shared/UTC/_Layout.cshtml";

    ViewData["Title"] = "Field Area Information";
    ViewData["PageName"] = "/utc/aph/dashboardfielddetail";

}
<link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />


<div class="modal" id="rkapDetailModel" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header pb-0">
                <h4 class="modal-title">Actual Cost vs Plan Cost </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <hr class="mt-1 mb-0" />
                <div class="col-md-12 pt-2 trayek-record">
                    @*<span class="fw-500" style="position: absolute; z-index: 400;">Trayek: </span>*@
                    <div class="containerRKAP" id="containerRKAP"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <input type="hidden" id="recordId" value="@ViewBag.recordId" />
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/UTC/APH/Dashboard")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listAfe" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No</th>
                                <th>Well name</th>
                                <th>Total Well</th>
                                <th>Plan Cummulative Cost(USD)</th>
                                <th>Actual Cummulative Cost</th>
                                <th style="width: 1px !important;">Actions</th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/UTC/Scripts/underscore-min.js"></script>
    <script src="~/Content/css/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/plugins/number/jquery.number.js"></script>
    <script src="~/Content/js/formplugins/ion-rangeslider/ion-rangeslider.js"></script>
    <script src="~/Content/js/statistics/chartjs/chartjs.bundle.js"></script>

    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @*<script src="~/Areas/UTC/Scripts/wellData.detail.js?t=@DateTime.Now"></script>*@
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/3dplugin/main_well.js"></script>


    <script src="~/Areas/UTC/Scripts/dashboardField.detailvwell.js?_@DateTime.Now"></script>

    <script>

        function ActualPriceRekap(id) {
            console.log("show bussines unit  " + id);

            if (id !== '') {
                var arXAnalysis = [];
                var totalNPTANDPT = [];
                var color = [];

                $.get($.helper.resolveApi("~/core/Well/" + id + "/detailByField"), function (r) {
                    console.log("get Well Data by detailByField detailByField id ");
                    console.log(r);
                    if (r.status.success) {
                        if (r.data.length > 0) {
                            var totalNPT = 0;
                            var totalPT = 0;
                            for (var j = 0; j < r.data.length; j++) {
                                totalNPT = totalNPT + r.data[j].afe_cost;
                            }
                            console.log("total plan cost " + totalNPT);



                            var arr = [];
                            var users = r.data;
                            var runRequests = function (userIndex) {
                                if (users.length == userIndex) {
                                    console.log("runRequests Success", arr);


                                    console.log("total actual cost  " + totalPT);
                                    arXAnalysis.push(
                                        {
                                            name: "Plan Cost",
                                            Time: totalNPT,
                                            y: totalNPT,
                                            Type: "Plan Cost",
                                        }
                                    );



                                    arXAnalysis.push(
                                        {
                                            name: "Actual Cost",
                                            Time: totalPT,
                                            y: totalPT,
                                            Type: "Actual Cost",
                                        }
                                    );

                                    color.push('#0000FF');


                                    console.log("nilai ar x analysus " + arXAnalysis);

                                    console.log("total colors " + color);

                                    // #FF0000  == red
                                    //#228B22  === green

                                    $('#containerRKAP').highcharts({
                                        chart: {

                                            plotBackgroundColor: null,
                                            plotBorderWidth: null,
                                            plotShadow: false,
                                            type: 'pie',
                                            margin: [0, 0, 0, 0],
                                            spacingTop: 0,
                                            spacingBottom: 0,
                                            spacingLeft: 0,
                                            spacingRight: 0
                                        },
                                        title: {
                                            text: 'Plan Cost Vs Actual Cost'
                                        },
                                        tooltip: {
                                            pointFormat: '<strong>{point.Type}</strong><br><strong>{point.Time:.2f} USD</strong>'
                                        },
                                        plotOptions: {
                                            pie: {
                                                colors: ['#FF0000', '#228B22'],
                                                size: '40%',
                                                allowPointSelect: true,
                                                cursor: 'pointer',
                                                dataLabels: {
                                                    enabled: true,
                                                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                                }
                                            }
                                        },
                                        series: [{
                                            name: 'Plan Cost And Actual Cost APH',
                                            colorByPoint: true,
                                            data: arXAnalysis
                                        }]
                                    });

                                    console.log("test done gak or reload");
                                    return;
                                }

                                var user = users[userIndex];
                                console.log("well id " + user.id);
                                $.ajax({
                                    url: $.helper.resolveApi('~/UTC/SingleWell/GetTataWaktuPengeboran/' + user.id),
                                    type: 'GET',
                                    success: function (r) {
                                        arr.push({ user: user, index: userIndex, data: r.data });

                                        $.each(r.data.report_drilling, function (key, value) {


                                            totalPT = totalPT + value.cummulative_cost;
                                        })
                                        runRequests(++userIndex);
                                    },
                                    error: function () {
                                        console.error("runRequests Error", arguments);
                                    }
                                });
                            }



                            runRequests(0);

                        }
                        else {
                            toastr.error("data actual cost empty for this APH");
                        }
                    }
                    $('.loading-detail').hide();
                }).fail(function (r) {
                    //console.log(r);
                }).done(function () {

                });
            }

            else {

            }


        }

    </script>
}