﻿

@{
    ViewBag.Title = "Field Area Information";
    //Layout = "~/Views/Shared/UTC/_Layout.cshtml";

    ViewData["Title"] = "Field Area Information";
    ViewData["PageName"] = "/utc/aph/dashboardfielddetail";

}
<link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
<link href="~/Content/plugins/easyUI/themes/icon.css" rel="stylesheet" />


@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <input type="hidden" id="recordId" value="@ViewBag.recordId" />
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/UTC/APH/Dashboard")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listAfe" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 1px;">No.</th>
                                <th>AFE Number</th>
                                <th>Well Name</th>
                                <th>Field Name</th>
                                <th>APH</th>
                                <th>Duration</th>
                                <th class="text-center" style="width: 1px;">Status</th>
                                <th class="text-center" style="width: 1px;">#</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Areas/UTC/Scripts/underscore-min.js"></script>
    <script src="~/Content/css/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/plugins/number/jquery.number.js"></script>
    <script src="~/Content/js/formplugins/ion-rangeslider/ion-rangeslider.js"></script>
    <script src="~/Content/js/statistics/chartjs/chartjs.bundle.js"></script>

    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/plugins/highcharts/modules/exporting.js"></script>
    @*<script src="~/Areas/UTC/Scripts/wellData.detail.js?t=@DateTime.Now"></script>*@
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/3dplugin/main_well.js"></script>


    <script src="~/Areas/UTC/Scripts/dashboardField.detail.js?_@DateTime.Now"></script>


}