﻿<div class="modal-header pb-0">
    <h4 class="modal-title">NPT and PT Details</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body pt-0">
    <hr class="mt-1 mb-0" />
    <input type="hidden" id="recordId" value="@ViewBag.recordId" />

    <div class="col-md-12 pt-2 trayek-record">
        @*<span class="fw-500" style="position: absolute; z-index: 400;">Trayek: </span>*@
        <div class="nptAndptchart" id="nptAndptchart"></div>
    </div>
</div>


<script src="~/Areas/UTC/Scripts/nptandptwellDetail.js?_@DateTime.Now"></script>


