﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Rig Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formRig" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="field_id">Vendor<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="vendor_id" id="vendor_id" data-field="vendor_id" data-text="vendor_name" placeholder="" required></select>
                </div>
            </div>

            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="duration">Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="name" data-field="name" data-text="name" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="duration">Description<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="description" data-field="description" data-text="description" class="form-control form-control-sm" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/rig.detail.js?_@DateTime.Now"></script>