﻿<link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
<style>
    .text-danger {
        color: red !important;
    }

    .text-danger {
        color: red !important;
    }

    .expense:hover {
        text-decoration: none;
    }
</style>

<!--Modal header-->
<div class="modal-header pb-2">
    <h4 class="modal-title text-left"></h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <form id="afeManageBudget" class="needs-validation" novalidate>
        <input type="hidden" id="drillingId" name="drillingId" data-field="drillingId" value="@ViewBag.drillingId" />
        <input type="hidden" id="materialId" name="materialId" data-field="materialId" value="@ViewBag.materialId" />
        <input type="hidden" id="afeId" name="afeId" data-field="afeId" value="@ViewBag.afeId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <table class="table table-bordered table-hover m-0" id="listDailyCost">
                <thead class="thead-themed">
                    <tr>
                        <th class="text-center fw-700" style="width: 1px;">No</th>
                        <th class="fw-700">Matrial</th>
                        <th class="fw-700" style="width: 12%;">Qty</th>
                        <th class="fw-700" style="width: 12%;">Usage</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td class="text-center" colspan="7">There is no related item between AFE Line and Contract on this AFE.</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button data-dismiss="modal" class="btn btn-default" type="button">Save</button>
</div>

<script id="usageMaterial-template" type="text/x-handlebars-template">
    @*{{#each data}}*@
    <tr>
        <th class="text-center" scope="row">1.</th>
        <td>
            <div>BAtu</div>
            <span class="help-block">
                Contract Number: 100.xxxx.xxx
            </span>
        </td>
        <td class="text-right dailyCost text-danger expense fw-700" style="padding-top: 1.25rem !important">
            <span>USD </span>
            <a class="editable-daily-cost" id="daily-cost-" data-id="" data-contractdetailid="" data-title="Enter Qty" style="cursor: pointer;">1</a>
        </td>
        <td class="text-right text-success" style="padding-top: 1.25rem !important"><a class="fw-700">0</a></td>
    </tr>
    @* {{/each}}*@
</script>
@*<script src="~/Areas/Core/Scripts/drilling.detail.js?_@DateTime.Now"></script>*@

<script src="~/Areas/Core/Scripts/manageUsage.js"></script>
@*<script src="~/Areas/Core/Scripts/usage.dailyCost.js?_@DateTime.Now"></script>*@