﻿
@{
    ViewBag.Title = "Daily Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/usage";

}
<link rel="stylesheet" media="screen, print" href="~/Content/plugins/x-editable/css/bootstrap-editable.css" />
<style>
    .text-danger {
        color: red !important;
    }

    .actual-expense:hover {
        text-decoration: none;
    }
</style>



@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/usage")">Usage</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <form id="formDrilling" class="needs-validation" novalidate>
            <input type="hidden" id="recordId" name="id" value="@ViewBag.recordId" />
            <input type="hidden" id="costDate" name="costDate" value="@ViewBag.costDate" />
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>New Daily Cost</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <!-- Modal : TODO -->
                        <!-- Modal end -->
                        <div class="row">
                            <div class="col-md-6">
                                <p><span class="fw-700">Well Name: </span><span class="text-success fw-700" id="well_name">-</span></p>
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="text-right"><span class="fw-700">Report Cost Date: </span><span id="report_date">-</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><span class="fw-700">Daily Cost: </span><span class="text-danger fw-700" id="daily_cost">-</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover m-0" id="listAfeManageBudget">
                                    <thead class="thead-themed">
                                        <tr>
                                            <th class="text-center fw-700" style="width: 1px;">No</th>
                                            <th class="fw-700">Description</th>
                                            <th class="fw-700" style="width: 15%;">Contract Value</th>
                                            <th class="fw-700" style="width: 15%;">Usage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center" colspan="7">There is no related item between AFE Line and Contract on this AFE.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xl-12" style="margin-top: -20px; display: none;">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2></h2>
                <div class="panel-toolbar">
                    <button class="modalTrigger btn btn-sm btn-info waves-effect waves-themed mr-2" id="btn-save">
                        <span class="fal fa-save mr-1"></span> Save
                    </button>
                    <button class="modalTrigger btn btn-sm btn-secondary waves-effect waves-themed">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="afeManageBudgetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afeManageBudget">
    <div class="modal-dialog modal-xl">
        <div class="modal-content ">
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<script id="afeManageBudget-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr id="row-{{@@index}}">
        <th class="text-center" scope="row">{{counter @@index}}</th>
        <td>
            <div>{{budget_description}}</div>
        </td>
        <td class="text-right actualBudget fw-700">
            {{formatNominal actual_budget}}
        </td>
        <td class="text-right revBudget2">
            <button data-href="@Url.Content("/Core/usage/dailycost?id=")@ViewBag.recordId&afeid={{afe_id}}&afelineid={{afe_line_id}}&costDate=@ViewBag.costDate" class="modalTrigger btn btn-link mt-0 pt-0 mb-0 pb-0 pr-0 mr-0 fw-700 text-danger actual-expense" data-toggle="modal-remote" data-target="#afeManageBudgetModal">
                {{formatExpense actual_budget actual_expense}}
            </button>
        </td>
    </tr>
    {{/each}}
</script>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
    <script src="~/Areas/Core/Scripts/usage.detail.js?_@DateTime.Now"></script>
}