﻿
@{
    ViewBag.Title = "Usage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/usage";

}
<link href="~/Content/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="javascript:void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        @*<div id="panel-1" class="panel mb-1">
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div class="fw-700">Please choose well first</div>
                </div>
            </div>
        </div>*@
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Drilling List</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" name="well_id" id="well_id" data-field="well_id" data-text="well_name" placeholder="" required></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="calendar">
                        <div class="panel-tag">Please choose well to manage daily cost.</div>
                    </div>
                    <!-- Modal : TODO -->
                    <!-- Modal end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <script src="~/Content/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script>
        var $well_id = $('input[id=well_id]');
        var calendarEl = document.getElementById('calendar');
        $("#well_id").cmSelect2({
            url: $.helper.resolveApi('~/core/well/lookup'),
            result: {
                id: 'id',
                text: 'well_name'
            },
            filters: function (params) {
                return [{
                    field: "well_name",
                    operator: "contains",
                    value: params.term || '',
                }];
            },
            options: {
                //dropdownParent: $form,
                placeholder: "Select a Well",
                allowClear: true,
                maximumSelectionLength: 1,
            }
        });

        $("#well_id").on('select2:select', function (e) {
            var id = e.target.value;
            $well_id = id;
            history.pushState('', 'ID', location.hash.split('?')[0] + '?id=' + $well_id);
            getByWellId(id);

        });

        var getByWellId = function (id) {
            $('#loadingModal').modal({ backdrop: 'static', keyboard: false });
            $.get($.helper.resolveApi('~/core/Well/' + id + '/detail'), function (r) {
                if (r.status.success) {
                    console.log(r);
                    var calendarEl = document.getElementById('calendar');
                    calenderRender(calendarEl, r.data.spud_date);
                } else {
                    toastr.error(r.status.message);
                }
                $('#loadingModal').modal('hide');
                $('.loading-detail').hide();
            }).fail(function (r) {
                console.log(r);
            });
        }

        var todayDate = moment().startOf('day');
        var YM = todayDate.format('YYYY-MM');
        var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
        var TODAY = todayDate.format('YYYY-MM-DD');
        var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var event = {
                title: 'Dinner',
                start: TODAY + 'T20:00:00',
                className: "bg-danger border-danger text-white"
            };
            //calenderRender(calendarEl);
        });

        var calenderRender = function (calendarEl, spud_date) {
            $("#calendar").html("");
            var calendar = new FullCalendar.Calendar(calendarEl,
                {
                    plugins: ['dayGrid', 'list', 'timeGrid', 'interaction', 'bootstrap'],
                    themeSystem: 'bootstrap',
                    timeZone: 'local',
                    dateAlignment: "month", //week, month
                    defaultDate: spud_date,
                    buttonText:
                    {
                        today: 'today',
                        month: 'month',
                        week: 'week',
                        day: 'day',
                        list: 'list'
                    },
                    eventTimeFormat:
                    {
                        hour: 'numeric',
                        minute: '2-digit',
                        meridiem: 'short'
                    },
                    navLinks: true,
                    header:
                    {
                        left: 'prev,next today addEventButton',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    footer:
                    {
                        left: '',
                        center: '',
                        right: ''
                    },
                    customButtons:
                    {
                        addEventButton:
                        {
                            text: '+',
                            click: function () {
                                var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                                var date = new Date(dateStr + 'T00:00:00'); // will be in local time

                                if (!isNaN(date.valueOf())) { // valid?
                                    calendar.addEvent(
                                        {
                                            title: 'dynamic event',
                                            start: date,
                                            allDay: true
                                        });
                                    alert('Great. Now, update your database...');
                                }
                                else {
                                    alert('Invalid date.');
                                }
                            }
                        }
                    },
                    height: 600,
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    selectable: true,
                    events: function (info, successCallback, failureCallback) {
                        var start_date = moment(info.start).format('YYYY-MM-DD');
                        var end_date = moment(info.end).format('YYYY-MM-DD');
                        if ($well_id == "")
                            return;
                        $.ajax({
                            url: $.helper.resolveApi('~/core/drilling/getListDrillingSubmitted/' + $well_id + "/" + start_date + "/" + end_date),
                            type: 'GET',
                            success: function (r) {
                                var events = [];
                                $.each(r.data, function (key, value) {
                                    console.log(key);
                                    events.push({
                                        id: value.id,
                                        title: "Terisi",
                                        start: value.drilling_date, // will be parsed
                                        className: "bg-info border-info text-white"
                                    });
                                });
                                successCallback(events);
                            }
                        });
                    },
                    dateClick: function (info) {
                        console.log(info.dateStr);
                        console.log(info.jsEvent);
                    },
                    select: function (info) {
                        console.log('selected ' + info.startStr + ' to ' + info.endStr);
                    },
                    eventAfterAllRender: function (callback) {
                    },
                    eventRender: function (eventObj, $el) {
                        console.log($el);
                    },
                    eventDestroy: function () {
                    },
                    eventClick: function (info) {
                        console.log(info);
                        var costDate = moment(info.event.start).format('YYYY-MM-DD');
                        window.open($.helper.resolve("/core/usage/detail?id=" + info.event.id + "&well_id=" + $well_id + "&costDate=" + costDate), '_blank');
                        //$('#calendarModal .modal-title .js-event-title').text(info.event.title);
                        //$('#calendarModal .js-event-description').text(info.event.description);
                        //$('#calendarModal .js-event-url').attr('href',info.event.url);
                        //$('#calendarModal').modal();
                    },
                    viewRender: function (view, element) {
                        //    localStorage.setItem('calendarDefaultView',view.name);
                        //    $('.fc-toolbar .btn-primary').removeClass('btn-primary').addClass('btn-outline-secondary');
                    },
                });
            calendar.render();
        }

        //calenderRender(calendarEl);
    </script>
}