﻿
@{
    ViewBag.Title = "Economic Fishing Time";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/economicfishingtime";

}

<link href="~/Content/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
<style type="text/css">
    body, div, table, thead, tbody, tfoot, tr, th, td, p {
        font-family: "Arial";
        font-size: x-small
    }

    a.comment-indicator:hover + comment {
        background: #ffd;
        position: absolute;
        display: block;
        border: 1px solid black;
        padding: 0.5em;
    }

    a.comment-indicator {
        background: red;
        display: inline-block;
        border: 1px solid black;
        width: 0.5em;
        height: 0.5em;
    }

    comment {
        display: none;
    }
</style>
@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}
<div class="modal" id="afeModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row" id="content">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>Well Name</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <input type="text" class="form-control" id="well_name" name="well_name" data-text="well_name" data-field="well_name" required />
                    </div>
                </div>
            </div>

            <div class="panel-hdr">
                <h2>Tools ini hanya merupakan alat bantu engineer dan hasil tidak dapat digunakan sebagai acuan Untuk kegiatan perencanaan</h2>

            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <form id="formDrillingDeviation" class="needs-validation" novalidate>
                        <div id="panel-1" class="panel">
                            <div class="panel-hdr">
                                <h2 class="fw-700">Economic Fishing Time List</h2>
                            </div>
                            <div class="panel-container show">
                                <div class="panel-content page-loading-content">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <input hidden name="id" value="0" />
                                            <table class="table m-0 table-bordered" id="tableDrillingDeviation">
                                                <thead>
                                                    <tr>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">
                                                                        Component

                                                                    </span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="compontent_up_to_bottom" data-objectname="compontent_up_to_bottom" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>

                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                @*(°)*@
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Quantity</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="quantity" data-objectname="quantity" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>

                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">
                                                                        Cost LIH
                                                                        per EA
                                                                    </span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="cost_lih" data-objectname="cost_lih" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Cost (USD)</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="cost_usd" data-objectname="cost_usd" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Cumulative Cost</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="cum_cost" data-objectname="cum_cost" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Length</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="length_cs" data-objectname="length_cs" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Cumulative Length</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="cum_length" data-objectname="cum_length" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th class="pb-0">
                                                            <div class="input-group">
                                                                <div class="input-group-append border-0 p-0 uom-background ">
                                                                    <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Fish Method</span>
                                                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="fish" data-objectname="fish" value="" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                                                </div>
                                                            </div>
                                                        </th>

                                                        <th class="text-center fw-700">Act</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="no-data">
                                                        <td colspan="10" class="text-center">No data available. Add Row to input new data.</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="10" class="pl-0" style="border-left-color: transparent; border-bottom-color: transparent; border-right-color: transparent;">
                                                            <button type="button" class="btn btn-info btn-xs ml-auto ml-sm-0 waves-effect waves-themed btnClassInput" id="cloneDrillingDeviation">Add Row</button>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>


                    <table cellspacing="0" border="0">
                        <colgroup width="107"></colgroup>
                        <colgroup width="196"></colgroup>
                        <colgroup span="7" width="107"></colgroup>


                        <tr>
                            <td height="21" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=bottom bgcolor="#999999">No</td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#999999"><font face="Calibri"><br></font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#999999">A</td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#999999"><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="1" sdnum="1033;"><font face="Calibri">1</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Daily Cost</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="89408.3796774194">  <input type="text" class="form-control" id="dailycost" name="dailycost" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">USD</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="2" sdnum="1033;"><font face="Calibri">2</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">ROP</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="80" sdnum="1033;">  <input type="text" class="form-control" id="rop" name="rop" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">m/day</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="3" sdnum="1033;"><font face="Calibri">3</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Initial Depth</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="1000" sdnum="1033;">  <input type="text" class="form-control" id="initial_depth" name="initial_depth" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">m</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="4" sdnum="1033;"><font face="Calibri">4</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Final Depth</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="1251" sdnum="1033;">  <input type="text" class="form-control" id="final_depth" name="final_depth" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">m</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="5" sdnum="1033;"><font face="Calibri">5</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Cambria">Re-Drill Depth</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="251" sdnum="1033;">  <input type="text" class="form-control" id="redrilldepth" name="redrilldepth" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">m</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="6" sdnum="1033;"><font face="Calibri">6</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Days Re Drill</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="3.1375" sdnum="1033;">  <input type="text" class="form-control" id="days_redrill" name="days_redrill" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">days</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="7" sdnum="1033;"><font face="Calibri">7</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Plug Days</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="2" sdnum="1033;">  <input type="text" class="form-control" id="plugdays" name="plugdays" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">days</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="8" sdnum="1033;"><font face="Calibri">8</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">ST Days</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="3" sdnum="1033;">  <input type="text" class="form-control" id="stdays" name="stdays" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">days</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="9" sdnum="1033;"><font face="Calibri">9</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Milling Tools</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="0" sdnum="1033;">  <input type="text" class="form-control" id="millingtools" name="millingtools" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="10" sdnum="1033;"><font face="Calibri">10</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Cost Re Drill</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="727560.6896" sdnum="">  <input type="text" class="form-control" id="costredrill" name="costredrill" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">USD</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="11" sdnum="1033;"><font face="Calibri">11</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Fish Cost</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="548637.8" sdnum="">  <input type="text" class="form-control" id="fish_cost" name="fish_cost" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">USD</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="12" sdnum="1033;"><font face="Calibri">12</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle bgcolor="#BFBFBF"><font face="Cambria">Economic Days</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="right" valign=bottom sdval="14.27381297" sdnum="1033;0;0.00">  <input type="text" class="form-control" id="economic_days" name="economic_days" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Cambria">days</font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td height="21" align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=bottom bgcolor="#999999">No</td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#999999"><font face="Calibri"><br></font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom bgcolor="#999999">B</td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom bgcolor="#999999"><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="left" valign=middle><font face="Calibri"><br></font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font face="Cambria">Skenario Fishing</font></b></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom><b><font face="Cambria">Days</font></b></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="13" sdnum="1033;"><font face="Calibri">13</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Cambria">- Mechanical Backoff</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="2" sdnum="1033;"><input type="text" class="form-control" id="mechanical_backoff" name="mechanical_backoff" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="14" sdnum="1033;"><font face="Calibri">14</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=middle><font face="Cambria">- Plug Cementing</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="2" sdnum="1033;">  <input type="text" class="form-control" id="plug_cementing" name="plug_cementing" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign=middle sdval="15" sdnum="1033;"><font face="Calibri">15</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="middle"><font face="Cambria">- Sidetrack</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="2" sdnum="1033;">  <input type="text" class="form-control" id="side_track" name="side_track" data-text="fish" data-field="fish" required /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="21" align="center" valign="middle" sdval="16" sdnum="1033;"><font face="Calibri">16</font></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle><b><font face="Cambria">Total Waktu Atasi Jepitan</font></b></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="8.273812972" sdnum="1033;0;0.00">  <input type="text" class="form-control" id="total_waktu_jepitan" name="total_waktu_jepitan" data-text="fish" data-field="fish" readonly /></td>
                            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom><font face="Calibri"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                            <td align="left" valign=bottom><font face="Calibri" color="#000000"><br></font></td>
                        </tr>
                    </table>


                    <!-- Modal : TODO -->
                    <!-- Modal end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<div class="row" id="footer">
    <div class="col-md-12">
        <div id="panel-1" class="panel mb-1">
            <div class="panel-container show">
                <div class="form-group row mt-3 mb-1">
                    <div class="offset-lg-1 col-lg-4">
                        <button class="cmd">Generate PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    @*<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>*@

    <script src="~/Content/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/dteconomicfishing.time.index.js"></script>

    <script id="rowDrillingDeviationDaily-template" type="text/x-handlebars-template">
        <tr class="rowOperation" data-idx="{{idx}}">

            <td>
                <input type="hidden" name="deviation[{{idx}}].id" value="" />

                <input type="text" class="form-control" id="well_name" name="deviation[{{idx}}].compontent_up_to_bottom" data-text="compontent_up_to_bottom" data-field="well_name" required />

            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].quantity" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].cost_lih" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].cost_usd" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].cum_cost" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].length_cs" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <input type="text" class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{idx}}].cum_length" style="padding-left: 5px; padding-right: 2px;" required>
            </td>
            <td>
                <select class="form-control chart-type pl-0" id="deviation[{{idx}}].methodtype" name="deviation[{{idx}}].methodtype" data-field="answerone">
                    <option value="0">None</option>
                    <option value="1">Top Of Fish</option>

                </select>

            </td>

            <td class="text-center align-middle" style="vertical-align: middle;">
                <button href="javascript:void(0);" type="button" class="row-delete btn btn-danger btn-sm btn-icon waves-effect waves-themed rounded-0 btnClassInput" style="background-color: red; border-color: maroon;">
                    <i class="fal fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    </script>



    <script src="~/Content/js/dist/html2pdf.bundle.min.js"></script>

    <script>

        $('.cmd').click(function () {
            const element = document.getElementById("content");

            //var opt = {
            //     margin: 1,
            //   filename: 'DTStuckPipe.pdf',
            //   image: { type: 'jpeg', quality: 0.98 },
            //   html2canvas: { scale: 2 },
            //   jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
            // };

            var opt = {
                pagebreak: { mode: ['avoid-all', 'css', 'legacy'] },
                jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }

            };

            // New Promise-based usage:
            //   html2pdf().set({
            //    pagebreak: { mode: ['avoid-all', 'css', 'legacy'] }
            //});
            html2pdf().set(opt).from(element).save();

            // Old monolithic-style usage:
            // html2pdf(element, opt);
        });

    </script>
}