﻿
@{
    ViewBag.Title = "Mud Type";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/mudType";

}

<!--DataTables [ OPTIONAL ]-->
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<!-- Modal center -->
<div class="modal fade modal-remote" id="mudTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Page content-->
<!--===================================================-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/core/MudType/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                            data-toggle="modal-remote" data-target="#mudTypeModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listMudType" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Name</th>
                                <th style="width: 1px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody class=""></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<style>
    .pagination {
        background: white !important;
    }
</style>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/mudType.index.js?_@DateTime.Now"></script>
}
