﻿<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
<style>
    .invalid-feedback {
        color: red !important;
    }
</style>
<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Team Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-0" />
    <form id="form" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" /><br />
        <div class="panel-body" style="padding-bottom: 0px;">
            @*<div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-1 fw-700" for="business_unit_id">Anak Perusahaan Hulu<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link pt-1 fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important;">Click to choose a Business Unit</a>
                    <input type="hidden" id="business_unit_id" name="business_unit_id" data-field="business_unit_id" value="" />
                    <small class="invalid-feedback form-text fw-700 text-muted" id="business-unit-validation">Field APH is required</small>
                </div>
            </div>*@
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label fw-700" for="contract_no">Team Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="team_name" data-field="team_name" class="form-control form-control-sm fw-500" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button type="button" id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/team.detail.js?_@DateTime.Now"></script>