﻿@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/team";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<div class="modal" id="setupModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewData["Title"] List</h2>
                               
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/core/team/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                        data-toggle="modal-remote" data-target="#setupModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="page-loading-content" class="panel-body" style="min-height:300px" data-toggle="panel-overlay" data-target="#dt_team">
                        <table id="dt_team" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Team Name</th>
                                    @*<th>Anak Perusahaan Hulu</th>*@
                                    <th style="width: 1px;">Status</th>
                                    <th style="width: 170px;">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<script id="role-template" type="text/x-handlebars-template">
    {{#each items}}
    <div class="card pl-3 pt-3 mb-1 w-100">
        <span>{{role_name}}</span>
        <div class="demo mt-2 role-id" data-id="{{id}}">
            <a class="btn btn-light waves-effect waves-themed row-edit">Edit</a>
            <a class="btn btn-danger waves-effect waves-themed row-delete">Delete</a>
            <a href="@Url.Content("~/Core/ApplicationRole/RoleAccess?id="){{id}}" class="btn btn-success waves-effect waves-themed">Role Access</a>
            <a href="@Url.Content("~/Core/ApplicationRole/Member?id="){{id}}" class="btn btn-info waves-effect waves-themed">Member</a>
            <a href="@Url.Content("~/Core/ApplicationRole/Menu?id="){{id}}" class="btn btn-primary waves-effect waves-themed">Setup Menu</a>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/team.index.js?_@DateTime.Now"></script>
}