﻿@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/team";

}

@section PageBreadCrumb{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb page-breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
                <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
            </ol>
        </div>
    </div>
}

@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <button class="btn btn-primary mb-md-3" id="btn-addNew">Add New</button>
        <div class="well well-sm panel-hdr mb-md-3 table-bordered">
            <h2>Team Role</h2>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12 no-gutters">
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <div id="page-loading-content" class="panel-body" style="min-height:300px" data-toggle="panel-overlay" data-target="#dt_team">
                        <div class="panel-tag mb-3">
                            Choose a team from team list to assign as role
                        </div>

                        <div class="">
                            <label class="form-label">Team Available</label>
                            <div class="input-group input-group-sm bg-white shadow-inset-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                        <i class="fal fa-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control border-left-0 bg-transparent pl-0" name="term" placeholder="Type here...">
                                <div class="input-group-append">
                                    <button class="btn btn-default waves-effect waves-themed" type="button" id="btn-search-user">Search</button>
                                </div>
                            </div>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-user-content"></ul>
                        </nav>

                        <!--User List-->
                        <ul id="page-user-content" class="list-group">

                        </ul>

                        <!--User List Empty-->
                        <div class="alert alert-success" id="page-user-content-no_record" style="display:none">
                            <strong>Information</strong> No records found.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-lg-6 col-md-12 no-gutters">
        <div id="data-content" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="table-responsive" id="table-data">
                        <input hidden id="recordId" value="@ViewBag.recordId" />
                        <table id="dt_basic" class="table table-striped table-bordered " cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width: 1px;">No.</th>
                                    <th>Role Name</th>
                                    <th class="min-desktop" style="width: 1px;">Active</th>
                                    <th width="80px" class="min-desktop">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--===================================================-->
<!--End page content-->
<script id="member-template" type="text/x-handlebars-template">
    {{#each items}}
    <li class="list-group-item">
        <a href="javascript:void(0)" class="row-selected" data-id="{{id}}">
            <div class="media-left pos-rel">
            </div>
            <div class="media-body">
                <h5>{{role_name}}</h5>
                @*<small class="text-muteds">{{organization_name}}</small>*@
            </div>
        </a>    
    </li>
    {{/each}}
</script>


@section scripts{
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/team.role.js?_@DateTime.Now"></script>
}