﻿@{
    ViewBag.Title = "Field";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/field";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<!--Bootstrap Modal without Animation-->
<!--===================================================-->
<div class="modal" id="FieldModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-Field">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Field Setup</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <form id="form-Field">
                    <input hidden id="recordId" name="id" data-field="id" />
                    <div class="panel-body">
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 control-label">Field Name<span class="text-danger"> *</span></label>
                            <div class="col-sm-9">
                                <input type="text" name="field_name" data-field="field_name" id="field_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row mt-0">
                            <div class="offset-md-3 col-sm-9">
                                <button id="btn-save" class="btn btn-primary">Save</button>
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                        <script src="~/Areas/Core/Scripts/afe.detail.js"></script>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-info btn-sm">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <!-- datatable start -->
                    <div id="" @*class="dataTables_wrapper dt-bootstrap4"*@>
                        <table id="dt_field" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 1px;">No.</th>
                                    <th>Field Name</th>
                                    <th class="text-center" style="width: 1px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/field.index.js?_@DateTime.Now"></script>

}