﻿
<div class="panel-container show">
    <div class="panel-content page-loading-content">
        <div class="row">
            <div class="col-lg-12">
                <table class="table m-0 table-bordered" id="tableActualInformation">
                    <thead>
                        <tr>
                            <th class="text-center fw-700 pb-0 pl-0" style="width: 35%">
                                <div class="input-group">
                                    <span class="input-group-text no-radius border-0 fw-700 pr-2" style="background: transparent;">Depth</span>
                                    <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-700" id="measure_depth_uom" data-objectname="Measured Depth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                </div>
                            </th>
                            <th class="text-center fw-700">Formation</th>
                            <!-- <th class="text-center fw-700">Stone</th> -->
                        </tr>


                    </thead>
                    <tbody>
                        <tr class="no-data">
                            <td colspan="5" class="text-center">No data available.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="ActualLithology-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="no-data">
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric text-center" name="deviation_inclination" value="{{depth}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric text-center" name="deviation_inclination" value="{{formation_data}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <!--
        <td class="p-1">
            <button type="button" id="btnlithology[]" data-href="@Url.Content("/Core/Drilling/ReadLithology?well_id=" + ViewBag.wellId + "&drilling_id=" + ViewBag.recordId)" class="modalTrigger btn btn-sm btn-warning waves-effect waves-themed fw-500 btnClassInput text-center"
                    data-toggle="modal-remote" data-target="#setLithologyModal">
                <span class="fal fa-eye"></span>
            </button>
        </td>
        -->
    </tr>

    {{/each}}
</script>

    <script>
         $('#setLithologyModal').on('show.bs.modal', function (event)
         {
             //$(this).data('id')
             var button = $(event.relatedTarget); // Button that triggered the modal
             var buttonbaru = $(this).attr('data-id');
             // alert("relatedTarget is: " + event.relatedTarget);
             console.log("my first info " + button);
             console.log("button yang ke get " + buttonbaru);
             var id = button.data('id') // Extract info from data-* attributes
             var formationUnit = document.getElementsByName('formationUnit[]');
             var depthactual = document.getElementsByName('depthActual[]');
             console.log("iniadalah log formation");
             console.log("isi nya adlah " + formationUnit + " datanyaadlah" + depthactual);


             console.log("my value " + id);
             for (var i = 0; i < formationUnit.length; i++) {
                 var a = formationUnit[i];
                 var  k = k + "formationUnit[" + i + "].value= "
                     + a.value + " ";


                 console.log("nilai k " + k);
             }


             for (var i = 0; i < depthactual.length; i++) {
                 var a = depthactual[i];
                 var k = k + "depthactual[" + i + "].value= "
                     + a.value + " ";


                 console.log("nilai actual " + k);
             }

         });
    </script>
