﻿<div class="row">
    <div class="col-md-12 p-0">
        <div class="card-body p-0">
            <div id="panel-1" class="panel">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <div class="col-lg-12 mt-3">
                            <div class="form-group row mb-2">
                                <label class="col-lg-1 col-md-2 col-sm-3 col-form-label fw-700">BHA</label>
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <select class="form-control form-control-sm" id="well_bha_id" data-field="well_bha_id" data-text="bha_no" placeholder=""></select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-lg-1 col-md-2 col-sm-3 col-form-label fw-700">BIT</label>
                                <div class="col-lg-4 col-md-6 col-sm-8">
                                    <select class="form-control form-control-sm" id="well_bit_id" data-field="well_bit_id" data-text="bit_number" placeholder=""></select>
                                </div>
                            </div>
                        </div>
                        <!-- Modal : TODO -->
                        <!-- Modal end -->

                        <div class="col-lg-12 mt-4 mb-3" id="BhaComponentContent" style="display: none;">
                            <label class="fw-700">BHA and BIT Details</label>
                            <table class="table table-bordered table-hover m-0" id="tableBhaComponent">
                                <thead class="thead-themed">
                                    <tr>
                                        <th class="text-center fw-700 p-2" style="width: 13%;">Image</th>
                                        <th class="text-center fw-700">Component</th>
                                        <th class="text-center fw-700" style="width: 10%;">ID (inch)</th>
                                        <th class="text-center fw-700" style="width: 10%;">OD (inch)</th>
                                        <th class="text-center fw-700" style="width: 10%;">Length (m)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="no-data" style="display: none;">
                                        <td colspan="7" class="text-center">There is no data available.</td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr class="no-data" style="display: none;">
                                        <td colspan="7" class="text-center">There is no data available.</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion" id="bha-directionalSurvey" style="border-bottom: 1px solid #e7e7e7">
            <div class="card">
                <div class="card-header">
                    <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#bha-directionalSurveyContent" aria-expanded="true">
                        Directional Survey
                    </a>
                </div>
                <div id="bha-directionalSurveyContent" class="collapse" data-parent="#bha-directionalSurvey">
                    <div class="card-body">
                        <table class="table table-bordered table-hover m-0" id="tableDeviationData">
                            @*<thead class="thead-themed">
                                    <tr>
                                        <th>Drilling Date</th>
                                        <th>Measure Depth (mku)</th>
                                        <th>Incliation (deg)</th>
                                        <th>Azimuth (deg)</th>
                                        <th>TVD (mkt)</th>
                                        <th>Vertical Section (m)</th>
                                        <th>DLS / 30 m</th>
                                    </tr>
                                </thead>*@
                            <thead>
                                <tr>
                                    <th class="pb-0 align-middle">Drilling&nbsp;Date</th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Measured Depth</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="measure_depth_uom" data-objectname="Measured Depth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>

                                    <th class="pb-0">
                                        <div class="input-group">

                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Inclination</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="inclination_uom" data-objectname="Inclination" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>

                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Azimuth</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="azimuth_uom" data-objectname="Azimuth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">TVD</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="tvd_uom" data-objectname="TVD" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">V Section</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="v_section_uom" data-objectname="V Section" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">N/S</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="ns_uom" data-objectname="N/S" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">E/W</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="ew_uom" data-objectname="E/W" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">DLS</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="dls_uom" data-objectname="DLS" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-left fw-700">Survey Tool</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="no-data">
                                    <td colspan="7" class="text-center">There is no data available.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel-1" class="panel mt-5" style="display: none;">
            <div class="panel-hdr">
                <h2>Audit Data List</h2>
                <div class="panel-toolbar">
                    <div class="input-group" style="width: 350px;">
                        <select type="text" class="form-control form-control-sm" id="drilling_bha_id" placeholder="" required="" data-select2-id="well_id" tabindex="-1" aria-hidden="true"></select>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <div id="calendar">
                        <div class="panel-tag">Please choose well first</div>
                    </div>
                    <!-- Modal : TODO -->
                    <!-- Modal end -->
                </div>
            </div>
        </div>
    </div>
</div>

<script id="drillingDeviationBha-template" type="text/x-handlebars-template">
    {{#each data}}
    @*<tr>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext" readonly value="{{dateFormat drilling_date}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{measured_depth}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{inclination}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{azimuth}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{tvd}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{v_section}}"></td>
            <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{dls}}"></td>
        </tr>*@

    <tr class="row-record">
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" value="{{dateFormat drilling_date}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].measured_depth" value="{{measured_depth}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].inclination" value="{{inclination}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].azimuth" value="{{azimuth}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].tvd" value="{{tvd}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].v_section" value="{{v_section}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].n_s" value="{{n_s}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control  form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].e_w" value="{{e_w}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].dls" value="{{dls}}" style="background-color: white;">
        </td>
        <td class="p-1">
            <input type="text" class="form-control form-control-plaintext numeric-money p-1" readonly data-inputmask="'alias': 'currency'" im-insert="true" name="deviation[{{@@index}}].survey_tool" value="{{survey_tool}}" style="background-color: white;">
        </td>
    </tr>
    {{/each}}
</script>

<script id="bhaComponent-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        @*<td class="pt-0 pb-0 text-center"><img style="width:80px" src="@string.Format("{0}/{1}",Dreamwell.Infrastructure.Options.DreamwellSettings.ApiServerUrl,"/Core/GetFile/MinIO/GetImage?d="){{image_id}}" /></td>*@
        <td class="pt-0 pb-0 text-center"><img style="width:80px" src="/UploadBHAPath/{{bha_component_id}}.png" /></td>
        <td class="fw-700 align-middle"><input type="text" class="form-control-plaintext" readonly value="{{component_name}}"></td>
        <td class="text-center fw-700"><input type="text" class="form-control-plaintext text-center numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{n_id}}"></td>
        <td class="text-center fw-700"><input type="text" class="form-control-plaintext text-center numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{n_id}}"></td>
        <td class="text-center fw-700"><input type="text" class="form-control-plaintext text-center numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{length}}"></td>
    </tr>
    {{/each}}
    @*
        <tr>
        <td class="pt-0 pb-0 text-center"><img style="width:80px" src="@string.Format("{0}/{1}",Dreamwell.Infrastructure.Options.DreamwellSettings.ApiServerUrl,"/Core/GetFile/MinIO/GetImage?d="){{image_id}}" /></td>
        <td class="pt-0 pb-0 text-center"><img style="width:80px" src="" /></td>
        <td class="text-left fw-700 align-middle" colspan="3">Bit No: <span id="well_bit_number"></span></td>
        <td class="text-center fw-700"></td>
        </tr>
    *@
</script>

<script id="totalBha-template" type="text/x-handlebars-template">
    <tr>
        <td></td>
        <td class="text-right fw-700 align-middle" colspan="3">TOTAL BHA</td>
        @*
            <td class="text-center fw-700"><input type="text" class="form-control-plaintext text-center fw-700 numeric-money" data-inputmask="'alias': 'currency'" readonly id="totalBhaComponentLength">{{total_bha}}</td>
        *@
        <td class="text-center fw-700">{{totalBha}}</td>
    </tr>
</script>
