﻿<div class="panel-container show">
    <div class="panel-content page-loading-content">
        <!-- Modal : TODO -->
        <!-- Modal end -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table m-0 table-bordered" id="tableBulk">
                    <thead>
                        <tr>
                            <th class="text-center fw-700">Item</th>
                            <th class="text-center fw-700">Previous</th>
                            <th class="text-center fw-700">Consumed</th>
                            <th class="text-center fw-700">Received</th>
                            <th class="text-center fw-700">Balance</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="drillingBulk-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td class="p-1 align-middle">{{item_name}}</td>
        <td class="p-1">{{previous}}</td>
        <td class="p-1">{{consumed}}</td>
        <td class="p-1">{{received}}</td>
        <td class="p-1">{{balance}}</td>
    </tr>
    {{/each}}
</script>
