﻿<style>
    .text-danger {
        color: red !important;
    }
</style>
<div class="row">
    <div class="col-md-12 p-0">
        <div id="bha-directionalSurveyContent" class="collapse show" data-parent="#bha-directionalSurvey">
            <div class="card-body">
                <table class="table table-bordered table-hover m-0" id="tableDailyCost">
                    <thead class="thead-themed">
                        <tr>
                            <th class="align-middle p-2 text-center" rowspan="2" style="width: 70%;">Description</th>
                            <th class="text-center p-2" colspan="2">Budget</th>
                        </tr>
                        <tr>
                            <th class="text-center p-2">Plan</th>
                            <th class="text-center p-2">Actual</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="drillingDeviation-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext" readonly value="{{dateFormat drilling_date}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{measured_depth}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{inclination}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{azimuth}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{tvd}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{v_section}}"></td>
        <td class="p-1 pl-3"><input type="text" class="form-control-plaintext numeric-money" data-inputmask="'alias': 'currency'" readonly value="{{dls}}"></td>
    </tr>
    {{/each}}
</script>