﻿﻿@{
    ViewBag.Title = "Well Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/WellData/Detail";

}
<link href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/css/statistics/c3/c3.css" rel="stylesheet" />



@section PageBreadCrumb{
    <input hidden id="id" value="@ViewBag.wellId" />
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/Dashboard")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/WellData/Detail")">Detail</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {
    <!--===================================================-->
    <!--Start page content-->
    <div class="row">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content p-2">
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile" role="tab">Profile</a></li>
                            <li class="nav-item" id="btnShowTrajectory"><a class="nav-link" data-toggle="tab" href="#trajectory" role="tab">Trajectory</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#TVD" role="tab">Time vs Depth</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#DDR" role="tab">DDR</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#BHA" role="tab">BHA Details</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#dailycost" role="tab">Daily Cost</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#PVD" role="tab">Plan Time vs Depth & Cost</a></li>
                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane" id="profile" role="tabpanel">
                                @Html.Partial("~/Areas/UTC/Views/WellData/WellProfile.cshtml")
                            </div>
                            <div class="tab-pane" id="trajectory" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<button type="button" class="btn btn-info btn-sm text-right" id="btnShowTrajectory">Show Detail</button>
                                            <div class="custom-control d-flex custom-switch">
                                                <input id="eventlog-switch-1" type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label fw-500" for="eventlog-switch-1">Scaling</label>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-12" data-aspect-ratio="true" id="trajectory3d" style="width:100%;height: 750px"></div>
                                <div class="text-center">
                                    <h3>Keterangan :</h3>
                                    <div class="row justify-content-center">
                                        <h4><span style="color: blue;">Line Biru Plan</span></h4>
                                        <h4>&nbsp;||&nbsp;</h4>
                                        <h4><span style="color: red;">Line Merah Actual</span></h4>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane" id="TVD" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id='tvdchart'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="DDR" role="tabpanel">
                                <div class="form-group row">
                                    <div class="col-12 col-lg-4 right">
                                        <div class="input-group">
                                            <input type="text" class="form-control" data-format="MM/dd/yyyy" id="datepicker-3">
                                            <div class="input-group-append">
                                                <span class="input-group-text fs-xl">
                                                    <i class="fal fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="frame-wrap w-100" id="slimtest2">
                                    <div class="accordion" id="js_demo_accordion-4">
                                        <div class="panel-tag content-alert">Please choose data to show drilling data.</div>




                                        <div class="content" style="display: none;">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-4a" aria-expanded="true">
                                                        General Well Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4a" class="collapse show" data-parent="#js_demo_accordion-4">
                                                    <div id="panel-6" class="panel">

                                                        <div class="panel-container show">
                                                            <div class="panel-content">
                                                                <table class="table m-0" id="tableWellDDR">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="bg-primary-400 text-left">Report Number</th>
                                                                            <th colspan="4">
                                                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="report_no" disabled>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4b" aria-expanded="false">
                                                        Operations Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4b" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/OperationsData.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4c" aria-expanded="false">
                                                        HSSE
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4c" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/HsseView.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4e" aria-expanded="false">
                                                        BIT & BHA Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4e" class="collapse p-3" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/BhaAndBit.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4d" aria-expanded="false">
                                                        Hole & Casing Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4d" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/HoleandCasing.cshtml")
                                                </div>
                                            </div>

                                            <!-- BHA and BIT --->
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4o" aria-expanded="false">
                                                        Actual Lithology
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4o" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/ActualLithology.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4g" aria-expanded="false">
                                                        Deviation Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4g" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/Deviation_data.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4h" aria-expanded="false">
                                                        Mud Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4h" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/Mud_data.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4i" aria-expanded="false">
                                                        Bulk Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4i" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/Bulk_data.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4j" aria-expanded="false">
                                                        Transport/Shipping Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4j" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/Transport_Shipping_data.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4k" aria-expanded="false">
                                                        Weather Data
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4k" class="collapse" data-parent="#js_demo_accordion-4">
                                                    @Html.Partial("~/Areas/UTC/Views/WellData/Weather_data.cshtml")
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="javascript:void(0);" class="card-title collapsed" data-toggle="collapse" data-target="#js_demo_accordion-4l" aria-expanded="false">
                                                        Personal On Board
                                                        <span class="ml-auto">
                                                            <span class="collapsed-reveal">
                                                                <i class="fal fa-minus-circle text-danger fs-xl"></i>
                                                            </span>
                                                            <span class="collapsed-hidden">
                                                                <i class="fal fa-plus-circle text-success fs-xl"></i>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div id="js_demo_accordion-4l" class="collapse" data-parent="#js_demo_accordion-4">
                                                    <div class="panel-container show">
                                                        <div class="panel-content page-loading-content">
                                                            <!-- Modal : TODO -->
                                                            <!-- Modal end -->
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <table class="table m-0 table-bordered" id="tableDrillingPersonel">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center fw-700">Job Title</th>
                                                                                <th class="text-center fw-700">Personel</th>
                                                                                <th class="text-center fw-700">Company</th>
                                                                                <th class="text-center fw-700">Pax</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="no-data">
                                                                                <td colspan="5" class="text-center">No data available</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dailycost" role="tabpanel">
                                @Html.Partial("~/Areas/UTC/Views/WellData/DailyCost.cshtml")

                            </div>

                            <div class="tab-pane" id="BHA" role="tabpanel">
                                @Html.Partial("~/Areas/UTC/Views/WellData/Bha.cshtml")
                            </div>
                            <div class="tab-pane" id="PVD" role="tabpanel">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card m-auto border mb-g">
                                            <div class="card-body position-relative">
                                                <div class="d-flex position-absolute pos-left pos-right mt-5 align-items-center justify-content-center" style="z-index:1">
                                                    <div id="message" class="bg-fusion-100 rounded"></div>
                                                </div>
                                                <div class="panel-container show">
                                                    <div class="panel-content page-loading-content">
                                                        <!-- Modal : TODO -->
                                                        <!-- Modal end -->
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <table class="table m-0 table-bordered" id="tablePlanVsCost">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center width-10">No</th>
                                                                            <th class="text-center fw-700">Actiity</th>
                                                                            <th class="text-center fw-700">Depth</th>
                                                                            <th class="text-center fw-700">Time (Hrs)</th>
                                                                            <th class="text-center fw-700">Cumulative Time (Days)</th>
                                                                            <th class="text-center fw-700">Cost (USD)</th>
                                                                            <th class="text-center fw-700">Cumulative Cost (USD)</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr class="no-data">
                                                                            <td colspan="7" class="text-center">No data available</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End page cintent-->
}

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/plugins/easyUI/easyloader.js?_@DateTime.Now"></script>
    <script src="~/Content/plugins/highcharts/highcharts.js"></script>
    <script src="~/Areas/UTC/Scripts/wellData.detail.js?t=@DateTime.Now"></script>
    <script src="~/Content/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/3dplugin/main_well.js"></script>
    @*<script src="~/Content/js/vendors.bundle.js"></script>
        <script src="~/Content/js/app.bundle.js"></script>*@
    <script src="~/Content/js/statistics/c3/c3.js"></script>
    <script src="~/Content/js/statistics/d3/d3.js"></script>

    @*<script>
            $(document).ready(function () {
                $('#slimtest2').slimScroll(
                    {
                        position: 'left',
                        height: 'auto',
                        railVisible: true,
                        alwaysVisible: true
                    });

            });

        </script>*@



    <script id="readDrillingPersonel-template" type="text/x-handlebars-template">
        {{#each data}}
        <tr class="rowPersonel">
            <td class="jobPersonel">{{job_title}}</td>
            <td class="">{{personel}}</td>
            <td>{{company}}</td>
            <td>{{pax}}</td>
        </tr>
        {{/each}}
    </script>

    <script id="wellData-template" type="text/x-handlebars-template">

        <tr>
            <td class="bg-primary-100 text-left align-middle p-1 pl-2" style="width: 12%;">Well Name</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="wellname" value="{{well_name}}" disabled>
            </td>
            <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">Target Direction</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="target_direction" value="{{target_direction}}" disabled>
            </td>
            <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">AFE Number</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="afe_no" value="{{afe_no}}" disabled>
            </td>
            <td class="bg-primary-100 text-left align-middle p-1" style="width: 12%;">Spud Date</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="spud_date" value="{{spud_date}}" disabled>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Country</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="country_name" value="{{country_name}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Type</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_type" value="{{rig_type}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">AFE Cost</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="afe_cost" value="{{afe_cost}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="afe_cost_uom" data-objectname="afe_cost_uom TD" value="USD" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Date</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="created_on" value="{{created_on}}" disabled>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Field</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="field_name" value="{{field_name}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Name</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_name" value="{{rig_name}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Daily Cost</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="daily_cost" value="{{daily_cost}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Hole SIze</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_hole_size" value="{{current_hole_size}} {{current_hole_size_uom}}" disabled>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Well Type</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="well_type" value="{{well_type}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Rating</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_rating" value="{{rig_rating}} {{rig_rating_uom}}" disabled>

                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rig_rating_uom" data-objectname="Rig Rating" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Cummulative Cost</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="cummulative_cost" value="{{cummulative_cost}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Previous Depth MD</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="previous_depth_md" value="{{previous_depth_md}} {{previous_depth_md_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="previous_depth_md_uom" data-objectname="Previous Depth MD" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Latitude</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="latitude" value="{{latitude}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Water Depth</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="water_depth" value="{{water_depth}} {{water_depth_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="water_depth_uom" data-objectname="Depth" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Planned TD</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="planned_td" value="{{planned_td}} {{planned_td_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="planned_td_uom" data-objectname="Planned TD" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Previous Depth TVD</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="previous_depth_tvd" value="{{previous_depth_tvd}} {{previous_depth_tvd_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="previous_depth_tvd_uom" data-objectname="Previous Depth TVD" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Longitude</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="longitude" value="{{longitude}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">RKB Elevation</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rkb_elevation" value="{{rkb_elevation}} {{rkb_elevation_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rkb_elevation_uom" data-objectname="RKB Elavation" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Planned Days</td>
            <td class="p-1">

                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="planned_days" value="{{planned_days}} {{planned_days_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="planned_days_uom" data-objectname="Planned days" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Depth md</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_depth_md" value="{{current_depth_md}} {{current_depth_md_uom}}" disabled>

                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="current_depth_md_uom" data-objectname="Current Depth MD" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Event</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="event" value="{{event}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">RT to Seabed</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rt_to_seabed" value="{{rt_to_seabed}} {{rt_to_seabed_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="rt_to_seabed_uom" data-objectname="RT to Seabed" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">DOL</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="dol" value="{{dol}} {{dol_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="dol_uom" data-objectname="DOL" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Current Depth</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="current_depth_tvd" value="{{current_depth_tvd}} {{current_depth_tvd_uom}}" disabled>
            </td>
        </tr>
        <tr>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Drilling Contractor</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="contractor_name" value="{{contractor_name}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Rig Heading</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="rig_heading" value="{{rig_heading}}" disabled>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">DFS</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="dfs" value="{{dfs}} {{dfs_uom}}" disabled>
                <div class="input-group-append">
                    <input type="text" class="form-control-plaintext fw-400 pl-2 uom-definition" id="dfs_uom" data-objectname="DFS" value="-" readonly="" style="background-color: #f3f3f3">
                </div>
            </td>
            <td class="bg-primary-400 text-left align-middle p-1 pl-2" style="width: 12%;">Progress</td>
            <td class="p-1">
                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="progres" value="{{progres}} {{progress_uom}}" disabled>
            </td>
        </tr>

    </script>

    <script id="planVsCost-tempalte" type="text/x-handlebars-template">
        {{#each data}}
        <tr class="no-data">
            <td>{{no}}</td>
            <td>{{activity}}</td>
            <td>{{depth}}</td>
            <td>{{hour}}</td>
            <td>{{days}} Days</td>
            <td>{{cost}}</td>
            <td>{{cumm_cost}}</td>
        </tr>
        {{/each}}
    </script>


}


