﻿<div class="panel-container show">
    <form id="formDrillingDeviation">
        <div class="panel-content page-loading-content">
            <!-- Modal : TODO -->
            <!-- Modal end -->
            <div class="row">
                <div class="col-lg-12">
                        <table class="table m-0 table-bordered" id="tableDrillingDeviation">
                            <thead>
                                <tr>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Measured Depth</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="measure_depth_uom" data-objectname="Measured Depth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>

                                    <th class="pb-0">
                                        <div class="input-group">
                                            @*(°)*@
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Inclination</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="inclination_uom" data-objectname="Inclination" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>

                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">Azimuth</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="azimuth_uom" data-objectname="Azimuth" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">TVD</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="tvd_uom" data-objectname="TVD" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">V Section</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="v_section_uom" data-objectname="V Section" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">N/S</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="ns_uom" data-objectname="N/S" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">E/W</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="ew_uom" data-objectname="E/W" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="pb-0">
                                        <div class="input-group">
                                            <div class="input-group-append border-0 p-0 uom-background ">
                                                <span class="input-group-text no-radius border-0 fw-700 pr-1 pl-0" style="background: white;">DLS</span>
                                                <input type="text" class="form-control-plaintext uom-definition border-0 text-left fw-500 pt-2" id="dls_uom" data-objectname="DLS" value="(-)" readonly="" style="border: 1px solid #ccc; background-color: white;">
                                            </div>
                                        </div>
                                    </th>
                                    <th class="text-left fw-700">Survey Tool</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </form>
</div>

<script id="drillingDeviation-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="no-data">
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_measured_depth" value="{{measured_depth}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_inclination" value="{{inclination}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_azimuth" value="{{azimuth}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_tvd" value="{{tvd}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_v_section" value="{{v_section}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_n_s" value="{{n_s}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_e_w" value="{{e_w}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_dls" value="{{dls}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
        <td class="p-1">
            <input type="text" readonly="readonly" class="form-control-plaintext numeric" name="deviation_survey_tool" value="{{survey_tool}}" style="padding-left: 5px; padding-right: 2px;">
        </td>
    </tr>
    {{/each}}
</script>
