﻿<div class="card-body">
    <form id="formHSSE" class="needs-validation" novalidate>
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <!-- Modal : TODO -->
                    <!-- Modal end -->
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table m-0 table-bordered" id="tableHSSEData">
                                <thead>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Incident / Acident">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_incident_acident" data-field="hsse_incident_acident" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Safety Meeting">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_safety_meeting" data-field="hsse_safety_meeting" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="T-BOP Press">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_tbop_press" name="hsse_tbop_press" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Environtmental Spills">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_environtmental_spills" data-field="hsse_environtmental_spills" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="STOP Cards">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_stop_cards" data-field="hsse_stop_cards" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="T-BOP Func">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_tbop_func" name="hsse_tbop_func" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Safety Alert Received">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_safety_alert_received" data-field="hsse_safety_alert_received" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="TOFS">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_tofs" data-field="hsse_tofs" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-Kick">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" name="hsse_dkick" data-field="hsse_dkick" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Proactive Safety">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_proactive_safety" data-field="hsse_proactive_safety" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="JSA">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_jsa" data-field="hsse_jsa" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-Strip">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_dstrip" name="hsse_dstrip" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Near Miss Report">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_near_miss_report" data-field="hsse_near_miss_report" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Inductions">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_inductions" data-field="hsse_inductions" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-Fire">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" name="hsse_dfire" data-field="hsse_dfire" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Exercise">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_exercise" data-field="hsse_exercise" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Audits">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_audits" data-field="hsse_audits" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-Mis. Pers.">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_dmis_pers" name="hsse_dmis_pers" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Social Issues">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_social_issues" data-field="hsse_social_issues" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Days Since LTI">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hsse_days_since_lti" data-field="hsse_days_since_lti" style="padding-left: 5px; padding-right: 2px;">
                                        </td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-Aband. Rig">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_aband_rig" name="hsse_aband_rig" disabled>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="p-1 pl-3 text-center" colspan="4"></td>
                                        <td class="p-1 pl-2 text-center">
                                            <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="D-H2S">
                                        </td>
                                        <td class="p-1">
                                            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-field="hsse_dh2s" name="hsse_dh2s" disabled>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>