﻿
@{
    ViewBag.Title = "Well Data";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = string.Format("{3}//UTC/{0}/WellData?field={1}&name={2}", ViewBag.BusinessUnitRoute, ViewBag.fieldId, ViewBag.fieldName,
        Dreamwell.Infrastructure.Options.DreamwellSettings.WebServerUrl);

}
<link href="~/Content/css/miscellaneous/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
<link href="~/Content/plugins/nestable-list/nestable-list.min.css" rel="stylesheet" />
<style>
    .dd-list .dd-list>.dd-item {
        padding-left: 30px;
    }
    
    .dd3-handle:before {
        top: 15px;
    }
</style>

@section PageBreadCrumb {
    <input hidden id="field_id" value="@ViewBag.fieldId" />
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/UTC/PHE/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700">@ViewBag.Title</li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.fieldName</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<!--===================================================-->
<!--Start page content-->
<div id="panel-1" class="panel">
    <div class="panel-hdr pt-3 pb-2">
        @*<div class="col-lg-12">
                <div class="row mb-3">
                    <div class="col-xl-12">
                        <div class="border-faded bg-faded p-3 d-flex">
                            <input type="text" id="js-filter-contacts" name="filter-contacts" class="form-control shadow-inset-2 form-control-md" placeholder="Filter contacts">
                            <div class="btn-group btn-group-md btn-group-toggle hidden-md-down ml-3" data-toggle="buttons">
                                <label class="btn btn-default active">
                                    <input type="radio" name="contactview" id="grid" checked="" value="grid"><i class="fas fa-table"></i>
                                </label>
                                <label class="btn btn-default">
                                    <input type="radio" name="contactview" id="table" value="table"><i class="fas fa-th-list"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pb-3" id="js-contacts">

                </div>
            </div>*@
        <h4>Well List</h4>
    </div>
    <div class="panel-body p-3">
        <div class="row">
            <div class="col-md-12">
                <div id="demo-nestable-theme-4" class="dd">
                    <ol class="dd-list" id="list-item">
                        <li class="dd-item dd3-item" data-id="{{id}}" data-index="{{order_index}}" style="height: 60px;">
                            <div class="dd-handle dd3-handle" style="height: 60px;"></div>
                            <div class="dd3-content" style="height: 60px; padding-top: 20px;">
                                <span>There is no Well Available</span>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->
<script id="status-template" type="text/x-handlebars-template">
    {{#each data}}
    <li class="dd-item" data-id="Item 2">
        <div class="dd-handle dd3-handle" style="height: 60px;"></div>
        <div class="dd3-content" style="height: 60px; padding-top: 12px;">
            <div class="pull-right" style="margin-top: 2px;position: absolute;right: 10px;">
                <a data-id="{{id}}" href="@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/WellData/Detail")?wellId={{id}}" class="btn btn-info btn-sm text-semibold btn-edit">Details</a>
            </div>
            <span>{{text}}</span> <br />
            <span class="text-info">{{wellType type}}</span>
        </div>
        <ol class="dd-list">
            {{#each children}}
            <li class="dd-item  dd3-item" data-id="Item 3">
                <div class="dd-handle dd3-handle" style="height: 60px; margin-left: 30px;"></div>
                <div class="dd3-content" style="height: 60px; padding-top: 12px;">
                    <div class="pull-right" style="margin-top: 2px;position: absolute;right: 10px;">
                        <a data-id="{{id}}" href="@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/WellData/Detail")?wellId={{id}}" class="btn btn-info btn-sm text-semibold btn-edit">Details</a>
                    </div>
                    <span>{{text}}</span> <br />
                    <span class="text-info">{{wellType type}}</span>
                </div>
            </li>
            {{/each}}
        </ol>
    </li>
    {{/each}}
</script>

@section scripts{

    <script src="~/Content/js/miscellaneous/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Content/plugins/nestable-list/jquery.nestable.js"></script>
    <script>
        $(document).ready(function () {
            'use strict';

            $('input[type=radio][name=contactview]').change(function () {
                if (this.value == 'grid') {
                    $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-g');
                    $('#js-contacts .col-xl-12').removeClassPrefix('col-xl-').addClass('col-xl-4');
                    $('#js-contacts .js-expand-btn').addClass('d-none');
                    $('#js-contacts .card-body + .card-body').addClass('show');

                }
                else if (this.value == 'table') {
                    $('#js-contacts .card').removeClassPrefix('mb-').addClass('mb-1');
                    $('#js-contacts .col-xl-4').removeClassPrefix('col-xl-').addClass('col-xl-12');
                    $('#js-contacts .js-expand-btn').removeClass('d-none');
                    $('#js-contacts .card-body + .card-body').removeClass('show');
                }

            });

            //initialize filter
            initApp.listFilter($('#js-contacts'), $('#js-filter-contacts'));

            var pageFunction = function () {
                var $fieldId = $('input[id=field_id]').val();
                console.log($fieldId);
                //alert($('input[id=field_id]').val());
                function loadData() {
                    var params = {
                        "pageSize": 100,
                        "filter": {
                            "logic": "OR",
                            "filters": [
                                {
                                    "field": "field_id",
                                    "operator": "eq",
                                    "value": $("input[id = field_id]").val()
                                }
                            ]
                        }
                    };

                    $.post($.helper.resolveApi('~/core/well/lookup'), JSON.stringify(params), function (r) {
                        //console.log(r);
                        if (r.items) {

                        }
                        $('.loading-detail').hide();
                    }).fail(function (r) {
                        //console.log(r);
                    }).done(function () {

                    });
                }
                var FilterWell = function () {
                    var templateScript = $("#wellData-template").html();
                    var template = Handlebars.compile(templateScript);
                    //$.get($.helper.resolveApi('~/core/well/5a7ba35e-bf70-4798-afb3-6ca805ed05f8/detailByField'), function (r) {
                    $.get($.helper.resolveApi('~/core/well/' + $fieldId + '/detailByField'), function (r) {
                        if (r.data) {
                            //$("#js-contacts").html(template(r));
                        }

                    })
                }

                
                Handlebars.registerHelper('wellType', function (type) {
                    var html = "";

                    if (type == 0) {
                        html = "Original Well";
                    } else if (type == 1) {
                        html = "Side Track";
                    } else if (type == 2) {
                        html = "Work Over";
                    } else if (type == 3) {
                        html = "Well Services";
                    } 
                    return new Handlebars.SafeString(html);
                });


                var loadList = function () {
                    var templateScript = $("#status-template").html();
                    var template = Handlebars.compile(templateScript);

                    $.post($.helper.resolveApi("~core/well/tree?field_id=" + $fieldId), function (r) {
                        console.log(r);
                        $('#list-item').html(template({ data: r }));
                        //if (r.status.success) {

                        //}
                    }).fail(function (r) {
                        $.helper.noty.error(r.status, r.statusText);
                    });
                }

                var cekData = function () {
                    $.get($.helper.resolveApi("~core/well/newTree/" + $fieldId), function (data) {
                        console.log("Data from server:", data);

                        // Lakukan pengolahan data lainnya di sini
                    })
                        .fail(function (jqXHR, textStatus, errorThrown) {
                            console.error("Error fetching data:", textStatus, errorThrown);
                        });
                };



                return {
                    init: function () {
                        loadData();
                        //FilterWell();
                        loadList();
                        cekData();
                    }
                };
            }();

            $(document).ready(function () {
                pageFunction.init();
            });


        });
    </script>

    <script id="wellData-template" type="text/x-handlebars-template">
        {{#each data}}
        <div class="col-xl-4">
            <div id="c_1" class="card border shadow-0 shadow-sm-hover" data-filter-tags="{{well_name}}">
                <div class="card-body border-faded border-top-0 border-left-0 border-right-0 rounded-top">
                    <div class="d-flex flex-row align-items-center">
                        @*<span class="status status-success mr-3">
                                <span class="rounded-circle profile-image d-block " style="background-image:url('img/demo/avatars/avatar-b.png'); background-size: cover;"></span>
                            </span>*@
                        <div class="info-card-text flex-1">
                            <a href="@Url.Content($"~/UTC/{ViewBag.BusinessUnitRoute}/WellData/Detail")?wellId={{id}}" class="fs-xl text-truncate text-truncate-lg text-info">
                                <span>{{well_name}}</span>
                            </a>
                        </div>
                        <button class="js-expand-btn btn btn-sm btn-default d-none" data-toggle="collapse" data-target="#c_1 > .card-body + .card-body" aria-expanded="false">
                            <span class="collapsed-hidden">+</span>
                            <span class="collapsed-reveal">-</span>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0 collapse show">
                    <div class="p-3">
                        <div class="form-group row mb-0">
                            <label class="col-sm-5 control-label" for="well_id">Status</label>
                            <div class="col-sm-7">
                                {{status}}
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-sm-5 control-label" for="well_id">Depth</label>
                            <div class="col-sm-7">
                                {{water_depth}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </script>
}