﻿<div class="panel-container show">
    <div class="panel-content page-loading-content">
        <!-- Modal : TODO -->
        <!-- Modal end -->
        <ul class="nav nav-tabs nav-fill " role="tablist">
            <li class="nav-item"><a class="nav-link active " data-toggle="tab" href="#tabMudData1">Mud 1</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabMudData2">Mud 2</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabMudData3">Mud 3</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabTotalVolume">Total Volume</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabPit">Pit</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabChemicalUse">Chemical Use</a></li>
        </ul>
        <div class="border px-3 pt-3 pb-0 no-radius">
            <div class="tab-content py-3">
                <div id="tabMudData1" class="tab-pane fade show active" role="tabpanel">
                    <form id="form-mud1" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="tableWellData">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Mud TYpe">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mud_type" data-field="mud_name" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Visc (sec)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="visc" data-field="visc" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Cake (mm)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="cake" data-field="cake" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LTLP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ltlp" data-field="ltlp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Time (HH:MM)">
                                            </td>
                                            <td class="p-1">
                                                <input class="form-control-plaintext form-time" type="time" id="mud_time" name="mud_time" data-field="mud_time" data-text="mud_time" required>
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PV (cP)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pv" data-field="pv" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Solids (%))">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="solids" data-field="solids" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HTHP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hthp" data-field="hthp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW in (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_in" data-field="mw_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="YP (lbf/100ft2)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="yp" data-field="yp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Sands (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="sand" data-field="sand" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="E Stb (V)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="estb" data-field="estb" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW out (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_out" data-field="mw_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 sec">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10sec" data-field="gels_10sec" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Water (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="water" data-field="water" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pf" data-field="pf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp in (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_in" data-field="temp_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 min">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10min" data-field="gels_10min" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="OIL (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="oil" data-field="oil" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mf" data-field="mf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp out (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_out" data-field="temp_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Fluid Loss (ml/30min)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="fluid_loss" data-field="fluid_loss" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hgs" data-field="hgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PM">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pm" data-field="pm" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Pres. Grad (psi/ft">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pres_grad" data-field="pres_grad" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="pH">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ph" data-field="ph" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="lgs" data-field="lgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="ECD (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ecd" data-field="ecd" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabMudData2" class="tab-pane fade" role="tabpanel">
                    <form id="form-mud2" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="tableWellData">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Mud TYpe">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mud_type" data-field="mud_name" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Visc (sec)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="visc" data-field="visc" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Cake (mm)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="cake" data-field="cake" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LTLP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ltlp" data-field="ltlp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Time (HH:MM)">
                                            </td>
                                            <td class="p-1">
                                                <input class="form-control-plaintext form-time" type="time" id="mud_time" name="mud_time" data-field="mud_time" data-text="mud_time" required>
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PV (cP)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pv" data-field="pv" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Solids (%))">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="solids" data-field="solids" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HTHP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hthp" data-field="hthp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW in (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_in" data-field="mw_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="YP (lbf/100ft2)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="yp" data-field="yp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Sands (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="sand" data-field="sand" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="E Stb (V)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="estb" data-field="estb" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW out (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_out" data-field="mw_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 sec">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10sec" data-field="gels_10sec" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Water (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="water" data-field="water" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pf" data-field="pf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp in (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_in" data-field="temp_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 min">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10min" data-field="gels_10min" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="OIL (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="oil" data-field="oil" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mf" data-field="mf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp out (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_out" data-field="temp_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Fluid Loss (ml/30min)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="fluid_loss" data-field="fluid_loss" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hgs" data-field="hgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PM">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pm" data-field="pm" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Pres. Grad (psi/ft">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pres_grad" data-field="pres_grad" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="pH">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ph" data-field="ph" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="lgs" data-field="lgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="ECD (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ecd" data-field="ecd" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabMudData3" class="tab-pane fade" role="tabpanel">
                    <form id="form-mud3" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="tableWellData">
                                    <thead></thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Mud TYpe">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mud_type" data-field="mud_name" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Visc (sec)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="visc" data-field="visc" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Cake (mm)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="cake" data-field="cake" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LTLP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ltlp" data-field="ltlp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Time (HH:MM)">
                                            </td>
                                            <td class="p-1">
                                                <input class="form-control-plaintext form-time" type="time" id="mud_time" name="mud_time" data-field="mud_time" data-text="mud_time" required>
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PV (cP)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pv" data-field="pv" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Solids (%))">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="solids" data-field="solids" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HTHP (bbl)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hthp" data-field="hthp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW in (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_in" data-field="mw_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="YP (lbf/100ft2)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="yp" data-field="yp" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Sands (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="sand" data-field="sand" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="E Stb (V)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="estb" data-field="estb" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MW out (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mw_out" data-field="mw_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 sec">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10sec" data-field="gels_10sec" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Water (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="water" data-field="water" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pf" data-field="pf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp in (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_in" data-field="temp_in" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Gels 10 min">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="gels_10min" data-field="gels_10min" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="OIL (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="oil" data-field="oil" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="MF">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="mf" data-field="mf" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Temp out (°F)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="temp_out" data-field="temp_out" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Fluid Loss (ml/30min)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="fluid_loss" data-field="fluid_loss" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="HGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="hgs" data-field="hgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="PM">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pm" data-field="pm" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="Pres. Grad (psi/ft">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="pres_grad" data-field="pres_grad" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="pH">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ph" data-field="ph" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="LGS (%)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="lgs" data-field="lgs" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1 pl-2 text-center">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" readonly="" value="ECD (ppg)">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ecd" data-field="ecd" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabTotalVolume" class="tab-pane fade" role="tabpanel">
                    <form id="form-totalVolume" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="">
                                    <thead>
                                        <tr>
                                            <th class="text-center fw-700">Total Volume Start (bbl)</th>
                                            <th class="text-center fw-700">Lost Surface (bbl)</th>
                                            <th class="text-center fw-700">Lost Downhole (bbl)</th>
                                            <th class="text-center fw-700">Dumped (bbl)</th>
                                            <th class="text-center fw-700">Build (bbl)</th>
                                            <th class="text-center fw-700">Ending (bbl)</th>
                                            <th class="text-center fw-700">Linear Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="total_volume_start" data-field="total_volume_start" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="lost_surface" data-field="lost_surface" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="lost_downhole" data-field="lost_downhole" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="dumped" data-field="dumped" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="build" data-field="build" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="ending" data-field="ending" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                            <td class="p-1">
                                                <input type="text" class="form-control-plaintext form-control-sm pt-2 text-left" name="linear" data-field="linear" style="padding-left: 5px; padding-right: 2px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabPit" class="tab-pane fade" role="tabpanel">
                    <form id="form-pit" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="tableDrillingPit">
                                    <thead>
                                        <tr>
                                            <th class="text-center fw-700">PIT</th>
                                            <th class="text-center fw-700">Pit Volume</th>
                                            <th class="text-center fw-700">Pit Density</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-data">
                                            <td colspan="5" class="text-center">No data available.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="tabChemicalUse" class="tab-pane fade" role="tabpanel">
                    <form id="form-chemicalUse" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table m-0 table-bordered" id="tableDrillingCused">
                                    <thead>
                                        <tr>
                                            <th class="text-center fw-700">Type</th>
                                            <th class="text-center fw-700">Amount</th>
                                            <th class="text-center fw-700">Unit of Measurement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="no-data">
                                            <td colspan="5" class="text-center">No data available.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="readDrillingPit-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td class="p-1">{{pit_name}}</td>
        <td class="p-1">{{volume}}</td>
        <td class="p-1">{{density}}</td>
    </tr>
    {{/each}}
</script>

<script id="readDrillingCUSED-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td class="text-center">{{chemical_type}}</td>
        <td class="text-center">{{amount}}</td>
        <td class="text-center">{{uom_code}}</td>
    </tr>
    {{/each}}
</script>
