﻿<div class="panel-container show">
    <form id="formMudloggingData">
        <div class="panel-content page-loading-content">
            <!-- Modal : TODO -->
            <!-- Modal end -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table m-0 table-bordered" id="tableMudloggingData">
                        <thead>
                            <tr>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                                <th class="text-center fw-700">Parameter</th>
                                <th class="text-center fw-700">Min</th>
                                <th class="text-center fw-700">Max</th>
                                <th class="text-center fw-700" style="width: 1px !important;">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="rowMudloggingData">
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="WOB">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_wob_min" data-field="mudlogging_wob_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_wob_max" data-field="mudlogging_wob_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Klbs">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_wob_uom_id" value="15caa628-5c3f-58b6-9929-788f93eb9573">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="DHRPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_dhrpm_min" data-field="mudlogging_dhrpm_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_dhrpm_max" data-field="mudlogging_dhrpm_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_dhrpm_uom_id" value="eb8422fe-d432-9db0-29fd-34217324b19a">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Flowrate">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_flowrate_min" data-field="mudlogging_flowrate_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_flowrate_max" data-field="mudlogging_flowrate_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="gpm">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_flowrate_uom_id" value="e09a6ee9-f611-6063-f6b3-34de29435a35">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spm_min" data-field="mudlogging_spm_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spm_max" data-field="mudlogging_spm_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Stks">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_spm_uom_id" value="972edc4f-91bf-3e0c-c8b6-70542d55b5bd">
                                </td>
                            </tr>
                            <tr class="rowMudloggingData">
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_rpm_min" data-field="mudlogging_rpm_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_rpm_max" data-field="mudlogging_rpm_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="RPM">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_rpm_uom_id" value="eb8422fe-d432-9db0-29fd-34217324b19a">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Torque">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_torque_min" data-field="mudlogging_torque_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_torque_max" data-field="mudlogging_torque_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="K lb.ft">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_torque_uom_id" value="180d6076-3612-d2dc-0afc-ac6ce5d71842">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPP">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spp_min" data-field="mudlogging_spp_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spp_max" data-field="mudlogging_spp_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="psi">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_spp_uom_id" value="a4ba1561-eb19-c1bd-5cb2-67c7bec45d26">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="SPM PRESS">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spmpress_min" data-field="mudlogging_spmpress_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_spmpress_max" data-field="mudlogging_spmpress_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="Psi">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_spmpress_uom_id" value="a4ba1561-eb19-c1bd-5cb2-67c7bec45d26">
                                </td>
                            </tr>

                            <tr class="rowMudloggingData">
                                <td colspan="12"></td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="AVG ROP">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_avg_rop_min" data-field="mudlogging_avg_rop_min" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1">
                                    <input type="text" class="form-control-plaintext numeric" name="mudlogging_avg_rop_max" data-field="mudlogging_avg_rop_max" style="padding-left: 5px; padding-right: 2px;">
                                </td>
                                <td class="p-1 text-center">
                                    <input type="text" class="form-control-plaintext pt-2 text-center" readonly="" value="ft/Hrs">
                                    <input type="hidden" class="form-control-plaintext pt-2 text-center" name="mudlogging_avg_rop_uom_id" value="b05f8a09-2212-67f0-6731-4edd55de9a59">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
