﻿<div class="card-body">
    <form id="formDrillingOperation" class="needs-validation" novalidate>
        <div id="panel-1" class="panel">
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <!-- Modal : TODO -->
                    <!-- Modal end -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="example-textarea">
                                    Operations for Period 00:00 Hrs to 24:00 Hrs
                                </label>
                                <textarea class="form-control" id="" data-field="operation_data_period" rows="6" name="1"  style="overflow-y: auto; resize: none;" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="example-textarea">
                                    Current Operation 06:00 Hrs
                                </label>
                                <textarea class="form-control" id="" data-field="operation_data_early" rows="6" name="2" style="overflow-y: auto; resize: none;" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-label" for="example-textarea">
                                    Planned Operations
                                </label>
                                <textarea class="form-control" id="" data-field="operation_data_planned" rows="6" name="3" style="overflow-y: auto; resize: none;" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

