﻿<div class="panel-container show">
    <div class="panel-content page-loading-content">
        <!-- Modal : TODO -->
        <!-- Modal end -->
        <div class="row">
            <div class="col-lg-12">
                <table class="table m-0 table-bordered" id="tableTransport">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center fw-700 align-middle">Name</th>
                            <th rowspan="2" class="text-center fw-700 align-middle" style="">Type</th>
                            <th colspan="2" class="text-center fw-700" style="">Departed</th>
                            <th colspan="2" class="text-center fw-700" style="">ETA</th>
                            <th rowspan="2" class="text-center fw-700 align-middle" style="">Days</th>
                            <th rowspan="2" class="text-center fw-700 align-middle" style="width: 20% !important;">Comments</th>
                        </tr>
                        <tr>
                            <th class="text-center fw-700">Date</th>
                            <th class="text-center fw-700">Time</th>
                            <th class="text-center fw-700">Date</th>
                            <th class="text-center fw-700">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rowTransport">
                            <td>
                                <input class="form-control" type="hidden" name="transportId[]">
                                <input type="text" class="form-control-plaintext" name="name[]" style="padding-left: 5px; padding-right: 2px;" required>
                            </td>
                            <td>
                                <input type="text" class="form-control-plaintext" name="type[]" style="padding-left: 5px; padding-right: 2px;" required>
                            </td>
                            <td class="text-center">
                                <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-number="0" name="departedDate[]" placeholder="Pick Date" style="width: 100%;" required>
                            </td>
                            <td class="text-center">
                                <input class="form-control-plaintext form-time" type="time" name="departedTime[]" required>
                            </td>
                            <td class="text-center">
                                <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" data-number="0" name="etaDate[]" placeholder="Pick Date" style="width: 100%;" required>
                            </td>
                            <td class="text-center">
                                <input class="form-control-plaintext form-time" type="time" name="etaTime[]" required>
                            </td>
                            <td>
                                <input type="text" class="form-control-plaintext" name="days[]" style="padding-left: 5px; padding-right: 2px;" required>
                            </td>
                            <td>
                                <textarea class="form-control-plaintext" id="type3" rows="2" name="comment[]" style="overflow-y: auto; resize: none;" required></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script id="rowTransport-template" type="text/x-handlebars-template">
    <tr class="rowOperation">
        <td>
            <input class="form-control" type="hidden" name="transportId[]" required>
            <input type="text" class="form-control" name="name[]" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td>
            <input type="text" class="form-control" name="type[]" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker" data-format="MM/dd/yyyy" data-number="0" name="departedDate[]" placeholder="Pick Date" style="width: 100%;" required>
        </td>
        <td>
            <input class="form-control form-time" type="time" name="departedTime[]" required>
        </td>
        <td class="transportDate">
            <input type="text" class="form-control date-picker" data-format="MM/dd/yyyy" data-number="0" name="etaDate[]" placeholder="Pick Date" style="width: 100%;" required>
        </td>
        <td>
            <input class="form-control form-time" type="time" name="etaTime[]" required>
        </td>
        <td>
            <input type="number" class="form-control" name="days[]" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td>
            <textarea class="form-control" id="" rows="2" name="comment[]" style="overflow-y: auto; resize: none;" required></textarea>
        </td>
    </tr>
</script>

<script id="readTransport-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr class="rowOperation">
        <td>
            <input class="form-control" type="hidden" name="transportId[]" value="{{id}}" required>
            <input type="text" class="form-control-plaintext" name="name[]" value="{{name}}" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td>
            <input type="text" class="form-control-plaintext" name="type[]" value="{{type}}" style="padding-left: 5px; padding-right: 2px;" required>
        </td>
        <td class="transportDate">
            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" name="departedDate[]" value="{{datePickerFormat departed_date}}" disabled>
        </td>
        <td>
            <input class="form-control-plaintext form-time" type="time" name="departedTime[]" value="{{timeFormat departed_date}}" required disabled>
        </td>
        <td class="transportDate">
            <input type="text" class="form-control-plaintext date-picker" data-format="MM/dd/yyyy" name="etaDate[]" value="{{datePickerFormat eta_date}}" disabled>
        </td>
        <td>
            <input class="form-control-plaintext form-time" type="time" name="etaTime[]" value="{{timeFormat departed_date}}" required disabled>
        </td>
        <td>
            <input type="number" class="form-control-plaintext" name="days[]" value="{{days}}" style="padding-left: 5px; padding-right: 2px;" disabled>
        </td>
        <td>
            <textarea class="form-control-plaintext" id="" rows="2" name="comment[]" style="overflow-y: auto; resize: none;" disabled>{{comment}}</textarea>
        </td>
    </tr>
    {{/each}}
</script>