<div class="tab-pane fade show active" id="profile" role="tabpanel">
    <div class="" style="padding-left: 150px; padding-right: 150px;">
        <div class="card-body">
            <div class="frame-wrap">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered mb-g table-dark" id="tableWellDetailProfile">
                        <thead class="thead-themed">
                            <tr>
                                <th colspan="3" class="text-center">Well Data</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="pipe-body" style="height: 800px; margin-top: 20px;">
                    <div class="well-body">
                        <div class="row">
                            <div class="sumur-container col-md-9" id="pipe-well">
                                <div class="well-content text-center" style="margin-top: 20px;">
                                    <small>Note :</small>
                                    <small>Sisi sebelah kiri merupakan data plan dan kanan merupakan actual, jika terdapat value dengan warna merah itu merupakan drilling hazzard</small>
                                    <small><a href="#" id="drillingHazardLink">klik disini</a> untuk keterangan drilling hazard</small>
                                    <div class="well" style="height: 800px; position: relative;">
                                        <small>Plan</small>
                                        <img src="~/Content/img/report/drill-header-120.png" alt="Responsive image" id="headerImage" style="max-width: 100%; height: auto;" />
                                        <small>Actual</small>
                                        <div class="drill-body" style="position: relative; width: 100%; height: calc(100% - 100px); overflow-y: auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                            <div id="loadingSpinner" style="display:none;">
                                                <p>Loading well data...</p>
                                            </div>
                                            <!-- drill-hole elements will be appended here -->
                                        </div>
                                        <div class="side-body">
                                            <div id="loadingSpinner" style="display:none;">
                                                <p>Loading well data...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-sideTrack col-md-3">
                                <div id="sideTrackshow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="drillingHazardModal" class="modal fade default-example-modal-right-md modal-remote" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header pb-0">
                                <h4 class="modal-title">Drilling Hazard</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <hr />
                            <div class="modal-body pt-0">
                                <!-- Konten dari template Handlebars akan dirender di sini -->
                            </div>
                            <div class="modal-footer pt-0 mt-0">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script id="dhDescription-template" type="text/x-handlebars-template">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Depth</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each hazards}}
            <tr>
                <td>{{depth}}</td>
                <td>{{description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<script id="wellProfileDetail-template" type="text/x-handlebars-template">
    <tr>
        <td>Well Name</td>
        <td style="width:10px;">:</td>
        <td>{{well_name}}</td>
    </tr>
    <tr>
        <td>Project Area</td>
        <td style="width:10px;">:</td>
        <td>{{field_name}}</td>
    </tr>
    <tr>
        <td>Well Type</td>
        <td>:</td>
        <td>{{well_type}}</td>
    </tr>
    <tr>
        <td>Start Date</td>
        <td>:</td>
        <td>{{formatDate spud_date}}</td>
    </tr>
    <tr>
        <td>Rig Owner</td>
        <td>:</td>
        <td>{{rig_name}}</td>
    </tr>
    <tr>
        <td>DDR Approved</td>
        <td>:</td>
        <td>data-panel-collapsed</td>
    </tr>
</script>

<script id="template-sidtrackshow" type="text/x-handlebars-template">
    {{#each data}}
    <label>Side Track :</label>
    <div class="row" style="display: flex;">
        <input class="form-check-input side-track-checkbox" type="checkbox" data-id="{{id}}">
        <p class="form-check-label" for="showSideTrack-{{id}}">
            {{text}}
        </p>
    </div>
    {{/each}}
</script>

<script>
$(document).ready(function () {
    Handlebars.registerHelper('formatDate', function (dateString) {
        var options = { year: 'numeric', month: 'long', day: 'numeric' };
        var date = new Date(dateString);
        return date.toLocaleDateString('en-US', options);
    });

    var wellId = '@ViewBag.wellId';
    var wellType;
    var plan_depth;

    async function pageFunction() {
        try {
            showLoading();
            await wellProfile();
        } catch (error) {
            console.error("Error in pageFunction:", error);
        } finally {
            hideLoading();
        }
    }

     function setupModal(triggerId, modalId) {
         const modal = $('#' + modalId);
         const trigger = document.getElementById(triggerId);
         const closeButton = modal.find('.close');
         function openModal() {
             dhDescrip()
             modal.modal('show');

         }
         function closeModal() {
             modal.modal('hide');
         }
         trigger.addEventListener('click', function (event) {
             event.preventDefault();
             openModal();
         });
         closeButton.on('click', closeModal);
         $(window).on('click', function (event) {
             if ($(event.target).is(modal)) {
                 closeModal();
             }
         });
    }
    setupModal('drillingHazardLink', 'drillingHazardModal');

    function showLoading() {
        $("#loadingSpinner").show();
    }

    function hideLoading() {
        $("#loadingSpinner").hide();
    }

    function dhDescrip() {
        getUomPlanActual().then(function ([uomPlan, uomActual]) {
            $.get($.helper.resolveApi("~core/DrillingHazard/" + wellId + "/detailbywellid"))
                .done(function (response) {
                    const hazardsData = {
                        hazards: response.data.map(function (hazard) {
                            return {
                                depth: hazard.depth + ' ' + uomPlan, // Tambahkan UOM ke depth
                                description: hazard.description
                            };
                        })
                    };

                    const templateSource = document.getElementById('dhDescription-template').innerHTML;
                    const template = Handlebars.compile(templateSource);
                    const html = template(hazardsData);
                    $('#drillingHazardModal .modal-body').html(html);
                    setupModal('drillingHazardLink', 'drillingHazardModal');
                })
                .fail(function (error) {
                    console.error("Error fetching Drilling Hazard data:", error);
                });
        }).catch(function (error) {
            console.error("Error in getUomPlanActual:", error);
        });
    }



    async function wellProfile() {
        try {
            const templateScript = $("#wellProfileDetail-template").html();
            if (!templateScript) {
                throw new Error("Template script not found");
            }
            const template = Handlebars.compile(templateScript);

            const response = await $.get($.helper.resolveApi('~/core/well/' + wellId + '/detail'));
            if (response.data) {
                $("#tableWellDetailProfile > tbody").html(template(response.data));
                wellType = response.data.well_type;
                plan_depth = response.data.planned_td;

                await getTreeData(response.data.field_id, response.data.id);
                await getWellHoleAndCasingPlan(wellType);
            }
            $('.loading-detail').hide();
        } catch (error) {
            console.error("Error in wellProfile:", error);
        }
    }

    async function getTreeData(fieldId, wellId) {
        try {
            const response = await $.post($.helper.resolveApi("~core/well/tree?field_id=" + fieldId));
            const filteredData = response.filter(item => item.id === wellId);

            await showSideTrack(filteredData);
        } catch (error) {
            console.error("Error in getTreeData:", error);
            $.helper.noty.error(error.status, error.statusText);
        }
    }

    async function showSideTrack(filteredData) {
        if (filteredData.length === 0 || !filteredData[0].children || filteredData[0].children.length === 0) {
            $('.content-sideTrack').hide();
            $('#pipe-well').addClass('col-md-12').removeClass('col-md-9');
        } else {
            $('.content-sideTrack').show();
            $('#pipe-well').removeClass('col-md-12').addClass('col-md-9');
            await getDataSide(filteredData);
        }
    }

    async function getDataSide(datas) {
        try {
            const data = datas[0].children;

            // Ensure the template is available
            const sourceElement = document.getElementById("template-sidtrackshow");
            if (!sourceElement) {
                throw new Error("Template for side track not found.");
            }

            const source = sourceElement.innerHTML;
            const template = Handlebars.compile(source);
            const html = template({ data });

            // Ensure the target element exists before injecting HTML
            const sideTrackShowElement = document.getElementById("sideTrackshow");
            if (!sideTrackShowElement) {
                throw new Error("Target element for side track not found.");
            }

            sideTrackShowElement.innerHTML = html;
        } catch (error) {
            console.error("Error in getDataSide:", error);
        }
    }


    async function getWellHoleAndCasingPlan(wellType) {
        try {
            const response = await $.get($.helper.resolveApi("~/Core/WellHoleAndCasing/" + wellId + "/getAllByWellId"));
            const existingIds = [];

            for (const wellData of response.data) {
                const id = wellData.id;

                if (!existingIds.some(entry => entry.id === id)) {
                    const planData = await getMulticasingPlan(id);
                    const actualData = await getMulticasingActual(id);

                    if (planData && actualData) {
                        existingIds.push({
                            id,
                            casingNamePlan: planData.map(item => item.casing_name),
                            casingValPlan: planData.map(item => item.casing_setting_depth),
                            idMultiPlan: planData.map(item => item.parent_well_hole_casing_id),
                            casingNameAct: actualData.map(item => item.casing_name),
                            casingValAct: actualData.map(item => item.casing_val),
                            idMultiAct: actualData.map(item => item.well_hole_and_casing_id),
                            multiPlan: planData,
                            multiActual: actualData
                        });
                    }
                }
            }

            if (response.data.length > 0) {
                await getWellHoleAndCasingPlanActual(response.data, existingIds, wellType);

                $('.side-track-checkbox').change(async function () {
                    if ($(this).is(':checked')) {
                        console.log('Nantinya Muncul Side Track');
                        showLoading();
                        await getSideWellHoleAndCasingPlanActual(response.data, existingIds);
                        hideLoading();
                        $("#side-body").css('display', 'block');
                    } else {
                        console.log('yuhu');
                        $("#side-body").css('display', 'none');
                        $(".drill-body").find(".side-hole").remove();
                    }
                });

            }
        } catch (error) {
            console.error("Error in getWellHoleAndCasingPlan:", error);
            toastr.error(error.statusText);
        }
    }

    async function getMulticasingPlan(dataID) {
        try {
            const response = await $.get($.helper.resolveApi("~/Core/wellholeandcasing/" + dataID + "/getAllHoleCasingByWellId"));
            return response.data;
        } catch (error) {
            console.error("Error in getMulticasingPlan:", error);
            toastr.error(error.statusText);
            return null;
        }
    }

    async function getMulticasingActual(dataID) {
        try {
            const response = await $.get($.helper.resolveApi("~/Core/DrillingHoleAndCasing/" + dataID + "/ListMulticasing"));
            return response.data;
        } catch (error) {
            console.error("Error in getMulticasingActual:", error);
            toastr.error(error.statusText);
            return null;
        }
    }

    async function getWellHoleAndCasingPlanActual(wellHoleAndaCasingPlan, dataMulti, wellType) {
        var existingIds = dataMulti;

        try {

            if (wellType == 'Vertical') {
                const r = await $.ajax({
                    type: "GET",
                    url: $.helper.resolveApi("~/Core/DrillingOperationActivity/getByWellIdNew?wellId=" + wellId)
                });
                console.log('ini data Vertical', wellHoleAndaCasingPlan)

                if (r.data.length > 0) {
                    //console.log('ini datanya ges',r.data)
                    const [uomPln, uomAct] = await getUomPlanActual();
                    const planDhazzard = await getDrillHazzard();

                    var actualLatestHoleAndCasing = [];
                    for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                        var idHoleAndCasing = wellHoleAndaCasingPlan[i].id;
                        var resultData = getMaxData(idHoleAndCasing, r.data);
                        actualLatestHoleAndCasing.push(resultData);
                    }

                    var holeCasingDepth = wellHoleAndaCasingPlan[wellHoleAndaCasingPlan.length - 1].hole_depth;
                    var top = 0;
                    var width = 120;
                    var left = 0;
                    var heightNew = 0;
                    var heightHole = 0;
                    var tophole = 0;
                    var html = '';
                    var buttonAdded = false;

                    for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                        var holeDepth = i === 0 ? wellHoleAndaCasingPlan[0].hole_depth : wellHoleAndaCasingPlan[i].hole_depth - wellHoleAndaCasingPlan[i - 1].hole_depth;
                        var _height = (parseFloat(holeDepth) / parseFloat(plan_depth)) * 710;

                        if (i === 0) {
                            heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                            tophole = 0;
                        } else {
                            heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                            tophole = parseFloat(wellHoleAndaCasingPlan[i - 1].hole_depth);
                        }

                        heightNew = heightHole;

                        if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                            if (actualLatestHoleAndCasing[i].depth > heightNew) {
                                heightNew = actualLatestHoleAndCasing[i].depth;
                            }
                        }

                        html += `<div class="drill-hole"
                            style="height: ${heightHole - parseFloat(tophole)}px; justify-content: center; align-items: center; width: ${width}px;
                            top: ${tophole}px; position: absolute; background-color: #ffeb99; border: 1px solid #000;">`;
                        var marginLabel = parseFloat(wellHoleAndaCasingPlan[i].hole_depth) < 1000 ? -70 : -95;
                        html += `<span class="fw-700" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel}px; height: 18px;">${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}</span>`;

                        // Add casing name and casing val for multi plan
                        if (existingIds[i]) {
                            const casingPlanHtml = existingIds[i].casingNamePlan.map((name, index) => `Casing ${name}`).join('<br />');

                            if (casingPlanHtml) {
                                const tooltipText = existingIds[i].casingNamePlan.map((name, index) => `${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln} Hole ${wellHoleAndaCasingPlan[i].hole_name}" Casing ${name}`).join('\n');

                                html += `
                                  <div style="border: 1px solid #000; position: absolute; top: ${heightHole - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 30}px;" title="${tooltipText}">
                                      <span class="fw-700" style="height: 18px;">
                                          ${casingPlanHtml}
                                      </span>
                                  </div>`;
                            }
                        }

                        // Add planDhazzard if it exists
                        if (planDhazzard[i] && planDhazzard[i].depth != null) {
                            html += `<span class="fw-700" style="position: absolute; top: ${planDhazzard[i].depth - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 50}px; height: 18px; color: red;" id="tooltip${i}" title="${planDhazzard[i].description}">${planDhazzard[i].depth} ${uomPln}</span>`;
                        }

                        if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                            html += `<img src="` + $.helper.resolve("/Content/img/segitiga.png") + `" class="" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: -25px; height: 18px;">`;
                            html += `<span class="fw-700" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel}px; height: 18px;">${actualLatestHoleAndCasing[i].depth} ${uomAct}</span>`;

                            // Add casing name and casing val for multi actual
                            if (existingIds[i]) {
                                const casingActualHtml = existingIds[i].casingNameAct.map((name, index) => `Casing ${name}`).join('<br />');

                                if (casingActualHtml) {
                                    const tooltipText = existingIds[i].casingNameAct.map((name, index) => `${actualLatestHoleAndCasing[i].depth} ${uomPln} Hole ${actualLatestHoleAndCasing[i].hole_name}" Casing ${name}`).join('\n');

                                    html += `
                                      <div style="border: 1px solid #000; position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel - 30}px;" title="${tooltipText}">
                                          <span class="fw-700" style="height: 18px;">
                                              ${casingActualHtml}
                                          </span>
                                      </div>`;
                                }
                            }
                        }
                        html += `<img src="` + $.helper.resolve("/Content/img/segitiga2.png") + `" class="" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: -25px; height: 18px;" id="tooltip${i}" title="${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}, Hole ${wellHoleAndaCasingPlan[i].hole_name}in, Casing ${wellHoleAndaCasingPlan[i].casing_name}">`;

                        html += `</div>`;
                        $(".drill-body").append(html);
                        top = _height + top;
                        width -= 15;
                        left += 7.5;
                    }

                    if (heightNew > window.heightBackgroundGrey) {
                        window.heightBackgroundGrey = heightNew;
                    }
                } else {
                    console.log("There is no data with the well ID.");
                }

            } else if (wellType == 'Directional') {
                const r = await $.ajax({
                    type: "GET",
                    url: $.helper.resolveApi("~/Core/DrillingOperationActivity/getByWellIdNew?wellId=" + wellId)
                });

                const s = await $.ajax({
                    type: "GET",
                    url: $.helper.resolveApi('~/core/WellDeviation/' + wellId + '/detailByWellId')
                });

                if (r.data.length > 0) {
                    //console.log('ini data belok', wellHoleAndaCasingPlan)
                    const [uomPln, uomAct] = await getUomPlanActual();
                    const planDhazzard = await getDrillHazzard();

                    var actualLatestHoleAndCasing = [];
                    var sudutBelok = [];
                    for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                        var idHoleAndCasing = wellHoleAndaCasingPlan[i].id;
                        var deptHolePlan = wellHoleAndaCasingPlan[i].hole_depth;
                        var resultData = getMaxData(idHoleAndCasing, r.data);
                        var sudutData = getSudutData(deptHolePlan, s.data);
                        //console.log('ini belokgasi', sudutData)
                        actualLatestHoleAndCasing.push(resultData);
                        sudutBelok.push(sudutData);
                    }
                    //console.log('asasas hahaha ',sudutBelok);
                    var holeCasingDepth = wellHoleAndaCasingPlan[wellHoleAndaCasingPlan.length - 1].hole_depth;
                    var top = 0;
                    var width = 120;
                    var left = 0;
                    var heightNew = 0;
                    var heightHole = 0;
                    var tophole = 0;
                    var html = '';
                    var buttonAdded = false;

                    for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                        var holeDepth = i === 0 ? wellHoleAndaCasingPlan[0].hole_depth : wellHoleAndaCasingPlan[i].hole_depth - wellHoleAndaCasingPlan[i - 1].hole_depth;
                        var _height = (parseFloat(holeDepth) / parseFloat(plan_depth)) * 710;

                        if (i === 0) {
                            heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                            tophole = 0;
                        } else {
                            heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                            tophole = parseFloat(wellHoleAndaCasingPlan[i - 1].hole_depth);
                        }

                        heightNew = heightHole;

                        if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                            if (actualLatestHoleAndCasing[i].depth > heightNew) {
                                heightNew = actualLatestHoleAndCasing[i].depth;
                            }
                        }

                        const rotation = sudutBelok[i] || 0;
                        //transform: rotate(${rotation}deg);

                        html += `<div class="drill-hole"
                        style="height: ${heightHole - parseFloat(tophole)}px; justify-content: center; align-items: center; width: ${width}px;
                        top: ${tophole}px; position: absolute; background-color: #ffeb99; border: 1px solid #000;">`;
                                        var marginLabel = parseFloat(wellHoleAndaCasingPlan[i].hole_depth) < 1000 ? -70 : -95;
                                        html += `<span class="fw-700" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel}px; height: 18px;">${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}</span>`;

                                        // Add casing name and casing val for multi plan
                                        if (existingIds[i]) {
                                            const casingPlanHtml = existingIds[i].casingNamePlan.map((name, index) => `Casing ${name}`).join('<br />');

                                            if (casingPlanHtml) {
                                                const tooltipText = existingIds[i].casingNamePlan.map((name, index) => `${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln} Hole ${wellHoleAndaCasingPlan[i].hole_name}" Casing ${name}`).join('\n');

                                                html += `
                      <div style="border: 1px solid #000; position: absolute; top: ${heightHole - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 30}px;" title="${tooltipText}">
                          <span class="fw-700" style="height: 18px;">
                              ${casingPlanHtml}
                          </span>
                      </div>`;
                            }
                        }

                        // Add planDhazzard if it exists
                        if (planDhazzard[i] && planDhazzard[i].depth != null) {
                            html += `<span class="fw-700" style="position: absolute; top: ${planDhazzard[i].depth - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 50}px; height: 18px; color: red;" id="tooltip${i}" title="${planDhazzard[i].description}">${planDhazzard[i].depth} ${uomPln}</span>`;
                        }

                        if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                            html += `<img src="` + $.helper.resolve("/Content/img/segitiga.png") + `" class="" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: -25px; height: 18px;">`;
                            html += `<span class="fw-700" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel}px; height: 18px;">${actualLatestHoleAndCasing[i].depth} ${uomAct}</span>`;

                            // Add casing name and casing val for multi actual
                            if (existingIds[i]) {
                                const casingActualHtml = existingIds[i].casingNameAct.map((name, index) => `Casing ${name}`).join('<br />');

                                if (casingActualHtml) {
                                    const tooltipText = existingIds[i].casingNameAct.map((name, index) => `${actualLatestHoleAndCasing[i].depth} ${uomPln} Hole ${actualLatestHoleAndCasing[i].hole_name}" Casing ${name}`).join('\n');

                                    html += `
                                      <div style="border: 1px solid #000; position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel - 30}px;" title="${tooltipText}">
                                          <span class="fw-700" style="height: 18px;">
                                              ${casingActualHtml}
                                          </span>
                                      </div>`;
                                }
                            }
                        }
                        html += `<img src="` + $.helper.resolve("/Content/img/segitiga2.png") + `" class="" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: -25px; height: 18px;" id="tooltip${i}" title="${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}, Hole ${wellHoleAndaCasingPlan[i].hole_name}in, Casing ${wellHoleAndaCasingPlan[i].casing_name}">`;

                        html += `</div>`;
                        $(".drill-body").append(html);
                        top = _height + top;
                        width -= 15;
                        left += 7.5;
                    }

                    if (heightNew > window.heightBackgroundGrey) {
                        window.heightBackgroundGrey = heightNew;
                    }
                } else {
                    console.log("There is no data with the well ID.");
                }

            } else {

            }

        } catch (error) {
            console.error("Error in getWellHoleAndCasingPlanActual:", error);
        }
    }

    function getRandomColor() {
        const r = Math.floor(Math.random() * 256);
        const g = Math.floor(Math.random() * 256);
        const b = Math.floor(Math.random() * 256);
        return `rgba(${r}, ${g}, ${b}, 0.9)`; // 0.7 adalah 70% transparansi
    }

    async function getSideWellHoleAndCasingPlanActual(wellHoleAndaCasingPlan, dataMulti) {
        var existingIds = dataMulti;

        try {
            const r = await $.ajax({
                type: "GET",
                url: $.helper.resolveApi("~/Core/DrillingOperationActivity/getByWellIdNew?wellId=" + wellId)
            });

            const s = await $.ajax({
                type: "GET",
                url: $.helper.resolveApi('~/core/drillingdeviation/' + wellId + '/listByWellId')
            });
            console.log('ini sidetrack')
            if (r.data.length > 0) {
                const [uomPln, uomAct] = await getUomPlanActual();
                const planDhazzard = await getDrillHazzard();

                var actualLatestHoleAndCasing = [];
                for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                    var idHoleAndCasing = wellHoleAndaCasingPlan[i].id;
                    var resultData = getMaxData(idHoleAndCasing, r.data);
                    actualLatestHoleAndCasing.push(resultData);
                }

                var holeCasingDepth = wellHoleAndaCasingPlan[wellHoleAndaCasingPlan.length - 1].hole_depth;
                var top = 0;
                var width = 120;
                var left = 0;
                var heightNew = 0;
                var heightHole = 0;
                var tophole = 0;
                var html = '';
                var buttonAdded = false;
                var color = getRandomColor()

                for (var i = 0; i < wellHoleAndaCasingPlan.length; i++) {
                    var holeDepth = i === 0 ? wellHoleAndaCasingPlan[0].hole_depth : wellHoleAndaCasingPlan[i].hole_depth - wellHoleAndaCasingPlan[i - 1].hole_depth;
                    var _height = (parseFloat(holeDepth) / parseFloat(plan_depth)) * 710;

                    if (i === 0) {
                        heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                        tophole = 0;
                    } else {
                        heightHole = parseFloat(wellHoleAndaCasingPlan[i].hole_depth);
                        tophole = parseFloat(wellHoleAndaCasingPlan[i - 1].hole_depth);
                    }

                    heightNew = heightHole;

                    if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                        if (actualLatestHoleAndCasing[i].depth > heightNew) {
                            heightNew = actualLatestHoleAndCasing[i].depth;
                        }
                    }

                    html += `<div class="side-hole" style="width: ${width}px; height: ${heightHole - parseFloat(tophole)}px; justify-content: center; align-items: center; top: ${tophole}px; left: 50%; transform: translate(-50%, 0);
                            position: absolute; background-color: ${color}; border: 1px solid #000;">`;
                    var marginLabel = parseFloat(wellHoleAndaCasingPlan[i].hole_depth) < 1000 ? -70 : -95;
                    html += `<span class="fw-700" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel}px; height: 18px;">${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}</span>`;

                    // Add casing name and casing val for multi plan
                    if (existingIds[i]) {
                        const casingPlanHtml = existingIds[i].casingNamePlan.map((name, index) => `Casing ${name}`).join('<br />');

                        if (casingPlanHtml) {
                            const tooltipText = existingIds[i].casingNamePlan.map((name, index) => `${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln} Hole ${wellHoleAndaCasingPlan[i].hole_name}" Casing ${name}`).join('\n');

                            html += `
              <div style="border: 1px solid #000; position: absolute; top: ${heightHole - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 30}px;" title="${tooltipText}">
                  <span class="fw-700" style="height: 18px;">
                      ${casingPlanHtml}
                  </span>
              </div>`;
                        }
                    }

                    // Add planDhazzard if it exists
                    if (planDhazzard[i] && planDhazzard[i].depth != null) {
                        html += `<span class="fw-700" style="position: absolute; top: ${planDhazzard[i].depth - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: ${marginLabel - 50}px; height: 18px; color: red;" id="tooltip${i}" title="${planDhazzard[i].description}">${planDhazzard[i].depth} ${uomPln}</span>`;
                    }

                    if (wellHoleAndaCasingPlan[i].actual_depth != null) {
                        html += `<img src="` + $.helper.resolve("/Content/img/segitiga.png") + `" class="" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: -25px; height: 18px;">`;
                        html += `<span class="fw-700" style="position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel}px; height: 18px;">${actualLatestHoleAndCasing[i].depth} ${uomAct}</span>`;

                        // Add casing name and casing val for multi actual
                        if (existingIds[i]) {
                            const casingActualHtml = existingIds[i].casingNameAct.map((name, index) => `Casing ${name}`).join('<br />');

                            if (casingActualHtml) {
                                const tooltipText = existingIds[i].casingNameAct.map((name, index) => `${actualLatestHoleAndCasing[i].depth} ${uomPln} Hole ${actualLatestHoleAndCasing[i].hole_name}" Casing ${name}`).join('\n');

                                html += `
                  <div style="border: 1px solid #000; position: absolute; top: ${parseFloat(actualLatestHoleAndCasing[i].depth) - parseFloat(tophole) + 20}px; transform: translateY(-100%); z-index: 1; right: ${marginLabel - 30}px;" title="${tooltipText}">
                      <span class="fw-700" style="height: 18px;">
                          ${casingActualHtml}
                      </span>
                  </div>`;
                            }
                        }
                    }
                    html += `<img src="` + $.helper.resolve("/Content/img/segitiga2.png") + `" class="" style="position: absolute; top: ${heightHole - parseFloat(tophole)}px; transform: translateY(-100%); z-index: 1; left: -25px; height: 18px;" id="tooltip${i}" title="${wellHoleAndaCasingPlan[i].hole_depth} ${uomPln}, Hole ${wellHoleAndaCasingPlan[i].hole_name}in, Casing ${wellHoleAndaCasingPlan[i].casing_name}">`;

                    html += `</div>`;
                    $(".drill-body").append(html);
                    top = _height + top;
                    width -= 15;
                    left += 7.5;
                }

                if (heightNew > window.heightBackgroundGrey) {
                    window.heightBackgroundGrey = heightNew;
                }
            } else {
                console.log("There is no data with the well ID.");
            }
        } catch (error) {
            console.error("Error in getWellHoleAndCasingPlanActual:", error);
        }
    }

    async function getUomPlanActual() {
        try {
            const uomPlan = await GetUomWellPlan();
            const uomActual = await GetUomWellActual();
            return [uomPlan, uomActual];
        } catch (error) {
            console.error("Error in getUomPlanActual:", error);
            return [undefined, undefined];
        }
    }

    function GetUomWellPlan() {
        return new Promise(function (resolve, reject) {
            $.get($.helper.resolveApi('~/core/wellobjectuommap/GetAllByWellId/' + wellId), function (r) {
                let uomPlan = "";
                if (r.status.success) {
                    for (const uomdata of r.data) {
                        if (uomdata.object_name === "Hole Depth") {
                            uomPlan = uomdata.uom_code;
                            break;
                        }
                    }
                }
                resolve(uomPlan);
            }).fail(reject);
        });
    }

    function GetUomWellActual() {
        return new Promise(function (resolve, reject) {
            $.get($.helper.resolveApi('~/core/wellobjectuommap/GetAllByWellId/' + wellId), function (r) {
                let uom = "";
                if (r.status.success) {
                    for (const uomdata of r.data) {
                        if (uomdata.object_name === "Depth") {
                            uom = uomdata.uom_code;
                            break;
                        }
                    }
                }
                resolve(uom);
            }).fail(reject);
        });
    }

    async function getDrillHazzard() {
        try {
            const response = await $.get($.helper.resolveApi('~/core/DrillingHazard/' + wellId + '/detailbywellid'));
            if (response.status.success) {
                return response.data.map(dh => ({
                    depth: dh.depth,
                    description: dh.description
                }));
            } else {
                console.error('Error fetching drill hazard data:', response.status.message);
                return [];
            }
        } catch (error) {
            console.error("Error in getDrillHazzard:", error);
            return [];
        }
    }

    function getMaxData(idData, dataArray) {
        //console.log('uauauauaua', dataArray);
        const dates = dataArray.flatMap(dataWell =>
            dataWell.data.filter(dataw => dataw.well_hole_and_casing_id === idData)
        );

        dates.sort((a, b) => new Date(a.created_on) - new Date(b.created_on));
        return dates[dates.length - 1];
    }

    function getSudutData(depthData, dataArray) {
        const matchingData = dataArray
            .filter(data => data.measured_depth == depthData)
            .sort((a, b) => new Date(a.created_on) - new Date(b.created_on));

        const matchingInclinations = matchingData.map(data => data.inclination != null ? data.inclination : 0);

        return matchingInclinations.length > 0 ? matchingInclinations[0] : 0;
    }
    pageFunction();
});


</script>