﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">AFE Line Parent Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formAfeLineParent" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="name">Line Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="name" data-field="name" class="form-control form-control-sm" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-primary">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/afeLineParent.detail.js?_@DateTime.Now"></script>