﻿<div class="modal-header">
    <h4 class="modal-title">
        Reset Password
        <small class="m-0 text-muted">
            Reset or Change Password
        </small>
    </h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<div class="modal-body pt-0">
    <div class="loading-detail d-flex align-items-center" style="visibility:collapse">
        <strong>Loading...</strong>
        <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
    </div>
    <form id="frm-changePassword" class="needs-validation" novalidate>
        <input hidden id="user_id" name="id" value="@ViewBag.recordId" />
        <input hidden id="AppUsername" name="AppUsername" value="@ViewBag.AppUsername" />
        <input hidden id="AppFullname" name="AppUsername" value="@ViewBag.AppFullname" />
        <input hidden id="PrimaryBusinessUnitId" name="PrimaryBusinessUnitId" value="@ViewBag.PrimaryBusinessUnitId" />
        <input hidden id="AppEmail" name="AppEmail" value="@ViewBag.AppEmail" />

        <div class="form-group">
            <label class="form-label" for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" required class="form-control">
            <div class="invalid-feedback">
                Please enter a valid email
            </div>
        </div>
        <div class="form-group">
            <label class="form-label" for="app_password">Confirm Password</label>
            <input type="password" id="app_password" name="app_password" required class="form-control">
            <div class="invalid-feedback">
                Please enter a valid email
            </div>
        </div>

    </form>
</div>
<div class="modal-footer pt-0">
    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-sm btn-info" id="btn-resetPassword">
        Reset
    </button>
</div>


<script src="~/Areas/Core/Scripts/applicationUser.changePassword.js"></script>