﻿
@{
    ViewBag.Title = "Application User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/applicationuser";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/applicationuser")">Application User</a></li>
                            <li class="breadcrumb-item active fw-700">Detail</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {
    <!-- Modal center -->
    <div class="modal fade " id="modal_changePassword" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <!--===================================================-->
    <!--Start page content-->
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        User Information
                    </h2>
                    <div class="panel-toolbar">
                        <button id="btn-resetPasswordModal" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed"
                                data-toggle="modal-remote" data-target="#modal_changePassword">
                            <span class="fal fa-plus mr-1"></span>
                            Reset Password
                        </button>

                        <button id="btn-save" class="btn btn-primary btn-sm waves-effect waves-themed">Save</button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            This example shows DataTables and the Responsive extension being used with the Bootstrap framework providing the styling. The DataTables / Bootstrap integration provides seamless integration for DataTables to be used in a Bootstrap page. <strong>Note</strong> that the <code>.dt-responsive</code> class is used to indicate to the extension that it should be enabled on this page, as responsive has special meaning in Bootstrap. The responsive option could also be used if required
                        </div>
                        <form id="form-applicationUser" class="form-horizontal">
                            <input hidden name="id" data-field="id" id="recordId" value="@ViewBag.recordId" />
                            <div class="row mb-lg-6">
                                <div class="col-md-4">
                                    <div class="text-center">
                                        <div class="mb-md-3">
                                            <img id="img-app-user-profile-male" src="#" class="img-lg img-circle" alt="Profile Picture" style="width:100px">
                                            @*<img id="img-app-user-profile-female" src="~/Content/img/profile-photos/8.png" class="img-lg img-circle" alt="Profile Picture" style="display:none">*@
                                        </div>
                                        <h4 id="fullname" class="text-lg text-overflow mar-no">[NONAME]</h4>

                                        <label class="btn btn-primary btn-upload waves-effect waves-themed" for="inputImage" title="Upload image file">
                                            <input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                                            <span class="docs-tooltip" data-toggle="tooltip" data-animation="false" title="" data-original-title="Upload Profile Picture">
                                                <span class="fas fa-image mr-1"></span> Upload Profile Picture
                                            </span>
                                        </label>

                                    </div>
                                </div>
                                <div class="col-md-8">


                                    <input type="hidden" id="business_unit_id" name="business_unit_id" data-field="business_unit_id" value="" />

                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">Username</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" name="app_username" data-field="app_username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-7 offset-lg-3">
                                            <div class="frame-wrap">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input id="memberType-local" class="custom-control-input" checked="checked" type="radio" name="is_ldap" data-field="is_ldap" value="false">
                                                    <label class="custom-control-label" for="memberType-local">Local System</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input id="memberType-ldap" class="custom-control-input" type="radio" name="is_ldap" data-field="is_ldap" value="true">
                                                    <label class="custom-control-label" for="memberType-ldap">Active Directory</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">First Name</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" name="first_name" data-field="first_name" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">Last Name</label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" name="last_name" data-field="last_name" placeholder="Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label" style="padding-top: 7px;">APH</label>
                                        <div class="col-lg-7">
                                            @*<select class="form-control" id="business_unit_id" name="business_unit_id" data-field="business_unit_id"></select>*@
                                            <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important;">Click to choose a Business Unit</a>

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">Gender</label>
                                        <div class="col-lg-7">
                                            <div class="radio">
                                                <input id="gender_male" class="magic-radio" checked type="radio" name="gender" data-field="gender" value="true">
                                                <label for="gender_male">Male</label>

                                                <input id="gender_female" class="magic-radio" type="radio" name="gender" data-field="gender" value="false">
                                                <label for="gender_female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 control-label">Email address</label>
                                        <div class="col-lg-7">
                                            <input type="email" class="form-control" name="email" data-field="email" placeholder="email">
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->

}

@section scripts{
    <script src="~/Areas/Core/Scripts/applicationUser.detail.js?_@DateTime.Now"></script>
}