﻿@{
    ViewBag.Title = "Application User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/applicationuser";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">

        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>List Users</h2>
                <div class="panel-toolbar">
                    <div class="form-group">
                        <div class="input-group input-group-sm bg-white shadow-inset-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-right-0 py-1 px-3 text-success">
                                    <i class="fal fa-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control border-left-0 bg-transparent pl-0" id="search-name" placeholder="Type here...">
                            <div class="input-group-append">
                                <button class="btn btn-default waves-effect waves-themed" id="btn-filter" type="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <a href="@Url.Content("~/Core/ApplicationUser/Detail")" class="btn btn-sm btn-primary" style="margin-right: 10px;">Add New</a>
                    <div class="row mt-3 mb-md-3" id="page-user-content">
                        @*<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="d-flex flex-row px-3 pt-3 pb-2">
                                    <!-- profile photo : lazy loaded -->
                                    <span class="status status-danger">
                                        <img src="http://www.themeon.net/nifty/v2.9.1/img/profile-photos/1.png" height="95" alt="Profile Picture" class="rounded-circle rounded-sm">
                                    </span>
                                    <!-- profile photo end -->
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Lisa Hatchensen fullname</a>
                                        <span>app_username</span>
                                        <div class="d-flex mt-3 flex-wrap">
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="mailto:{email}}?Subject=Budget%20Tracking" class="btn btn-sm btn-default"><i class="demo-pli-mail icon-lg icon-fw"></i> Email</a>
                                            </div>
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="@Url.Content(" ~/Core/ApplicationUser/Detail?id="){id}}" class="btn btn-sm btn-default"><i class="demo-pli-pen-5 icon-lg icon-fw"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="d-flex flex-row px-3 pt-3 pb-2">
                                    <!-- profile photo : lazy loaded -->
                                    <span class="status status-danger">
                                        <img src="http://www.themeon.net/nifty/v2.9.1/img/profile-photos/1.png" height="95" alt="Profile Picture" class="rounded-circle rounded-sm">
                                    </span>
                                    <!-- profile photo end -->
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Lisa Hatchensen fullname</a>
                                        <span>app_username</span>
                                        <div class="d-flex mt-3 flex-wrap">
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="mailto:{email}}?Subject=Budget%20Tracking" class="btn btn-sm btn-default"><i class="demo-pli-mail icon-lg icon-fw"></i> Email</a>
                                            </div>
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="@Url.Content(" ~/Core/ApplicationUser/Detail?id="){id}}" class="btn btn-sm btn-default"><i class="demo-pli-pen-5 icon-lg icon-fw"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="d-flex flex-row px-3 pt-3 pb-2">
                                    <!-- profile photo : lazy loaded -->
                                    <span class="status status-danger">
                                        <img src="http://www.themeon.net/nifty/v2.9.1/img/profile-photos/1.png" height="95" alt="Profile Picture" class="rounded-circle rounded-sm">
                                    </span>
                                    <!-- profile photo end -->
                                    <div class="ml-3">
                                        <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Lisa Hatchensen fullname</a>
                                        <span>app_username</span>
                                        <div class="d-flex mt-3 flex-wrap">
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="mailto:{email}}?Subject=Budget%20Tracking" class="btn btn-sm btn-default"><i class="demo-pli-mail icon-lg icon-fw"></i> Email</a>
                                            </div>
                                            <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                                                <a href="@Url.Content(" ~/Core/ApplicationUser/Detail?id="){id}}" class="btn btn-sm btn-default"><i class="demo-pli-pen-5 icon-lg icon-fw"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        @*<div class="col-md-6">
                                <div class="panel panel-mint panel-colorful media middle pad-all">
                                    <div class="media-left">
                                        <a href="#" class="box-inline"><img alt="Profile Picture" class="img-md img-circle" src="http://www.themeon.net/nifty/v2.9.1/img/profile-photos/1.png"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="widget-control pull-right" style="z-index:9999; right: 0px !important;">

                                            <span class="label label-success add-tooltip">LDAP</span>

                                            <div class="btn-group dropdown">
                                                <a href="#" class="dropdown-toggle btn btn-trans" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical icon-lg"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-right" style="">
                                                    <li><a href="@Url.Content(" ~/Core/ApplicationUser/Detail?id="){{id}}"><i class="icon-lg icon-fw demo-psi-pen-5"></i> Edit</a></li>
                                                    <li><a href="javascript:void(0);" class="row-delete"><i class="icon-lg icon-fw demo-pli-recycling"></i> Remove</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="icon-lg icon-fw demo-pli-calendar-4"></i> View Details</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <p class="text-lg mar-no text-semibold">{app_fullname}}</p>
                                        <p class="mar-no">{app_username}}</p>
                                        <div class="text-center pad-to" style="">
                                            <div class="btn-group">
                                                <a href="mailto:{email}}?Subject=Budget%20Tracking" class="btn btn-sm btn-default"><i class="demo-pli-mail icon-lg icon-fw"></i> Email</a>
                                                <a href="@Url.Content(" ~/Core/ApplicationUser/Detail?id="){id}}" class="btn btn-sm btn-default"><i class="demo-pli-pen-5 icon-lg icon-fw"></i> Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination" id="pagination" data-toggle="panel-overlay" data-target="#page-loading-content"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<input type="hidden" id="urlimageprofile" value="@Url.Content("~/uploadProfilePicture/")">
<!--End page content-->
<script id="user-template" type="text/x-handlebars-template">
    {{#each items}}
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
        <div class="d-flex flex-row px-3 pt-3 pb-2">
            <!-- profile photo : lazy loaded -->
            <span class="status status-danger">
                {{#if gender}}
                <img class="profile-image rounded-circle imgpp-{{id}}" src="@Url.Content("~/uploadProfilePicture/"){{id}}" alt="Profile Picture">
                {{else}}
                <img class="profile-image rounded-circle imgpp-{{id}}" src="@Url.Content("~/uploadProfilePicture/"){{id}}" alt="Profile Picture">
                {{/if}}


            </span>
            <!-- profile photo end -->
            <div class="ml-3">
                <a href="javascript:void(0);" title="{{app_fullname}}" class="d-block fw-700 text-dark">{{app_fullname}}</a>
                <span>{{email}}</span>
                <div class="d-flex mt-3 flex-wrap">
                    <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                        <a href="mailto:{{email}}?Subject=Pertamina" class="btn btn-sm btn-default"><i class="demo-pli-mail icon-lg icon-fw"></i> Email</a>
                    </div>
                    <div class="btn-group mr-1 mt-1" role="group" aria-label="Button group with nested dropdown ">
                        <a href="@Url.Content("~/Core/ApplicationUser/Detail?id="){{id}}" class="btn btn-sm btn-default"><i class="demo-pli-pen-5 icon-lg icon-fw"></i> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</script>

@section scripts{
    <script src="~/Areas/Core/Scripts/applicationUser.index.js?@DateTime.Now"></script>
}
