﻿
@{
    ViewBag.Title = "Application User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/applicationuser";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/applicationuser")">Application User</a></li>
                            <li class="breadcrumb-item active fw-700">Update Password</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {
    <!--===================================================-->
    <!--Start page content-->
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        User Information
                    </h2>

                </div>

                <div class="panel-container show">
                    <div class="panel-content">
                        <form id="frm-changePassword" class="needs-validation" novalidate>
                            <input hidden id="user_id" name="id" value="@ViewBag.recordId" />
                            <input hidden id="AppUsername" name="AppUsername" value="@ViewBag.AppUsername" />
                            <input hidden id="AppFullname" name="AppUsername" value="@ViewBag.AppFullname" />
                            <input hidden id="PrimaryBusinessUnitId" name="PrimaryBusinessUnitId" value="@ViewBag.PrimaryBusinessUnitId" />
                            <input hidden id="AppEmail" name="AppEmail" value="@ViewBag.AppEmail" />
        
                            <div class="form-group">
                                <label class="form-label" for="new_password">New Password</label>
                                <input type="password" id="new_password" name="new_password" required class="form-control">
                                <div class="invalid-feedback">
                                    Please enter a valid password
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="app_password">Confirm Password</label>
                                <input type="password" id="app_password" name="app_password" required class="form-control">
                                <div class="invalid-feedback">
                                    Please enter a valid password
                                </div>
                            </div>

                        </form>

                        <button type="button" class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Back</button>
                        <button type="button" class="btn btn-sm btn-info" id="btn-resetPassword">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End page content-->

}

@section scripts{
    <script src="~/Areas/Core/Scripts/applicationUser.updatePassword.js"></script>
}