﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Casing Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formHoleAndCasing" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_id">Hole<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="hole_id" id="hole_id" data-field="hole_id" data-text="hole_name" placeholder="" required></select>
                </div>
            </div>
            <div class="form-group row mb-2" id="casing_diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Casing Diameter<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="name" name="name" data-field="name" data-text="name" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>
<script src="~/Content/plugins/Inputmask-5.x/js/bindings/inputmask.binding.js"></script>
<script src="~/Areas/Core/Scripts/casing.detail.js?_@DateTime.Now"></script>