﻿@{
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
    if (userSession == null)
    {
        Response.Redirect("~/Identity/Account/LoginUTC");
    }
}
<!DOCTYPE html>

<html lang="en" class="root-text-sm">
<head>
    <meta charset="UTF-8" />
    <meta name="x-token" content="@userSession.Token">
    @Html.Partial("_Head")
    @RenderSection("Header", required: false)

</head>
<body class="desktop chrome webkit" style="background:none!important">
    <div class="page-wrapper">
        <div class="page-inner">
            <div class="page-content-wrapper">
                <main id="js-page-content" role="main" class="page-content ">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    
    <script src="~/Content/js/vendors.bundle.js?@DateTime.Now"></script>
    <script src="~/Content/js/app.bundle.js?@DateTime.Now"></script>
    <script src="~/Content/plugins/handlebars/handlebars-4.1.1.js"></script>
    <script src="~/Content/plugins/momentjs/moment.min.js"></script>
    <script src="~/Content/scripts/codemarvel.helper.plugins.js?@DateTime.Now"></script>

    
    <script>
        var url = "@Url.Content("~")";
        var urlAPI = "@Dreamwell.Infrastructure.Options.DreamwellSettings.ApiServerUrl";
        $(document).ajaxSend(function (event, jqxhr, settings) {
            jqxhr.setRequestHeader('Server-Type', 'Dreamwell.ASP.NET Web API');
            jqxhr.setRequestHeader('Authorization', 'Bearer @userSession.Token');
        });
    
        var coreHelper = {


            setBasePath: function (path) {
                basePath = path;
                this.setBasePath = null;
            },
            setApiBasePath: function (path) {
                apiBasePath = path;
                this.setApiBasePath = null;
            },
            resolveApi: function (url) {
                return url.replace('~', apiBasePath);
            },
            resolve: function (url) {
                return url.replace('~', basePath);
            },
            setTokenData: function (payload) {
                tokenData = payload;
                sessionStorage.setItem("marvel.userSessionKey", tokenData);
            },
            getTokenData: function () {
                tokenData = tokenData || sessionStorage.getItem("marvel.userSessionKey");
                return tokenData;
            },
            getJqueryObject: function (obj) {
                return (typeof obj === 'string') ? $('#' + obj) : (obj.jquery ? obj : $(obj));
            },
            toDefault: function (data, defaultValue) {
                return typeof data === 'undefined' || data === null || data === '' ? defaultValue : data;
            }
        };

        var controlHelper = {
            form: {
                clear: function (form, excludes) {
                    excludes = typeof excludes === 'undefined' ? [] : excludes;
                    var $el = coreHelper.getJqueryObject(form);
                    $el.find('span, input, select, textarea').each(function (e) {
                        var obj = $(this),
                            defaultValue = obj.data("defaultValue") || "",
                            includeFilter = typeof obj.data("clearFilter") === 'undefined' ? true : obj.data("clearFilter");

                        if ($.inArray(obj[0].name, excludes) == -1 && includeFilter) {

                            if (obj[0].tagName == 'SELECT') {
                                if (obj.hasClass('select2') || obj.hasClass('select2-hidden-accessible')) {
                                    obj.val(null);
                                    obj.trigger('change');
                                } else {
                                    obj[0].selectedIndex = 0;
                                    obj.trigger('change');
                                }
                            } else {
                                obj.empty();
                            }
                        }
                    });
                },
                fill: function (form, viewData, excludes) {
                    if (typeof viewData === 'undefined' || viewData == null) return;
                    excludes = typeof excludes === 'undefined' ? [] : excludes;
                    var $el = coreHelper.getJqueryObject(form);
                    var formEls = $el.find('span, input, select, textarea, label');
                    var self = this,
                        tempObj = {},
                        type = '',
                        field = '';

                    $.each(formEls, function (key, obj) {
                        try {
                            if ($.inArray(obj.id, excludes) == -1 || $.inArray(obj.name, excludes) == -1) {
                                tempObj = $(obj);
                                field = typeof tempObj.attr('data-field') !== 'undefined' ? tempObj.data('field') : null;
                                //type = obj.type || typeof obj;
                                type = obj.type !== undefined ? obj.type : tempObj.attr('data-objecttype') !== 'undefined' ? tempObj.data('objecttype') : null;
                                //only attribute data-field broo
                                if (field == null) return;

                                console.log('type : ' + type);
                                //console.log(tempObj.attr('data-objecttype') !== 'undefined' ? tempObj.data('objecttype') : null);

                                switch (type) {
                                    case 'radio':
                                        console.log(obj.value);
                                        if (String(obj.value) == String(viewData[field])) {
                                            obj.checked = true;
                                        }

                                        break;
                                    case 'select-one':

                                        /*Single Selection*/
                                        console.log(tempObj);
                                        var formattedValue = coreHelper.toDefault(viewData[field], '');
                                        var fieldText = typeof tempObj.attr('data-text') !== 'undefined' ? tempObj.data('text') : null;
                                        var formattedText = coreHelper.toDefault(viewData[fieldText], '');
                                        //tempObj.val({
                                        //    id: formattedValue,
                                        //    text: formattedText
                                        //}).trigger('change.select2');
                                        tempObj.select2("trigger", "select", {
                                            data: { id: formattedValue, text: formattedText }
                                        });
                                        break;
                                    case 'hidden':
                                    case 'text':
                                    case 'number':
                                    case 'email':
                                    case 'textarea':
                                        var formattedValue = coreHelper.toDefault(viewData[field], '');
                                        if (tempObj.hasClass("date-picker")) {
                                            var format = tempObj.data("format") || "mm/dd/yyyy";
                                            //formattedValue = moment(formattedValue).format("yyyy/MM/dd");
                                            var resultFormat = moment(viewData[field]).format("MM/DD/YYYY");
                                            tempObj.datepicker('setDate', resultFormat);
                                            break;
                                        }
                                        else {
                                            switch (tempObj.data("inputmask")) {
                                                case "'alias': 'currency'":
                                                    formattedValue = thousandSeparatorWithoutComma(formattedValue);
                                                    break;
                                            }
                                        }
                                        tempObj.val(formattedValue);
                                        break;
                                    case 'label':
                                        var formattedValue = coreHelper.toDefault(viewData[field], '');
                                        if (tempObj.hasClass("date-picker")) {
                                            var format = tempObj.data("format") || "MM/DD/YYYY";
                                            var resultFormat = moment(viewData[field]).format(format);
                                            tempObj.html(resultFormat);
                                        } else {
                                            tempObj.html(formattedValue);
                                        }
                                        break;
                                    case 'select2':
                                        alert();
                                        break;
                                    //default:
                                    //    tempObj.html(formattedValue);
                                    //    break;

                                }
                            }
                        } catch (e) {

                        }


                    });
                },
                fillmultiple: function (form, viewData, excludes) {
                    if (typeof viewData === 'undefined' || viewData == null) return;
                    excludes = typeof excludes === 'undefined' ? [] : excludes;
                    var $el = coreHelper.getJqueryObject(form);
                    var formEls = $el.find('input, select, textarea, label');
                    var self = this,
                        tempObj = {},
                        type = '',
                        field = '';

                    $.each(formEls, function (key, obj) {
                        if ($.inArray(obj.id, excludes) == -1 || $.inArray(obj.name, excludes) == -1) {
                            tempObj = $(obj);
                            field = typeof tempObj.attr('data-field') !== 'undefined' ? tempObj.data('field') : null;
                            //type = obj.type || typeof obj;
                            type = obj.type !== undefined ? obj.type : tempObj.attr('data-objecttype') !== 'undefined' ? tempObj.data('objecttype') : null;
                            //only attribute data-field broo
                            if (field == null) return;

                            switch (type) {
                                case 'radio':
                                    console.log(obj.value);
                                    if (String(obj.value) == String(viewData[field])) {
                                        obj.checked = true;
                                    }
                                    break;

                                case 'select-one':
                                    /*Single Selection*/
                                    var formattedValue = coreHelper.toDefault(viewData[field], '');
                                    var fieldText = typeof tempObj.attr('data-text') !== 'undefined' ? tempObj.data('text') : null;
                                    var formattedText = coreHelper.toDefault(viewData[fieldText], '');
                                    tempObj.select2("trigger", "select", {
                                        data: { id: formattedValue, text: formattedText }
                                    });
                                    break;
                                case 'hidden':
                                case 'text':
                                case 'email':
                                case 'textarea':
                                    var formattedValue = coreHelper.toDefault(viewData[field], '');
                                    if (tempObj.hasClass("date-picker")) {
                                        var format = tempObj.data("format") || "MM/dd/yyyy";
                                        formattedValue = moment(formattedValue).format(format)
                                        tempObj.datepicker('setDate', formattedValue);
                                        break;
                                    }
                                    tempObj.val(formattedValue);
                                    break;
                                case 'label':
                                    var formattedValue = coreHelper.toDefault(viewData[field], '');
                                    if (tempObj.hasClass("date-picker")) {

                                        var format = tempObj.data("format") || "MM/DD/YYYY";
                                        formattedValue = moment(formattedValue).format(format)
                                    }
                                    tempObj.text(formattedValue);
                                    break;
                            }
                        }
                    });
                }
            }
        };


    </script>

    @RenderSection("Scripts", required: false)


</body>
</html>
