﻿@using Dreamwell.Web.Models
<aside class="page-sidebar">
    @Html.Partial("_Logo")
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        @Html.Partial("_NavFilter")
        @Html.Partial("_PageNavigation", NavigationModel.SeedForUTC)
        @Html.Partial("_NavFilterMsg")
    </nav>
    <!-- END PRIMARY NAVIGATION -->
</aside>