﻿@using System.IO
@using Dreamwell.Web.Models
@model CommonTools.SmartNavigation.SmartNavigation
@*ViewData["PageName"]  = isi dengan lowercase*@
<ul id="js-nav-menu" class="nav-menu">
    @foreach (var group in Model.Lists)
    {
        if (group.Items.Any())
        {
            var groups = group.Items.Select(x => x.Href).Where(x => x != "javascript:void(0);").ToList();

            group.Items.ForEach(item =>
            {
                var result = item.Items?.Select(x => x.Href).Where(x => x != "javascript:void(0);").ToList();
                if (result?.Any() == true)
                {
                    groups = groups.Concat(result).ToList();
                }
            });


            <li class="@(groups.Where(xx=>xx.ToLower().Contains(((string)ViewBag.PageName)?.ToLower())).Count() > 0 ? "active open" : "")">
                <a href="#" title="@group.Title" data-filter-tags="@group.Tags">
                    <i class="@group.Icon"></i>
                    <span class="nav-link-text" data-i18n="@group.I18n">@group.Text</span>
                    @if (group.Span.HasValue())
                    {
                        <span class="@group.Span.Class">@group.Span.Text</span>
                    }
                </a>
                <ul>
                    @{
                        foreach (var item in group.Items)
                        {
                            var items = item.Items?.Select(x => x.Href).Where(x => x != "javascript:void(0);").ToList();

                            if (item.Disabled)
                            {
                                <text>
                                    <li class="disabled">
                                </text>
                            }
                            else
                            {
                                if (items?.Any() == true)
                                {
                                    <text>

                                    <li class="@(items.Where(xx=>xx.ToLower().Contains((((string)ViewBag.PageName)?.ToLower()))).Count() > 0 ? "active open" : "")">
                                    </text>
                                }
                                else
                                {
                                    <text>

                                    <li data-pagename="@ViewBag.PageName" data-href="@item.Href" class="@(((string)ViewBag.PageName)?.ToLower().Contains(item.Href?.ToLower()) == true ? "active" : "")">
                                    </text>
                                }
                            }
                            <text>
                                @if (item.Route.Equals("javascript:void(0);"))
                                {
                                    <a href="@item.Route" title="@item.Title" data-filter-tags="@item.Tags">
                                        <span class="nav-link-text" data-i18n="@item.I18n">@item.Text</span>
                                        @if (item.Span.HasValue())
                                        {
                                            <span class="@item.Span.Class">@item.Span.Text</span>
                                        }
                                    </a>
                                }
                                else
                                {
                                    <a href="@string.Format("/UTC/{0}/{1}", ViewBag.BusinessUnitRoute,item.Route)" title="@item.Title" data-filter-tags="@item.Tags">
                                        <span class="nav-link-text" data-i18n="@item.I18n">@item.Text</span>
                                        @if (item.Span.HasValue())
                                        {
                                            <span class="@item.Span.Class">@item.Span.Text</span>
                                        }
                                    </a>
                                }


                            </text>
                            if (item.Items?.Any() == true)
                            {
                                <text>
                                    <ul>
                                        @foreach (var subItem in item.Items)
                                        {
                                            if (subItem.Disabled)
                                            {
                                                <text>
                                                    <li class="disabled">
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                <li data-pagename="@ViewBag.PageName" data-href="ccc" class="@(((string)ViewBag.PageName)?.ToLower() == subItem.Href?.ToLower() ? "active" : "")">
                                                </text>
                                            }
                                            <a href="@subItem.Route" title="@subItem.Title" data-filter-tags="@subItem.Tags">
                                                <span class="nav-link-text" data-i18n="@subItem.I18n">@subItem.Text</span>
                                            </a>
                                        @:</li>
                                    }
                                    </ul>
                                </text>
                            }
                        @:</li>
                    }
                    }
                </ul>
            </li>
        }
        else
        {
            if (group.IsGroup)
            {
                <li class="nav-title">@group.Title</li>
            }
            else
            {

                <text>

                    <li data-pagename="@ViewBag.PageName" data-href="@group.Href" class="@(((string)ViewBag.PageName)?.ToLower() == group.Href?.ToLower() ? "active" : "")">
                        <a href="@group.Href">@group.Title</a>
                    </li>
                </text>

            }


        }
    }
</ul>