﻿<style>
    .header-icon {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
    }

        .header-icon i {
            margin-right: 5px;
        }

    .badge {
        background-color: #b57d6a; /* Warna latar badge */
        color: #fff; /* Warna teks badge */
        padding: 3px 8px;
        border-radius: 12px;
        font-size: 12px;
        margin-left: 5px;
        display: inline-block;
    }
</style>

<header class="page-header" role="banner">
    <!-- we need this logo when user switches to nav-function-top -->
    @Html.Partial("_Logo")

    <!-- DOC: nav menu layout change shortcut -->
    <div class="hidden-md-down dropdown-icon-menu position-relative">
        <a href="#" class="header-btn btn js-waves-off" data-action="toggle" data-class="nav-function-hidden" title="Hide Navigation">
            <i class="ni ni-menu"></i>
        </a>
        <ul>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-minify" title="Minify Navigation">
                    <i class="ni ni-minify-nav"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn js-waves-off" data-action="toggle" data-class="nav-function-fixed" title="Lock Navigation">
                    <i class="ni ni-lock-nav"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- DOC: mobile button appears during mobile width -->
    <div class="hidden-lg-up">
        <a href="#" class="header-btn btn press-scale-down" data-action="toggle" data-class="mobile-nav-on">
            <i class="ni ni-menu"></i>
        </a>


    </div>
    <div class="search" style="display: none;">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-expanded="false">PEP </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: top, left; top: 35px; left: 0px;">
                <a class="dropdown-item" href="javascript:void(0)">PEP</a>
                <a class="dropdown-item" href="javascript:void(0)">PHE</a>
            </div>
        </div>
    </div>


    <div class="ml-auto d-flex">
        <!-- app user menu -->

        <div style="cursor: pointer;">
            @*@<a href="#" data-toggle="dropdown" title="@ViewBag.Help" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <i class="fal fa-question-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                @Html.Partial("_DropdownHelp")
            </div>*@
            <a href="#" data-toggle="dropdown" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <i class="fal fa-question-circle"></i>
                <span class="badge badge-icon" style="max-width:none!important;margin-top:-5px!important">Help</span>
                <div class="dropdown-menu dropdown-menu-animated dropdown-lg" style="width: 25.5rem;">
                    @Html.Partial("_DropdownHelps")
                </div>
            </a>
        </div>

        <div style="cursor: pointer;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>


        <div>
            <a href="@Url.Content("/")" class="header-icon" style="cursor: pointer;">
                <i class="fal fa-cube"></i>  <span>Go to Application</span>
                <span class="badge" style="max-width:none!important;margin-top:-5px!important">@ViewBag.BusinessUnitRoute</span>
            </a>

        </div>
        <div style="cursor: pointer;">
            <a href="#" data-toggle="dropdown" title="@ViewBag.AppEmail" class="header-icon d-flex align-items-center justify-content-center ml-2">
                <img src="~/Content/img/profile-photos/5.png" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
                <span class="ml-1 mr-1 text-truncate text-truncate-header hidden-xs-down">@ViewBag.AppFullname</span>
                <i class="ni ni-chevron-down hidden-xs-down"></i>

            </a>
            <div class="dropdown-menu dropdown-menu-animated dropdown-lg">
                <a class="dropdown-item fw-500 pt-3 pb-3" asp-area="Identity" href="@Url.Content("/Identity/Account/Logout")">
                    <span data-i18n="drpdwn.page-logout">Logout</span>
                </a>

            </div>
        </div>

    </div>
</header>