:root {
    --bg-login: #edf2fb;
    --bg-dark: #264653;
    --bg-footer: #1f3a45;
}

.container-flex{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.pattern-bg {
    background : url('/Content/img/svg/pattern-1.svg') no-repeat center bottom fixed;
    background-size: cover
}

.pattern-chart {
    background: linear-gradient(transparent, black);
    position: relative;
}


    .pattern-chart::before {
        position: absolute;
        content: '';
        background: url('/Content/img/chart.png') no-repeat;
        z-index: -0;
        height: 100%;
        bottom: -50%;
        left: 0;
        right: 0;
        opacity: .3;
    }

    .pattern-chart::after {
        position: absolute;
        content: '';
        background: url('/Content/img/pattern.png') no-repeat bottom;
        background-size: initial;
        opacity: .2;
        z-index: -0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.login-page{
    flex: 1;
    background-color: var(--bg-dark);
    display: flex;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.login-form {
    display: flex;
    justify-content: center;
    background-color: var(--bg-login);
    flex: 1;
    padding: 0 2em;
    flex-direction: column;
    position: relative;
}

.login-desc p{
    font-size: 1rem;
}

.login-form .title{
    font-size: 2rem;
    font-weight: bold;
}

.banner-content {
    display: none;
    color: white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content .title{
    font-size: 2rem
}

.banner-content p {
    font-size: 1.2rem
}

.banner-desc {
    padding: 4em;
    z-index: 1;
}

.banner-picture{
    display: flex;
    align-items: center;
    width: 90%;
    z-index: 1;
}

.banner-picture img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.brand{
    width: 102px;
}

.navbrand {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0px 2px 14px 0 rgba(0, 0, 0, 0.1)
}

.footer {
    background-color: var(--bg-footer);
    padding: 1em 0em;
}
@media (min-width: 576px) {
    .login-form {
        padding: 0 2em;
    }
    .login-desc p {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .login-form {
        flex-basis: 50%;
        flex-grow: 0;
        padding: 0 4em;
    }

    .banner-content {
        display: flex;
        flex-basis: 50%;
        flex-grow: 1;
        padding: 0 1em;
    }

    .banner-content p {
        font-size: 1rem;
    }
}

@media (min-width: 1399px) {
    .login-form {
        padding: 0 10em;
    }

    .banner-content {
        padding: 0 3em;
    }

    .banner-content p {
        font-size: 1.2rem;
    }
}