.text-white-shadow {
	text-shadow: 1px 1px black;
}

.report-container {
	margin: 0 -26px -26px;
}

.report-main {
	width: 100%;
	padding-bottom: 20px;
}

.report-header {
	position: relative;
	width: 100%;
	height: 116px;
	color: #ffffff;
	font-family: 'Open Sans';
}

.report-header:after {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
	background: -webkit-linear-gradient(transparent, rgba(255,255,255,0.7));
	background: -moz-linear-gradient(transparent, rgba(255,255,255,0.7));
	background: -o-linear-gradient(transparent, rgba(255,255,255,0.7));
	background: linear-gradient(transparent, rgba(255,255,255,0.7));
	background-size: 200% 100%;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.report-header .weather {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.report-header .weather.active {
	display: block;
}

.report-header .weather svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
}

.report-header .weather-detail {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 140px;
	cursor: pointer;
	z-index: 1;
}

.report-header .weather-detail > .temperature {
	position: absolute;
	top: 5px;
	left: 70px;
	font-size: 32px;
	font-weight: 400;
	color: #ffffff;
	white-space: nowrap;
}

.report-header .weather-detail > .wind-speed {
	position: absolute;
	top: 64px;
	left: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #980B10;
	white-space: nowrap;
}

.report-header .weather-detail > .wave {
	position: absolute;
	top: 94px;
	left: 10px;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-weight: 800;
	color: #252525;
	white-space: nowrap;
}

.report-header .weather-detail > .wave:before {
	content: "Wave :";
	position: absolute;
	top: -7px;
	left: 0;
	height: 10px;
	line-height: 10px;
	font-weight: 400;
	font-size: 9px;
	white-space: nowrap;
}

.report-header .weather-detail .weather-popup {
	position: absolute;
	top: 50%;
	left: 100px;
	margin-top: -93px;
	height: 185px;
	width: 720px;
	padding: 20px;
	color: #666666;
	background-color: rgba(255,255,255, 0.8);
	box-shadow: 0px 0px 15px #8f8f8f;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



.report-header .weather-detail .weather-popup:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -25px;
	margin-left: -45px;
	border-top: 25px solid transparent;
	border-right: 25px solid rgba(255,255,255, 0.8);
	border-bottom: 25px solid transparent;
}

.report-header .weather-detail:hover .weather-popup {
	visibility: visible;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

.report-header .weather-detail .weather-popup table {
	width: 100%;
}

.report-header .weather-detail .weather-popup table td {
	padding: 5px;
}

/* drill header popup */
.drill-header .datum-popup {
	position: absolute;
	top: 50%;
	left: 100px;
	margin-top: -93px;
	height: 160px;
	width: 300px;
	padding: 20px;
	color: #666666;
	background-color: rgba(255,255,255, 0.8);
	box-shadow: 0px 0px 15px #8f8f8f;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.drill-header .datum-popup:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -25px;
	margin-left: -45px;
	border-top: 25px solid transparent;
	border-right: 25px solid rgba(255,255,255, 0.8);
	border-bottom: 25px solid transparent;
}

.drill-header:hover .datum-popup {
	visibility: visible;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

.drill-header .datum-popup table {
	width: 100%;
}

.drill-header .datum-popup table td {
	padding: 5px;
}



.report-body {
	position: relative;
}

.report-body .dirt-wrapper {
	position: relative;
	height: 360px;
}

.report-body .dirt-type {
	position: relative;
}

.report-body .dirt-type .dirt-name {
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: #252525;
}

.report-body .drill-wrapper {
	position: absolute;
	top: 0;
	bottom: 50px;
	/*left: 25%;*/
	/*left: 27%;*/
	left: 44%;
	margin-left: -110px;
	width: 120px;
}



	.report-body .drill-header {
		position: absolute;
		top: -101px;
		left: 0;
		width: 120px;
		height: 101px;
		background-image: url(../img/report/drill-header-120.png);
		/*background-size:*/
		/*background-position: center;
		background-repeat: no-repeat;
		background-size: cover;*/
	}

.report-body .drill-body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 77px;
	z-index: 0;
}

.report-body .drill-hole {
	position: relative;
	display: block;
	margin: 0 auto;
	/*width: 105px;*/
	height: 100%;
	background-color: #00cc00;
	border-left: 3px solid #8f8f8f;
	border-right: 3px solid #8f8f8f;
}

.report-body .drill-hole:last-child {
	border-bottom: 3px solid #8f8f8f;
}

.report-body .drill-hole .img{
	position: absolute;
	right: 100%;
	top: 93%;
	/*
	bottom: 50px;
	left: 25%;*/
	/*margin-left: -38px;*/
	width: 10%;
}

.report-body .drill-hole .img2{
	position: absolute;
	top: 93%;
	left: 100%;
	/*
	bottom: 50px;
	*/
	/*margin-left: -38px;*/
	width: 10%;
}

.report-body .drill-hole .img3{
	position: absolute;
	right: 100%;
	top: 35px;
	/*
	bottom: 50px;
	left: 25%;*/
	/*margin-left: -38px;*/
	width: 10%;
}

.report-body .drill-hole .img4{
	position: absolute;
	top: 35px;
	left: 100%;
	/*
	bottom: 50px;
	*/
	/*margin-left: -38px;*/
	width: 10%;
}

.report-body .drill-hole .img5{
	position: absolute;
	right: 100%;
	top: 98%;
	/*
	bottom: 50px;
	left: 25%;*/
	/*margin-left: -38px;*/
	width: 14%;
}

.report-body .drill-hole .img6{
	position: absolute;
	top: 98%;
	left: 100%;
	/*
	bottom: 50px;
	*/
	/*margin-left: -38px;*/
	width: 13%;
}


.report-body .drill-bit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 20px;
	height: 0;
	max-height: 100%;
	background-color: #999999;
	background: -webkit-linear-gradient(#D71920, #AF5400);
	background: -moz-linear-gradient(#D71920, #AF5400);
	background: -o-linear-gradient(#D71920, #AF5400);
	background: linear-gradient(#D71920, #AF5400);
	border-left: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	border-right: 1px solid #8f8f8f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
}

.report-body .drill-bit:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
	-webkit-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	-webkit-animation: moveLeft 2s linear infinite;
	-moz-animation: moveLeft 2s linear infinite;
	animation: moveLeft 2s linear infinite;
	overflow: hidden;
}

.report-body .drill-bit:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: -1px;
	width: 20px;
	height: 30px;
	background-image: url(../img/report/drill-bit.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.report-body .drill-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.report-body .drill-info span {
	white-space: nowrap;
	min-width: 80px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.report-body .drill-info span.hide-info {
	opacity: 0;
}

.report-body .drill-info span.left {
	position: absolute;
	top: 0;
	right: 100%;
	margin-right: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .drill-info span.left:after {
	position: absolute;
	top: 0;
	right: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .drill-info span.right {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .drill-info span.right:after {
	position: absolute;
	top: 0;
	left: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .depth-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.report-body .depth-info > span {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	min-width: 80px;
	background-color: #afd285;
	border: 1px solid #ffffff;
	color: #252525;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.report-body .depth-info > span:before {
	position: absolute;
	top: -1px;
	left: -13px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .depth-info span.text > i {
	color: #FF4900;
}

.report-body .depth-info > span .arrow {
	position: absolute;
	top: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-right: 11px solid #afd285;
	border-bottom: 11px solid transparent;
}

.report-body .cost-wrapper {
	position: absolute;
	top: 0;
	bottom: 50px;
	/*left: 55%;*/
	left: 64%;
	margin-left: -50px;
	width: 100px;
}

.report-body .time-wrapper {
	position: absolute;
	top: 0;
	bottom: 50px;
	/*left: 80%;*/
	left: 83%;
	margin-left: -50px;
	width: 100px;
}

.report-body .line-track.left:before {
	content: "";
	position: absolute;
	top: 12px;
	right: -66px;
	border-bottom: 2px solid #3A89FF;
	width: 52px;
}

.report-body .line-track.right:before {
	content: "";
	position: absolute;
	top: 12px;
	left: -74px;
	border-bottom: 2px solid #3A89FF;
	width: 52px;
}

.report-body .line-track:hover {
	z-index: 5;
}

.report-body .time-wrapper .timeline-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.report-body .time-wrapper .prev-day {
	position: absolute;
	top: 10px;
	left: 0;
	border-top: 15px solid transparent;
	border-right: 15px solid #6f7b8a;
	border-bottom: 15px solid transparent;
}

.report-body .time-wrapper .next-day {
	position: absolute;
	top: 10px;
	right: 0;
	border-top: 15px solid transparent;
	border-left: 15px solid #6f7b8a;
	border-bottom: 15px solid transparent;
}

.report-body .detail-header {
	position: absolute;
	top: -70px;
	left: 0;
	width: 100px;
	height: 70px;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}

.report-body .detail-body {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	width: 50px;
	background-color: #dbdbdb;
}
.report-body .detail-body .detail-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.report-body .detail-body .detail-wrapper > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 48px;
	max-height: 100%;
	background-color: #a2a2a2;
}

.report-body .cost-wrapper .detail-body .detail-wrapper > div {
	background: -webkit-linear-gradient(#FF9CA0, #D71920);
	background: -moz-linear-gradient(#FF9CA0, #D71920);
	background: -o-linear-gradient(#FF9CA0, #D71920);
	background: linear-gradient(#FF9CA0, #D71920);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.report-body .time-wrapper .detail-body .detail-wrapper > div {
	background: -webkit-linear-gradient(#A8DDFF, #0071BC);
	background: -moz-linear-gradient(#A8DDFF, #0071BC);
	background: -o-linear-gradient(#A8DDFF, #0071BC);
	background: linear-gradient(#A8DDFF, #0071BC);
}

.report-body .detail-info span {
	white-space: nowrap;
	min-width: 80px;
	text-align: center;
	-webkit-transition: top 0.5s ease, margin-top 0.5s ease;
	-moz-transition: top 0.5s ease, margin-top 0.5s ease;
	-ms-transition: top 0.5s ease, margin-top 0.5s ease;
	-o-transition: top 0.5s ease, margin-top 0.5s ease;
	transition: top 0.5s ease, margin-top 0.5s ease;
}

.report-body .detail-info span.hide-info {
	opacity: 0;
}

.report-body .detail-info span.left {
	position: absolute;
	top: 0;
	right: 100%;
	margin-right: -10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .detail-info span.left:after {
	position: absolute;
	top: 0;
	right: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .detail-info span.left.line-track.active:after {
	position: absolute;
	top: 0;
	right: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid #FFE383;
	border-bottom: 12px solid transparent;
}

.report-body .detail-info span.right {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: -10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .detail-info span.right:after {
	position: absolute;
	top: 0;
	left: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .detail-info span.right.warning {
	background-color: #FFE383;
}

.report-body .detail-info span.left.line-track.warning {
	background-color: #FFE383!important;
}

.report-body .detail-info span.right.warning:after {
	border-top: 12px solid transparent;
	border-right: 12px solid #FFE383;
	border-bottom: 12px solid transparent;
}

.report-body .timeline-wrapper {
	position: absolute;
	top: 0;
	right: -6px;
	bottom: 0;
	width: 20px;
}

.report-body .timeline-track {
}

.report-body .timeline-item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30px;
	height: 0px;
	border-top: 1px solid #8f8f8f;
	border-bottom: 1px solid #c8c8c8;
}

.report-body .timeline-thumb {
	position: relative;
	height: 1px;
}

.report-body .timeline-thumb:before {
	content: "";
	position: absolute;
	top: -10px;
	right: -64px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #8f8f8f;
	border-bottom: 10px solid transparent;
	cursor: pointer;
}

.report-body .timeline-thumb:after {
	content: "";
	position: absolute;
	top: -15px;
	right: -90px;
	width: 30px;
	height: 30px;
	background-color: #8f8f8f;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
}

.report-body .timeline-date {
	position: absolute;
	top: -15px;
	right: -200px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	cursor: pointer;
}
.report-body .timeline-date.warning {
	color: #ffffff;
	background-color: rgba(255, 0, 0, 0.5);
}

/* BUTTONS */
.report-buttons {
	position: relative;
	margin-top: 20px;
}

.report-button {
	float: left;
	width: 14%;
	margin: 0 1.3%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.report-button span {
	display: block;
	text-align: center;
	font-size: 16px;
}

.button-wrapper {
	position: relative;
}

.report-link {
	position: relative;
	margin: 0 auto 20px;
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #ffffff;
	font-size: 50px;
	line-height: 100px;
	background-color: #b7be00;
	text-align: center;
}

.report-button:hover .report-link {
	width: 120px;
	height: 120px;
	margin-top: -10px;
	margin-bottom: 10px;
	border: 10px solid #ffffff;
	box-shadow: 0 4px 10px #999999;
	z-index: 4;
}

.report-button .report-popup {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 5px;
	margin-bottom: 35px;
	margin-left: -5px;
	width: 100%;
	padding: 10px;
	min-height: 320px;
	max-height: 500px;
	background-color: #ffffff;
	border-top: 20px solid #ffffff;
	border-bottom: 20px solid #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 10px #444444;
	-moz-box-shadow: 0 0 10px #444444;
	box-shadow: 0 0 10px #444444;
	overflow: auto;
	overflow-x: hidden;
	z-index: -1;
}

.report-button .report-bottom {
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	width: 90px;
	height: 80px;
	margin: 0 auto -50px;
	background-color: #ffffff;
	box-shadow: 0 7px 10px #999999;
	z-index: -1;
}

.report-button:hover .report-popup, .report-button *:hover .report-popup {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	z-index: 2;
}
.report-button:hover .report-bottom {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	z-index: 3;
}

.download-item a {
	position: relative;
}

.download-item a > i {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-align: left;
}

.download-item a > span {
	position: relative;
	margin-left: 50px;
	text-align: left;
}

.report-button .report-popup h2, .report-button .report-popup h3, .report-button .report-popup h4 {
	text-align: center;
}

.report-detail-popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

.report-detail-body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1000px;
	height: 500px;
	margin-left: -500px;
	margin-top: -250px;
	background-color: #ffffff;
}

.report-detail-body h2 {
	font-weight: bold;
	text-align: center;
}

.report-top-info {
	margin: 0 -5px;
}

.report-top-info .general-wrapper {
	float: left;
	width: 20%;
	padding: 5px;
}

.report-top-info .general-info {
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 100;
	border: 1px solid #cacaca;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.report-top-info .general-info > strong {
	font-weight: 400;
}

.activities-log {
	position: fixed;
	top: 60px;
	right: -260px;
	bottom: 0;
	width: 260px;
	background-color: #1b1e24;
}

.activities-log .log-toggle {
	position: absolute;
	width: 20px;
	height: 30px;
	line-height: 30px;
	top: 10px;
	left: -20px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #1b1e24;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	cursor: pointer;
}

.activities-log .log-toggle:before {
	content: '«';
}

.page-content.log-show .report-link {
	width: 80px;
	height: 80px;
	/*font-size: 40px;*/
	line-height: 80px;
}

.page-content.log-show .report-button:hover .report-link {
	width: 100px;
	height: 100px;
}

.page-content.log-show .report-button .report-bottom {
	width: 75px;
	height: 80px;
}

.page-content.log-show .content {
	margin-right: 260px;
}

.page-content.log-show .activities-log {
	right: 0;
}

.page-content.log-show .activities-log .log-toggle:before {
	content: '»';
}

.page-content.log-show .report-body .timeline-item > span {
	position: absolute;
	top: 2px;
	left: -53px;
	width: 52px;
	font-size: 10px;
}

.page-content .content, .activities-log {
	-webkit-transition: right 0.5s ease, margin-right 0.5s ease;
	-moz-transition: right 0.5s ease, margin-right 0.5s ease;
	-ms-transition: right 0.5s ease, margin-right 0.5s ease;
	-o-transition: right 0.5s ease, margin-right 0.5s ease;
	transition: right 0.5s ease, margin-right 0.5s ease;
}

.activities-log h3 {
	padding: 0 20px;
	margin: 0;
	height: 40px;
	line-height: 40px;
	color: #e2e2e2;
}

.activities-log .log-body {
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.activities-log .log-item {
	background-color: #1b1e24;
	padding: 10px 20px;
	font-weight: 300;
}

.activities-log .log-item.odd {
	background-color: #16181c;
}

.activities-log .log-user {
	color: #b7be00;
	font-weight: bold;
}
.activities-log .log-desc {
	color: #e2e2e2;
	line-height: 1em;
}
.activities-log .log-time {
	color: #c92416;
	font-weight: bold;
}

.popup-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.popup-wrapper .drill-item-container {
	position: relative;
	width: 100%;
	z-index: 1;
}

.popup-wrapper .drill-item {
	position: absolute;
	top: 50%;
	height: 20px;
	margin-top: -10px;
	border: 1px solid #afafaf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.popup-wrapper .drill-item > span {
	font-size: 12px;
}

.popup-wrapper .drill-title {
	position: absolute;
	top: -45px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 32px;
}

.drill-grid {
	position: absolute;
	top: 101px;
	right: 10px;
	bottom: 0;
	left: 10px;
	z-index: 1;
}

.drill-grid .grid-line {
	position: absolute;
	top: 0;
	left: 30px;
	right: 15px;
	border-bottom: 1px solid #b1b1b1;
}

.drill-grid .grid-line > span {
	position: absolute;
	right: 100%;
	text-align: right;
	height: 20px;
	line-height: 20px;
	margin-top: -10px;
	margin-right: 5px;
	font-size: 10px;
}

.drill-pt {
	position: absolute;
	top: 101px;
	left: 10px;
	bottom: 0;
	right: 50%;
	padding-left: 60px;
	padding-right: 40px;
	background-color: #e2e2e2;
}

.drill-pt .drill-item {
	right: 0;
}

.drill-pt .drill-item > span {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -15px;
	margin-right: 10px;
	line-height: 30px;
}

.drill-npt {
	position: absolute;
	top: 101px;
	left: 50%;
	bottom: 0;
	right: 10px;
	padding-left: 40px;
	padding-right: 60px;
	background-color: #e2e2e2;
}

.drill-npt .drill-item {
	left: 0;
}

.drill-npt .drill-item > span {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -15px;
	margin-left: 10px;
	line-height: 30px;
}

.activities-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -38px;
	margin-top: 101px;
	width: 77px;
	height: 359px;
	z-index: 2;
}

.activities-wrapper .drill-header {
	position: absolute;
	top: -101px;
	left: 0;
	width: 77px;
	height: 101px;
	background-image: url(../img/report/drill-header.png);
}

.activities-wrapper .drill-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 77px;
	height: 100%;
}

.activities-wrapper .drill-hole {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 70px;
	height: 100%;
	background-color: #00cc00;
	border-left: 3px solid #8f8f8f;
	border-right: 3px solid #8f8f8f;
}

.activities-wrapper .drill-bit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 20px;
	height: 0;
	background-color: #999999;
	background: -webkit-linear-gradient(#D71920, #AF5400);
	background: -moz-linear-gradient(#D71920, #AF5400);
	background: -o-linear-gradient(#D71920, #AF5400);
	background: linear-gradient(#D71920, #AF5400);
	border-left: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	border-right: 1px solid #8f8f8f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.activities-wrapper .drill-bit:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
	-webkit-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	-webkit-animation: moveLeft 2s linear infinite;
	-moz-animation: moveLeft 2s linear infinite;
	animation: moveLeft 2s linear infinite;
	overflow: hidden;
}

.activities-wrapper .drill-bit:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: -1px;
	width: 20px;
	height: 30px;
	background-image: url(../img/report/drill-bit.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@-webkit-keyframes moveRight {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes moveRight {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@keyframes moveRight {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-webkit-keyframes moveLeft {
	0% {
		background-position: 50px 50px;
	}
	100% {
		background-position: 0 0;
	}
}

@-moz-keyframes moveLeft {
	0% {
		background-position: 50px 50px;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes moveLeft {
	0% {
		background-position: 50px 50px;
	}
	100% {
		background-position: 0 0;
	}
}


/*prog formation*/

/* drill header popup 
.drill-header .datum-popup {
	position: absolute;
	top: 50%;
	left: 100px;
	margin-top: -93px;
	height: 160px;
	width: 300px;
	padding: 20px;
	color: #666666;
	background-color: rgba(255,255,255, 0.8);
	box-shadow: 0px 0px 15px #8f8f8f;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.drill-header .datum-popup:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -25px;
	margin-left: -45px;
	border-top: 25px solid transparent;
	border-right: 25px solid rgba(255,255,255, 0.8);
	border-bottom: 25px solid transparent;
}

.drill-header:hover .datum-popup {
	visibility: visible;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}

.drill-header .datum-popup table {
	width: 100%;
}

.drill-header .datum-popup table td {
	padding: 5px;
}

*/




.lithology-plan-header {
	position: absolute;
	top: -27px;
	/*bottom: 50px;*/
	bottom: 219px;
	left: 92px;
}
.lithology-plan-section {
	position: absolute;
	top: 0;
	left: 80px;
}

.lithology-actual-section {
	position: absolute;
	top: 0;
	left: 194px;
	z-index:0;
}
.plan-lithology {
	position: absolute;
	width: 50px;
	border: 1px solid black;
	background-repeat: repeat-y;
	background-size: contain;
}

	.plan-lithology:hover .plan-lithology > div {
		display: block;
	}

	.plan-lithology > div {
		bottom: 0;
		position: absolute;
		margin-left: -42px;
		font-size: 8pt;
		display: block;
	}

	.lithology-actual-header {
		position: absolute;
		top: -27px;
		/*bottom: 50px;*/
		bottom: 219px;
		left: 200px;
	}


.actual-lithology {
	position: absolute;
	width: 50px;
	border: 1px solid black;
	background-repeat: repeat-y;
	background-size: contain;
}

	.actual-lithology:hover .plan-lithology > div {
		display: block;
	}

	.actual-lithology > div {
		bottom: 0;
		position: absolute;
		margin-left: -42px;
		font-size: 8pt;
		display: block;
	}

.lithology-actual-header {
	position: absolute;
	top: -27px;
	/*bottom: 50px;*/
	bottom: 219px;
	left: 200px;
}


.report-body .actual {
	position: absolute;
	top: 0;
	/*bottom: 50px;*/
	bottom: 219px;
	left: 22%;
	margin-left: 4px;
	width: 77px;
}

.report-body .h5 {
	position: absolute;
	top: -37px;
	/*bottom: 50px;*/
	bottom: 219px;
	left: 28%;
	margin-left: -38px;
	width: 77px;
}

.report-body .prog {
	position: absolute;
	top: -27px;
	/*bottom: 50px;*/
	bottom: 219px;
	left: 13%;
	margin-left: -38px;
	width: 77px;
}

/*.report-body .drill-header {
	position: absolute;
	top: -101px;
	left: 0;
	width: 77px;
	height: 101px;
	background-image: url(../img/report/drill-header.png);
}*/

.report-body .prog-body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 77px;
	z-index: 0;
}

.report-body .prog-hole {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 70px;
	height: 100%;
	background-color: #00cc00;
	border-left: 2px solid #8f8f8f;
	border-right: 2px solid #8f8f8f;
}

.report-body .prog-hole:last-child {
	border-bottom: 3px solid #8f8f8f;
}

.report-body .drill-bit-wrapper {
	position: absolute;
	top: 0;
	left: 45px;
	bottom: 0;
	right: 0;
}

.report-body .drill-bit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 20px;
	height: 0;
	max-height: 100%;
	background-color: #999999;
	background: -webkit-linear-gradient(#D71920, #AF5400);
	background: -moz-linear-gradient(#D71920, #AF5400);
	background: -o-linear-gradient(#D71920, #AF5400);
	background: linear-gradient(#D71920, #AF5400);
	border-left: 1px solid #8f8f8f;
	border-bottom: 1px solid #8f8f8f;
	border-right: 1px solid #8f8f8f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 1;
}

.report-body .drill-bit:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-left: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
	background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
	-webkit-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	-webkit-animation: moveLeft 2s linear infinite;
	-moz-animation: moveLeft 2s linear infinite;
	animation: moveLeft 2s linear infinite;
	overflow: hidden;
}

.report-body .drill-bit:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: -1px;
	width: 20px;
	height: 30px;
	background-image: url(../img/report/drill-bit.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.report-body .drill-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.report-body .drill-info span {
	white-space: nowrap;
	min-width: 80px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.report-body .drill-info span.hide-info {
	opacity: 0;
}

.report-body .drill-info span.left {
	position: absolute;
	top: 0;
	right: 100%;
	margin-right: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .drill-info span.left:after {
	position: absolute;
	top: 0;
	right: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-left: 12px solid rgb(175, 210, 133);
	border-bottom: 12px solid transparent;
}

.report-body .drill-info span.right {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	background-color: #ffffff;
	padding: 0 10px;
}

.report-body .drill-info span.right:after {
	position: absolute;
	top: 0;
	left: -12px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}

.report-body .depth-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.report-body .depth-info > span {
	position: absolute;
	top: 0;
	left: 100%;
	margin-left: 10px;
	margin-top: -12px;
	height: 24px;
	line-height: 24px;
	min-width: 80px;
	background-color: #afd285;
	border: 1px solid #ffffff;
	color: #252525;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.report-body .depth-info > span:before {
	position: absolute;
	top: -1px;
	left: -13px;
	content: "";
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 12px solid #ffffff;
	border-bottom: 12px solid transparent;
}
