﻿.drill-container {
    text-align: center;
}

.drill-header {
    width: 120px;
    margin-bottom: 20px;
}

.drill-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drill-hole {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hole-line {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #8f8f8f;
    z-index: 0;
}

.hole-text {
    position: relative;
    z-index: 1;
    height: 18px;
    width: 50px;
    background-color: #ffeb99;
    border: 1px solid #8f8f8f;
    margin-top: 5px;
}

.triangle {
    position: relative;
    top: -100%;
    height: 18px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.triangle2 {
    position: relative;
    top: -100%;
    height: 18px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(180deg);
}

.card {
    width: 120px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #8f8f8f;
    position: absolute;
    top: 10px;
    left: -60px;
    z-index: 2;
    padding: 5px;
    display: none;
}

.drill-hole:hover .card {
    display: block;
}

