﻿
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Home/Index";

}

<!--DataTables [ OPTIONAL ]-->
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb page-breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">AP</a></li>
                <li class="breadcrumb-item active">@ViewBag.Title</li>
                <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019 EDITED</span></li>
            </ol>
        </div>
    </div>
}

@section PageHeading {

}


<!--===================================================-->
<!--Start page content-->
<!--Bootstrap Modal without Animation-->
<!--===================================================-->
    <div class="modal" id="UOMModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-UOM">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unit of Measurement Setup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-UOM" class="needs-validation" novalidate>
                        <input hidden id="recordId" name="id" data-field="id" />
                        <div class="panel-body">
                            <div class="form-group row mb-2">
                                <label class="col-lg-3 control-label" for="uom_code">Unit of Measurement</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="uom_code" id="uom_code" data-field="uom_code" placeholder="Unit of Measurement" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Description</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="description" data-field="description" placeholder="Description" required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer pt-0">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button id="btn-save" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
<!--===================================================-->
<!--End Bootstrap Modal without Animation-->
<!--Page content-->
<!--===================================================-->
<div class="row">
    <div class="col-xl-12">
        <button id="btn-addNew" class="btn btn-primary">Add New</button>
        <div id="panel-1" class="panel mt-md-3">
            <div class="panel-hdr">
                <h2>Unit of Measurement List</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listUom" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th>Unit Name</th>
                                <th>Unit Symbol</th>
                                <th style="width: 100px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody class=""></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<style>
    .pagination {
        background: white !important;
    }
</style>

@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/uom.index.js?_@DateTime.Now"></script>
}
