﻿
@{
    ViewBag.Title = "Wilayah Kerja";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/asset";

}

<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section PageHeading {

}

<!--Modal Add Asset-->
<!--===================================================-->
<div class="modal" id="assetModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-asset">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Title Setup</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form id="form-asset">
                    <input hidden id="recordId" name="id" data-field="id" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 mt-0">
                                <div class="form-group input-group-sm mt-0 mb-0">
                                    <label for="asset_name" class="form-label">Kode Wilayah Kerja (*)</label>
                                    <input type="text" class="form-control form-control-sm" name="asset_code" data-field="asset_code">
                                </div>
                                <div class="form-group input-group-sm mt-0 mb-0">
                                    <label for="asset_name" class="form-label">Nama Wilayah Kerja (*)</label>
                                    <input type="text" class="form-control form-control-sm" name="asset_name" data-field="asset_name">
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btn-save" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal Asset-->
<!--Modal Add Field-->
<!--===================================================-->
<div class="modal" id="fieldModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-field">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Area / Field Setup</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form id="form-field" class="needs-validation" novalidate>
                    <input hidden name="id" data-field="id" />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 mt-0">
                                <div class="form-group">
                                    <label for="asset_name" class="form-label">Asset (*)</label>
                                    <input hidden id="asset_id" name="asset_id" data-field="asset_id" data-validate="true" />
                                    <input type="text" disabled="" class="form-control form-control-sm" name="asset_name" data-field="asset_name" value="Not found">
                                </div>
                                <div class="form-group">
                                    <label for="field_name" class="form-label">Field / Area name (*)</label>
                                    <input type="text" class="form-control-sm form-control" name="field_name" data-field="field_name">
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button id="btn-saveField" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Modal Field-->
<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-12" class="panel">
            <div class="panel-hdr">
                <h2>Wilayah Kerja Management</h2>
                <div class="panel-toolbar">
                    <button id="btn-addNew" class="btn btn-sm btn-info">
                        <span class="fal fa-plus mr-1"></span>
                        New Wilayah Kerja
                    </button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-auto">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    <i class="fal fa-compress-wide"></i>
                                    <span class="hidden-sm-down ml-1"> Wilayah Kerja & Fields</span>
                                </a>
                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-aph" role="tab" aria-controls="v-pills-aph" aria-selected="false">
                                    <i class="fal fa-sitemap"></i>
                                    <span class="hidden-sm-down ml-1"> APH Configuration</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <h3>
                                        Wilayah Kerja & Field
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel-tag mb-0">
                                                Field is unique, please makesure cannot same field in another 'Wilayah Kerja'
                                            </div>
                                        </div>
                                        <div class="col-md-12 row">
                                            <div id="asset-tree"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-aph" role="tabpanel" aria-labelledby="v-pills-aph-tab">
                                    <h3>
                                        APH Configuration
                                    </h3>
                                    <div class="row">
                                        <div class="col-md-6 row">
                                            <div id="unit-tree"></div>
                                        </div>
                                        <div class="col-md-6 row">
                                            <div class="col-md-12">
                                                <button id="btn-saveUnitField" class="btn btn-primary btn-sm hidden-md-up">Save Changes</button>
                                            </div>
                                            <div id="assetUnit-tree"></div>
                                        </div>
                                    </div>
                                    <p>
                                        Assign Asset or Field to APH (Anak Perusahaan Hulu)
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <h3>
                                        Messages
                                    </h3>
                                    <ul class="notification">
                                        <li>
                                            <a href="#" class="d-flex align-items-center py-2 px-0">
                                                <span class="d-flex flex-column flex-1">
                                                    <span class="name">Melissa Ayre</span>
                                                    <span class="msg-a fs-sm">Re: New security codes</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex align-items-center py-2 px-0">
                                                <span class="d-flex flex-column flex-1">
                                                    <span class="name">Adison Lee</span>
                                                    <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex align-items-center py-2 px-0">
                                                <span class="d-flex flex-column flex-1">
                                                    <span class="name">Oliver Kopyuv</span>
                                                    <span class="msg-a fs-sm">Msed quia non numquam eius</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                    <h3>Settings</h3>
                                    <div class="alert alert-success">
                                        <strong>
                                            Settings saved
                                        </strong>
                                        <p class="m-0">
                                            All your settings changes have been saved!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>@ViewBag.Title List</h2>
                    <div class="panel-toolbar">
                        <button id="btn-addNew" class="btn btn-sm btn-info">
                            <span class="fal fa-plus mr-1"></span>
                            New Asset
                        </button>
                    </div>
                </div>
                <div class="panel-container show">

                </div>
            </div>*@
    </div>
</div>
<!--===================================================-->
<!--End page content-->

@section scripts{
    <script src="~/Content/plugins/jstree/jstree.min.js"></script>
    <script src="~/Areas/Core/Scripts/asset.index.js?_@DateTime.Now"></script>
}
