﻿<div id="field-tree" style="margin-top: -40px;"></div>
<script>
    (function ($) {
        'use strict';
        var $jstreeLookup = $('#field-tree');
        var pageFunction = function () {

            var loadByAjax = function () {
                $jstreeLookup.jstree({
                    contextmenu: {
                        select_node: false
                    },
                    core: {
                        themes: {
                            "responsive": false
                        },
                        check_callback: true,
                        multiple: false,
                        data: {
                            type: "POST",
                            url: function (node) {
                                var url = $.helper.resolveApi("~/core/Asset/tree/assets?countryId=")
                                if (node.id != "#") {
                                    if (node.original.nodeType === "ASSET") {

                                        url = $.helper.resolveApi("~/core/Asset/tree/fields?assetId=" + node.id);
                                    }
                                }
                                return url;
                            },
                            data: function (node) {
                                //$('.vakata-context').css('z-index', 999);
                                return node;
                            }
                        }
                    },
                    "types": {
                        "default": {
                            "icon": "fal fa-folder icon-state-warning icon-lg"
                        },
                        "root": {
                            "class": "css-custom"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-warning icon-lg"
                        }
                    },
                    state: { "key": "id" },
                    plugins: ["state", "types", "contextmenu"]
                }).on("dblclick.jstree", function (e) {
                    //var instance = $.jstree.reference(this),
                    //    node = instance.get_node(e.target);
                    //console.log(node);

                    var instance = $.jstree.reference(this),
                        node = instance.get_node(e.target);
                    $(this).trigger("onSelected", { instance: instance, node: node });

                });
            }

            return {
                init: function () {
                    //load();
                    loadByAjax();
                }
            }
        }();

        $(document).ready(function () {
            pageFunction.init();
        });
    }(jQuery));
</script>
