﻿<div class="mb-2">
    <a href="javascript:void(0);" title="Lisa Hatchensen" class="d-block fw-700 text-dark">Choose Field</a>
</div>
<hr />
<input type="hidden" id="recordId" value="@ViewBag.recordId" />
<div id="field-tree" class="mt-0 pt-0"></div>
<span id="no-field" class="fw-500">No Field available by this APH</span>
<script>
    (function ($) {
        'use strict';
        var $jstreeLookup = $('#field-tree');
        var $recordId = $("#recordId");
        var pageFunction = function () {

            var loadByAjax = function () {
                $jstreeLookup.jstree("destroy").empty();
                $jstreeLookup.jstree({
                    contextmenu: {
                        select_node: false
                    },
                    core: {
                        themes: {
                            "responsive": false
                        },
                        check_callback: true,
                        multiple: false,
                        data: {
                            type: "POST",
                            url: function (node) {
                                //var url = $.helper.resolveApi("~/core/Asset/tree/assets?countryId=")
                                var url = $.helper.resolveApi("~/core/Asset/tree/assets/GetTreeAssetBusinessUnitAndField/" + $recordId.val())
                                if (node.id != "#") {
                                    if (node.original.nodeType === "ASSET") {
                                        url = $.helper.resolveApi("~/core/Asset/tree/fields?assetId=" + node.id);
                                    }
                                }
                                return url;
                            },
                            data: function (node) {
                                //$('.vakata-context').css('z-index', 999);  tree/assets/BusinessUnit
                                return node;
                            },
                            success: function (node) {
                                $("#no-field").hide();
                                $("#field-tree").show();

                                if (node.length <= 0) {
                                    $("#no-field").show();
                                    $("#field-tree").hide();
                                }
                            }
                        }
                    },
                    "types": {
                        "default": {
                            "icon": "fal fa-folder icon-state-warning icon-lg"
                        },
                        "root": {
                            "class": "css-custom"
                        },
                        "file": {
                            "icon": "fa fa-file icon-state-warning icon-lg"
                        }
                    },
                    state: { "key": "id" },
                    plugins: ["state", "types", "contextmenu"]
                }).on("dblclick.jstree", function (e) {
                    //var instance = $.jstree.reference(this),
                    //    node = instance.get_node(e.target);
                    var instance = $.jstree.reference(this),
                        node = instance.get_node(e.target);
                    $(this).trigger("onSelected", { instance: instance, node: node });

                });
            }

            return {
                init: function () {
                    //load();
                    loadByAjax();
                }
            }
        }();

        $(document).ready(function () {
            pageFunction.init();
        });
    }(jQuery));
</script>
