﻿<!--Modal header-->
<style>
    .swal2-container.swal2-center.swal2-fade.swal2-shown {
        z-index: 9999;
    }
</style>
<div class="modal-header pb-2">
    <h4 class="modal-title">Hole and Casing Setup</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-1" />
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <form id="form-wellHoleCasing" class="needs-validation" novalidate>
                <input type="hidden" id="well_hole_and_casing_id" name="id"  value="@ViewBag.recordId" />
                <input type="hidden" id="well_id" name="well_id" value="@ViewBag.wellId" />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="rowHole" style="margin-top: 15px;">
                            <div class="form-group mb-0 hole-number">
                                <label class="text-success fw-700"><strong class="number-hole">Hole</strong></label>
                            </div>
                            <hr class="mt-2 mb-3">
                            <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Hole Diameter<span class="text-danger"> *</span></label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <select class="form-control form-control-sm holeandcasinglookup" name="hole_and_casing_id" data-text="hole_name" data-field="hole_and_casing_id" placeholder="" required></select>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Hole Depth<span class="text-danger"> *</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="input-group">
                                        <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="hole_depth" id="hole_depth" data-text="hole_depth" data-field="hole_depth" placeholder="Hole Depth" style="background-color: white;">
                                        <div class="input-group-append border-0 uom-background">
                                            <input type="text" class="form-control-plaintext uom-definition" id="hole_depth_uom" data-objectname="Hole Depth" value="-" readonly="" style="border: 1px solid #ccc;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Plan Cost<span class="text-danger"> *</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="input-group">
                                        <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="plan_cost" id="plan_cost" data-text="plan_cost" data-field="plan_cost" placeholder="Plan Cost" style="background-color: white;">
                                        <div class="input-group-append border-0">
                                            <span class="input-group-text no-radius" style="min-width: 60px;">USD</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Plan Volume<span class="text-danger"> *</span></label>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="input-group">
                                        <input class="form-control numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" name="plan_volume" id="plan_volume" data-text="plan_volume" data-field="plan_volume" placeholder="Plan Volume" style="background-color: white;">
                                        <div class="input-group-append border-0 uom-background">
                                            <input type="text" class="form-control-plaintext uom-definition" id="plan_volume_uom" data-objectname="Hole Volume" value="-" readonly="" style="border: 1px solid #ccc;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="section_casing" style="display: none;">
                                <div class="form-group mb-0 casing-number">
                                    <label class="text-success fw-700"><strong class="number-casing">Casing</strong></label>
                                </div>
                                <hr class="mt-2 mb-3">
                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Diameter<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input class="form-control form-control-input" id="casing_name" data-text="casing_name" data-field="casing_name" placeholder="Casing Diameter" readonly="" style="background-color: white;" required="">
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_name_uom" data-objectname="Casing Diameter" value="-" readonly="" style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Setting Depth<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing_setting_depth" name="casing_setting_depth" data-text="casing_setting_depth" data-field="casing_setting_depth" placeholder="Casing Setting Depth" inputmode="numeric" required="">
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_setting_depth_uom" data-objectname="Casing Setting Depth" value="-" readonly="" style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2 casing-type">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Type<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <select class="form-control form-control-input hole-casing-tipe" id="casing_type" name="casing_type" data-field="casing_type" data-text required="">
                                            <option value="1">Conductor</option>
                                            <option value="2">Surface</option>
                                            <option value="3">Drilling Liner</option>
                                            <option value="4">Intermediate</option>
                                            <option value="5">Production Liner</option>
                                            <option value="6">Perforated Liner</option>
                                            <option value="7">Production</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Weight<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" id="casing_weight" name="casing_weight" data-text="casing_weight" data-field="casing_weight" placeholder="Casing Weight" inputmode="numeric" required="">
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_weight_uom" data-objectname="Casing Weight" value="-" readonly="" style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_grade">Casing Grade<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" id="casing_grade" name="casing_grade" data-text="casing_grade" data-field="casing_grade" class="form-control form-control-input form-control-sm" required="">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_connection">Casing Connection<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" id="casing_connection" name="casing_connection" data-text="casing_connection" data-field="casing_connection" class="form-control form-control-input form-control-sm" required="">
                                    </div>
                                </div>
                                <div class="form-group row mb-2" style="padding-bottom: 16px; margin-bottom: 10px;">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_top_of_liner">Casing Top of Liner<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" id="casing_top_of_liner" name="casing_top_of_liner" data-text="casing_top_of_liner" data-field="casing_top_of_liner" class="form-control form-control-input form-control-sm" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-right">
                        <button type="button" id="btn_save-hcd" class="btn btn-info btn-sm waves-effect waves-themed btn-action" style="width: 100px;">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Areas/Core/Scripts/well.holeCasing.js?_@DateTime.Now"></script>
