<!--Modal header-->
<style>
    .swal2-container.swal2-center.swal2-fade.swal2-shown {
        z-index: 9999;
    }
</style>

<div class="modal-header pb-2">
    <h4 class="modal-title">Multicasing List Form this Hole</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>

<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-1" />
    <div class="panel-container show">
        <div class="panel-content page-loading-content">
            <form id="form-casinggNew" class="needs-validation" novalidate>
                <input type="hidden" id="well_hole_and_casing_id" name="id" value="@ViewBag.recordId" />
                <input type="hidden" id="well_id" name="well_id" value="@ViewBag.wellId" />

                <div class="row">
                    <div class="col-lg-12">
                        <div class="rowHole" style="margin-top: 15px;">
                            <div id="section_casing" style="display: none;">
                                <div class="form-group mb-0 casing-number">
                                    <label class="text-success fw-700"><strong class="number-casing">Casing</strong></label>
                                </div>
                                <hr class="mt-2 mb-3">

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Hole Diameter<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <select class="form-control form-control-sm holeandcasinglookup" name="hole_and_casing_id" data-text="hole_name" data-field="hole_and_casing_id" required disabled></select>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Diameter<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" id="casing_name" data-text="casing_name" data-field="casing_name" placeholder="Casing Diameter" required readonly style="background-color: white;">
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_name_uom" data-objectname="Casing Diameter" value="-" style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_setting_depth">Casing Setting Depth<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" id="casing_setting_depth" name="casing_setting_depth" data-text="casing_setting_depth" data-field="casing_setting_depth" placeholder="Casing Setting Depth" required readonly>
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_setting_depth_uom" data-objectname="Casing Setting Depth" value="-" style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-2 casing-type">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_type">Casing Type<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <select class="form-control form-control-input hole-casing-tipe" id="casing_type" name="casing_type" data-field="casing_type" required disabled></select>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_weight">Casing Weight<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-input numeric-money" data-inputmask="'alias': 'currency'" id="casing_weight" name="casing_weight" data-text="casing_weight" data-field="casing_weight" placeholder="Casing Weight" required readonly>
                                            <div class="input-group-append border-0 uom-background">
                                                <input type="text" class="form-control-plaintext uom-definition" id="casing_weight_uom" data-objectname="Casing Weight" value="-" readonly style="border: 1px solid #ccc;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_grade">Casing Grade<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control form-control-input form-control-sm" id="casing_grade" name="casing_grade" data-text="casing_grade" data-field="casing_grade" required readonly>
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_connection">Casing Connection<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control form-control-input form-control-sm" id="casing_connection" name="casing_connection" data-text="casing_connection" data-field="casing_connection" required readonly>
                                    </div>
                                </div>

                                <div class="form-group row mb-2" style="padding-bottom: 16px; margin-bottom: 10px;">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_top_of_liner">Casing Top of Liner<span class="text-danger"> *</span></label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control form-control-input form-control-sm" id="casing_top_of_liner" name="casing_top_of_liner" data-text="casing_top_of_liner" data-field="casing_top_of_liner" required readonly>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0 casing-number">
                            <label class="text-success fw-700"><strong class="number-casing">Multicasing</strong></label>
                        </div>
                        <hr class="mt-2 mb-3">

                        <div id="form-multicasing">
                            <div class="panel-body" style="padding-bottom: 0px;"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Areas/Core/Scripts/well.multicasing.js"></script>
<script id="multicasing-template" type="text/x-handlebars-template">
    {{#each data}}
    <div class="form-group mb-0">
        <button type="button" class="btn btn-danger btn-mc-delete" id="btn-mc-delete" data-id="{{id}}">
            <span class="fal fa-trash"></span>
        </button>
    </div>
    <br />
    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Diameter<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <input type="text" value="{{casing_name}}" readonly class="form-control numeric-money" data-inputmask="'alias': 'currency'" required style="background-color: white;">
                <div class="input-group-append border-0 uom-background">
                    <input type="text" class="form-control-plaintext uom-definition" id="casing_name_uom{{id}}" data-objectname="Casing Diameter" value="-" readonly style="border: 1px solid #ccc; background-color: white;">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_setting_depth">Casing Setting Depth<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <input type="text" value="{{casing_setting_depth}}" readonly class="form-control numeric-money" data-inputmask="'alias': 'currency'" required style="background-color: white;">
                <div class="input-group-append border-0 uom-background">
                    <input type="text" class="form-control-plaintext uom-definition" id="casing_setting_depth_uom{{id}}" data-objectname="Casing Setting Depth" value="-" readonly style="border: 1px solid #ccc; background-color: white;">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mb-2 casing-type">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_type">Casing Type<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <input type="text" class="form-control pl-2" value="{{printCasingType casing_type}}" readonly style="background-color: white;">
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_weight">Casing Weight<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <input type="text" value="{{casing_weight}}" readonly class="form-control numeric-money" data-inputmask="'alias': 'currency'" required style="background-color: white;">
                <div class="input-group-append border-0 uom-background">
                    <input type="text" class="form-control-plaintext uom-definition" id="casing_weight_uom{{id}}" data-objectname="Casing Weight" value="-" readonly style="border: 1px solid #ccc; background-color: white;">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_grade">Casing Grade<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <input type="text" value="{{casing_grade}}" readonly class="form-control form-control-sm" required style="background-color: white;">
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_connection">Casing Connection<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <input type="text" value="{{casing_connection}}" readonly class="form-control form-control-sm" required style="background-color: white;">
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_top_of_liner">Casing Top of Liner<span class="text-danger"> *</span></label>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div class="input-group">
                <input type="text" value="{{casing_top_of_liner}}" readonly class="form-control numeric-money" data-inputmask="'alias': 'currency'" required style="background-color: white;">
                <div class="input-group-append border-0 uom-background">
                    <input type="text" class="form-control-plaintext uom-definition" id="casing_top_of_liner{{id}}" data-objectname="Casing Top of Liner" value="-" readonly style="border: 1px solid #ccc; background-color: white;">
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-2 mb-3">
    {{/each}}

</script>
