﻿<div class="modal-header pb-3">
    <h5 class="modal-title h4">Well Unit of Measurement Configuration</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body pt-0">
    <input hidden id="wellId" name="id" data-field="id" value="@ViewBag.recordId" />
    <div class="row">
        <div class="col-md-6">
            <div id="panel-6" class="panel">
                <div class="panel-hdr bg-info-primary">
                    <h2>
                        Unit of Measurement Mapping List
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table id="dt_wellUomMap" class="table table-sm table-bordered table-hover table-striped w-100">
                            <thead>
                                <tr>
                                    <th class="p-2">Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="well-uom-configuration" style="display: none;">
            <div id="panel-6" class="panel">
                <div class="panel-hdr bg-info-primary">
                    <h2>
                        Unit of Measurement Setup
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form id="form-objectUom" class="needs-validation" novalidate>
                            <input hidden id="wellObjectUomId" name="id" data-field="id" value="" />
                            <div class="form-group mb-2">
                                <label class="form-label" for="name">Object / Field Name<span class="text-danger"> *</span></label>
                                <input type="text" id="object_name" class="form-control-plaintext pt-0">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="name">Category<span class="text-danger"> *</span></label>
                                <input type="text" id="category_name" class="form-control-plaintext pt-0">
                            </div>
                            <div class="form-group mb-2">
                                <label class="form-label" for="name">Unit of Measurement<span class="text-danger"> *</span></label>
                                <select type="text" class="form-control form-control-sm" name="uom_id" id="uom_id" data-field="uom_id" data-text="uom_description" placeholder="" required></select>
                            </div>
                        </form>

                        <div class="panel-footer mt-2">
                            <button type="button" class="btn btn-info" id="btn-saveWellUom">Save Changes</button>
                            <button type="button" class="btn btn-secondary" onclick="$('#well-uom-configuration').hide()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

<!--DataTables [ OPTIONAL ]-->
<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
<script src="~/Areas/Core/Scripts/well.uomConfiguration.js?_@DateTime.Now"></script>
