﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Setup Catalog</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formCasingCatalog" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2" id="hole_diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Nominal Diameter<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="nominal_diameter" name="nominal_diameter" data-field="nominal_diameter" data-text="nominal_diameter" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
            <div class="form-group row mb-2" id="form-group-casing-diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Nominal Weight<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="nominal_weight" name="nominal_weight" data-field="nominal_weight" data-text="nominal_weight" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
            <div class="form-group row mb-2" id="form-group-casing-diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Grade<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="grade" name="grade" data-field="grade" data-text="grade" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
            <div class="form-group row mb-2" id="form-group-casing-diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">OD (in)<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="odin" name="odin" data-field="odin" data-text="odin" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
            <div class="form-group row mb-2" id="form-group-casing-diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">ID (in)<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="idin" name="idin" data-field="idin" data-text="idin" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>
<script src="~/Content/plugins/Inputmask-5.x/js/bindings/inputmask.binding.js"></script>
<script src="~/Areas/Core/Scripts/casingCatalog.detail.js?_@DateTime.Now"></script>