﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Setup Connection</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formCasingConnection" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2" id="hole_diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Connection Name<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="connection_name" name="connection_name" data-field="connection_name" data-text="nominal_diameter" class="form-control form-control-sm text-left" im-insert="true" required="">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>
<script src="~/Content/plugins/Inputmask-5.x/js/bindings/inputmask.binding.js"></script>
<script src="~/Areas/Core/Scripts/casingConnection.detail.js?_@DateTime.Now"></script>