﻿<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Hole And Casing Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formHoleAndCasing" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <div class="form-group row mb-3">
            <label class="col-lg-3 col-md-2 col-sm-2 col-xs-2 control-label" for="type_hole">Type</label>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="frame-wrap">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="open_hole" name="hole_type" data-field="hole_type">
                        <label class="custom-control-label" for="open_hole">Open Hole</label>
                    </div>
                    @*<div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="open_hole" name="hole_type" value="0">
                        <label class="custom-control-label" for="open_hole">Open Hole</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="hole" name="hole_type" value="1">
                        <label class="custom-control-label" for="hole">Hole</label>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2" id="hole_diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="hole_name">Hole Diameter<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="hole_name" name="hole_name" data-field="hole_name" data-text="hole_name" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
            <div class="form-group row mb-2" id="form-group-casing-diameter">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="casing_name">Casing Diameter<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" id="casing_name" name="casing_name" data-field="casing_name" data-text="casing_name" class="form-control form-control-sm numeric-money text-left" data-inputmask="'alias': 'currency'" im-insert="true" required="">
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>
<script src="~/Content/plugins/Inputmask-5.x/js/bindings/inputmask.binding.js"></script>
<script src="~/Areas/Core/Scripts/holeAndCasing.detail.js?_@DateTime.Now"></script>