﻿
@{
    ViewBag.Title = "Hole And Casing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/core/Items";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="holeAndCasingModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#formHoleAndCasing">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button data-href="@Url.Content("/Core/holeandcasing/detail")" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed" style="margin-right: 20px;"
                            data-toggle="modal-remote" data-target="#holeAndCasingModal">
                        <span class="fal fa-plus mr-1"></span>
                        Add New
                    </button>
                    <button onclick="window.open('@Url.Content("/Core/holeandcasing/casingcatalog")', '_blank');" class="btn btn-sm btn-info waves-effect waves-themed" style="margin-right: 20px;">
                        Casing Catalog
                    </button>
                    <button onclick="window.open('@Url.Content("/Core/holeandcasing/casingconnection")', '_blank');" class="btn btn-sm btn-info waves-effect waves-themed" style="margin-right: 20px;">
                        Casing Connection
                    </button>
                </div>

            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_Basic" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 1px;">No.</th>
                                <th class="text-left width-1">Type</th>
                                <th class="text-left">Hole Name</th>
                                <th class="text-left">Casing</th>
                                <th class="text-left">Detail Casing</th>
                                <th class="text-left" style="width: 1px;">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/holeAndCasing.index.js?_@DateTime.Now"></script>
}