﻿<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">
<style>
    .invalid-feedback {
        color: red;
    }
</style>
<!--Modal header-->
<div class="modal-header pb-0">
    <h4 class="modal-title">Contract Detail Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body">
    <form id="formContract" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
        <input type="hidden" id="contract_id" name="contract_id" data-field="contract_id" value="@ViewBag.contractId" />
        <hr class="mt-0" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="alert alert-danger alert-dismissible fade show mb-2 border-bottom-left-radius-0 border-bottom-right-radius-0 border-top-right-radius-0 border-top-left-radius-0" id="form-message" role="alert" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                </button>
                <span class="message">
                    <strong>Well Done!</strong> You successfully read this important alert message.
                </span>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="afe_line_id" style="padding-top: 7px;">AFE Line<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-afe-lookup" style="border:none; color: #4679cc!important;">Click to choose a AFE Line</a>
                </div>
            </div>
            <div class="form-group row mb-2 d-none" id="section-material-type">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label pt-2" for="material_id">Material Type<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" id="item_type" style="width: 100%;">
                        <option value="1">DRY HOLE BASED</option>
                        <option value="2">COMPLETION BASED</option>
                    </select>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="material_id">Material & Services<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control form-control-sm" name="material_id" id="material_id" data-field="material_id" data-text="material_name" placeholder="" required></select>
                    <div class="invalid-feedback fw-700">Material cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="currency_id">Currency<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control form-control-sm" name="currency_id" id="currency_id" data-field="currency_id" data-text="currency_code" placeholder="" required></select>
                    <div class="invalid-feedback fw-700">Currency cannot be empty</div>
                </div>
            </div>
            <div class="form-group row mb-2" id="exchangeRateGroup">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="contract_no">Rate Value</label>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">1 USD</span>
                        </div>
                        @*<input type="text" name="current_rate_value" data-field="current_rate_value" data-text="current_rate_value" id="current_rate_value" value="" class="form-control text-right fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required style="background-color: white;">*@
                        <input type="text" name="current_rate_value" data-field="current_rate_value" data-text="current_rate_value" id="current_rate_value" value="" class="form-control text-right fw-700 numeric" im-insert="true" required style="background-color: white;">
                        <div class="input-group-append">
                            <span class="input-group-text currency_code_label">USD</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="unit">Quantity<span class="text-danger"> *</span></label>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    @*<input type="text" name="unit" data-field="unit" data-text="unit" id="unit" class="form-control fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required>*@
                    <input type="text" name="unit" data-field="unit" data-text="unit" id="unit" class="form-control fw-700 numeric" im-insert="true" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="start_date">Unit Price (<span class="currency_code_label">-</span>)<span class="text-danger"> *</span></label>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                    @*<input type="text" name="unit_price" data-field="unit_price" data-text="unit_price" id="unit_price" class="form-control text-right fw-700 numeric-money" data-inputmask="'alias': 'currency'" im-insert="true" required>*@
                    <input type="text" name="unit_price" data-field="unit_price" data-text="unit_price" id="unit_price" class="form-control text-right fw-700 numeric" im-insert="true" required>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Areas/Core/Scripts/contractdetail.detail.js?_@DateTime.Now"></script>