﻿@{
    ViewBag.Title = "Contract Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = ViewBag.Title;
    ViewData["PageName"] = "/Home/Index";

}

@section PageBreadCrumb{
    <div class="row" style="margin-top: -10px;">
        <div class="col-md-12">
            <div id="panel-1" class="panel mb-1">
                <div class="panel-container show">
                    <div class="panel-content page-loading-content">
                        <ol class="breadcrumb page-breadcrumb mb-0 pb-0 text-black-50">
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/home")">Dashboard</a></li>
                            <li class="breadcrumb-item fw-700"><a href="@Url.Content("/core/contract")">Contract</a></li>
                            <li class="breadcrumb-item active fw-700">@ViewBag.Title</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Sunday, May 19, 2019</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageHeading {

}

<div class="modal" id="contractModal" role="dialog" tabindex="-1" aria-hidden="true" data-toggle="panel-overlay" data-target="#form-afe">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        </div>
    </div>
</div>

<!--===================================================-->
<!--Start page content-->
<div class="row">
    <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" />
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>@ViewBag.Title List</h2>
                <div class="panel-toolbar">
                    <button id="btn_add" data-href="@Url.Content("/Core/contractdetail/detail?contractId=" + ViewBag.recordId)" class="modalTrigger btn btn-sm btn-info waves-effect waves-themed mr-2 d-none"
                            data-toggle="modal-remote" data-target="#contractModal">
                        <span class="fal fa-plus mr-1"></span>
                        New Material
                    </button>
                    @*<button id="btn_submitted" class="btn btn-sm btn-primary waves-effect waves-themed d-none">
                        <span class="fal fa-save"></span>
                        &nbsp;&nbsp;Submit
                    </button>*@
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content page-loading-content">
                    <table id="dt_listContract" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 1px;">No.</th>
                                <th style="width: 1px;">Line</th>
                                <th style="width: 20%;">AFE Line</th>
                                <th style="width: 35%;">Materials & Services</th>
                                <th style="text-align: center !important; width: 1px;">Unit</th>
                                <th style="text-align: center !important; width: auto;">Unit Price</th>
                                <th style="text-align: center !important; width: auto;">Total Price</th>
                                <th style="text-align: left !important; width: 1px;">Rate</th>
                                <th style="text-align: center !important;">Actual Price</th>
                                <th style="width: 1px;" class="col-action">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->


@section scripts{
    <!--DataTables [ OPTIONAL ]-->
    <script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>
    <script src="~/Areas/Core/Scripts/contractdetail.index.js?_@DateTime.Now"></script>
}