﻿<link href="~/Content/plugins/jstree/themes/default/style.min.css" rel="stylesheet" />
<link rel="stylesheet" media="screen, print" href="~/Content/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.css">

@{
    var userSession = Dreamwell.Infrastructure.Session.SessionManager.UserSession;
}

<style>
    .invalid-feedback {
        color: red !important;
    }
</style>
<!--Modal header-->
<div class="modal-header">
    <h4 class="modal-title">Contract Setup</h4>
</div>
<!--Modal body-->
<div class="modal-body pt-0">
    <hr class="mt-0 mb-0" />
    <form id="formContract" class="needs-validation" novalidate>
        <input type="hidden" id="recordId" name="id" data-field="id" value="@ViewBag.recordId" /><br />
        <input type="hidden" id="organizationid" name="organizationid" value="@userSession.OrganizationId" />
        <input type="hidden" id="PrimaryBusinessUnitId" name="PrimaryBusinessUnitId" value="@userSession.PrimaryBusinessUnitId" />
        <input type="hidden" id="PrimaryBusinessUnit" name="PrimaryBusinessUnit" value="@userSession.PrimaryBusinessUnit" />
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="business_unit_id">APH<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <a href="javascript:void(0);" data-field="unit_name" class="form-control row text-left text-bold btn-link fw-700" id="btn-business-unit-lookup" style="border:none; color: #4679cc!important;">Click to choose a Business Unit</a>
                    <input type="hidden" id="business_unit_id" name="business_unit_id" data-field="business_unit_id" value="" />
                    <small class="invalid-feedback form-text text-muted">Field APH is required</small>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="vendor_id">Vendor<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <select type="text" class="form-control form-control-sm" name="vendor_contract_id" id="vendor_contract_id" data-field="vendor_contract_id" data-text="vendor_name" placeholder="" required></select>
                    <small class="invalid-feedback form-text text-muted">Field Vendor is required</small>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="contract_no">Contract Number<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="contract_no" data-field="contract_no" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="contract_no">Contract Title<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" name="contract_title" data-field="contract_title" class="form-control form-control-sm" required>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="start_date">Start Date<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group">
                        <input type="text" name="start_date" data-field="start_date" data-text="start_date" id="start_date" class="form-control form-control-sm" required style="height: 35px;">
                        <div class="input-group-append">
                            <span class="input-group-text fs-xl">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-0">
                <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label" for="end_date">End Date<span class="text-danger"> *</span></label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="input-group">
                        <input type="text" name="end_date" data-field="end_date" data-text="end_date" id="end_date" class="form-control form-control-sm" required style="height: 35px;">
                        <div class="input-group-append">
                            <span class="input-group-text fs-xl">
                                <i class="fal fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="modal-footer pt-0 mt-0">
    <button id="btn-save" class="btn btn-info">Save</button>
    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
</div>

<script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="~/Areas/Core/Scripts/contract.detail.js?_@DateTime.Now"></script>