﻿<!--===================================================-->
<style>
    .swal2-container {
        display: -webkit-box;
        display: flex;
        position: fixed;
        z-index: 300000;
    }
</style>
<link href="~/Content/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" />
<!--Start page content-->
<div class="row">
    <div class="col-xl-12">
        <!--Modal header-->
        <div class="modal-header pb-0">
            @if (ViewBag.isNewPurchase)
            {
                <h5 class="modal-title">New Purchase Setup</h5>
            }
            else
            {
                <h5 class="modal-title">Issued From Stock Setup</h5>
            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fal fa-times"></i></span>
            </button>
        </div>
        <!--Modal body-->
        <div class="modal-body pt-3 pb-0">
            <hr class="mt-0 " />
            <input type="hidden" id="materialId" value="@ViewBag.recordId" />
            <input type="hidden" id="afeId" value="@ViewBag.afeId" />
            @{
                if (ViewBag.isNewPurchase)
                {
                    <input type="hidden" id="isNewPurchase" value="1" />
                }
                else
                {
                    <input type="hidden" id="isNewPurchase" value="0" />
                }
            }
            <table id="dt_ManageMaterial" class="table table-bordered table-hover m-0">
                <thead class="thead-themed">
                    <tr>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">No</th>
                        <th class="text-left fw-700 text-dark align-middle" style="width: 30%">Description</th>
                        <th class="text-left fw-700 text-dark align-middle">AFE Line</th>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">Unit</th>
                        <th class="text-center align-middle">Unit Price</th>
                        <th class="text-center fw-700 text-dark align-middle">Total Price</th>
                        @*<th class="text-center align-middle">Rate</th>*@
                        <th class="text-center fw-700 text-dark align-middle">Actual Price</th>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">Available<br />Unit</th>
                        <th class="text-center fw-700 text-dark align-middle" style="width: 1px;">Using</th>
                        <th class="text-center fw-700 text-dark align-middle pl-2 pr-2" style="width: 1px;">Action</th>
                        @*<th class="text-center fw-700 text-dark align-middle" style="width: 1px;">#</th>*@
                        @*<th>Action</th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="9">There is no material on exist contract.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Modal footer-->
        <div class="modal-footer pt-3 mt-0">
            @*<button id="btn-save" class="btn btn-info no-radius">Save</button>*@
            <button data-dismiss="modal" class="btn btn-default no-radius" type="button">Close</button>
        </div>
    </div>
</div>
<!--===================================================-->
<!--End page content-->

<script id="contractdetail-template" type="text/x-handlebars-template">
    {{#each data}}
    <tr>
        <td class="text-center" style="width: 1px;">{{number @@index}}</td>
        <td class=" align-middle">
            <span class="fw-700">{{material_name}}</span>
            <br />
            <span class="text-success">Contract No: {{contract_no}}</span>
        </td>
        <td class="align-middle">{{afe_line_description}}</td>
        <td class="text-center align-middle">{{unit}}</td>
        <td class="text-right align-middle">{{currency_code}} {{thousandSeparatorWithoutComma unit_price}}</td>
        <td class="text-right align-middle">{{currency_code}} {{thousandSeparatorDecimal total_price}}</td>
        <td class="text-right align-middle">USD {{thousandSeparatorDecimal current_rate_value}}</td>
        <td class="text-right align-middle fw-700 text-success">USD {{thousandSeparatorDecimal actual_price}}</td>
        <td class="text-center align-middle fw-700 text-warning">{{thousandSeparatorDecimal remaining_unit}}</td>
        <td class="text-center align-middle fw-700 text-success">
            {{printUsingMaterial id afe_contract_id unit_usage}}
        </td>
    </tr>
    {{/each}}

</script>

@*<script src="~/Content/js/datagrid/datatables/datatables.bundle.js"></script>*@
<script src="~/Content/plugins/x-editable/js/bootstrap-editable.js"></script>
<script src="~/Areas/Core/Scripts/contract.manageMaterial.js?_@DateTime.Now"></script>
